In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
path = '/content/drive/MyDrive/날씨 빅콘/data/인구수/'

In [ ]:
population = pd.read_csv(path+"연령별인구(지역만).csv",encoding='CP949')

In [ ]:
population.columns

Index(['행정구역', '2012년_계_총인구수', '2012년_계_연령구간인구수', '2012년_계_50~59세',
       '2012년_계_60~69세', '2012년_계_70~79세', '2012년_계_80~89세', '2012년_계_90~99세',
       '2012년_계_100세 이상', '2012년_남_총인구수',
       ...
       '2016년_남_90~99세', '2016년_남_100세 이상', '2016년_여_총인구수', '2016년_여_연령구간인구수',
       '2016년_여_50~59세', '2016년_여_60~69세', '2016년_여_70~79세', '2016년_여_80~89세',
       '2016년_여_90~99세', '2016년_여_100세 이상'],
      dtype='object', length=121)

In [ ]:
population['행정구역'].unique()

array(['전국  (0000000000)', '서울특별시  (1100000000)', '부산광역시  (2600000000)',
       '대구광역시  (2700000000)', '인천광역시  (2800000000)',
       '광주광역시  (2900000000)', '대전광역시  (3000000000)',
       '울산광역시  (3100000000)', '세종특별자치시  (3600000000)',
       '경기도  (4100000000)', '강원도  (4200000000)', '충청북도  (4300000000)',
       '충청남도  (4400000000)', '전라북도  (4500000000)', '전라남도  (4600000000)',
       '경상북도  (4700000000)', '경상남도  (4800000000)',
       '제주특별자치도  (5000000000)'], dtype=object)

In [ ]:
area = {'행정구역' : {'서울특별시  (1100000000)':'서울', '부산광역시  (2600000000)':'부산','대구광역시  (2700000000)':'대구','인천광역시  (2800000000)':'인천',
                   '광주광역시  (2900000000)':'광주','대전광역시  (3000000000)':'대전','울산광역시  (3100000000)':'울산','세종특별자치시  (3600000000)':'세종',
                   '경기도  (4100000000)':'경기','강원도  (4200000000)':'강원','충청북도  (4300000000)':'충북','충청남도  (4400000000)':'충남',
                   '전라북도  (4500000000)':'전북','전라남도  (4600000000)':'전남','경상북도  (4700000000)':'경북','경상남도  (4800000000)':'경남','제주특별자치도  (5000000000)':'제주'}}

population = population.replace(area)

In [ ]:
population = population.drop(0,axis=0)

In [ ]:
population = population[['행정구역','2012년_계_연령구간인구수','2013년_계_연령구간인구수','2014년_계_연령구간인구수','2015년_계_연령구간인구수','2016년_계_연령구간인구수']]

In [ ]:
population

In [ ]:
population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 1 to 17
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             17 non-null     object
 1   2012년_계_연령구간인구수  17 non-null     object
 2   2013년_계_연령구간인구수  17 non-null     object
 3   2014년_계_연령구간인구수  17 non-null     object
 4   2015년_계_연령구간인구수  17 non-null     object
 5   2016년_계_연령구간인구수  17 non-null     object
dtypes: object(6)
memory usage: 952.0+ bytes

In [ ]:
population['2012년_계_연령구간인구수'] = population['2012년_계_연령구간인구수'].str.replace(',', '').astype('int64')
population['2013년_계_연령구간인구수'] = population['2013년_계_연령구간인구수'].str.replace(',', '').astype('int64') 
population['2014년_계_연령구간인구수'] = population['2014년_계_연령구간인구수'].str.replace(',', '').astype('int64') 
population['2015년_계_연령구간인구수'] = population['2015년_계_연령구간인구수'].str.replace(',', '').astype('int64') 
population['2016년_계_연령구간인구수'] = population['2016년_계_연령구간인구수'].str.replace(',', '').astype('int64')

In [ ]:
population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 1 to 17
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             17 non-null     object
 1   2012년_계_연령구간인구수  17 non-null     int64
 2   2013년_계_연령구간인구수  17 non-null     int64
 3   2014년_계_연령구간인구수  17 non-null     int64
 4   2015년_계_연령구간인구수  17 non-null     int64
 5   2016년_계_연령구간인구수  17 non-null     int64
dtypes: int64(5), object(1)
memory usage: 952.0+ bytes

In [ ]:
population = population.rename(columns={'행정구역':'area'})

In [ ]:
pop_2012 = population[['area','2012년_계_연령구간인구수']]
pop_2013 = population[['area','2013년_계_연령구간인구수']]
pop_2014 = population[['area','2014년_계_연령구간인구수']]
pop_2015 = population[['area','2015년_계_연령구간인구수']]
pop_2016 = population[['area','2016년_계_연령구간인구수']]

In [ ]:
pop_2012['year']=2012
pop_2013['year']=2013
pop_2014['year']=2014
pop_2015['year']=2015
pop_2016['year']=2016

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
pop_2012 = pop_2012.rename(columns={'2012년_계_연령구간인구수':'pop_over50'})
pop_2013 = pop_2013.rename(columns={'2013년_계_연령구간인구수':'pop_over50'})
pop_2014 = pop_2014.rename(columns={'2014년_계_연령구간인구수':'pop_over50'})
pop_2015 = pop_2015.rename(columns={'2015년_계_연령구간인구수':'pop_over50'})
pop_2016 = pop_2016.rename(columns={'2016년_계_연령구간인구수':'pop_over50'})

In [ ]:
pop = pd.concat([pop_2012,pop_2013,pop_2014,pop_2015,pop_2016])

In [34]:
pop

   area  pop_over50  year
1    서울     3195857  2012
2    부산     1286027  2012
3    대구      799990  2012
4    인천      827693  2012
5    광주      405323  2012
..  ...         ...   ...
13   전북      759227  2016
14   전남      835129  2016
15   경북     1143625  2016
16   경남     1252263  2016
17   제주      225686  2016

[85 rows x 3 columns]

In [ ]:
train = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train.csv")
test = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/test.csv")

In [ ]:
df = pd.concat([train, test], axis=0, ignore_index=True)
df['yyyymmdd'] = pd.to_datetime(df['yyyymmdd'], format='%Y-%m-%d')

In [ ]:
df['year'] = df['yyyymmdd'].dt.year

In [ ]:
df2 = pd.merge(df, pop, how="left",on=['area', 'year'])
df2

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48,year,pop_over50
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,2012,575828
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,2012,575828
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,2012,3332933
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,2012,3332933
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,0.438426,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139,2012,1089376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62113,2016-12-31,제주,2,NaN,0.073358,0.220075,0.100000,67.536586,10.000000,6.753659,...,8.862359,10.539986,59.382270,66.286702,13.289775,5.029925,2.096283,4.375106,2016,225686
62114,2016-12-31,충남,1,NaN,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,...,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638,2016,800608
62115,2016-12-31,충남,2,NaN,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,...,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638,2016,800608
62116,2016-12-31,충북,1,NaN,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,...,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894,2016,607924
62117,2016-12-31,충북,2,NaN,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,...,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894,2016,607924

In [ ]:
df2 = df2.drop(['year'],axis=1)

In [ ]:
train2 = df2.loc[df2['yyyymmdd'].dt.year!=2016,:]
test2 = df2.loc[df2['yyyymmdd'].dt.year==2016,:]

In [ ]:
test2 = test2.reset_index().drop('index', axis=1)
test2

In [ ]:
test2.drop('frequency', axis=1, inplace=True)
test2

In [ ]:
train2.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_pop.csv', index=False)
test2.to_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/test_pop.csv", index=False)

In [ ]:
test2.isna().sum()

yyyymmdd         0
area             0
sex              0
dd_mes           0
sum_dpth_fhsc    0
dd_mefs          0
ssrate           0
ss_dur           0
sum_ss_hr        0
min_tg           0
avg_pa           0
max_pa           0
min_pa           0
avg_pv           0
max_pv           0
min_pv           0
avg_rhm          0
min_rhm          0
sum_rn           0
sum_rn_dur       0
mi10_max_rn      0
hr1_max_rn       0
hr6_max_rn       0
n9_9_rn          0
avg_ta           0
max_ta           0
min_ta           0
avg_ws           0
max_ws           0
max_ins_ws       0
rainfall_24      0
snow_24          0
temp_24          0
temp_48          0
humid_24         0
humid_48         0
max_temp_24      0
min_temp_24      0
wind_24          0
wind_48          0
pop_over50       0
dtype: int64

In [ ]:
train2['pop_over50'].unique()

In [ ]:
test2['pop_over50'].unique()