In [1]:
import datetime
import requests
import pandas as pd
from bs4 import BeautifulSoup, element
import datetime as dt

In [ ]:
def getHolidayDataFrame(year:int) -> pd.DataFrame:
  url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo'
  api_key_encoded = "lrG3loPJYHu6ZpNEVukd2Up9Vv0j5p04CGeaFy4HnVS8zR5%2BLOiABDFGTGCEy69yoSbo2QKhKuzNUbTRssfnxQ%3D%3D"
  api_key_decoded = requests.utils.unquote(api_key_encoded,encoding="utf-8")

  params = {
      "ServiceKey" : api_key_decoded,
      "solYear" : year,
      "numOfRows" : 100
  }

  weekday_name = ["월", "화", "수", "목", "금", "토", "일"]

  response = requests.get(url, params=params)
  xml = BeautifulSoup(response.text, "lxml")

  def parseItem(item : element.Tag) -> dict:
    dt = datetime.datetime.strptime(item.find("locdate").text.strip(),"%Y%m%d")
    item_dict = {
        "yyyymmdd" : dt,
        "이름" : item.find("datename").text.strip(),
        "요일" : weekday_name[dt.weekday()]
    }
    return item_dict

  item_list = [parseItem(x) for x in xml.find("items")]
  return pd.DataFrame(item_list)



df_holiday_2012 = getHolidayDataFrame(2012)
df_holiday_2013 = getHolidayDataFrame(2013)
df_holiday_2014 = getHolidayDataFrame(2014)
df_holiday_2015 = getHolidayDataFrame(2015)
df_holiday_2016 = getHolidayDataFrame(2016)

In [ ]:
df_holiday_2012['isholiday'] = '1'

In [ ]:
df_holiday_2012

     yyyymmdd       이름 요일 isholiday
0  2012-01-01       신정  일         1
1  2012-01-22       설날  일         1
2  2012-01-23       설날  월         1
3  2012-01-24       설날  화         1
4  2012-03-01      삼일절  목         1
5  2012-04-11  국회의원선거일  수         1
6  2012-05-05     어린이날  토         1
7  2012-05-28    석가탄신일  월         1
8  2012-06-06      현충일  수         1
9  2012-08-15      광복절  수         1
10 2012-09-29       추석  토         1
11 2012-09-30       추석  일         1
12 2012-10-01       추석  월         1
13 2012-10-03      개천절  수         1
14 2012-12-19   대통령선거일  수         1
15 2012-12-25    기독탄신일  화         1

In [ ]:
df_holiday_2013['isholiday'] = '1'
df_holiday_2014['isholiday'] = '1'
df_holiday_2015['isholiday'] = '1'
df_holiday_2016['isholiday'] = '1'

In [ ]:
df_holiday_2013

     yyyymmdd     이름 요일 isholiday
0  2013-01-01     신정  화         1
1  2013-02-09     설날  토         1
2  2013-02-10     설날  일         1
3  2013-02-11     설날  월         1
4  2013-03-01    삼일절  금         1
5  2013-05-05  어린이 날  일         1
6  2013-05-17  석가탄신일  금         1
7  2013-06-06    현충일  목         1
8  2013-08-15    광복절  목         1
9  2013-09-18     추석  수         1
10 2013-09-19     추석  목         1
11 2013-09-20     추석  금         1
12 2013-10-03    개천절  목         1
13 2013-12-25  기독탄신일  수         1

In [ ]:
df_holiday_2014

     yyyymmdd       이름 요일 isholiday
0  2014-01-01       신정  수         1
1  2014-01-30       설날  목         1
2  2014-01-31       설날  금         1
3  2014-02-01       설날  토         1
4  2014-03-01      삼일절  토         1
5  2014-05-05     어린이날  월         1
6  2014-05-06    석가탄신일  화         1
7  2014-06-04  동시지방선거일  수         1
8  2014-06-06      현충일  금         1
9  2014-08-15      광복절  금         1
10 2014-09-07       추석  일         1
11 2014-09-08       추석  월         1
12 2014-09-09       추석  화         1
13 2014-09-10    대체공휴일  수         1
14 2014-10-03      개천절  금         1
15 2014-10-09      한글날  목         1
16 2014-12-25    기독탄신일  목         1

In [ ]:
df_holiday_2015

     yyyymmdd     이름 요일  isholiday
0  2015-01-01     신정  목          1
1  2015-02-18     설날  수          1
2  2015-02-19     설날  목          1
3  2015-02-20     설날  금          1
4  2015-03-01    삼일절  일          1
5  2015-05-05   어린이날  화          1
6  2015-05-25  석가탄신일  월          1
7  2015-06-06    현충일  토          1
8  2015-08-15    광복절  토          1
9  2015-09-26     추석  토          1
10 2015-09-27     추석  일          1
11 2015-09-28     추석  월          1
12 2015-09-29  대체공휴일  화          1
13 2015-10-03    개천절  토          1
14 2015-10-09    한글날  금          1
15 2015-12-25  기독탄신일  금          1

In [ ]:
import numpy as np
import h5py
import pickle

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0804/train_0804_3.csv')

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0804/test_0804_3.csv')

In [ ]:
train['yyyymmdd'] = pd.to_datetime(train['yyyymmdd'],format="%Y-%m-%d")
test['yyyymmdd'] = pd.to_datetime(test['yyyymmdd'],format="%Y-%m-%d")

In [ ]:
#weather['month'] = weather['yyyymmdd'].dt.month
#weather['day'] = weather['yyyymmdd'].dt.day
#weather['요일'] = weather['yyyymmdd'].dt.weekday

In [ ]:
#train.loc[train['요일'] == 'Mon', '요일'] = '월'
#train.loc[train['요일'] == 'Tue', '요일'] = '화'
#train.loc[train['요일'] == 'Wed', '요일'] = '수'
#train.loc[train['요일'] == 'Thu', '요일'] = '목'
#train.loc[train['요일'] == 'Fri', '요일'] = '금'
#train.loc[train['요일'] == 'Sat', '요일'] = '토'
#train.loc[train['요일'] == 'Sun', '요일'] = '일'

#test.loc[test['요일'] == 'Mon', '요일'] = '월'
#test.loc[test['요일'] == 'Tue', '요일'] = '화'
#test.loc[test['요일'] == 'Wed', '요일'] = '수'
#test.loc[test['요일'] == 'Thu', '요일'] = '목'
#test.loc[test['요일'] == 'Fri', '요일'] = '금'
#test.loc[test['요일'] == 'Sat', '요일'] = '토'
#test.loc[test['요일'] == 'Sun', '요일'] = '일'

In [ ]:
#conditionlist = [
#    (weather['month'] >= 3) & (weather['month'] <= 5),
#    (weather['month'] >= 6) & (weather['month'] <= 8),
#    (weather['month'] >= 9) & (weather['month'] <= 11),
#    (weather['month'] == 12) | (weather['month'] <= 2)]
#choicelist = ['spring', 'summer', 'fall', 'winter']

#weather['season'] = np.select(conditionlist, choicelist, default='NOT')

In [ ]:
#weather['season'].value_counts()

In [ ]:
holiday = pd.concat([df_holiday_2012,df_holiday_2013,df_holiday_2014,df_holiday_2015],axis=0)

In [ ]:
holiday

     yyyymmdd     이름 요일 isholiday
0  2012-01-01     신정  일         1
1  2012-01-22     설날  일         1
2  2012-01-23     설날  월         1
3  2012-01-24     설날  화         1
4  2012-03-01    삼일절  목         1
..        ...    ... ..       ...
11 2015-09-28     추석  월         1
12 2015-09-29  대체공휴일  화         1
13 2015-10-03    개천절  토         1
14 2015-10-09    한글날  금         1
15 2015-12-25  기독탄신일  금         1

[63 rows x 4 columns]

In [ ]:
holiday = holiday[['yyyymmdd','isholiday']]

In [ ]:
holiday

     yyyymmdd isholiday
0  2012-01-01         1
1  2012-01-22         1
2  2012-01-23         1
3  2012-01-24         1
4  2012-03-01         1
..        ...       ...
11 2015-09-28         1
12 2015-09-29         1
13 2015-10-03         1
14 2015-10-09         1
15 2015-12-25         1

[63 rows x 2 columns]

In [ ]:
df_holiday_2016 = df_holiday_2016[['yyyymmdd','isholiday']]
df_holiday_2016

     yyyymmdd isholiday
0  2016-01-01         1
1  2016-02-07         1
2  2016-02-08         1
3  2016-02-09         1
4  2016-02-10         1
5  2016-03-01         1
6  2016-04-13         1
7  2016-05-05         1
8  2016-05-14         1
9  2016-06-06         1
10 2016-08-15         1
11 2016-09-14         1
12 2016-09-15         1
13 2016-09-16         1
14 2016-10-03         1
15 2016-10-09         1
16 2016-12-25         1

In [ ]:
train = pd.merge(train,holiday,how='outer',on='yyyymmdd')

In [ ]:
test = pd.merge(test,df_holiday_2016,how='outer',on='yyyymmdd')

In [ ]:
train.head()

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,D02_range_48_lag13,D02_range_48_lag14,D02_range_48_lag15,D02_range_48_lag16,D02_range_48_lag17,D02_range_48_lag18,D02_range_48_lag19,D02_range_48_lag20,D02_range_48_lag21,isholiday
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
test.head()

,yyyymmdd,area,sex,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,...,D02_range_48_lag13,D02_range_48_lag14,D02_range_48_lag15,D02_range_48_lag16,D02_range_48_lag17,D02_range_48_lag18,D02_range_48_lag19,D02_range_48_lag20,D02_range_48_lag21,isholiday
0,2016-01-01,강원,1,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,0.097641,0.137631,0.030202,0.325476,0.068031,0.340134,0.0,0.015507,0.076437,1
1,2016-01-01,강원,2,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,0.097641,0.137631,0.030202,0.325476,0.068031,0.340134,0.0,0.015507,0.076437,1
2,2016-01-01,경기,1,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,0.001525,0.002032,0.000000,0.006301,0.000000,0.000000,0.0,0.000872,0.299128,1
3,2016-01-01,경기,2,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,0.001525,0.002032,0.000000,0.006301,0.000000,0.000000,0.0,0.000872,0.299128,1
4,2016-01-01,경남,1,0.415067,0.216473,0.155119,86.066663,9.814577,8.444625,-6.450657,...,0.123039,0.015343,0.038163,0.138725,0.407943,0.003855,0.0,0.068875,0.280126,1

In [ ]:
train.loc[train['요일'] == 'Sun', 'isholiday'] = '1'
test.loc[test['요일'] == 'Sun', 'isholiday'] = '1'

In [ ]:
train['isholiday'].value_counts()

1    8976
Name: isholiday, dtype: int64

In [ ]:
test['isholiday'].value_counts()

1    2244
Name: isholiday, dtype: int64

In [ ]:
train['isholiday'] = train['isholiday'].fillna('0')
test['isholiday'] = test['isholiday'].fillna('0')

In [ ]:
train

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,D02_range_48_lag13,D02_range_48_lag14,D02_range_48_lag15,D02_range_48_lag16,D02_range_48_lag17,D02_range_48_lag18,D02_range_48_lag19,D02_range_48_lag20,D02_range_48_lag21,isholiday
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49669,2015-12-31,제주,2,0.0,0.000000,0.073651,0.073651,21.497924,10.000000,2.149792,...,0.121809,0.239238,0.000000,0.773397,0.000000,0.074888,0.0,0.000000,0.010698,0
49670,2015-12-31,충남,1,0.0,3.934709,4.513302,2.407094,43.751718,9.700000,4.243251,...,0.000000,0.000000,0.015889,0.000000,0.015731,0.000000,0.0,0.051430,0.055275,0
49671,2015-12-31,충남,2,0.0,3.934709,4.513302,2.407094,43.751718,9.700000,4.243251,...,0.000000,0.000000,0.015889,0.000000,0.015731,0.000000,0.0,0.051430,0.055275,0
49672,2015-12-31,충북,1,1.0,0.223330,0.000000,0.000000,35.498045,9.688751,3.439649,...,0.087184,0.012240,0.033560,0.052224,0.016014,0.000000,0.0,0.171875,0.115532,0
49673,2015-12-31,충북,2,0.0,0.223330,0.000000,0.000000,35.498045,9.688751,3.439649,...,0.087184,0.012240,0.033560,0.052224,0.016014,0.000000,0.0,0.171875,0.115532,0

In [ ]:
test

In [ ]:
train['isholiday'].value_counts()

0    40698
1     8976
Name: isholiday, dtype: int64

In [ ]:
test['isholiday'].value_counts()

0    10200
1     2244
Name: isholiday, dtype: int64

In [ ]:
train.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0804/train_0804_isholiday.csv',index=False)

In [ ]:
test.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0804/test_0804_isholiday.csv',index=False)

# year 변수 추가

In [3]:
train = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0804/train_0804_isholiday.csv')

In [4]:
test = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0804/test_0804_isholiday.csv')

In [5]:
train['yyyymmdd'] = pd.to_datetime(train['yyyymmdd'],format="%Y-%m-%d")
test['yyyymmdd'] = pd.to_datetime(test['yyyymmdd'],format="%Y-%m-%d")

In [6]:
train['year'] = train['yyyymmdd'].dt.year
test['year'] = test['yyyymmdd'].dt.year

In [10]:
train = train.astype({'year':'int'})
test = test.astype({'year':'int'})

In [11]:
train.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0806/train_0806.csv',index=False)

In [12]:
test.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0806/test_0806.csv',index=False)