In [ ]:
# 구글 드라이브 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import pandas as pd
import numpy as np

## 코드

In [ ]:
smoke = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/건강데이터/지역별_성별_흡연.csv", encoding = 'cp949' )

In [ ]:
smoke2 = smoke.loc[((smoke['성별(1)'] == '남자') | (smoke['성별(1)'] == '여자')) & (smoke['시도별(1)']!="계"),:]
smoke_sex = smoke2.iloc[:,0:2]
smoke_sex.columns = ['area', 'sex']

smoke2012 = smoke2.loc[:,smoke2.columns.str.startswith("2012.")]
smoke2013 = smoke2.loc[:,smoke2.columns.str.startswith("2013.")]
smoke2014 = smoke2.loc[:,smoke2.columns.str.startswith("2014.")]
smoke2015 = smoke2.loc[:,smoke2.columns.str.startswith("2015.")]
smoke2016 = smoke2.loc[:,smoke2.columns.str.startswith("2016.")]

smoke2012_1 = smoke2012[['2012.4', '2012.7','2012.8']]
smoke2013_1 = smoke2013[['2013.4', '2013.7','2013.8']]
smoke2014_1 = smoke2014[['2014.4', '2014.7','2014.8']]
smoke2015_1 = smoke2015[['2015.4', '2015.7','2015.8']]
smoke2016_1 = smoke2016[['2016.4', '2016.7','2016.8']]

smoke2012_1.columns = ['smoking','day_mean_smoke1','day_mean_smoke2'] # 현재 흡연자, 하루평균 한갑 이상 두 갑 미만, 두갑 이상
smoke2013_1.columns = ['smoking','day_mean_smoke1','day_mean_smoke2']
smoke2014_1.columns = ['smoking','day_mean_smoke1','day_mean_smoke2']
smoke2015_1.columns = ['smoking','day_mean_smoke1','day_mean_smoke2']
smoke2016_1.columns = ['smoking','day_mean_smoke1','day_mean_smoke2']

smoke2012_1['year'] = 2012
smoke2013_1['year'] = 2013
smoke2014_1['year'] = 2014 
smoke2015_1['year'] = 2015 
smoke2016_1['year'] = 2016

smoke2012_2 = pd.concat([smoke_sex,smoke2012_1], axis=1)
smoke2013_2 = pd.concat([smoke_sex,smoke2013_1], axis=1)
smoke2014_2 = pd.concat([smoke_sex,smoke2014_1], axis=1)
smoke2015_2 = pd.concat([smoke_sex,smoke2015_1], axis=1)
smoke2016_2 = pd.concat([smoke_sex,smoke2016_1], axis=1)

df = pd.concat([smoke2012_2, smoke2013_2])
df1 = pd.concat([df, smoke2014_2])
df2 = pd.concat([df1, smoke2015_2])
df3 = pd.concat([df2, smoke2016_2])

df3_2 = df3.copy()
df3_2.iloc[15,4] = 0  # 결측치 채우기

df3_2['smoking'] = df3_2['smoking'].astype(int)
df3_2['day_mean_smoke1'] = df3_2['day_mean_smoke1'].astype(int)
df3_2['day_mean_smoke2'] = df3_2['day_mean_smoke2'].astype(int)
df3_2['day_mean_smoke_over1'] = df3_2['day_mean_smoke1'] + df3_2['day_mean_smoke2']
df3_2 = df3_2.drop(['day_mean_smoke1', 'day_mean_smoke2'], axis=1)
df3_2 = df3_2.reset_index(drop=True)

In [ ]:
df3_2.to_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/흡연.csv', index=False)

## 데이터 확인

In [ ]:
smoke.head(10)

,시도별(1),성별(1),2012,2012.1,2012.2,2012.3,2012.4,2012.5,2012.6,2012.7,...,2015.8,2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8
0,시도별(1),성별(1),평생 총 5갑이상 담배 흡연 여부,평생 총 5갑이상 담배 흡연 여부,평생 총 5갑이상 담배 흡연 여부,평생 총 5갑이상 담배 흡연 여부,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량,...,현재 흡연자 하루 평균 흡연량,평생 총 5갑이상 담배 흡연 여부,평생 총 5갑이상 담배 흡연 여부,평생 총 5갑이상 담배 흡연 여부,평생 총 5갑이상 담배 흡연 여부,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량,현재 흡연자 하루 평균 흡연량
1,시도별(1),성별(1),소계,비흡연,현재금연,현재흡연,소계,반갑 미만,반갑-한갑 미만,한갑-두갑 미만,...,두갑 이상,소계,비흡연,현재금연,현재흡연,소계,반갑 미만,반갑-한갑 미만,한갑-두갑 미만,두갑 이상
2,계,합계,11411701,6790134,1802766,2818801,2815105,361331,1277911,1132313,...,34172,14544391,8809209,2519137,3216045,3214416,488071,1568524,1122850,34971
3,계,남자,6274307,1914849,1711804,2647654,2644533,285189,1206463,1110143,...,33455,7777077,2418967,2369523,2988587,2987233,382356,1472343,1098361,34173
4,계,여자,5137394,4875285,90962,171147,170572,76142,71448,22170,...,717,6767314,6390242,149614,227458,227183,105715,96181,24489,798
5,서울,합계,2073687,1276584,341242,455861,454701,71551,208916,168488,...,4338,2618714,1635532,464816,518366,517812,97698,253661,162072,4381
6,서울,남자,1066837,334007,316085,416745,415792,52642,193360,164213,...,4189,1303775,413076,424133,466566,466116,71030,233116,157729,4241
7,서울,여자,1006850,942577,25157,39116,38909,18909,15556,4275,...,149,1314939,1222456,40683,51800,51696,26668,20545,4343,140
8,부산,합계,822227,494908,128447,198872,198791,24409,89896,81243,...,2677,1010277,616371,173945,219961,219948,31285,108324,77828,2511
9,부산,남자,439773,129472,122742,187559,187484,19519,85128,79641,...,2636,530660,159227,165331,206102,206092,25030,102427,76181,2454

In [ ]:
smoke2016.head()

     2016.1  2016.2  2016.3  2016.4 2016.5  2016.6  2016.7 2016.8
6    413076  424133  466566  466116  71030  233116  157729   4241
7   1222456   40683   51800   51696  26668   20545    4343    140
9    159227  165331  206102  206092  25030  102427   76181   2454
10   457144    8614   13859   13856   6255    5897    1647     57
12   108763  110595  144757  144671  17322   68493   57028   1828

In [ ]:
smoke2012_1.head()

   smoking day_mean_smoke1 day_mean_smoke2  year
6   415792          164213            5577  2012
7    38909            4275             169  2012
9   187484           79641            3196  2012
10   11307            1602              47  2012
12  130185           57482            2276  2012

In [ ]:
df3['day_mean_smoke2'].unique()

array(['5577', '169', '3196', '47', '2276', '48', '2297', '41', '1040',
       '11', '1112', '25', '948', '9', '126', '-', '9070', '183', '1566',
       '30', '1558', '27', '2320', '43', '1922', '19', '2368', '17',
       '3061', '59', '3604', '71', '697', '13', '5265', '135', '3086',
       '55', '2177', '28', '2157', '46', '1047', '16', '1009', '18',
       '807', '21', '125', '2', '8071', '158', '1295', '26', '1390', '37',
       '2041', '1788', '2040', '10', '2605', '52', '3334', '636', '4910',
       '2844', '64', '2027', '1983', '34', '945', '964', '805', '115',
       '8118', '171', '1462', '31', '1399', '1973', '1795', '2064',
       '2686', '3275', '667', '14', '4189', '149', '2636', '1737', '33',
       '1872', '54', '899', '870', '20', '693', '105', '7035', '163',
       '1168', '1239', '1735', '40', '1526', '1837', '2351', '42', '2960',
       '50', '603', '4241', '140', '2454', '57', '1828', '38', '2006',
       '44', '873', '12', '861', '29', '804', '1', '7402', '231', '1200',
       '1267', '1798', '1525', '1891', '2347', '2855', '56', '686'],
      dtype=object)

In [ ]:
df3.iloc[15,]

area                 세종
sex                  여자
smoking             389
day_mean_smoke1      69
day_mean_smoke2       -
year               2012
Name: 28, dtype: object

In [ ]:
df3[(df3['area']=="세종") & (df3['sex']=="여자")]

   area sex smoking day_mean_smoke1 day_mean_smoke2  year
28   세종  여자     389              69               -  2012
28   세종  여자     375              48               2  2013
28   세종  여자     364              50               2  2014
28   세종  여자     451              58               2  2015
28   세종  여자     624              66               1  2016

In [ ]:
df3_2

    area sex  smoking  year  day_mean_smoke_over1
0     서울  남자   415792  2012                169790
1     서울  여자    38909  2012                  4444
2     부산  남자   187484  2012                 82837
3     부산  여자    11307  2012                  1649
4     대구  남자   130185  2012                 59758
..   ...  ..      ...   ...                   ...
165   경북  여자     9502  2016                  1381
166   경남  남자   223901  2016                 89165
167   경남  여자    10738  2016                  1506
168   제주  남자    31265  2016                 14732
169   제주  여자     3159  2016                   514

[170 rows x 5 columns]

In [ ]:
df3_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   area                  170 non-null    object
 1   sex                   170 non-null    object
 2   smoking               170 non-null    int64
 3   year                  170 non-null    int64
 4   day_mean_smoke_over1  170 non-null    int64
dtypes: int64(3), object(2)
memory usage: 6.8+ KB