In [347]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [348]:
import os
import numpy as np
import pandas as pd
import datetime as dt

응급의료기관 및 응급의료기관 외 의료기관 현황

In [349]:
dat1= pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/응급의료기관 및 응급의료기관외응급실/12-13 응급의료기관_및_응급의료기관_외_의료기관_현황_20220728161930.csv',encoding='cp949')
dat2= pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/응급의료기관 및 응급의료기관외응급실/14-16 응급의료기관_및_응급의료기관_외_응급실_운영기관_수_시도별__20220728161638.csv',encoding='cp949')

In [350]:
dat2.rename(columns={'지역별(1)':'지역별'},inplace=True)
dat2.rename(columns={'응급의료기관외 응급실 운영기관':'응급의료기관 외 의료기관'},inplace=True)
dat2.iloc[0,1] = '계'

In [351]:
dat1.loc[dat1['지역별']=='계']

      시점 지역별    계  권역응급의료센터 전문응급의료센터  지역응급의료센터  지역응급의료기관 응급의료기관 외 의료기관
0   2012   계  562        21        2       113       304           122
17  2013   계  554        20        2       119       293           120

In [352]:
dat2.loc[dat2['지역별']=='계']

     시점 지역별    계 권역응급의료센터 전문응급의료센터 지역응급의료센터 지역응급의료기관 응급의료기관 외 의료기관
0  2014   계  550       20        2      121      281           126

In [353]:
dat1 = dat1.drop([0,17])
dat2 = dat2.drop(0)

In [354]:
dat1.head()

     시점 지역별   계  권역응급의료센터 전문응급의료센터  지역응급의료센터  지역응급의료기관 응급의료기관 외 의료기관
1  2012  서울  64         2        1        27        23            11
2  2012  부산  41         1        -         7        26             7
3  2012  대구  26         1        -         4         8            13
4  2012  인천  22         1        -         6        10             5
5  2012  광주  27         1        1         2        19             4

In [355]:
dat1.loc[dat1['지역별']=='세종']

Empty DataFrame
Columns: [시점, 지역별, 계, 권역응급의료센터, 전문응급의료센터, 지역응급의료센터, 지역응급의료기관, 응급의료기관 외 의료기관]
Index: []

In [356]:
dat2.head()

     시점 지역별   계 권역응급의료센터 전문응급의료센터 지역응급의료센터 지역응급의료기관 응급의료기관 외 의료기관
1  2014  서울  70        1        1       28       24            16
2  2014  부산  39        1        -        7       23             8
3  2014  대구  28        1        -        4        8            15
4  2014  인천  21        1        -        6       13             1
5  2014  광주  23        1        1        4       15             2

In [357]:
dat=pd.concat([dat1,dat2])

In [358]:
dat.head()

     시점 지역별   계 권역응급의료센터 전문응급의료센터 지역응급의료센터 지역응급의료기관 응급의료기관 외 의료기관
1  2012  서울  64        2        1       27       23            11
2  2012  부산  41        1        -        7       26             7
3  2012  대구  26        1        -        4        8            13
4  2012  인천  22        1        -        6       10             5
5  2012  광주  27        1        1        2       19             4

In [359]:
dat['지역별'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주', '세종', '전체'], dtype=object)

In [360]:
dat = dat[['지역별','계','시점']]
dat.rename(columns={'지역별':'area'},inplace=True)
dat.rename(columns={'계':'응급기관'},inplace=True)
dat.rename(columns={'시점':'year'},inplace=True)

In [361]:
dat.head()

  area  응급기관  year
1   서울    64  2012
2   부산    41  2012
3   대구    26  2012
4   인천    22  2012
5   광주    27  2012

In [362]:
dd=dat.loc[dat['area']!='전체']
dd.area.unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주', '세종'], dtype=object)

In [363]:
dd.to_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/응급기관.csv',index=False)

급성심장정지조사

In [364]:
dat=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/급성심정지/12-19 지역,성별별 급성심정지 전체_발생건수_20220728162147.csv',encoding='cp949')

In [365]:
dat.rename(columns={'시도별(1)':'area'},inplace=True)
dat.rename(columns={'성별 및 연령별(2)':'sex'},inplace=True)
dat.rename(columns={'발생건수 (건)':'심정지'},inplace=True)
dat.rename(columns={'시점':'year'},inplace=True)
dat.head()

   year area 성별 및 연령별(1)   sex    심정지 분율 (%)
0  2012   전국          전체    소계  27823  100.0
1  2012   전국          성별    남자  17851   64.2
2  2012   전국          성별    여자   9930   35.7
3  2012   전국          성별    미상     42    0.2
4  2012   전국          나이  0~9세    530    1.9

In [366]:
condition = (dat.area!='전국') & ((dat.sex=='여자') |(dat.sex=='남자') )
dat = dat[condition][['year','area','sex','심정지']]
dat

      year area sex   심정지
15    2012   서울  남자  2682
16    2012   서울  여자  1497
29    2012   부산  남자  1153
30    2012   부산  여자   649
43    2012   대구  남자   757
...    ...  ...  ..   ...
1220  2016   경북  여자   764
1233  2016   경남  남자  1308
1234  2016   경남  여자   760
1247  2016   제주  남자   356
1248  2016   제주  여자   276

[170 rows x 4 columns]

In [367]:
dat.loc[dat['sex'] == '남자', 'sex'] = 1
dat.loc[dat['sex'] == '여자', 'sex'] = 2
dat

      year area sex   심정지
15    2012   서울   1  2682
16    2012   서울   2  1497
29    2012   부산   1  1153
30    2012   부산   2   649
43    2012   대구   1   757
...    ...  ...  ..   ...
1220  2016   경북   2   764
1233  2016   경남   1  1308
1234  2016   경남   2   760
1247  2016   제주   1   356
1248  2016   제주   2   276

[170 rows x 4 columns]

In [368]:
dat.to_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/심정지.csv',index=False)

train/test에 붙이기 (심정지, 응급실)

In [369]:
heart=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/심정지.csv')
disease=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/질환력.csv')
smoke=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/흡연.csv')

In [370]:
heart.head()

   year area  sex   심정지
0  2012   서울    1  2682
1  2012   서울    2  1497
2  2012   부산    1  1153
3  2012   부산    2   649
4  2012   대구    1   757

In [371]:
disease.head()

,area,sex,year,뇌졸중_진단,심장병_진단,고혈압_진단,이상지질혈증_진단,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력
0,서울,1,2012,8684,21890,190481,32579,7031,19155,176360,24747,71102,42143,138416
1,서울,2,2012,6296,15804,166721,47090,5028,13510,158994,41062,71245,46530,169752
2,부산,1,2012,3453,9924,73022,9138,2911,9041,68459,6787,25782,14886,41348
3,부산,2,2012,2333,9005,65181,13507,1920,8261,62971,11544,23549,14766,50259
4,대구,1,2012,2659,5338,47126,6986,2265,4799,43635,4949,19172,9982,32811

In [372]:
smoke.loc[smoke['sex'] == '남자', 'sex'] = 1
smoke.loc[smoke['sex'] == '여자', 'sex'] = 2
smoke
smoke.head()

  area sex  smoking  day_mean_smoke1  day_mean_smoke2  year
0   서울   1   416745           164213           5577.0  2012
1   서울   2    39116             4275            169.0  2012
2   부산   1   187559            79641           3196.0  2012
3   부산   2    11313             1602             47.0  2012
4   대구   1   130264            57482           2276.0  2012

In [422]:
train = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0728/train_0728.csv')

In [423]:
train['year']=pd.to_numeric(train['yyyymmdd'].str[0:4])

In [424]:
train['year']

0        2012
1        2012
2        2012
3        2012
4        2012
         ...
49669    2015
49670    2015
49671    2015
49672    2015
49673    2015
Name: year, Length: 49674, dtype: int64

In [425]:
train.head()

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,temp_48_shift,humid_24_shift,humid_48_shift,max_temp_24_shift,min_temp_24_shift,wind_24_shift,wind_48_shift,pop_over50,num_back,year
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,575828,0,2012
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,575828,0,2012
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,3332933,1,2012
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,3332933,1,2012
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139,1089376,1,2012

# train

heart disease smoke

In [428]:
train.head()

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,temp_48_shift,humid_24_shift,humid_48_shift,max_temp_24_shift,min_temp_24_shift,wind_24_shift,wind_48_shift,pop_over50,num_back,year
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,575828,0,2012
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,575828,0,2012
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,3332933,1,2012
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,3332933,1,2012
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139,1089376,1,2012

In [430]:
merged2 = pd.merge(train, heart, how='left',on=['year','area','sex'])
merged3 = pd.merge(merged2, disease, how='left',on=['year','area','sex'])
merged4 = pd.merge(merged3, smoke, how='left',on=['year','area','sex'])
merged4

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력,smoking,day_mean_smoke1,day_mean_smoke2
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,1432,4145,37595,3436,11696,5522,22179,86866,37878,1566.0
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,1135,3921,37876,6337,10338,4758,23802,4812,732,30.0
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,8446,21502,209877,25150,90075,52590,178493,632641,260886,9070.0
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,5947,15546,182918,35864,76109,46451,177494,46263,5653,183.0
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,2789,6884,56267,5476,24870,13712,42061,206829,90091,3604.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49669,2015-12-31,제주,2,0.0,0.000000,0.073651,0.073651,21.497924,10.000000,2.149792,...,530,1356,11518,3327,3464,2797,10373,2703,416,16.0
49670,2015-12-31,충남,1,0.0,3.934709,4.513302,2.407094,43.751718,9.700000,4.243251,...,2521,7153,56456,10151,18000,11254,43864,127329,49498,1735.0
49671,2015-12-31,충남,2,0.0,3.934709,4.513302,2.407094,43.751718,9.700000,4.243251,...,2104,6099,56763,15824,15128,8907,41242,7960,1039,40.0
49672,2015-12-31,충북,1,1.0,0.223330,0.000000,0.000000,35.498045,9.688751,3.439649,...,1791,5366,42260,6763,15487,8570,30296,102829,38222,1239.0
49673,2015-12-31,충북,2,0.0,0.223330,0.000000,0.000000,35.498045,9.688751,3.439649,...,1386,4355,42507,10550,13343,7568,31309,7035,820,17.0

In [431]:
merged4.isna().sum().sum()

0

In [401]:
merged4.shape

(49674, 170)

In [433]:
merged4.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0728/train_파변추가.csv',index=False)

#test

In [432]:
#test
test = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0728/test_0728.csv')
test

,yyyymmdd,area,sex,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,...,temp_24_shift,temp_48_shift,humid_24_shift,humid_48_shift,max_temp_24_shift,min_temp_24_shift,wind_24_shift,wind_48_shift,pop_over50,num_back
0,2016-01-01,강원,1,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,1.571064,1.437005,61.707931,56.366661,8.968380,-2.845703,3.039715,3.184045,649376,0
1,2016-01-01,강원,2,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,1.571064,1.437005,61.707931,56.366661,8.968380,-2.845703,3.039715,3.184045,649376,0
2,2016-01-01,경기,1,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,0.060822,0.075284,72.171604,71.144046,9.806063,-5.430368,1.608836,1.595446,4070429,1
3,2016-01-01,경기,2,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,0.060822,0.075284,72.171604,71.144046,9.806063,-5.430368,1.608836,1.595446,4070429,1
4,2016-01-01,경남,1,0.415067,0.216473,0.155119,86.066663,9.814577,8.444625,-6.450657,...,3.483573,3.281614,54.444665,47.350513,14.460309,-2.152558,1.398506,1.484095,1252263,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12439,2016-12-31,제주,2,0.073358,0.220075,0.100000,67.536586,10.000000,6.753659,1.447092,...,7.132458,7.167472,60.849202,58.481942,13.313133,3.243246,3.710753,4.118832,225686,0
12440,2016-12-31,충남,1,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,-5.365824,...,1.286278,1.147528,75.095570,75.003722,9.680296,-2.547904,1.224382,1.589341,800608,0
12441,2016-12-31,충남,2,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,-5.365824,...,1.286278,1.147528,75.095570,75.003722,9.680296,-2.547904,1.224382,1.589341,800608,0
12442,2016-12-31,충북,1,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,-7.126462,...,-0.160768,-0.078596,74.498600,72.320452,8.923348,-4.164205,1.359781,1.365425,607924,0
12443,2016-12-31,충북,2,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,-7.126462,...,-0.160768,-0.078596,74.498600,72.320452,8.923348,-4.164205,1.359781,1.365425,607924,0

In [434]:
test['year']=pd.to_numeric(test['yyyymmdd'].str[0:4])

In [435]:

merged2 = pd.merge(test, heart, how='left',on=['year','area','sex'])
merged3 = pd.merge(merged2, disease, how='left',on=['year','area','sex'])
merged4 = pd.merge(merged3, smoke, how='left',on=['year','area','sex'])
merged4

,yyyymmdd,area,sex,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,...,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력,smoking,day_mean_smoke1,day_mean_smoke2
0,2016-01-01,강원,1,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,2151,6583,52127,9121,14287,7722,31099,95349,36253,1200.0
1,2016-01-01,강원,2,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,1571,5149,49827,15369,13425,7290,34145,6318,795,20.0
2,2016-01-01,경기,1,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,12187,34825,320595,70860,114192,75843,262945,752923,269648,7402.0
3,2016-01-01,경기,2,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,8042,21768,261275,96956,105693,72481,284696,65555,6525,231.0
4,2016-01-01,경남,1,0.415067,0.216473,0.155119,86.066663,9.814577,8.444625,-6.450657,...,4059,10755,80255,14161,29888,18452,59062,223923,86310,2855.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12439,2016-12-31,제주,2,0.073358,0.220075,0.100000,67.536586,10.000000,6.753659,1.447092,...,523,1375,12109,4298,3777,3089,11457,3160,496,18.0
12440,2016-12-31,충남,1,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,-5.365824,...,2686,7616,60880,12735,18497,11781,47465,132211,50731,1798.0
12441,2016-12-31,충남,2,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,-5.365824,...,2218,6647,60150,19869,15773,9550,45640,8751,1173,37.0
12442,2016-12-31,충북,1,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,-7.126462,...,2123,6038,45834,8787,15834,9244,32417,108399,39958,1267.0
12443,2016-12-31,충북,2,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,-7.126462,...,1550,4734,45909,13832,14251,8167,34157,7807,956,28.0

In [436]:
merged4.isna().sum().sum()

0

In [437]:
merged4.head()

,yyyymmdd,area,sex,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,...,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력,smoking,day_mean_smoke1,day_mean_smoke2
0,2016-01-01,강원,1,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,2151,6583,52127,9121,14287,7722,31099,95349,36253,1200.0
1,2016-01-01,강원,2,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,1571,5149,49827,15369,13425,7290,34145,6318,795,20.0
2,2016-01-01,경기,1,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,12187,34825,320595,70860,114192,75843,262945,752923,269648,7402.0
3,2016-01-01,경기,2,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,8042,21768,261275,96956,105693,72481,284696,65555,6525,231.0
4,2016-01-01,경남,1,0.415067,0.216473,0.155119,86.066663,9.814577,8.444625,-6.450657,...,4059,10755,80255,14161,29888,18452,59062,223923,86310,2855.0

In [438]:
merged4.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0728/test_파변추가.csv',index=False)