In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
# 관측 full data
fulldata = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/full_가중치완료.csv')

# 인구수 data
airdata = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/air_가중치완료.csv')

In [ ]:
fulldata.head()

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,mi10_max_rn,hr1_max_rn,hr6_max_rn,n9_9_rn,avg_ta,max_ta,min_ta,avg_ws,max_ws,max_ins_ws
0,강원,2011-01-01,7.850279,4.969315,2.892098,49.720459,9.632331,4.796755,-14.659467,1005.628270,...,0.125700,0.315722,2.022068,1.052561,-5.823342,-0.063789,-12.208051,1.547175,3.261601,6.299315
1,강원,2011-01-02,7.931251,0.181203,2.391485,65.170244,9.635492,6.281668,-11.452727,1010.697746,...,1.091020,1.942323,1.691027,1.404833,-4.459182,2.585174,-9.332026,1.038441,3.075869,4.825509
2,강원,2011-01-03,12.450344,3.307011,5.072551,40.736534,9.643030,3.927993,-11.371531,1006.754722,...,0.229578,0.458507,2.535999,1.262500,-4.300873,1.801398,-9.576432,1.049815,2.456025,3.915599
3,강원,2011-01-04,18.978367,5.416715,5.420207,65.299808,9.648529,6.297054,-10.984929,1004.901477,...,0.949966,1.213511,0.817611,0.474769,-3.677037,1.864590,-8.671914,1.529719,4.045288,7.120422
4,강원,2011-01-05,7.124591,1.884490,0.673377,55.632543,9.665648,5.378367,-9.040578,1003.102944,...,0.397661,0.487669,0.075534,0.040563,-2.608093,1.044720,-6.814733,2.792736,6.306715,11.082370

In [ ]:
fulldata['tma'] = pd.to_datetime(fulldata['tma'] )

In [ ]:
fulldata['tma']

0       2011-01-01
1       2011-01-02
2       2011-01-03
3       2011-01-04
4       2011-01-05
           ...
37259   2016-12-27
37260   2016-12-28
37261   2016-12-29
37262   2016-12-30
37263   2016-12-31
Name: tma, Length: 37264, dtype: datetime64[ns]

In [ ]:
airdata['측정일'] = airdata['측정일'].astype(str)
airdata['측정일'] = airdata['측정일'].str[:4] + '-' + airdata['측정일'].str[4:6] + '-' + airdata['측정일'].str[6:]
airdata['측정일'] = pd.to_datetime(airdata['측정일'] )

In [ ]:
full_ver2 = pd.merge(fulldata, airdata, how = "outer", left_on=["where","tma"], right_on=["지역","측정일"])

In [ ]:
full_ver2 = full_ver2.drop(["지역","측정일"], axis=1)

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
0,강원,2011-01-01,7.850279,4.969315,2.892098,49.720459,9.632331,4.796755,-14.659467,1005.628270,...,-0.063789,-12.208051,1.547175,3.261601,6.299315,0.001384,0.204991,0.002894,0.005240,10.051255
1,강원,2011-01-02,7.931251,0.181203,2.391485,65.170244,9.635492,6.281668,-11.452727,1010.697746,...,2.585174,-9.332026,1.038441,3.075869,4.825509,0.001390,0.246259,0.002276,0.006155,11.536032
2,강원,2011-01-03,12.450344,3.307011,5.072551,40.736534,9.643030,3.927993,-11.371531,1006.754722,...,1.801398,-9.576432,1.049815,2.456025,3.915599,0.001326,0.266888,0.002125,0.007304,12.720615
3,강원,2011-01-04,18.978367,5.416715,5.420207,65.299808,9.648529,6.297054,-10.984929,1004.901477,...,1.864590,-8.671914,1.529719,4.045288,7.120422,0.001285,0.241183,0.002283,0.007152,12.993877
4,강원,2011-01-05,7.124591,1.884490,0.673377,55.632543,9.665648,5.378367,-9.040578,1003.102944,...,1.044720,-6.814733,2.792736,6.306715,11.082370,0.001331,0.127681,0.004252,0.004382,9.728090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37259,세종,2016-12-27,1.600000,0.100000,0.100000,60.800000,9.700000,5.900000,-8.800000,1011.300000,...,3.200000,-5.500000,2.400000,5.300000,10.100000,0.003530,0.444059,0.022270,0.015690,36.792438
37260,세종,2016-12-28,1.500000,0.000000,0.000000,87.600000,9.700000,8.500000,-10.600000,1018.300000,...,3.700000,-8.800000,0.800000,2.600000,4.400000,0.004347,0.599726,0.009243,0.028627,47.539022
37261,세종,2016-12-29,2.000000,0.300000,0.400000,79.200000,9.700000,7.700000,-9.100000,1018.800000,...,0.500000,-6.200000,1.800000,4.900000,9.300000,0.003812,0.528395,0.014408,0.021882,36.889088
37262,세종,2016-12-30,1.800000,0.100000,0.100000,84.700000,9.700000,8.200000,-11.500000,1021.300000,...,3.700000,-9.400000,0.800000,2.700000,5.000000,0.003958,0.663349,0.009385,0.028015,38.450617
37263,세종,2016-12-31,0.600000,0.000000,0.000000,11.700000,9.700000,1.100000,-6.500000,1018.700000,...,4.400000,-3.900000,0.600000,1.800000,2.900000,0.003867,0.720525,0.006025,0.028750,46.816453

In [ ]:
full_ver2.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/full_air_통합.csv', index = False)

In [ ]:
full_ver2 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/full_air_통합.csv')

back_hospital = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/back_hospital.csv')
back_hospital.head()

,Unnamed: 0,back_hospital.yyyymmdd,back_hospital.area,back_hospital.sex,back_hospital.frequency
0,1,20120101,강원,1,3
1,2,20120101,강원,2,3
2,3,20120101,경기,1,4
3,4,20120101,경기,2,5
4,5,20120101,경남,1,2

In [ ]:
back_hospital=back_hospital.iloc[:,1:5]

In [ ]:
back_hospital.head()

,back_hospital.yyyymmdd,back_hospital.area,back_hospital.sex,back_hospital.frequency
0,20120101,강원,1,3
1,20120101,강원,2,3
2,20120101,경기,1,4
3,20120101,경기,2,5
4,20120101,경남,1,2

In [ ]:
back_hospital.columns = ['yyyymmdd', 'area','sex','frequency']

In [ ]:
back_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49674 entries, 0 to 49673
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   yyyymmdd   49674 non-null  int64
 1   area       49674 non-null  object
 2   sex        49674 non-null  int64
 3   frequency  49674 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [ ]:
back_hospital['yyyymmdd'] = back_hospital['yyyymmdd'].astype(str)
back_hospital['yyyymmdd'] = back_hospital['yyyymmdd'].str[:4] + '-' + back_hospital['yyyymmdd'].str[4:6] + '-' + back_hospital['yyyymmdd'].str[6:]
back_hospital['yyyymmdd'] = pd.to_datetime(back_hospital['yyyymmdd'] )

In [ ]:
back_hospital.head(30)

     yyyymmdd area  sex  frequency
0  2012-01-01   강원    1          3
1  2012-01-01   강원    2          3
2  2012-01-01   경기    1          4
3  2012-01-01   경기    2          5
4  2012-01-01   경남    1          2
5  2012-01-01   경남    2          1
6  2012-01-01   경북    1          6
7  2012-01-01   경북    2          1
8  2012-01-01   광주    1          0
9  2012-01-01   광주    2          2
10 2012-01-01   대구    1          1
11 2012-01-01   대구    2          0
12 2012-01-01   대전    1          4
13 2012-01-01   대전    2          1
14 2012-01-01   부산    1          3
15 2012-01-01   부산    2          6
16 2012-01-01   서울    1          2
17 2012-01-01   서울    2          6
18 2012-01-01   세종    1          0
19 2012-01-01   세종    2          0
20 2012-01-01   울산    1          0
21 2012-01-01   울산    2          0
22 2012-01-01   인천    1          1
23 2012-01-01   인천    2          1
24 2012-01-01   전남    1          3
25 2012-01-01   전남    2          6
26 2012-01-01   전북    1          2
27 2012-01-01   전북    2          2
28 2012-01-01   제주    1          0
29 2012-01-01   제주    2          0

In [ ]:
back_hospital.shape

(49674, 4)

In [ ]:
full_ver2['tma'] = pd.to_datetime(full_ver2['tma'] )
full_ver2.head()

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
0,강원,2011-01-01,7.850279,4.969315,2.892098,49.720459,9.632331,4.796755,-14.659467,1005.628270,...,-0.063789,-12.208051,1.547175,3.261601,6.299315,0.001384,0.204991,0.002894,0.005240,10.051255
1,강원,2011-01-02,7.931251,0.181203,2.391485,65.170244,9.635492,6.281668,-11.452727,1010.697746,...,2.585174,-9.332026,1.038441,3.075869,4.825509,0.001390,0.246259,0.002276,0.006155,11.536032
2,강원,2011-01-03,12.450344,3.307011,5.072551,40.736534,9.643030,3.927993,-11.371531,1006.754722,...,1.801398,-9.576432,1.049815,2.456025,3.915599,0.001326,0.266888,0.002125,0.007304,12.720615
3,강원,2011-01-04,18.978367,5.416715,5.420207,65.299808,9.648529,6.297054,-10.984929,1004.901477,...,1.864590,-8.671914,1.529719,4.045288,7.120422,0.001285,0.241183,0.002283,0.007152,12.993877
4,강원,2011-01-05,7.124591,1.884490,0.673377,55.632543,9.665648,5.378367,-9.040578,1003.102944,...,1.044720,-6.814733,2.792736,6.306715,11.082370,0.001331,0.127681,0.004252,0.004382,9.728090

In [ ]:
full_ver3=full_ver2[(full_ver2['tma']>="2012-01-01") & (full_ver2['tma']<"2016-01-01")]
full_ver3.shape

(24837, 34)

In [ ]:
test1=full_ver2[ (full_ver2['tma']>="2016-01-01")]

In [ ]:
test1.head()

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
29216,강원,2016-01-01,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,1014.162724,...,5.029691,-3.663738,1.603452,3.848153,7.098580,0.005137,1.037220,0.015191,0.023391,64.172296
29217,강원,2016-01-02,8.681586,1.042484,2.071409,39.097954,9.636116,3.763058,-2.491278,1006.696135,...,9.361337,1.906120,1.676606,4.213845,8.108809,0.006377,0.989969,0.019178,0.022111,56.096075
29218,강원,2016-01-03,11.629889,1.968260,1.640193,52.701883,9.643381,5.088184,-3.622101,1003.699089,...,10.402122,1.342914,1.073960,3.175782,5.384002,0.008148,1.367267,0.018154,0.024441,74.232310
29219,강원,2016-01-04,13.101164,7.196318,3.888484,79.187951,9.643381,7.635405,-5.761820,1005.992442,...,8.444949,-0.165044,2.086759,4.941132,8.974992,0.006454,0.953099,0.027881,0.021088,77.749876
29220,강원,2016-01-05,12.545928,1.995445,7.573693,71.737496,9.665488,6.929150,-9.969253,1010.055664,...,4.104498,-4.087252,1.607859,3.894341,7.370985,0.005132,0.701646,0.020673,0.018424,31.987783

In [ ]:
test1.tail()

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
37259,세종,2016-12-27,1.6,0.1,0.1,60.8,9.7,5.9,-8.8,1011.3,...,3.2,-5.5,2.4,5.3,10.1,0.003530,0.444059,0.022270,0.015690,36.792438
37260,세종,2016-12-28,1.5,0.0,0.0,87.6,9.7,8.5,-10.6,1018.3,...,3.7,-8.8,0.8,2.6,4.4,0.004347,0.599726,0.009243,0.028627,47.539022
37261,세종,2016-12-29,2.0,0.3,0.4,79.2,9.7,7.7,-9.1,1018.8,...,0.5,-6.2,1.8,4.9,9.3,0.003812,0.528395,0.014408,0.021882,36.889088
37262,세종,2016-12-30,1.8,0.1,0.1,84.7,9.7,8.2,-11.5,1021.3,...,3.7,-9.4,0.8,2.7,5.0,0.003958,0.663349,0.009385,0.028015,38.450617
37263,세종,2016-12-31,0.6,0.0,0.0,11.7,9.7,1.1,-6.5,1018.7,...,4.4,-3.9,0.6,1.8,2.9,0.003867,0.720525,0.006025,0.028750,46.816453

In [ ]:
test1.shape

(6222, 34)

In [ ]:
full_ver3.head()

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
5840,강원,2012-01-01,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,-9.869523,1007.235630,...,2.045879,-6.453899,1.780413,5.154082,8.943097,0.011632,1.124709,0.016572,0.024203,93.238136
5841,강원,2012-01-02,7.417967,3.311459,2.617197,59.931489,9.607047,5.758478,-11.479135,1009.604790,...,0.590183,-9.040547,1.526890,3.377707,5.711579,0.008877,1.137987,0.014677,0.024099,82.505700
5842,강원,2012-01-03,7.610803,1.300557,1.469254,49.118485,9.643024,4.737987,-10.719102,1004.681326,...,1.190765,-8.520792,1.908722,5.214393,8.778059,0.008794,1.058763,0.016259,0.025052,97.668349
5843,강원,2012-01-04,5.541347,1.899121,0.085333,74.463137,9.643024,7.180653,-11.051288,1007.651489,...,-1.996573,-9.506732,2.378752,4.801035,8.046440,0.013024,0.764371,0.022757,0.019203,77.977436
5844,강원,2012-01-05,12.253857,4.597339,4.816085,86.004346,9.665621,8.311581,-13.312470,1012.024888,...,-0.009856,-11.955211,1.718041,3.891649,6.845099,0.006718,0.808178,0.019276,0.024092,65.315382

In [ ]:
full_ver3["where"].unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '울산', '인천',
       '전남', '전북', '제주', '충남', '충북', '세종'], dtype=object)

In [ ]:
back_hospital.area.unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [ ]:
full_ver4 = pd.merge(back_hospital,full_ver3, how = "outer", left_on=["area","yyyymmdd"], right_on=["where","tma"])

,yyyymmdd,area,sex,frequency,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
0,2012-01-01,강원,1,3,강원,2012-01-01,10.136053,2.155943,1.303480,35.856285,...,2.045879,-6.453899,1.780413,5.154082,8.943097,0.011632,1.124709,0.016572,0.024203,93.238136
1,2012-01-01,강원,2,3,강원,2012-01-01,10.136053,2.155943,1.303480,35.856285,...,2.045879,-6.453899,1.780413,5.154082,8.943097,0.011632,1.124709,0.016572,0.024203,93.238136
2,2012-01-01,경기,1,4,경기,2012-01-01,1.029764,0.085438,0.096118,25.748326,...,0.721111,-7.679919,1.823096,6.463225,11.629854,0.009282,0.967654,0.011758,0.030998,87.306375
3,2012-01-01,경기,2,5,경기,2012-01-01,1.029764,0.085438,0.096118,25.748326,...,0.721111,-7.679919,1.823096,6.463225,11.629854,0.009282,0.967654,0.011758,0.030998,87.306375
4,2012-01-01,경남,1,2,경남,2012-01-01,0.865082,0.293056,0.533394,29.514334,...,7.408240,-2.418864,2.114119,6.132160,11.003158,0.009134,0.648077,0.021153,0.017674,62.949211
5,2012-01-01,경남,2,1,경남,2012-01-01,0.865082,0.293056,0.533394,29.514334,...,7.408240,-2.418864,2.114119,6.132160,11.003158,0.009134,0.648077,0.021153,0.017674,62.949211
6,2012-01-01,경북,1,6,경북,2012-01-01,5.110335,0.787695,1.352538,36.526885,...,5.211917,-3.915047,2.866881,6.668405,13.249399,0.009949,0.757387,0.021833,0.014976,72.469805
7,2012-01-01,경북,2,1,경북,2012-01-01,5.110335,0.787695,1.352538,36.526885,...,5.211917,-3.915047,2.866881,6.668405,13.249399,0.009949,0.757387,0.021833,0.014976,72.469805
8,2012-01-01,광주,1,0,광주,2012-01-01,0.100000,0.100000,0.100000,1.000000,...,4.000000,-2.300000,1.800000,6.300000,10.500000,0.005555,0.736453,0.014341,0.023788,49.746436
9,2012-01-01,광주,2,2,광주,2012-01-01,0.100000,0.100000,0.100000,1.000000,...,4.000000,-2.300000,1.800000,6.300000,10.500000,0.005555,0.736453,0.014341,0.023788,49.746436
10,2012-01-01,대구,1,1,대구,2012-01-01,0.300000,0.300000,0.300000,14.300000,...,5.600000,-3.100000,2.500000,5.900000,11.800000,0.008870,0.646137,0.016461,0.022564,65.606119
11,2012-01-01,대구,2,0,대구,2012-01-01,0.300000,0.300000,0.300000,14.300000,...,5.600000,-3.100000,2.500000,5.900000,11.800000,0.008870,0.646137,0.016461,0.022564,65.606119
12,2012-01-01,대전,1,4,대전,2012-01-01,2.300000,2.400000,2.300000,2.100000,...,1.400000,-6.300000,1.500000,5.700000,11.200000,0.007600,0.678872,0.012594,0.021206,52.198850
13,2012-01-01,대전,2,1,대전,2012-01-01,2.300000,2.400000,2.300000,2.100000,...,1.400000,-6.300000,1.500000,5.700000,11.200000,0.007600,0.678872,0.012594,0.021206,52.198850
14,2012-01-01,부산,1,3,부산,2012-01-01,0.000000,0.000000,0.000000,51.000000,...,7.900000,-1.800000,3.500000,7.700000,14.600000,0.012810,0.623777,0.022870,0.019464,69.205044
15,2012-01-01,부산,2,6,부산,2012-01-01,0.000000,0.000000,0.000000,51.000000,...,7.900000,-1.800000,3.500000,7.700000,14.600000,0.012810,0.623777,0.022870,0.019464,69.205044
16,2012-01-01,서울,1,2,서울,2012-01-01,2.900000,0.000000,0.100000,45.800000,...,0.400000,-6.900000,2.900000,7.000000,12.600000,0.010254,0.978251,0.009498,0.035206,83.419228
17,2012-01-01,서울,2,6,서울,2012-01-01,2.900000,0.000000,0.100000,45.800000,...,0.400000,-6.900000,2.900000,7.000000,12.600000,0.010254,0.978251,0.009498,0.035206,83.419228
18,2012-01-01,세종,1,0,세종,2012-01-01,1.800000,1.200000,1.200000,2.000000,...,1.100000,-7.500000,1.600000,5.900000,10.700000,0.007741,0.752778,0.013803,0.021658,64.747316
19,2012-01-01,세종,2,0,세종,2012-01-01,1.800000,1.200000,1.200000,2.000000,...,1.100000,-7.500000,1.600000,5.900000,10.700000,0.007741,0.752778,0.013803,0.021658,64.747316
20,2012-01-01,울산,1,0,울산,2012-01-01,21.100000,0.100000,0.000000,39.800000,...,8.000000,-2.300000,2.900000,6.700000,13.700000,0.011258,0.839408,0.022032,0.019351,65.895188
21,2012-01-01,울산,2,0,울산,2012-01-01,21.100000,0.100000,0.000000,39.800000,...,8.000000,-2.300000,2.900000,6.700000,13.700000,0.011258,0.839408,0.022032,0.019351,65.895188
22,2012-01-01,인천,1,1,인천,2012-01-01,0.500000,0.200000,0.200000,36.500000,...,1.300000,-5.800000,4.400000,13.000000,18.900000,0.012171,0.911523,0.011857,0.030698,76.924447
23,2012-01-01,인천,2,1,인천,2012-01-01,0.500000,0.200000,0.200000,36.500000,...,1.300000,-5.800000,4.400000,13.000000,18.900000,0.012171,0.911523,0.011857,0.030698,76.924447
24,2012-01-01,전남,1,3,전남,2012-01-01,2.876175,1.182424,1.389636,7.923369,...,6.083352,-1.350773,4.156336,9.738745,15.862258,0.010234,0.710687,0.023671,0.017841,59.340443
25,2012-01-01,전남,2,6,전남,2012-01-01,2.876175,1.182424,1.389636,7.923369,...,6.083352,-1.350773,4.156336,9.738745,15.862258,0.010234,0.710687,0.023671,0.017841,59.340443
26,2012-01-01,전북,1,2,전북,2012-01-01,3.890532,1.962177,1.813620,1.213013,...,2.679351,-4.449856,2.211595,7.495878,11.940558,0.006653,0.651528,0.014131,0.020215,57.672662
27,2012-01-01,전북,2,2,전북,2012-01-01,3.890532,1.962177,1.813620,1.213013,...,2.679351,-4.449856,2.211595,7.495878,11.940558,0.006653,0.651528,0.014131,0.020215,57.672662
28,2012-01-01,제주,1,0,제주,2012-01-01,0.622281,0.463926,0.284748,7.126000,...,8.775067,3.873607,5.476259,8.880370,14.791511,0.007752,0.681957,0.029817,0.009105,71.110468
29,2012-01-01,제주,2,0,제주,2012-01-01,0.622281,0.463926,0.284748,7.126000,...,8.775067,3.873607,5.476259,8.880370,14.791511,0.007752,0.681957,0.029817,0.009105,71.110468

In [ ]:
full_ver4 = full_ver4.drop(['where','tma'],axis=1)

In [ ]:
full_ver4.shape

(49674, 36)

In [ ]:
full_ver4.head()

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
0,2012-01-01,강원,1,3,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,2.045879,-6.453899,1.780413,5.154082,8.943097,0.011632,1.124709,0.016572,0.024203,93.238136
1,2012-01-01,강원,2,3,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,2.045879,-6.453899,1.780413,5.154082,8.943097,0.011632,1.124709,0.016572,0.024203,93.238136
2,2012-01-01,경기,1,4,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,0.721111,-7.679919,1.823096,6.463225,11.629854,0.009282,0.967654,0.011758,0.030998,87.306375
3,2012-01-01,경기,2,5,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,0.721111,-7.679919,1.823096,6.463225,11.629854,0.009282,0.967654,0.011758,0.030998,87.306375
4,2012-01-01,경남,1,2,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,7.408240,-2.418864,2.114119,6.132160,11.003158,0.009134,0.648077,0.021153,0.017674,62.949211

In [ ]:
full_ver4.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/train.csv', index = False)

In [ ]:
test1.head()

,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,avg_pa,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
29216,강원,2016-01-01,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,1014.162724,...,5.029691,-3.663738,1.603452,3.848153,7.098580,0.005137,1.037220,0.015191,0.023391,64.172296
29217,강원,2016-01-02,8.681586,1.042484,2.071409,39.097954,9.636116,3.763058,-2.491278,1006.696135,...,9.361337,1.906120,1.676606,4.213845,8.108809,0.006377,0.989969,0.019178,0.022111,56.096075
29218,강원,2016-01-03,11.629889,1.968260,1.640193,52.701883,9.643381,5.088184,-3.622101,1003.699089,...,10.402122,1.342914,1.073960,3.175782,5.384002,0.008148,1.367267,0.018154,0.024441,74.232310
29219,강원,2016-01-04,13.101164,7.196318,3.888484,79.187951,9.643381,7.635405,-5.761820,1005.992442,...,8.444949,-0.165044,2.086759,4.941132,8.974992,0.006454,0.953099,0.027881,0.021088,77.749876
29220,강원,2016-01-05,12.545928,1.995445,7.573693,71.737496,9.665488,6.929150,-9.969253,1010.055664,...,4.104498,-4.087252,1.607859,3.894341,7.370985,0.005132,0.701646,0.020673,0.018424,31.987783

In [ ]:
validation = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/2-2_검증데이터셋.csv',encoding='CP949')

In [ ]:
validation.head()

     yyyymmdd area  sex  frequency
0  2016-01-01   강원    1        NaN
1  2016-01-01   경기    1        NaN
2  2016-01-01   경남    1        NaN
3  2016-01-01   경북    1        NaN
4  2016-01-01   광주    1        NaN

In [ ]:
validation['yyyymmdd'] =pd.to_datetime( validation['yyyymmdd'] )

In [ ]:
test2 = pd.merge(validation,test1, how = "outer", left_on=["area","yyyymmdd"], right_on=["where","tma"])
test2.head()

,yyyymmdd,area,sex,frequency,where,tma,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,...,max_ta,min_ta,avg_ws,max_ws,max_ins_ws,SO2,CO,O3,NO2,PM10
0,2016-01-01,강원,1,NaN,강원,2016-01-01,25.262803,8.088057,6.832984,41.929419,...,5.029691,-3.663738,1.603452,3.848153,7.098580,0.005137,1.037220,0.015191,0.023391,64.172296
1,2016-01-01,강원,2,NaN,강원,2016-01-01,25.262803,8.088057,6.832984,41.929419,...,5.029691,-3.663738,1.603452,3.848153,7.098580,0.005137,1.037220,0.015191,0.023391,64.172296
2,2016-01-01,경기,1,NaN,경기,2016-01-01,3.140683,0.247502,0.263841,19.758979,...,5.124417,-5.180968,0.831698,2.227017,3.913277,0.005451,0.944897,0.008004,0.038074,76.580932
3,2016-01-01,경기,2,NaN,경기,2016-01-01,3.140683,0.247502,0.263841,19.758979,...,5.124417,-5.180968,0.831698,2.227017,3.913277,0.005451,0.944897,0.008004,0.038074,76.580932
4,2016-01-01,경남,1,NaN,경남,2016-01-01,0.415067,0.216473,0.155119,86.066663,...,8.897572,-2.814340,1.516712,3.954204,6.701948,0.004469,0.669192,0.016657,0.024914,54.688100

In [ ]:
test2.shape

(12444, 35)

In [ ]:
test2.drop(['frequency','where','tma'], axis = 1,inplace=True)

In [ ]:
test2.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/test.csv', index = False)