In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
forecast = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_total.csv')
train = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train.csv")
test = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/test.csv")

In [ ]:
forecast.columns = ['yyyymmdd', 'rainfall_24', 'snow_24', 'temp_24', 'temp_48', 'humid_24',
       'humid_48', 'max_temp_24', 'min_temp_24', 'wind_24', 'wind_48', 'area']

In [ ]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31059 entries, 0 to 31058
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   yyyymmdd     31059 non-null  object
 1   rainfall_24  31059 non-null  float64
 2   snow_24      31059 non-null  float64
 3   temp_24      31059 non-null  float64
 4   temp_48      31059 non-null  float64
 5   humid_24     31059 non-null  float64
 6   humid_48     31059 non-null  float64
 7   max_temp_24  31059 non-null  float64
 8   min_temp_24  31059 non-null  float64
 9   wind_24      31059 non-null  float64
 10  wind_48      31059 non-null  float64
 11  area         31059 non-null  object
dtypes: float64(10), object(2)
memory usage: 2.8+ MB

In [ ]:
forecast['yyyymmdd'] = pd.to_datetime(forecast['yyyymmdd'], format='%Y-%m-%d')

In [ ]:
df = pd.concat([train, test], axis=0, ignore_index=True)
df['yyyymmdd'] = pd.to_datetime(df['yyyymmdd'], format='%Y-%m-%d')

In [ ]:
df3 = df[['yyyymmdd', 'area', 'sex', 'frequency', 'dd_mes', 'sum_dpth_fhsc',
       'dd_mefs', 'ssrate', 'ss_dur', 'sum_ss_hr', 'min_tg', 'avg_pa',
       'max_pa', 'min_pa', 'avg_pv', 'max_pv', 'min_pv', 'avg_rhm', 'min_rhm',
       'sum_rn', 'sum_rn_dur', 'mi10_max_rn', 'hr1_max_rn', 'hr6_max_rn',
       'n9_9_rn', 'avg_ta', 'max_ta', 'min_ta', 'avg_ws', 'max_ws',
       'max_ins_ws',]]

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62118 entries, 0 to 62117
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   yyyymmdd       62118 non-null  datetime64[ns]
 1   area           62118 non-null  object
 2   sex            62118 non-null  int64
 3   frequency      49674 non-null  float64
 4   dd_mes         62118 non-null  float64
 5   sum_dpth_fhsc  62118 non-null  float64
 6   dd_mefs        62118 non-null  float64
 7   ssrate         62118 non-null  float64
 8   ss_dur         62118 non-null  float64
 9   sum_ss_hr      62118 non-null  float64
 10  min_tg         62118 non-null  float64
 11  avg_pa         62118 non-null  float64
 12  max_pa         62118 non-null  float64
 13  min_pa         62118 non-null  float64
 14  avg_pv         62118 non-null  float64
 15  max_pv         62118 non-null  float64
 16  min_pv         62118 non-null  float64
 17  avg_rhm        62118 non-null  float64
 18  min_rhm        62118 non-null  float64
 19  sum_rn         62118 non-null  float64
 20  sum_rn_dur     62118 non-null  float64
 21  mi10_max_rn    62118 non-null  float64
 22  hr1_max_rn     62118 non-null  float64
 23  hr6_max_rn     62118 non-null  float64
 24  n9_9_rn        62118 non-null  float64
 25  avg_ta         62118 non-null  float64
 26  max_ta         62118 non-null  float64
 27  min_ta         62118 non-null  float64
 28  avg_ws         62118 non-null  float64
 29  max_ws         62118 non-null  float64
 30  max_ins_ws     62118 non-null  float64
dtypes: datetime64[ns](1), float64(28), int64(1), object(1)
memory usage: 14.7+ MB

In [ ]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31059 entries, 0 to 31058
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   yyyymmdd     31059 non-null  datetime64[ns]
 1   rainfall_24  31059 non-null  float64
 2   snow_24      31059 non-null  float64
 3   temp_24      31059 non-null  float64
 4   temp_48      31059 non-null  float64
 5   humid_24     31059 non-null  float64
 6   humid_48     31059 non-null  float64
 7   max_temp_24  31059 non-null  float64
 8   min_temp_24  31059 non-null  float64
 9   wind_24      31059 non-null  float64
 10  wind_48      31059 non-null  float64
 11  area         31059 non-null  object
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 2.8+ MB

In [ ]:
df3['area'].unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [ ]:
forecast.loc[forecast['area']=='강원', 'area'] =  '강원'
forecast.loc[forecast['area']=='경기', 'area'] =  '경기'
forecast.loc[forecast['area']=='경남', 'area'] =  '경남'
forecast.loc[forecast['area']=='경북', 'area'] =  '경북'
forecast.loc[forecast['area']=='광주', 'area'] =  '광주'
forecast.loc[forecast['area']=='대구', 'area'] =  '대구'
forecast.loc[forecast['area']=='대전', 'area'] =  '대전'
forecast.loc[forecast['area']=='부산', 'area'] =  '부산'
forecast.loc[forecast['area']=='서울', 'area'] =  '서울'
forecast.loc[forecast['area']=='세종', 'area'] =  '세종'
forecast.loc[forecast['area']=='울산', 'area'] =  '울산'
forecast.loc[forecast['area']=='인천', 'area'] =  '인천'
forecast.loc[forecast['area']=='전남', 'area'] =  '전남'
forecast.loc[forecast['area']=='전북', 'area'] =  '전북'
forecast.loc[forecast['area']=='제주', 'area'] =  '제주'
forecast.loc[forecast['area']=='충남', 'area'] =  '충남'
forecast.loc[forecast['area']=='충북', 'area'] =  '충북'

In [ ]:
df2 = pd.merge(df3, forecast, how="left",on=['yyyymmdd', 'area'])
df2['yyyymmdd'] = pd.to_datetime(df2['yyyymmdd'], format='%Y-%m-%d')
df2

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,14.00509,11.402662,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,14.00509,11.402662,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,2.08604,1.000000,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,2.08604,1.000000,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,0.00000,0.000000,0.438426,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62113,2016-12-31,제주,2,NaN,0.073358,0.220075,0.100000,67.536586,10.000000,6.753659,...,0.00000,0.000000,8.862359,10.539986,59.382270,66.286702,13.289775,5.029925,2.096283,4.375106
62114,2016-12-31,충남,1,NaN,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,...,0.00000,0.000000,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638
62115,2016-12-31,충남,2,NaN,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,...,0.00000,0.000000,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638
62116,2016-12-31,충북,1,NaN,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,...,0.00000,0.000000,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894
62117,2016-12-31,충북,2,NaN,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,...,0.00000,0.000000,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894

In [ ]:
train2 = df2.loc[df2['yyyymmdd'].dt.year!=2016,:]
test2 = df2.loc[df2['yyyymmdd'].dt.year==2016,:]

In [ ]:
test2 = test2.reset_index().drop('index', axis=1)
test2

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,강원,1,NaN,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,...,0.739849,0.739849,4.180966,4.216917,71.007364,70.345349,9.465910,0.600196,2.256841,1.924245
1,2016-01-01,강원,2,NaN,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,...,0.739849,0.739849,4.180966,4.216917,71.007364,70.345349,9.465910,0.600196,2.256841,1.924245
2,2016-01-01,경기,1,NaN,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,...,0.000000,0.000000,4.951829,3.361983,76.962722,77.455254,9.786953,0.709690,2.683432,1.534682
3,2016-01-01,경기,2,NaN,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,...,0.000000,0.000000,4.951829,3.361983,76.962722,77.455254,9.786953,0.709690,2.683432,1.534682
4,2016-01-01,경남,1,NaN,0.415067,0.216473,0.155119,86.066663,9.814577,8.444625,...,0.000000,0.000000,5.878692,7.868552,67.035858,62.909285,14.266800,-0.217979,1.256809,1.526269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12439,2016-12-31,제주,2,NaN,0.073358,0.220075,0.100000,67.536586,10.000000,6.753659,...,0.000000,0.000000,8.862359,10.539986,59.382270,66.286702,13.289775,5.029925,2.096283,4.375106
12440,2016-12-31,충남,1,NaN,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,...,0.000000,0.000000,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638
12441,2016-12-31,충남,2,NaN,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,...,0.000000,0.000000,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638
12442,2016-12-31,충북,1,NaN,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,...,0.000000,0.000000,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894
12443,2016-12-31,충북,2,NaN,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,...,0.000000,0.000000,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894

In [ ]:
test2.drop('frequency', axis=1, inplace=True)

In [ ]:
test2

,yyyymmdd,area,sex,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,min_tg,...,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,강원,1,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,0.739849,0.739849,4.180966,4.216917,71.007364,70.345349,9.465910,0.600196,2.256841,1.924245
1,2016-01-01,강원,2,25.262803,8.088057,6.832984,41.929419,9.633102,4.029989,-8.917460,...,0.739849,0.739849,4.180966,4.216917,71.007364,70.345349,9.465910,0.600196,2.256841,1.924245
2,2016-01-01,경기,1,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,0.000000,0.000000,4.951829,3.361983,76.962722,77.455254,9.786953,0.709690,2.683432,1.534682
3,2016-01-01,경기,2,3.140683,0.247502,0.263841,19.758979,9.668681,1.907674,-6.721469,...,0.000000,0.000000,4.951829,3.361983,76.962722,77.455254,9.786953,0.709690,2.683432,1.534682
4,2016-01-01,경남,1,0.415067,0.216473,0.155119,86.066663,9.814577,8.444625,-6.450657,...,0.000000,0.000000,5.878692,7.868552,67.035858,62.909285,14.266800,-0.217979,1.256809,1.526269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12439,2016-12-31,제주,2,0.073358,0.220075,0.100000,67.536586,10.000000,6.753659,1.447092,...,0.000000,0.000000,8.862359,10.539986,59.382270,66.286702,13.289775,5.029925,2.096283,4.375106
12440,2016-12-31,충남,1,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,-5.365824,...,0.000000,0.000000,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638
12441,2016-12-31,충남,2,1.619904,0.013797,0.006899,23.264737,9.705368,2.256730,-5.365824,...,0.000000,0.000000,2.910296,4.714282,75.169570,74.973932,9.727476,-2.042384,1.251528,1.801638
12442,2016-12-31,충북,1,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,-7.126462,...,0.000000,0.000000,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894
12443,2016-12-31,충북,2,1.096842,0.000000,0.000000,20.767888,9.700000,2.016882,-7.126462,...,0.000000,0.000000,2.183118,3.810940,74.747486,71.415485,9.332726,-2.047622,1.232250,1.629894

In [ ]:
train2.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train.csv', index=False)
test2.to_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/test.csv", index=False)