In [2]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
import numpy as np
import pandas as pd
import datetime as dt

## 홍천읍

### 2012년

In [512]:
gh_2012_rainfall = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_12시간강수량_201201_201212.csv')
gh_2012_snow = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_12시간신적설_201201_201212.csv')
gh_2012_temp3 = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_3시간기온_201201_201212.csv')
gh_2012_humid = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_습도_201201_201212.csv')
gh_2012_maxtemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_일최고기온_201201_201212.csv')
gh_2012_mintemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_일최저기온_201201_201212.csv')
gh_2012_wind = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2012/강원/홍천읍_풍속_201201_201212.csv')

In [513]:
def make_date(data, year, month):
  num = data.shape[0]
  df = data.reset_index()
  list1 = list(pd.to_numeric(df['day']))
  df['date'] = df['day']

  for i in range(num):
    df['date'][i] = dt.datetime(year, month, list1[i])
  
  df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d')
  df = df.iloc[:,1:]
  return df

#### 12시간강수량

In [514]:
gh_2012_rainfall.loc[gh_2012_rainfall['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [515]:
gh_2012_rainfall.loc[gh_2012_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [516]:
gh_2012_rainfall.columns = ['day', 'hour','forecast','value']

In [517]:
gh_2012_rainfall_month1 = make_date(gh_2012_rainfall[:1116], 2012, 1)
gh_2012_rainfall_month2 = make_date(gh_2012_rainfall[1117:2161], 2012, 2)
gh_2012_rainfall_month3 = make_date(gh_2012_rainfall[2162:3278], 2012, 3)
gh_2012_rainfall_month4 = make_date(gh_2012_rainfall[3279:4359], 2012, 4)
gh_2012_rainfall_month5 = make_date(gh_2012_rainfall[4360:4396], 2012, 5)
gh_2012_rainfall_month6 = make_date(gh_2012_rainfall[4397:5477], 2012, 6)
gh_2012_rainfall_month7 = make_date(gh_2012_rainfall[5478:5514], 2012, 7)
gh_2012_rainfall_month8 = make_date(gh_2012_rainfall[5515:6595], 2012, 8)
gh_2012_rainfall_month9 = make_date(gh_2012_rainfall[6596:7676], 2012, 9)
gh_2012_rainfall_month10 = make_date(gh_2012_rainfall[7677:7713], 2012, 10)
gh_2012_rainfall_month11 = make_date(gh_2012_rainfall[7714:8794], 2012, 11)
gh_2012_rainfall_month12 = make_date(gh_2012_rainfall[8795:], 2012, 12)

df_list = [gh_2012_rainfall_month1, gh_2012_rainfall_month2, gh_2012_rainfall_month3, gh_2012_rainfall_month4, gh_2012_rainfall_month5,
           gh_2012_rainfall_month6, gh_2012_rainfall_month7, gh_2012_rainfall_month8, gh_2012_rainfall_month9, gh_2012_rainfall_month10,
           gh_2012_rainfall_month11,gh_2012_rainfall_month12 ]
gh_2012_rainfall_new = pd.concat(df_list, ignore_index = True)

gh_2012_rainfall_new1 = gh_2012_rainfall_new.loc[(gh_2012_rainfall_new['hour'] == 1100) & ((gh_2012_rainfall_new['forecast']==4.0) | (gh_2012_rainfall_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gh_2012_rainfall_new1.columns = ['date', 'rainfall_24']
gh_2012_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2012-01-01          1.0
1   2012-01-02          0.0
2   2012-01-03          0.0
3   2012-01-04          0.0
4   2012-01-05          0.0
..         ...          ...
270 2012-12-27          5.0
271 2012-12-28          0.0
272 2012-12-29          5.0
273 2012-12-30          5.0
274 2012-12-31          0.0

[275 rows x 2 columns]

#### 12시간신적설

In [518]:
gh_2012_snow.loc[gh_2012_snow['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [519]:
gh_2012_snow.loc[gh_2012_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [520]:
gh_2012_snow.columns = ['day', 'hour','forecast','value']

In [521]:
gh_2012_snow_month1 = make_date(gh_2012_snow[:1116], 2012, 1)
gh_2012_snow_month2 = make_date(gh_2012_snow[1117:2161], 2012, 2)
gh_2012_snow_month3 = make_date(gh_2012_snow[2162:3278], 2012, 3)
gh_2012_snow_month4 = make_date(gh_2012_snow[3279:4359], 2012, 4)
gh_2012_snow_month5 = make_date(gh_2012_snow[4360:4396], 2012, 5)
gh_2012_snow_month6 = make_date(gh_2012_snow[4397:5477], 2012, 6)
gh_2012_snow_month7 = make_date(gh_2012_snow[5478:5514], 2012, 7)
gh_2012_snow_month8 = make_date(gh_2012_snow[5515:6595], 2012, 8)
gh_2012_snow_month9 = make_date(gh_2012_snow[6596:7676], 2012, 9)
gh_2012_snow_month10 = make_date(gh_2012_snow[7677:7713], 2012, 10)
gh_2012_snow_month11 = make_date(gh_2012_snow[7714:8794], 2012, 11)
gh_2012_snow_month12 = make_date(gh_2012_snow[8795:], 2012, 12)

df_list = [gh_2012_snow_month1, gh_2012_snow_month2, gh_2012_snow_month3, gh_2012_snow_month4, gh_2012_snow_month5,
           gh_2012_snow_month6, gh_2012_snow_month7, gh_2012_snow_month8, gh_2012_snow_month9, gh_2012_snow_month10,
           gh_2012_snow_month11, gh_2012_snow_month12 ]

gh_2012_snow_new = pd.concat(df_list, ignore_index = True)

gh_2012_snow_new1 = gh_2012_snow_new.loc[(gh_2012_snow_new['hour'] == 1100) & ((gh_2012_snow_new['forecast']==4.0) | (gh_2012_snow_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gh_2012_snow_new1.columns = ['date', 'snow_24']
gh_2012_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2012-01-01      1.0
1   2012-01-02      0.0
2   2012-01-03      0.0
3   2012-01-04      0.0
4   2012-01-05      0.0
..         ...      ...
270 2012-12-27      5.0
271 2012-12-28      0.0
272 2012-12-29      5.0
273 2012-12-30      5.0
274 2012-12-31      0.0

[275 rows x 2 columns]

#### 3시간기온

In [522]:
gh_2012_temp3.loc[gh_2012_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [523]:
gh_2012_temp3.columns = ['day', 'hour','forecast','value']

In [524]:
gh_2012_temp3_month1 = make_date(gh_2012_temp3[:4092], 2012, 1)
gh_2012_temp3_month2 = make_date(gh_2012_temp3[4093:7921], 2012, 2)
gh_2012_temp3_month3 = make_date(gh_2012_temp3[7922:12014], 2012, 3)
gh_2012_temp3_month4 = make_date(gh_2012_temp3[12015:15975], 2012, 4)
gh_2012_temp3_month5 = make_date(gh_2012_temp3[15976:20068], 2012, 5)
gh_2012_temp3_month6 = make_date(gh_2012_temp3[20069:24029], 2012, 6)
gh_2012_temp3_month7 = make_date(gh_2012_temp3[24030:28122], 2012, 7)
gh_2012_temp3_month8 = make_date(gh_2012_temp3[28123:32215], 2012, 8)
gh_2012_temp3_month9 = make_date(gh_2012_temp3[32216:36176], 2012, 9)
gh_2012_temp3_month10 = make_date(gh_2012_temp3[36177:], 2012, 10)

df_list = [gh_2012_temp3_month1, gh_2012_temp3_month2, gh_2012_temp3_month3, gh_2012_temp3_month4, gh_2012_temp3_month5,
           gh_2012_temp3_month6, gh_2012_temp3_month7, gh_2012_temp3_month8, gh_2012_temp3_month9, gh_2012_temp3_month10]
gh_2012_temp3_new = pd.concat(df_list, ignore_index = True)

gh_2012_temp3_new1_24 = gh_2012_temp3_new.loc[(gh_2012_temp3_new['hour'] == 1400) & ((gh_2012_temp3_new['forecast']>=4.0) & (gh_2012_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gh_2012_temp3_new1_48 = gh_2012_temp3_new.loc[(gh_2012_temp3_new['hour'] == 1400) & ((gh_2012_temp3_new['forecast']>=28.0) & (gh_2012_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gh_2012_temp3_new1_24.columns = ['date', 'temp_24']
gh_2012_temp3_new1_48.columns = ['date', 'temp_48']

gh_2012_temp3_new2 = pd.concat([gh_2012_temp3_new1_24, gh_2012_temp3_new1_48['temp_48']], axis=1)
gh_2012_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2012-01-01  -5.4125  -4.7875
1   2012-01-02  -5.9125  -7.5250
2   2012-01-03  -8.1500  -8.1500
3   2012-01-04  -8.4000  -5.4125
4   2012-01-05  -8.0375  -8.0375
..         ...      ...      ...
300 2012-10-27  12.7500   9.6250
301 2012-10-28   8.7500   7.8750
302 2012-10-29   7.5000   5.6250
303 2012-10-30   5.0000   3.2500
304 2012-10-31   2.7750   2.4125

[305 rows x 3 columns]

#### 습도

In [525]:
gh_2012_humid.loc[gh_2012_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [526]:
gh_2012_humid.columns = ['day', 'hour','forecast','value']

In [527]:
gh_2012_humid_month1 = make_date(gh_2012_humid[:4092], 2012, 1)
gh_2012_humid_month2 = make_date(gh_2012_humid[4093:7921], 2012, 2)
gh_2012_humid_month3 = make_date(gh_2012_humid[7922:12014], 2012, 3)
gh_2012_humid_month4 = make_date(gh_2012_humid[12015:15975], 2012, 4)
gh_2012_humid_month5 = make_date(gh_2012_humid[15976:20068], 2012, 5)
gh_2012_humid_month6 = make_date(gh_2012_humid[20069:24029], 2012, 6)
gh_2012_humid_month7 = make_date(gh_2012_humid[24030:28122], 2012, 7)
gh_2012_humid_month8 = make_date(gh_2012_humid[28123:32215], 2012, 8)
gh_2012_humid_month9 = make_date(gh_2012_humid[32216:36176], 2012, 9)
gh_2012_humid_month10 = make_date(gh_2012_humid[36177:], 2012, 10)

df_list = [gh_2012_humid_month1, gh_2012_humid_month2, gh_2012_humid_month3, gh_2012_humid_month4, gh_2012_humid_month5,
           gh_2012_humid_month6, gh_2012_humid_month7, gh_2012_humid_month8, gh_2012_humid_month9,gh_2012_humid_month10]
gh_2012_humid_new = pd.concat(df_list, ignore_index = True)

gh_2012_humid_new1_24 = gh_2012_humid_new.loc[(gh_2012_humid_new['hour'] == 1400) & ((gh_2012_humid_new['forecast']>=4.0) & (gh_2012_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gh_2012_humid_new1_48 = gh_2012_humid_new.loc[(gh_2012_humid_new['hour'] == 1400) & ((gh_2012_humid_new['forecast']>=28.0) & (gh_2012_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gh_2012_humid_new1_24.columns = ['date', 'humid_24']
gh_2012_humid_new1_48.columns = ['date', 'humid_48']

gh_2012_humid_new2 = pd.concat([gh_2012_humid_new1_24, gh_2012_humid_new1_48['humid_48']], axis=1)
gh_2012_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2012-01-01    61.250    66.250
1   2012-01-02    66.250    56.875
2   2012-01-03    54.375    56.250
3   2012-01-04    61.250    61.875
4   2012-01-05    58.125    55.625
..         ...       ...       ...
300 2012-10-27    72.125    75.625
301 2012-10-28    77.125    75.250
302 2012-10-29    70.500    70.625
303 2012-10-30    67.500    51.250
304 2012-10-31    56.875    64.375

[305 rows x 3 columns]

#### 일최고기온



forecast 4,7 중에 max

hour 2300 -> 오전 8시  / 오후 12시 오후 3시

In [528]:
gh_2012_maxtemp.loc[gh_2012_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
465,Start : 20120201,NaN,NaN,NaN
901,Start : 20120301,NaN,NaN,NaN
1367,Start : 20120401,NaN,NaN,NaN
1818,Start : 20120501,NaN,NaN,NaN
2284,Start : 20120601,NaN,NaN,NaN
2735,Start : 20120701,NaN,NaN,NaN
3201,Start : 20120801,NaN,NaN,NaN
3667,Start : 20120901,NaN,NaN,NaN
4118,Start : 20121001,NaN,NaN,NaN

In [529]:
gh_2012_maxtemp.columns = ['day', 'hour','forecast','value']

In [530]:
gh_2012_maxtemp.loc[gh_2012_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [531]:
gh_2012_maxtemp_month1 = make_date(gh_2012_maxtemp[:465], 2012, 1)
gh_2012_maxtemp_month2 = make_date(gh_2012_maxtemp[466:901], 2012, 2)
gh_2012_maxtemp_month3 = make_date(gh_2012_maxtemp[902:1367], 2012, 3)
gh_2012_maxtemp_month4 = make_date(gh_2012_maxtemp[1368:1818], 2012, 4)
gh_2012_maxtemp_month5 = make_date(gh_2012_maxtemp[1819:2284], 2012, 5)
gh_2012_maxtemp_month6 = make_date(gh_2012_maxtemp[2285:2735], 2012, 6)
gh_2012_maxtemp_month7 = make_date(gh_2012_maxtemp[2736:3201], 2012, 7)
gh_2012_maxtemp_month8 = make_date(gh_2012_maxtemp[3202:3667], 2012, 8)
gh_2012_maxtemp_month9 = make_date(gh_2012_maxtemp[3668:4118], 2012, 9)
gh_2012_maxtemp_month10 = make_date(gh_2012_maxtemp[4119:], 2012, 10)

df_list = [gh_2012_maxtemp_month1, gh_2012_maxtemp_month2, gh_2012_maxtemp_month3, gh_2012_maxtemp_month4, gh_2012_maxtemp_month5,
           gh_2012_maxtemp_month6, gh_2012_maxtemp_month7, gh_2012_maxtemp_month8, gh_2012_maxtemp_month9 ,gh_2012_maxtemp_month10]

gh_2012_maxtemp_new = pd.concat(df_list, ignore_index = True)

gh_2012_maxtemp_new1 = gh_2012_maxtemp_new.loc[(gh_2012_maxtemp_new['hour'] == 2300) & ((gh_2012_maxtemp_new['forecast']==4.0) | (gh_2012_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

gh_2012_maxtemp_new1.columns = ['date', 'max_temp_24']

gh_2012_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2012-01-01          2.0
1   2012-01-02          1.0
2   2012-01-03         -0.9
3   2012-01-04          1.0
4   2012-01-05          2.0
..         ...          ...
300 2012-10-27         19.0
301 2012-10-28         16.0
302 2012-10-29         12.0
303 2012-10-30         12.0
304 2012-10-31         12.0

[305 rows x 2 columns]

#### 일최저기온



forecast 4,7 중에 min

hour 1400 -> 오후 11시  / 오전 3시 오전 6시

In [532]:
gh_2012_mintemp.loc[gh_2012_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
496,Start : 20120201,NaN,NaN,NaN
961,Start : 20120301,NaN,NaN,NaN
1458,Start : 20120401,NaN,NaN,NaN
1939,Start : 20120501,NaN,NaN,NaN
2436,Start : 20120601,NaN,NaN,NaN
2917,Start : 20120701,NaN,NaN,NaN
3414,Start : 20120801,NaN,NaN,NaN
3911,Start : 20120901,NaN,NaN,NaN
4392,Start : 20121001,NaN,NaN,NaN

In [533]:
gh_2012_mintemp.columns = ['day', 'hour','forecast','value']

In [534]:
gh_2012_mintemp_month1 = make_date(gh_2012_mintemp[:496], 2012, 1)
gh_2012_mintemp_month2 = make_date(gh_2012_mintemp[497:961], 2012, 2)
gh_2012_mintemp_month3 = make_date(gh_2012_mintemp[962:1458], 2012, 3)
gh_2012_mintemp_month4 = make_date(gh_2012_mintemp[1459:1939], 2012, 4)
gh_2012_mintemp_month5 = make_date(gh_2012_mintemp[1940:2436], 2012, 5)
gh_2012_mintemp_month6 = make_date(gh_2012_mintemp[2437:2917], 2012, 6)
gh_2012_mintemp_month7 = make_date(gh_2012_mintemp[2918:3414], 2012, 7)
gh_2012_mintemp_month8 = make_date(gh_2012_mintemp[3415:3911], 2012, 8)
gh_2012_mintemp_month9 = make_date(gh_2012_mintemp[3912:4392], 2012, 9)
gh_2012_mintemp_month10 = make_date(gh_2012_mintemp[4393:], 2012, 10)

df_list = [gh_2012_mintemp_month1, gh_2012_mintemp_month2, gh_2012_mintemp_month3, gh_2012_mintemp_month4, gh_2012_mintemp_month5,
           gh_2012_mintemp_month6, gh_2012_mintemp_month7, gh_2012_mintemp_month8, gh_2012_mintemp_month9 ,gh_2012_mintemp_month10]

gh_2012_mintemp_new = pd.concat(df_list, ignore_index = True)

gh_2012_mintemp_new1 = gh_2012_mintemp_new.loc[(gh_2012_mintemp_new['hour'] == 1400) & ((gh_2012_mintemp_new['forecast']==4.0) | (gh_2012_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

gh_2012_mintemp_new1.columns = ['date', 'min_temp_24']

gh_2012_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2012-01-01        -10.9
1   2012-01-02        -12.9
2   2012-01-03        -13.9
3   2012-01-04        -13.9
4   2012-01-05        -13.9
..         ...          ...
300 2012-10-27          6.0
301 2012-10-28          4.0
302 2012-10-29          2.0
303 2012-10-30         -0.9
304 2012-10-31         -3.9

[305 rows x 2 columns]

#### 풍속

In [535]:
gh_2012_wind.loc[gh_2012_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120801,NaN,NaN,NaN
16107,Start : 20120901,NaN,NaN,NaN

In [536]:
gh_2012_wind.columns = ['day', 'hour','forecast','value']

In [537]:
gh_2012_wind_month1 = make_date(gh_2012_wind[:4092], 2012, 1)
gh_2012_wind_month2 = make_date(gh_2012_wind[4093:7921], 2012, 2)
gh_2012_wind_month3 = make_date(gh_2012_wind[7922:12014], 2012, 3)
gh_2012_wind_month8 = make_date(gh_2012_wind[12015:16107], 2012, 8)
gh_2012_wind_month9 = make_date(gh_2012_wind[16108:], 2012, 9)


df_list = [gh_2012_wind_month1, gh_2012_wind_month2, gh_2012_wind_month3, gh_2012_wind_month8, gh_2012_wind_month9]
gh_2012_wind_new = pd.concat(df_list, ignore_index = True)

gh_2012_wind_new1_24 = gh_2012_wind_new.loc[(gh_2012_wind_new['hour'] == 1400) & ((gh_2012_wind_new['forecast']>=4.0) & (gh_2012_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gh_2012_wind_new1_48 = gh_2012_wind_new.loc[(gh_2012_wind_new['hour'] == 1400) & ((gh_2012_wind_new['forecast']>=28.0) & (gh_2012_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gh_2012_wind_new1_24.columns = ['date', 'wind_24']
gh_2012_wind_new1_48.columns = ['date', 'wind_48']

gh_2012_wind_new2 = pd.concat([gh_2012_wind_new1_24, gh_2012_wind_new1_48['wind_48']], axis=1)
gh_2012_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2012-01-01    1.375   1.7500
1   2012-01-02    1.325   1.1750
2   2012-01-03    1.750   1.6250
3   2012-01-04    1.375   1.3750
4   2012-01-05    1.375   1.3875
..         ...      ...      ...
147 2012-09-26    1.375   1.3750
148 2012-09-27    1.750   2.1250
149 2012-09-28    2.000   1.0000
150 2012-09-29    1.375   1.3750
151 2012-09-30    1.375   1.3750

[152 rows x 3 columns]

#### 2012년 울진읍 데이터

위의 7개 데이터 merge

In [538]:
from functools import reduce
dfs = [gh_2012_rainfall_new1, gh_2012_snow_new1, gh_2012_temp3_new2, gh_2012_humid_new2,gh_2012_maxtemp_new1,
       gh_2012_mintemp_new1,gh_2012_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [539]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,1.0,1.0,-5.4125,-4.7875,61.250,66.250,2.0,-10.9,1.375,1.7500
1,2012-01-02,0.0,0.0,-5.9125,-7.5250,66.250,56.875,1.0,-12.9,1.325,1.1750
2,2012-01-03,0.0,0.0,-8.1500,-8.1500,54.375,56.250,-0.9,-13.9,1.750,1.6250
3,2012-01-04,0.0,0.0,-8.4000,-5.4125,61.250,61.875,1.0,-13.9,1.375,1.3750
4,2012-01-05,0.0,0.0,-8.0375,-8.0375,58.125,55.625,2.0,-13.9,1.375,1.3875
...,...,...,...,...,...,...,...,...,...,...,...
270,2012-12-27,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2012-12-28,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2012-12-29,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,2012-12-30,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-12-31,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [540]:
sdf.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/강원/강원_홍천읍_2012.csv', index=False)

### 2013년

In [541]:
#gangjin_2013_rainfall = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_6시간강수량_201301_201312.csv')
#gangjin_2013_snow = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_6시간적설_201301_201312.csv')
gangjin_2013_temp3 = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_3시간기온_201301_201312.csv')
gangjin_2013_humid = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_습도_201301_201312.csv')
gangjin_2013_maxtemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_일최고기온_201301_201312.csv')
gangjin_2013_mintemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_일최저기온_201301_201312.csv')
gangjin_2013_wind = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2013/강원/홍천읍_풍속_201301_201312.csv')

#### 3시간기온

In [542]:
gangjin_2013_temp3.loc[gangjin_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [543]:
gangjin_2013_temp3.loc[gangjin_2013_temp3['hour']=="hour",:]

         format: day  hour  forecast  value  location:75_130 Start : 20130101
48191    format: day  hour  forecast  value  location:75_130 Start : 20130101

In [544]:
gangjin_2013_temp3 = gangjin_2013_temp3.iloc[:48191]

In [545]:
gangjin_2013_temp3.columns = ['day', 'hour','forecast','value']

In [546]:
gangjin_2013_temp3['hour'] = pd.to_numeric(gangjin_2013_temp3['hour'])
gangjin_2013_temp3['forecast'] =  pd.to_numeric(gangjin_2013_temp3['forecast'])
gangjin_2013_temp3['value'] =  pd.to_numeric(gangjin_2013_temp3['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [547]:
gangjin_2013_temp3.loc[gangjin_2013_temp3['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [548]:
gangjin_2013_temp3_month1 = make_date(gangjin_2013_temp3[:4092], 2013, 1)
gangjin_2013_temp3_month2 = make_date(gangjin_2013_temp3[4093:7789], 2013, 2)
gangjin_2013_temp3_month3 = make_date(gangjin_2013_temp3[7790:11882], 2013, 3)
gangjin_2013_temp3_month4 = make_date(gangjin_2013_temp3[11883:15843], 2013, 4)
gangjin_2013_temp3_month5 = make_date(gangjin_2013_temp3[15844:19936], 2013, 5)
gangjin_2013_temp3_month6 = make_date(gangjin_2013_temp3[19937:23897], 2013, 6)
gangjin_2013_temp3_month7 = make_date(gangjin_2013_temp3[23898:27990], 2013, 7)
gangjin_2013_temp3_month8 = make_date(gangjin_2013_temp3[27991:32083], 2013, 8)
gangjin_2013_temp3_month9 = make_date(gangjin_2013_temp3[32084:36044], 2013, 9)
gangjin_2013_temp3_month10 = make_date(gangjin_2013_temp3[36045:40137], 2013, 10)
gangjin_2013_temp3_month11 = make_date(gangjin_2013_temp3[40138:44098], 2013, 11)
gangjin_2013_temp3_month12 = make_date(gangjin_2013_temp3[44099:], 2013, 12)


df_list = [gangjin_2013_temp3_month1, gangjin_2013_temp3_month2, gangjin_2013_temp3_month3, gangjin_2013_temp3_month4, gangjin_2013_temp3_month5,
           gangjin_2013_temp3_month6, gangjin_2013_temp3_month7, gangjin_2013_temp3_month8, gangjin_2013_temp3_month9,gangjin_2013_temp3_month10,
           gangjin_2013_temp3_month11, gangjin_2013_temp3_month12]

gangjin_2013_temp3_new = pd.concat(df_list, ignore_index = True)

gangjin_2013_temp3_new1_24 = gangjin_2013_temp3_new.loc[(gangjin_2013_temp3_new['hour'] == 1400) & ((gangjin_2013_temp3_new['forecast']>=4.0) & (gangjin_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2013_temp3_new1_48 = gangjin_2013_temp3_new.loc[(gangjin_2013_temp3_new['hour'] == 1400) & ((gangjin_2013_temp3_new['forecast']>=28.0) & (gangjin_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2013_temp3_new1_24.columns = ['date', 'temp_24']
gangjin_2013_temp3_new1_48.columns = ['date', 'temp_48']

gangjin_2013_temp3_new2 = pd.concat([gangjin_2013_temp3_new1_24, gangjin_2013_temp3_new1_48['temp_48']], axis=1)
gangjin_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -11.7750 -14.9000
1   2013-01-02 -15.4000 -13.9000
2   2013-01-03 -13.7750 -10.0250
3   2013-01-04 -12.1500 -10.6500
4   2013-01-05 -10.4000  -8.6500
..         ...      ...      ...
360 2013-12-27  -9.6500  -6.2875
361 2013-12-28  -6.7750  -1.0625
362 2013-12-29  -0.8125  -1.2000
363 2013-12-30   0.2875  -1.4375
364 2013-12-31   1.5250  -3.0375

[365 rows x 3 columns]

#### 습도

In [549]:
gangjin_2013_humid.loc[gangjin_2013_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [550]:
gangjin_2013_humid.loc[gangjin_2013_humid['hour']=="hour",:]

         format: day  hour  forecast  value  location:75_130 Start : 20130101
48191    format: day  hour  forecast  value  location:75_130 Start : 20130101

In [551]:
gangjin_2013_humid = gangjin_2013_humid.iloc[:48191]

In [552]:
gangjin_2013_humid.columns = ['day', 'hour','forecast','value']

In [553]:
gangjin_2013_humid['hour'] = pd.to_numeric(gangjin_2013_humid['hour'])
gangjin_2013_humid['forecast'] =  pd.to_numeric(gangjin_2013_humid['forecast'])
gangjin_2013_humid['value'] =  pd.to_numeric(gangjin_2013_humid['value'])

In [554]:
gangjin_2013_humid.loc[gangjin_2013_humid['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [555]:
gangjin_2013_humid_month1 = make_date(gangjin_2013_humid[:4092], 2013, 1)
gangjin_2013_humid_month2 = make_date(gangjin_2013_humid[4093:7789], 2013, 2)
gangjin_2013_humid_month3 = make_date(gangjin_2013_humid[7790:11882], 2013, 3)
gangjin_2013_humid_month4 = make_date(gangjin_2013_humid[11883:15843], 2013, 4)
gangjin_2013_humid_month5 = make_date(gangjin_2013_humid[15844:19936], 2013, 5)
gangjin_2013_humid_month6 = make_date(gangjin_2013_humid[19937:23897], 2013, 6)
gangjin_2013_humid_month7 = make_date(gangjin_2013_humid[23898:27990], 2013, 7)
gangjin_2013_humid_month8 = make_date(gangjin_2013_humid[27991:32083], 2013, 8)
gangjin_2013_humid_month9 = make_date(gangjin_2013_humid[32084:36044], 2013, 9)
gangjin_2013_humid_month10 = make_date(gangjin_2013_humid[36045:40137], 2013, 10)
gangjin_2013_humid_month11 = make_date(gangjin_2013_humid[40138:44098], 2013, 11)
gangjin_2013_humid_month12 = make_date(gangjin_2013_humid[44099:], 2013, 12)

df_list = [gangjin_2013_humid_month1, gangjin_2013_humid_month2, gangjin_2013_humid_month3, gangjin_2013_humid_month4, gangjin_2013_humid_month5,
           gangjin_2013_humid_month6, gangjin_2013_humid_month7, gangjin_2013_humid_month8, gangjin_2013_humid_month9,gangjin_2013_humid_month10,
           gangjin_2013_humid_month11, gangjin_2013_humid_month12]

gangjin_2013_humid_new = pd.concat(df_list, ignore_index = True)

gangjin_2013_humid_new1_24 = gangjin_2013_humid_new.loc[(gangjin_2013_humid_new['hour'] == 1400) & ((gangjin_2013_humid_new['forecast']>=4.0) & (gangjin_2013_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2013_humid_new1_48 = gangjin_2013_humid_new.loc[(gangjin_2013_humid_new['hour'] == 1400) & ((gangjin_2013_humid_new['forecast']>=28.0) & (gangjin_2013_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2013_humid_new1_24.columns = ['date', 'humid_24']
gangjin_2013_humid_new1_48.columns = ['date', 'humid_48']

gangjin_2013_humid_new2 = pd.concat([gangjin_2013_humid_new1_24, gangjin_2013_humid_new1_48['humid_48']], axis=1)
gangjin_2013_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2013-01-01    51.250    55.875
1   2013-01-02    53.750    62.500
2   2013-01-03    64.375    68.750
3   2013-01-04    66.250    68.750
4   2013-01-05    62.500    61.250
..         ...       ...       ...
360 2013-12-27    57.500    64.375
361 2013-12-28    61.250    70.000
362 2013-12-29    66.250    71.250
363 2013-12-30    65.625    53.125
364 2013-12-31    65.625    57.500

[365 rows x 3 columns]

#### 일최고기온

In [556]:
gangjin_2013_maxtemp.loc[gangjin_2013_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20130101
465,Start : 20130201,NaN,NaN,NaN
886,Start : 20130301,NaN,NaN,NaN
1352,Start : 20130401,NaN,NaN,NaN
1803,Start : 20130501,NaN,NaN,NaN
2269,Start : 20130601,NaN,NaN,NaN
2720,Start : 20130701,NaN,NaN,NaN
3186,Start : 20130801,NaN,NaN,NaN
3652,Start : 20130901,NaN,NaN,NaN
4103,Start : 20131001,NaN,NaN,NaN
4569,Start : 20131101,NaN,NaN,NaN
5020,Start : 20131201,NaN,NaN,NaN
5952,Start : 20130201,NaN,NaN,NaN
6373,Start : 20130301,NaN,NaN,NaN
6839,Start : 20130401,NaN,NaN,NaN
7290,Start : 20130501,NaN,NaN,NaN
7756,Start : 20130601,NaN,NaN,NaN
8207,Start : 20130701,NaN,NaN,NaN
8673,Start : 20130801,NaN,NaN,NaN
9139,Start : 20130901,NaN,NaN,NaN
9590,Start : 20131001,NaN,NaN,NaN
10056,Start : 20131101,NaN,NaN,NaN
10507,Start : 20131201,NaN,NaN,NaN

In [557]:
gangjin_2013_maxtemp.loc[gangjin_2013_maxtemp['hour']=="hour",:]

        format: day  hour  forecast  value  location:75_130 Start : 20130101
5486    format: day  hour  forecast  value  location:75_130 Start : 20130101

In [558]:
gangjin_2013_maxtemp = gangjin_2013_maxtemp.iloc[:5486]

In [559]:
gangjin_2013_maxtemp.columns = ['day', 'hour','forecast','value']

In [560]:
gangjin_2013_maxtemp['hour'] = pd.to_numeric(gangjin_2013_maxtemp['hour'])
gangjin_2013_maxtemp['forecast'] =  pd.to_numeric(gangjin_2013_maxtemp['forecast'])
gangjin_2013_maxtemp['value'] =  pd.to_numeric(gangjin_2013_maxtemp['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [561]:
gangjin_2013_maxtemp.loc[gangjin_2013_maxtemp['hour'].isna(),:]

                     day  hour  forecast  value
465    Start : 20130201    NaN       NaN    NaN
886    Start : 20130301    NaN       NaN    NaN
1352   Start : 20130401    NaN       NaN    NaN
1803   Start : 20130501    NaN       NaN    NaN
2269   Start : 20130601    NaN       NaN    NaN
2720   Start : 20130701    NaN       NaN    NaN
3186   Start : 20130801    NaN       NaN    NaN
3652   Start : 20130901    NaN       NaN    NaN
4103   Start : 20131001    NaN       NaN    NaN
4569   Start : 20131101    NaN       NaN    NaN
5020   Start : 20131201    NaN       NaN    NaN

In [562]:
gangjin_2013_maxtemp.loc[gangjin_2013_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [563]:
gangjin_2013_maxtemp_month1 = make_date(gangjin_2013_maxtemp[:465], 2013, 1)
gangjin_2013_maxtemp_month2 = make_date(gangjin_2013_maxtemp[466:886], 2013, 2)
gangjin_2013_maxtemp_month3 = make_date(gangjin_2013_maxtemp[887:1352], 2013, 3)
gangjin_2013_maxtemp_month4 = make_date(gangjin_2013_maxtemp[1353:1803], 2013, 4)
gangjin_2013_maxtemp_month5 = make_date(gangjin_2013_maxtemp[1804:2269], 2013, 5)
gangjin_2013_maxtemp_month6 = make_date(gangjin_2013_maxtemp[2270:2720], 2013, 6)
gangjin_2013_maxtemp_month7 = make_date(gangjin_2013_maxtemp[2721:3186], 2013, 7)
gangjin_2013_maxtemp_month8 = make_date(gangjin_2013_maxtemp[3187:3652], 2013, 8)
gangjin_2013_maxtemp_month9 = make_date(gangjin_2013_maxtemp[3653:4103], 2013, 9)
gangjin_2013_maxtemp_month10 = make_date(gangjin_2013_maxtemp[4104:4569], 2013, 10)
gangjin_2013_maxtemp_month11 = make_date(gangjin_2013_maxtemp[4570:5020], 2013, 11)
gangjin_2013_maxtemp_month12 = make_date(gangjin_2013_maxtemp[5021:], 2013, 12)

df_list = [gangjin_2013_maxtemp_month1, gangjin_2013_maxtemp_month2, gangjin_2013_maxtemp_month3, gangjin_2013_maxtemp_month4, gangjin_2013_maxtemp_month5,
           gangjin_2013_maxtemp_month6, gangjin_2013_maxtemp_month7, gangjin_2013_maxtemp_month8, gangjin_2013_maxtemp_month9 ,gangjin_2013_maxtemp_month10,
           gangjin_2013_maxtemp_month11, gangjin_2013_maxtemp_month12]

gangjin_2013_maxtemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2013_maxtemp_new1 = gangjin_2013_maxtemp_new.loc[(gangjin_2013_maxtemp_new['hour'] == 2300) & ((gangjin_2013_maxtemp_new['forecast']==4.0) | (gangjin_2013_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

gangjin_2013_maxtemp_new1.columns = ['date', 'max_temp_24']

gangjin_2013_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2013-01-01         -7.9
1   2013-01-02         -5.9
2   2013-01-03         -2.9
3   2013-01-04         -0.9
4   2013-01-05         -2.9
..         ...          ...
360 2013-12-27         -0.9
361 2013-12-28          3.0
362 2013-12-29          5.0
363 2013-12-30          6.0
364 2013-12-31          6.0

[365 rows x 2 columns]

#### 일최저기온

In [564]:
gangjin_2013_mintemp.loc[gangjin_2013_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20130101
496,Start : 20130201,NaN,NaN,NaN
945,Start : 20130301,NaN,NaN,NaN
1442,Start : 20130401,NaN,NaN,NaN
1923,Start : 20130501,NaN,NaN,NaN
2420,Start : 20130601,NaN,NaN,NaN
2901,Start : 20130701,NaN,NaN,NaN
3398,Start : 20130801,NaN,NaN,NaN
3895,Start : 20130901,NaN,NaN,NaN
4376,Start : 20131001,NaN,NaN,NaN
4873,Start : 20131101,NaN,NaN,NaN
5354,Start : 20131201,NaN,NaN,NaN
6348,Start : 20130201,NaN,NaN,NaN
6797,Start : 20130301,NaN,NaN,NaN
7294,Start : 20130401,NaN,NaN,NaN
7775,Start : 20130501,NaN,NaN,NaN
8272,Start : 20130601,NaN,NaN,NaN
8753,Start : 20130701,NaN,NaN,NaN
9250,Start : 20130801,NaN,NaN,NaN
9747,Start : 20130901,NaN,NaN,NaN
10228,Start : 20131001,NaN,NaN,NaN
10725,Start : 20131101,NaN,NaN,NaN
11206,Start : 20131201,NaN,NaN,NaN

In [565]:
gangjin_2013_mintemp.loc[gangjin_2013_mintemp['hour']=="hour",:]

        format: day  hour  forecast  value  location:75_130 Start : 20130101
5851    format: day  hour  forecast  value  location:75_130 Start : 20130101

In [566]:
gangjin_2013_mintemp = gangjin_2013_mintemp.iloc[:5851]

In [567]:
gangjin_2013_mintemp.columns = ['day', 'hour','forecast','value']

In [568]:
gangjin_2013_mintemp['hour'] = pd.to_numeric(gangjin_2013_mintemp['hour'])
gangjin_2013_mintemp['forecast'] =  pd.to_numeric(gangjin_2013_mintemp['forecast'])
gangjin_2013_mintemp['value'] =  pd.to_numeric(gangjin_2013_mintemp['value'])

In [569]:
gangjin_2013_mintemp.loc[gangjin_2013_mintemp['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20130201    NaN       NaN    NaN
945    Start : 20130301    NaN       NaN    NaN
1442   Start : 20130401    NaN       NaN    NaN
1923   Start : 20130501    NaN       NaN    NaN
2420   Start : 20130601    NaN       NaN    NaN
2901   Start : 20130701    NaN       NaN    NaN
3398   Start : 20130801    NaN       NaN    NaN
3895   Start : 20130901    NaN       NaN    NaN
4376   Start : 20131001    NaN       NaN    NaN
4873   Start : 20131101    NaN       NaN    NaN
5354   Start : 20131201    NaN       NaN    NaN

In [570]:
gangjin_2013_mintemp.loc[gangjin_2013_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [571]:
gangjin_2013_mintemp_month1 = make_date(gangjin_2013_mintemp[:496], 2013, 1)
gangjin_2013_mintemp_month2 = make_date(gangjin_2013_mintemp[497:945], 2013, 2)
gangjin_2013_mintemp_month3 = make_date(gangjin_2013_mintemp[946:1442], 2013, 3)
gangjin_2013_mintemp_month4 = make_date(gangjin_2013_mintemp[1443:1923], 2013, 4)
gangjin_2013_mintemp_month5 = make_date(gangjin_2013_mintemp[1924:2420], 2013, 5)
gangjin_2013_mintemp_month6 = make_date(gangjin_2013_mintemp[2421:2901], 2013, 6)
gangjin_2013_mintemp_month7 = make_date(gangjin_2013_mintemp[2902:3398], 2013, 7)
gangjin_2013_mintemp_month8 = make_date(gangjin_2013_mintemp[3399:3895], 2013, 8)
gangjin_2013_mintemp_month9 = make_date(gangjin_2013_mintemp[3896:4376], 2013, 9)
gangjin_2013_mintemp_month10 = make_date(gangjin_2013_mintemp[4377:4873], 2013, 10)
gangjin_2013_mintemp_month11 = make_date(gangjin_2013_mintemp[4874:5354], 2013, 11)
gangjin_2013_mintemp_month12 = make_date(gangjin_2013_mintemp[5355:], 2013, 12)

df_list = [gangjin_2013_mintemp_month1, gangjin_2013_mintemp_month2, gangjin_2013_mintemp_month3, gangjin_2013_mintemp_month4, gangjin_2013_mintemp_month5,
           gangjin_2013_mintemp_month6, gangjin_2013_mintemp_month7, gangjin_2013_mintemp_month8, gangjin_2013_mintemp_month9 ,gangjin_2013_mintemp_month10,
           gangjin_2013_mintemp_month11, gangjin_2013_mintemp_month12]

gangjin_2013_mintemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2013_mintemp_new1 = gangjin_2013_mintemp_new.loc[(gangjin_2013_mintemp_new['hour'] == 1400) & ((gangjin_2013_mintemp_new['forecast']==4.0) | (gangjin_2013_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

gangjin_2013_mintemp_new1.columns = ['date', 'min_temp_24']

gangjin_2013_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2013-01-01        -19.9
1   2013-01-02        -20.9
2   2013-01-03        -21.9
3   2013-01-04        -18.9
4   2013-01-05        -16.9
..         ...          ...
360 2013-12-27        -14.9
361 2013-12-28        -14.9
362 2013-12-29         -6.9
363 2013-12-30         -6.9
364 2013-12-31         -7.9

[365 rows x 2 columns]

#### 풍속

In [572]:
gangjin_2013_wind.loc[gangjin_2013_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
22791,Start : 20130701,NaN,NaN,NaN
26884,Start : 20130801,NaN,NaN,NaN
30977,Start : 20130901,NaN,NaN,NaN
34938,Start : 20131001,NaN,NaN,NaN
39031,Start : 20131101,NaN,NaN,NaN
42992,Start : 20131201,NaN,NaN,NaN
51178,Start : 20130201,NaN,NaN,NaN
54875,Start : 20130301,NaN,NaN,NaN
58968,Start : 20130401,NaN,NaN,NaN
62929,Start : 20130501,NaN,NaN,NaN
67022,Start : 20130601,NaN,NaN,NaN
69877,Start : 20130701,NaN,NaN,NaN
73970,Start : 20130801,NaN,NaN,NaN
78063,Start : 20130901,NaN,NaN,NaN
82024,Start : 20131001,NaN,NaN,NaN
86117,Start : 20131101,NaN,NaN,NaN
90078,Start : 20131201,NaN,NaN,NaN

In [573]:
gangjin_2013_wind.loc[gangjin_2013_wind['hour']=="hour",:]

         format: day  hour  forecast  value  location:75_130 Start : 20130101
47085    format: day  hour  forecast  value  location:75_130 Start : 20130101

In [574]:
gangjin_2013_wind = gangjin_2013_wind.iloc[:47085]

In [575]:
gangjin_2013_wind.columns = ['day', 'hour','forecast','value']

In [576]:
gangjin_2013_wind['hour'] = pd.to_numeric(gangjin_2013_wind['hour'])
gangjin_2013_wind['forecast'] =  pd.to_numeric(gangjin_2013_wind['forecast'])
gangjin_2013_wind['value'] =  pd.to_numeric(gangjin_2013_wind['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [577]:
gangjin_2013_wind.loc[gangjin_2013_wind['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
22791   Start : 20130701    NaN       NaN    NaN
26884   Start : 20130801    NaN       NaN    NaN
30977   Start : 20130901    NaN       NaN    NaN
34938   Start : 20131001    NaN       NaN    NaN
39031   Start : 20131101    NaN       NaN    NaN
42992   Start : 20131201    NaN       NaN    NaN

In [578]:
gangjin_2013_wind_month1 = make_date(gangjin_2013_wind[:4092], 2013, 1)
gangjin_2013_wind_month2 = make_date(gangjin_2013_wind[4093:7789], 2013, 2)
gangjin_2013_wind_month3 = make_date(gangjin_2013_wind[7790:11882], 2013, 3)
gangjin_2013_wind_month4 = make_date(gangjin_2013_wind[11883:15843], 2013, 4)
gangjin_2013_wind_month5 = make_date(gangjin_2013_wind[15844:19936], 2013, 5)
gangjin_2013_wind_month6 = make_date(gangjin_2013_wind[19937:22791], 2013, 6)
gangjin_2013_wind_month7 = make_date(gangjin_2013_wind[22792:26884], 2013, 7)
gangjin_2013_wind_month8 = make_date(gangjin_2013_wind[26885:30977], 2013, 8)
gangjin_2013_wind_month9 = make_date(gangjin_2013_wind[30978:34938], 2013, 9)
gangjin_2013_wind_month10 = make_date(gangjin_2013_wind[34939:39031], 2013, 10)
gangjin_2013_wind_month11 = make_date(gangjin_2013_wind[39032:42992], 2013, 11)
gangjin_2013_wind_month12 = make_date(gangjin_2013_wind[42993:], 2013, 12)

df_list = [gangjin_2013_wind_month1, gangjin_2013_wind_month2, gangjin_2013_wind_month3, gangjin_2013_wind_month4, gangjin_2013_wind_month5,
           gangjin_2013_wind_month6, gangjin_2013_wind_month7, gangjin_2013_wind_month8, gangjin_2013_wind_month9, gangjin_2013_wind_month10,
           gangjin_2013_wind_month11, gangjin_2013_wind_month12]

gangjin_2013_wind_new = pd.concat(df_list, ignore_index = True)

gangjin_2013_wind_new1_24 = gangjin_2013_wind_new.loc[(gangjin_2013_wind_new['hour'] == 1400) & ((gangjin_2013_wind_new['forecast']>=4.0) & (gangjin_2013_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2013_wind_new1_48 = gangjin_2013_wind_new.loc[(gangjin_2013_wind_new['hour'] == 1400) & ((gangjin_2013_wind_new['forecast']>=28.0) & (gangjin_2013_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2013_wind_new1_24.columns = ['date', 'wind_24']
gangjin_2013_wind_new1_48.columns = ['date', 'wind_48']

gangjin_2013_wind_new2 = pd.concat([gangjin_2013_wind_new1_24, gangjin_2013_wind_new1_48['wind_48']], axis=1)
gangjin_2013_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2013-01-01   2.3750    1.750
1   2013-01-02   2.1250    1.375
2   2013-01-03   1.0000    1.250
3   2013-01-04   1.1000    1.125
4   2013-01-05   1.1125    1.250
..         ...      ...      ...
352 2013-12-27   2.6250    1.250
353 2013-12-28   1.3750    1.625
354 2013-12-29   1.5000    1.750
355 2013-12-30   1.7500    2.125
356 2013-12-31   2.1250    1.125

[357 rows x 3 columns]

#### 2013년 울진읍 merge

In [579]:
from functools import reduce
dfs = [gangjin_2013_temp3_new2, gangjin_2013_humid_new2,gangjin_2013_maxtemp_new1,
       gangjin_2013_mintemp_new1,gangjin_2013_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [580]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2013-01-01,-11.7750,-14.9000,51.250,55.875,-7.9,-19.9,2.3750,1.750
1,2013-01-02,-15.4000,-13.9000,53.750,62.500,-5.9,-20.9,2.1250,1.375
2,2013-01-03,-13.7750,-10.0250,64.375,68.750,-2.9,-21.9,1.0000,1.250
3,2013-01-04,-12.1500,-10.6500,66.250,68.750,-0.9,-18.9,1.1000,1.125
4,2013-01-05,-10.4000,-8.6500,62.500,61.250,-2.9,-16.9,1.1125,1.250
...,...,...,...,...,...,...,...,...,...
360,2013-12-27,-9.6500,-6.2875,57.500,64.375,-0.9,-14.9,2.6250,1.250
361,2013-12-28,-6.7750,-1.0625,61.250,70.000,3.0,-14.9,1.3750,1.625
362,2013-12-29,-0.8125,-1.2000,66.250,71.250,5.0,-6.9,1.5000,1.750
363,2013-12-30,0.2875,-1.4375,65.625,53.125,6.0,-6.9,1.7500,2.125
364,2013-12-31,1.5250,-3.0375,65.625,57.500,6.0,-7.9,2.1250,1.125

In [581]:
sdf.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/강원/강원_홍천읍_2013.csv', index=False)

### 2014년

In [582]:
gangjin_2014_rainfall = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_6시간강수량_201401_201412.csv')
gangjin_2014_snow = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_6시간적설_201401_201412.csv')
gangjin_2014_temp3 = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_3시간기온_201401_201412.csv')
gangjin_2014_humid = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_습도_201401_201412.csv')
gangjin_2014_maxtemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_일최고기온_201401_201412.csv')
gangjin_2014_mintemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_일최저기온_201401_201412.csv')
gangjin_2014_wind = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2014/강원/홍천읍_풍속_201401_201412.csv')

#### 6시간강수량

In [583]:
gangjin_2014_rainfall.loc[gangjin_2014_rainfall['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [584]:
gangjin_2014_rainfall.loc[gangjin_2014_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [585]:
gangjin_2014_rainfall.columns = ['day', 'hour','forecast','value']

In [586]:
gangjin_2014_rainfall_month1 = make_date(gangjin_2014_rainfall[:2108], 2014, 1)
gangjin_2014_rainfall_month2 = make_date(gangjin_2014_rainfall[2109:4013], 2014, 2)
gangjin_2014_rainfall_month3 = make_date(gangjin_2014_rainfall[4014:4082], 2014, 3)
gangjin_2014_rainfall_month4 = make_date(gangjin_2014_rainfall[4083:6363], 2014, 4)
gangjin_2014_rainfall_month5 = make_date(gangjin_2014_rainfall[6364:8720], 2014, 5)
gangjin_2014_rainfall_month6 = make_date(gangjin_2014_rainfall[8721:11001], 2014, 6)
gangjin_2014_rainfall_month8 = make_date(gangjin_2014_rainfall[11002:13358], 2014, 8)
gangjin_2014_rainfall_month9 = make_date(gangjin_2014_rainfall[13359:15639], 2014, 9)
gangjin_2014_rainfall_month10 = make_date(gangjin_2014_rainfall[15640:17996], 2014, 10)
gangjin_2014_rainfall_month11 = make_date(gangjin_2014_rainfall[17997:20277], 2014, 11)
gangjin_2014_rainfall_month12 = make_date(gangjin_2014_rainfall[20278:22634], 2014, 12)


df_list = [gangjin_2014_rainfall_month1, gangjin_2014_rainfall_month2, gangjin_2014_rainfall_month3, gangjin_2014_rainfall_month4, gangjin_2014_rainfall_month5,
           gangjin_2014_rainfall_month6, gangjin_2014_rainfall_month8, gangjin_2014_rainfall_month9,gangjin_2014_rainfall_month10,gangjin_2014_rainfall_month11,
           gangjin_2014_rainfall_month12]

gangjin_2014_rainfall_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_rainfall_new1 = gangjin_2014_rainfall_new.loc[(gangjin_2014_rainfall_new['hour'] == 1400) & ((gangjin_2014_rainfall_new['forecast']>=7.0) & (gangjin_2014_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gangjin_2014_rainfall_new1.columns = ['date', 'rainfall_24']
gangjin_2014_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2014-01-01          0.0
1   2014-01-02          0.0
2   2014-01-03          0.0
3   2014-01-04          0.0
4   2014-01-05          0.0
..         ...          ...
299 2014-12-27          0.0
300 2014-12-28          0.0
301 2014-12-29          0.0
302 2014-12-30          5.0
303 2014-12-31          0.0

[304 rows x 2 columns]

#### 6시간적설

In [587]:
gangjin_2014_snow.loc[gangjin_2014_snow['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [588]:
gangjin_2014_snow.loc[gangjin_2014_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [589]:
gangjin_2014_snow.columns = ['day', 'hour','forecast','value']

In [590]:
gangjin_2014_snow_month1 = make_date(gangjin_2014_snow[:2108], 2014, 1)
gangjin_2014_snow_month2 = make_date(gangjin_2014_snow[2109:4013], 2014, 2)
gangjin_2014_snow_month3 = make_date(gangjin_2014_snow[4014:4082], 2014, 3)
gangjin_2014_snow_month4 = make_date(gangjin_2014_snow[4083:6363], 2014, 4)
gangjin_2014_snow_month5 = make_date(gangjin_2014_snow[6364:8720], 2014, 5)
gangjin_2014_snow_month6 = make_date(gangjin_2014_snow[8721:11001], 2014, 6)
gangjin_2014_snow_month8 = make_date(gangjin_2014_snow[11002:13358], 2014, 8)
gangjin_2014_snow_month9 = make_date(gangjin_2014_snow[13359:15639], 2014, 9)
gangjin_2014_snow_month10 = make_date(gangjin_2014_snow[15640:17996], 2014, 10)
gangjin_2014_snow_month11 = make_date(gangjin_2014_snow[17997:20277], 2014, 11)
gangjin_2014_snow_month12 = make_date(gangjin_2014_snow[20278:22634], 2014, 12)


df_list = [gangjin_2014_snow_month1, gangjin_2014_snow_month2, gangjin_2014_snow_month3, gangjin_2014_snow_month4, gangjin_2014_snow_month5,
           gangjin_2014_snow_month6, gangjin_2014_snow_month8, gangjin_2014_snow_month9, gangjin_2014_snow_month10, gangjin_2014_snow_month11, gangjin_2014_snow_month12]

gangjin_2014_snow_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_snow_new1 = gangjin_2014_snow_new.loc[(gangjin_2014_snow_new['hour'] == 1400) & ((gangjin_2014_snow_new['forecast']>=7.0) & (gangjin_2014_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gangjin_2014_snow_new1.columns = ['date', 'snow_24']
gangjin_2014_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2014-01-01      0.0
1   2014-01-02      0.0
2   2014-01-03      0.0
3   2014-01-04      0.0
4   2014-01-05      0.0
..         ...      ...
299 2014-12-27      0.0
300 2014-12-28      0.0
301 2014-12-29      0.0
302 2014-12-30      5.0
303 2014-12-31      0.0

[304 rows x 2 columns]

#### 3시간기온

In [591]:
gangjin_2014_temp3.loc[gangjin_2014_temp3['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [592]:
gangjin_2014_temp3.columns = ['day', 'hour','forecast','value']

In [593]:
gangjin_2014_temp3_month1 = make_date(gangjin_2014_temp3[:4092], 2014, 1)
gangjin_2014_temp3_month2 = make_date(gangjin_2014_temp3[4093:7789], 2014, 2)
gangjin_2014_temp3_month3 = make_date(gangjin_2014_temp3[7790:11882], 2014, 3)
gangjin_2014_temp3_month4 = make_date(gangjin_2014_temp3[11883:16323], 2014, 4)
gangjin_2014_temp3_month5 = make_date(gangjin_2014_temp3[16324:20912], 2014, 5)
gangjin_2014_temp3_month6 = make_date(gangjin_2014_temp3[20913:25353], 2014, 6)
gangjin_2014_temp3_month7 = make_date(gangjin_2014_temp3[25354:29446], 2014, 7)
gangjin_2014_temp3_month8 = make_date(gangjin_2014_temp3[29447:34035], 2014, 8)
gangjin_2014_temp3_month9 = make_date(gangjin_2014_temp3[34036:38476], 2014, 9)
gangjin_2014_temp3_month10 = make_date(gangjin_2014_temp3[38477:43065], 2014, 10)
gangjin_2014_temp3_month11 = make_date(gangjin_2014_temp3[43066:47506], 2014, 11)
gangjin_2014_temp3_month12 = make_date(gangjin_2014_temp3[47507:52095], 2014, 12)


df_list = [gangjin_2014_temp3_month1, gangjin_2014_temp3_month2, gangjin_2014_temp3_month3, gangjin_2014_temp3_month4,gangjin_2014_temp3_month5,
           gangjin_2014_temp3_month6, gangjin_2014_temp3_month7, gangjin_2014_temp3_month8, gangjin_2014_temp3_month9,gangjin_2014_temp3_month10,
           gangjin_2014_temp3_month11, gangjin_2014_temp3_month12]

gangjin_2014_temp3_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_temp3_new1_24 = gangjin_2014_temp3_new.loc[(gangjin_2014_temp3_new['hour'] == 1400) & ((gangjin_2014_temp3_new['forecast']>=4.0) & (gangjin_2014_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2014_temp3_new1_48 = gangjin_2014_temp3_new.loc[(gangjin_2014_temp3_new['hour'] == 1400) & ((gangjin_2014_temp3_new['forecast']>=28.0) & (gangjin_2014_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2014_temp3_new1_24.columns = ['date', 'temp_24']
gangjin_2014_temp3_new1_48.columns = ['date', 'temp_48']

gangjin_2014_temp3_new2 = pd.concat([gangjin_2014_temp3_new1_24, gangjin_2014_temp3_new1_48['temp_48']], axis=1)
gangjin_2014_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2014-01-01   -0.625   -1.000
1   2014-01-02    0.375    0.000
2   2014-01-03   -0.375   -1.250
3   2014-01-04   -2.125   -2.250
4   2014-01-05   -2.375   -0.375
..         ...      ...      ...
360 2014-12-27   -3.125   -0.625
361 2014-12-28   -0.375   -0.625
362 2014-12-29    0.250   -2.500
363 2014-12-30   -2.500   -7.750
364 2014-12-31   -7.375   -6.375

[365 rows x 3 columns]

#### 습도

In [594]:
gangjin_2014_humid.loc[gangjin_2014_humid['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [595]:
gangjin_2014_humid.columns = ['day', 'hour','forecast','value']

In [596]:
gangjin_2014_humid_month1 = make_date(gangjin_2014_humid[:4092], 2014, 1)
gangjin_2014_humid_month2 = make_date(gangjin_2014_humid[4093:7789], 2014, 2)
gangjin_2014_humid_month3 = make_date(gangjin_2014_humid[7790:11882], 2014, 3)
gangjin_2014_humid_month4 = make_date(gangjin_2014_humid[11883:16323], 2014, 4)
gangjin_2014_humid_month5 = make_date(gangjin_2014_humid[16324:20912], 2014, 5)
gangjin_2014_humid_month6 = make_date(gangjin_2014_humid[20913:25353], 2014, 6)
gangjin_2014_humid_month7 = make_date(gangjin_2014_humid[25354:29446], 2014, 7)
gangjin_2014_humid_month8 = make_date(gangjin_2014_humid[29447:34035], 2014, 8)
gangjin_2014_humid_month9 = make_date(gangjin_2014_humid[34036:38476], 2014, 9)
gangjin_2014_humid_month10 = make_date(gangjin_2014_humid[38477:43065], 2014, 10)
gangjin_2014_humid_month11 = make_date(gangjin_2014_humid[43066:47506], 2014, 11)
gangjin_2014_humid_month12 = make_date(gangjin_2014_humid[47507:52095], 2014, 12)

df_list = [gangjin_2014_humid_month1, gangjin_2014_humid_month2, gangjin_2014_humid_month3, gangjin_2014_humid_month4, gangjin_2014_humid_month5,
           gangjin_2014_humid_month6, gangjin_2014_humid_month7, gangjin_2014_humid_month8, gangjin_2014_humid_month9, gangjin_2014_humid_month10,
           gangjin_2014_humid_month11, gangjin_2014_humid_month12]

gangjin_2014_humid_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_humid_new1_24 = gangjin_2014_humid_new.loc[(gangjin_2014_humid_new['hour'] == 1400) & ((gangjin_2014_humid_new['forecast']>=4.0) & (gangjin_2014_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2014_humid_new1_48 = gangjin_2014_humid_new.loc[(gangjin_2014_humid_new['hour'] == 1400) & ((gangjin_2014_humid_new['forecast']>=28.0) & (gangjin_2014_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2014_humid_new1_24.columns = ['date', 'humid_24']
gangjin_2014_humid_new1_48.columns = ['date', 'humid_48']

gangjin_2014_humid_new2 = pd.concat([gangjin_2014_humid_new1_24, gangjin_2014_humid_new1_48['humid_48']], axis=1)
gangjin_2014_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2014-01-01    63.750    75.625
1   2014-01-02    60.625    68.750
2   2014-01-03    70.625    68.750
3   2014-01-04    78.125    65.625
4   2014-01-05    74.375    77.500
..         ...       ...       ...
360 2014-12-27    73.125    73.125
361 2014-12-28    73.750    63.125
362 2014-12-29    68.750    76.250
363 2014-12-30    59.375    45.625
364 2014-12-31    43.125    50.625

[365 rows x 3 columns]

#### 일최고기온

In [597]:
gangjin_2014_maxtemp.loc[gangjin_2014_maxtemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
465,Start : 20140201,NaN,NaN,NaN
886,Start : 20140301,NaN,NaN,NaN
1352,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2513,Start : 20140601,NaN,NaN,NaN
3084,Start : 20140701,NaN,NaN,NaN
3550,Start : 20140801,NaN,NaN,NaN
4140,Start : 20140901,NaN,NaN,NaN
4711,Start : 20141001,NaN,NaN,NaN
5301,Start : 20141101,NaN,NaN,NaN
5872,Start : 20141201,NaN,NaN,NaN
6462,,NaN,NaN,NaN

In [598]:
gangjin_2014_maxtemp.columns = ['day', 'hour','forecast','value']

In [599]:
gangjin_2014_maxtemp.loc[gangjin_2014_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [600]:
gangjin_2014_maxtemp_month1 = make_date(gangjin_2014_maxtemp[:465], 2014, 1)
gangjin_2014_maxtemp_month2 = make_date(gangjin_2014_maxtemp[466:886], 2014, 2)
gangjin_2014_maxtemp_month3 = make_date(gangjin_2014_maxtemp[887:1352], 2014, 3)
gangjin_2014_maxtemp_month4 = make_date(gangjin_2014_maxtemp[1353:1923], 2014, 4)
gangjin_2014_maxtemp_month5 = make_date(gangjin_2014_maxtemp[1924:2513], 2014, 5)
gangjin_2014_maxtemp_month6 = make_date(gangjin_2014_maxtemp[2514:3084], 2014, 6)
gangjin_2014_maxtemp_month7 = make_date(gangjin_2014_maxtemp[3085:3550], 2014, 7)
gangjin_2014_maxtemp_month8 = make_date(gangjin_2014_maxtemp[3551:4140], 2014, 8)
gangjin_2014_maxtemp_month9 = make_date(gangjin_2014_maxtemp[4141:4711], 2014, 9)
gangjin_2014_maxtemp_month10 = make_date(gangjin_2014_maxtemp[4712:5301], 2014, 10)
gangjin_2014_maxtemp_month11 = make_date(gangjin_2014_maxtemp[5302:5872], 2014, 11)
gangjin_2014_maxtemp_month12 = make_date(gangjin_2014_maxtemp[5873:6462], 2014, 12)

df_list = [gangjin_2014_maxtemp_month1, gangjin_2014_maxtemp_month2, gangjin_2014_maxtemp_month3, gangjin_2014_maxtemp_month4, gangjin_2014_maxtemp_month5,
           gangjin_2014_maxtemp_month6, gangjin_2014_maxtemp_month7, gangjin_2014_maxtemp_month8, gangjin_2014_maxtemp_month9 ,gangjin_2014_maxtemp_month10,
           gangjin_2014_maxtemp_month11, gangjin_2014_maxtemp_month12]

gangjin_2014_maxtemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_maxtemp_new1 = gangjin_2014_maxtemp_new.loc[(gangjin_2014_maxtemp_new['hour'] == 2300) & ((gangjin_2014_maxtemp_new['forecast']==4.0) | (gangjin_2014_maxtemp_new['forecast']==7.0) | (gangjin_2014_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

gangjin_2014_maxtemp_new1.columns = ['date', 'max_temp_24']

gangjin_2014_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2014-01-01          7.0
1   2014-01-02          7.0
2   2014-01-03          6.0
3   2014-01-04          6.0
4   2014-01-05          5.0
..         ...          ...
360 2014-12-27          5.0
361 2014-12-28          5.0
362 2014-12-29          5.0
363 2014-12-30          3.0
364 2014-12-31          0.0

[365 rows x 2 columns]

#### 일최저기온

In [601]:
gangjin_2014_mintemp.loc[gangjin_2014_mintemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
496,Start : 20140201,NaN,NaN,NaN
945,Start : 20140301,NaN,NaN,NaN
1442,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2420,Start : 20140601,NaN,NaN,NaN
2901,Start : 20140701,NaN,NaN,NaN
3398,Start : 20140801,NaN,NaN,NaN
3895,Start : 20140901,NaN,NaN,NaN
4376,Start : 20141001,NaN,NaN,NaN
4873,Start : 20141101,NaN,NaN,NaN
5354,,NaN,NaN,NaN

In [602]:
gangjin_2014_mintemp.columns = ['day', 'hour','forecast','value']

In [603]:
gangjin_2014_mintemp.loc[gangjin_2014_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [604]:
gangjin_2014_mintemp_month1 = make_date(gangjin_2014_mintemp[:496], 2014, 1)
gangjin_2014_mintemp_month2 = make_date(gangjin_2014_mintemp[497:945], 2014, 2)
gangjin_2014_mintemp_month3 = make_date(gangjin_2014_mintemp[946:1442], 2014, 3)
gangjin_2014_mintemp_month4 = make_date(gangjin_2014_mintemp[1443:1923], 2014, 4)
gangjin_2014_mintemp_month5 = make_date(gangjin_2014_mintemp[1924:2420], 2014, 5)
gangjin_2014_mintemp_month6 = make_date(gangjin_2014_mintemp[2421:2901], 2014, 6)
gangjin_2014_mintemp_month7 = make_date(gangjin_2014_mintemp[2902:3398], 2014, 7)
gangjin_2014_mintemp_month8 = make_date(gangjin_2014_mintemp[3399:3895], 2014, 8)
gangjin_2014_mintemp_month9 = make_date(gangjin_2014_mintemp[3896:4376], 2014, 9)
gangjin_2014_mintemp_month10 = make_date(gangjin_2014_mintemp[4377:4873], 2014, 10)
gangjin_2014_mintemp_month11 = make_date(gangjin_2014_mintemp[4874:5354], 2014, 11)
gangjin_2014_mintemp_month12 = make_date(gangjin_2014_mintemp[5355:5851], 2014, 12)

df_list = [gangjin_2014_mintemp_month1, gangjin_2014_mintemp_month2, gangjin_2014_mintemp_month3, gangjin_2014_mintemp_month4, gangjin_2014_mintemp_month5,
           gangjin_2014_mintemp_month6, gangjin_2014_mintemp_month7, gangjin_2014_mintemp_month8, gangjin_2014_mintemp_month9 ,gangjin_2014_mintemp_month10,
           gangjin_2014_mintemp_month11, gangjin_2014_mintemp_month12]

gangjin_2014_mintemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_mintemp_new1 = gangjin_2014_mintemp_new.loc[(gangjin_2014_mintemp_new['hour'] == 1400) & ((gangjin_2014_mintemp_new['forecast']==4.0) | (gangjin_2014_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

gangjin_2014_mintemp_new1.columns = ['date', 'min_temp_24']

gangjin_2014_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2014-01-01         -6.0
1   2014-01-02         -5.0
2   2014-01-03         -5.0
3   2014-01-04         -8.0
4   2014-01-05         -8.0
..         ...          ...
329 2014-11-26          1.0
330 2014-11-27          2.0
331 2014-11-28          5.0
332 2014-11-29          2.0
333 2014-11-30         -9.0

[334 rows x 2 columns]

#### 풍속

In [605]:
gangjin_2014_wind.loc[gangjin_2014_wind['hour'].isna(),:]

,format..day,hour,forecast,value..location.75_130.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [606]:
gangjin_2014_wind.columns = ['day', 'hour','forecast','value']

In [607]:
gangjin_2014_wind_month1 = make_date(gangjin_2014_wind[:4092], 2014, 1)
gangjin_2014_wind_month2 = make_date(gangjin_2014_wind[4093:7789], 2014, 2)
gangjin_2014_wind_month3 = make_date(gangjin_2014_wind[7790:11882], 2014, 3)
gangjin_2014_wind_month4 = make_date(gangjin_2014_wind[11883:16323], 2014, 4)
gangjin_2014_wind_month5 = make_date(gangjin_2014_wind[16324:20912], 2014, 5)
gangjin_2014_wind_month6 = make_date(gangjin_2014_wind[20913:25353], 2014, 6)
gangjin_2014_wind_month7 = make_date(gangjin_2014_wind[25354:29446], 2014, 7)
gangjin_2014_wind_month8 = make_date(gangjin_2014_wind[29447:34035], 2014, 8)
gangjin_2014_wind_month9 = make_date(gangjin_2014_wind[34036:38476], 2014, 9)
gangjin_2014_wind_month10 = make_date(gangjin_2014_wind[38477:43065], 2014, 10)
gangjin_2014_wind_month11 = make_date(gangjin_2014_wind[43066:47506], 2014, 11)
gangjin_2014_wind_month12 = make_date(gangjin_2014_wind[47507:52095], 2014, 12)

df_list = [gangjin_2014_wind_month1, gangjin_2014_wind_month2, gangjin_2014_wind_month3, gangjin_2014_wind_month4, gangjin_2014_wind_month5,
           gangjin_2014_wind_month6, gangjin_2014_wind_month7, gangjin_2014_wind_month8, gangjin_2014_wind_month9, gangjin_2014_wind_month10,
           gangjin_2014_wind_month11, gangjin_2014_wind_month12]

gangjin_2014_wind_new = pd.concat(df_list, ignore_index = True)

gangjin_2014_wind_new1_24 = gangjin_2014_wind_new.loc[(gangjin_2014_wind_new['hour'] == 1400) & ((gangjin_2014_wind_new['forecast']>=4.0) & (gangjin_2014_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2014_wind_new1_48 = gangjin_2014_wind_new.loc[(gangjin_2014_wind_new['hour'] == 1400) & ((gangjin_2014_wind_new['forecast']>=28.0) & (gangjin_2014_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2014_wind_new1_24.columns = ['date', 'wind_24']
gangjin_2014_wind_new1_48.columns = ['date', 'wind_48']

gangjin_2014_wind_new2 = pd.concat([gangjin_2014_wind_new1_24, gangjin_2014_wind_new1_48['wind_48']], axis=1)
gangjin_2014_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2014-01-01    1.625    1.125
1   2014-01-02    0.700    1.250
2   2014-01-03    1.125    1.125
3   2014-01-04    0.725    0.600
4   2014-01-05    0.500    1.300
..         ...      ...      ...
360 2014-12-27    1.000    1.000
361 2014-12-28    1.375    1.875
362 2014-12-29    1.375    2.375
363 2014-12-30    2.625    3.000
364 2014-12-31    2.750    2.625

[365 rows x 3 columns]

#### 2014년 울진읍 merge

In [608]:
from functools import reduce
dfs = [gangjin_2014_rainfall_new1, gangjin_2014_snow_new1, gangjin_2014_temp3_new2, gangjin_2014_humid_new2,gangjin_2014_maxtemp_new1,
       gangjin_2014_mintemp_new1,gangjin_2014_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [609]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2014-01-01,0.0,0.0,-0.625,-1.000,63.750,75.625,7.0,-6.0,1.625,1.125
1,2014-01-02,0.0,0.0,0.375,0.000,60.625,68.750,7.0,-5.0,0.700,1.250
2,2014-01-03,0.0,0.0,-0.375,-1.250,70.625,68.750,6.0,-5.0,1.125,1.125
3,2014-01-04,0.0,0.0,-2.125,-2.250,78.125,65.625,6.0,-8.0,0.725,0.600
4,2014-01-05,0.0,0.0,-2.375,-0.375,74.375,77.500,5.0,-8.0,0.500,1.300
...,...,...,...,...,...,...,...,...,...,...,...
299,2014-12-27,0.0,0.0,-3.125,-0.625,73.125,73.125,5.0,NaN,1.000,1.000
300,2014-12-28,0.0,0.0,-0.375,-0.625,73.750,63.125,5.0,NaN,1.375,1.875
301,2014-12-29,0.0,0.0,0.250,-2.500,68.750,76.250,5.0,NaN,1.375,2.375
302,2014-12-30,5.0,5.0,-2.500,-7.750,59.375,45.625,3.0,NaN,2.625,3.000
303,2014-12-31,0.0,0.0,-7.375,-6.375,43.125,50.625,0.0,NaN,2.750,2.625

In [610]:
sdf.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/강원/강원_홍천읍_2014.csv', index=False)

### 2015년

In [611]:
gangjin_2015_rainfall = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_6시간강수량_201501_201512.csv')
gangjin_2015_snow = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_6시간적설_201501_201512.csv')
gangjin_2015_temp3 = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_3시간기온_201501_201512.csv')
gangjin_2015_humid = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_습도_201501_201512.csv')
gangjin_2015_maxtemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_일최고기온_201501_201512.csv')
gangjin_2015_mintemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_일최저기온_201501_201512.csv')
gangjin_2015_wind = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2015/강원/홍천읍_풍속_201501_201512.csv')

#### 6시간강수량

In [612]:
gangjin_2015_rainfall.loc[gangjin_2015_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [613]:
gangjin_2015_rainfall.loc[gangjin_2015_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [614]:
gangjin_2015_rainfall.columns = ['day', 'hour','forecast','value']

In [615]:
gangjin_2015_rainfall_month1 = make_date(gangjin_2015_rainfall[:2356], 2015, 1)
gangjin_2015_rainfall_month2 = make_date(gangjin_2015_rainfall[2357:4485], 2015, 2)
gangjin_2015_rainfall_month3 = make_date(gangjin_2015_rainfall[4486:6842], 2015, 3)
gangjin_2015_rainfall_month4 = make_date(gangjin_2015_rainfall[6843:9123], 2015, 4)
gangjin_2015_rainfall_month5 = make_date(gangjin_2015_rainfall[9124:10709], 2015, 5)
gangjin_2015_rainfall_month6 = make_date(gangjin_2015_rainfall[10710:12990], 2015, 6)
gangjin_2015_rainfall_month7 = make_date(gangjin_2015_rainfall[12991:15347], 2015, 7)
gangjin_2015_rainfall_month8 = make_date(gangjin_2015_rainfall[15348:17704], 2015, 8)
gangjin_2015_rainfall_month9 = make_date(gangjin_2015_rainfall[17705:19985], 2015, 9)
gangjin_2015_rainfall_month10 = make_date(gangjin_2015_rainfall[19986:22342], 2015, 10)
gangjin_2015_rainfall_month11 = make_date(gangjin_2015_rainfall[22343:24623], 2015, 11)
gangjin_2015_rainfall_month12 = make_date(gangjin_2015_rainfall[24624:], 2015, 12)


df_list = [gangjin_2015_rainfall_month1, gangjin_2015_rainfall_month2, gangjin_2015_rainfall_month3, gangjin_2015_rainfall_month4, gangjin_2015_rainfall_month5,
           gangjin_2015_rainfall_month6, gangjin_2015_rainfall_month7, gangjin_2015_rainfall_month8, gangjin_2015_rainfall_month9,gangjin_2015_rainfall_month10,
           gangjin_2015_rainfall_month11, gangjin_2015_rainfall_month12]

gangjin_2015_rainfall_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_rainfall_new1 = gangjin_2015_rainfall_new.loc[(gangjin_2015_rainfall_new['hour'] == 1400) & ((gangjin_2015_rainfall_new['forecast']>=7.0) & (gangjin_2015_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gangjin_2015_rainfall_new1.columns = ['date', 'rainfall_24']
gangjin_2015_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2015-01-01          0.0
1   2015-01-02          0.0
2   2015-01-03          0.0
3   2015-01-04          5.0
4   2015-01-05          5.0
..         ...          ...
350 2015-12-27          0.0
351 2015-12-28          0.0
352 2015-12-29          6.0
353 2015-12-30          0.0
354 2015-12-31          0.0

[355 rows x 2 columns]

#### 6시간적설

In [616]:
gangjin_2015_snow.loc[gangjin_2015_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [617]:
gangjin_2015_snow.loc[gangjin_2015_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [618]:
gangjin_2015_snow.columns = ['day', 'hour','forecast','value']

In [619]:
gangjin_2015_snow_month1 = make_date(gangjin_2015_snow[:2356],2015, 1)
gangjin_2015_snow_month2 = make_date(gangjin_2015_snow[2357:4485], 2015, 2)
gangjin_2015_snow_month3 = make_date(gangjin_2015_snow[4486:6842], 2015, 3)
gangjin_2015_snow_month4 = make_date(gangjin_2015_snow[6843:9123], 2015, 4)
gangjin_2015_snow_month5 = make_date(gangjin_2015_snow[9124:10709], 2015, 5)
gangjin_2015_snow_month6 = make_date(gangjin_2015_snow[10710:12990], 2015, 6)
gangjin_2015_snow_month7 = make_date(gangjin_2015_snow[12991:15347],2015, 7)
gangjin_2015_snow_month8 = make_date(gangjin_2015_snow[15348:17704], 2015, 8)
gangjin_2015_snow_month9 = make_date(gangjin_2015_snow[17705:19985], 2015, 9)
gangjin_2015_snow_month10 = make_date(gangjin_2015_snow[19986:22342], 2015, 10)
gangjin_2015_snow_month11 = make_date(gangjin_2015_snow[22343:24623], 2015, 11)
gangjin_2015_snow_month12 = make_date(gangjin_2015_snow[24624:], 2015, 12)


df_list = [gangjin_2015_snow_month1, gangjin_2015_snow_month2, gangjin_2015_snow_month3, gangjin_2015_snow_month4, gangjin_2015_snow_month5,
           gangjin_2015_snow_month6, gangjin_2015_snow_month7, gangjin_2015_snow_month8, gangjin_2015_snow_month9, gangjin_2015_snow_month10, 
           gangjin_2015_snow_month11, gangjin_2015_snow_month12]

gangjin_2015_snow_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_snow_new1 = gangjin_2015_snow_new.loc[(gangjin_2015_snow_new['hour'] == 1400) & ((gangjin_2015_snow_new['forecast']>=7.0) & (gangjin_2015_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gangjin_2015_snow_new1.columns = ['date', 'snow_24']
gangjin_2015_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2015-01-01      0.0
1   2015-01-02      0.0
2   2015-01-03      0.0
3   2015-01-04      1.0
4   2015-01-05      5.0
..         ...      ...
350 2015-12-27      0.0
351 2015-12-28      0.0
352 2015-12-29      6.0
353 2015-12-30      0.0
354 2015-12-31      0.0

[355 rows x 2 columns]

#### 3시간기온

In [620]:
gangjin_2015_temp3.loc[gangjin_2015_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [621]:
gangjin_2015_temp3.columns = ['day', 'hour','forecast','value']

In [622]:
gangjin_2015_temp3_month1 = make_date(gangjin_2015_temp3[:4588], 2015, 1)
gangjin_2015_temp3_month2 = make_date(gangjin_2015_temp3[4589:8733], 2015, 2)
gangjin_2015_temp3_month3 = make_date(gangjin_2015_temp3[8734:13322], 2015, 3)
gangjin_2015_temp3_month4 = make_date(gangjin_2015_temp3[13323:17763], 2015, 4)
gangjin_2015_temp3_month5 = make_date(gangjin_2015_temp3[17764:20851], 2015, 5)
gangjin_2015_temp3_month6 = make_date(gangjin_2015_temp3[20852:25292], 2015, 6)
gangjin_2015_temp3_month7 = make_date(gangjin_2015_temp3[25293:29881], 2015, 7)
gangjin_2015_temp3_month8 = make_date(gangjin_2015_temp3[29882:34470], 2015, 8)
gangjin_2015_temp3_month9 = make_date(gangjin_2015_temp3[34471:38911], 2015, 9)
gangjin_2015_temp3_month10 = make_date(gangjin_2015_temp3[38912:43500], 2015, 10)
gangjin_2015_temp3_month11 = make_date(gangjin_2015_temp3[43501:47941], 2015, 11)
gangjin_2015_temp3_month12 = make_date(gangjin_2015_temp3[47942:],2015, 12)


df_list = [gangjin_2015_temp3_month1, gangjin_2015_temp3_month2, gangjin_2015_temp3_month3, gangjin_2015_temp3_month4,gangjin_2015_temp3_month5,
           gangjin_2015_temp3_month6, gangjin_2015_temp3_month7, gangjin_2015_temp3_month8, gangjin_2015_temp3_month9,gangjin_2015_temp3_month10,
           gangjin_2015_temp3_month11, gangjin_2015_temp3_month12]

gangjin_2015_temp3_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_temp3_new1_24 = gangjin_2015_temp3_new.loc[(gangjin_2015_temp3_new['hour'] == 1400) & ((gangjin_2015_temp3_new['forecast']>=4.0) & (gangjin_2015_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2015_temp3_new1_48 = gangjin_2015_temp3_new.loc[(gangjin_2015_temp3_new['hour'] == 1400) & ((gangjin_2015_temp3_new['forecast']>=28.0) & (gangjin_2015_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2015_temp3_new1_24.columns = ['date', 'temp_24']
gangjin_2015_temp3_new1_48.columns = ['date', 'temp_48']

gangjin_2015_temp3_new2 = pd.concat([gangjin_2015_temp3_new1_24, gangjin_2015_temp3_new1_48['temp_48']], axis=1)
gangjin_2015_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2015-01-01   -6.500   -6.625
1   2015-01-02   -6.500   -0.875
2   2015-01-03   -0.625    1.000
3   2015-01-04    0.500   -1.125
4   2015-01-05   -0.750   -6.375
..         ...      ...      ...
350 2015-12-27   -5.750   -4.750
351 2015-12-28   -5.250   -1.625
352 2015-12-29   -2.500    0.250
353 2015-12-30   -0.250   -0.875
354 2015-12-31   -0.500    1.875

[355 rows x 3 columns]

#### 습도

In [623]:
gangjin_2015_humid.loc[gangjin_2015_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20519,Start : 20150601,NaN,NaN,NaN
24960,Start : 20150701,NaN,NaN,NaN
29549,Start : 20150801,NaN,NaN,NaN
34138,Start : 20150901,NaN,NaN,NaN
38579,Start : 20151001,NaN,NaN,NaN
43168,Start : 20151101,NaN,NaN,NaN
47609,Start : 20151201,NaN,NaN,NaN

In [624]:
gangjin_2015_humid.columns = ['day', 'hour','forecast','value']

In [625]:
gangjin_2015_humid_month1 = make_date(gangjin_2015_humid[:4588], 2015, 1)
gangjin_2015_humid_month2 = make_date(gangjin_2015_humid[4589:8733], 2015, 2)
gangjin_2015_humid_month3 = make_date(gangjin_2015_humid[8734:13322], 2015, 3)
gangjin_2015_humid_month4 = make_date(gangjin_2015_humid[13323:17763], 2015, 4)
gangjin_2015_humid_month5 = make_date(gangjin_2015_humid[17764:20519], 2015, 5)
gangjin_2015_humid_month6 = make_date(gangjin_2015_humid[20520:24960], 2015, 6)
gangjin_2015_humid_month7 = make_date(gangjin_2015_humid[24961:29549], 2015, 7)
gangjin_2015_humid_month8 = make_date(gangjin_2015_humid[29550:34138], 2015, 8)
gangjin_2015_humid_month9 = make_date(gangjin_2015_humid[34139:38579], 2015, 9)
gangjin_2015_humid_month10 = make_date(gangjin_2015_humid[38580:43168], 2015, 10)
gangjin_2015_humid_month11 = make_date(gangjin_2015_humid[43169:47609], 2015, 11)
gangjin_2015_humid_month12 = make_date(gangjin_2015_humid[47610:], 2015, 12)

df_list = [gangjin_2015_humid_month1, gangjin_2015_humid_month2, gangjin_2015_humid_month3, gangjin_2015_humid_month4, gangjin_2015_humid_month5,
           gangjin_2015_humid_month6, gangjin_2015_humid_month7, gangjin_2015_humid_month8, gangjin_2015_humid_month9, gangjin_2015_humid_month10,
           gangjin_2015_humid_month11, gangjin_2015_humid_month12]

gangjin_2015_humid_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_humid_new1_24 = gangjin_2015_humid_new.loc[(gangjin_2015_humid_new['hour'] == 1400) & ((gangjin_2015_humid_new['forecast']>=4.0) & (gangjin_2015_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2015_humid_new1_48 = gangjin_2015_humid_new.loc[(gangjin_2015_humid_new['hour'] == 1400) & ((gangjin_2015_humid_new['forecast']>=28.0) & (gangjin_2015_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2015_humid_new1_24.columns = ['date', 'humid_24']
gangjin_2015_humid_new1_48.columns = ['date', 'humid_48']

gangjin_2015_humid_new2 = pd.concat([gangjin_2015_humid_new1_24, gangjin_2015_humid_new1_48['humid_48']], axis=1)
gangjin_2015_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2015-01-01    51.875    69.375
1   2015-01-02    71.875    79.375
2   2015-01-03    78.750    82.500
3   2015-01-04    83.125    61.875
4   2015-01-05    58.125    51.875
..         ...       ...       ...
350 2015-12-27    46.250    64.375
351 2015-12-28    60.625    86.250
352 2015-12-29    83.125    80.625
353 2015-12-30    73.750    68.750
354 2015-12-31    78.125    80.625

[355 rows x 3 columns]

#### 일최고기온

In [626]:
gangjin_2015_maxtemp.loc[gangjin_2015_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
589,Start : 20150201,NaN,NaN,NaN
1122,Start : 20150301,NaN,NaN,NaN
1712,Start : 20150401,NaN,NaN,NaN
2283,Start : 20150501,NaN,NaN,NaN
2680,Start : 20150601,NaN,NaN,NaN
3251,Start : 20150701,NaN,NaN,NaN
3841,Start : 20150801,NaN,NaN,NaN
4431,Start : 20150901,NaN,NaN,NaN
5002,Start : 20151001,NaN,NaN,NaN
5592,Start : 20151101,NaN,NaN,NaN
6163,Start : 20151201,NaN,NaN,NaN

In [627]:
gangjin_2015_maxtemp.columns = ['day', 'hour','forecast','value']

In [628]:
gangjin_2015_maxtemp.loc[gangjin_2015_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [629]:
gangjin_2015_maxtemp_month1 = make_date(gangjin_2015_maxtemp[:589], 2015, 1)
gangjin_2015_maxtemp_month2 = make_date(gangjin_2015_maxtemp[590:1122], 2015, 2)
gangjin_2015_maxtemp_month3 = make_date(gangjin_2015_maxtemp[1123:1712], 2015, 3)
gangjin_2015_maxtemp_month4 = make_date(gangjin_2015_maxtemp[1713:2283], 2015, 4)
gangjin_2015_maxtemp_month5 = make_date(gangjin_2015_maxtemp[2284:2680], 2015, 5)
gangjin_2015_maxtemp_month6 = make_date(gangjin_2015_maxtemp[2681:3251], 2015, 6)
gangjin_2015_maxtemp_month7 = make_date(gangjin_2015_maxtemp[3252:3841], 2015, 7)
gangjin_2015_maxtemp_month8 = make_date(gangjin_2015_maxtemp[3842:4431], 2015, 8)
gangjin_2015_maxtemp_month9 = make_date(gangjin_2015_maxtemp[4432:5002], 2015, 9)
gangjin_2015_maxtemp_month10 = make_date(gangjin_2015_maxtemp[5003:5592], 2015, 10)
gangjin_2015_maxtemp_month11 = make_date(gangjin_2015_maxtemp[5593:6163], 2015, 11)
gangjin_2015_maxtemp_month12 = make_date(gangjin_2015_maxtemp[6164:], 2015, 12)

df_list = [gangjin_2015_maxtemp_month1, gangjin_2015_maxtemp_month2, gangjin_2015_maxtemp_month3, gangjin_2015_maxtemp_month4, gangjin_2015_maxtemp_month5,
           gangjin_2015_maxtemp_month6, gangjin_2015_maxtemp_month7, gangjin_2015_maxtemp_month8, gangjin_2015_maxtemp_month9 ,gangjin_2015_maxtemp_month10,
           gangjin_2015_maxtemp_month11, gangjin_2015_maxtemp_month12]

gangjin_2015_maxtemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_maxtemp_new1 = gangjin_2015_maxtemp_new.loc[(gangjin_2015_maxtemp_new['hour'] == 2300) & ((gangjin_2015_maxtemp_new['forecast']==4.0) | (gangjin_2015_maxtemp_new['forecast']==7.0) | (gangjin_2015_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

gangjin_2015_maxtemp_new1.columns = ['date', 'max_temp_24']

gangjin_2015_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2015-01-01          4.0
1   2015-01-02          6.0
2   2015-01-03          5.0
3   2015-01-04          4.0
4   2015-01-05          2.0
..         ...          ...
349 2015-12-27          3.0
350 2015-12-28          6.0
351 2015-12-29          5.0
352 2015-12-30          7.0
353 2015-12-31          8.0

[354 rows x 2 columns]

#### 일최저기온

In [630]:
gangjin_2015_mintemp.loc[gangjin_2015_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
496,Start : 20150201,NaN,NaN,NaN
945,Start : 20150301,NaN,NaN,NaN
1442,Start : 20150401,NaN,NaN,NaN
1923,Start : 20150501,NaN,NaN,NaN
2258,Start : 20150601,NaN,NaN,NaN
2739,Start : 20150701,NaN,NaN,NaN
3236,Start : 20150801,NaN,NaN,NaN
3733,Start : 20150901,NaN,NaN,NaN
4214,Start : 20151001,NaN,NaN,NaN
4711,Start : 20151101,NaN,NaN,NaN
5192,Start : 20151201,NaN,NaN,NaN

In [631]:
gangjin_2015_mintemp.columns = ['day', 'hour','forecast','value']

In [632]:
gangjin_2015_mintemp.loc[gangjin_2015_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [633]:
gangjin_2015_mintemp_month1 = make_date(gangjin_2015_mintemp[:496], 2015, 1)
gangjin_2015_mintemp_month2 = make_date(gangjin_2015_mintemp[497:945], 2015, 2)
gangjin_2015_mintemp_month3 = make_date(gangjin_2015_mintemp[946:1442], 2015, 3)
gangjin_2015_mintemp_month4 = make_date(gangjin_2015_mintemp[1443:1923], 2015, 4)
gangjin_2015_mintemp_month5 = make_date(gangjin_2015_mintemp[1924:2258], 2015, 5)
gangjin_2015_mintemp_month6 = make_date(gangjin_2015_mintemp[2259:2739], 2015, 6)
gangjin_2015_mintemp_month7 = make_date(gangjin_2015_mintemp[2740:3236], 2015, 7)
gangjin_2015_mintemp_month8 = make_date(gangjin_2015_mintemp[3237:3733], 2015, 8)
gangjin_2015_mintemp_month9 = make_date(gangjin_2015_mintemp[3734:4214], 2015, 9)
gangjin_2015_mintemp_month10 = make_date(gangjin_2015_mintemp[4215:4711], 2015, 10)
gangjin_2015_mintemp_month11 = make_date(gangjin_2015_mintemp[4712:5192], 2015, 11)
gangjin_2015_mintemp_month12 = make_date(gangjin_2015_mintemp[5193:], 2015, 12)

df_list = [gangjin_2015_mintemp_month1, gangjin_2015_mintemp_month2, gangjin_2015_mintemp_month3, gangjin_2015_mintemp_month4, gangjin_2015_mintemp_month5,
           gangjin_2015_mintemp_month6, gangjin_2015_mintemp_month7, gangjin_2015_mintemp_month8, gangjin_2015_mintemp_month9 ,gangjin_2015_mintemp_month10,
           gangjin_2015_mintemp_month11, gangjin_2015_mintemp_month12]

gangjin_2015_mintemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_mintemp_new1 = gangjin_2015_mintemp_new.loc[(gangjin_2015_mintemp_new['hour'] == 1400) & ((gangjin_2015_mintemp_new['forecast']==4.0) | (gangjin_2015_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

gangjin_2015_mintemp_new1.columns = ['date', 'min_temp_24']

gangjin_2015_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2015-01-01        -13.0
1   2015-01-02        -13.0
2   2015-01-03         -4.0
3   2015-01-04         -4.0
4   2015-01-05        -11.0
..         ...          ...
350 2015-12-27        -11.0
351 2015-12-28        -12.0
352 2015-12-29         -7.0
353 2015-12-30         -6.0
354 2015-12-31         -6.0

[355 rows x 2 columns]

#### 풍속

In [634]:
gangjin_2015_wind.loc[gangjin_2015_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [635]:
gangjin_2015_wind.columns = ['day', 'hour','forecast','value']

In [636]:
gangjin_2015_wind_month1 = make_date(gangjin_2015_wind[:4588], 2015, 1)
gangjin_2015_wind_month2 = make_date(gangjin_2015_wind[4589:8733], 2015, 2)
gangjin_2015_wind_month3 = make_date(gangjin_2015_wind[8734:13322], 2015, 3)
gangjin_2015_wind_month4 = make_date(gangjin_2015_wind[13323:17763], 2015, 4)
gangjin_2015_wind_month5 = make_date(gangjin_2015_wind[17764:20851], 2015, 5)
gangjin_2015_wind_month6 = make_date(gangjin_2015_wind[20852:25292], 2015, 6)
gangjin_2015_wind_month7 = make_date(gangjin_2015_wind[25293:29881], 2015, 7)
gangjin_2015_wind_month8 = make_date(gangjin_2015_wind[29882:34470], 2015, 8)
gangjin_2015_wind_month9 = make_date(gangjin_2015_wind[34471:38911], 2015, 9)
gangjin_2015_wind_month10 = make_date(gangjin_2015_wind[38912:43500], 2015, 10)
gangjin_2015_wind_month11 = make_date(gangjin_2015_wind[43501:47941], 2015, 11)
gangjin_2015_wind_month12 = make_date(gangjin_2015_wind[47942:], 2015, 12)

df_list = [gangjin_2015_wind_month1, gangjin_2015_wind_month2, gangjin_2015_wind_month3, gangjin_2015_wind_month4, gangjin_2015_wind_month5,
           gangjin_2015_wind_month6, gangjin_2015_wind_month7, gangjin_2015_wind_month8, gangjin_2015_wind_month9, gangjin_2015_wind_month10,
           gangjin_2015_wind_month11, gangjin_2015_wind_month12]

gangjin_2015_wind_new = pd.concat(df_list, ignore_index = True)

gangjin_2015_wind_new1_24 = gangjin_2015_wind_new.loc[(gangjin_2015_wind_new['hour'] == 1400) & ((gangjin_2015_wind_new['forecast']>=4.0) & (gangjin_2015_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2015_wind_new1_48 = gangjin_2015_wind_new.loc[(gangjin_2015_wind_new['hour'] == 1400) & ((gangjin_2015_wind_new['forecast']>=28.0) & (gangjin_2015_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2015_wind_new1_24.columns = ['date', 'wind_24']
gangjin_2015_wind_new1_48.columns = ['date', 'wind_48']

gangjin_2015_wind_new2 = pd.concat([gangjin_2015_wind_new1_24, gangjin_2015_wind_new1_48['wind_48']], axis=1)
gangjin_2015_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2015-01-01   2.1250    1.125
1   2015-01-02   1.0000    1.000
2   2015-01-03   1.3750    1.250
3   2015-01-04   0.4375    2.375
4   2015-01-05   2.1250    1.625
..         ...      ...      ...
350 2015-12-27   1.6250    1.125
351 2015-12-28   1.0000    1.000
352 2015-12-29   1.0000    1.250
353 2015-12-30   1.0000    2.750
354 2015-12-31   2.5000    1.125

[355 rows x 3 columns]

#### 2015년 울진읍 merge

In [637]:
from functools import reduce
dfs = [gangjin_2015_rainfall_new1, gangjin_2015_snow_new1, gangjin_2015_temp3_new2, gangjin_2015_humid_new2,gangjin_2015_maxtemp_new1,
       gangjin_2015_mintemp_new1, gangjin_2015_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [638]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2015-01-01,0.0,0.0,-6.500,-6.625,51.875,69.375,4.0,-13.0,2.1250,1.125
1,2015-01-02,0.0,0.0,-6.500,-0.875,71.875,79.375,6.0,-13.0,1.0000,1.000
2,2015-01-03,0.0,0.0,-0.625,1.000,78.750,82.500,5.0,-4.0,1.3750,1.250
3,2015-01-04,5.0,1.0,0.500,-1.125,83.125,61.875,4.0,-4.0,0.4375,2.375
4,2015-01-05,5.0,5.0,-0.750,-6.375,58.125,51.875,2.0,-11.0,2.1250,1.625
...,...,...,...,...,...,...,...,...,...,...,...
350,2015-12-27,0.0,0.0,-5.750,-4.750,46.250,64.375,3.0,-11.0,1.6250,1.125
351,2015-12-28,0.0,0.0,-5.250,-1.625,60.625,86.250,6.0,-12.0,1.0000,1.000
352,2015-12-29,6.0,6.0,-2.500,0.250,83.125,80.625,5.0,-7.0,1.0000,1.250
353,2015-12-30,0.0,0.0,-0.250,-0.875,73.750,68.750,7.0,-6.0,1.0000,2.750
354,2015-12-31,0.0,0.0,-0.500,1.875,78.125,80.625,8.0,-6.0,2.5000,1.125

In [639]:
sdf.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/강원/강원_홍천읍_2015.csv', index=False)

### 2016년

In [640]:
gangjin_2016_rainfall = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_6시간강수량_201601_201612.csv')
gangjin_2016_snow = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_6시간적설_201601_201612.csv')
gangjin_2016_temp3 = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_3시간기온_201601_201612.csv')
gangjin_2016_humid = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_습도_201601_201612.csv')
gangjin_2016_maxtemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_일최고기온_201601_201612.csv')
gangjin_2016_mintemp = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_일최저기온_201601_201612.csv')
gangjin_2016_wind = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/예보데이터 원본/2016/강원/홍천읍_풍속_201601_201612.csv')

#### 6시간강수량

In [641]:
gangjin_2016_rainfall.loc[gangjin_2016_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [642]:
gangjin_2016_rainfall.columns = ['day', 'hour','forecast','value']

In [643]:
gangjin_2016_rainfall.loc[gangjin_2016_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [644]:
gangjin_2016_rainfall_month1 = make_date(gangjin_2016_rainfall[:2356], 2016, 1)
gangjin_2016_rainfall_month2 = make_date(gangjin_2016_rainfall[2357:4561], 2016, 2)
gangjin_2016_rainfall_month3 = make_date(gangjin_2016_rainfall[4562:6918], 2016, 3)
gangjin_2016_rainfall_month4 = make_date(gangjin_2016_rainfall[6919:9199], 2016, 4)
gangjin_2016_rainfall_month5 = make_date(gangjin_2016_rainfall[9200:11556], 2016, 5)
gangjin_2016_rainfall_month6 = make_date(gangjin_2016_rainfall[11557:13837], 2016, 6)
gangjin_2016_rainfall_month7 = make_date(gangjin_2016_rainfall[13838:16194], 2016, 7)
gangjin_2016_rainfall_month8 = make_date(gangjin_2016_rainfall[16195:18551], 2016, 8)
gangjin_2016_rainfall_month9 = make_date(gangjin_2016_rainfall[18552:20832], 2016, 9)
gangjin_2016_rainfall_month10 = make_date(gangjin_2016_rainfall[20833:23189], 2016, 10)
gangjin_2016_rainfall_month11 = make_date(gangjin_2016_rainfall[23190:25470], 2016, 11)
gangjin_2016_rainfall_month12 = make_date(gangjin_2016_rainfall[25471:], 2016, 12)


df_list = [gangjin_2016_rainfall_month1, gangjin_2016_rainfall_month2, gangjin_2016_rainfall_month3, gangjin_2016_rainfall_month4, gangjin_2016_rainfall_month5,
           gangjin_2016_rainfall_month6, gangjin_2016_rainfall_month7, gangjin_2016_rainfall_month8, gangjin_2016_rainfall_month9,gangjin_2016_rainfall_month10,
           gangjin_2016_rainfall_month11, gangjin_2016_rainfall_month12]

gangjin_2016_rainfall_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_rainfall_new1 = gangjin_2016_rainfall_new.loc[(gangjin_2016_rainfall_new['hour'] == 1400) & ((gangjin_2016_rainfall_new['forecast']>=7.0) & (gangjin_2016_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gangjin_2016_rainfall_new1.columns = ['date', 'rainfall_24']
gangjin_2016_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2016-01-01          2.0
1   2016-01-02          0.0
2   2016-01-03          0.0
3   2016-01-04          0.0
4   2016-01-05          0.0
..         ...          ...
361 2016-12-27          0.0
362 2016-12-28          5.0
363 2016-12-29          0.0
364 2016-12-30          0.0
365 2016-12-31          0.0

[366 rows x 2 columns]

#### 6시간적설

In [645]:
gangjin_2016_snow.loc[gangjin_2016_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [646]:
gangjin_2016_snow.columns = ['day', 'hour','forecast','value']

In [647]:
gangjin_2016_snow.loc[gangjin_2016_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [648]:
gangjin_2016_snow_month1 = make_date(gangjin_2016_snow[:2356], 2016, 1)
gangjin_2016_snow_month2 = make_date(gangjin_2016_snow[2357:4561], 2016, 2)
gangjin_2016_snow_month3 = make_date(gangjin_2016_snow[4562:6918], 2016, 3)
gangjin_2016_snow_month4 = make_date(gangjin_2016_snow[6919:9199], 2016, 4)
gangjin_2016_snow_month5 = make_date(gangjin_2016_snow[9200:11556], 2016, 5)
gangjin_2016_snow_month6 = make_date(gangjin_2016_snow[11557:13837], 2016, 6)
gangjin_2016_snow_month7 = make_date(gangjin_2016_snow[13838:16194], 2016, 7)
gangjin_2016_snow_month8 = make_date(gangjin_2016_snow[16195:18551], 2016, 8)
gangjin_2016_snow_month9 = make_date(gangjin_2016_snow[18552:20832], 2016, 9)
gangjin_2016_snow_month10 = make_date(gangjin_2016_snow[20833:23189], 2016, 10)
gangjin_2016_snow_month11 = make_date(gangjin_2016_snow[23190:25470], 2016, 11)
gangjin_2016_snow_month12 = make_date(gangjin_2016_snow[25471:], 2016, 12)


df_list = [gangjin_2016_snow_month1, gangjin_2016_snow_month2, gangjin_2016_snow_month3, gangjin_2016_snow_month4, gangjin_2016_snow_month5,
           gangjin_2016_snow_month6, gangjin_2016_snow_month7, gangjin_2016_snow_month8, gangjin_2016_snow_month9, gangjin_2016_snow_month10, 
           gangjin_2016_snow_month11, gangjin_2016_snow_month12]

gangjin_2016_snow_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_snow_new1 = gangjin_2016_snow_new.loc[(gangjin_2016_snow_new['hour'] == 1400) & ((gangjin_2016_snow_new['forecast']>=7.0) & (gangjin_2016_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

gangjin_2016_snow_new1.columns = ['date', 'snow_24']
gangjin_2016_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2016-01-01      2.0
1   2016-01-02      0.0
2   2016-01-03      0.0
3   2016-01-04      0.0
4   2016-01-05      0.0
..         ...      ...
361 2016-12-27      0.0
362 2016-12-28      5.0
363 2016-12-29      0.0
364 2016-12-30      0.0
365 2016-12-31      0.0

[366 rows x 2 columns]

#### 3시간기온

In [649]:
gangjin_2016_temp3.loc[gangjin_2016_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [650]:
gangjin_2016_temp3.columns = ['day', 'hour','forecast','value']

In [651]:
gangjin_2016_temp3_month1 = make_date(gangjin_2016_temp3[:4588], 2016, 1)
gangjin_2016_temp3_month2 = make_date(gangjin_2016_temp3[4589:8881], 2016, 2)
gangjin_2016_temp3_month3 = make_date(gangjin_2016_temp3[8882:13470], 2016, 3)
gangjin_2016_temp3_month4 = make_date(gangjin_2016_temp3[13471:17911], 2016, 4)
gangjin_2016_temp3_month5 = make_date(gangjin_2016_temp3[17912:22500], 2016, 5)
gangjin_2016_temp3_month6 = make_date(gangjin_2016_temp3[22501:26941], 2016, 6)
gangjin_2016_temp3_month7 = make_date(gangjin_2016_temp3[26942:31530], 2016, 7)
gangjin_2016_temp3_month8 = make_date(gangjin_2016_temp3[31531:36119], 2016, 8)
gangjin_2016_temp3_month9 = make_date(gangjin_2016_temp3[36120:40560], 2016, 9)
gangjin_2016_temp3_month10 = make_date(gangjin_2016_temp3[40561:45149], 2016, 10)
gangjin_2016_temp3_month11 = make_date(gangjin_2016_temp3[45150:49590], 2016, 11)
gangjin_2016_temp3_month12 = make_date(gangjin_2016_temp3[49591:],2016, 12)


df_list = [gangjin_2016_temp3_month1, gangjin_2016_temp3_month2, gangjin_2016_temp3_month3, gangjin_2016_temp3_month4,gangjin_2016_temp3_month5,
           gangjin_2016_temp3_month6, gangjin_2016_temp3_month7, gangjin_2016_temp3_month8, gangjin_2016_temp3_month9,gangjin_2016_temp3_month10,
           gangjin_2016_temp3_month11, gangjin_2016_temp3_month12]

gangjin_2016_temp3_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_temp3_new1_24 = gangjin_2016_temp3_new.loc[(gangjin_2016_temp3_new['hour'] == 1400) & ((gangjin_2016_temp3_new['forecast']>=4.0) & (gangjin_2016_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2016_temp3_new1_48 = gangjin_2016_temp3_new.loc[(gangjin_2016_temp3_new['hour'] == 1400) & ((gangjin_2016_temp3_new['forecast']>=28.0) & (gangjin_2016_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2016_temp3_new1_24.columns = ['date', 'temp_24']
gangjin_2016_temp3_new1_48.columns = ['date', 'temp_48']

gangjin_2016_temp3_new2 = pd.concat([gangjin_2016_temp3_new1_24, gangjin_2016_temp3_new1_48['temp_48']], axis=1)
gangjin_2016_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2016-01-01    2.500    2.500
1   2016-01-02    3.750    2.500
2   2016-01-03    2.125   -2.500
3   2016-01-04   -2.750   -2.750
4   2016-01-05   -3.250   -4.250
..         ...      ...      ...
361 2016-12-27   -4.125   -2.625
362 2016-12-28   -3.375   -5.125
363 2016-12-29   -3.625   -0.875
364 2016-12-30   -1.000    0.500
365 2016-12-31    0.750    2.625

[366 rows x 3 columns]

#### 습도

In [652]:
gangjin_2016_humid.loc[gangjin_2016_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [653]:
gangjin_2016_humid.columns = ['day', 'hour','forecast','value']

In [654]:
gangjin_2016_humid_month1 = make_date(gangjin_2016_humid[:4588], 2016, 1)
gangjin_2016_humid_month2 = make_date(gangjin_2016_humid[4589:8881], 2016, 2)
gangjin_2016_humid_month3 = make_date(gangjin_2016_humid[8882:13470], 2016, 3)
gangjin_2016_humid_month4 = make_date(gangjin_2016_humid[13471:17911], 2016, 4)
gangjin_2016_humid_month5 = make_date(gangjin_2016_humid[17912:22500], 2016, 5)
gangjin_2016_humid_month6 = make_date(gangjin_2016_humid[22501:26941], 2016, 6)
gangjin_2016_humid_month7 = make_date(gangjin_2016_humid[26942:31530], 2016, 7)
gangjin_2016_humid_month8 = make_date(gangjin_2016_humid[31531:36119], 2016, 8)
gangjin_2016_humid_month9 = make_date(gangjin_2016_humid[36120:40560], 2016, 9)
gangjin_2016_humid_month10 = make_date(gangjin_2016_humid[40561:45149], 2016, 10)
gangjin_2016_humid_month11 = make_date(gangjin_2016_humid[45150:49590], 2016, 11)
gangjin_2016_humid_month12 = make_date(gangjin_2016_humid[49591:],2016, 12)

df_list = [gangjin_2016_humid_month1, gangjin_2016_humid_month2, gangjin_2016_humid_month3, gangjin_2016_humid_month4, gangjin_2016_humid_month5,
           gangjin_2016_humid_month6, gangjin_2016_humid_month7, gangjin_2016_humid_month8, gangjin_2016_humid_month9, gangjin_2016_humid_month10,
           gangjin_2016_humid_month11, gangjin_2016_humid_month12]

gangjin_2016_humid_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_humid_new1_24 = gangjin_2016_humid_new.loc[(gangjin_2016_humid_new['hour'] == 1400) & ((gangjin_2016_humid_new['forecast']>=4.0) & (gangjin_2016_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2016_humid_new1_48 = gangjin_2016_humid_new.loc[(gangjin_2016_humid_new['hour'] == 1400) & ((gangjin_2016_humid_new['forecast']>=28.0) & (gangjin_2016_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2016_humid_new1_24.columns = ['date', 'humid_24']
gangjin_2016_humid_new1_48.columns = ['date', 'humid_48']

gangjin_2016_humid_new2 = pd.concat([gangjin_2016_humid_new1_24, gangjin_2016_humid_new1_48['humid_48']], axis=1)
gangjin_2016_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2016-01-01    81.875    80.625
1   2016-01-02    80.625    74.375
2   2016-01-03    70.000    55.625
3   2016-01-04    54.375    63.125
4   2016-01-05    67.500    55.625
..         ...       ...       ...
361 2016-12-27    66.875    51.875
362 2016-12-28    54.375    68.125
363 2016-12-29    57.500    68.125
364 2016-12-30    72.500    75.000
365 2016-12-31    76.250    73.750

[366 rows x 3 columns]

#### 일최고기온

In [655]:
gangjin_2016_maxtemp.loc[gangjin_2016_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
589,Start : 20160201,NaN,NaN,NaN
1141,Start : 20160301,NaN,NaN,NaN
1731,Start : 20160401,NaN,NaN,NaN
2302,Start : 20160501,NaN,NaN,NaN
2892,Start : 20160601,NaN,NaN,NaN
3463,Start : 20160701,NaN,NaN,NaN
4053,Start : 20160801,NaN,NaN,NaN
4643,Start : 20160901,NaN,NaN,NaN
5214,Start : 20161001,NaN,NaN,NaN
5804,Start : 20161101,NaN,NaN,NaN
6375,Start : 20161201,NaN,NaN,NaN

In [656]:
gangjin_2016_maxtemp.columns = ['day', 'hour','forecast','value']

In [657]:
gangjin_2016_maxtemp.loc[gangjin_2016_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [658]:
gangjin_2016_maxtemp_month1 = make_date(gangjin_2016_maxtemp[:589], 2016, 1)
gangjin_2016_maxtemp_month2 = make_date(gangjin_2016_maxtemp[590:1141], 2016, 2)
gangjin_2016_maxtemp_month3 = make_date(gangjin_2016_maxtemp[1142:1731], 2016, 3)
gangjin_2016_maxtemp_month4 = make_date(gangjin_2016_maxtemp[1732:2302], 2016, 4)
gangjin_2016_maxtemp_month5 = make_date(gangjin_2016_maxtemp[2303:2892], 2016, 5)
gangjin_2016_maxtemp_month6 = make_date(gangjin_2016_maxtemp[2893:3463], 2016, 6)
gangjin_2016_maxtemp_month7 = make_date(gangjin_2016_maxtemp[3464:4053], 2016, 7)
gangjin_2016_maxtemp_month8 = make_date(gangjin_2016_maxtemp[4054:4643], 2016, 8)
gangjin_2016_maxtemp_month9 = make_date(gangjin_2016_maxtemp[4644:5214], 2016, 9)
gangjin_2016_maxtemp_month10 = make_date(gangjin_2016_maxtemp[5215:5804], 2016, 10)
gangjin_2016_maxtemp_month11 = make_date(gangjin_2016_maxtemp[5805:6375], 2016, 11)
gangjin_2016_maxtemp_month12 = make_date(gangjin_2016_maxtemp[6376:], 2016, 12)

df_list = [gangjin_2016_maxtemp_month1, gangjin_2016_maxtemp_month2, gangjin_2016_maxtemp_month3, gangjin_2016_maxtemp_month4, gangjin_2016_maxtemp_month5,
           gangjin_2016_maxtemp_month6, gangjin_2016_maxtemp_month7, gangjin_2016_maxtemp_month8, gangjin_2016_maxtemp_month9 ,gangjin_2016_maxtemp_month10,
           gangjin_2016_maxtemp_month11, gangjin_2016_maxtemp_month12]

gangjin_2016_maxtemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_maxtemp_new1 = gangjin_2016_maxtemp_new.loc[(gangjin_2016_maxtemp_new['hour'] == 2300) & ((gangjin_2016_maxtemp_new['forecast']==4.0) | (gangjin_2016_maxtemp_new['forecast']==7.0) | (gangjin_2016_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

gangjin_2016_maxtemp_new1.columns = ['date', 'max_temp_24']

gangjin_2016_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2016-01-01          8.0
1   2016-01-02          8.0
2   2016-01-03          6.0
3   2016-01-04          3.0
4   2016-01-05          2.0
..         ...          ...
361 2016-12-27          2.0
362 2016-12-28          5.0
363 2016-12-29          6.0
364 2016-12-30          8.0
365 2016-12-31          8.0

[366 rows x 2 columns]

#### 일최저기온

In [659]:
gangjin_2016_mintemp.loc[gangjin_2016_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
496,Start : 20160201,NaN,NaN,NaN
961,Start : 20160301,NaN,NaN,NaN
1458,Start : 20160401,NaN,NaN,NaN
1939,Start : 20160501,NaN,NaN,NaN
2436,Start : 20160601,NaN,NaN,NaN
2917,Start : 20160701,NaN,NaN,NaN
3414,Start : 20160801,NaN,NaN,NaN
3911,Start : 20160901,NaN,NaN,NaN
4392,Start : 20161001,NaN,NaN,NaN
4889,Start : 20161101,NaN,NaN,NaN
5370,Start : 20161201,NaN,NaN,NaN

In [660]:
gangjin_2016_mintemp.columns = ['day', 'hour','forecast','value']

In [661]:
gangjin_2016_mintemp.loc[gangjin_2016_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [662]:
gangjin_2016_mintemp_month1 = make_date(gangjin_2016_mintemp[:496], 2016, 1)
gangjin_2016_mintemp_month2 = make_date(gangjin_2016_mintemp[497:961], 2016, 2)
gangjin_2016_mintemp_month3 = make_date(gangjin_2016_mintemp[962:1458], 2016, 3)
gangjin_2016_mintemp_month4 = make_date(gangjin_2016_mintemp[1459:1939], 2016, 4)
gangjin_2016_mintemp_month5 = make_date(gangjin_2016_mintemp[1940:2436], 2016, 5)
gangjin_2016_mintemp_month6 = make_date(gangjin_2016_mintemp[2437:2917], 2016, 6)
gangjin_2016_mintemp_month7 = make_date(gangjin_2016_mintemp[2918:3414], 2016, 7)
gangjin_2016_mintemp_month8 = make_date(gangjin_2016_mintemp[3415:3911], 2016, 8)
gangjin_2016_mintemp_month9 = make_date(gangjin_2016_mintemp[3912:4392], 2016, 9)
gangjin_2016_mintemp_month10 = make_date(gangjin_2016_mintemp[4393:4889], 2016, 10)
gangjin_2016_mintemp_month11 = make_date(gangjin_2016_mintemp[4890:5370], 2016, 11)
gangjin_2016_mintemp_month12 = make_date(gangjin_2016_mintemp[5371:], 2016, 12)

df_list = [gangjin_2016_mintemp_month1, gangjin_2016_mintemp_month2, gangjin_2016_mintemp_month3, gangjin_2016_mintemp_month4, gangjin_2016_mintemp_month5,
           gangjin_2016_mintemp_month6, gangjin_2016_mintemp_month7, gangjin_2016_mintemp_month8, gangjin_2016_mintemp_month9 ,gangjin_2016_mintemp_month10,
           gangjin_2016_mintemp_month11, gangjin_2016_mintemp_month12]
gangjin_2016_mintemp_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_mintemp_new1 = gangjin_2016_mintemp_new.loc[(gangjin_2016_mintemp_new['hour'] == 1400) & ((gangjin_2016_mintemp_new['forecast']==4.0) | (gangjin_2016_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

gangjin_2016_mintemp_new1.columns = ['date', 'min_temp_24']

gangjin_2016_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2016-01-01         -1.0
1   2016-01-02          0.0
2   2016-01-03         -4.0
3   2016-01-04         -8.0
4   2016-01-05         -9.0
..         ...          ...
361 2016-12-27        -10.0
362 2016-12-28        -12.0
363 2016-12-29        -12.0
364 2016-12-30         -5.0
365 2016-12-31         -4.0

[366 rows x 2 columns]

#### 풍속

In [663]:
gangjin_2016_wind.loc[gangjin_2016_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:75_130 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [664]:
gangjin_2016_wind.columns = ['day', 'hour','forecast','value']

In [665]:
gangjin_2016_wind_month1 = make_date(gangjin_2016_wind[:4588], 2016, 1)
gangjin_2016_wind_month2 = make_date(gangjin_2016_wind[4589:8881], 2016, 2)
gangjin_2016_wind_month3 = make_date(gangjin_2016_wind[8882:13470], 2016, 3)
gangjin_2016_wind_month4 = make_date(gangjin_2016_wind[13471:17911], 2016, 4)
gangjin_2016_wind_month5 = make_date(gangjin_2016_wind[17912:22500], 2016, 5)
gangjin_2016_wind_month6 = make_date(gangjin_2016_wind[22501:26941], 2016, 6)
gangjin_2016_wind_month7 = make_date(gangjin_2016_wind[26942:31530], 2016, 7)
gangjin_2016_wind_month8 = make_date(gangjin_2016_wind[31531:36119], 2016, 8)
gangjin_2016_wind_month9 = make_date(gangjin_2016_wind[36120:40560], 2016, 9)
gangjin_2016_wind_month10 = make_date(gangjin_2016_wind[40561:45149], 2016, 10)
gangjin_2016_wind_month11 = make_date(gangjin_2016_wind[45150:49590], 2016, 11)
gangjin_2016_wind_month12 = make_date(gangjin_2016_wind[49591:], 2016, 12)

df_list = [gangjin_2016_wind_month1, gangjin_2016_wind_month2, gangjin_2016_wind_month3, gangjin_2016_wind_month4, gangjin_2016_wind_month5,
           gangjin_2016_wind_month6, gangjin_2016_wind_month7, gangjin_2016_wind_month8, gangjin_2016_wind_month9, gangjin_2016_wind_month10,
           gangjin_2016_wind_month11, gangjin_2016_wind_month12]

gangjin_2016_wind_new = pd.concat(df_list, ignore_index = True)

gangjin_2016_wind_new1_24 = gangjin_2016_wind_new.loc[(gangjin_2016_wind_new['hour'] == 1400) & ((gangjin_2016_wind_new['forecast']>=4.0) & (gangjin_2016_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
gangjin_2016_wind_new1_48 = gangjin_2016_wind_new.loc[(gangjin_2016_wind_new['hour'] == 1400) & ((gangjin_2016_wind_new['forecast']>=28.0) & (gangjin_2016_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

gangjin_2016_wind_new1_24.columns = ['date', 'wind_24']
gangjin_2016_wind_new1_48.columns = ['date', 'wind_48']

gangjin_2016_wind_new2 = pd.concat([gangjin_2016_wind_new1_24, gangjin_2016_wind_new1_48['wind_48']], axis=1)
gangjin_2016_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2016-01-01    1.125    1.250
1   2016-01-02    1.125    1.125
2   2016-01-03    1.875    2.000
3   2016-01-04    1.125    1.625
4   2016-01-05    1.250    1.500
..         ...      ...      ...
361 2016-12-27    1.250    1.250
362 2016-12-28    1.750    1.125
363 2016-12-29    1.125    1.125
364 2016-12-30    1.000    1.000
365 2016-12-31    1.000    1.375

[366 rows x 3 columns]

#### 2016년 울진읍 merge

In [666]:
from functools import reduce
dfs = [gangjin_2016_rainfall_new1, gangjin_2016_snow_new1, gangjin_2016_temp3_new2, gangjin_2016_humid_new2,gangjin_2016_maxtemp_new1,
       gangjin_2016_mintemp_new1, gangjin_2016_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [667]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,2.0,2.0,2.500,2.500,81.875,80.625,8.0,-1.0,1.125,1.250
1,2016-01-02,0.0,0.0,3.750,2.500,80.625,74.375,8.0,0.0,1.125,1.125
2,2016-01-03,0.0,0.0,2.125,-2.500,70.000,55.625,6.0,-4.0,1.875,2.000
3,2016-01-04,0.0,0.0,-2.750,-2.750,54.375,63.125,3.0,-8.0,1.125,1.625
4,2016-01-05,0.0,0.0,-3.250,-4.250,67.500,55.625,2.0,-9.0,1.250,1.500
...,...,...,...,...,...,...,...,...,...,...,...
361,2016-12-27,0.0,0.0,-4.125,-2.625,66.875,51.875,2.0,-10.0,1.250,1.250
362,2016-12-28,5.0,5.0,-3.375,-5.125,54.375,68.125,5.0,-12.0,1.750,1.125
363,2016-12-29,0.0,0.0,-3.625,-0.875,57.500,68.125,6.0,-12.0,1.125,1.125
364,2016-12-30,0.0,0.0,-1.000,0.500,72.500,75.000,8.0,-5.0,1.000,1.000
365,2016-12-31,0.0,0.0,0.750,2.625,76.250,73.750,8.0,-4.0,1.000,1.375

In [668]:
sdf.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/강원/강원_홍천읍_2016.csv', index=False)