In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
def make_date(data, year, month):
  num = data.shape[0]
  df = data.reset_index()
  list1 = list(pd.to_numeric(df['day']))
  df['date'] = df['day']

  for i in range(num):
    df['date'][i] = dt.datetime(year, month, list1[i])
  
  df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d')
  df = df.iloc[:,1:]
  return df

# 경기

## 문산읍 -

### 2012년

In [ ]:
munsan_2012_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_12시간강수량_201201_201212.csv')
munsan_2012_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_12시간신적설_201201_201212.csv')
munsan_2012_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_3시간기온_201201_201212.csv')
munsan_2012_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_습도_201201_201212.csv')
munsan_2012_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_일최고기온_201201_201212.csv')
munsan_2012_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_일최저기온_201201_201212.csv')
munsan_2012_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/문산읍_풍속_201201_201212.csv')

#### 12시간강수량

In [ ]:
munsan_2012_rainfall.loc[munsan_2012_rainfall['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
munsan_2012_rainfall.loc[munsan_2012_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
munsan_2012_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_rainfall_month1 = make_date(munsan_2012_rainfall[:1116], 2012, 1)
munsan_2012_rainfall_month2 = make_date(munsan_2012_rainfall[1117:2161], 2012, 2)
munsan_2012_rainfall_month3 = make_date(munsan_2012_rainfall[2162:3278], 2012, 3)
munsan_2012_rainfall_month4 = make_date(munsan_2012_rainfall[3279:4359], 2012, 4)
munsan_2012_rainfall_month5 = make_date(munsan_2012_rainfall[4360:4396], 2012, 5)
munsan_2012_rainfall_month6 = make_date(munsan_2012_rainfall[4397:5477], 2012, 6)
munsan_2012_rainfall_month7 = make_date(munsan_2012_rainfall[5478:5514], 2012, 7)
munsan_2012_rainfall_month8 = make_date(munsan_2012_rainfall[5515:6595], 2012, 8)
munsan_2012_rainfall_month9 = make_date(munsan_2012_rainfall[6596:7676], 2012, 9)
munsan_2012_rainfall_month10 = make_date(munsan_2012_rainfall[7677:7713], 2012, 10)
munsan_2012_rainfall_month11 = make_date(munsan_2012_rainfall[7714:8794], 2012, 11)
munsan_2012_rainfall_month12 = make_date(munsan_2012_rainfall[8795:], 2012, 12)

df_list = [munsan_2012_rainfall_month1, munsan_2012_rainfall_month2, munsan_2012_rainfall_month3, munsan_2012_rainfall_month4, munsan_2012_rainfall_month5,
           munsan_2012_rainfall_month6, munsan_2012_rainfall_month7, munsan_2012_rainfall_month8, munsan_2012_rainfall_month9, munsan_2012_rainfall_month10,
           munsan_2012_rainfall_month11,munsan_2012_rainfall_month12 ]
munsan_2012_rainfall_new = pd.concat(df_list, ignore_index = True)

munsan_2012_rainfall_new1 = munsan_2012_rainfall_new.loc[(munsan_2012_rainfall_new['hour'] == 1100) & ((munsan_2012_rainfall_new['forecast']==4.0) | (munsan_2012_rainfall_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2012_rainfall_new1.columns = ['date', 'rainfall_24']
munsan_2012_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2012-01-01          1.0
1   2012-01-02          0.0
2   2012-01-03          0.0
3   2012-01-04          0.0
4   2012-01-05          0.0
..         ...          ...
270 2012-12-27          5.0
271 2012-12-28          0.0
272 2012-12-29          5.0
273 2012-12-30          1.0
274 2012-12-31          0.0

[275 rows x 2 columns]

#### 12시간신적설

In [ ]:
munsan_2012_snow.loc[munsan_2012_snow['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
munsan_2012_snow.loc[munsan_2012_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
munsan_2012_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_snow_month1 = make_date(munsan_2012_snow[:1116], 2012, 1)
munsan_2012_snow_month2 = make_date(munsan_2012_snow[1117:2161], 2012, 2)
munsan_2012_snow_month3 = make_date(munsan_2012_snow[2162:3278], 2012, 3)
munsan_2012_snow_month4 = make_date(munsan_2012_snow[3279:4359], 2012, 4)
munsan_2012_snow_month5 = make_date(munsan_2012_snow[4360:4396], 2012, 5)
munsan_2012_snow_month6 = make_date(munsan_2012_snow[4397:5477], 2012, 6)
munsan_2012_snow_month7 = make_date(munsan_2012_snow[5478:5514], 2012, 7)
munsan_2012_snow_month8 = make_date(munsan_2012_snow[5515:6595], 2012, 8)
munsan_2012_snow_month9 = make_date(munsan_2012_snow[6596:7676], 2012, 9)
munsan_2012_snow_month10 = make_date(munsan_2012_snow[7677:7713], 2012, 10)
munsan_2012_snow_month11 = make_date(munsan_2012_snow[7714:8794], 2012, 11)
munsan_2012_snow_month12 = make_date(munsan_2012_snow[8795:], 2012, 12)

df_list = [munsan_2012_snow_month1, munsan_2012_snow_month2, munsan_2012_snow_month3, munsan_2012_snow_month4, munsan_2012_snow_month5,
           munsan_2012_snow_month6, munsan_2012_snow_month7, munsan_2012_snow_month8, munsan_2012_snow_month9, munsan_2012_snow_month10,
           munsan_2012_snow_month11, munsan_2012_snow_month12 ]

munsan_2012_snow_new = pd.concat(df_list, ignore_index = True)

munsan_2012_snow_new1 = munsan_2012_snow_new.loc[(munsan_2012_snow_new['hour'] == 1100) & ((munsan_2012_snow_new['forecast']==4.0) | (munsan_2012_snow_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2012_snow_new1.columns = ['date', 'snow_24']
munsan_2012_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2012-01-01      1.0
1   2012-01-02      0.0
2   2012-01-03      0.0
3   2012-01-04      0.0
4   2012-01-05      0.0
..         ...      ...
270 2012-12-27      5.0
271 2012-12-28      0.0
272 2012-12-29      5.0
273 2012-12-30      1.0
274 2012-12-31      0.0

[275 rows x 2 columns]

#### 3시간기온

In [ ]:
munsan_2012_temp3.loc[munsan_2012_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
munsan_2012_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_temp3_month1 = make_date(munsan_2012_temp3[:4092], 2012, 1)
munsan_2012_temp3_month2 = make_date(munsan_2012_temp3[4093:7921], 2012, 2)
munsan_2012_temp3_month3 = make_date(munsan_2012_temp3[7922:12014], 2012, 3)
munsan_2012_temp3_month4 = make_date(munsan_2012_temp3[12015:15975], 2012, 4)
munsan_2012_temp3_month5 = make_date(munsan_2012_temp3[15976:20068], 2012, 5)
munsan_2012_temp3_month6 = make_date(munsan_2012_temp3[20069:24029], 2012, 6)
munsan_2012_temp3_month7 = make_date(munsan_2012_temp3[24030:28122], 2012, 7)
munsan_2012_temp3_month8 = make_date(munsan_2012_temp3[28123:32215], 2012, 8)
munsan_2012_temp3_month9 = make_date(munsan_2012_temp3[32216:36176], 2012, 9)
munsan_2012_temp3_month10 = make_date(munsan_2012_temp3[36177:], 2012, 10)

df_list = [munsan_2012_temp3_month1, munsan_2012_temp3_month2, munsan_2012_temp3_month3, munsan_2012_temp3_month4, munsan_2012_temp3_month5,
           munsan_2012_temp3_month6, munsan_2012_temp3_month7, munsan_2012_temp3_month8, munsan_2012_temp3_month9, munsan_2012_temp3_month10]
munsan_2012_temp3_new = pd.concat(df_list, ignore_index = True)

munsan_2012_temp3_new1_24 = munsan_2012_temp3_new.loc[(munsan_2012_temp3_new['hour'] == 1400) & ((munsan_2012_temp3_new['forecast']>=4.0) & (munsan_2012_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2012_temp3_new1_48 = munsan_2012_temp3_new.loc[(munsan_2012_temp3_new['hour'] == 1400) & ((munsan_2012_temp3_new['forecast']>=28.0) & (munsan_2012_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2012_temp3_new1_24.columns = ['date', 'temp_24']
munsan_2012_temp3_new1_48.columns = ['date', 'temp_48']

munsan_2012_temp3_new2 = pd.concat([munsan_2012_temp3_new1_24, munsan_2012_temp3_new1_48['temp_48']], axis=1)
munsan_2012_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2012-01-01  -6.3000  -4.8625
1   2012-01-02  -5.4625  -6.6500
2   2012-01-03  -8.0750  -7.7125
3   2012-01-04  -7.8750  -4.8375
4   2012-01-05  -5.9875  -5.5875
..         ...      ...      ...
300 2012-10-27  13.0000  10.0250
301 2012-10-28   9.5625   7.3750
302 2012-10-29   5.6500   2.8875
303 2012-10-30   4.0500   3.5375
304 2012-10-31   3.2500   2.5375

[305 rows x 3 columns]

#### 습도

In [ ]:
munsan_2012_humid.loc[munsan_2012_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
munsan_2012_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_humid_month1 = make_date(munsan_2012_humid[:4092], 2012, 1)
munsan_2012_humid_month2 = make_date(munsan_2012_humid[4093:7921], 2012, 2)
munsan_2012_humid_month3 = make_date(munsan_2012_humid[7922:12014], 2012, 3)
munsan_2012_humid_month4 = make_date(munsan_2012_humid[12015:15975], 2012, 4)
munsan_2012_humid_month5 = make_date(munsan_2012_humid[15976:20068], 2012, 5)
munsan_2012_humid_month6 = make_date(munsan_2012_humid[20069:24029], 2012, 6)
munsan_2012_humid_month7 = make_date(munsan_2012_humid[24030:28122], 2012, 7)
munsan_2012_humid_month8 = make_date(munsan_2012_humid[28123:32215], 2012, 8)
munsan_2012_humid_month9 = make_date(munsan_2012_humid[32216:36176], 2012, 9)
munsan_2012_humid_month10 = make_date(munsan_2012_humid[36177:], 2012, 10)

df_list = [munsan_2012_humid_month1, munsan_2012_humid_month2, munsan_2012_humid_month3, munsan_2012_humid_month4, munsan_2012_humid_month5,
           munsan_2012_humid_month6, munsan_2012_humid_month7, munsan_2012_humid_month8, munsan_2012_humid_month9,munsan_2012_humid_month10]
munsan_2012_humid_new = pd.concat(df_list, ignore_index = True)

munsan_2012_humid_new1_24 = munsan_2012_humid_new.loc[(munsan_2012_humid_new['hour'] == 1400) & ((munsan_2012_humid_new['forecast']>=4.0) & (munsan_2012_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2012_humid_new1_48 = munsan_2012_humid_new.loc[(munsan_2012_humid_new['hour'] == 1400) & ((munsan_2012_humid_new['forecast']>=28.0) & (munsan_2012_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2012_humid_new1_24.columns = ['date', 'humid_24']
munsan_2012_humid_new1_48.columns = ['date', 'humid_48']

munsan_2012_humid_new2 = pd.concat([munsan_2012_humid_new1_24, munsan_2012_humid_new1_48['humid_48']], axis=1)
munsan_2012_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2012-01-01    70.000    72.250
1   2012-01-02    63.000    52.750
2   2012-01-03    53.375    60.500
3   2012-01-04    71.375    66.750
4   2012-01-05    65.000    62.375
..         ...       ...       ...
300 2012-10-27    67.250    70.375
301 2012-10-28    72.500    60.000
302 2012-10-29    60.875    72.250
303 2012-10-30    62.250    52.000
304 2012-10-31    50.125    62.000

[305 rows x 3 columns]

#### 일최고기온



forecast 4,7 중에 max

hour 2300 -> 오전 8시  / 오후 12시 오후 3시

In [ ]:

munsan_2012_maxtemp.loc[munsan_2012_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
465,Start : 20120201,NaN,NaN,NaN
901,Start : 20120301,NaN,NaN,NaN
1367,Start : 20120401,NaN,NaN,NaN
1818,Start : 20120501,NaN,NaN,NaN
2284,Start : 20120601,NaN,NaN,NaN
2735,Start : 20120701,NaN,NaN,NaN
3201,Start : 20120801,NaN,NaN,NaN
3667,Start : 20120901,NaN,NaN,NaN
4118,Start : 20121001,NaN,NaN,NaN

In [ ]:
munsan_2012_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_maxtemp.loc[munsan_2012_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
munsan_2012_maxtemp_month1 = make_date(munsan_2012_maxtemp[:465], 2012, 1)
munsan_2012_maxtemp_month2 = make_date(munsan_2012_maxtemp[466:901], 2012, 2)
munsan_2012_maxtemp_month3 = make_date(munsan_2012_maxtemp[902:1367], 2012, 3)
munsan_2012_maxtemp_month4 = make_date(munsan_2012_maxtemp[1368:1818], 2012, 4)
munsan_2012_maxtemp_month5 = make_date(munsan_2012_maxtemp[1819:2284], 2012, 5)
munsan_2012_maxtemp_month6 = make_date(munsan_2012_maxtemp[2285:2735], 2012, 6)
munsan_2012_maxtemp_month7 = make_date(munsan_2012_maxtemp[2736:3201], 2012, 7)
munsan_2012_maxtemp_month8 = make_date(munsan_2012_maxtemp[3202:3667], 2012, 8)
munsan_2012_maxtemp_month9 = make_date(munsan_2012_maxtemp[3668:4118], 2012, 9)
munsan_2012_maxtemp_month10 = make_date(munsan_2012_maxtemp[4119:], 2012, 10)

df_list = [munsan_2012_maxtemp_month1, munsan_2012_maxtemp_month2, munsan_2012_maxtemp_month3, munsan_2012_maxtemp_month4, munsan_2012_maxtemp_month5,
           munsan_2012_maxtemp_month6, munsan_2012_maxtemp_month7, munsan_2012_maxtemp_month8, munsan_2012_maxtemp_month9 ,munsan_2012_maxtemp_month10]

munsan_2012_maxtemp_new = pd.concat(df_list, ignore_index = True)

munsan_2012_maxtemp_new1 = munsan_2012_maxtemp_new.loc[(munsan_2012_maxtemp_new['hour'] == 2300) & ((munsan_2012_maxtemp_new['forecast']==4.0) | (munsan_2012_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

munsan_2012_maxtemp_new1.columns = ['date', 'max_temp_24']

munsan_2012_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2012-01-01          1.0
1   2012-01-02         -0.8
2   2012-01-03         -0.7
3   2012-01-04          1.0
4   2012-01-05          2.2
..         ...          ...
300 2012-10-27         20.0
301 2012-10-28         16.1
302 2012-10-29         12.0
303 2012-10-30         11.0
304 2012-10-31         12.0

[305 rows x 2 columns]

#### 일최저기온



forecast 4,7 중에 min

hour 1400 -> 오후 11시  / 오전 3시 오전 6시

In [ ]:
munsan_2012_mintemp.loc[munsan_2012_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
496,Start : 20120201,NaN,NaN,NaN
961,Start : 20120301,NaN,NaN,NaN
1458,Start : 20120401,NaN,NaN,NaN
1939,Start : 20120501,NaN,NaN,NaN
2436,Start : 20120601,NaN,NaN,NaN
2917,Start : 20120701,NaN,NaN,NaN
3414,Start : 20120801,NaN,NaN,NaN
3911,Start : 20120901,NaN,NaN,NaN
4392,Start : 20121001,NaN,NaN,NaN

In [ ]:
munsan_2012_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_mintemp_month1 = make_date(munsan_2012_mintemp[:496], 2012, 1)
munsan_2012_mintemp_month2 = make_date(munsan_2012_mintemp[497:961], 2012, 2)
munsan_2012_mintemp_month3 = make_date(munsan_2012_mintemp[962:1458], 2012, 3)
munsan_2012_mintemp_month4 = make_date(munsan_2012_mintemp[1459:1939], 2012, 4)
munsan_2012_mintemp_month5 = make_date(munsan_2012_mintemp[1940:2436], 2012, 5)
munsan_2012_mintemp_month6 = make_date(munsan_2012_mintemp[2437:2917], 2012, 6)
munsan_2012_mintemp_month7 = make_date(munsan_2012_mintemp[2918:3414], 2012, 7)
munsan_2012_mintemp_month8 = make_date(munsan_2012_mintemp[3415:3911], 2012, 8)
munsan_2012_mintemp_month9 = make_date(munsan_2012_mintemp[3912:4392], 2012, 9)
munsan_2012_mintemp_month10 = make_date(munsan_2012_mintemp[4393:], 2012, 10)

df_list = [munsan_2012_mintemp_month1, munsan_2012_mintemp_month2, munsan_2012_mintemp_month3, munsan_2012_mintemp_month4, munsan_2012_mintemp_month5,
           munsan_2012_mintemp_month6, munsan_2012_mintemp_month7, munsan_2012_mintemp_month8, munsan_2012_mintemp_month9 ,munsan_2012_mintemp_month10]

munsan_2012_mintemp_new = pd.concat(df_list, ignore_index = True)

munsan_2012_mintemp_new1 = munsan_2012_mintemp_new.loc[(munsan_2012_mintemp_new['hour'] == 1400) & ((munsan_2012_mintemp_new['forecast']==4.0) | (munsan_2012_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

munsan_2012_mintemp_new1.columns = ['date', 'min_temp_24']

munsan_2012_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2012-01-01        -12.2
1   2012-01-02        -10.6
2   2012-01-03        -14.5
3   2012-01-04        -14.5
4   2012-01-05        -12.4
..         ...          ...
300 2012-10-27          4.0
301 2012-10-28          4.0
302 2012-10-29         -1.8
303 2012-10-30         -1.9
304 2012-10-31         -3.9

[305 rows x 2 columns]

#### 풍속

In [ ]:
munsan_2012_wind.loc[munsan_2012_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120801,NaN,NaN,NaN
16107,Start : 20120901,NaN,NaN,NaN

In [ ]:
munsan_2012_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2012_wind_month1 = make_date(munsan_2012_wind[:4092], 2012, 1)
munsan_2012_wind_month2 = make_date(munsan_2012_wind[4093:7921], 2012, 2)
munsan_2012_wind_month3 = make_date(munsan_2012_wind[7922:12014], 2012, 3)
munsan_2012_wind_month8 = make_date(munsan_2012_wind[12015:16107], 2012, 8)
munsan_2012_wind_month9 = make_date(munsan_2012_wind[16108:], 2012, 9)


df_list = [munsan_2012_wind_month1, munsan_2012_wind_month2, munsan_2012_wind_month3, munsan_2012_wind_month8, munsan_2012_wind_month9]
munsan_2012_wind_new = pd.concat(df_list, ignore_index = True)

munsan_2012_wind_new1_24 = munsan_2012_wind_new.loc[(munsan_2012_wind_new['hour'] == 1400) & ((munsan_2012_wind_new['forecast']>=4.0) & (munsan_2012_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2012_wind_new1_48 = munsan_2012_wind_new.loc[(munsan_2012_wind_new['hour'] == 1400) & ((munsan_2012_wind_new['forecast']>=28.0) & (munsan_2012_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2012_wind_new1_24.columns = ['date', 'wind_24']
munsan_2012_wind_new1_48.columns = ['date', 'wind_48']

munsan_2012_wind_new2 = pd.concat([munsan_2012_wind_new1_24, munsan_2012_wind_new1_48['wind_48']], axis=1)
munsan_2012_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2012-01-01   0.9250   1.3625
1   2012-01-02   1.6750   2.4000
2   2012-01-03   2.5500   1.0375
3   2012-01-04   1.1125   1.4125
4   2012-01-05   1.5125   1.3875
..         ...      ...      ...
147 2012-09-26   1.1875   1.5750
148 2012-09-27   2.3500   1.7875
149 2012-09-28   1.8375   1.4125
150 2012-09-29   1.5500   1.4750
151 2012-09-30   1.3000   1.2500

[152 rows x 3 columns]

#### 2012년 문산읍 데이터

위의 7개 데이터 merge

In [ ]:
from functools import reduce
dfs = [munsan_2012_rainfall_new1, munsan_2012_snow_new1, munsan_2012_temp3_new2, munsan_2012_humid_new2,munsan_2012_maxtemp_new1,
       munsan_2012_mintemp_new1,munsan_2012_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,1.0,1.0,-6.3000,-4.8625,70.000,72.250,1.0,-12.2,0.9250,1.3625
1,2012-01-02,0.0,0.0,-5.4625,-6.6500,63.000,52.750,-0.8,-10.6,1.6750,2.4000
2,2012-01-03,0.0,0.0,-8.0750,-7.7125,53.375,60.500,-0.7,-14.5,2.5500,1.0375
3,2012-01-04,0.0,0.0,-7.8750,-4.8375,71.375,66.750,1.0,-14.5,1.1125,1.4125
4,2012-01-05,0.0,0.0,-5.9875,-5.5875,65.000,62.375,2.2,-12.4,1.5125,1.3875
...,...,...,...,...,...,...,...,...,...,...,...
270,2012-12-27,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2012-12-28,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2012-12-29,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,2012-12-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-12-31,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_문산읍_2012.csv', index=False)

### 2013년

In [ ]:
munsan_2013_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_6시간강수량_201301_201312.csv')
munsan_2013_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_6시간적설_201301_201312.csv')
munsan_2013_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_3시간기온_201301_201312.csv')
munsan_2013_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_습도_201301_201312.csv')
munsan_2013_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_일최고기온_201301_201312.csv')
munsan_2013_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_일최저기온_201301_201312.csv')
munsan_2013_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/문산읍_풍속_201301_201312.csv')

#### 6시간강수량

In [ ]:
munsan_2013_rainfall.loc[munsan_2013_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_rainfall.loc[munsan_2013_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2013_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_rainfall_month6 = make_date(munsan_2013_rainfall[1:2041], 2013, 6)
munsan_2013_rainfall_month7 = make_date(munsan_2013_rainfall[2042:4150], 2013, 7)
munsan_2013_rainfall_month8 = make_date(munsan_2013_rainfall[4151:6259], 2013, 8)
munsan_2013_rainfall_month9 = make_date(munsan_2013_rainfall[6260:8300], 2013, 9)
munsan_2013_rainfall_month10 = make_date(munsan_2013_rainfall[8301:10409], 2013, 10)
munsan_2013_rainfall_month11 = make_date(munsan_2013_rainfall[10410:12450], 2013, 11)
munsan_2013_rainfall_month12 = make_date(munsan_2013_rainfall[12451:], 2013, 12)


df_list = [munsan_2013_rainfall_month6, munsan_2013_rainfall_month7, munsan_2013_rainfall_month8, munsan_2013_rainfall_month9, munsan_2013_rainfall_month10,
           munsan_2013_rainfall_month11, munsan_2013_rainfall_month12]

munsan_2013_rainfall_new = pd.concat(df_list, ignore_index = True)

munsan_2013_rainfall_new1 = munsan_2013_rainfall_new.loc[(munsan_2013_rainfall_new['hour'] == 1400) & ((munsan_2013_rainfall_new['forecast']>=7.0) & (munsan_2013_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2013_rainfall_new1.columns = ['date', 'rainfall_24']
munsan_2013_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2013-06-01          0.0
1   2013-06-02          0.0
2   2013-06-03          0.0
3   2013-06-04          0.0
4   2013-06-05          0.0
..         ...          ...
209 2013-12-27          0.0
210 2013-12-28          0.0
211 2013-12-29          0.0
212 2013-12-30          0.0
213 2013-12-31          0.0

[214 rows x 2 columns]

#### 6시간적설

In [ ]:
munsan_2013_snow.loc[munsan_2013_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_snow.loc[munsan_2013_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2013_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_snow_month6 = make_date(munsan_2013_snow[1:2041], 2013, 6)
munsan_2013_snow_month7 = make_date(munsan_2013_snow[2042:4150], 2013, 7)
munsan_2013_snow_month8 = make_date(munsan_2013_snow[4151:6259], 2013, 8)
munsan_2013_snow_month9 = make_date(munsan_2013_snow[6260:8300], 2013, 9)
munsan_2013_snow_month10 = make_date(munsan_2013_snow[8301:10409], 2013, 10)
munsan_2013_snow_month11 = make_date(munsan_2013_snow[10410:12450], 2013, 11)
munsan_2013_snow_month12 = make_date(munsan_2013_snow[12451:], 2013, 12)


df_list = [munsan_2013_snow_month6,munsan_2013_snow_month7, munsan_2013_snow_month8, munsan_2013_snow_month9, munsan_2013_snow_month10,
           munsan_2013_snow_month11, munsan_2013_snow_month12]

munsan_2013_snow_new = pd.concat(df_list, ignore_index = True)

munsan_2013_snow_new1 = munsan_2013_snow_new.loc[(munsan_2013_snow_new['hour'] == 1400) & ((munsan_2013_snow_new['forecast']>=7.0) & (munsan_2013_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2013_snow_new1.columns = ['date', 'snow_24']
munsan_2013_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2013-06-01      0.0
1   2013-06-02      0.0
2   2013-06-03      0.0
3   2013-06-04      0.0
4   2013-06-05      0.0
..         ...      ...
209 2013-12-27      0.0
210 2013-12-28      0.0
211 2013-12-29      0.0
212 2013-12-30      0.0
213 2013-12-31      0.0

[214 rows x 2 columns]

#### 3시간기온

In [ ]:
munsan_2013_temp3.loc[munsan_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_temp3[munsan_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:56_133 Start : 20130101
48191    format: day  hour  forecast  value  location:56_133 Start : 20130101

In [ ]:
munsan_2013_temp32 = munsan_2013_temp3.iloc[:48191]

In [ ]:
munsan_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_temp32['hour'] = pd.to_numeric(munsan_2013_temp32['hour'])
munsan_2013_temp32['forecast'] =  pd.to_numeric(munsan_2013_temp32['forecast'])
munsan_2013_temp32['value'] =  pd.to_numeric(munsan_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
munsan_2013_temp32.loc[munsan_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
munsan_2013_temp3_month1 = make_date(munsan_2013_temp32[:4092], 2013, 1)
munsan_2013_temp3_month2 = make_date(munsan_2013_temp32[4093:7789], 2013, 2)
munsan_2013_temp3_month3 = make_date(munsan_2013_temp32[7790:11882], 2013, 3)
munsan_2013_temp3_month4 = make_date(munsan_2013_temp32[11883:15843], 2013, 4)
munsan_2013_temp3_month5 = make_date(munsan_2013_temp32[15844:19936], 2013, 5)
munsan_2013_temp3_month6 = make_date(munsan_2013_temp32[19937:23897], 2013, 6)
munsan_2013_temp3_month7 = make_date(munsan_2013_temp32[23898:27990], 2013, 7)
munsan_2013_temp3_month8 = make_date(munsan_2013_temp32[27991:32083], 2013, 8)
munsan_2013_temp3_month9 = make_date(munsan_2013_temp32[32084:36044], 2013, 9)
munsan_2013_temp3_month10 = make_date(munsan_2013_temp32[36045:40137], 2013, 10)
munsan_2013_temp3_month11 = make_date(munsan_2013_temp32[40138:44098], 2013, 11)
munsan_2013_temp3_month12 = make_date(munsan_2013_temp32[44099:], 2013, 12)


df_list = [munsan_2013_temp3_month1, munsan_2013_temp3_month2, munsan_2013_temp3_month3, munsan_2013_temp3_month4, munsan_2013_temp3_month5,
           munsan_2013_temp3_month6, munsan_2013_temp3_month7, munsan_2013_temp3_month8, munsan_2013_temp3_month9,munsan_2013_temp3_month10,
           munsan_2013_temp3_month11, munsan_2013_temp3_month12]

munsan_2013_temp3_new = pd.concat(df_list, ignore_index = True)

munsan_2013_temp3_new1_24 = munsan_2013_temp3_new.loc[(munsan_2013_temp3_new['hour'] == 1400) & ((munsan_2013_temp3_new['forecast']>=4.0) & (munsan_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2013_temp3_new1_48 = munsan_2013_temp3_new.loc[(munsan_2013_temp3_new['hour'] == 1400) & ((munsan_2013_temp3_new['forecast']>=28.0) & (munsan_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2013_temp3_new1_24.columns = ['date', 'temp_24']
munsan_2013_temp3_new1_48.columns = ['date', 'temp_48']

munsan_2013_temp3_new2 = pd.concat([munsan_2013_temp3_new1_24, munsan_2013_temp3_new1_48['temp_48']], axis=1)
munsan_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -13.4875 -15.7750
1   2013-01-02 -14.1875 -12.2500
2   2013-01-03 -13.4875  -7.9875
3   2013-01-04 -10.5375  -9.4625
4   2013-01-05  -9.5500  -8.7875
..         ...      ...      ...
360 2013-12-27  -9.1125  -6.8625
361 2013-12-28  -7.1125  -2.0375
362 2013-12-29  -2.0250  -2.4000
363 2013-12-30  -0.3750  -1.8750
364 2013-12-31  -0.0125  -3.6250

[365 rows x 3 columns]

#### 습도

In [ ]:
munsan_2013_humid.loc[munsan_2013_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_humid[munsan_2013_humid['hour']=='hour']

         format: day  hour  forecast  value  location:56_133 Start : 20130101
48191    format: day  hour  forecast  value  location:56_133 Start : 20130101

In [ ]:
munsan_2013_humid2 = munsan_2013_humid.iloc[:48191]

In [ ]:
munsan_2013_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_humid2['hour'] = pd.to_numeric(munsan_2013_humid2['hour'])
munsan_2013_humid2['forecast'] =  pd.to_numeric(munsan_2013_humid2['forecast'])
munsan_2013_humid2['value'] =  pd.to_numeric(munsan_2013_humid2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
munsan_2013_humid2.loc[munsan_2013_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
munsan_2013_humid_month1 = make_date(munsan_2013_humid2[:4092], 2013, 1)
munsan_2013_humid_month2 = make_date(munsan_2013_humid2[4093:7789], 2013, 2)
munsan_2013_humid_month3 = make_date(munsan_2013_humid2[7790:11882], 2013, 3)
munsan_2013_humid_month4 = make_date(munsan_2013_humid2[11883:15843], 2013, 4)
munsan_2013_humid_month5 = make_date(munsan_2013_humid2[15844:19936], 2013, 5)
munsan_2013_humid_month6 = make_date(munsan_2013_humid2[19937:23897], 2013, 6)
munsan_2013_humid_month7 = make_date(munsan_2013_humid2[23898:27990], 2013, 7)
munsan_2013_humid_month8 = make_date(munsan_2013_humid2[27991:32083], 2013, 8)
munsan_2013_humid_month9 = make_date(munsan_2013_humid2[32084:36044], 2013, 9)
munsan_2013_humid_month10 = make_date(munsan_2013_humid2[36045:40137], 2013, 10)
munsan_2013_humid_month11 = make_date(munsan_2013_humid2[40138:44098], 2013, 11)
munsan_2013_humid_month12 = make_date(munsan_2013_humid2[44099:], 2013, 12)

df_list = [munsan_2013_humid_month1, munsan_2013_humid_month2, munsan_2013_humid_month3, munsan_2013_humid_month4, munsan_2013_humid_month5,
           munsan_2013_humid_month6, munsan_2013_humid_month7, munsan_2013_humid_month8, munsan_2013_humid_month9,munsan_2013_humid_month10,
           munsan_2013_humid_month11, munsan_2013_humid_month12]

munsan_2013_humid_new = pd.concat(df_list, ignore_index = True)

munsan_2013_humid_new1_24 = munsan_2013_humid_new.loc[(munsan_2013_humid_new['hour'] == 1400) & ((munsan_2013_humid_new['forecast']>=4.0) & (munsan_2013_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2013_humid_new1_48 = munsan_2013_humid_new.loc[(munsan_2013_humid_new['hour'] == 1400) & ((munsan_2013_humid_new['forecast']>=28.0) & (munsan_2013_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2013_humid_new1_24.columns = ['date', 'humid_24']
munsan_2013_humid_new1_48.columns = ['date', 'humid_48']

munsan_2013_humid_new2 = pd.concat([munsan_2013_humid_new1_24, munsan_2013_humid_new1_48['humid_48']], axis=1)
munsan_2013_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2013-01-01    54.500    57.375
1   2013-01-02    54.875    63.625
2   2013-01-03    59.750    68.500
3   2013-01-04    67.875    60.625
4   2013-01-05    57.500    65.250
..         ...       ...       ...
360 2013-12-27    54.500    65.125
361 2013-12-28    67.500    68.625
362 2013-12-29    67.375    71.000
363 2013-12-30    71.875    65.625
364 2013-12-31    64.375    57.500

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
munsan_2013_maxtemp.loc[munsan_2013_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130101
465,Start : 20130201,NaN,NaN,NaN
886,Start : 20130301,NaN,NaN,NaN
1352,Start : 20130401,NaN,NaN,NaN
1803,Start : 20130501,NaN,NaN,NaN
2269,Start : 20130601,NaN,NaN,NaN
2720,Start : 20130701,NaN,NaN,NaN
3186,Start : 20130801,NaN,NaN,NaN
3652,Start : 20130901,NaN,NaN,NaN
4103,Start : 20131001,NaN,NaN,NaN
4569,Start : 20131101,NaN,NaN,NaN
5020,Start : 20131201,NaN,NaN,NaN
5952,Start : 20130201,NaN,NaN,NaN
6373,Start : 20130301,NaN,NaN,NaN
6839,Start : 20130401,NaN,NaN,NaN
7290,Start : 20130501,NaN,NaN,NaN
7756,Start : 20130601,NaN,NaN,NaN
8207,Start : 20130701,NaN,NaN,NaN
8673,Start : 20130801,NaN,NaN,NaN
9139,Start : 20130901,NaN,NaN,NaN
9590,Start : 20131001,NaN,NaN,NaN
10056,Start : 20131101,NaN,NaN,NaN
10507,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_maxtemp[munsan_2013_maxtemp['hour']=='hour']

        format: day  hour  forecast  value  location:56_133 Start : 20130101
5486    format: day  hour  forecast  value  location:56_133 Start : 20130101

In [ ]:
munsan_2013_maxtemp2 = munsan_2013_maxtemp.iloc[:5486]

In [ ]:
munsan_2013_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_maxtemp2['hour'] = pd.to_numeric(munsan_2013_maxtemp2['hour'])
munsan_2013_maxtemp2['forecast'] =  pd.to_numeric(munsan_2013_maxtemp2['forecast'])
munsan_2013_maxtemp2['value'] =  pd.to_numeric(munsan_2013_maxtemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
munsan_2013_maxtemp2.loc[munsan_2013_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
465    Start : 20130201    NaN       NaN    NaN
886    Start : 20130301    NaN       NaN    NaN
1352   Start : 20130401    NaN       NaN    NaN
1803   Start : 20130501    NaN       NaN    NaN
2269   Start : 20130601    NaN       NaN    NaN
2720   Start : 20130701    NaN       NaN    NaN
3186   Start : 20130801    NaN       NaN    NaN
3652   Start : 20130901    NaN       NaN    NaN
4103   Start : 20131001    NaN       NaN    NaN
4569   Start : 20131101    NaN       NaN    NaN
5020   Start : 20131201    NaN       NaN    NaN

In [ ]:
munsan_2013_maxtemp2.loc[munsan_2013_maxtemp2['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
munsan_2013_maxtemp_month1 = make_date(munsan_2013_maxtemp2[:465], 2013, 1)
munsan_2013_maxtemp_month2 = make_date(munsan_2013_maxtemp2[466:886], 2013, 2)
munsan_2013_maxtemp_month3 = make_date(munsan_2013_maxtemp2[887:1352], 2013, 3)
munsan_2013_maxtemp_month4 = make_date(munsan_2013_maxtemp2[1353:1803], 2013, 4)
munsan_2013_maxtemp_month5 = make_date(munsan_2013_maxtemp2[1804:2269], 2013, 5)
munsan_2013_maxtemp_month6 = make_date(munsan_2013_maxtemp2[2270:2720], 2013, 6)
munsan_2013_maxtemp_month7 = make_date(munsan_2013_maxtemp2[2721:3186], 2013, 7)
munsan_2013_maxtemp_month8 = make_date(munsan_2013_maxtemp2[3187:3652], 2013, 8)
munsan_2013_maxtemp_month9 = make_date(munsan_2013_maxtemp2[3653:4103], 2013, 9)
munsan_2013_maxtemp_month10 = make_date(munsan_2013_maxtemp2[4104:4569], 2013, 10)
munsan_2013_maxtemp_month11 = make_date(munsan_2013_maxtemp2[4570:5020], 2013, 11)
munsan_2013_maxtemp_month12 = make_date(munsan_2013_maxtemp2[5021:], 2013, 12)

df_list = [munsan_2013_maxtemp_month1, munsan_2013_maxtemp_month2, munsan_2013_maxtemp_month3, munsan_2013_maxtemp_month4, munsan_2013_maxtemp_month5,
           munsan_2013_maxtemp_month6, munsan_2013_maxtemp_month7, munsan_2013_maxtemp_month8, munsan_2013_maxtemp_month9 ,munsan_2013_maxtemp_month10,
           munsan_2013_maxtemp_month11, munsan_2013_maxtemp_month12]

munsan_2013_maxtemp_new = pd.concat(df_list, ignore_index = True)

munsan_2013_maxtemp_new1 = munsan_2013_maxtemp_new.loc[(munsan_2013_maxtemp_new['hour'] == 2300) & ((munsan_2013_maxtemp_new['forecast']==4.0) | (munsan_2013_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

munsan_2013_maxtemp_new1.columns = ['date', 'max_temp_24']

munsan_2013_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2013-01-01         -7.9
1   2013-01-02         -5.8
2   2013-01-03         -0.9
3   2013-01-04          0.0
4   2013-01-05          0.0
..         ...          ...
360 2013-12-27          0.1
361 2013-12-28          4.1
362 2013-12-29          5.0
363 2013-12-30          5.1
364 2013-12-31          6.1

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
munsan_2013_mintemp.loc[munsan_2013_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130101
496,Start : 20130201,NaN,NaN,NaN
945,Start : 20130301,NaN,NaN,NaN
1442,Start : 20130401,NaN,NaN,NaN
1923,Start : 20130501,NaN,NaN,NaN
2420,Start : 20130601,NaN,NaN,NaN
2901,Start : 20130701,NaN,NaN,NaN
3398,Start : 20130801,NaN,NaN,NaN
3895,Start : 20130901,NaN,NaN,NaN
4376,Start : 20131001,NaN,NaN,NaN
4873,Start : 20131101,NaN,NaN,NaN
5354,Start : 20131201,NaN,NaN,NaN
6348,Start : 20130201,NaN,NaN,NaN
6797,Start : 20130301,NaN,NaN,NaN
7294,Start : 20130401,NaN,NaN,NaN
7775,Start : 20130501,NaN,NaN,NaN
8272,Start : 20130601,NaN,NaN,NaN
8753,Start : 20130701,NaN,NaN,NaN
9250,Start : 20130801,NaN,NaN,NaN
9747,Start : 20130901,NaN,NaN,NaN
10228,Start : 20131001,NaN,NaN,NaN
10725,Start : 20131101,NaN,NaN,NaN
11206,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_mintemp[munsan_2013_mintemp['hour']=='hour']

        format: day  hour  forecast  value  location:56_133 Start : 20130101
5851    format: day  hour  forecast  value  location:56_133 Start : 20130101

In [ ]:
munsan_2013_mintemp2 = munsan_2013_mintemp.iloc[:5851]

In [ ]:
munsan_2013_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_mintemp2['hour'] = pd.to_numeric(munsan_2013_mintemp2['hour'])
munsan_2013_mintemp2['forecast'] =  pd.to_numeric(munsan_2013_mintemp2['forecast'])
munsan_2013_mintemp2['value'] =  pd.to_numeric(munsan_2013_mintemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
munsan_2013_mintemp2.loc[munsan_2013_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20130201    NaN       NaN    NaN
945    Start : 20130301    NaN       NaN    NaN
1442   Start : 20130401    NaN       NaN    NaN
1923   Start : 20130501    NaN       NaN    NaN
2420   Start : 20130601    NaN       NaN    NaN
2901   Start : 20130701    NaN       NaN    NaN
3398   Start : 20130801    NaN       NaN    NaN
3895   Start : 20130901    NaN       NaN    NaN
4376   Start : 20131001    NaN       NaN    NaN
4873   Start : 20131101    NaN       NaN    NaN
5354   Start : 20131201    NaN       NaN    NaN

In [ ]:
munsan_2013_mintemp2.loc[munsan_2013_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
munsan_2013_mintemp_month1 = make_date(munsan_2013_mintemp2[:496], 2013, 1)
munsan_2013_mintemp_month2 = make_date(munsan_2013_mintemp2[497:945], 2013, 2)
munsan_2013_mintemp_month3 = make_date(munsan_2013_mintemp2[946:1442], 2013, 3)
munsan_2013_mintemp_month4 = make_date(munsan_2013_mintemp2[1443:1923], 2013, 4)
munsan_2013_mintemp_month5 = make_date(munsan_2013_mintemp2[1924:2420], 2013, 5)
munsan_2013_mintemp_month6 = make_date(munsan_2013_mintemp2[2421:2901], 2013, 6)
munsan_2013_mintemp_month7 = make_date(munsan_2013_mintemp2[2902:3398], 2013, 7)
munsan_2013_mintemp_month8 = make_date(munsan_2013_mintemp2[3399:3895], 2013, 8)
munsan_2013_mintemp_month9 = make_date(munsan_2013_mintemp2[3896:4376], 2013, 9)
munsan_2013_mintemp_month10 = make_date(munsan_2013_mintemp2[4377:4873], 2013, 10)
munsan_2013_mintemp_month11 = make_date(munsan_2013_mintemp2[4874:5354], 2013, 11)
munsan_2013_mintemp_month12 = make_date(munsan_2013_mintemp2[5355:], 2013, 12)

df_list = [munsan_2013_mintemp_month1, munsan_2013_mintemp_month2, munsan_2013_mintemp_month3, munsan_2013_mintemp_month4, munsan_2013_mintemp_month5,
           munsan_2013_mintemp_month6, munsan_2013_mintemp_month7, munsan_2013_mintemp_month8, munsan_2013_mintemp_month9 ,munsan_2013_mintemp_month10,
           munsan_2013_mintemp_month11, munsan_2013_mintemp_month12]

munsan_2013_mintemp_new = pd.concat(df_list, ignore_index = True)

munsan_2013_mintemp_new1 = munsan_2013_mintemp_new.loc[(munsan_2013_mintemp_new['hour'] == 1400) & ((munsan_2013_mintemp_new['forecast']==4.0) | (munsan_2013_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

munsan_2013_mintemp_new1.columns = ['date', 'min_temp_24']

munsan_2013_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2013-01-01   -20.799999
1   2013-01-02   -20.799999
2   2013-01-03   -21.600000
3   2013-01-04   -18.700001
4   2013-01-05   -18.200001
..         ...          ...
360 2013-12-27   -13.700000
361 2013-12-28   -15.000000
362 2013-12-29    -6.800000
363 2013-12-30    -6.800000
364 2013-12-31    -9.800000

[365 rows x 2 columns]

#### 풍속

In [ ]:
munsan_2013_wind.loc[munsan_2013_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
22791,Start : 20130701,NaN,NaN,NaN
26884,Start : 20130801,NaN,NaN,NaN
30977,Start : 20130901,NaN,NaN,NaN
34938,Start : 20131001,NaN,NaN,NaN
39031,Start : 20131101,NaN,NaN,NaN
42992,Start : 20131201,NaN,NaN,NaN
51178,Start : 20130201,NaN,NaN,NaN
54875,Start : 20130301,NaN,NaN,NaN
58968,Start : 20130401,NaN,NaN,NaN
62929,Start : 20130501,NaN,NaN,NaN
67022,Start : 20130601,NaN,NaN,NaN
69877,Start : 20130701,NaN,NaN,NaN
73970,Start : 20130801,NaN,NaN,NaN
78063,Start : 20130901,NaN,NaN,NaN
82024,Start : 20131001,NaN,NaN,NaN
86117,Start : 20131101,NaN,NaN,NaN
90078,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_wind[munsan_2013_wind['hour']=='hour']

         format: day  hour  forecast  value  location:56_133 Start : 20130101
47085    format: day  hour  forecast  value  location:56_133 Start : 20130101

In [ ]:
munsan_2013_wind2 = munsan_2013_wind.iloc[:47085]

In [ ]:
munsan_2013_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_wind2['hour'] = pd.to_numeric(munsan_2013_wind2['hour'])
munsan_2013_wind2['forecast'] =  pd.to_numeric(munsan_2013_wind2['forecast'])
munsan_2013_wind2['value'] =  pd.to_numeric(munsan_2013_wind2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
munsan_2013_wind2.loc[munsan_2013_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
22791   Start : 20130701    NaN       NaN    NaN
26884   Start : 20130801    NaN       NaN    NaN
30977   Start : 20130901    NaN       NaN    NaN
34938   Start : 20131001    NaN       NaN    NaN
39031   Start : 20131101    NaN       NaN    NaN
42992   Start : 20131201    NaN       NaN    NaN

In [ ]:
munsan_2013_wind_month1 = make_date(munsan_2013_wind2[:4092], 2013, 1)
munsan_2013_wind_month2 = make_date(munsan_2013_wind2[4093:7789], 2013, 2)
munsan_2013_wind_month3 = make_date(munsan_2013_wind2[7790:11882], 2013, 3)
munsan_2013_wind_month4 = make_date(munsan_2013_wind2[11883:15843], 2013, 4)
munsan_2013_wind_month5 = make_date(munsan_2013_wind2[15844:19936], 2013, 5)
munsan_2013_wind_month6 = make_date(munsan_2013_wind2[19937:22791], 2013, 6)
munsan_2013_wind_month7 = make_date(munsan_2013_wind2[22792:26884], 2013, 7)
munsan_2013_wind_month8 = make_date(munsan_2013_wind2[26885:30977], 2013, 8)
munsan_2013_wind_month9 = make_date(munsan_2013_wind2[30978:34938], 2013, 9)
munsan_2013_wind_month10 = make_date(munsan_2013_wind2[34939:39031], 2013, 10)
munsan_2013_wind_month11 = make_date(munsan_2013_wind2[39032:42992], 2013, 11)
munsan_2013_wind_month12 = make_date(munsan_2013_wind2[42993:], 2013, 12)

df_list = [munsan_2013_wind_month1, munsan_2013_wind_month2, munsan_2013_wind_month3, munsan_2013_wind_month4, munsan_2013_wind_month5,
           munsan_2013_wind_month6, munsan_2013_wind_month7, munsan_2013_wind_month8, munsan_2013_wind_month9, munsan_2013_wind_month10,
           munsan_2013_wind_month11, munsan_2013_wind_month12]

munsan_2013_wind_new = pd.concat(df_list, ignore_index = True)

munsan_2013_wind_new1_24 = munsan_2013_wind_new.loc[(munsan_2013_wind_new['hour'] == 1400) & ((munsan_2013_wind_new['forecast']>=4.0) & (munsan_2013_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2013_wind_new1_48 = munsan_2013_wind_new.loc[(munsan_2013_wind_new['hour'] == 1400) & ((munsan_2013_wind_new['forecast']>=28.0) & (munsan_2013_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2013_wind_new1_24.columns = ['date', 'wind_24']
munsan_2013_wind_new1_48.columns = ['date', 'wind_48']

munsan_2013_wind_new2 = pd.concat([munsan_2013_wind_new1_24, munsan_2013_wind_new1_48['wind_48']], axis=1)
munsan_2013_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2013-01-01   4.3750   2.6125
1   2013-01-02   3.4250   1.4750
2   2013-01-03   1.5250   1.5500
3   2013-01-04   1.3875   1.4750
4   2013-01-05   1.4625   1.4500
..         ...      ...      ...
352 2013-12-27   2.6375   1.7500
353 2013-12-28   1.9250   1.9125
354 2013-12-29   1.9000   2.3250
355 2013-12-30   3.1500   2.6625
356 2013-12-31   1.7875   1.3875

[357 rows x 3 columns]

#### 2013년 문산읍 데이터

In [ ]:
from functools import reduce
dfs = [munsan_2013_rainfall_new1, munsan_2013_snow_new1, munsan_2013_temp3_new2, munsan_2013_humid_new2,munsan_2013_maxtemp_new1,
       munsan_2013_mintemp_new1,munsan_2013_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
214,2013-01-01,NaN,NaN,-13.4875,-15.7750,54.500,57.375,-7.9,-20.799999,4.3750,2.6125
215,2013-01-02,NaN,NaN,-14.1875,-12.2500,54.875,63.625,-5.8,-20.799999,3.4250,1.4750
216,2013-01-03,NaN,NaN,-13.4875,-7.9875,59.750,68.500,-0.9,-21.600000,1.5250,1.5500
217,2013-01-04,NaN,NaN,-10.5375,-9.4625,67.875,60.625,0.0,-18.700001,1.3875,1.4750
218,2013-01-05,NaN,NaN,-9.5500,-8.7875,57.500,65.250,0.0,-18.200001,1.4625,1.4500
...,...,...,...,...,...,...,...,...,...,...,...
209,2013-12-27,0.0,0.0,-9.1125,-6.8625,54.500,65.125,0.1,-13.700000,2.6375,1.7500
210,2013-12-28,0.0,0.0,-7.1125,-2.0375,67.500,68.625,4.1,-15.000000,1.9250,1.9125
211,2013-12-29,0.0,0.0,-2.0250,-2.4000,67.375,71.000,5.0,-6.800000,1.9000,2.3250
212,2013-12-30,0.0,0.0,-0.3750,-1.8750,71.875,65.625,5.1,-6.800000,3.1500,2.6625
213,2013-12-31,0.0,0.0,-0.0125,-3.6250,64.375,57.500,6.1,-9.800000,1.7875,1.3875

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_문산읍_2013.csv', index=False)

In [ ]:
munsan_2013_temp3.loc[munsan_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
munsan_2013_temp3[munsan_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:56_133 Start : 20130101
48191    format: day  hour  forecast  value  location:56_133 Start : 20130101

In [ ]:
munsan_2013_temp32 = munsan_2013_temp3.iloc[:48191]

In [ ]:
munsan_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2013_temp32['hour'] = pd.to_numeric(munsan_2013_temp32['hour'])
munsan_2013_temp32['forecast'] =  pd.to_numeric(munsan_2013_temp32['forecast'])
munsan_2013_temp32['value'] =  pd.to_numeric(munsan_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
munsan_2013_temp32.loc[munsan_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
munsan_2013_temp3_month1 = make_date(munsan_2013_temp32[:4092], 2013, 1)
munsan_2013_temp3_month2 = make_date(munsan_2013_temp32[4093:7789], 2013, 2)
munsan_2013_temp3_month3 = make_date(munsan_2013_temp32[7790:11882], 2013, 3)
munsan_2013_temp3_month4 = make_date(munsan_2013_temp32[11883:15843], 2013, 4)
munsan_2013_temp3_month5 = make_date(munsan_2013_temp32[15844:19936], 2013, 5)
munsan_2013_temp3_month6 = make_date(munsan_2013_temp32[19937:23897], 2013, 6)
munsan_2013_temp3_month7 = make_date(munsan_2013_temp32[23898:27990], 2013, 7)
munsan_2013_temp3_month8 = make_date(munsan_2013_temp32[27991:32083], 2013, 8)
munsan_2013_temp3_month9 = make_date(munsan_2013_temp32[32084:36044], 2013, 9)
munsan_2013_temp3_month10 = make_date(munsan_2013_temp32[36045:40137], 2013, 10)
munsan_2013_temp3_month11 = make_date(munsan_2013_temp32[40138:44098], 2013, 11)
munsan_2013_temp3_month12 = make_date(munsan_2013_temp32[44099:], 2013, 12)


df_list = [munsan_2013_temp3_month1, munsan_2013_temp3_month2, munsan_2013_temp3_month3, munsan_2013_temp3_month4, munsan_2013_temp3_month5,
           munsan_2013_temp3_month6, munsan_2013_temp3_month7, munsan_2013_temp3_month8, munsan_2013_temp3_month9,munsan_2013_temp3_month10,
           munsan_2013_temp3_month11, munsan_2013_temp3_month12]

munsan_2013_temp3_new = pd.concat(df_list, ignore_index = True)

munsan_2013_temp3_new1_24 = munsan_2013_temp3_new.loc[(munsan_2013_temp3_new['hour'] == 1400) & ((munsan_2013_temp3_new['forecast']>=4.0) & (munsan_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2013_temp3_new1_48 = munsan_2013_temp3_new.loc[(munsan_2013_temp3_new['hour'] == 1400) & ((munsan_2013_temp3_new['forecast']>=28.0) & (munsan_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2013_temp3_new1_24.columns = ['date', 'temp_24']
munsan_2013_temp3_new1_48.columns = ['date', 'temp_48']

munsan_2013_temp3_new2 = pd.concat([munsan_2013_temp3_new1_24, munsan_2013_temp3_new1_48['temp_48']], axis=1)
munsan_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -13.4875 -15.7750
1   2013-01-02 -14.1875 -12.2500
2   2013-01-03 -13.4875  -7.9875
3   2013-01-04 -10.5375  -9.4625
4   2013-01-05  -9.5500  -8.7875
..         ...      ...      ...
360 2013-12-27  -9.1125  -6.8625
361 2013-12-28  -7.1125  -2.0375
362 2013-12-29  -2.0250  -2.4000
363 2013-12-30  -0.3750  -1.8750
364 2013-12-31  -0.0125  -3.6250

[365 rows x 3 columns]

### 2014년

In [ ]:
munsan_2014_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_6시간강수량_201401_201412.csv')
munsan_2014_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_6시간적설_201401_201412.csv')
munsan_2014_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_3시간기온_201401_201412.csv')
munsan_2014_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_습도_201401_201412.csv')
munsan_2014_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_일최고기온_201401_201412.csv')
munsan_2014_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_일최저기온_201401_201412.csv')
munsan_2014_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/문산읍_풍속_201401_201412.csv')

#### 6시간강수량

In [ ]:
munsan_2014_rainfall.loc[munsan_2014_rainfall['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
munsan_2014_rainfall.loc[munsan_2014_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2014_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_rainfall_month1 = make_date(munsan_2014_rainfall[:2108], 2014, 1)
munsan_2014_rainfall_month2 = make_date(munsan_2014_rainfall[2109:4013], 2014, 2)
munsan_2014_rainfall_month3 = make_date(munsan_2014_rainfall[4014:4082], 2014, 3)
munsan_2014_rainfall_month4 = make_date(munsan_2014_rainfall[4083:6363], 2014, 4)
munsan_2014_rainfall_month5 = make_date(munsan_2014_rainfall[6364:8720], 2014, 5)
munsan_2014_rainfall_month6 = make_date(munsan_2014_rainfall[8721:11001], 2014, 6)
munsan_2014_rainfall_month8 = make_date(munsan_2014_rainfall[11002:13358], 2014, 8)
munsan_2014_rainfall_month9 = make_date(munsan_2014_rainfall[13359:15639], 2014, 9)
munsan_2014_rainfall_month10 = make_date(munsan_2014_rainfall[15640:17996], 2014, 10)
munsan_2014_rainfall_month11 = make_date(munsan_2014_rainfall[17997:20277], 2014, 11)
munsan_2014_rainfall_month12 = make_date(munsan_2014_rainfall[20278:22634], 2014, 12)


df_list = [munsan_2014_rainfall_month1, munsan_2014_rainfall_month2, munsan_2014_rainfall_month3, munsan_2014_rainfall_month4, munsan_2014_rainfall_month5,
           munsan_2014_rainfall_month6, munsan_2014_rainfall_month8, munsan_2014_rainfall_month9,munsan_2014_rainfall_month10,munsan_2014_rainfall_month11,
           munsan_2014_rainfall_month12]

munsan_2014_rainfall_new = pd.concat(df_list, ignore_index = True)

munsan_2014_rainfall_new1 = munsan_2014_rainfall_new.loc[(munsan_2014_rainfall_new['hour'] == 1400) & ((munsan_2014_rainfall_new['forecast']>=7.0) & (munsan_2014_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2014_rainfall_new1.columns = ['date', 'rainfall_24']
munsan_2014_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2014-01-01          0.0
1   2014-01-02          0.0
2   2014-01-03          0.0
3   2014-01-04          0.0
4   2014-01-05          0.0
..         ...          ...
299 2014-12-27          0.0
300 2014-12-28          0.0
301 2014-12-29          0.0
302 2014-12-30          2.0
303 2014-12-31          0.0

[304 rows x 2 columns]

#### 6시간적설

In [ ]:
munsan_2014_snow.loc[munsan_2014_snow['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
munsan_2014_snow.loc[munsan_2014_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2014_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_snow_month1 = make_date(munsan_2014_snow[:2108], 2014, 1)
munsan_2014_snow_month2 = make_date(munsan_2014_snow[2109:4013], 2014, 2)
munsan_2014_snow_month3 = make_date(munsan_2014_snow[4014:4082], 2014, 3)
munsan_2014_snow_month4 = make_date(munsan_2014_snow[4083:6363], 2014, 4)
munsan_2014_snow_month5 = make_date(munsan_2014_snow[6364:8720], 2014, 5)
munsan_2014_snow_month6 = make_date(munsan_2014_snow[8721:11001], 2014, 6)
munsan_2014_snow_month8 = make_date(munsan_2014_snow[11002:13358], 2014, 8)
munsan_2014_snow_month9 = make_date(munsan_2014_snow[13359:15639], 2014, 9)
munsan_2014_snow_month10 = make_date(munsan_2014_snow[15640:17996], 2014, 10)
munsan_2014_snow_month11 = make_date(munsan_2014_snow[17997:20277], 2014, 11)
munsan_2014_snow_month12 = make_date(munsan_2014_snow[20278:22634], 2014, 12)


df_list = [munsan_2014_snow_month1, munsan_2014_snow_month2, munsan_2014_snow_month3, munsan_2014_snow_month4, munsan_2014_snow_month5,
           munsan_2014_snow_month6, munsan_2014_snow_month8, munsan_2014_snow_month9, munsan_2014_snow_month10, munsan_2014_snow_month11, munsan_2014_snow_month12]

munsan_2014_snow_new = pd.concat(df_list, ignore_index = True)

munsan_2014_snow_new1 = munsan_2014_snow_new.loc[(munsan_2014_snow_new['hour'] == 1400) & ((munsan_2014_snow_new['forecast']>=7.0) & (munsan_2014_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2014_snow_new1.columns = ['date', 'snow_24']
munsan_2014_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2014-01-01      0.0
1   2014-01-02      0.0
2   2014-01-03      0.0
3   2014-01-04      0.0
4   2014-01-05      0.0
..         ...      ...
299 2014-12-27      0.0
300 2014-12-28      0.0
301 2014-12-29      0.0
302 2014-12-30      2.0
303 2014-12-31      0.0

[304 rows x 2 columns]

#### 3시간기온

In [ ]:
munsan_2014_temp3.loc[munsan_2014_temp3['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
munsan_2014_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_temp3_month1 = make_date(munsan_2014_temp3[:4092], 2014, 1)
munsan_2014_temp3_month2 = make_date(munsan_2014_temp3[4093:7789], 2014, 2)
munsan_2014_temp3_month3 = make_date(munsan_2014_temp3[7790:11882], 2014, 3)
munsan_2014_temp3_month4 = make_date(munsan_2014_temp3[11883:16323], 2014, 4)
munsan_2014_temp3_month5 = make_date(munsan_2014_temp3[16324:20912], 2014, 5)
munsan_2014_temp3_month6 = make_date(munsan_2014_temp3[20913:25353], 2014, 6)
munsan_2014_temp3_month7 = make_date(munsan_2014_temp3[25354:29446], 2014, 7)
munsan_2014_temp3_month8 = make_date(munsan_2014_temp3[29447:34035], 2014, 8)
munsan_2014_temp3_month9 = make_date(munsan_2014_temp3[34036:38476], 2014, 9)
munsan_2014_temp3_month10 = make_date(munsan_2014_temp3[38477:43065], 2014, 10)
munsan_2014_temp3_month11 = make_date(munsan_2014_temp3[43066:47506], 2014, 11)
munsan_2014_temp3_month12 = make_date(munsan_2014_temp3[47507:52095], 2014, 12)


df_list = [munsan_2014_temp3_month1, munsan_2014_temp3_month2, munsan_2014_temp3_month3, munsan_2014_temp3_month4,munsan_2014_temp3_month5,
           munsan_2014_temp3_month6, munsan_2014_temp3_month7, munsan_2014_temp3_month8, munsan_2014_temp3_month9,munsan_2014_temp3_month10,
           munsan_2014_temp3_month11, munsan_2014_temp3_month12]

munsan_2014_temp3_new = pd.concat(df_list, ignore_index = True)

munsan_2014_temp3_new1_24 = munsan_2014_temp3_new.loc[(munsan_2014_temp3_new['hour'] == 1400) & ((munsan_2014_temp3_new['forecast']>=4.0) & (munsan_2014_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2014_temp3_new1_48 = munsan_2014_temp3_new.loc[(munsan_2014_temp3_new['hour'] == 1400) & ((munsan_2014_temp3_new['forecast']>=28.0) & (munsan_2014_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2014_temp3_new1_24.columns = ['date', 'temp_24']
munsan_2014_temp3_new1_48.columns = ['date', 'temp_48']

munsan_2014_temp3_new2 = pd.concat([munsan_2014_temp3_new1_24, munsan_2014_temp3_new1_48['temp_48']], axis=1)
munsan_2014_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2014-01-01  -1.4000   0.2250
1   2014-01-02  -0.4000  -0.9625
2   2014-01-03  -2.3000  -1.9125
3   2014-01-04  -2.5125  -2.5250
4   2014-01-05  -2.6125  -0.4375
..         ...      ...      ...
360 2014-12-27  -1.7500   0.5500
361 2014-12-28  -0.1375  -1.3125
362 2014-12-29  -0.7500  -3.8875
363 2014-12-30  -3.1000  -8.1625
364 2014-12-31  -7.5125  -7.2250

[365 rows x 3 columns]

#### 습도

In [ ]:
munsan_2014_humid.loc[munsan_2014_humid['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
munsan_2014_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_humid_month1 = make_date(munsan_2014_humid[:4092], 2014, 1)
munsan_2014_humid_month2 = make_date(munsan_2014_humid[4093:7789], 2014, 2)
munsan_2014_humid_month3 = make_date(munsan_2014_humid[7790:11882], 2014, 3)
munsan_2014_humid_month4 = make_date(munsan_2014_humid[11883:16323], 2014, 4)
munsan_2014_humid_month5 = make_date(munsan_2014_humid[16324:20912], 2014, 5)
munsan_2014_humid_month6 = make_date(munsan_2014_humid[20913:25353], 2014, 6)
munsan_2014_humid_month7 = make_date(munsan_2014_humid[25354:29446], 2014, 7)
munsan_2014_humid_month8 = make_date(munsan_2014_humid[29447:34035], 2014, 8)
munsan_2014_humid_month9 = make_date(munsan_2014_humid[34036:38476], 2014, 9)
munsan_2014_humid_month10 = make_date(munsan_2014_humid[38477:43065], 2014, 10)
munsan_2014_humid_month11 = make_date(munsan_2014_humid[43066:47506], 2014, 11)
munsan_2014_humid_month12 = make_date(munsan_2014_humid[47507:52095], 2014, 12)

df_list = [munsan_2014_humid_month1, munsan_2014_humid_month2, munsan_2014_humid_month3, munsan_2014_humid_month4, munsan_2014_humid_month5,
           munsan_2014_humid_month6, munsan_2014_humid_month7, munsan_2014_humid_month8, munsan_2014_humid_month9, munsan_2014_humid_month10,
           munsan_2014_humid_month11, munsan_2014_humid_month12]

munsan_2014_humid_new = pd.concat(df_list, ignore_index = True)

munsan_2014_humid_new1_24 = munsan_2014_humid_new.loc[(munsan_2014_humid_new['hour'] == 1400) & ((munsan_2014_humid_new['forecast']>=4.0) & (munsan_2014_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2014_humid_new1_48 = munsan_2014_humid_new.loc[(munsan_2014_humid_new['hour'] == 1400) & ((munsan_2014_humid_new['forecast']>=28.0) & (munsan_2014_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2014_humid_new1_24.columns = ['date', 'humid_24']
munsan_2014_humid_new1_48.columns = ['date', 'humid_48']

munsan_2014_humid_new2 = pd.concat([munsan_2014_humid_new1_24, munsan_2014_humid_new1_48['humid_48']], axis=1)
munsan_2014_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2014-01-01    60.000    67.500
1   2014-01-02    68.750    65.000
2   2014-01-03    63.000    65.000
3   2014-01-04    64.500    65.000
4   2014-01-05    62.500    71.000
..         ...       ...       ...
360 2014-12-27    75.000    78.250
361 2014-12-28    75.750    68.375
362 2014-12-29    74.125    64.125
363 2014-12-30    71.250    54.500
364 2014-12-31    42.500    53.625

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
munsan_2014_maxtemp.loc[munsan_2014_maxtemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
465,Start : 20140201,NaN,NaN,NaN
886,Start : 20140301,NaN,NaN,NaN
1352,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2513,Start : 20140601,NaN,NaN,NaN
3084,Start : 20140701,NaN,NaN,NaN
3550,Start : 20140801,NaN,NaN,NaN
4140,Start : 20140901,NaN,NaN,NaN
4711,Start : 20141001,NaN,NaN,NaN
5301,Start : 20141101,NaN,NaN,NaN
5872,Start : 20141201,NaN,NaN,NaN
6462,,NaN,NaN,NaN

In [ ]:
munsan_2014_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_maxtemp.loc[munsan_2014_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
munsan_2014_maxtemp_month1 = make_date(munsan_2014_maxtemp[:465], 2014, 1)
munsan_2014_maxtemp_month2 = make_date(munsan_2014_maxtemp[466:886], 2014, 2)
munsan_2014_maxtemp_month3 = make_date(munsan_2014_maxtemp[887:1352], 2014, 3)
munsan_2014_maxtemp_month4 = make_date(munsan_2014_maxtemp[1353:1923], 2014, 4)
munsan_2014_maxtemp_month5 = make_date(munsan_2014_maxtemp[1924:2513], 2014, 5)
munsan_2014_maxtemp_month6 = make_date(munsan_2014_maxtemp[2514:3084], 2014, 6)
munsan_2014_maxtemp_month7 = make_date(munsan_2014_maxtemp[3085:3550], 2014, 7)
munsan_2014_maxtemp_month8 = make_date(munsan_2014_maxtemp[3551:4140], 2014, 8)
munsan_2014_maxtemp_month9 = make_date(munsan_2014_maxtemp[4141:4711], 2014, 9)
munsan_2014_maxtemp_month10 = make_date(munsan_2014_maxtemp[4712:5301], 2014, 10)
munsan_2014_maxtemp_month11 = make_date(munsan_2014_maxtemp[5302:5872], 2014, 11)
munsan_2014_maxtemp_month12 = make_date(munsan_2014_maxtemp[5873:6462], 2014, 12)

df_list = [munsan_2014_maxtemp_month1, munsan_2014_maxtemp_month2, munsan_2014_maxtemp_month3, munsan_2014_maxtemp_month4, munsan_2014_maxtemp_month5,
           munsan_2014_maxtemp_month6, munsan_2014_maxtemp_month7, munsan_2014_maxtemp_month8, munsan_2014_maxtemp_month9 ,munsan_2014_maxtemp_month10,
           munsan_2014_maxtemp_month11, munsan_2014_maxtemp_month12]

munsan_2014_maxtemp_new = pd.concat(df_list, ignore_index = True)

munsan_2014_maxtemp_new1 = munsan_2014_maxtemp_new.loc[(munsan_2014_maxtemp_new['hour'] == 2300) & ((munsan_2014_maxtemp_new['forecast']==4.0) | (munsan_2014_maxtemp_new['forecast']==7.0) | (munsan_2014_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

munsan_2014_maxtemp_new1.columns = ['date', 'max_temp_24']

munsan_2014_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2014-01-01          7.1
1   2014-01-02          7.1
2   2014-01-03          5.0
3   2014-01-04          5.0
4   2014-01-05          5.1
..         ...          ...
360 2014-12-27          5.2
361 2014-12-28          5.4
362 2014-12-29          5.2
363 2014-12-30          1.7
364 2014-12-31          1.5

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
munsan_2014_mintemp.loc[munsan_2014_mintemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
496,Start : 20140201,NaN,NaN,NaN
945,Start : 20140301,NaN,NaN,NaN
1442,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2420,Start : 20140601,NaN,NaN,NaN
2901,Start : 20140701,NaN,NaN,NaN
3398,Start : 20140801,NaN,NaN,NaN
3895,Start : 20140901,NaN,NaN,NaN
4376,Start : 20141001,NaN,NaN,NaN
4873,Start : 20141101,NaN,NaN,NaN
5354,Start : 20141201,NaN,NaN,NaN
5851,,NaN,NaN,NaN

In [ ]:
munsan_2014_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_mintemp.loc[munsan_2014_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
munsan_2014_mintemp_month1 = make_date(munsan_2014_mintemp[:496], 2014, 1)
munsan_2014_mintemp_month2 = make_date(munsan_2014_mintemp[497:945], 2014, 2)
munsan_2014_mintemp_month3 = make_date(munsan_2014_mintemp[946:1442], 2014, 3)
munsan_2014_mintemp_month4 = make_date(munsan_2014_mintemp[1443:1923], 2014, 4)
munsan_2014_mintemp_month5 = make_date(munsan_2014_mintemp[1924:2420], 2014, 5)
munsan_2014_mintemp_month6 = make_date(munsan_2014_mintemp[2421:2901], 2014, 6)
munsan_2014_mintemp_month7 = make_date(munsan_2014_mintemp[2902:3398], 2014, 7)
munsan_2014_mintemp_month8 = make_date(munsan_2014_mintemp[3399:3895], 2014, 8)
munsan_2014_mintemp_month9 = make_date(munsan_2014_mintemp[3896:4376], 2014, 9)
munsan_2014_mintemp_month10 = make_date(munsan_2014_mintemp[4377:4873], 2014, 10)
munsan_2014_mintemp_month11 = make_date(munsan_2014_mintemp[4874:5354], 2014, 11)
munsan_2014_mintemp_month12 = make_date(munsan_2014_mintemp[5355:5851], 2014, 12)

df_list = [munsan_2014_mintemp_month1, munsan_2014_mintemp_month2, munsan_2014_mintemp_month3, munsan_2014_mintemp_month4, munsan_2014_mintemp_month5,
           munsan_2014_mintemp_month6, munsan_2014_mintemp_month7, munsan_2014_mintemp_month8, munsan_2014_mintemp_month9 ,munsan_2014_mintemp_month10,
           munsan_2014_mintemp_month11, munsan_2014_mintemp_month12]

munsan_2014_mintemp_new = pd.concat(df_list, ignore_index = True)

munsan_2014_mintemp_new1 = munsan_2014_mintemp_new.loc[(munsan_2014_mintemp_new['hour'] == 1400) & ((munsan_2014_mintemp_new['forecast']==4.0) | (munsan_2014_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

munsan_2014_mintemp_new1.columns = ['date', 'min_temp_24']

munsan_2014_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2014-01-01         -5.9
1   2014-01-02         -5.9
2   2014-01-03         -6.9
3   2014-01-04         -7.8
4   2014-01-05         -7.9
..         ...          ...
360 2014-12-27         -6.6
361 2014-12-28         -4.4
362 2014-12-29         -5.6
363 2014-12-30        -10.8
364 2014-12-31        -11.7

[365 rows x 2 columns]

#### 풍속

In [ ]:
munsan_2014_wind.loc[munsan_2014_wind['hour'].isna(),:]

,format..day,hour,forecast,value..location.56_133.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
munsan_2014_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2014_wind_month1 = make_date(munsan_2014_wind[:4092], 2014, 1)
munsan_2014_wind_month2 = make_date(munsan_2014_wind[4093:7789], 2014, 2)
munsan_2014_wind_month3 = make_date(munsan_2014_wind[7790:11882], 2014, 3)
munsan_2014_wind_month4 = make_date(munsan_2014_wind[11883:16323], 2014, 4)
munsan_2014_wind_month5 = make_date(munsan_2014_wind[16324:20912], 2014, 5)
munsan_2014_wind_month6 = make_date(munsan_2014_wind[20913:25353], 2014, 6)
munsan_2014_wind_month7 = make_date(munsan_2014_wind[25354:29446], 2014, 7)
munsan_2014_wind_month8 = make_date(munsan_2014_wind[29447:34035], 2014, 8)
munsan_2014_wind_month9 = make_date(munsan_2014_wind[34036:38476], 2014, 9)
munsan_2014_wind_month10 = make_date(munsan_2014_wind[38477:43065], 2014, 10)
munsan_2014_wind_month11 = make_date(munsan_2014_wind[43066:47506], 2014, 11)
munsan_2014_wind_month12 = make_date(munsan_2014_wind[47507:52095], 2014, 12)

df_list = [munsan_2014_wind_month1, munsan_2014_wind_month2, munsan_2014_wind_month3, munsan_2014_wind_month4, munsan_2014_wind_month5,
           munsan_2014_wind_month6, munsan_2014_wind_month7, munsan_2014_wind_month8, munsan_2014_wind_month9, munsan_2014_wind_month10,
           munsan_2014_wind_month11, munsan_2014_wind_month12]

munsan_2014_wind_new = pd.concat(df_list, ignore_index = True)

munsan_2014_wind_new1_24 = munsan_2014_wind_new.loc[(munsan_2014_wind_new['hour'] == 1400) & ((munsan_2014_wind_new['forecast']>=4.0) & (munsan_2014_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2014_wind_new1_48 = munsan_2014_wind_new.loc[(munsan_2014_wind_new['hour'] == 1400) & ((munsan_2014_wind_new['forecast']>=28.0) & (munsan_2014_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2014_wind_new1_24.columns = ['date', 'wind_24']
munsan_2014_wind_new1_48.columns = ['date', 'wind_48']

munsan_2014_wind_new2 = pd.concat([munsan_2014_wind_new1_24, munsan_2014_wind_new1_48['wind_48']], axis=1)
munsan_2014_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2014-01-01   1.1500   1.2375
1   2014-01-02   1.2625   1.2500
2   2014-01-03   1.7625   1.3500
3   2014-01-04   1.1750   1.2125
4   2014-01-05   1.3750   1.7250
..         ...      ...      ...
360 2014-12-27   1.1500   1.1625
361 2014-12-28   1.2750   1.8750
362 2014-12-29   1.2625   3.3125
363 2014-12-30   5.4875   5.2000
364 2014-12-31   5.3250   2.3625

[365 rows x 3 columns]

#### 2014년 문산읍 데이터

In [ ]:
from functools import reduce
dfs = [munsan_2014_rainfall_new1, munsan_2014_snow_new1, munsan_2014_temp3_new2, munsan_2014_humid_new2,munsan_2014_maxtemp_new1,
       munsan_2014_mintemp_new1,munsan_2014_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2014-01-01,0.0,0.0,-1.4000,0.2250,60.000,67.500,7.1,-5.9,1.1500,1.2375
1,2014-01-02,0.0,0.0,-0.4000,-0.9625,68.750,65.000,7.1,-5.9,1.2625,1.2500
2,2014-01-03,0.0,0.0,-2.3000,-1.9125,63.000,65.000,5.0,-6.9,1.7625,1.3500
3,2014-01-04,0.0,0.0,-2.5125,-2.5250,64.500,65.000,5.0,-7.8,1.1750,1.2125
4,2014-01-05,0.0,0.0,-2.6125,-0.4375,62.500,71.000,5.1,-7.9,1.3750,1.7250
...,...,...,...,...,...,...,...,...,...,...,...
299,2014-12-27,0.0,0.0,-1.7500,0.5500,75.000,78.250,5.2,-6.6,1.1500,1.1625
300,2014-12-28,0.0,0.0,-0.1375,-1.3125,75.750,68.375,5.4,-4.4,1.2750,1.8750
301,2014-12-29,0.0,0.0,-0.7500,-3.8875,74.125,64.125,5.2,-5.6,1.2625,3.3125
302,2014-12-30,2.0,2.0,-3.1000,-8.1625,71.250,54.500,1.7,-10.8,5.4875,5.2000
303,2014-12-31,0.0,0.0,-7.5125,-7.2250,42.500,53.625,1.5,-11.7,5.3250,2.3625

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_문산읍_2014.csv', index=False)

### 2015년

In [ ]:
munsan_2015_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_6시간강수량_201501_201512.csv')
munsan_2015_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_6시간적설_201501_201512.csv')
munsan_2015_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_3시간기온_201501_201512.csv')
munsan_2015_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_습도_201501_201512.csv')
munsan_2015_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_일최고기온_201501_201512.csv')
munsan_2015_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_일최저기온_201501_201512.csv')
munsan_2015_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/문산읍_풍속_201501_201512.csv')

#### 6시간강수량

In [ ]:
munsan_2015_rainfall.loc[munsan_2015_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_rainfall.loc[munsan_2015_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2015_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_rainfall_month1 = make_date(munsan_2015_rainfall[:2356], 2015, 1)
munsan_2015_rainfall_month2 = make_date(munsan_2015_rainfall[2357:4485], 2015, 2)
munsan_2015_rainfall_month3 = make_date(munsan_2015_rainfall[4486:6842], 2015, 3)
munsan_2015_rainfall_month4 = make_date(munsan_2015_rainfall[6843:9123], 2015, 4)
munsan_2015_rainfall_month5 = make_date(munsan_2015_rainfall[9124:10709], 2015, 5)
munsan_2015_rainfall_month6 = make_date(munsan_2015_rainfall[10710:12990], 2015, 6)
munsan_2015_rainfall_month7 = make_date(munsan_2015_rainfall[12991:15347], 2015, 7)
munsan_2015_rainfall_month8 = make_date(munsan_2015_rainfall[15348:17704], 2015, 8)
munsan_2015_rainfall_month9 = make_date(munsan_2015_rainfall[17705:19985], 2015, 9)
munsan_2015_rainfall_month10 = make_date(munsan_2015_rainfall[19986:22342], 2015, 10)
munsan_2015_rainfall_month11 = make_date(munsan_2015_rainfall[22343:24623], 2015, 11)
munsan_2015_rainfall_month12 = make_date(munsan_2015_rainfall[24624:], 2015, 12)


df_list = [munsan_2015_rainfall_month1, munsan_2015_rainfall_month2, munsan_2015_rainfall_month3, munsan_2015_rainfall_month4, munsan_2015_rainfall_month5,
           munsan_2015_rainfall_month6, munsan_2015_rainfall_month7, munsan_2015_rainfall_month8, munsan_2015_rainfall_month9,munsan_2015_rainfall_month10,
           munsan_2015_rainfall_month11, munsan_2015_rainfall_month12]

munsan_2015_rainfall_new = pd.concat(df_list, ignore_index = True)

munsan_2015_rainfall_new1 = munsan_2015_rainfall_new.loc[(munsan_2015_rainfall_new['hour'] == 1400) & ((munsan_2015_rainfall_new['forecast']>=7.0) & (munsan_2015_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2015_rainfall_new1.columns = ['date', 'rainfall_24']
munsan_2015_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2015-01-01          0.0
1   2015-01-02          0.0
2   2015-01-03          1.0
3   2015-01-04          5.0
4   2015-01-05          5.0
..         ...          ...
350 2015-12-27          0.0
351 2015-12-28          0.0
352 2015-12-29         10.0
353 2015-12-30          0.0
354 2015-12-31          0.0

[355 rows x 2 columns]

#### 6시간적설

In [ ]:
munsan_2015_snow.loc[munsan_2015_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_snow.loc[munsan_2015_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2015_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_snow_month1 = make_date(munsan_2015_snow[:2356],2015, 1)
munsan_2015_snow_month2 = make_date(munsan_2015_snow[2357:4485], 2015, 2)
munsan_2015_snow_month3 = make_date(munsan_2015_snow[4486:6842], 2015, 3)
munsan_2015_snow_month4 = make_date(munsan_2015_snow[6843:9123], 2015, 4)
munsan_2015_snow_month5 = make_date(munsan_2015_snow[9124:10709], 2015, 5)
munsan_2015_snow_month6 = make_date(munsan_2015_snow[10710:12990], 2015, 6)
munsan_2015_snow_month7 = make_date(munsan_2015_snow[12991:15347],2015, 7)
munsan_2015_snow_month8 = make_date(munsan_2015_snow[15348:17704], 2015, 8)
munsan_2015_snow_month9 = make_date(munsan_2015_snow[17705:19985], 2015, 9)
munsan_2015_snow_month10 = make_date(munsan_2015_snow[19986:22342], 2015, 10)
munsan_2015_snow_month11 = make_date(munsan_2015_snow[22343:24623], 2015, 11)
munsan_2015_snow_month12 = make_date(munsan_2015_snow[24624:], 2015, 12)


df_list = [munsan_2015_snow_month1, munsan_2015_snow_month2, munsan_2015_snow_month3, munsan_2015_snow_month4, munsan_2015_snow_month5,
           munsan_2015_snow_month6, munsan_2015_snow_month7, munsan_2015_snow_month8, munsan_2015_snow_month9, munsan_2015_snow_month10, 
           munsan_2015_snow_month11, munsan_2015_snow_month12]

munsan_2015_snow_new = pd.concat(df_list, ignore_index = True)

munsan_2015_snow_new1 = munsan_2015_snow_new.loc[(munsan_2015_snow_new['hour'] == 1400) & ((munsan_2015_snow_new['forecast']>=7.0) & (munsan_2015_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2015_snow_new1.columns = ['date', 'snow_24']
munsan_2015_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2015-01-01      0.0
1   2015-01-02      0.0
2   2015-01-03      5.0
3   2015-01-04      1.0
4   2015-01-05      1.0
..         ...      ...
350 2015-12-27      0.0
351 2015-12-28      0.0
352 2015-12-29     10.0
353 2015-12-30      0.0
354 2015-12-31      0.0

[355 rows x 2 columns]

#### 3시간기온

In [ ]:
munsan_2015_temp3.loc[munsan_2015_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_temp3_month1 = make_date(munsan_2015_temp3[:4588], 2015, 1)
munsan_2015_temp3_month2 = make_date(munsan_2015_temp3[4589:8733], 2015, 2)
munsan_2015_temp3_month3 = make_date(munsan_2015_temp3[8734:13322], 2015, 3)
munsan_2015_temp3_month4 = make_date(munsan_2015_temp3[13323:17763], 2015, 4)
munsan_2015_temp3_month5 = make_date(munsan_2015_temp3[17764:20851], 2015, 5)
munsan_2015_temp3_month6 = make_date(munsan_2015_temp3[20852:25292], 2015, 6)
munsan_2015_temp3_month7 = make_date(munsan_2015_temp3[25293:29881], 2015, 7)
munsan_2015_temp3_month8 = make_date(munsan_2015_temp3[29882:34470], 2015, 8)
munsan_2015_temp3_month9 = make_date(munsan_2015_temp3[34471:38911], 2015, 9)
munsan_2015_temp3_month10 = make_date(munsan_2015_temp3[38912:43500], 2015, 10)
munsan_2015_temp3_month11 = make_date(munsan_2015_temp3[43501:47941], 2015, 11)
munsan_2015_temp3_month12 = make_date(munsan_2015_temp3[47942:],2015, 12)


df_list = [munsan_2015_temp3_month1, munsan_2015_temp3_month2, munsan_2015_temp3_month3, munsan_2015_temp3_month4,munsan_2015_temp3_month5,
           munsan_2015_temp3_month6, munsan_2015_temp3_month7, munsan_2015_temp3_month8, munsan_2015_temp3_month9,munsan_2015_temp3_month10,
           munsan_2015_temp3_month11, munsan_2015_temp3_month12]

munsan_2015_temp3_new = pd.concat(df_list, ignore_index = True)

munsan_2015_temp3_new1_24 = munsan_2015_temp3_new.loc[(munsan_2015_temp3_new['hour'] == 1400) & ((munsan_2015_temp3_new['forecast']>=4.0) & (munsan_2015_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2015_temp3_new1_48 = munsan_2015_temp3_new.loc[(munsan_2015_temp3_new['hour'] == 1400) & ((munsan_2015_temp3_new['forecast']>=28.0) & (munsan_2015_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2015_temp3_new1_24.columns = ['date', 'temp_24']
munsan_2015_temp3_new1_48.columns = ['date', 'temp_48']

munsan_2015_temp3_new2 = pd.concat([munsan_2015_temp3_new1_24, munsan_2015_temp3_new1_48['temp_48']], axis=1)
munsan_2015_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2015-01-01  -8.2000  -5.5500
1   2015-01-02  -5.0750   0.4875
2   2015-01-03   0.7875   1.5500
3   2015-01-04   1.5250  -2.6375
4   2015-01-05  -2.8625  -7.0875
..         ...      ...      ...
350 2015-12-27  -6.4500  -3.7250
351 2015-12-28  -4.6500  -1.2750
352 2015-12-29  -2.1125  -0.5625
353 2015-12-30  -0.4625  -0.3375
354 2015-12-31  -0.2000   4.1375

[355 rows x 3 columns]

#### 습도

In [ ]:
munsan_2015_humid.loc[munsan_2015_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20519,Start : 20150601,NaN,NaN,NaN
24960,Start : 20150701,NaN,NaN,NaN
29549,Start : 20150801,NaN,NaN,NaN
34138,Start : 20150901,NaN,NaN,NaN
38579,Start : 20151001,NaN,NaN,NaN
43168,Start : 20151101,NaN,NaN,NaN
47609,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_humid_month1 = make_date(munsan_2015_humid[:4588], 2015, 1)
munsan_2015_humid_month2 = make_date(munsan_2015_humid[4589:8733], 2015, 2)
munsan_2015_humid_month3 = make_date(munsan_2015_humid[8734:13322], 2015, 3)
munsan_2015_humid_month4 = make_date(munsan_2015_humid[13323:17763], 2015, 4)
munsan_2015_humid_month5 = make_date(munsan_2015_humid[17764:20519], 2015, 5)
munsan_2015_humid_month6 = make_date(munsan_2015_humid[20520:24960], 2015, 6)
munsan_2015_humid_month7 = make_date(munsan_2015_humid[24961:29549], 2015, 7)
munsan_2015_humid_month8 = make_date(munsan_2015_humid[29550:34138], 2015, 8)
munsan_2015_humid_month9 = make_date(munsan_2015_humid[34139:38579], 2015, 9)
munsan_2015_humid_month10 = make_date(munsan_2015_humid[38580:43168], 2015, 10)
munsan_2015_humid_month11 = make_date(munsan_2015_humid[43169:47609], 2015, 11)
munsan_2015_humid_month12 = make_date(munsan_2015_humid[47610:], 2015, 12)

df_list = [munsan_2015_humid_month1, munsan_2015_humid_month2, munsan_2015_humid_month3, munsan_2015_humid_month4, munsan_2015_humid_month5,
           munsan_2015_humid_month6, munsan_2015_humid_month7, munsan_2015_humid_month8, munsan_2015_humid_month9, munsan_2015_humid_month10,
           munsan_2015_humid_month11, munsan_2015_humid_month12]

munsan_2015_humid_new = pd.concat(df_list, ignore_index = True)

munsan_2015_humid_new1_24 = munsan_2015_humid_new.loc[(munsan_2015_humid_new['hour'] == 1400) & ((munsan_2015_humid_new['forecast']>=4.0) & (munsan_2015_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2015_humid_new1_48 = munsan_2015_humid_new.loc[(munsan_2015_humid_new['hour'] == 1400) & ((munsan_2015_humid_new['forecast']>=28.0) & (munsan_2015_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2015_humid_new1_24.columns = ['date', 'humid_24']
munsan_2015_humid_new1_48.columns = ['date', 'humid_48']

munsan_2015_humid_new2 = pd.concat([munsan_2015_humid_new1_24, munsan_2015_humid_new1_48['humid_48']], axis=1)
munsan_2015_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2015-01-01    39.375    53.750
1   2015-01-02    70.125    74.375
2   2015-01-03    75.125    83.375
3   2015-01-04    75.250    50.250
4   2015-01-05    56.875    47.375
..         ...       ...       ...
350 2015-12-27    53.500    67.625
351 2015-12-28    67.000    75.000
352 2015-12-29    72.250    74.250
353 2015-12-30    73.000    72.000
354 2015-12-31    71.875    73.750

[355 rows x 3 columns]

#### 일최고기온

In [ ]:
munsan_2015_maxtemp.loc[munsan_2015_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
589,Start : 20150201,NaN,NaN,NaN
1122,Start : 20150301,NaN,NaN,NaN
1712,Start : 20150401,NaN,NaN,NaN
2283,Start : 20150501,NaN,NaN,NaN
2680,Start : 20150601,NaN,NaN,NaN
3251,Start : 20150701,NaN,NaN,NaN
3841,Start : 20150801,NaN,NaN,NaN
4431,Start : 20150901,NaN,NaN,NaN
5002,Start : 20151001,NaN,NaN,NaN
5592,Start : 20151101,NaN,NaN,NaN
6163,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_maxtemp.loc[munsan_2015_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
munsan_2015_maxtemp_month1 = make_date(munsan_2015_maxtemp[:589], 2015, 1)
munsan_2015_maxtemp_month2 = make_date(munsan_2015_maxtemp[590:1122], 2015, 2)
munsan_2015_maxtemp_month3 = make_date(munsan_2015_maxtemp[1123:1712], 2015, 3)
munsan_2015_maxtemp_month4 = make_date(munsan_2015_maxtemp[1713:2283], 2015, 4)
munsan_2015_maxtemp_month5 = make_date(munsan_2015_maxtemp[2284:2680], 2015, 5)
munsan_2015_maxtemp_month6 = make_date(munsan_2015_maxtemp[2681:3251], 2015, 6)
munsan_2015_maxtemp_month7 = make_date(munsan_2015_maxtemp[3252:3841], 2015, 7)
munsan_2015_maxtemp_month8 = make_date(munsan_2015_maxtemp[3842:4431], 2015, 8)
munsan_2015_maxtemp_month9 = make_date(munsan_2015_maxtemp[4432:5002], 2015, 9)
munsan_2015_maxtemp_month10 = make_date(munsan_2015_maxtemp[5003:5592], 2015, 10)
munsan_2015_maxtemp_month11 = make_date(munsan_2015_maxtemp[5593:6163], 2015, 11)
munsan_2015_maxtemp_month12 = make_date(munsan_2015_maxtemp[6164:], 2015, 12)

df_list = [munsan_2015_maxtemp_month1, munsan_2015_maxtemp_month2, munsan_2015_maxtemp_month3, munsan_2015_maxtemp_month4, munsan_2015_maxtemp_month5,
           munsan_2015_maxtemp_month6, munsan_2015_maxtemp_month7, munsan_2015_maxtemp_month8, munsan_2015_maxtemp_month9 ,munsan_2015_maxtemp_month10,
           munsan_2015_maxtemp_month11, munsan_2015_maxtemp_month12]

munsan_2015_maxtemp_new = pd.concat(df_list, ignore_index = True)

munsan_2015_maxtemp_new1 = munsan_2015_maxtemp_new.loc[(munsan_2015_maxtemp_new['hour'] == 2300) & ((munsan_2015_maxtemp_new['forecast']==4.0) | (munsan_2015_maxtemp_new['forecast']==7.0) | (munsan_2015_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

munsan_2015_maxtemp_new1.columns = ['date', 'max_temp_24']

munsan_2015_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2015-01-01          7.1
1   2015-01-02          8.1
2   2015-01-03          7.3
3   2015-01-04          6.3
4   2015-01-05         -0.9
..         ...          ...
349 2015-12-27          2.2
350 2015-12-28          4.1
351 2015-12-29          5.1
352 2015-12-30          8.2
353 2015-12-31         10.1

[354 rows x 2 columns]

#### 일최저기온

In [ ]:
munsan_2015_mintemp.loc[munsan_2015_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
496,Start : 20150201,NaN,NaN,NaN
945,Start : 20150301,NaN,NaN,NaN
1442,Start : 20150401,NaN,NaN,NaN
1923,Start : 20150501,NaN,NaN,NaN
2258,Start : 20150601,NaN,NaN,NaN
2739,Start : 20150701,NaN,NaN,NaN
3236,Start : 20150801,NaN,NaN,NaN
3733,Start : 20150901,NaN,NaN,NaN
4214,Start : 20151001,NaN,NaN,NaN
4711,Start : 20151101,NaN,NaN,NaN
5192,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_mintemp.loc[munsan_2015_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
munsan_2015_mintemp_month1 = make_date(munsan_2015_mintemp[:496], 2015, 1)
munsan_2015_mintemp_month2 = make_date(munsan_2015_mintemp[497:945], 2015, 2)
munsan_2015_mintemp_month3 = make_date(munsan_2015_mintemp[946:1442], 2015, 3)
munsan_2015_mintemp_month4 = make_date(munsan_2015_mintemp[1443:1923], 2015, 4)
munsan_2015_mintemp_month5 = make_date(munsan_2015_mintemp[1924:2258], 2015, 5)
munsan_2015_mintemp_month6 = make_date(munsan_2015_mintemp[2259:2739], 2015, 6)
munsan_2015_mintemp_month7 = make_date(munsan_2015_mintemp[2740:3236], 2015, 7)
munsan_2015_mintemp_month8 = make_date(munsan_2015_mintemp[3237:3733], 2015, 8)
munsan_2015_mintemp_month9 = make_date(munsan_2015_mintemp[3734:4214], 2015, 9)
munsan_2015_mintemp_month10 = make_date(munsan_2015_mintemp[4215:4711], 2015, 10)
munsan_2015_mintemp_month11 = make_date(munsan_2015_mintemp[4712:5192], 2015, 11)
munsan_2015_mintemp_month12 = make_date(munsan_2015_mintemp[5193:], 2015, 12)

df_list = [munsan_2015_mintemp_month1, munsan_2015_mintemp_month2, munsan_2015_mintemp_month3, munsan_2015_mintemp_month4, munsan_2015_mintemp_month5,
           munsan_2015_mintemp_month6, munsan_2015_mintemp_month7, munsan_2015_mintemp_month8, munsan_2015_mintemp_month9 ,munsan_2015_mintemp_month10,
           munsan_2015_mintemp_month11, munsan_2015_mintemp_month12]

munsan_2015_mintemp_new = pd.concat(df_list, ignore_index = True)

munsan_2015_mintemp_new1 = munsan_2015_mintemp_new.loc[(munsan_2015_mintemp_new['hour'] == 1400) & ((munsan_2015_mintemp_new['forecast']==4.0) | (munsan_2015_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

munsan_2015_mintemp_new1.columns = ['date', 'min_temp_24']

munsan_2015_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2015-01-01        -13.5
1   2015-01-02        -13.4
2   2015-01-03         -3.5
3   2015-01-04         -3.9
4   2015-01-05         -9.8
..         ...          ...
350 2015-12-27        -12.8
351 2015-12-28        -11.6
352 2015-12-29         -6.5
353 2015-12-30         -6.9
354 2015-12-31         -6.9

[355 rows x 2 columns]

#### 풍속

In [ ]:
munsan_2015_wind.loc[munsan_2015_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
munsan_2015_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2015_wind_month1 = make_date(munsan_2015_wind[:4588], 2015, 1)
munsan_2015_wind_month2 = make_date(munsan_2015_wind[4589:8733], 2015, 2)
munsan_2015_wind_month3 = make_date(munsan_2015_wind[8734:13322], 2015, 3)
munsan_2015_wind_month4 = make_date(munsan_2015_wind[13323:17763], 2015, 4)
munsan_2015_wind_month5 = make_date(munsan_2015_wind[17764:20851], 2015, 5)
munsan_2015_wind_month6 = make_date(munsan_2015_wind[20852:25292], 2015, 6)
munsan_2015_wind_month7 = make_date(munsan_2015_wind[25293:29881], 2015, 7)
munsan_2015_wind_month8 = make_date(munsan_2015_wind[29882:34470], 2015, 8)
munsan_2015_wind_month9 = make_date(munsan_2015_wind[34471:38911], 2015, 9)
munsan_2015_wind_month10 = make_date(munsan_2015_wind[38912:43500], 2015, 10)
munsan_2015_wind_month11 = make_date(munsan_2015_wind[43501:47941], 2015, 11)
munsan_2015_wind_month12 = make_date(munsan_2015_wind[47942:], 2015, 12)

df_list = [munsan_2015_wind_month1, munsan_2015_wind_month2, munsan_2015_wind_month3, munsan_2015_wind_month4, munsan_2015_wind_month5,
           munsan_2015_wind_month6, munsan_2015_wind_month7, munsan_2015_wind_month8, munsan_2015_wind_month9, munsan_2015_wind_month10,
           munsan_2015_wind_month11, munsan_2015_wind_month12]

munsan_2015_wind_new = pd.concat(df_list, ignore_index = True)

munsan_2015_wind_new1_24 = munsan_2015_wind_new.loc[(munsan_2015_wind_new['hour'] == 1400) & ((munsan_2015_wind_new['forecast']>=4.0) & (munsan_2015_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2015_wind_new1_48 = munsan_2015_wind_new.loc[(munsan_2015_wind_new['hour'] == 1400) & ((munsan_2015_wind_new['forecast']>=28.0) & (munsan_2015_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2015_wind_new1_24.columns = ['date', 'wind_24']
munsan_2015_wind_new1_48.columns = ['date', 'wind_48']

munsan_2015_wind_new2 = pd.concat([munsan_2015_wind_new1_24, munsan_2015_wind_new1_48['wind_48']], axis=1)
munsan_2015_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2015-01-01   3.0000   1.7500
1   2015-01-02   1.1125   1.2500
2   2015-01-03   1.1125   1.6375
3   2015-01-04   1.2625   3.4875
4   2015-01-05   4.6500   3.7750
..         ...      ...      ...
350 2015-12-27   1.9875   1.2000
351 2015-12-28   1.2625   1.5125
352 2015-12-29   1.3750   1.7375
353 2015-12-30   1.2500   1.3750
354 2015-12-31   1.4125   2.0250

[355 rows x 3 columns]

#### 2015년 문산읍 데이터

In [ ]:
from functools import reduce
dfs = [munsan_2015_rainfall_new1, munsan_2015_snow_new1, munsan_2015_temp3_new2, munsan_2015_humid_new2,munsan_2015_maxtemp_new1,
       munsan_2015_mintemp_new1, munsan_2015_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2015-01-01,0.0,0.0,-8.2000,-5.5500,39.375,53.750,7.1,-13.5,3.0000,1.7500
1,2015-01-02,0.0,0.0,-5.0750,0.4875,70.125,74.375,8.1,-13.4,1.1125,1.2500
2,2015-01-03,1.0,5.0,0.7875,1.5500,75.125,83.375,7.3,-3.5,1.1125,1.6375
3,2015-01-04,5.0,1.0,1.5250,-2.6375,75.250,50.250,6.3,-3.9,1.2625,3.4875
4,2015-01-05,5.0,1.0,-2.8625,-7.0875,56.875,47.375,-0.9,-9.8,4.6500,3.7750
...,...,...,...,...,...,...,...,...,...,...,...
350,2015-12-27,0.0,0.0,-6.4500,-3.7250,53.500,67.625,2.2,-12.8,1.9875,1.2000
351,2015-12-28,0.0,0.0,-4.6500,-1.2750,67.000,75.000,4.1,-11.6,1.2625,1.5125
352,2015-12-29,10.0,10.0,-2.1125,-0.5625,72.250,74.250,5.1,-6.5,1.3750,1.7375
353,2015-12-30,0.0,0.0,-0.4625,-0.3375,73.000,72.000,8.2,-6.9,1.2500,1.3750
354,2015-12-31,0.0,0.0,-0.2000,4.1375,71.875,73.750,10.1,-6.9,1.4125,2.0250

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_문산읍_2015.csv', index=False)

### 2016년

In [ ]:
munsan_2016_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_6시간강수량_201601_201612.csv')
munsan_2016_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_6시간적설_201601_201612.csv')
munsan_2016_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_3시간기온_201601_201612.csv')
munsan_2016_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_습도_201601_201612.csv')
munsan_2016_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_일최고기온_201601_201612.csv')
munsan_2016_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_일최저기온_201601_201612.csv')
munsan_2016_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/문산읍_풍속_201601_201612.csv')

#### 6시간강수량

In [ ]:
munsan_2016_rainfall.loc[munsan_2016_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_rainfall.loc[munsan_2016_rainfall['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_rainfall2 = munsan_2016_rainfall.iloc[:27827]

In [ ]:
munsan_2016_rainfall2['hour'] = pd.to_numeric(munsan_2016_rainfall2['hour'])
munsan_2016_rainfall2['forecast'] =  pd.to_numeric(munsan_2016_rainfall2['forecast'])
munsan_2016_rainfall2['value'] =  pd.to_numeric(munsan_2016_rainfall2['value'])

In [ ]:
munsan_2016_rainfall2.loc[munsan_2016_rainfall2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2016_rainfall2.loc[munsan_2016_rainfall2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_rainfall_month1 = make_date(munsan_2016_rainfall2[:2356], 2016, 1)
munsan_2016_rainfall_month2 = make_date(munsan_2016_rainfall2[2357:4561], 2016, 2)
munsan_2016_rainfall_month3 = make_date(munsan_2016_rainfall2[4562:6918], 2016, 3)
munsan_2016_rainfall_month4 = make_date(munsan_2016_rainfall2[6919:9199], 2016, 4)
munsan_2016_rainfall_month5 = make_date(munsan_2016_rainfall2[9200:11556], 2016, 5)
munsan_2016_rainfall_month6 = make_date(munsan_2016_rainfall2[11557:13837], 2016, 6)
munsan_2016_rainfall_month7 = make_date(munsan_2016_rainfall2[13838:16194], 2016, 7)
munsan_2016_rainfall_month8 = make_date(munsan_2016_rainfall2[16195:18551], 2016, 8)
munsan_2016_rainfall_month9 = make_date(munsan_2016_rainfall2[18552:20832], 2016, 9)
munsan_2016_rainfall_month10 = make_date(munsan_2016_rainfall2[20833:23189], 2016, 10)
munsan_2016_rainfall_month11 = make_date(munsan_2016_rainfall2[23190:25470], 2016, 11)
munsan_2016_rainfall_month12 = make_date(munsan_2016_rainfall2[25471:], 2016, 12)


df_list = [munsan_2016_rainfall_month1, munsan_2016_rainfall_month2, munsan_2016_rainfall_month3, munsan_2016_rainfall_month4, munsan_2016_rainfall_month5,
           munsan_2016_rainfall_month6, munsan_2016_rainfall_month7, munsan_2016_rainfall_month8, munsan_2016_rainfall_month9,munsan_2016_rainfall_month10,
           munsan_2016_rainfall_month11, munsan_2016_rainfall_month12]

munsan_2016_rainfall_new = pd.concat(df_list, ignore_index = True)

munsan_2016_rainfall_new1 = munsan_2016_rainfall_new.loc[(munsan_2016_rainfall_new['hour'] == 1400) & ((munsan_2016_rainfall_new['forecast']>=7.0) & (munsan_2016_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2016_rainfall_new1.columns = ['date', 'rainfall_24']
munsan_2016_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2016-01-01          0.0
1   2016-01-02          0.0
2   2016-01-03          0.0
3   2016-01-04          0.0
4   2016-01-05          0.0
..         ...          ...
361 2016-12-27          0.0
362 2016-12-28          1.0
363 2016-12-29          0.0
364 2016-12-30          0.0
365 2016-12-31          0.0

[366 rows x 2 columns]

#### 6시간적설

In [ ]:
munsan_2016_snow.loc[munsan_2016_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_snow.loc[munsan_2016_snow['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_snow2 = munsan_2016_snow.iloc[:27827]

In [ ]:
munsan_2016_snow2['hour'] = pd.to_numeric(munsan_2016_snow2['hour'])
munsan_2016_snow2['forecast'] =  pd.to_numeric(munsan_2016_snow2['forecast'])
munsan_2016_snow2['value'] =  pd.to_numeric(munsan_2016_snow2['value'])

In [ ]:
munsan_2016_snow2.loc[munsan_2016_snow2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
munsan_2016_snow2.loc[munsan_2016_snow2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_snow_month1 = make_date(munsan_2016_snow2[:2356], 2016, 1)
munsan_2016_snow_month2 = make_date(munsan_2016_snow2[2357:4561], 2016, 2)
munsan_2016_snow_month3 = make_date(munsan_2016_snow2[4562:6918], 2016, 3)
munsan_2016_snow_month4 = make_date(munsan_2016_snow2[6919:9199], 2016, 4)
munsan_2016_snow_month5 = make_date(munsan_2016_snow2[9200:11556], 2016, 5)
munsan_2016_snow_month6 = make_date(munsan_2016_snow2[11557:13837], 2016, 6)
munsan_2016_snow_month7 = make_date(munsan_2016_snow2[13838:16194], 2016, 7)
munsan_2016_snow_month8 = make_date(munsan_2016_snow2[16195:18551], 2016, 8)
munsan_2016_snow_month9 = make_date(munsan_2016_snow2[18552:20832], 2016, 9)
munsan_2016_snow_month10 = make_date(munsan_2016_snow2[20833:23189], 2016, 10)
munsan_2016_snow_month11 = make_date(munsan_2016_snow2[23190:25470], 2016, 11)
munsan_2016_snow_month12 = make_date(munsan_2016_snow2[25471:], 2016, 12)


df_list = [munsan_2016_snow_month1, munsan_2016_snow_month2, munsan_2016_snow_month3, munsan_2016_snow_month4, munsan_2016_snow_month5,
           munsan_2016_snow_month6, munsan_2016_snow_month7, munsan_2016_snow_month8, munsan_2016_snow_month9, munsan_2016_snow_month10, 
           munsan_2016_snow_month11, munsan_2016_snow_month12]

munsan_2016_snow_new = pd.concat(df_list, ignore_index = True)

munsan_2016_snow_new1 = munsan_2016_snow_new.loc[(munsan_2016_snow_new['hour'] == 1400) & ((munsan_2016_snow_new['forecast']>=7.0) & (munsan_2016_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

munsan_2016_snow_new1.columns = ['date', 'snow_24']
munsan_2016_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2016-01-01      0.0
1   2016-01-02      0.0
2   2016-01-03      0.0
3   2016-01-04      0.0
4   2016-01-05      0.0
..         ...      ...
361 2016-12-27      0.0
362 2016-12-28      1.0
363 2016-12-29      0.0
364 2016-12-30      0.0
365 2016-12-31      0.0

[366 rows x 2 columns]

#### 3시간기온

In [ ]:
munsan_2016_temp3.loc[munsan_2016_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_temp3.loc[munsan_2016_temp3['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_temp32 = munsan_2016_temp3.iloc[:54179]

In [ ]:
munsan_2016_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_temp32['hour'] = pd.to_numeric(munsan_2016_temp32['hour'])
munsan_2016_temp32['forecast'] =  pd.to_numeric(munsan_2016_temp32['forecast'])
munsan_2016_temp32['value'] =  pd.to_numeric(munsan_2016_temp32['value'])

In [ ]:
munsan_2016_temp32.loc[munsan_2016_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_temp3_month1 = make_date(munsan_2016_temp32[:4588], 2016, 1)
munsan_2016_temp3_month2 = make_date(munsan_2016_temp32[4589:8881], 2016, 2)
munsan_2016_temp3_month3 = make_date(munsan_2016_temp32[8882:13470], 2016, 3)
munsan_2016_temp3_month4 = make_date(munsan_2016_temp32[13471:17911], 2016, 4)
munsan_2016_temp3_month5 = make_date(munsan_2016_temp32[17912:22500], 2016, 5)
munsan_2016_temp3_month6 = make_date(munsan_2016_temp32[22501:26941], 2016, 6)
munsan_2016_temp3_month7 = make_date(munsan_2016_temp32[26942:31530], 2016, 7)
munsan_2016_temp3_month8 = make_date(munsan_2016_temp32[31531:36119], 2016, 8)
munsan_2016_temp3_month9 = make_date(munsan_2016_temp32[36120:40560], 2016, 9)
munsan_2016_temp3_month10 = make_date(munsan_2016_temp32[40561:45149], 2016, 10)
munsan_2016_temp3_month11 = make_date(munsan_2016_temp32[45150:49590], 2016, 11)
munsan_2016_temp3_month12 = make_date(munsan_2016_temp32[49591:],2016, 12)


df_list = [munsan_2016_temp3_month1, munsan_2016_temp3_month2, munsan_2016_temp3_month3, munsan_2016_temp3_month4,munsan_2016_temp3_month5,
           munsan_2016_temp3_month6, munsan_2016_temp3_month7, munsan_2016_temp3_month8, munsan_2016_temp3_month9,munsan_2016_temp3_month10,
           munsan_2016_temp3_month11, munsan_2016_temp3_month12]

munsan_2016_temp3_new = pd.concat(df_list, ignore_index = True)

munsan_2016_temp3_new1_24 = munsan_2016_temp3_new.loc[(munsan_2016_temp3_new['hour'] == 1400) & ((munsan_2016_temp3_new['forecast']>=4.0) & (munsan_2016_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2016_temp3_new1_48 = munsan_2016_temp3_new.loc[(munsan_2016_temp3_new['hour'] == 1400) & ((munsan_2016_temp3_new['forecast']>=28.0) & (munsan_2016_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2016_temp3_new1_24.columns = ['date', 'temp_24']
munsan_2016_temp3_new1_48.columns = ['date', 'temp_48']

munsan_2016_temp3_new2 = pd.concat([munsan_2016_temp3_new1_24, munsan_2016_temp3_new1_48['temp_48']], axis=1)
munsan_2016_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2016-01-01   5.1125   2.7250
1   2016-01-02   4.9125   1.6000
2   2016-01-03   1.4375  -2.7750
3   2016-01-04  -3.0500  -3.2875
4   2016-01-05  -3.1750  -4.9000
..         ...      ...      ...
361 2016-12-27  -5.0625  -3.9000
362 2016-12-28  -3.9500  -3.9000
363 2016-12-29  -4.6625  -0.1750
364 2016-12-30  -0.8625   0.9375
365 2016-12-31   1.2500   2.0375

[366 rows x 3 columns]

#### 습도

In [ ]:
munsan_2016_humid.loc[munsan_2016_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_humid.loc[munsan_2016_humid['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_humid2 = munsan_2016_humid.iloc[:54179]

In [ ]:
munsan_2016_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_humid2['hour'] = pd.to_numeric(munsan_2016_humid2['hour'])
munsan_2016_humid2['forecast'] =  pd.to_numeric(munsan_2016_humid2['forecast'])
munsan_2016_humid2['value'] =  pd.to_numeric(munsan_2016_humid2['value'])

In [ ]:
munsan_2016_humid2.loc[munsan_2016_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_humid_month1 = make_date(munsan_2016_humid2[:4588], 2016, 1)
munsan_2016_humid_month2 = make_date(munsan_2016_humid2[4589:8881], 2016, 2)
munsan_2016_humid_month3 = make_date(munsan_2016_humid2[8882:13470], 2016, 3)
munsan_2016_humid_month4 = make_date(munsan_2016_humid2[13471:17911], 2016, 4)
munsan_2016_humid_month5 = make_date(munsan_2016_humid2[17912:22500], 2016, 5)
munsan_2016_humid_month6 = make_date(munsan_2016_humid2[22501:26941], 2016, 6)
munsan_2016_humid_month7 = make_date(munsan_2016_humid2[26942:31530], 2016, 7)
munsan_2016_humid_month8 = make_date(munsan_2016_humid2[31531:36119], 2016, 8)
munsan_2016_humid_month9 = make_date(munsan_2016_humid2[36120:40560], 2016, 9)
munsan_2016_humid_month10 = make_date(munsan_2016_humid2[40561:45149], 2016, 10)
munsan_2016_humid_month11 = make_date(munsan_2016_humid2[45150:49590], 2016, 11)
munsan_2016_humid_month12 = make_date(munsan_2016_humid2[49591:],2016, 12)

df_list = [munsan_2016_humid_month1, munsan_2016_humid_month2, munsan_2016_humid_month3, munsan_2016_humid_month4, munsan_2016_humid_month5,
           munsan_2016_humid_month6, munsan_2016_humid_month7, munsan_2016_humid_month8, munsan_2016_humid_month9, munsan_2016_humid_month10,
           munsan_2016_humid_month11, munsan_2016_humid_month12]

munsan_2016_humid_new = pd.concat(df_list, ignore_index = True)

munsan_2016_humid_new1_24 = munsan_2016_humid_new.loc[(munsan_2016_humid_new['hour'] == 1400) & ((munsan_2016_humid_new['forecast']>=4.0) & (munsan_2016_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2016_humid_new1_48 = munsan_2016_humid_new.loc[(munsan_2016_humid_new['hour'] == 1400) & ((munsan_2016_humid_new['forecast']>=28.0) & (munsan_2016_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2016_humid_new1_24.columns = ['date', 'humid_24']
munsan_2016_humid_new1_48.columns = ['date', 'humid_48']

munsan_2016_humid_new2 = pd.concat([munsan_2016_humid_new1_24, munsan_2016_humid_new1_48['humid_48']], axis=1)
munsan_2016_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2016-01-01    73.125    71.375
1   2016-01-02    71.125    68.750
2   2016-01-03    69.250    50.625
3   2016-01-04    51.000    57.500
4   2016-01-05    62.625    53.625
..         ...       ...       ...
361 2016-12-27    54.625    49.125
362 2016-12-28    48.875    62.625
363 2016-12-29    66.000    73.750
364 2016-12-30    73.125    73.375
365 2016-12-31    75.250    71.250

[366 rows x 3 columns]

#### 일최고기온

In [ ]:
munsan_2016_maxtemp.loc[munsan_2016_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
589,Start : 20160201,NaN,NaN,NaN
1141,Start : 20160301,NaN,NaN,NaN
1731,Start : 20160401,NaN,NaN,NaN
2302,Start : 20160501,NaN,NaN,NaN
2892,Start : 20160601,NaN,NaN,NaN
3463,Start : 20160701,NaN,NaN,NaN
4053,Start : 20160801,NaN,NaN,NaN
4643,Start : 20160901,NaN,NaN,NaN
5214,Start : 20161001,NaN,NaN,NaN
5804,Start : 20161101,NaN,NaN,NaN
6375,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_maxtemp.loc[munsan_2016_maxtemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_maxtemp2 = munsan_2016_maxtemp.iloc[:6965,:]

In [ ]:
munsan_2016_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_maxtemp2['hour'] = pd.to_numeric(munsan_2016_maxtemp2['hour'])
munsan_2016_maxtemp2['forecast'] =  pd.to_numeric(munsan_2016_maxtemp2['forecast'])
munsan_2016_maxtemp2['value'] =  pd.to_numeric(munsan_2016_maxtemp2['value'])

In [ ]:
munsan_2016_maxtemp2.loc[munsan_2016_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
589    Start : 20160201    NaN       NaN    NaN
1141   Start : 20160301    NaN       NaN    NaN
1731   Start : 20160401    NaN       NaN    NaN
2302   Start : 20160501    NaN       NaN    NaN
2892   Start : 20160601    NaN       NaN    NaN
3463   Start : 20160701    NaN       NaN    NaN
4053   Start : 20160801    NaN       NaN    NaN
4643   Start : 20160901    NaN       NaN    NaN
5214   Start : 20161001    NaN       NaN    NaN
5804   Start : 20161101    NaN       NaN    NaN
6375   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_maxtemp2.loc[munsan_2016_maxtemp2['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
munsan_2016_maxtemp_month1 = make_date(munsan_2016_maxtemp2[:589], 2016, 1)
munsan_2016_maxtemp_month2 = make_date(munsan_2016_maxtemp2[590:1141], 2016, 2)
munsan_2016_maxtemp_month3 = make_date(munsan_2016_maxtemp2[1142:1731], 2016, 3)
munsan_2016_maxtemp_month4 = make_date(munsan_2016_maxtemp2[1732:2302], 2016, 4)
munsan_2016_maxtemp_month5 = make_date(munsan_2016_maxtemp2[2303:2892], 2016, 5)
munsan_2016_maxtemp_month6 = make_date(munsan_2016_maxtemp2[2893:3463], 2016, 6)
munsan_2016_maxtemp_month7 = make_date(munsan_2016_maxtemp2[3464:4053], 2016, 7)
munsan_2016_maxtemp_month8 = make_date(munsan_2016_maxtemp2[4054:4643], 2016, 8)
munsan_2016_maxtemp_month9 = make_date(munsan_2016_maxtemp2[4644:5214], 2016, 9)
munsan_2016_maxtemp_month10 = make_date(munsan_2016_maxtemp2[5215:5804], 2016, 10)
munsan_2016_maxtemp_month11 = make_date(munsan_2016_maxtemp2[5805:6375], 2016, 11)
munsan_2016_maxtemp_month12 = make_date(munsan_2016_maxtemp2[6376:], 2016, 12)

df_list = [munsan_2016_maxtemp_month1, munsan_2016_maxtemp_month2, munsan_2016_maxtemp_month3, munsan_2016_maxtemp_month4, munsan_2016_maxtemp_month5,
           munsan_2016_maxtemp_month6, munsan_2016_maxtemp_month7, munsan_2016_maxtemp_month8, munsan_2016_maxtemp_month9 ,munsan_2016_maxtemp_month10,
           munsan_2016_maxtemp_month11, munsan_2016_maxtemp_month12]

munsan_2016_maxtemp_new = pd.concat(df_list, ignore_index = True)

munsan_2016_maxtemp_new1 = munsan_2016_maxtemp_new.loc[(munsan_2016_maxtemp_new['hour'] == 2300) & ((munsan_2016_maxtemp_new['forecast']==4.0) | (munsan_2016_maxtemp_new['forecast']==7.0) | (munsan_2016_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

munsan_2016_maxtemp_new1.columns = ['date', 'max_temp_24']

munsan_2016_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2016-01-01         10.1
1   2016-01-02          9.6
2   2016-01-03          4.7
3   2016-01-04          3.1
4   2016-01-05          2.1
..         ...          ...
361 2016-12-27          1.7
362 2016-12-28          5.8
363 2016-12-29          7.0
364 2016-12-30          8.1
365 2016-12-31          8.0

[366 rows x 2 columns]

#### 일최저기온

In [ ]:
munsan_2016_mintemp.loc[munsan_2016_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
496,Start : 20160201,NaN,NaN,NaN
961,Start : 20160301,NaN,NaN,NaN
1458,Start : 20160401,NaN,NaN,NaN
1939,Start : 20160501,NaN,NaN,NaN
2436,Start : 20160601,NaN,NaN,NaN
2917,Start : 20160701,NaN,NaN,NaN
3414,Start : 20160801,NaN,NaN,NaN
3911,Start : 20160901,NaN,NaN,NaN
4392,Start : 20161001,NaN,NaN,NaN
4889,Start : 20161101,NaN,NaN,NaN
5370,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_mintemp.loc[munsan_2016_mintemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_mintemp2 = munsan_2016_mintemp.iloc[:5867,:]

In [ ]:
munsan_2016_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_mintemp2['hour'] = pd.to_numeric(munsan_2016_mintemp2['hour'])
munsan_2016_mintemp2['forecast'] =  pd.to_numeric(munsan_2016_mintemp2['forecast'])
munsan_2016_mintemp2['value'] =  pd.to_numeric(munsan_2016_mintemp2['value'])

In [ ]:
munsan_2016_mintemp2.loc[munsan_2016_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20160201    NaN       NaN    NaN
961    Start : 20160301    NaN       NaN    NaN
1458   Start : 20160401    NaN       NaN    NaN
1939   Start : 20160501    NaN       NaN    NaN
2436   Start : 20160601    NaN       NaN    NaN
2917   Start : 20160701    NaN       NaN    NaN
3414   Start : 20160801    NaN       NaN    NaN
3911   Start : 20160901    NaN       NaN    NaN
4392   Start : 20161001    NaN       NaN    NaN
4889   Start : 20161101    NaN       NaN    NaN
5370   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_mintemp2.loc[munsan_2016_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
munsan_2016_mintemp_month1 = make_date(munsan_2016_mintemp2[:496], 2016, 1)
munsan_2016_mintemp_month2 = make_date(munsan_2016_mintemp2[497:961], 2016, 2)
munsan_2016_mintemp_month3 = make_date(munsan_2016_mintemp2[962:1458], 2016, 3)
munsan_2016_mintemp_month4 = make_date(munsan_2016_mintemp2[1459:1939], 2016, 4)
munsan_2016_mintemp_month5 = make_date(munsan_2016_mintemp2[1940:2436], 2016, 5)
munsan_2016_mintemp_month6 = make_date(munsan_2016_mintemp2[2437:2917], 2016, 6)
munsan_2016_mintemp_month7 = make_date(munsan_2016_mintemp2[2918:3414], 2016, 7)
munsan_2016_mintemp_month8 = make_date(munsan_2016_mintemp2[3415:3911], 2016, 8)
munsan_2016_mintemp_month9 = make_date(munsan_2016_mintemp2[3912:4392], 2016, 9)
munsan_2016_mintemp_month10 = make_date(munsan_2016_mintemp2[4393:4889], 2016, 10)
munsan_2016_mintemp_month11 = make_date(munsan_2016_mintemp2[4890:5370], 2016, 11)
munsan_2016_mintemp_month12 = make_date(munsan_2016_mintemp2[5371:], 2016, 12)

df_list = [munsan_2016_mintemp_month1, munsan_2016_mintemp_month2, munsan_2016_mintemp_month3, munsan_2016_mintemp_month4, munsan_2016_mintemp_month5,
           munsan_2016_mintemp_month6, munsan_2016_mintemp_month7, munsan_2016_mintemp_month8, munsan_2016_mintemp_month9 ,munsan_2016_mintemp_month10,
           munsan_2016_mintemp_month11, munsan_2016_mintemp_month12]

munsan_2016_mintemp_new = pd.concat(df_list, ignore_index = True)

munsan_2016_mintemp_new1 = munsan_2016_mintemp_new.loc[(munsan_2016_mintemp_new['hour'] == 1400) & ((munsan_2016_mintemp_new['forecast']==4.0) | (munsan_2016_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

munsan_2016_mintemp_new1.columns = ['date', 'min_temp_24']

munsan_2016_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2016-01-01          0.1
1   2016-01-02          0.3
2   2016-01-03         -4.4
3   2016-01-04         -7.8
4   2016-01-05         -8.8
..         ...          ...
361 2016-12-27        -10.3
362 2016-12-28        -10.4
363 2016-12-29        -11.9
364 2016-12-30         -4.9
365 2016-12-31         -5.0

[366 rows x 2 columns]

#### 풍속

In [ ]:
munsan_2016_wind.loc[munsan_2016_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:56_133 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
munsan_2016_wind.loc[munsan_2016_wind['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:56_133 Start : 20160101 ]
Index: []

In [ ]:
munsan_2016_wind2 = munsan_2016_wind.iloc[:54179]

In [ ]:
munsan_2016_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
munsan_2016_wind2['hour'] = pd.to_numeric(munsan_2016_wind2['hour'])
munsan_2016_wind2['forecast'] =  pd.to_numeric(munsan_2016_wind2['forecast'])
munsan_2016_wind2['value'] =  pd.to_numeric(munsan_2016_wind2['value'])

In [ ]:
munsan_2016_wind2.loc[munsan_2016_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
munsan_2016_wind_month1 = make_date(munsan_2016_wind2[:4588], 2016, 1)
munsan_2016_wind_month2 = make_date(munsan_2016_wind2[4589:8881], 2016, 2)
munsan_2016_wind_month3 = make_date(munsan_2016_wind2[8882:13470], 2016, 3)
munsan_2016_wind_month4 = make_date(munsan_2016_wind2[13471:17911], 2016, 4)
munsan_2016_wind_month5 = make_date(munsan_2016_wind2[17912:22500], 2016, 5)
munsan_2016_wind_month6 = make_date(munsan_2016_wind2[22501:26941], 2016, 6)
munsan_2016_wind_month7 = make_date(munsan_2016_wind2[26942:31530], 2016, 7)
munsan_2016_wind_month8 = make_date(munsan_2016_wind2[31531:36119], 2016, 8)
munsan_2016_wind_month9 = make_date(munsan_2016_wind2[36120:40560], 2016, 9)
munsan_2016_wind_month10 = make_date(munsan_2016_wind2[40561:45149], 2016, 10)
munsan_2016_wind_month11 = make_date(munsan_2016_wind2[45150:49590], 2016, 11)
munsan_2016_wind_month12 = make_date(munsan_2016_wind2[49591:], 2016, 12)

df_list = [munsan_2016_wind_month1, munsan_2016_wind_month2, munsan_2016_wind_month3, munsan_2016_wind_month4, munsan_2016_wind_month5,
           munsan_2016_wind_month6, munsan_2016_wind_month7, munsan_2016_wind_month8, munsan_2016_wind_month9, munsan_2016_wind_month10,
           munsan_2016_wind_month11, munsan_2016_wind_month12]

munsan_2016_wind_new = pd.concat(df_list, ignore_index = True)

munsan_2016_wind_new1_24 = munsan_2016_wind_new.loc[(munsan_2016_wind_new['hour'] == 1400) & ((munsan_2016_wind_new['forecast']>=4.0) & (munsan_2016_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
munsan_2016_wind_new1_48 = munsan_2016_wind_new.loc[(munsan_2016_wind_new['hour'] == 1400) & ((munsan_2016_wind_new['forecast']>=28.0) & (munsan_2016_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

munsan_2016_wind_new1_24.columns = ['date', 'wind_24']
munsan_2016_wind_new1_48.columns = ['date', 'wind_48']

munsan_2016_wind_new2 = pd.concat([munsan_2016_wind_new1_24, munsan_2016_wind_new1_48['wind_48']], axis=1)
munsan_2016_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2016-01-01   2.7625   1.4000
1   2016-01-02   1.3375   2.0125
2   2016-01-03   2.0000   2.3625
3   2016-01-04   2.0250   2.5750
4   2016-01-05   2.3625   2.5125
..         ...      ...      ...
361 2016-12-27   1.3250   2.8000
362 2016-12-28   2.7500   1.4250
363 2016-12-29   1.5000   1.5000
364 2016-12-30   1.5000   1.3625
365 2016-12-31   1.3750   1.5000

[366 rows x 3 columns]

#### 2016년 문산읍 데이터

In [ ]:
from functools import reduce
dfs = [munsan_2016_rainfall_new1, munsan_2016_snow_new1, munsan_2016_temp3_new2, munsan_2016_humid_new2,munsan_2016_maxtemp_new1,
       munsan_2016_mintemp_new1, munsan_2016_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,0.0,0.0,5.1125,2.7250,73.125,71.375,10.1,0.1,2.7625,1.4000
1,2016-01-02,0.0,0.0,4.9125,1.6000,71.125,68.750,9.6,0.3,1.3375,2.0125
2,2016-01-03,0.0,0.0,1.4375,-2.7750,69.250,50.625,4.7,-4.4,2.0000,2.3625
3,2016-01-04,0.0,0.0,-3.0500,-3.2875,51.000,57.500,3.1,-7.8,2.0250,2.5750
4,2016-01-05,0.0,0.0,-3.1750,-4.9000,62.625,53.625,2.1,-8.8,2.3625,2.5125
...,...,...,...,...,...,...,...,...,...,...,...
361,2016-12-27,0.0,0.0,-5.0625,-3.9000,54.625,49.125,1.7,-10.3,1.3250,2.8000
362,2016-12-28,1.0,1.0,-3.9500,-3.9000,48.875,62.625,5.8,-10.4,2.7500,1.4250
363,2016-12-29,0.0,0.0,-4.6625,-0.1750,66.000,73.750,7.0,-11.9,1.5000,1.5000
364,2016-12-30,0.0,0.0,-0.8625,0.9375,73.125,73.375,8.1,-4.9,1.5000,1.3625
365,2016-12-31,0.0,0.0,1.2500,2.0375,75.250,71.250,8.0,-5.0,1.3750,1.5000

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_문산읍_2016.csv', index=False)

## 부발읍 -

### 2012년

In [ ]:
bubal_2012_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_12시간강수량_201201_201212.csv')
bubal_2012_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_12시간신적설_201201_201212.csv')
bubal_2012_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_3시간기온_201201_201212.csv')
bubal_2012_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_습도_201201_201212.csv')
bubal_2012_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_일최고기온_201201_201212.csv')
bubal_2012_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_일최저기온_201201_201212.csv')
bubal_2012_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/부발읍_풍속_201201_201212.csv')

#### 12시간강수량

In [ ]:
bubal_2012_rainfall.loc[bubal_2012_rainfall['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
bubal_2012_rainfall.loc[bubal_2012_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
bubal_2012_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_rainfall_month1 = make_date(bubal_2012_rainfall[:1116], 2012, 1)
bubal_2012_rainfall_month2 = make_date(bubal_2012_rainfall[1117:2161], 2012, 2)
bubal_2012_rainfall_month3 = make_date(bubal_2012_rainfall[2162:3278], 2012, 3)
bubal_2012_rainfall_month4 = make_date(bubal_2012_rainfall[3279:4359], 2012, 4)
bubal_2012_rainfall_month5 = make_date(bubal_2012_rainfall[4360:4396], 2012, 5)
bubal_2012_rainfall_month6 = make_date(bubal_2012_rainfall[4397:5477], 2012, 6)
bubal_2012_rainfall_month7 = make_date(bubal_2012_rainfall[5478:5514], 2012, 7)
bubal_2012_rainfall_month8 = make_date(bubal_2012_rainfall[5515:6595], 2012, 8)
bubal_2012_rainfall_month9 = make_date(bubal_2012_rainfall[6596:7676], 2012, 9)
bubal_2012_rainfall_month10 = make_date(bubal_2012_rainfall[7677:7713], 2012, 10)
bubal_2012_rainfall_month11 = make_date(bubal_2012_rainfall[7714:8794], 2012, 11)
bubal_2012_rainfall_month12 = make_date(bubal_2012_rainfall[8795:], 2012, 12)

df_list = [bubal_2012_rainfall_month1, bubal_2012_rainfall_month2, bubal_2012_rainfall_month3, bubal_2012_rainfall_month4, bubal_2012_rainfall_month5,
           bubal_2012_rainfall_month6, bubal_2012_rainfall_month7, bubal_2012_rainfall_month8, bubal_2012_rainfall_month9, bubal_2012_rainfall_month10,
           bubal_2012_rainfall_month11,bubal_2012_rainfall_month12 ]
bubal_2012_rainfall_new = pd.concat(df_list, ignore_index = True)

bubal_2012_rainfall_new1 = bubal_2012_rainfall_new.loc[(bubal_2012_rainfall_new['hour'] == 1100) & ((bubal_2012_rainfall_new['forecast']==4.0) | (bubal_2012_rainfall_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2012_rainfall_new1.columns = ['date', 'rainfall_24']
bubal_2012_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2012-01-01          5.0
1   2012-01-02          0.0
2   2012-01-03          0.0
3   2012-01-04          0.0
4   2012-01-05          0.0
..         ...          ...
270 2012-12-27          5.0
271 2012-12-28          0.0
272 2012-12-29          5.0
273 2012-12-30          1.0
274 2012-12-31          0.0

[275 rows x 2 columns]

#### 12시간신적설

In [ ]:
bubal_2012_snow.loc[bubal_2012_snow['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
bubal_2012_snow.loc[bubal_2012_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
bubal_2012_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_snow_month1 = make_date(bubal_2012_snow[:1116], 2012, 1)
bubal_2012_snow_month2 = make_date(bubal_2012_snow[1117:2161], 2012, 2)
bubal_2012_snow_month3 = make_date(bubal_2012_snow[2162:3278], 2012, 3)
bubal_2012_snow_month4 = make_date(bubal_2012_snow[3279:4359], 2012, 4)
bubal_2012_snow_month5 = make_date(bubal_2012_snow[4360:4396], 2012, 5)
bubal_2012_snow_month6 = make_date(bubal_2012_snow[4397:5477], 2012, 6)
bubal_2012_snow_month7 = make_date(bubal_2012_snow[5478:5514], 2012, 7)
bubal_2012_snow_month8 = make_date(bubal_2012_snow[5515:6595], 2012, 8)
bubal_2012_snow_month9 = make_date(bubal_2012_snow[6596:7676], 2012, 9)
bubal_2012_snow_month10 = make_date(bubal_2012_snow[7677:7713], 2012, 10)
bubal_2012_snow_month11 = make_date(bubal_2012_snow[7714:8794], 2012, 11)
bubal_2012_snow_month12 = make_date(bubal_2012_snow[8795:], 2012, 12)

df_list = [bubal_2012_snow_month1, bubal_2012_snow_month2, bubal_2012_snow_month3, bubal_2012_snow_month4, bubal_2012_snow_month5,
           bubal_2012_snow_month6, bubal_2012_snow_month7, bubal_2012_snow_month8, bubal_2012_snow_month9, bubal_2012_snow_month10,
           bubal_2012_snow_month11, bubal_2012_snow_month12 ]

bubal_2012_snow_new = pd.concat(df_list, ignore_index = True)

bubal_2012_snow_new1 = bubal_2012_snow_new.loc[(bubal_2012_snow_new['hour'] == 1100) & ((bubal_2012_snow_new['forecast']==4.0) | (bubal_2012_snow_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2012_snow_new1.columns = ['date', 'snow_24']
bubal_2012_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2012-01-01      1.0
1   2012-01-02      0.0
2   2012-01-03      0.0
3   2012-01-04      0.0
4   2012-01-05      0.0
..         ...      ...
270 2012-12-27      5.0
271 2012-12-28      0.0
272 2012-12-29      5.0
273 2012-12-30      1.0
274 2012-12-31      0.0

[275 rows x 2 columns]

#### 3시간기온

In [ ]:
bubal_2012_temp3.loc[bubal_2012_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
bubal_2012_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_temp3_month1 = make_date(bubal_2012_temp3[:4092], 2012, 1)
bubal_2012_temp3_month2 = make_date(bubal_2012_temp3[4093:7921], 2012, 2)
bubal_2012_temp3_month3 = make_date(bubal_2012_temp3[7922:12014], 2012, 3)
bubal_2012_temp3_month4 = make_date(bubal_2012_temp3[12015:15975], 2012, 4)
bubal_2012_temp3_month5 = make_date(bubal_2012_temp3[15976:20068], 2012, 5)
bubal_2012_temp3_month6 = make_date(bubal_2012_temp3[20069:24029], 2012, 6)
bubal_2012_temp3_month7 = make_date(bubal_2012_temp3[24030:28122], 2012, 7)
bubal_2012_temp3_month8 = make_date(bubal_2012_temp3[28123:32215], 2012, 8)
bubal_2012_temp3_month9 = make_date(bubal_2012_temp3[32216:36176], 2012, 9)
bubal_2012_temp3_month10 = make_date(bubal_2012_temp3[36177:], 2012, 10)

df_list = [bubal_2012_temp3_month1, bubal_2012_temp3_month2, bubal_2012_temp3_month3, bubal_2012_temp3_month4, bubal_2012_temp3_month5,
           bubal_2012_temp3_month6, bubal_2012_temp3_month7, bubal_2012_temp3_month8, bubal_2012_temp3_month9, bubal_2012_temp3_month10]
bubal_2012_temp3_new = pd.concat(df_list, ignore_index = True)

bubal_2012_temp3_new1_24 = bubal_2012_temp3_new.loc[(bubal_2012_temp3_new['hour'] == 1400) & ((bubal_2012_temp3_new['forecast']>=4.0) & (bubal_2012_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2012_temp3_new1_48 = bubal_2012_temp3_new.loc[(bubal_2012_temp3_new['hour'] == 1400) & ((bubal_2012_temp3_new['forecast']>=28.0) & (bubal_2012_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2012_temp3_new1_24.columns = ['date', 'temp_24']
bubal_2012_temp3_new1_48.columns = ['date', 'temp_48']

bubal_2012_temp3_new2 = pd.concat([bubal_2012_temp3_new1_24, bubal_2012_temp3_new1_48['temp_48']], axis=1)
bubal_2012_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2012-01-01  -5.2000  -3.9625
1   2012-01-02  -5.5250  -6.2500
2   2012-01-03  -6.7875  -6.3625
3   2012-01-04  -6.4375  -3.3875
4   2012-01-05  -5.3375  -5.2750
..         ...      ...      ...
300 2012-10-27  12.7375   9.4625
301 2012-10-28   8.8125   8.2375
302 2012-10-29   8.2500   3.9875
303 2012-10-30   5.5000   4.3875
304 2012-10-31   3.6500   3.2750

[305 rows x 3 columns]

#### 습도

In [ ]:
bubal_2012_humid.loc[bubal_2012_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
bubal_2012_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_humid_month1 = make_date(bubal_2012_humid[:4092], 2012, 1)
bubal_2012_humid_month2 = make_date(bubal_2012_humid[4093:7921], 2012, 2)
bubal_2012_humid_month3 = make_date(bubal_2012_humid[7922:12014], 2012, 3)
bubal_2012_humid_month4 = make_date(bubal_2012_humid[12015:15975], 2012, 4)
bubal_2012_humid_month5 = make_date(bubal_2012_humid[15976:20068], 2012, 5)
bubal_2012_humid_month6 = make_date(bubal_2012_humid[20069:24029], 2012, 6)
bubal_2012_humid_month7 = make_date(bubal_2012_humid[24030:28122], 2012, 7)
bubal_2012_humid_month8 = make_date(bubal_2012_humid[28123:32215], 2012, 8)
bubal_2012_humid_month9 = make_date(bubal_2012_humid[32216:36176], 2012, 9)
bubal_2012_humid_month10 = make_date(bubal_2012_humid[36177:], 2012, 10)

df_list = [bubal_2012_humid_month1, bubal_2012_humid_month2, bubal_2012_humid_month3, bubal_2012_humid_month4, bubal_2012_humid_month5,
           bubal_2012_humid_month6, bubal_2012_humid_month7, bubal_2012_humid_month8, bubal_2012_humid_month9,bubal_2012_humid_month10]
bubal_2012_humid_new = pd.concat(df_list, ignore_index = True)

bubal_2012_humid_new1_24 = bubal_2012_humid_new.loc[(bubal_2012_humid_new['hour'] == 1400) & ((bubal_2012_humid_new['forecast']>=4.0) & (bubal_2012_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2012_humid_new1_48 = bubal_2012_humid_new.loc[(bubal_2012_humid_new['hour'] == 1400) & ((bubal_2012_humid_new['forecast']>=28.0) & (bubal_2012_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2012_humid_new1_24.columns = ['date', 'humid_24']
bubal_2012_humid_new1_48.columns = ['date', 'humid_48']

bubal_2012_humid_new2 = pd.concat([bubal_2012_humid_new1_24, bubal_2012_humid_new1_48['humid_48']], axis=1)
bubal_2012_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2012-01-01    59.125    63.875
1   2012-01-02    71.000    44.375
2   2012-01-03    50.500    55.625
3   2012-01-04    57.500    56.875
4   2012-01-05    49.125    59.875
..         ...       ...       ...
300 2012-10-27    68.500    70.375
301 2012-10-28    72.125    62.875
302 2012-10-29    63.750    66.000
303 2012-10-30    62.750    53.000
304 2012-10-31    47.500    55.750

[305 rows x 3 columns]

#### 일최고기온



forecast 4,7 중에 max

hour 2300 -> 오전 8시  / 오후 12시 오후 3시

In [ ]:

bubal_2012_maxtemp.loc[bubal_2012_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
465,Start : 20120201,NaN,NaN,NaN
901,Start : 20120301,NaN,NaN,NaN
1367,Start : 20120401,NaN,NaN,NaN
1818,Start : 20120501,NaN,NaN,NaN
2284,Start : 20120601,NaN,NaN,NaN
2735,Start : 20120701,NaN,NaN,NaN
3201,Start : 20120801,NaN,NaN,NaN
3667,Start : 20120901,NaN,NaN,NaN
4118,Start : 20121001,NaN,NaN,NaN

In [ ]:
bubal_2012_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_maxtemp.loc[bubal_2012_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
bubal_2012_maxtemp_month1 = make_date(bubal_2012_maxtemp[:465], 2012, 1)
bubal_2012_maxtemp_month2 = make_date(bubal_2012_maxtemp[466:901], 2012, 2)
bubal_2012_maxtemp_month3 = make_date(bubal_2012_maxtemp[902:1367], 2012, 3)
bubal_2012_maxtemp_month4 = make_date(bubal_2012_maxtemp[1368:1818], 2012, 4)
bubal_2012_maxtemp_month5 = make_date(bubal_2012_maxtemp[1819:2284], 2012, 5)
bubal_2012_maxtemp_month6 = make_date(bubal_2012_maxtemp[2285:2735], 2012, 6)
bubal_2012_maxtemp_month7 = make_date(bubal_2012_maxtemp[2736:3201], 2012, 7)
bubal_2012_maxtemp_month8 = make_date(bubal_2012_maxtemp[3202:3667], 2012, 8)
bubal_2012_maxtemp_month9 = make_date(bubal_2012_maxtemp[3668:4118], 2012, 9)
bubal_2012_maxtemp_month10 = make_date(bubal_2012_maxtemp[4119:], 2012, 10)

df_list = [bubal_2012_maxtemp_month1, bubal_2012_maxtemp_month2, bubal_2012_maxtemp_month3, bubal_2012_maxtemp_month4, bubal_2012_maxtemp_month5,
           bubal_2012_maxtemp_month6, bubal_2012_maxtemp_month7, bubal_2012_maxtemp_month8, bubal_2012_maxtemp_month9 ,bubal_2012_maxtemp_month10]

bubal_2012_maxtemp_new = pd.concat(df_list, ignore_index = True)

bubal_2012_maxtemp_new1 = bubal_2012_maxtemp_new.loc[(bubal_2012_maxtemp_new['hour'] == 2300) & ((bubal_2012_maxtemp_new['forecast']==4.0) | (bubal_2012_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

bubal_2012_maxtemp_new1.columns = ['date', 'max_temp_24']

bubal_2012_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2012-01-01          0.9
1   2012-01-02         -0.9
2   2012-01-03         -0.1
3   2012-01-04          2.1
4   2012-01-05          1.9
..         ...          ...
300 2012-10-27         19.6
301 2012-10-28         16.0
302 2012-10-29         12.1
303 2012-10-30         12.1
304 2012-10-31         11.9

[305 rows x 2 columns]

#### 일최저기온



forecast 4,7 중에 min

hour 1400 -> 오후 11시  / 오전 3시 오전 6시

In [ ]:
bubal_2012_mintemp.loc[bubal_2012_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
496,Start : 20120201,NaN,NaN,NaN
961,Start : 20120301,NaN,NaN,NaN
1458,Start : 20120401,NaN,NaN,NaN
1939,Start : 20120501,NaN,NaN,NaN
2436,Start : 20120601,NaN,NaN,NaN
2917,Start : 20120701,NaN,NaN,NaN
3414,Start : 20120801,NaN,NaN,NaN
3911,Start : 20120901,NaN,NaN,NaN
4392,Start : 20121001,NaN,NaN,NaN

In [ ]:
bubal_2012_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_mintemp_month1 = make_date(bubal_2012_mintemp[:496], 2012, 1)
bubal_2012_mintemp_month2 = make_date(bubal_2012_mintemp[497:961], 2012, 2)
bubal_2012_mintemp_month3 = make_date(bubal_2012_mintemp[962:1458], 2012, 3)
bubal_2012_mintemp_month4 = make_date(bubal_2012_mintemp[1459:1939], 2012, 4)
bubal_2012_mintemp_month5 = make_date(bubal_2012_mintemp[1940:2436], 2012, 5)
bubal_2012_mintemp_month6 = make_date(bubal_2012_mintemp[2437:2917], 2012, 6)
bubal_2012_mintemp_month7 = make_date(bubal_2012_mintemp[2918:3414], 2012, 7)
bubal_2012_mintemp_month8 = make_date(bubal_2012_mintemp[3415:3911], 2012, 8)
bubal_2012_mintemp_month9 = make_date(bubal_2012_mintemp[3912:4392], 2012, 9)
bubal_2012_mintemp_month10 = make_date(bubal_2012_mintemp[4393:], 2012, 10)

df_list = [bubal_2012_mintemp_month1, bubal_2012_mintemp_month2, bubal_2012_mintemp_month3, bubal_2012_mintemp_month4, bubal_2012_mintemp_month5,
           bubal_2012_mintemp_month6, bubal_2012_mintemp_month7, bubal_2012_mintemp_month8, bubal_2012_mintemp_month9 ,bubal_2012_mintemp_month10]

bubal_2012_mintemp_new = pd.concat(df_list, ignore_index = True)

bubal_2012_mintemp_new1 = bubal_2012_mintemp_new.loc[(bubal_2012_mintemp_new['hour'] == 1400) & ((bubal_2012_mintemp_new['forecast']==4.0) | (bubal_2012_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

bubal_2012_mintemp_new1.columns = ['date', 'min_temp_24']

bubal_2012_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2012-01-01        -10.8
1   2012-01-02        -10.5
2   2012-01-03        -12.9
3   2012-01-04        -12.8
4   2012-01-05        -10.8
..         ...          ...
300 2012-10-27          3.3
301 2012-10-28          3.2
302 2012-10-29         -0.8
303 2012-10-30         -0.4
304 2012-10-31         -2.5

[305 rows x 2 columns]

#### 풍속

In [ ]:
bubal_2012_wind.loc[bubal_2012_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120801,NaN,NaN,NaN
16107,Start : 20120901,NaN,NaN,NaN

In [ ]:
bubal_2012_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2012_wind_month1 = make_date(bubal_2012_wind[:4092], 2012, 1)
bubal_2012_wind_month2 = make_date(bubal_2012_wind[4093:7921], 2012, 2)
bubal_2012_wind_month3 = make_date(bubal_2012_wind[7922:12014], 2012, 3)
bubal_2012_wind_month8 = make_date(bubal_2012_wind[12015:16107], 2012, 8)
bubal_2012_wind_month9 = make_date(bubal_2012_wind[16108:], 2012, 9)


df_list = [bubal_2012_wind_month1, bubal_2012_wind_month2, bubal_2012_wind_month3, bubal_2012_wind_month8, bubal_2012_wind_month9]
bubal_2012_wind_new = pd.concat(df_list, ignore_index = True)

bubal_2012_wind_new1_24 = bubal_2012_wind_new.loc[(bubal_2012_wind_new['hour'] == 1400) & ((bubal_2012_wind_new['forecast']>=4.0) & (bubal_2012_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2012_wind_new1_48 = bubal_2012_wind_new.loc[(bubal_2012_wind_new['hour'] == 1400) & ((bubal_2012_wind_new['forecast']>=28.0) & (bubal_2012_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2012_wind_new1_24.columns = ['date', 'wind_24']
bubal_2012_wind_new1_48.columns = ['date', 'wind_48']

bubal_2012_wind_new2 = pd.concat([bubal_2012_wind_new1_24, bubal_2012_wind_new1_48['wind_48']], axis=1)
bubal_2012_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2012-01-01   1.1875   1.4000
1   2012-01-02   1.4375   3.4250
2   2012-01-03   2.3875   1.4000
3   2012-01-04   1.5375   1.2750
4   2012-01-05   1.5750   1.0125
..         ...      ...      ...
147 2012-09-26   1.1250   1.9375
148 2012-09-27   2.3375   2.6875
149 2012-09-28   2.7250   1.6250
150 2012-09-29   1.0375   1.0500
151 2012-09-30   0.7125   0.6625

[152 rows x 3 columns]

#### 2012년 부발읍 데이터

위의 7개 데이터 merge

In [ ]:
from functools import reduce
dfs = [bubal_2012_rainfall_new1, bubal_2012_snow_new1, bubal_2012_temp3_new2, bubal_2012_humid_new2,bubal_2012_maxtemp_new1,
       bubal_2012_mintemp_new1,bubal_2012_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,5.0,1.0,-5.2000,-3.9625,59.125,63.875,0.9,-10.8,1.1875,1.4000
1,2012-01-02,0.0,0.0,-5.5250,-6.2500,71.000,44.375,-0.9,-10.5,1.4375,3.4250
2,2012-01-03,0.0,0.0,-6.7875,-6.3625,50.500,55.625,-0.1,-12.9,2.3875,1.4000
3,2012-01-04,0.0,0.0,-6.4375,-3.3875,57.500,56.875,2.1,-12.8,1.5375,1.2750
4,2012-01-05,0.0,0.0,-5.3375,-5.2750,49.125,59.875,1.9,-10.8,1.5750,1.0125
...,...,...,...,...,...,...,...,...,...,...,...
270,2012-12-27,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2012-12-28,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2012-12-29,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,2012-12-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-12-31,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_부발읍_2012.csv', index=False)

### 2013년

In [ ]:
bubal_2013_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_6시간강수량_201301_201312.csv')
bubal_2013_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_6시간적설_201301_201312.csv')
bubal_2013_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_3시간기온_201301_201312.csv')
bubal_2013_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_습도_201301_201312.csv')
bubal_2013_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_일최고기온_201301_201312.csv')
bubal_2013_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_일최저기온_201301_201312.csv')
bubal_2013_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/부발읍_풍속_201301_201312.csv')

#### 6시간강수량

In [ ]:
bubal_2013_rainfall.loc[bubal_2013_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_rainfall.loc[bubal_2013_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2013_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_rainfall_month6 = make_date(bubal_2013_rainfall[1:2041], 2013, 6)
bubal_2013_rainfall_month7 = make_date(bubal_2013_rainfall[2042:4150], 2013, 7)
bubal_2013_rainfall_month8 = make_date(bubal_2013_rainfall[4151:6259], 2013, 8)
bubal_2013_rainfall_month9 = make_date(bubal_2013_rainfall[6260:8300], 2013, 9)
bubal_2013_rainfall_month10 = make_date(bubal_2013_rainfall[8301:10409], 2013, 10)
bubal_2013_rainfall_month11 = make_date(bubal_2013_rainfall[10410:12450], 2013, 11)
bubal_2013_rainfall_month12 = make_date(bubal_2013_rainfall[12451:], 2013, 12)


df_list = [bubal_2013_rainfall_month6, bubal_2013_rainfall_month7, bubal_2013_rainfall_month8, bubal_2013_rainfall_month9, bubal_2013_rainfall_month10,
           bubal_2013_rainfall_month11, bubal_2013_rainfall_month12]

bubal_2013_rainfall_new = pd.concat(df_list, ignore_index = True)

bubal_2013_rainfall_new1 = bubal_2013_rainfall_new.loc[(bubal_2013_rainfall_new['hour'] == 1400) & ((bubal_2013_rainfall_new['forecast']>=7.0) & (bubal_2013_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2013_rainfall_new1.columns = ['date', 'rainfall_24']
bubal_2013_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2013-06-01          0.0
1   2013-06-02          0.0
2   2013-06-03          0.0
3   2013-06-04          0.0
4   2013-06-05          0.0
..         ...          ...
209 2013-12-27          0.0
210 2013-12-28          0.0
211 2013-12-29          0.0
212 2013-12-30          0.0
213 2013-12-31          0.0

[214 rows x 2 columns]

#### 6시간적설

In [ ]:
bubal_2013_snow.loc[bubal_2013_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_snow.loc[bubal_2013_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2013_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_snow_month6 = make_date(bubal_2013_snow[1:2041], 2013, 6)
bubal_2013_snow_month7 = make_date(bubal_2013_snow[2042:4150], 2013, 7)
bubal_2013_snow_month8 = make_date(bubal_2013_snow[4151:6259], 2013, 8)
bubal_2013_snow_month9 = make_date(bubal_2013_snow[6260:8300], 2013, 9)
bubal_2013_snow_month10 = make_date(bubal_2013_snow[8301:10409], 2013, 10)
bubal_2013_snow_month11 = make_date(bubal_2013_snow[10410:12450], 2013, 11)
bubal_2013_snow_month12 = make_date(bubal_2013_snow[12451:], 2013, 12)


df_list = [bubal_2013_snow_month6,bubal_2013_snow_month7, bubal_2013_snow_month8, bubal_2013_snow_month9, bubal_2013_snow_month10,
           bubal_2013_snow_month11, bubal_2013_snow_month12]

bubal_2013_snow_new = pd.concat(df_list, ignore_index = True)

bubal_2013_snow_new1 = bubal_2013_snow_new.loc[(bubal_2013_snow_new['hour'] == 1400) & ((bubal_2013_snow_new['forecast']>=7.0) & (bubal_2013_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2013_snow_new1.columns = ['date', 'snow_24']
bubal_2013_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2013-06-01      0.0
1   2013-06-02      0.0
2   2013-06-03      0.0
3   2013-06-04      0.0
4   2013-06-05      0.0
..         ...      ...
209 2013-12-27      0.0
210 2013-12-28      0.0
211 2013-12-29      0.0
212 2013-12-30      0.0
213 2013-12-31      0.0

[214 rows x 2 columns]

#### 3시간기온

In [ ]:
bubal_2013_temp3.loc[bubal_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_temp3[bubal_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:69_121 Start : 20130101
48191    format: day  hour  forecast  value  location:69_121 Start : 20130101

In [ ]:
bubal_2013_temp32 = bubal_2013_temp3.iloc[:48191]

In [ ]:
bubal_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_temp32['hour'] = pd.to_numeric(bubal_2013_temp32['hour'])
bubal_2013_temp32['forecast'] =  pd.to_numeric(bubal_2013_temp32['forecast'])
bubal_2013_temp32['value'] =  pd.to_numeric(bubal_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
bubal_2013_temp32.loc[bubal_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
bubal_2013_temp3_month1 = make_date(bubal_2013_temp32[:4092], 2013, 1)
bubal_2013_temp3_month2 = make_date(bubal_2013_temp32[4093:7789], 2013, 2)
bubal_2013_temp3_month3 = make_date(bubal_2013_temp32[7790:11882], 2013, 3)
bubal_2013_temp3_month4 = make_date(bubal_2013_temp32[11883:15843], 2013, 4)
bubal_2013_temp3_month5 = make_date(bubal_2013_temp32[15844:19936], 2013, 5)
bubal_2013_temp3_month6 = make_date(bubal_2013_temp32[19937:23897], 2013, 6)
bubal_2013_temp3_month7 = make_date(bubal_2013_temp32[23898:27990], 2013, 7)
bubal_2013_temp3_month8 = make_date(bubal_2013_temp32[27991:32083], 2013, 8)
bubal_2013_temp3_month9 = make_date(bubal_2013_temp32[32084:36044], 2013, 9)
bubal_2013_temp3_month10 = make_date(bubal_2013_temp32[36045:40137], 2013, 10)
bubal_2013_temp3_month11 = make_date(bubal_2013_temp32[40138:44098], 2013, 11)
bubal_2013_temp3_month12 = make_date(bubal_2013_temp32[44099:], 2013, 12)


df_list = [bubal_2013_temp3_month1, bubal_2013_temp3_month2, bubal_2013_temp3_month3, bubal_2013_temp3_month4, bubal_2013_temp3_month5,
           bubal_2013_temp3_month6, bubal_2013_temp3_month7, bubal_2013_temp3_month8, bubal_2013_temp3_month9,bubal_2013_temp3_month10,
           bubal_2013_temp3_month11, bubal_2013_temp3_month12]

bubal_2013_temp3_new = pd.concat(df_list, ignore_index = True)

bubal_2013_temp3_new1_24 = bubal_2013_temp3_new.loc[(bubal_2013_temp3_new['hour'] == 1400) & ((bubal_2013_temp3_new['forecast']>=4.0) & (bubal_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2013_temp3_new1_48 = bubal_2013_temp3_new.loc[(bubal_2013_temp3_new['hour'] == 1400) & ((bubal_2013_temp3_new['forecast']>=28.0) & (bubal_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2013_temp3_new1_24.columns = ['date', 'temp_24']
bubal_2013_temp3_new1_48.columns = ['date', 'temp_48']

bubal_2013_temp3_new2 = pd.concat([bubal_2013_temp3_new1_24, bubal_2013_temp3_new1_48['temp_48']], axis=1)
bubal_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -11.5875 -14.1875
1   2013-01-02 -13.4375 -11.0000
2   2013-01-03 -11.3000  -6.5250
3   2013-01-04  -8.6125  -6.4000
4   2013-01-05  -8.8250  -7.6500
..         ...      ...      ...
360 2013-12-27  -7.3125  -5.8625
361 2013-12-28  -5.1625  -0.3125
362 2013-12-29  -0.4250  -0.1250
363 2013-12-30   0.2250  -0.8250
364 2013-12-31   1.2125  -2.6625

[365 rows x 3 columns]

#### 습도

In [ ]:
bubal_2013_humid.loc[bubal_2013_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_humid[bubal_2013_humid['hour']=='hour']

         format: day  hour  forecast  value  location:69_121 Start : 20130101
48191    format: day  hour  forecast  value  location:69_121 Start : 20130101

In [ ]:
bubal_2013_humid2 = bubal_2013_humid.iloc[:48191]

In [ ]:
bubal_2013_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_humid2['hour'] = pd.to_numeric(bubal_2013_humid2['hour'])
bubal_2013_humid2['forecast'] =  pd.to_numeric(bubal_2013_humid2['forecast'])
bubal_2013_humid2['value'] =  pd.to_numeric(bubal_2013_humid2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
bubal_2013_humid2.loc[bubal_2013_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
bubal_2013_humid_month1 = make_date(bubal_2013_humid2[:4092], 2013, 1)
bubal_2013_humid_month2 = make_date(bubal_2013_humid2[4093:7789], 2013, 2)
bubal_2013_humid_month3 = make_date(bubal_2013_humid2[7790:11882], 2013, 3)
bubal_2013_humid_month4 = make_date(bubal_2013_humid2[11883:15843], 2013, 4)
bubal_2013_humid_month5 = make_date(bubal_2013_humid2[15844:19936], 2013, 5)
bubal_2013_humid_month6 = make_date(bubal_2013_humid2[19937:23897], 2013, 6)
bubal_2013_humid_month7 = make_date(bubal_2013_humid2[23898:27990], 2013, 7)
bubal_2013_humid_month8 = make_date(bubal_2013_humid2[27991:32083], 2013, 8)
bubal_2013_humid_month9 = make_date(bubal_2013_humid2[32084:36044], 2013, 9)
bubal_2013_humid_month10 = make_date(bubal_2013_humid2[36045:40137], 2013, 10)
bubal_2013_humid_month11 = make_date(bubal_2013_humid2[40138:44098], 2013, 11)
bubal_2013_humid_month12 = make_date(bubal_2013_humid2[44099:], 2013, 12)

df_list = [bubal_2013_humid_month1, bubal_2013_humid_month2, bubal_2013_humid_month3, bubal_2013_humid_month4, bubal_2013_humid_month5,
           bubal_2013_humid_month6, bubal_2013_humid_month7, bubal_2013_humid_month8, bubal_2013_humid_month9,bubal_2013_humid_month10,
           bubal_2013_humid_month11, bubal_2013_humid_month12]

bubal_2013_humid_new = pd.concat(df_list, ignore_index = True)

bubal_2013_humid_new1_24 = bubal_2013_humid_new.loc[(bubal_2013_humid_new['hour'] == 1400) & ((bubal_2013_humid_new['forecast']>=4.0) & (bubal_2013_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2013_humid_new1_48 = bubal_2013_humid_new.loc[(bubal_2013_humid_new['hour'] == 1400) & ((bubal_2013_humid_new['forecast']>=28.0) & (bubal_2013_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2013_humid_new1_24.columns = ['date', 'humid_24']
bubal_2013_humid_new1_48.columns = ['date', 'humid_48']

bubal_2013_humid_new2 = pd.concat([bubal_2013_humid_new1_24, bubal_2013_humid_new1_48['humid_48']], axis=1)
bubal_2013_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2013-01-01    46.875    48.500
1   2013-01-02    47.500    56.250
2   2013-01-03    57.625    65.125
3   2013-01-04    67.500    57.750
4   2013-01-05    55.375    59.750
..         ...       ...       ...
360 2013-12-27    53.250    61.000
361 2013-12-28    59.375    61.375
362 2013-12-29    71.750    71.000
363 2013-12-30    69.625    67.250
364 2013-12-31    64.125    53.750

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
bubal_2013_maxtemp.loc[bubal_2013_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130101
465,Start : 20130201,NaN,NaN,NaN
886,Start : 20130301,NaN,NaN,NaN
1352,Start : 20130401,NaN,NaN,NaN
1803,Start : 20130501,NaN,NaN,NaN
2269,Start : 20130601,NaN,NaN,NaN
2720,Start : 20130701,NaN,NaN,NaN
3186,Start : 20130801,NaN,NaN,NaN
3652,Start : 20130901,NaN,NaN,NaN
4103,Start : 20131001,NaN,NaN,NaN
4569,Start : 20131101,NaN,NaN,NaN
5020,Start : 20131201,NaN,NaN,NaN
5952,Start : 20130201,NaN,NaN,NaN
6373,Start : 20130301,NaN,NaN,NaN
6839,Start : 20130401,NaN,NaN,NaN
7290,Start : 20130501,NaN,NaN,NaN
7756,Start : 20130601,NaN,NaN,NaN
8207,Start : 20130701,NaN,NaN,NaN
8673,Start : 20130801,NaN,NaN,NaN
9139,Start : 20130901,NaN,NaN,NaN
9590,Start : 20131001,NaN,NaN,NaN
10056,Start : 20131101,NaN,NaN,NaN
10507,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_maxtemp[bubal_2013_maxtemp['hour']=='hour']

        format: day  hour  forecast  value  location:69_121 Start : 20130101
5486    format: day  hour  forecast  value  location:69_121 Start : 20130101

In [ ]:
bubal_2013_maxtemp2 = bubal_2013_maxtemp.iloc[:5486]

In [ ]:
bubal_2013_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_maxtemp2['hour'] = pd.to_numeric(bubal_2013_maxtemp2['hour'])
bubal_2013_maxtemp2['forecast'] =  pd.to_numeric(bubal_2013_maxtemp2['forecast'])
bubal_2013_maxtemp2['value'] =  pd.to_numeric(bubal_2013_maxtemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
bubal_2013_maxtemp2.loc[bubal_2013_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
465    Start : 20130201    NaN       NaN    NaN
886    Start : 20130301    NaN       NaN    NaN
1352   Start : 20130401    NaN       NaN    NaN
1803   Start : 20130501    NaN       NaN    NaN
2269   Start : 20130601    NaN       NaN    NaN
2720   Start : 20130701    NaN       NaN    NaN
3186   Start : 20130801    NaN       NaN    NaN
3652   Start : 20130901    NaN       NaN    NaN
4103   Start : 20131001    NaN       NaN    NaN
4569   Start : 20131101    NaN       NaN    NaN
5020   Start : 20131201    NaN       NaN    NaN

In [ ]:
bubal_2013_maxtemp2.loc[bubal_2013_maxtemp2['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
bubal_2013_maxtemp_month1 = make_date(bubal_2013_maxtemp2[:465], 2013, 1)
bubal_2013_maxtemp_month2 = make_date(bubal_2013_maxtemp2[466:886], 2013, 2)
bubal_2013_maxtemp_month3 = make_date(bubal_2013_maxtemp2[887:1352], 2013, 3)
bubal_2013_maxtemp_month4 = make_date(bubal_2013_maxtemp2[1353:1803], 2013, 4)
bubal_2013_maxtemp_month5 = make_date(bubal_2013_maxtemp2[1804:2269], 2013, 5)
bubal_2013_maxtemp_month6 = make_date(bubal_2013_maxtemp2[2270:2720], 2013, 6)
bubal_2013_maxtemp_month7 = make_date(bubal_2013_maxtemp2[2721:3186], 2013, 7)
bubal_2013_maxtemp_month8 = make_date(bubal_2013_maxtemp2[3187:3652], 2013, 8)
bubal_2013_maxtemp_month9 = make_date(bubal_2013_maxtemp2[3653:4103], 2013, 9)
bubal_2013_maxtemp_month10 = make_date(bubal_2013_maxtemp2[4104:4569], 2013, 10)
bubal_2013_maxtemp_month11 = make_date(bubal_2013_maxtemp2[4570:5020], 2013, 11)
bubal_2013_maxtemp_month12 = make_date(bubal_2013_maxtemp2[5021:], 2013, 12)

df_list = [bubal_2013_maxtemp_month1, bubal_2013_maxtemp_month2, bubal_2013_maxtemp_month3, bubal_2013_maxtemp_month4, bubal_2013_maxtemp_month5,
           bubal_2013_maxtemp_month6, bubal_2013_maxtemp_month7, bubal_2013_maxtemp_month8, bubal_2013_maxtemp_month9 ,bubal_2013_maxtemp_month10,
           bubal_2013_maxtemp_month11, bubal_2013_maxtemp_month12]

bubal_2013_maxtemp_new = pd.concat(df_list, ignore_index = True)

bubal_2013_maxtemp_new1 = bubal_2013_maxtemp_new.loc[(bubal_2013_maxtemp_new['hour'] == 2300) & ((bubal_2013_maxtemp_new['forecast']==4.0) | (bubal_2013_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

bubal_2013_maxtemp_new1.columns = ['date', 'max_temp_24']

bubal_2013_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2013-01-01         -6.9
1   2013-01-02         -4.9
2   2013-01-03         -0.1
3   2013-01-04          0.1
4   2013-01-05          0.0
..         ...          ...
360 2013-12-27          0.1
361 2013-12-28          4.1
362 2013-12-29          5.9
363 2013-12-30          7.0
364 2013-12-31          5.1

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
bubal_2013_mintemp.loc[bubal_2013_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130101
496,Start : 20130201,NaN,NaN,NaN
945,Start : 20130301,NaN,NaN,NaN
1442,Start : 20130401,NaN,NaN,NaN
1923,Start : 20130501,NaN,NaN,NaN
2420,Start : 20130601,NaN,NaN,NaN
2901,Start : 20130701,NaN,NaN,NaN
3398,Start : 20130801,NaN,NaN,NaN
3895,Start : 20130901,NaN,NaN,NaN
4376,Start : 20131001,NaN,NaN,NaN
4873,Start : 20131101,NaN,NaN,NaN
5354,Start : 20131201,NaN,NaN,NaN
6348,Start : 20130201,NaN,NaN,NaN
6797,Start : 20130301,NaN,NaN,NaN
7294,Start : 20130401,NaN,NaN,NaN
7775,Start : 20130501,NaN,NaN,NaN
8272,Start : 20130601,NaN,NaN,NaN
8753,Start : 20130701,NaN,NaN,NaN
9250,Start : 20130801,NaN,NaN,NaN
9747,Start : 20130901,NaN,NaN,NaN
10228,Start : 20131001,NaN,NaN,NaN
10725,Start : 20131101,NaN,NaN,NaN
11206,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_mintemp[bubal_2013_mintemp['hour']=='hour']

        format: day  hour  forecast  value  location:69_121 Start : 20130101
5851    format: day  hour  forecast  value  location:69_121 Start : 20130101

In [ ]:
bubal_2013_mintemp2 = bubal_2013_mintemp.iloc[:5851]

In [ ]:
bubal_2013_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_mintemp2['hour'] = pd.to_numeric(bubal_2013_mintemp2['hour'])
bubal_2013_mintemp2['forecast'] =  pd.to_numeric(bubal_2013_mintemp2['forecast'])
bubal_2013_mintemp2['value'] =  pd.to_numeric(bubal_2013_mintemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
bubal_2013_mintemp2.loc[bubal_2013_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20130201    NaN       NaN    NaN
945    Start : 20130301    NaN       NaN    NaN
1442   Start : 20130401    NaN       NaN    NaN
1923   Start : 20130501    NaN       NaN    NaN
2420   Start : 20130601    NaN       NaN    NaN
2901   Start : 20130701    NaN       NaN    NaN
3398   Start : 20130801    NaN       NaN    NaN
3895   Start : 20130901    NaN       NaN    NaN
4376   Start : 20131001    NaN       NaN    NaN
4873   Start : 20131101    NaN       NaN    NaN
5354   Start : 20131201    NaN       NaN    NaN

In [ ]:
bubal_2013_mintemp2.loc[bubal_2013_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
bubal_2013_mintemp_month1 = make_date(bubal_2013_mintemp2[:496], 2013, 1)
bubal_2013_mintemp_month2 = make_date(bubal_2013_mintemp2[497:945], 2013, 2)
bubal_2013_mintemp_month3 = make_date(bubal_2013_mintemp2[946:1442], 2013, 3)
bubal_2013_mintemp_month4 = make_date(bubal_2013_mintemp2[1443:1923], 2013, 4)
bubal_2013_mintemp_month5 = make_date(bubal_2013_mintemp2[1924:2420], 2013, 5)
bubal_2013_mintemp_month6 = make_date(bubal_2013_mintemp2[2421:2901], 2013, 6)
bubal_2013_mintemp_month7 = make_date(bubal_2013_mintemp2[2902:3398], 2013, 7)
bubal_2013_mintemp_month8 = make_date(bubal_2013_mintemp2[3399:3895], 2013, 8)
bubal_2013_mintemp_month9 = make_date(bubal_2013_mintemp2[3896:4376], 2013, 9)
bubal_2013_mintemp_month10 = make_date(bubal_2013_mintemp2[4377:4873], 2013, 10)
bubal_2013_mintemp_month11 = make_date(bubal_2013_mintemp2[4874:5354], 2013, 11)
bubal_2013_mintemp_month12 = make_date(bubal_2013_mintemp2[5355:], 2013, 12)

df_list = [bubal_2013_mintemp_month1, bubal_2013_mintemp_month2, bubal_2013_mintemp_month3, bubal_2013_mintemp_month4, bubal_2013_mintemp_month5,
           bubal_2013_mintemp_month6, bubal_2013_mintemp_month7, bubal_2013_mintemp_month8, bubal_2013_mintemp_month9 ,bubal_2013_mintemp_month10,
           bubal_2013_mintemp_month11, bubal_2013_mintemp_month12]

bubal_2013_mintemp_new = pd.concat(df_list, ignore_index = True)

bubal_2013_mintemp_new1 = bubal_2013_mintemp_new.loc[(bubal_2013_mintemp_new['hour'] == 1400) & ((bubal_2013_mintemp_new['forecast']==4.0) | (bubal_2013_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

bubal_2013_mintemp_new1.columns = ['date', 'min_temp_24']

bubal_2013_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2013-01-01   -19.700001
1   2013-01-02   -19.700001
2   2013-01-03   -19.000000
3   2013-01-04   -17.500000
4   2013-01-05   -14.600000
..         ...          ...
360 2013-12-27   -13.600000
361 2013-12-28   -12.800000
362 2013-12-29    -4.900000
363 2013-12-30    -5.600000
364 2013-12-31    -7.600000

[365 rows x 2 columns]

#### 풍속

In [ ]:
bubal_2013_wind.loc[bubal_2013_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
22791,Start : 20130701,NaN,NaN,NaN
26884,Start : 20130801,NaN,NaN,NaN
30977,Start : 20130901,NaN,NaN,NaN
34938,Start : 20131001,NaN,NaN,NaN
39031,Start : 20131101,NaN,NaN,NaN
42992,Start : 20131201,NaN,NaN,NaN
51178,Start : 20130201,NaN,NaN,NaN
54875,Start : 20130301,NaN,NaN,NaN
58968,Start : 20130401,NaN,NaN,NaN
62929,Start : 20130501,NaN,NaN,NaN
67022,Start : 20130601,NaN,NaN,NaN
69877,Start : 20130701,NaN,NaN,NaN
73970,Start : 20130801,NaN,NaN,NaN
78063,Start : 20130901,NaN,NaN,NaN
82024,Start : 20131001,NaN,NaN,NaN
86117,Start : 20131101,NaN,NaN,NaN
90078,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_wind[bubal_2013_wind['hour']=='hour']

         format: day  hour  forecast  value  location:69_121 Start : 20130101
47085    format: day  hour  forecast  value  location:69_121 Start : 20130101

In [ ]:
bubal_2013_wind2 = bubal_2013_wind.iloc[:47085]

In [ ]:
bubal_2013_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_wind2['hour'] = pd.to_numeric(bubal_2013_wind2['hour'])
bubal_2013_wind2['forecast'] =  pd.to_numeric(bubal_2013_wind2['forecast'])
bubal_2013_wind2['value'] =  pd.to_numeric(bubal_2013_wind2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
bubal_2013_wind2.loc[bubal_2013_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
22791   Start : 20130701    NaN       NaN    NaN
26884   Start : 20130801    NaN       NaN    NaN
30977   Start : 20130901    NaN       NaN    NaN
34938   Start : 20131001    NaN       NaN    NaN
39031   Start : 20131101    NaN       NaN    NaN
42992   Start : 20131201    NaN       NaN    NaN

In [ ]:
bubal_2013_wind_month1 = make_date(bubal_2013_wind2[:4092], 2013, 1)
bubal_2013_wind_month2 = make_date(bubal_2013_wind2[4093:7789], 2013, 2)
bubal_2013_wind_month3 = make_date(bubal_2013_wind2[7790:11882], 2013, 3)
bubal_2013_wind_month4 = make_date(bubal_2013_wind2[11883:15843], 2013, 4)
bubal_2013_wind_month5 = make_date(bubal_2013_wind2[15844:19936], 2013, 5)
bubal_2013_wind_month6 = make_date(bubal_2013_wind2[19937:22791], 2013, 6)
bubal_2013_wind_month7 = make_date(bubal_2013_wind2[22792:26884], 2013, 7)
bubal_2013_wind_month8 = make_date(bubal_2013_wind2[26885:30977], 2013, 8)
bubal_2013_wind_month9 = make_date(bubal_2013_wind2[30978:34938], 2013, 9)
bubal_2013_wind_month10 = make_date(bubal_2013_wind2[34939:39031], 2013, 10)
bubal_2013_wind_month11 = make_date(bubal_2013_wind2[39032:42992], 2013, 11)
bubal_2013_wind_month12 = make_date(bubal_2013_wind2[42993:], 2013, 12)

df_list = [bubal_2013_wind_month1, bubal_2013_wind_month2, bubal_2013_wind_month3, bubal_2013_wind_month4, bubal_2013_wind_month5,
           bubal_2013_wind_month6, bubal_2013_wind_month7, bubal_2013_wind_month8, bubal_2013_wind_month9, bubal_2013_wind_month10,
           bubal_2013_wind_month11, bubal_2013_wind_month12]

bubal_2013_wind_new = pd.concat(df_list, ignore_index = True)

bubal_2013_wind_new1_24 = bubal_2013_wind_new.loc[(bubal_2013_wind_new['hour'] == 1400) & ((bubal_2013_wind_new['forecast']>=4.0) & (bubal_2013_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2013_wind_new1_48 = bubal_2013_wind_new.loc[(bubal_2013_wind_new['hour'] == 1400) & ((bubal_2013_wind_new['forecast']>=28.0) & (bubal_2013_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2013_wind_new1_24.columns = ['date', 'wind_24']
bubal_2013_wind_new1_48.columns = ['date', 'wind_48']

bubal_2013_wind_new2 = pd.concat([bubal_2013_wind_new1_24, bubal_2013_wind_new1_48['wind_48']], axis=1)
bubal_2013_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2013-01-01   2.7250   1.5375
1   2013-01-02   1.6625   1.1000
2   2013-01-03   1.2750   1.2125
3   2013-01-04   1.3625   1.2875
4   2013-01-05   0.8250   0.9250
..         ...      ...      ...
352 2013-12-27   2.7875   1.4125
353 2013-12-28   1.4375   1.8500
354 2013-12-29   2.2375   2.2875
355 2013-12-30   2.3500   2.4250
356 2013-12-31   2.4500   1.0500

[357 rows x 3 columns]

#### 2013년 부발읍 데이터

In [ ]:
from functools import reduce
dfs = [bubal_2013_rainfall_new1, bubal_2013_snow_new1, bubal_2013_temp3_new2, bubal_2013_humid_new2,bubal_2013_maxtemp_new1,
       bubal_2013_mintemp_new1,bubal_2013_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
214,2013-01-01,NaN,NaN,-11.5875,-14.1875,46.875,48.500,-6.9,-19.700001,2.7250,1.5375
215,2013-01-02,NaN,NaN,-13.4375,-11.0000,47.500,56.250,-4.9,-19.700001,1.6625,1.1000
216,2013-01-03,NaN,NaN,-11.3000,-6.5250,57.625,65.125,-0.1,-19.000000,1.2750,1.2125
217,2013-01-04,NaN,NaN,-8.6125,-6.4000,67.500,57.750,0.1,-17.500000,1.3625,1.2875
218,2013-01-05,NaN,NaN,-8.8250,-7.6500,55.375,59.750,0.0,-14.600000,0.8250,0.9250
...,...,...,...,...,...,...,...,...,...,...,...
209,2013-12-27,0.0,0.0,-7.3125,-5.8625,53.250,61.000,0.1,-13.600000,2.7875,1.4125
210,2013-12-28,0.0,0.0,-5.1625,-0.3125,59.375,61.375,4.1,-12.800000,1.4375,1.8500
211,2013-12-29,0.0,0.0,-0.4250,-0.1250,71.750,71.000,5.9,-4.900000,2.2375,2.2875
212,2013-12-30,0.0,0.0,0.2250,-0.8250,69.625,67.250,7.0,-5.600000,2.3500,2.4250
213,2013-12-31,0.0,0.0,1.2125,-2.6625,64.125,53.750,5.1,-7.600000,2.4500,1.0500

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_부발읍_2013.csv', index=False)

In [ ]:
bubal_2013_temp3.loc[bubal_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
bubal_2013_temp3[bubal_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:69_121 Start : 20130101
48191    format: day  hour  forecast  value  location:69_121 Start : 20130101

In [ ]:
bubal_2013_temp32 = bubal_2013_temp3.iloc[:48191]

In [ ]:
bubal_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2013_temp32['hour'] = pd.to_numeric(bubal_2013_temp32['hour'])
bubal_2013_temp32['forecast'] =  pd.to_numeric(bubal_2013_temp32['forecast'])
bubal_2013_temp32['value'] =  pd.to_numeric(bubal_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
bubal_2013_temp32.loc[bubal_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
bubal_2013_temp3_month1 = make_date(bubal_2013_temp32[:4092], 2013, 1)
bubal_2013_temp3_month2 = make_date(bubal_2013_temp32[4093:7789], 2013, 2)
bubal_2013_temp3_month3 = make_date(bubal_2013_temp32[7790:11882], 2013, 3)
bubal_2013_temp3_month4 = make_date(bubal_2013_temp32[11883:15843], 2013, 4)
bubal_2013_temp3_month5 = make_date(bubal_2013_temp32[15844:19936], 2013, 5)
bubal_2013_temp3_month6 = make_date(bubal_2013_temp32[19937:23897], 2013, 6)
bubal_2013_temp3_month7 = make_date(bubal_2013_temp32[23898:27990], 2013, 7)
bubal_2013_temp3_month8 = make_date(bubal_2013_temp32[27991:32083], 2013, 8)
bubal_2013_temp3_month9 = make_date(bubal_2013_temp32[32084:36044], 2013, 9)
bubal_2013_temp3_month10 = make_date(bubal_2013_temp32[36045:40137], 2013, 10)
bubal_2013_temp3_month11 = make_date(bubal_2013_temp32[40138:44098], 2013, 11)
bubal_2013_temp3_month12 = make_date(bubal_2013_temp32[44099:], 2013, 12)


df_list = [bubal_2013_temp3_month1, bubal_2013_temp3_month2, bubal_2013_temp3_month3, bubal_2013_temp3_month4, bubal_2013_temp3_month5,
           bubal_2013_temp3_month6, bubal_2013_temp3_month7, bubal_2013_temp3_month8, bubal_2013_temp3_month9,bubal_2013_temp3_month10,
           bubal_2013_temp3_month11, bubal_2013_temp3_month12]

bubal_2013_temp3_new = pd.concat(df_list, ignore_index = True)

bubal_2013_temp3_new1_24 = bubal_2013_temp3_new.loc[(bubal_2013_temp3_new['hour'] == 1400) & ((bubal_2013_temp3_new['forecast']>=4.0) & (bubal_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2013_temp3_new1_48 = bubal_2013_temp3_new.loc[(bubal_2013_temp3_new['hour'] == 1400) & ((bubal_2013_temp3_new['forecast']>=28.0) & (bubal_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2013_temp3_new1_24.columns = ['date', 'temp_24']
bubal_2013_temp3_new1_48.columns = ['date', 'temp_48']

bubal_2013_temp3_new2 = pd.concat([bubal_2013_temp3_new1_24, bubal_2013_temp3_new1_48['temp_48']], axis=1)
bubal_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -11.5875 -14.1875
1   2013-01-02 -13.4375 -11.0000
2   2013-01-03 -11.3000  -6.5250
3   2013-01-04  -8.6125  -6.4000
4   2013-01-05  -8.8250  -7.6500
..         ...      ...      ...
360 2013-12-27  -7.3125  -5.8625
361 2013-12-28  -5.1625  -0.3125
362 2013-12-29  -0.4250  -0.1250
363 2013-12-30   0.2250  -0.8250
364 2013-12-31   1.2125  -2.6625

[365 rows x 3 columns]

### 2014년

In [ ]:
bubal_2014_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_6시간강수량_201401_201412.csv')
bubal_2014_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_6시간적설_201401_201412.csv')
bubal_2014_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_3시간기온_201401_201412.csv')
bubal_2014_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_습도_201401_201412.csv')
bubal_2014_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_일최고기온_201401_201412.csv')
bubal_2014_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_일최저기온_201401_201412.csv')
bubal_2014_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/부발읍_풍속_201401_201412.csv')

#### 6시간강수량

In [ ]:
bubal_2014_rainfall.loc[bubal_2014_rainfall['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
bubal_2014_rainfall.loc[bubal_2014_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2014_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_rainfall_month1 = make_date(bubal_2014_rainfall[:2108], 2014, 1)
bubal_2014_rainfall_month2 = make_date(bubal_2014_rainfall[2109:4013], 2014, 2)
bubal_2014_rainfall_month3 = make_date(bubal_2014_rainfall[4014:4082], 2014, 3)
bubal_2014_rainfall_month4 = make_date(bubal_2014_rainfall[4083:6363], 2014, 4)
bubal_2014_rainfall_month5 = make_date(bubal_2014_rainfall[6364:8720], 2014, 5)
bubal_2014_rainfall_month6 = make_date(bubal_2014_rainfall[8721:11001], 2014, 6)
bubal_2014_rainfall_month8 = make_date(bubal_2014_rainfall[11002:13358], 2014, 8)
bubal_2014_rainfall_month9 = make_date(bubal_2014_rainfall[13359:15639], 2014, 9)
bubal_2014_rainfall_month10 = make_date(bubal_2014_rainfall[15640:17996], 2014, 10)
bubal_2014_rainfall_month11 = make_date(bubal_2014_rainfall[17997:20277], 2014, 11)
bubal_2014_rainfall_month12 = make_date(bubal_2014_rainfall[20278:22634], 2014, 12)


df_list = [bubal_2014_rainfall_month1, bubal_2014_rainfall_month2, bubal_2014_rainfall_month3, bubal_2014_rainfall_month4, bubal_2014_rainfall_month5,
           bubal_2014_rainfall_month6, bubal_2014_rainfall_month8, bubal_2014_rainfall_month9,bubal_2014_rainfall_month10,bubal_2014_rainfall_month11,
           bubal_2014_rainfall_month12]

bubal_2014_rainfall_new = pd.concat(df_list, ignore_index = True)

bubal_2014_rainfall_new1 = bubal_2014_rainfall_new.loc[(bubal_2014_rainfall_new['hour'] == 1400) & ((bubal_2014_rainfall_new['forecast']>=7.0) & (bubal_2014_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2014_rainfall_new1.columns = ['date', 'rainfall_24']
bubal_2014_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2014-01-01          0.0
1   2014-01-02          0.0
2   2014-01-03          0.0
3   2014-01-04          0.0
4   2014-01-05          0.0
..         ...          ...
299 2014-12-27          0.0
300 2014-12-28          0.0
301 2014-12-29          0.0
302 2014-12-30         10.0
303 2014-12-31          0.0

[304 rows x 2 columns]

#### 6시간적설

In [ ]:
bubal_2014_snow.loc[bubal_2014_snow['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
bubal_2014_snow.loc[bubal_2014_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2014_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_snow_month1 = make_date(bubal_2014_snow[:2108], 2014, 1)
bubal_2014_snow_month2 = make_date(bubal_2014_snow[2109:4013], 2014, 2)
bubal_2014_snow_month3 = make_date(bubal_2014_snow[4014:4082], 2014, 3)
bubal_2014_snow_month4 = make_date(bubal_2014_snow[4083:6363], 2014, 4)
bubal_2014_snow_month5 = make_date(bubal_2014_snow[6364:8720], 2014, 5)
bubal_2014_snow_month6 = make_date(bubal_2014_snow[8721:11001], 2014, 6)
bubal_2014_snow_month8 = make_date(bubal_2014_snow[11002:13358], 2014, 8)
bubal_2014_snow_month9 = make_date(bubal_2014_snow[13359:15639], 2014, 9)
bubal_2014_snow_month10 = make_date(bubal_2014_snow[15640:17996], 2014, 10)
bubal_2014_snow_month11 = make_date(bubal_2014_snow[17997:20277], 2014, 11)
bubal_2014_snow_month12 = make_date(bubal_2014_snow[20278:22634], 2014, 12)


df_list = [bubal_2014_snow_month1, bubal_2014_snow_month2, bubal_2014_snow_month3, bubal_2014_snow_month4, bubal_2014_snow_month5,
           bubal_2014_snow_month6, bubal_2014_snow_month8, bubal_2014_snow_month9, bubal_2014_snow_month10, bubal_2014_snow_month11, bubal_2014_snow_month12]

bubal_2014_snow_new = pd.concat(df_list, ignore_index = True)

bubal_2014_snow_new1 = bubal_2014_snow_new.loc[(bubal_2014_snow_new['hour'] == 1400) & ((bubal_2014_snow_new['forecast']>=7.0) & (bubal_2014_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2014_snow_new1.columns = ['date', 'snow_24']
bubal_2014_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2014-01-01      0.0
1   2014-01-02      0.0
2   2014-01-03      0.0
3   2014-01-04      0.0
4   2014-01-05      0.0
..         ...      ...
299 2014-12-27      0.0
300 2014-12-28      0.0
301 2014-12-29      0.0
302 2014-12-30     10.0
303 2014-12-31      0.0

[304 rows x 2 columns]

#### 3시간기온

In [ ]:
bubal_2014_temp3.loc[bubal_2014_temp3['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
bubal_2014_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_temp3_month1 = make_date(bubal_2014_temp3[:4092], 2014, 1)
bubal_2014_temp3_month2 = make_date(bubal_2014_temp3[4093:7789], 2014, 2)
bubal_2014_temp3_month3 = make_date(bubal_2014_temp3[7790:11882], 2014, 3)
bubal_2014_temp3_month4 = make_date(bubal_2014_temp3[11883:16323], 2014, 4)
bubal_2014_temp3_month5 = make_date(bubal_2014_temp3[16324:20912], 2014, 5)
bubal_2014_temp3_month6 = make_date(bubal_2014_temp3[20913:25353], 2014, 6)
bubal_2014_temp3_month7 = make_date(bubal_2014_temp3[25354:29446], 2014, 7)
bubal_2014_temp3_month8 = make_date(bubal_2014_temp3[29447:34035], 2014, 8)
bubal_2014_temp3_month9 = make_date(bubal_2014_temp3[34036:38476], 2014, 9)
bubal_2014_temp3_month10 = make_date(bubal_2014_temp3[38477:43065], 2014, 10)
bubal_2014_temp3_month11 = make_date(bubal_2014_temp3[43066:47506], 2014, 11)
bubal_2014_temp3_month12 = make_date(bubal_2014_temp3[47507:52095], 2014, 12)


df_list = [bubal_2014_temp3_month1, bubal_2014_temp3_month2, bubal_2014_temp3_month3, bubal_2014_temp3_month4,bubal_2014_temp3_month5,
           bubal_2014_temp3_month6, bubal_2014_temp3_month7, bubal_2014_temp3_month8, bubal_2014_temp3_month9,bubal_2014_temp3_month10,
           bubal_2014_temp3_month11, bubal_2014_temp3_month12]

bubal_2014_temp3_new = pd.concat(df_list, ignore_index = True)

bubal_2014_temp3_new1_24 = bubal_2014_temp3_new.loc[(bubal_2014_temp3_new['hour'] == 1400) & ((bubal_2014_temp3_new['forecast']>=4.0) & (bubal_2014_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2014_temp3_new1_48 = bubal_2014_temp3_new.loc[(bubal_2014_temp3_new['hour'] == 1400) & ((bubal_2014_temp3_new['forecast']>=28.0) & (bubal_2014_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2014_temp3_new1_24.columns = ['date', 'temp_24']
bubal_2014_temp3_new1_48.columns = ['date', 'temp_48']

bubal_2014_temp3_new2 = pd.concat([bubal_2014_temp3_new1_24, bubal_2014_temp3_new1_48['temp_48']], axis=1)
bubal_2014_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2014-01-01   0.9625   1.1625
1   2014-01-02   0.7625   1.0000
2   2014-01-03  -1.2125  -1.0750
3   2014-01-04  -0.5625  -0.9500
4   2014-01-05  -0.9625   0.9250
..         ...      ...      ...
360 2014-12-27  -3.2500  -1.3750
361 2014-12-28  -1.1500  -0.7000
362 2014-12-29  -0.0875  -3.7000
363 2014-12-30  -2.3375  -7.9125
364 2014-12-31  -7.6750  -6.6875

[365 rows x 3 columns]

#### 습도

In [ ]:
bubal_2014_humid.loc[bubal_2014_humid['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
bubal_2014_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_humid_month1 = make_date(bubal_2014_humid[:4092], 2014, 1)
bubal_2014_humid_month2 = make_date(bubal_2014_humid[4093:7789], 2014, 2)
bubal_2014_humid_month3 = make_date(bubal_2014_humid[7790:11882], 2014, 3)
bubal_2014_humid_month4 = make_date(bubal_2014_humid[11883:16323], 2014, 4)
bubal_2014_humid_month5 = make_date(bubal_2014_humid[16324:20912], 2014, 5)
bubal_2014_humid_month6 = make_date(bubal_2014_humid[20913:25353], 2014, 6)
bubal_2014_humid_month7 = make_date(bubal_2014_humid[25354:29446], 2014, 7)
bubal_2014_humid_month8 = make_date(bubal_2014_humid[29447:34035], 2014, 8)
bubal_2014_humid_month9 = make_date(bubal_2014_humid[34036:38476], 2014, 9)
bubal_2014_humid_month10 = make_date(bubal_2014_humid[38477:43065], 2014, 10)
bubal_2014_humid_month11 = make_date(bubal_2014_humid[43066:47506], 2014, 11)
bubal_2014_humid_month12 = make_date(bubal_2014_humid[47507:52095], 2014, 12)

df_list = [bubal_2014_humid_month1, bubal_2014_humid_month2, bubal_2014_humid_month3, bubal_2014_humid_month4, bubal_2014_humid_month5,
           bubal_2014_humid_month6, bubal_2014_humid_month7, bubal_2014_humid_month8, bubal_2014_humid_month9, bubal_2014_humid_month10,
           bubal_2014_humid_month11, bubal_2014_humid_month12]

bubal_2014_humid_new = pd.concat(df_list, ignore_index = True)

bubal_2014_humid_new1_24 = bubal_2014_humid_new.loc[(bubal_2014_humid_new['hour'] == 1400) & ((bubal_2014_humid_new['forecast']>=4.0) & (bubal_2014_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2014_humid_new1_48 = bubal_2014_humid_new.loc[(bubal_2014_humid_new['hour'] == 1400) & ((bubal_2014_humid_new['forecast']>=28.0) & (bubal_2014_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2014_humid_new1_24.columns = ['date', 'humid_24']
bubal_2014_humid_new1_48.columns = ['date', 'humid_48']

bubal_2014_humid_new2 = pd.concat([bubal_2014_humid_new1_24, bubal_2014_humid_new1_48['humid_48']], axis=1)
bubal_2014_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2014-01-01    57.250    72.375
1   2014-01-02    73.750    72.250
2   2014-01-03    69.000    67.125
3   2014-01-04    67.125    65.250
4   2014-01-05    68.625    69.750
..         ...       ...       ...
360 2014-12-27    74.375    76.000
361 2014-12-28    73.500    65.375
362 2014-12-29    69.375    65.625
363 2014-12-30    54.750    38.000
364 2014-12-31    36.750    52.750

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
bubal_2014_maxtemp.loc[bubal_2014_maxtemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
465,Start : 20140201,NaN,NaN,NaN
886,Start : 20140301,NaN,NaN,NaN
1352,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2513,Start : 20140601,NaN,NaN,NaN
3084,Start : 20140701,NaN,NaN,NaN
3550,Start : 20140801,NaN,NaN,NaN
4140,Start : 20140901,NaN,NaN,NaN
4711,Start : 20141001,NaN,NaN,NaN
5301,Start : 20141101,NaN,NaN,NaN
5872,Start : 20141201,NaN,NaN,NaN
6462,,NaN,NaN,NaN

In [ ]:
bubal_2014_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_maxtemp.loc[bubal_2014_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
bubal_2014_maxtemp_month1 = make_date(bubal_2014_maxtemp[:465], 2014, 1)
bubal_2014_maxtemp_month2 = make_date(bubal_2014_maxtemp[466:886], 2014, 2)
bubal_2014_maxtemp_month3 = make_date(bubal_2014_maxtemp[887:1352], 2014, 3)
bubal_2014_maxtemp_month4 = make_date(bubal_2014_maxtemp[1353:1923], 2014, 4)
bubal_2014_maxtemp_month5 = make_date(bubal_2014_maxtemp[1924:2513], 2014, 5)
bubal_2014_maxtemp_month6 = make_date(bubal_2014_maxtemp[2514:3084], 2014, 6)
bubal_2014_maxtemp_month7 = make_date(bubal_2014_maxtemp[3085:3550], 2014, 7)
bubal_2014_maxtemp_month8 = make_date(bubal_2014_maxtemp[3551:4140], 2014, 8)
bubal_2014_maxtemp_month9 = make_date(bubal_2014_maxtemp[4141:4711], 2014, 9)
bubal_2014_maxtemp_month10 = make_date(bubal_2014_maxtemp[4712:5301], 2014, 10)
bubal_2014_maxtemp_month11 = make_date(bubal_2014_maxtemp[5302:5872], 2014, 11)
bubal_2014_maxtemp_month12 = make_date(bubal_2014_maxtemp[5873:6462], 2014, 12)

df_list = [bubal_2014_maxtemp_month1, bubal_2014_maxtemp_month2, bubal_2014_maxtemp_month3, bubal_2014_maxtemp_month4, bubal_2014_maxtemp_month5,
           bubal_2014_maxtemp_month6, bubal_2014_maxtemp_month7, bubal_2014_maxtemp_month8, bubal_2014_maxtemp_month9 ,bubal_2014_maxtemp_month10,
           bubal_2014_maxtemp_month11, bubal_2014_maxtemp_month12]

bubal_2014_maxtemp_new = pd.concat(df_list, ignore_index = True)

bubal_2014_maxtemp_new1 = bubal_2014_maxtemp_new.loc[(bubal_2014_maxtemp_new['hour'] == 2300) & ((bubal_2014_maxtemp_new['forecast']==4.0) | (bubal_2014_maxtemp_new['forecast']==7.0) | (bubal_2014_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

bubal_2014_maxtemp_new1.columns = ['date', 'max_temp_24']

bubal_2014_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2014-01-01          8.1
1   2014-01-02          7.1
2   2014-01-03          5.1
3   2014-01-04          5.9
4   2014-01-05          5.9
..         ...          ...
360 2014-12-27          5.0
361 2014-12-28          5.0
362 2014-12-29          5.8
363 2014-12-30          1.2
364 2014-12-31         -0.8

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
bubal_2014_mintemp.loc[bubal_2014_mintemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
496,Start : 20140201,NaN,NaN,NaN
945,Start : 20140301,NaN,NaN,NaN
1442,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2420,Start : 20140601,NaN,NaN,NaN
2901,Start : 20140701,NaN,NaN,NaN
3398,Start : 20140801,NaN,NaN,NaN
3895,Start : 20140901,NaN,NaN,NaN
4376,Start : 20141001,NaN,NaN,NaN
4873,Start : 20141101,NaN,NaN,NaN
5354,Start : 20141201,NaN,NaN,NaN
5851,,NaN,NaN,NaN

In [ ]:
bubal_2014_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_mintemp.loc[bubal_2014_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
bubal_2014_mintemp_month1 = make_date(bubal_2014_mintemp[:496], 2014, 1)
bubal_2014_mintemp_month2 = make_date(bubal_2014_mintemp[497:945], 2014, 2)
bubal_2014_mintemp_month3 = make_date(bubal_2014_mintemp[946:1442], 2014, 3)
bubal_2014_mintemp_month4 = make_date(bubal_2014_mintemp[1443:1923], 2014, 4)
bubal_2014_mintemp_month5 = make_date(bubal_2014_mintemp[1924:2420], 2014, 5)
bubal_2014_mintemp_month6 = make_date(bubal_2014_mintemp[2421:2901], 2014, 6)
bubal_2014_mintemp_month7 = make_date(bubal_2014_mintemp[2902:3398], 2014, 7)
bubal_2014_mintemp_month8 = make_date(bubal_2014_mintemp[3399:3895], 2014, 8)
bubal_2014_mintemp_month9 = make_date(bubal_2014_mintemp[3896:4376], 2014, 9)
bubal_2014_mintemp_month10 = make_date(bubal_2014_mintemp[4377:4873], 2014, 10)
bubal_2014_mintemp_month11 = make_date(bubal_2014_mintemp[4874:5354], 2014, 11)
bubal_2014_mintemp_month12 = make_date(bubal_2014_mintemp[5355:5851], 2014, 12)

df_list = [bubal_2014_mintemp_month1, bubal_2014_mintemp_month2, bubal_2014_mintemp_month3, bubal_2014_mintemp_month4, bubal_2014_mintemp_month5,
           bubal_2014_mintemp_month6, bubal_2014_mintemp_month7, bubal_2014_mintemp_month8, bubal_2014_mintemp_month9 ,bubal_2014_mintemp_month10,
           bubal_2014_mintemp_month11, bubal_2014_mintemp_month12]

bubal_2014_mintemp_new = pd.concat(df_list, ignore_index = True)

bubal_2014_mintemp_new1 = bubal_2014_mintemp_new.loc[(bubal_2014_mintemp_new['hour'] == 1400) & ((bubal_2014_mintemp_new['forecast']==4.0) | (bubal_2014_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

bubal_2014_mintemp_new1.columns = ['date', 'min_temp_24']

bubal_2014_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2014-01-01         -4.8
1   2014-01-02         -3.8
2   2014-01-03         -5.7
3   2014-01-04         -5.9
4   2014-01-05         -6.7
..         ...          ...
360 2014-12-27         -8.2
361 2014-12-28         -5.0
362 2014-12-29         -4.8
363 2014-12-30        -11.4
364 2014-12-31        -11.8

[365 rows x 2 columns]

#### 풍속

In [ ]:
bubal_2014_wind.loc[bubal_2014_wind['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_121.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
bubal_2014_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2014_wind_month1 = make_date(bubal_2014_wind[:4092], 2014, 1)
bubal_2014_wind_month2 = make_date(bubal_2014_wind[4093:7789], 2014, 2)
bubal_2014_wind_month3 = make_date(bubal_2014_wind[7790:11882], 2014, 3)
bubal_2014_wind_month4 = make_date(bubal_2014_wind[11883:16323], 2014, 4)
bubal_2014_wind_month5 = make_date(bubal_2014_wind[16324:20912], 2014, 5)
bubal_2014_wind_month6 = make_date(bubal_2014_wind[20913:25353], 2014, 6)
bubal_2014_wind_month7 = make_date(bubal_2014_wind[25354:29446], 2014, 7)
bubal_2014_wind_month8 = make_date(bubal_2014_wind[29447:34035], 2014, 8)
bubal_2014_wind_month9 = make_date(bubal_2014_wind[34036:38476], 2014, 9)
bubal_2014_wind_month10 = make_date(bubal_2014_wind[38477:43065], 2014, 10)
bubal_2014_wind_month11 = make_date(bubal_2014_wind[43066:47506], 2014, 11)
bubal_2014_wind_month12 = make_date(bubal_2014_wind[47507:52095], 2014, 12)

df_list = [bubal_2014_wind_month1, bubal_2014_wind_month2, bubal_2014_wind_month3, bubal_2014_wind_month4, bubal_2014_wind_month5,
           bubal_2014_wind_month6, bubal_2014_wind_month7, bubal_2014_wind_month8, bubal_2014_wind_month9, bubal_2014_wind_month10,
           bubal_2014_wind_month11, bubal_2014_wind_month12]

bubal_2014_wind_new = pd.concat(df_list, ignore_index = True)

bubal_2014_wind_new1_24 = bubal_2014_wind_new.loc[(bubal_2014_wind_new['hour'] == 1400) & ((bubal_2014_wind_new['forecast']>=4.0) & (bubal_2014_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2014_wind_new1_48 = bubal_2014_wind_new.loc[(bubal_2014_wind_new['hour'] == 1400) & ((bubal_2014_wind_new['forecast']>=28.0) & (bubal_2014_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2014_wind_new1_24.columns = ['date', 'wind_24']
bubal_2014_wind_new1_48.columns = ['date', 'wind_48']

bubal_2014_wind_new2 = pd.concat([bubal_2014_wind_new1_24, bubal_2014_wind_new1_48['wind_48']], axis=1)
bubal_2014_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2014-01-01   1.5375   1.8625
1   2014-01-02   0.9125   0.9750
2   2014-01-03   1.0750   1.3250
3   2014-01-04   1.5375   1.1375
4   2014-01-05   0.9375   0.9500
..         ...      ...      ...
360 2014-12-27   1.0250   1.0750
361 2014-12-28   1.1250   1.8000
362 2014-12-29   1.4375   2.7000
363 2014-12-30   2.6500   3.5625
364 2014-12-31   3.5625   2.1000

[365 rows x 3 columns]

#### 2014년 부발읍 데이터

In [ ]:
from functools import reduce
dfs = [bubal_2014_rainfall_new1, bubal_2014_snow_new1, bubal_2014_temp3_new2, bubal_2014_humid_new2,bubal_2014_maxtemp_new1,
       bubal_2014_mintemp_new1,bubal_2014_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2014-01-01,0.0,0.0,0.9625,1.1625,57.250,72.375,8.1,-4.8,1.5375,1.8625
1,2014-01-02,0.0,0.0,0.7625,1.0000,73.750,72.250,7.1,-3.8,0.9125,0.9750
2,2014-01-03,0.0,0.0,-1.2125,-1.0750,69.000,67.125,5.1,-5.7,1.0750,1.3250
3,2014-01-04,0.0,0.0,-0.5625,-0.9500,67.125,65.250,5.9,-5.9,1.5375,1.1375
4,2014-01-05,0.0,0.0,-0.9625,0.9250,68.625,69.750,5.9,-6.7,0.9375,0.9500
...,...,...,...,...,...,...,...,...,...,...,...
299,2014-12-27,0.0,0.0,-3.2500,-1.3750,74.375,76.000,5.0,-8.2,1.0250,1.0750
300,2014-12-28,0.0,0.0,-1.1500,-0.7000,73.500,65.375,5.0,-5.0,1.1250,1.8000
301,2014-12-29,0.0,0.0,-0.0875,-3.7000,69.375,65.625,5.8,-4.8,1.4375,2.7000
302,2014-12-30,10.0,10.0,-2.3375,-7.9125,54.750,38.000,1.2,-11.4,2.6500,3.5625
303,2014-12-31,0.0,0.0,-7.6750,-6.6875,36.750,52.750,-0.8,-11.8,3.5625,2.1000

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_부발읍_2014.csv', index=False)

### 2015년

In [ ]:
bubal_2015_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_6시간강수량_201501_201512.csv')
bubal_2015_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_6시간적설_201501_201512.csv')
bubal_2015_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_3시간기온_201501_201512.csv')
bubal_2015_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_습도_201501_201512.csv')
bubal_2015_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_일최고기온_201501_201512.csv')
bubal_2015_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_일최저기온_201501_201512.csv')
bubal_2015_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/부발읍_풍속_201501_201512.csv')

#### 6시간강수량

In [ ]:
bubal_2015_rainfall.loc[bubal_2015_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_rainfall.loc[bubal_2015_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2015_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_rainfall_month1 = make_date(bubal_2015_rainfall[:2356], 2015, 1)
bubal_2015_rainfall_month2 = make_date(bubal_2015_rainfall[2357:4485], 2015, 2)
bubal_2015_rainfall_month3 = make_date(bubal_2015_rainfall[4486:6842], 2015, 3)
bubal_2015_rainfall_month4 = make_date(bubal_2015_rainfall[6843:9123], 2015, 4)
bubal_2015_rainfall_month5 = make_date(bubal_2015_rainfall[9124:10709], 2015, 5)
bubal_2015_rainfall_month6 = make_date(bubal_2015_rainfall[10710:12990], 2015, 6)
bubal_2015_rainfall_month7 = make_date(bubal_2015_rainfall[12991:15347], 2015, 7)
bubal_2015_rainfall_month8 = make_date(bubal_2015_rainfall[15348:17704], 2015, 8)
bubal_2015_rainfall_month9 = make_date(bubal_2015_rainfall[17705:19985], 2015, 9)
bubal_2015_rainfall_month10 = make_date(bubal_2015_rainfall[19986:22342], 2015, 10)
bubal_2015_rainfall_month11 = make_date(bubal_2015_rainfall[22343:24623], 2015, 11)
bubal_2015_rainfall_month12 = make_date(bubal_2015_rainfall[24624:], 2015, 12)


df_list = [bubal_2015_rainfall_month1, bubal_2015_rainfall_month2, bubal_2015_rainfall_month3, bubal_2015_rainfall_month4, bubal_2015_rainfall_month5,
           bubal_2015_rainfall_month6, bubal_2015_rainfall_month7, bubal_2015_rainfall_month8, bubal_2015_rainfall_month9,bubal_2015_rainfall_month10,
           bubal_2015_rainfall_month11, bubal_2015_rainfall_month12]

bubal_2015_rainfall_new = pd.concat(df_list, ignore_index = True)

bubal_2015_rainfall_new1 = bubal_2015_rainfall_new.loc[(bubal_2015_rainfall_new['hour'] == 1400) & ((bubal_2015_rainfall_new['forecast']>=7.0) & (bubal_2015_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2015_rainfall_new1.columns = ['date', 'rainfall_24']
bubal_2015_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2015-01-01          0.0
1   2015-01-02          0.0
2   2015-01-03          0.0
3   2015-01-04         10.0
4   2015-01-05          5.0
..         ...          ...
350 2015-12-27          0.0
351 2015-12-28          0.0
352 2015-12-29         10.0
353 2015-12-30          0.0
354 2015-12-31          0.0

[355 rows x 2 columns]

#### 6시간적설

In [ ]:
bubal_2015_snow.loc[bubal_2015_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_snow.loc[bubal_2015_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2015_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_snow_month1 = make_date(bubal_2015_snow[:2356],2015, 1)
bubal_2015_snow_month2 = make_date(bubal_2015_snow[2357:4485], 2015, 2)
bubal_2015_snow_month3 = make_date(bubal_2015_snow[4486:6842], 2015, 3)
bubal_2015_snow_month4 = make_date(bubal_2015_snow[6843:9123], 2015, 4)
bubal_2015_snow_month5 = make_date(bubal_2015_snow[9124:10709], 2015, 5)
bubal_2015_snow_month6 = make_date(bubal_2015_snow[10710:12990], 2015, 6)
bubal_2015_snow_month7 = make_date(bubal_2015_snow[12991:15347],2015, 7)
bubal_2015_snow_month8 = make_date(bubal_2015_snow[15348:17704], 2015, 8)
bubal_2015_snow_month9 = make_date(bubal_2015_snow[17705:19985], 2015, 9)
bubal_2015_snow_month10 = make_date(bubal_2015_snow[19986:22342], 2015, 10)
bubal_2015_snow_month11 = make_date(bubal_2015_snow[22343:24623], 2015, 11)
bubal_2015_snow_month12 = make_date(bubal_2015_snow[24624:], 2015, 12)


df_list = [bubal_2015_snow_month1, bubal_2015_snow_month2, bubal_2015_snow_month3, bubal_2015_snow_month4, bubal_2015_snow_month5,
           bubal_2015_snow_month6, bubal_2015_snow_month7, bubal_2015_snow_month8, bubal_2015_snow_month9, bubal_2015_snow_month10, 
           bubal_2015_snow_month11, bubal_2015_snow_month12]

bubal_2015_snow_new = pd.concat(df_list, ignore_index = True)

bubal_2015_snow_new1 = bubal_2015_snow_new.loc[(bubal_2015_snow_new['hour'] == 1400) & ((bubal_2015_snow_new['forecast']>=7.0) & (bubal_2015_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2015_snow_new1.columns = ['date', 'snow_24']
bubal_2015_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2015-01-01      0.0
1   2015-01-02      0.0
2   2015-01-03      0.0
3   2015-01-04      0.0
4   2015-01-05      0.0
..         ...      ...
350 2015-12-27      0.0
351 2015-12-28      0.0
352 2015-12-29     10.0
353 2015-12-30      0.0
354 2015-12-31      0.0

[355 rows x 2 columns]

#### 3시간기온

In [ ]:
bubal_2015_temp3.loc[bubal_2015_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_temp3_month1 = make_date(bubal_2015_temp3[:4588], 2015, 1)
bubal_2015_temp3_month2 = make_date(bubal_2015_temp3[4589:8733], 2015, 2)
bubal_2015_temp3_month3 = make_date(bubal_2015_temp3[8734:13322], 2015, 3)
bubal_2015_temp3_month4 = make_date(bubal_2015_temp3[13323:17763], 2015, 4)
bubal_2015_temp3_month5 = make_date(bubal_2015_temp3[17764:20851], 2015, 5)
bubal_2015_temp3_month6 = make_date(bubal_2015_temp3[20852:25292], 2015, 6)
bubal_2015_temp3_month7 = make_date(bubal_2015_temp3[25293:29881], 2015, 7)
bubal_2015_temp3_month8 = make_date(bubal_2015_temp3[29882:34470], 2015, 8)
bubal_2015_temp3_month9 = make_date(bubal_2015_temp3[34471:38911], 2015, 9)
bubal_2015_temp3_month10 = make_date(bubal_2015_temp3[38912:43500], 2015, 10)
bubal_2015_temp3_month11 = make_date(bubal_2015_temp3[43501:47941], 2015, 11)
bubal_2015_temp3_month12 = make_date(bubal_2015_temp3[47942:],2015, 12)


df_list = [bubal_2015_temp3_month1, bubal_2015_temp3_month2, bubal_2015_temp3_month3, bubal_2015_temp3_month4,bubal_2015_temp3_month5,
           bubal_2015_temp3_month6, bubal_2015_temp3_month7, bubal_2015_temp3_month8, bubal_2015_temp3_month9,bubal_2015_temp3_month10,
           bubal_2015_temp3_month11, bubal_2015_temp3_month12]

bubal_2015_temp3_new = pd.concat(df_list, ignore_index = True)

bubal_2015_temp3_new1_24 = bubal_2015_temp3_new.loc[(bubal_2015_temp3_new['hour'] == 1400) & ((bubal_2015_temp3_new['forecast']>=4.0) & (bubal_2015_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2015_temp3_new1_48 = bubal_2015_temp3_new.loc[(bubal_2015_temp3_new['hour'] == 1400) & ((bubal_2015_temp3_new['forecast']>=28.0) & (bubal_2015_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2015_temp3_new1_24.columns = ['date', 'temp_24']
bubal_2015_temp3_new1_48.columns = ['date', 'temp_48']

bubal_2015_temp3_new2 = pd.concat([bubal_2015_temp3_new1_24, bubal_2015_temp3_new1_48['temp_48']], axis=1)
bubal_2015_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2015-01-01  -7.0250  -5.7250
1   2015-01-02  -5.1000   0.5625
2   2015-01-03  -0.2250   0.6750
3   2015-01-04   0.4750  -0.7625
4   2015-01-05  -1.2625  -5.9500
..         ...      ...      ...
350 2015-12-27  -4.6500  -3.1250
351 2015-12-28  -3.7250  -1.1625
352 2015-12-29  -1.5750   0.5375
353 2015-12-30   0.1375  -0.2875
354 2015-12-31  -0.3750   3.7000

[355 rows x 3 columns]

#### 습도

In [ ]:
bubal_2015_humid.loc[bubal_2015_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20519,Start : 20150601,NaN,NaN,NaN
24960,Start : 20150701,NaN,NaN,NaN
29549,Start : 20150801,NaN,NaN,NaN
34138,Start : 20150901,NaN,NaN,NaN
38579,Start : 20151001,NaN,NaN,NaN
43168,Start : 20151101,NaN,NaN,NaN
47609,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_humid_month1 = make_date(bubal_2015_humid[:4588], 2015, 1)
bubal_2015_humid_month2 = make_date(bubal_2015_humid[4589:8733], 2015, 2)
bubal_2015_humid_month3 = make_date(bubal_2015_humid[8734:13322], 2015, 3)
bubal_2015_humid_month4 = make_date(bubal_2015_humid[13323:17763], 2015, 4)
bubal_2015_humid_month5 = make_date(bubal_2015_humid[17764:20519], 2015, 5)
bubal_2015_humid_month6 = make_date(bubal_2015_humid[20520:24960], 2015, 6)
bubal_2015_humid_month7 = make_date(bubal_2015_humid[24961:29549], 2015, 7)
bubal_2015_humid_month8 = make_date(bubal_2015_humid[29550:34138], 2015, 8)
bubal_2015_humid_month9 = make_date(bubal_2015_humid[34139:38579], 2015, 9)
bubal_2015_humid_month10 = make_date(bubal_2015_humid[38580:43168], 2015, 10)
bubal_2015_humid_month11 = make_date(bubal_2015_humid[43169:47609], 2015, 11)
bubal_2015_humid_month12 = make_date(bubal_2015_humid[47610:], 2015, 12)

df_list = [bubal_2015_humid_month1, bubal_2015_humid_month2, bubal_2015_humid_month3, bubal_2015_humid_month4, bubal_2015_humid_month5,
           bubal_2015_humid_month6, bubal_2015_humid_month7, bubal_2015_humid_month8, bubal_2015_humid_month9, bubal_2015_humid_month10,
           bubal_2015_humid_month11, bubal_2015_humid_month12]

bubal_2015_humid_new = pd.concat(df_list, ignore_index = True)

bubal_2015_humid_new1_24 = bubal_2015_humid_new.loc[(bubal_2015_humid_new['hour'] == 1400) & ((bubal_2015_humid_new['forecast']>=4.0) & (bubal_2015_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2015_humid_new1_48 = bubal_2015_humid_new.loc[(bubal_2015_humid_new['hour'] == 1400) & ((bubal_2015_humid_new['forecast']>=28.0) & (bubal_2015_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2015_humid_new1_24.columns = ['date', 'humid_24']
bubal_2015_humid_new1_48.columns = ['date', 'humid_48']

bubal_2015_humid_new2 = pd.concat([bubal_2015_humid_new1_24, bubal_2015_humid_new1_48['humid_48']], axis=1)
bubal_2015_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2015-01-01    53.250    65.250
1   2015-01-02    66.125    71.000
2   2015-01-03    74.250    83.750
3   2015-01-04    85.125    53.875
4   2015-01-05    53.250    38.500
..         ...       ...       ...
350 2015-12-27    50.750    66.875
351 2015-12-28    66.875    73.875
352 2015-12-29    76.375    82.000
353 2015-12-30    82.125    72.250
354 2015-12-31    74.250    81.000

[355 rows x 3 columns]

#### 일최고기온

In [ ]:
bubal_2015_maxtemp.loc[bubal_2015_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
589,Start : 20150201,NaN,NaN,NaN
1122,Start : 20150301,NaN,NaN,NaN
1712,Start : 20150401,NaN,NaN,NaN
2283,Start : 20150501,NaN,NaN,NaN
2680,Start : 20150601,NaN,NaN,NaN
3251,Start : 20150701,NaN,NaN,NaN
3841,Start : 20150801,NaN,NaN,NaN
4431,Start : 20150901,NaN,NaN,NaN
5002,Start : 20151001,NaN,NaN,NaN
5592,Start : 20151101,NaN,NaN,NaN
6163,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_maxtemp.loc[bubal_2015_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
bubal_2015_maxtemp_month1 = make_date(bubal_2015_maxtemp[:589], 2015, 1)
bubal_2015_maxtemp_month2 = make_date(bubal_2015_maxtemp[590:1122], 2015, 2)
bubal_2015_maxtemp_month3 = make_date(bubal_2015_maxtemp[1123:1712], 2015, 3)
bubal_2015_maxtemp_month4 = make_date(bubal_2015_maxtemp[1713:2283], 2015, 4)
bubal_2015_maxtemp_month5 = make_date(bubal_2015_maxtemp[2284:2680], 2015, 5)
bubal_2015_maxtemp_month6 = make_date(bubal_2015_maxtemp[2681:3251], 2015, 6)
bubal_2015_maxtemp_month7 = make_date(bubal_2015_maxtemp[3252:3841], 2015, 7)
bubal_2015_maxtemp_month8 = make_date(bubal_2015_maxtemp[3842:4431], 2015, 8)
bubal_2015_maxtemp_month9 = make_date(bubal_2015_maxtemp[4432:5002], 2015, 9)
bubal_2015_maxtemp_month10 = make_date(bubal_2015_maxtemp[5003:5592], 2015, 10)
bubal_2015_maxtemp_month11 = make_date(bubal_2015_maxtemp[5593:6163], 2015, 11)
bubal_2015_maxtemp_month12 = make_date(bubal_2015_maxtemp[6164:], 2015, 12)

df_list = [bubal_2015_maxtemp_month1, bubal_2015_maxtemp_month2, bubal_2015_maxtemp_month3, bubal_2015_maxtemp_month4, bubal_2015_maxtemp_month5,
           bubal_2015_maxtemp_month6, bubal_2015_maxtemp_month7, bubal_2015_maxtemp_month8, bubal_2015_maxtemp_month9 ,bubal_2015_maxtemp_month10,
           bubal_2015_maxtemp_month11, bubal_2015_maxtemp_month12]

bubal_2015_maxtemp_new = pd.concat(df_list, ignore_index = True)

bubal_2015_maxtemp_new1 = bubal_2015_maxtemp_new.loc[(bubal_2015_maxtemp_new['hour'] == 2300) & ((bubal_2015_maxtemp_new['forecast']==4.0) | (bubal_2015_maxtemp_new['forecast']==7.0) | (bubal_2015_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

bubal_2015_maxtemp_new1.columns = ['date', 'max_temp_24']

bubal_2015_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2015-01-01          6.0
1   2015-01-02          6.8
2   2015-01-03          4.9
3   2015-01-04          4.9
4   2015-01-05          2.1
..         ...          ...
349 2015-12-27          2.2
350 2015-12-28          5.1
351 2015-12-29          4.8
352 2015-12-30          9.1
353 2015-12-31          9.2

[354 rows x 2 columns]

#### 일최저기온

In [ ]:
bubal_2015_mintemp.loc[bubal_2015_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
496,Start : 20150201,NaN,NaN,NaN
945,Start : 20150301,NaN,NaN,NaN
1442,Start : 20150401,NaN,NaN,NaN
1923,Start : 20150501,NaN,NaN,NaN
2258,Start : 20150601,NaN,NaN,NaN
2739,Start : 20150701,NaN,NaN,NaN
3236,Start : 20150801,NaN,NaN,NaN
3733,Start : 20150901,NaN,NaN,NaN
4214,Start : 20151001,NaN,NaN,NaN
4711,Start : 20151101,NaN,NaN,NaN
5192,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_mintemp.loc[bubal_2015_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
bubal_2015_mintemp_month1 = make_date(bubal_2015_mintemp[:496], 2015, 1)
bubal_2015_mintemp_month2 = make_date(bubal_2015_mintemp[497:945], 2015, 2)
bubal_2015_mintemp_month3 = make_date(bubal_2015_mintemp[946:1442], 2015, 3)
bubal_2015_mintemp_month4 = make_date(bubal_2015_mintemp[1443:1923], 2015, 4)
bubal_2015_mintemp_month5 = make_date(bubal_2015_mintemp[1924:2258], 2015, 5)
bubal_2015_mintemp_month6 = make_date(bubal_2015_mintemp[2259:2739], 2015, 6)
bubal_2015_mintemp_month7 = make_date(bubal_2015_mintemp[2740:3236], 2015, 7)
bubal_2015_mintemp_month8 = make_date(bubal_2015_mintemp[3237:3733], 2015, 8)
bubal_2015_mintemp_month9 = make_date(bubal_2015_mintemp[3734:4214], 2015, 9)
bubal_2015_mintemp_month10 = make_date(bubal_2015_mintemp[4215:4711], 2015, 10)
bubal_2015_mintemp_month11 = make_date(bubal_2015_mintemp[4712:5192], 2015, 11)
bubal_2015_mintemp_month12 = make_date(bubal_2015_mintemp[5193:], 2015, 12)

df_list = [bubal_2015_mintemp_month1, bubal_2015_mintemp_month2, bubal_2015_mintemp_month3, bubal_2015_mintemp_month4, bubal_2015_mintemp_month5,
           bubal_2015_mintemp_month6, bubal_2015_mintemp_month7, bubal_2015_mintemp_month8, bubal_2015_mintemp_month9 ,bubal_2015_mintemp_month10,
           bubal_2015_mintemp_month11, bubal_2015_mintemp_month12]

bubal_2015_mintemp_new = pd.concat(df_list, ignore_index = True)

bubal_2015_mintemp_new1 = bubal_2015_mintemp_new.loc[(bubal_2015_mintemp_new['hour'] == 1400) & ((bubal_2015_mintemp_new['forecast']==4.0) | (bubal_2015_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

bubal_2015_mintemp_new1.columns = ['date', 'min_temp_24']

bubal_2015_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2015-01-01        -12.0
1   2015-01-02        -11.9
2   2015-01-03         -3.0
3   2015-01-04         -3.8
4   2015-01-05         -8.7
..         ...          ...
350 2015-12-27         -9.7
351 2015-12-28         -8.7
352 2015-12-29         -7.1
353 2015-12-30         -4.8
354 2015-12-31         -4.8

[355 rows x 2 columns]

#### 풍속

In [ ]:
bubal_2015_wind.loc[bubal_2015_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
bubal_2015_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2015_wind_month1 = make_date(bubal_2015_wind[:4588], 2015, 1)
bubal_2015_wind_month2 = make_date(bubal_2015_wind[4589:8733], 2015, 2)
bubal_2015_wind_month3 = make_date(bubal_2015_wind[8734:13322], 2015, 3)
bubal_2015_wind_month4 = make_date(bubal_2015_wind[13323:17763], 2015, 4)
bubal_2015_wind_month5 = make_date(bubal_2015_wind[17764:20851], 2015, 5)
bubal_2015_wind_month6 = make_date(bubal_2015_wind[20852:25292], 2015, 6)
bubal_2015_wind_month7 = make_date(bubal_2015_wind[25293:29881], 2015, 7)
bubal_2015_wind_month8 = make_date(bubal_2015_wind[29882:34470], 2015, 8)
bubal_2015_wind_month9 = make_date(bubal_2015_wind[34471:38911], 2015, 9)
bubal_2015_wind_month10 = make_date(bubal_2015_wind[38912:43500], 2015, 10)
bubal_2015_wind_month11 = make_date(bubal_2015_wind[43501:47941], 2015, 11)
bubal_2015_wind_month12 = make_date(bubal_2015_wind[47942:], 2015, 12)

df_list = [bubal_2015_wind_month1, bubal_2015_wind_month2, bubal_2015_wind_month3, bubal_2015_wind_month4, bubal_2015_wind_month5,
           bubal_2015_wind_month6, bubal_2015_wind_month7, bubal_2015_wind_month8, bubal_2015_wind_month9, bubal_2015_wind_month10,
           bubal_2015_wind_month11, bubal_2015_wind_month12]

bubal_2015_wind_new = pd.concat(df_list, ignore_index = True)

bubal_2015_wind_new1_24 = bubal_2015_wind_new.loc[(bubal_2015_wind_new['hour'] == 1400) & ((bubal_2015_wind_new['forecast']>=4.0) & (bubal_2015_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2015_wind_new1_48 = bubal_2015_wind_new.loc[(bubal_2015_wind_new['hour'] == 1400) & ((bubal_2015_wind_new['forecast']>=28.0) & (bubal_2015_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2015_wind_new1_24.columns = ['date', 'wind_24']
bubal_2015_wind_new1_48.columns = ['date', 'wind_48']

bubal_2015_wind_new2 = pd.concat([bubal_2015_wind_new1_24, bubal_2015_wind_new1_48['wind_48']], axis=1)
bubal_2015_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2015-01-01   2.2125   1.5875
1   2015-01-02   1.0750   1.4000
2   2015-01-03   1.1625   0.9875
3   2015-01-04   1.0000   2.8750
4   2015-01-05   3.6250   3.6750
..         ...      ...      ...
350 2015-12-27   1.5125   1.5625
351 2015-12-28   1.5750   1.3375
352 2015-12-29   2.1375   2.1125
353 2015-12-30   2.1375   1.7500
354 2015-12-31   1.7500   2.2875

[355 rows x 3 columns]

#### 2015년 부발읍 데이터

In [ ]:
from functools import reduce
dfs = [bubal_2015_rainfall_new1, bubal_2015_snow_new1, bubal_2015_temp3_new2, bubal_2015_humid_new2,bubal_2015_maxtemp_new1,
       bubal_2015_mintemp_new1, bubal_2015_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2015-01-01,0.0,0.0,-7.0250,-5.7250,53.250,65.250,6.0,-12.0,2.2125,1.5875
1,2015-01-02,0.0,0.0,-5.1000,0.5625,66.125,71.000,6.8,-11.9,1.0750,1.4000
2,2015-01-03,0.0,0.0,-0.2250,0.6750,74.250,83.750,4.9,-3.0,1.1625,0.9875
3,2015-01-04,10.0,0.0,0.4750,-0.7625,85.125,53.875,4.9,-3.8,1.0000,2.8750
4,2015-01-05,5.0,0.0,-1.2625,-5.9500,53.250,38.500,2.1,-8.7,3.6250,3.6750
...,...,...,...,...,...,...,...,...,...,...,...
350,2015-12-27,0.0,0.0,-4.6500,-3.1250,50.750,66.875,2.2,-9.7,1.5125,1.5625
351,2015-12-28,0.0,0.0,-3.7250,-1.1625,66.875,73.875,5.1,-8.7,1.5750,1.3375
352,2015-12-29,10.0,10.0,-1.5750,0.5375,76.375,82.000,4.8,-7.1,2.1375,2.1125
353,2015-12-30,0.0,0.0,0.1375,-0.2875,82.125,72.250,9.1,-4.8,2.1375,1.7500
354,2015-12-31,0.0,0.0,-0.3750,3.7000,74.250,81.000,9.2,-4.8,1.7500,2.2875

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_부발읍_2015.csv', index=False)

### 2016년

In [ ]:
bubal_2016_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_6시간강수량_201601_201612.csv')
bubal_2016_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_6시간적설_201601_201612.csv')
bubal_2016_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_3시간기온_201601_201612.csv')
bubal_2016_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_습도_201601_201612.csv')
bubal_2016_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_일최고기온_201601_201612.csv')
bubal_2016_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_일최저기온_201601_201612.csv')
bubal_2016_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/부발읍_풍속_201601_201612.csv')

#### 6시간강수량

In [ ]:
bubal_2016_rainfall.loc[bubal_2016_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_rainfall.loc[bubal_2016_rainfall['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_rainfall2 = bubal_2016_rainfall.iloc[:27827]

In [ ]:
bubal_2016_rainfall2['hour'] = pd.to_numeric(bubal_2016_rainfall2['hour'])
bubal_2016_rainfall2['forecast'] =  pd.to_numeric(bubal_2016_rainfall2['forecast'])
bubal_2016_rainfall2['value'] =  pd.to_numeric(bubal_2016_rainfall2['value'])

In [ ]:
bubal_2016_rainfall2.loc[bubal_2016_rainfall2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2016_rainfall2.loc[bubal_2016_rainfall2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_rainfall_month1 = make_date(bubal_2016_rainfall2[:2356], 2016, 1)
bubal_2016_rainfall_month2 = make_date(bubal_2016_rainfall2[2357:4561], 2016, 2)
bubal_2016_rainfall_month3 = make_date(bubal_2016_rainfall2[4562:6918], 2016, 3)
bubal_2016_rainfall_month4 = make_date(bubal_2016_rainfall2[6919:9199], 2016, 4)
bubal_2016_rainfall_month5 = make_date(bubal_2016_rainfall2[9200:11556], 2016, 5)
bubal_2016_rainfall_month6 = make_date(bubal_2016_rainfall2[11557:13837], 2016, 6)
bubal_2016_rainfall_month7 = make_date(bubal_2016_rainfall2[13838:16194], 2016, 7)
bubal_2016_rainfall_month8 = make_date(bubal_2016_rainfall2[16195:18551], 2016, 8)
bubal_2016_rainfall_month9 = make_date(bubal_2016_rainfall2[18552:20832], 2016, 9)
bubal_2016_rainfall_month10 = make_date(bubal_2016_rainfall2[20833:23189], 2016, 10)
bubal_2016_rainfall_month11 = make_date(bubal_2016_rainfall2[23190:25470], 2016, 11)
bubal_2016_rainfall_month12 = make_date(bubal_2016_rainfall2[25471:], 2016, 12)


df_list = [bubal_2016_rainfall_month1, bubal_2016_rainfall_month2, bubal_2016_rainfall_month3, bubal_2016_rainfall_month4, bubal_2016_rainfall_month5,
           bubal_2016_rainfall_month6, bubal_2016_rainfall_month7, bubal_2016_rainfall_month8, bubal_2016_rainfall_month9,bubal_2016_rainfall_month10,
           bubal_2016_rainfall_month11, bubal_2016_rainfall_month12]

bubal_2016_rainfall_new = pd.concat(df_list, ignore_index = True)

bubal_2016_rainfall_new1 = bubal_2016_rainfall_new.loc[(bubal_2016_rainfall_new['hour'] == 1400) & ((bubal_2016_rainfall_new['forecast']>=7.0) & (bubal_2016_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2016_rainfall_new1.columns = ['date', 'rainfall_24']
bubal_2016_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2016-01-01          0.0
1   2016-01-02          0.0
2   2016-01-03          0.0
3   2016-01-04          0.0
4   2016-01-05          0.0
..         ...          ...
361 2016-12-27          0.0
362 2016-12-28          5.0
363 2016-12-29          0.0
364 2016-12-30          0.0
365 2016-12-31          0.0

[366 rows x 2 columns]

#### 6시간적설

In [ ]:
bubal_2016_snow.loc[bubal_2016_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_snow.loc[bubal_2016_snow['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_snow2 = bubal_2016_snow.iloc[:27827]

In [ ]:
bubal_2016_snow2['hour'] = pd.to_numeric(bubal_2016_snow2['hour'])
bubal_2016_snow2['forecast'] =  pd.to_numeric(bubal_2016_snow2['forecast'])
bubal_2016_snow2['value'] =  pd.to_numeric(bubal_2016_snow2['value'])

In [ ]:
bubal_2016_snow2.loc[bubal_2016_snow2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
bubal_2016_snow2.loc[bubal_2016_snow2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_snow_month1 = make_date(bubal_2016_snow2[:2356], 2016, 1)
bubal_2016_snow_month2 = make_date(bubal_2016_snow2[2357:4561], 2016, 2)
bubal_2016_snow_month3 = make_date(bubal_2016_snow2[4562:6918], 2016, 3)
bubal_2016_snow_month4 = make_date(bubal_2016_snow2[6919:9199], 2016, 4)
bubal_2016_snow_month5 = make_date(bubal_2016_snow2[9200:11556], 2016, 5)
bubal_2016_snow_month6 = make_date(bubal_2016_snow2[11557:13837], 2016, 6)
bubal_2016_snow_month7 = make_date(bubal_2016_snow2[13838:16194], 2016, 7)
bubal_2016_snow_month8 = make_date(bubal_2016_snow2[16195:18551], 2016, 8)
bubal_2016_snow_month9 = make_date(bubal_2016_snow2[18552:20832], 2016, 9)
bubal_2016_snow_month10 = make_date(bubal_2016_snow2[20833:23189], 2016, 10)
bubal_2016_snow_month11 = make_date(bubal_2016_snow2[23190:25470], 2016, 11)
bubal_2016_snow_month12 = make_date(bubal_2016_snow2[25471:], 2016, 12)


df_list = [bubal_2016_snow_month1, bubal_2016_snow_month2, bubal_2016_snow_month3, bubal_2016_snow_month4, bubal_2016_snow_month5,
           bubal_2016_snow_month6, bubal_2016_snow_month7, bubal_2016_snow_month8, bubal_2016_snow_month9, bubal_2016_snow_month10, 
           bubal_2016_snow_month11, bubal_2016_snow_month12]

bubal_2016_snow_new = pd.concat(df_list, ignore_index = True)

bubal_2016_snow_new1 = bubal_2016_snow_new.loc[(bubal_2016_snow_new['hour'] == 1400) & ((bubal_2016_snow_new['forecast']>=7.0) & (bubal_2016_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

bubal_2016_snow_new1.columns = ['date', 'snow_24']
bubal_2016_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2016-01-01      0.0
1   2016-01-02      0.0
2   2016-01-03      0.0
3   2016-01-04      0.0
4   2016-01-05      0.0
..         ...      ...
361 2016-12-27      0.0
362 2016-12-28      5.0
363 2016-12-29      0.0
364 2016-12-30      0.0
365 2016-12-31      0.0

[366 rows x 2 columns]

#### 3시간기온

In [ ]:
bubal_2016_temp3.loc[bubal_2016_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_temp3.loc[bubal_2016_temp3['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_temp32 = bubal_2016_temp3.iloc[:54179]

In [ ]:
bubal_2016_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_temp32['hour'] = pd.to_numeric(bubal_2016_temp32['hour'])
bubal_2016_temp32['forecast'] =  pd.to_numeric(bubal_2016_temp32['forecast'])
bubal_2016_temp32['value'] =  pd.to_numeric(bubal_2016_temp32['value'])

In [ ]:
bubal_2016_temp32.loc[bubal_2016_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_temp3_month1 = make_date(bubal_2016_temp32[:4588], 2016, 1)
bubal_2016_temp3_month2 = make_date(bubal_2016_temp32[4589:8881], 2016, 2)
bubal_2016_temp3_month3 = make_date(bubal_2016_temp32[8882:13470], 2016, 3)
bubal_2016_temp3_month4 = make_date(bubal_2016_temp32[13471:17911], 2016, 4)
bubal_2016_temp3_month5 = make_date(bubal_2016_temp32[17912:22500], 2016, 5)
bubal_2016_temp3_month6 = make_date(bubal_2016_temp32[22501:26941], 2016, 6)
bubal_2016_temp3_month7 = make_date(bubal_2016_temp32[26942:31530], 2016, 7)
bubal_2016_temp3_month8 = make_date(bubal_2016_temp32[31531:36119], 2016, 8)
bubal_2016_temp3_month9 = make_date(bubal_2016_temp32[36120:40560], 2016, 9)
bubal_2016_temp3_month10 = make_date(bubal_2016_temp32[40561:45149], 2016, 10)
bubal_2016_temp3_month11 = make_date(bubal_2016_temp32[45150:49590], 2016, 11)
bubal_2016_temp3_month12 = make_date(bubal_2016_temp32[49591:],2016, 12)


df_list = [bubal_2016_temp3_month1, bubal_2016_temp3_month2, bubal_2016_temp3_month3, bubal_2016_temp3_month4,bubal_2016_temp3_month5,
           bubal_2016_temp3_month6, bubal_2016_temp3_month7, bubal_2016_temp3_month8, bubal_2016_temp3_month9,bubal_2016_temp3_month10,
           bubal_2016_temp3_month11, bubal_2016_temp3_month12]

bubal_2016_temp3_new = pd.concat(df_list, ignore_index = True)

bubal_2016_temp3_new1_24 = bubal_2016_temp3_new.loc[(bubal_2016_temp3_new['hour'] == 1400) & ((bubal_2016_temp3_new['forecast']>=4.0) & (bubal_2016_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2016_temp3_new1_48 = bubal_2016_temp3_new.loc[(bubal_2016_temp3_new['hour'] == 1400) & ((bubal_2016_temp3_new['forecast']>=28.0) & (bubal_2016_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2016_temp3_new1_24.columns = ['date', 'temp_24']
bubal_2016_temp3_new1_48.columns = ['date', 'temp_48']

bubal_2016_temp3_new2 = pd.concat([bubal_2016_temp3_new1_24, bubal_2016_temp3_new1_48['temp_48']], axis=1)
bubal_2016_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2016-01-01   4.1625   3.4625
1   2016-01-02   4.5625   1.0625
2   2016-01-03   1.3250  -1.6250
3   2016-01-04  -1.7000  -2.4500
4   2016-01-05  -2.4000  -3.1250
..         ...      ...      ...
361 2016-12-27  -3.5625  -2.5000
362 2016-12-28  -2.6250  -2.7000
363 2016-12-29  -3.1000  -0.2875
364 2016-12-30  -0.5375   0.3375
365 2016-12-31   0.8875   3.2375

[366 rows x 3 columns]

#### 습도

In [ ]:
bubal_2016_humid.loc[bubal_2016_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_humid.loc[bubal_2016_humid['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_humid2 = bubal_2016_humid.iloc[:54179]

In [ ]:
bubal_2016_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_humid2['hour'] = pd.to_numeric(bubal_2016_humid2['hour'])
bubal_2016_humid2['forecast'] =  pd.to_numeric(bubal_2016_humid2['forecast'])
bubal_2016_humid2['value'] =  pd.to_numeric(bubal_2016_humid2['value'])

In [ ]:
bubal_2016_humid2.loc[bubal_2016_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_humid_month1 = make_date(bubal_2016_humid2[:4588], 2016, 1)
bubal_2016_humid_month2 = make_date(bubal_2016_humid2[4589:8881], 2016, 2)
bubal_2016_humid_month3 = make_date(bubal_2016_humid2[8882:13470], 2016, 3)
bubal_2016_humid_month4 = make_date(bubal_2016_humid2[13471:17911], 2016, 4)
bubal_2016_humid_month5 = make_date(bubal_2016_humid2[17912:22500], 2016, 5)
bubal_2016_humid_month6 = make_date(bubal_2016_humid2[22501:26941], 2016, 6)
bubal_2016_humid_month7 = make_date(bubal_2016_humid2[26942:31530], 2016, 7)
bubal_2016_humid_month8 = make_date(bubal_2016_humid2[31531:36119], 2016, 8)
bubal_2016_humid_month9 = make_date(bubal_2016_humid2[36120:40560], 2016, 9)
bubal_2016_humid_month10 = make_date(bubal_2016_humid2[40561:45149], 2016, 10)
bubal_2016_humid_month11 = make_date(bubal_2016_humid2[45150:49590], 2016, 11)
bubal_2016_humid_month12 = make_date(bubal_2016_humid2[49591:],2016, 12)

df_list = [bubal_2016_humid_month1, bubal_2016_humid_month2, bubal_2016_humid_month3, bubal_2016_humid_month4, bubal_2016_humid_month5,
           bubal_2016_humid_month6, bubal_2016_humid_month7, bubal_2016_humid_month8, bubal_2016_humid_month9, bubal_2016_humid_month10,
           bubal_2016_humid_month11, bubal_2016_humid_month12]

bubal_2016_humid_new = pd.concat(df_list, ignore_index = True)

bubal_2016_humid_new1_24 = bubal_2016_humid_new.loc[(bubal_2016_humid_new['hour'] == 1400) & ((bubal_2016_humid_new['forecast']>=4.0) & (bubal_2016_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2016_humid_new1_48 = bubal_2016_humid_new.loc[(bubal_2016_humid_new['hour'] == 1400) & ((bubal_2016_humid_new['forecast']>=28.0) & (bubal_2016_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2016_humid_new1_24.columns = ['date', 'humid_24']
bubal_2016_humid_new1_48.columns = ['date', 'humid_48']

bubal_2016_humid_new2 = pd.concat([bubal_2016_humid_new1_24, bubal_2016_humid_new1_48['humid_48']], axis=1)
bubal_2016_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2016-01-01    81.000    83.000
1   2016-01-02    83.375    68.000
2   2016-01-03    67.875    55.125
3   2016-01-04    54.000    65.125
4   2016-01-05    65.125    50.250
..         ...       ...       ...
361 2016-12-27    60.250    50.250
362 2016-12-28    50.250    61.000
363 2016-12-29    59.000    74.125
364 2016-12-30    74.125    74.625
365 2016-12-31    74.500    73.125

[366 rows x 3 columns]

#### 일최고기온

In [ ]:
bubal_2016_maxtemp.loc[bubal_2016_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
589,Start : 20160201,NaN,NaN,NaN
1141,Start : 20160301,NaN,NaN,NaN
1731,Start : 20160401,NaN,NaN,NaN
2302,Start : 20160501,NaN,NaN,NaN
2892,Start : 20160601,NaN,NaN,NaN
3463,Start : 20160701,NaN,NaN,NaN
4053,Start : 20160801,NaN,NaN,NaN
4643,Start : 20160901,NaN,NaN,NaN
5214,Start : 20161001,NaN,NaN,NaN
5804,Start : 20161101,NaN,NaN,NaN
6375,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_maxtemp.loc[bubal_2016_maxtemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_maxtemp2 = bubal_2016_maxtemp.iloc[:6965,:]

In [ ]:
bubal_2016_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_maxtemp2['hour'] = pd.to_numeric(bubal_2016_maxtemp2['hour'])
bubal_2016_maxtemp2['forecast'] =  pd.to_numeric(bubal_2016_maxtemp2['forecast'])
bubal_2016_maxtemp2['value'] =  pd.to_numeric(bubal_2016_maxtemp2['value'])

In [ ]:
bubal_2016_maxtemp2.loc[bubal_2016_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
589    Start : 20160201    NaN       NaN    NaN
1141   Start : 20160301    NaN       NaN    NaN
1731   Start : 20160401    NaN       NaN    NaN
2302   Start : 20160501    NaN       NaN    NaN
2892   Start : 20160601    NaN       NaN    NaN
3463   Start : 20160701    NaN       NaN    NaN
4053   Start : 20160801    NaN       NaN    NaN
4643   Start : 20160901    NaN       NaN    NaN
5214   Start : 20161001    NaN       NaN    NaN
5804   Start : 20161101    NaN       NaN    NaN
6375   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_maxtemp2.loc[bubal_2016_maxtemp2['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
bubal_2016_maxtemp_month1 = make_date(bubal_2016_maxtemp2[:589], 2016, 1)
bubal_2016_maxtemp_month2 = make_date(bubal_2016_maxtemp2[590:1141], 2016, 2)
bubal_2016_maxtemp_month3 = make_date(bubal_2016_maxtemp2[1142:1731], 2016, 3)
bubal_2016_maxtemp_month4 = make_date(bubal_2016_maxtemp2[1732:2302], 2016, 4)
bubal_2016_maxtemp_month5 = make_date(bubal_2016_maxtemp2[2303:2892], 2016, 5)
bubal_2016_maxtemp_month6 = make_date(bubal_2016_maxtemp2[2893:3463], 2016, 6)
bubal_2016_maxtemp_month7 = make_date(bubal_2016_maxtemp2[3464:4053], 2016, 7)
bubal_2016_maxtemp_month8 = make_date(bubal_2016_maxtemp2[4054:4643], 2016, 8)
bubal_2016_maxtemp_month9 = make_date(bubal_2016_maxtemp2[4644:5214], 2016, 9)
bubal_2016_maxtemp_month10 = make_date(bubal_2016_maxtemp2[5215:5804], 2016, 10)
bubal_2016_maxtemp_month11 = make_date(bubal_2016_maxtemp2[5805:6375], 2016, 11)
bubal_2016_maxtemp_month12 = make_date(bubal_2016_maxtemp2[6376:], 2016, 12)

df_list = [bubal_2016_maxtemp_month1, bubal_2016_maxtemp_month2, bubal_2016_maxtemp_month3, bubal_2016_maxtemp_month4, bubal_2016_maxtemp_month5,
           bubal_2016_maxtemp_month6, bubal_2016_maxtemp_month7, bubal_2016_maxtemp_month8, bubal_2016_maxtemp_month9 ,bubal_2016_maxtemp_month10,
           bubal_2016_maxtemp_month11, bubal_2016_maxtemp_month12]

bubal_2016_maxtemp_new = pd.concat(df_list, ignore_index = True)

bubal_2016_maxtemp_new1 = bubal_2016_maxtemp_new.loc[(bubal_2016_maxtemp_new['hour'] == 2300) & ((bubal_2016_maxtemp_new['forecast']==4.0) | (bubal_2016_maxtemp_new['forecast']==7.0) | (bubal_2016_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

bubal_2016_maxtemp_new1.columns = ['date', 'max_temp_24']

bubal_2016_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2016-01-01          9.1
1   2016-01-02          9.0
2   2016-01-03          5.3
3   2016-01-04          2.1
4   2016-01-05          1.9
..         ...          ...
361 2016-12-27          3.1
362 2016-12-28          5.0
363 2016-12-29          5.9
364 2016-12-30          8.1
365 2016-12-31          8.9

[366 rows x 2 columns]

#### 일최저기온

In [ ]:
bubal_2016_mintemp.loc[bubal_2016_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
496,Start : 20160201,NaN,NaN,NaN
961,Start : 20160301,NaN,NaN,NaN
1458,Start : 20160401,NaN,NaN,NaN
1939,Start : 20160501,NaN,NaN,NaN
2436,Start : 20160601,NaN,NaN,NaN
2917,Start : 20160701,NaN,NaN,NaN
3414,Start : 20160801,NaN,NaN,NaN
3911,Start : 20160901,NaN,NaN,NaN
4392,Start : 20161001,NaN,NaN,NaN
4889,Start : 20161101,NaN,NaN,NaN
5370,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_mintemp.loc[bubal_2016_mintemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_mintemp2 = bubal_2016_mintemp.iloc[:5867,:]

In [ ]:
bubal_2016_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_mintemp2['hour'] = pd.to_numeric(bubal_2016_mintemp2['hour'])
bubal_2016_mintemp2['forecast'] =  pd.to_numeric(bubal_2016_mintemp2['forecast'])
bubal_2016_mintemp2['value'] =  pd.to_numeric(bubal_2016_mintemp2['value'])

In [ ]:
bubal_2016_mintemp2.loc[bubal_2016_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20160201    NaN       NaN    NaN
961    Start : 20160301    NaN       NaN    NaN
1458   Start : 20160401    NaN       NaN    NaN
1939   Start : 20160501    NaN       NaN    NaN
2436   Start : 20160601    NaN       NaN    NaN
2917   Start : 20160701    NaN       NaN    NaN
3414   Start : 20160801    NaN       NaN    NaN
3911   Start : 20160901    NaN       NaN    NaN
4392   Start : 20161001    NaN       NaN    NaN
4889   Start : 20161101    NaN       NaN    NaN
5370   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_mintemp2.loc[bubal_2016_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
bubal_2016_mintemp_month1 = make_date(bubal_2016_mintemp2[:496], 2016, 1)
bubal_2016_mintemp_month2 = make_date(bubal_2016_mintemp2[497:961], 2016, 2)
bubal_2016_mintemp_month3 = make_date(bubal_2016_mintemp2[962:1458], 2016, 3)
bubal_2016_mintemp_month4 = make_date(bubal_2016_mintemp2[1459:1939], 2016, 4)
bubal_2016_mintemp_month5 = make_date(bubal_2016_mintemp2[1940:2436], 2016, 5)
bubal_2016_mintemp_month6 = make_date(bubal_2016_mintemp2[2437:2917], 2016, 6)
bubal_2016_mintemp_month7 = make_date(bubal_2016_mintemp2[2918:3414], 2016, 7)
bubal_2016_mintemp_month8 = make_date(bubal_2016_mintemp2[3415:3911], 2016, 8)
bubal_2016_mintemp_month9 = make_date(bubal_2016_mintemp2[3912:4392], 2016, 9)
bubal_2016_mintemp_month10 = make_date(bubal_2016_mintemp2[4393:4889], 2016, 10)
bubal_2016_mintemp_month11 = make_date(bubal_2016_mintemp2[4890:5370], 2016, 11)
bubal_2016_mintemp_month12 = make_date(bubal_2016_mintemp2[5371:], 2016, 12)

df_list = [bubal_2016_mintemp_month1, bubal_2016_mintemp_month2, bubal_2016_mintemp_month3, bubal_2016_mintemp_month4, bubal_2016_mintemp_month5,
           bubal_2016_mintemp_month6, bubal_2016_mintemp_month7, bubal_2016_mintemp_month8, bubal_2016_mintemp_month9 ,bubal_2016_mintemp_month10,
           bubal_2016_mintemp_month11, bubal_2016_mintemp_month12]

bubal_2016_mintemp_new = pd.concat(df_list, ignore_index = True)

bubal_2016_mintemp_new1 = bubal_2016_mintemp_new.loc[(bubal_2016_mintemp_new['hour'] == 1400) & ((bubal_2016_mintemp_new['forecast']==4.0) | (bubal_2016_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

bubal_2016_mintemp_new1.columns = ['date', 'min_temp_24']

bubal_2016_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2016-01-01          0.0
1   2016-01-02          0.0
2   2016-01-03         -3.9
3   2016-01-04         -5.9
4   2016-01-05         -6.9
..         ...          ...
361 2016-12-27         -9.7
362 2016-12-28         -8.9
363 2016-12-29         -8.9
364 2016-12-30         -3.9
365 2016-12-31         -3.0

[366 rows x 2 columns]

#### 풍속

In [ ]:
bubal_2016_wind.loc[bubal_2016_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_121 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
bubal_2016_wind.loc[bubal_2016_wind['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_121 Start : 20160101 ]
Index: []

In [ ]:
bubal_2016_wind2 = bubal_2016_wind.iloc[:54179]

In [ ]:
bubal_2016_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
bubal_2016_wind2['hour'] = pd.to_numeric(bubal_2016_wind2['hour'])
bubal_2016_wind2['forecast'] =  pd.to_numeric(bubal_2016_wind2['forecast'])
bubal_2016_wind2['value'] =  pd.to_numeric(bubal_2016_wind2['value'])

In [ ]:
bubal_2016_wind2.loc[bubal_2016_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
bubal_2016_wind_month1 = make_date(bubal_2016_wind2[:4588], 2016, 1)
bubal_2016_wind_month2 = make_date(bubal_2016_wind2[4589:8881], 2016, 2)
bubal_2016_wind_month3 = make_date(bubal_2016_wind2[8882:13470], 2016, 3)
bubal_2016_wind_month4 = make_date(bubal_2016_wind2[13471:17911], 2016, 4)
bubal_2016_wind_month5 = make_date(bubal_2016_wind2[17912:22500], 2016, 5)
bubal_2016_wind_month6 = make_date(bubal_2016_wind2[22501:26941], 2016, 6)
bubal_2016_wind_month7 = make_date(bubal_2016_wind2[26942:31530], 2016, 7)
bubal_2016_wind_month8 = make_date(bubal_2016_wind2[31531:36119], 2016, 8)
bubal_2016_wind_month9 = make_date(bubal_2016_wind2[36120:40560], 2016, 9)
bubal_2016_wind_month10 = make_date(bubal_2016_wind2[40561:45149], 2016, 10)
bubal_2016_wind_month11 = make_date(bubal_2016_wind2[45150:49590], 2016, 11)
bubal_2016_wind_month12 = make_date(bubal_2016_wind2[49591:], 2016, 12)

df_list = [bubal_2016_wind_month1, bubal_2016_wind_month2, bubal_2016_wind_month3, bubal_2016_wind_month4, bubal_2016_wind_month5,
           bubal_2016_wind_month6, bubal_2016_wind_month7, bubal_2016_wind_month8, bubal_2016_wind_month9, bubal_2016_wind_month10,
           bubal_2016_wind_month11, bubal_2016_wind_month12]

bubal_2016_wind_new = pd.concat(df_list, ignore_index = True)

bubal_2016_wind_new1_24 = bubal_2016_wind_new.loc[(bubal_2016_wind_new['hour'] == 1400) & ((bubal_2016_wind_new['forecast']>=4.0) & (bubal_2016_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
bubal_2016_wind_new1_48 = bubal_2016_wind_new.loc[(bubal_2016_wind_new['hour'] == 1400) & ((bubal_2016_wind_new['forecast']>=28.0) & (bubal_2016_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

bubal_2016_wind_new1_24.columns = ['date', 'wind_24']
bubal_2016_wind_new1_48.columns = ['date', 'wind_48']

bubal_2016_wind_new2 = pd.concat([bubal_2016_wind_new1_24, bubal_2016_wind_new1_48['wind_48']], axis=1)
bubal_2016_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2016-01-01   2.5625   1.6250
1   2016-01-02   1.4625   1.7125
2   2016-01-03   1.7375   1.9875
3   2016-01-04   2.1000   1.7500
4   2016-01-05   2.4500   3.0125
..         ...      ...      ...
361 2016-12-27   1.3625   1.6875
362 2016-12-28   1.7000   1.4750
363 2016-12-29   1.7500   1.5250
364 2016-12-30   1.5250   1.3625
365 2016-12-31   1.3625   1.4625

[366 rows x 3 columns]

#### 2016년 부발읍 데이터

In [ ]:
from functools import reduce
dfs = [bubal_2016_rainfall_new1, bubal_2016_snow_new1, bubal_2016_temp3_new2, bubal_2016_humid_new2,bubal_2016_maxtemp_new1,
       bubal_2016_mintemp_new1, bubal_2016_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,0.0,0.0,4.1625,3.4625,81.000,83.000,9.1,0.0,2.5625,1.6250
1,2016-01-02,0.0,0.0,4.5625,1.0625,83.375,68.000,9.0,0.0,1.4625,1.7125
2,2016-01-03,0.0,0.0,1.3250,-1.6250,67.875,55.125,5.3,-3.9,1.7375,1.9875
3,2016-01-04,0.0,0.0,-1.7000,-2.4500,54.000,65.125,2.1,-5.9,2.1000,1.7500
4,2016-01-05,0.0,0.0,-2.4000,-3.1250,65.125,50.250,1.9,-6.9,2.4500,3.0125
...,...,...,...,...,...,...,...,...,...,...,...
361,2016-12-27,0.0,0.0,-3.5625,-2.5000,60.250,50.250,3.1,-9.7,1.3625,1.6875
362,2016-12-28,5.0,5.0,-2.6250,-2.7000,50.250,61.000,5.0,-8.9,1.7000,1.4750
363,2016-12-29,0.0,0.0,-3.1000,-0.2875,59.000,74.125,5.9,-8.9,1.7500,1.5250
364,2016-12-30,0.0,0.0,-0.5375,0.3375,74.125,74.625,8.1,-3.9,1.5250,1.3625
365,2016-12-31,0.0,0.0,0.8875,3.2375,74.500,73.125,8.9,-3.0,1.3625,1.4625

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_부발읍_2016.csv', index=False)

## 생연1동 -

### 2012년

In [ ]:
sengyeon1_2012_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_12시간강수량_201201_201212.csv')
sengyeon1_2012_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_12시간신적설_201201_201212.csv')
sengyeon1_2012_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_3시간기온_201201_201212.csv')
sengyeon1_2012_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_습도_201201_201212.csv')
sengyeon1_2012_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_일최고기온_201201_201212.csv')
sengyeon1_2012_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_일최저기온_201201_201212.csv')
sengyeon1_2012_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/생연1동_풍속_201201_201212.csv')

#### 12시간강수량

In [ ]:
sengyeon1_2012_rainfall.loc[sengyeon1_2012_rainfall['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
sengyeon1_2012_rainfall.loc[sengyeon1_2012_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_rainfall_month1 = make_date(sengyeon1_2012_rainfall[:1116], 2012, 1)
sengyeon1_2012_rainfall_month2 = make_date(sengyeon1_2012_rainfall[1117:2161], 2012, 2)
sengyeon1_2012_rainfall_month3 = make_date(sengyeon1_2012_rainfall[2162:3278], 2012, 3)
sengyeon1_2012_rainfall_month4 = make_date(sengyeon1_2012_rainfall[3279:4359], 2012, 4)
sengyeon1_2012_rainfall_month5 = make_date(sengyeon1_2012_rainfall[4360:4396], 2012, 5)
sengyeon1_2012_rainfall_month6 = make_date(sengyeon1_2012_rainfall[4397:5477], 2012, 6)
sengyeon1_2012_rainfall_month7 = make_date(sengyeon1_2012_rainfall[5478:5514], 2012, 7)
sengyeon1_2012_rainfall_month8 = make_date(sengyeon1_2012_rainfall[5515:6595], 2012, 8)
sengyeon1_2012_rainfall_month9 = make_date(sengyeon1_2012_rainfall[6596:7676], 2012, 9)
sengyeon1_2012_rainfall_month10 = make_date(sengyeon1_2012_rainfall[7677:7713], 2012, 10)
sengyeon1_2012_rainfall_month11 = make_date(sengyeon1_2012_rainfall[7714:8794], 2012, 11)
sengyeon1_2012_rainfall_month12 = make_date(sengyeon1_2012_rainfall[8795:], 2012, 12)

df_list = [sengyeon1_2012_rainfall_month1, sengyeon1_2012_rainfall_month2, sengyeon1_2012_rainfall_month3, sengyeon1_2012_rainfall_month4, sengyeon1_2012_rainfall_month5,
           sengyeon1_2012_rainfall_month6, sengyeon1_2012_rainfall_month7, sengyeon1_2012_rainfall_month8, sengyeon1_2012_rainfall_month9, sengyeon1_2012_rainfall_month10,
           sengyeon1_2012_rainfall_month11,sengyeon1_2012_rainfall_month12 ]
sengyeon1_2012_rainfall_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_rainfall_new1 = sengyeon1_2012_rainfall_new.loc[(sengyeon1_2012_rainfall_new['hour'] == 1100) & ((sengyeon1_2012_rainfall_new['forecast']==4.0) | (sengyeon1_2012_rainfall_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2012_rainfall_new1.columns = ['date', 'rainfall_24']
sengyeon1_2012_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2012-01-01          1.0
1   2012-01-02          0.0
2   2012-01-03          0.0
3   2012-01-04          0.0
4   2012-01-05          0.0
..         ...          ...
270 2012-12-27          5.0
271 2012-12-28          0.0
272 2012-12-29          5.0
273 2012-12-30          1.0
274 2012-12-31          0.0

[275 rows x 2 columns]

#### 12시간신적설

In [ ]:
sengyeon1_2012_snow.loc[sengyeon1_2012_snow['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
sengyeon1_2012_snow.loc[sengyeon1_2012_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_snow_month1 = make_date(sengyeon1_2012_snow[:1116], 2012, 1)
sengyeon1_2012_snow_month2 = make_date(sengyeon1_2012_snow[1117:2161], 2012, 2)
sengyeon1_2012_snow_month3 = make_date(sengyeon1_2012_snow[2162:3278], 2012, 3)
sengyeon1_2012_snow_month4 = make_date(sengyeon1_2012_snow[3279:4359], 2012, 4)
sengyeon1_2012_snow_month5 = make_date(sengyeon1_2012_snow[4360:4396], 2012, 5)
sengyeon1_2012_snow_month6 = make_date(sengyeon1_2012_snow[4397:5477], 2012, 6)
sengyeon1_2012_snow_month7 = make_date(sengyeon1_2012_snow[5478:5514], 2012, 7)
sengyeon1_2012_snow_month8 = make_date(sengyeon1_2012_snow[5515:6595], 2012, 8)
sengyeon1_2012_snow_month9 = make_date(sengyeon1_2012_snow[6596:7676], 2012, 9)
sengyeon1_2012_snow_month10 = make_date(sengyeon1_2012_snow[7677:7713], 2012, 10)
sengyeon1_2012_snow_month11 = make_date(sengyeon1_2012_snow[7714:8794], 2012, 11)
sengyeon1_2012_snow_month12 = make_date(sengyeon1_2012_snow[8795:], 2012, 12)

df_list = [sengyeon1_2012_snow_month1, sengyeon1_2012_snow_month2, sengyeon1_2012_snow_month3, sengyeon1_2012_snow_month4, sengyeon1_2012_snow_month5,
           sengyeon1_2012_snow_month6, sengyeon1_2012_snow_month7, sengyeon1_2012_snow_month8, sengyeon1_2012_snow_month9, sengyeon1_2012_snow_month10,
           sengyeon1_2012_snow_month11, sengyeon1_2012_snow_month12 ]

sengyeon1_2012_snow_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_snow_new1 = sengyeon1_2012_snow_new.loc[(sengyeon1_2012_snow_new['hour'] == 1100) & ((sengyeon1_2012_snow_new['forecast']==4.0) | (sengyeon1_2012_snow_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2012_snow_new1.columns = ['date', 'snow_24']
sengyeon1_2012_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2012-01-01      1.0
1   2012-01-02      0.0
2   2012-01-03      0.0
3   2012-01-04      0.0
4   2012-01-05      0.0
..         ...      ...
270 2012-12-27      5.0
271 2012-12-28      0.0
272 2012-12-29      5.0
273 2012-12-30      1.0
274 2012-12-31      0.0

[275 rows x 2 columns]

#### 3시간기온

In [ ]:
sengyeon1_2012_temp3.loc[sengyeon1_2012_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_temp3_month1 = make_date(sengyeon1_2012_temp3[:4092], 2012, 1)
sengyeon1_2012_temp3_month2 = make_date(sengyeon1_2012_temp3[4093:7921], 2012, 2)
sengyeon1_2012_temp3_month3 = make_date(sengyeon1_2012_temp3[7922:12014], 2012, 3)
sengyeon1_2012_temp3_month4 = make_date(sengyeon1_2012_temp3[12015:15975], 2012, 4)
sengyeon1_2012_temp3_month5 = make_date(sengyeon1_2012_temp3[15976:20068], 2012, 5)
sengyeon1_2012_temp3_month6 = make_date(sengyeon1_2012_temp3[20069:24029], 2012, 6)
sengyeon1_2012_temp3_month7 = make_date(sengyeon1_2012_temp3[24030:28122], 2012, 7)
sengyeon1_2012_temp3_month8 = make_date(sengyeon1_2012_temp3[28123:32215], 2012, 8)
sengyeon1_2012_temp3_month9 = make_date(sengyeon1_2012_temp3[32216:36176], 2012, 9)
sengyeon1_2012_temp3_month10 = make_date(sengyeon1_2012_temp3[36177:], 2012, 10)

df_list = [sengyeon1_2012_temp3_month1, sengyeon1_2012_temp3_month2, sengyeon1_2012_temp3_month3, sengyeon1_2012_temp3_month4, sengyeon1_2012_temp3_month5,
           sengyeon1_2012_temp3_month6, sengyeon1_2012_temp3_month7, sengyeon1_2012_temp3_month8, sengyeon1_2012_temp3_month9, sengyeon1_2012_temp3_month10]
sengyeon1_2012_temp3_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_temp3_new1_24 = sengyeon1_2012_temp3_new.loc[(sengyeon1_2012_temp3_new['hour'] == 1400) & ((sengyeon1_2012_temp3_new['forecast']>=4.0) & (sengyeon1_2012_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2012_temp3_new1_48 = sengyeon1_2012_temp3_new.loc[(sengyeon1_2012_temp3_new['hour'] == 1400) & ((sengyeon1_2012_temp3_new['forecast']>=28.0) & (sengyeon1_2012_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2012_temp3_new1_24.columns = ['date', 'temp_24']
sengyeon1_2012_temp3_new1_48.columns = ['date', 'temp_48']

sengyeon1_2012_temp3_new2 = pd.concat([sengyeon1_2012_temp3_new1_24, sengyeon1_2012_temp3_new1_48['temp_48']], axis=1)
sengyeon1_2012_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2012-01-01  -6.0375  -4.7875
1   2012-01-02  -5.4000  -6.6500
2   2012-01-03  -8.1500  -7.2750
3   2012-01-04  -7.0250  -4.2875
4   2012-01-05  -5.9125  -5.6625
..         ...      ...      ...
300 2012-10-27  13.6250  10.7500
301 2012-10-28  10.3750   7.5000
302 2012-10-29   6.8750   4.0000
303 2012-10-30   4.6250   3.6250
304 2012-10-31   3.7500   3.2750

[305 rows x 3 columns]

#### 습도

In [ ]:
sengyeon1_2012_humid.loc[sengyeon1_2012_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_humid_month1 = make_date(sengyeon1_2012_humid[:4092], 2012, 1)
sengyeon1_2012_humid_month2 = make_date(sengyeon1_2012_humid[4093:7921], 2012, 2)
sengyeon1_2012_humid_month3 = make_date(sengyeon1_2012_humid[7922:12014], 2012, 3)
sengyeon1_2012_humid_month4 = make_date(sengyeon1_2012_humid[12015:15975], 2012, 4)
sengyeon1_2012_humid_month5 = make_date(sengyeon1_2012_humid[15976:20068], 2012, 5)
sengyeon1_2012_humid_month6 = make_date(sengyeon1_2012_humid[20069:24029], 2012, 6)
sengyeon1_2012_humid_month7 = make_date(sengyeon1_2012_humid[24030:28122], 2012, 7)
sengyeon1_2012_humid_month8 = make_date(sengyeon1_2012_humid[28123:32215], 2012, 8)
sengyeon1_2012_humid_month9 = make_date(sengyeon1_2012_humid[32216:36176], 2012, 9)
sengyeon1_2012_humid_month10 = make_date(sengyeon1_2012_humid[36177:], 2012, 10)

df_list = [sengyeon1_2012_humid_month1, sengyeon1_2012_humid_month2, sengyeon1_2012_humid_month3, sengyeon1_2012_humid_month4, sengyeon1_2012_humid_month5,
           sengyeon1_2012_humid_month6, sengyeon1_2012_humid_month7, sengyeon1_2012_humid_month8, sengyeon1_2012_humid_month9,sengyeon1_2012_humid_month10]
sengyeon1_2012_humid_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_humid_new1_24 = sengyeon1_2012_humid_new.loc[(sengyeon1_2012_humid_new['hour'] == 1400) & ((sengyeon1_2012_humid_new['forecast']>=4.0) & (sengyeon1_2012_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2012_humid_new1_48 = sengyeon1_2012_humid_new.loc[(sengyeon1_2012_humid_new['hour'] == 1400) & ((sengyeon1_2012_humid_new['forecast']>=28.0) & (sengyeon1_2012_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2012_humid_new1_24.columns = ['date', 'humid_24']
sengyeon1_2012_humid_new1_48.columns = ['date', 'humid_48']

sengyeon1_2012_humid_new2 = pd.concat([sengyeon1_2012_humid_new1_24, sengyeon1_2012_humid_new1_48['humid_48']], axis=1)
sengyeon1_2012_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2012-01-01    62.500    64.375
1   2012-01-02    61.250    51.250
2   2012-01-03    52.875    56.625
3   2012-01-04    61.250    60.625
4   2012-01-05    55.625    55.000
..         ...       ...       ...
300 2012-10-27    65.125    67.375
301 2012-10-28    67.500    59.375
302 2012-10-29    58.375    65.625
303 2012-10-30    59.875    48.625
304 2012-10-31    45.000    55.000

[305 rows x 3 columns]

#### 일최고기온



forecast 4,7 중에 max

hour 2300 -> 오전 8시  / 오후 12시 오후 3시

In [ ]:

sengyeon1_2012_maxtemp.loc[sengyeon1_2012_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
465,Start : 20120201,NaN,NaN,NaN
901,Start : 20120301,NaN,NaN,NaN
1367,Start : 20120401,NaN,NaN,NaN
1818,Start : 20120501,NaN,NaN,NaN
2284,Start : 20120601,NaN,NaN,NaN
2735,Start : 20120701,NaN,NaN,NaN
3201,Start : 20120801,NaN,NaN,NaN
3667,Start : 20120901,NaN,NaN,NaN
4118,Start : 20121001,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_maxtemp.loc[sengyeon1_2012_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
sengyeon1_2012_maxtemp_month1 = make_date(sengyeon1_2012_maxtemp[:465], 2012, 1)
sengyeon1_2012_maxtemp_month2 = make_date(sengyeon1_2012_maxtemp[466:901], 2012, 2)
sengyeon1_2012_maxtemp_month3 = make_date(sengyeon1_2012_maxtemp[902:1367], 2012, 3)
sengyeon1_2012_maxtemp_month4 = make_date(sengyeon1_2012_maxtemp[1368:1818], 2012, 4)
sengyeon1_2012_maxtemp_month5 = make_date(sengyeon1_2012_maxtemp[1819:2284], 2012, 5)
sengyeon1_2012_maxtemp_month6 = make_date(sengyeon1_2012_maxtemp[2285:2735], 2012, 6)
sengyeon1_2012_maxtemp_month7 = make_date(sengyeon1_2012_maxtemp[2736:3201], 2012, 7)
sengyeon1_2012_maxtemp_month8 = make_date(sengyeon1_2012_maxtemp[3202:3667], 2012, 8)
sengyeon1_2012_maxtemp_month9 = make_date(sengyeon1_2012_maxtemp[3668:4118], 2012, 9)
sengyeon1_2012_maxtemp_month10 = make_date(sengyeon1_2012_maxtemp[4119:], 2012, 10)

df_list = [sengyeon1_2012_maxtemp_month1, sengyeon1_2012_maxtemp_month2, sengyeon1_2012_maxtemp_month3, sengyeon1_2012_maxtemp_month4, sengyeon1_2012_maxtemp_month5,
           sengyeon1_2012_maxtemp_month6, sengyeon1_2012_maxtemp_month7, sengyeon1_2012_maxtemp_month8, sengyeon1_2012_maxtemp_month9 ,sengyeon1_2012_maxtemp_month10]

sengyeon1_2012_maxtemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_maxtemp_new1 = sengyeon1_2012_maxtemp_new.loc[(sengyeon1_2012_maxtemp_new['hour'] == 2300) & ((sengyeon1_2012_maxtemp_new['forecast']==4.0) | (sengyeon1_2012_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

sengyeon1_2012_maxtemp_new1.columns = ['date', 'max_temp_24']

sengyeon1_2012_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2012-01-01          1.0
1   2012-01-02         -0.9
2   2012-01-03         -0.9
3   2012-01-04          2.0
4   2012-01-05          2.0
..         ...          ...
300 2012-10-27         21.0
301 2012-10-28         17.0
302 2012-10-29         12.0
303 2012-10-30         11.0
304 2012-10-31         12.0

[305 rows x 2 columns]

#### 일최저기온



forecast 4,7 중에 min

hour 1400 -> 오후 11시  / 오전 3시 오전 6시

In [ ]:
sengyeon1_2012_mintemp.loc[sengyeon1_2012_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
496,Start : 20120201,NaN,NaN,NaN
961,Start : 20120301,NaN,NaN,NaN
1458,Start : 20120401,NaN,NaN,NaN
1939,Start : 20120501,NaN,NaN,NaN
2436,Start : 20120601,NaN,NaN,NaN
2917,Start : 20120701,NaN,NaN,NaN
3414,Start : 20120801,NaN,NaN,NaN
3911,Start : 20120901,NaN,NaN,NaN
4392,Start : 20121001,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_mintemp_month1 = make_date(sengyeon1_2012_mintemp[:496], 2012, 1)
sengyeon1_2012_mintemp_month2 = make_date(sengyeon1_2012_mintemp[497:961], 2012, 2)
sengyeon1_2012_mintemp_month3 = make_date(sengyeon1_2012_mintemp[962:1458], 2012, 3)
sengyeon1_2012_mintemp_month4 = make_date(sengyeon1_2012_mintemp[1459:1939], 2012, 4)
sengyeon1_2012_mintemp_month5 = make_date(sengyeon1_2012_mintemp[1940:2436], 2012, 5)
sengyeon1_2012_mintemp_month6 = make_date(sengyeon1_2012_mintemp[2437:2917], 2012, 6)
sengyeon1_2012_mintemp_month7 = make_date(sengyeon1_2012_mintemp[2918:3414], 2012, 7)
sengyeon1_2012_mintemp_month8 = make_date(sengyeon1_2012_mintemp[3415:3911], 2012, 8)
sengyeon1_2012_mintemp_month9 = make_date(sengyeon1_2012_mintemp[3912:4392], 2012, 9)
sengyeon1_2012_mintemp_month10 = make_date(sengyeon1_2012_mintemp[4393:], 2012, 10)

df_list = [sengyeon1_2012_mintemp_month1, sengyeon1_2012_mintemp_month2, sengyeon1_2012_mintemp_month3, sengyeon1_2012_mintemp_month4, sengyeon1_2012_mintemp_month5,
           sengyeon1_2012_mintemp_month6, sengyeon1_2012_mintemp_month7, sengyeon1_2012_mintemp_month8, sengyeon1_2012_mintemp_month9 ,sengyeon1_2012_mintemp_month10]

sengyeon1_2012_mintemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_mintemp_new1 = sengyeon1_2012_mintemp_new.loc[(sengyeon1_2012_mintemp_new['hour'] == 1400) & ((sengyeon1_2012_mintemp_new['forecast']==4.0) | (sengyeon1_2012_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

sengyeon1_2012_mintemp_new1.columns = ['date', 'min_temp_24']

sengyeon1_2012_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2012-01-01        -11.9
1   2012-01-02         -9.9
2   2012-01-03        -12.9
3   2012-01-04        -12.9
4   2012-01-05        -11.9
..         ...          ...
300 2012-10-27          5.0
301 2012-10-28          5.0
302 2012-10-29          0.0
303 2012-10-30         -0.9
304 2012-10-31         -2.9

[305 rows x 2 columns]

#### 풍속

In [ ]:
sengyeon1_2012_wind.loc[sengyeon1_2012_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120801,NaN,NaN,NaN
16107,Start : 20120901,NaN,NaN,NaN

In [ ]:
sengyeon1_2012_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2012_wind_month1 = make_date(sengyeon1_2012_wind[:4092], 2012, 1)
sengyeon1_2012_wind_month2 = make_date(sengyeon1_2012_wind[4093:7921], 2012, 2)
sengyeon1_2012_wind_month3 = make_date(sengyeon1_2012_wind[7922:12014], 2012, 3)
sengyeon1_2012_wind_month8 = make_date(sengyeon1_2012_wind[12015:16107], 2012, 8)
sengyeon1_2012_wind_month9 = make_date(sengyeon1_2012_wind[16108:], 2012, 9)


df_list = [sengyeon1_2012_wind_month1, sengyeon1_2012_wind_month2, sengyeon1_2012_wind_month3, sengyeon1_2012_wind_month8, sengyeon1_2012_wind_month9]
sengyeon1_2012_wind_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2012_wind_new1_24 = sengyeon1_2012_wind_new.loc[(sengyeon1_2012_wind_new['hour'] == 1400) & ((sengyeon1_2012_wind_new['forecast']>=4.0) & (sengyeon1_2012_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2012_wind_new1_48 = sengyeon1_2012_wind_new.loc[(sengyeon1_2012_wind_new['hour'] == 1400) & ((sengyeon1_2012_wind_new['forecast']>=28.0) & (sengyeon1_2012_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2012_wind_new1_24.columns = ['date', 'wind_24']
sengyeon1_2012_wind_new1_48.columns = ['date', 'wind_48']

sengyeon1_2012_wind_new2 = pd.concat([sengyeon1_2012_wind_new1_24, sengyeon1_2012_wind_new1_48['wind_48']], axis=1)
sengyeon1_2012_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2012-01-01   1.0000   1.6750
1   2012-01-02   2.0125   2.2500
2   2012-01-03   2.3000   1.1625
3   2012-01-04   1.1250   1.3750
4   2012-01-05   1.5000   1.3750
..         ...      ...      ...
147 2012-09-26   1.1250   1.6250
148 2012-09-27   2.3500   1.7500
149 2012-09-28   2.1875   1.1250
150 2012-09-29   1.5000   1.5000
151 2012-09-30   1.0250   0.9250

[152 rows x 3 columns]

#### 2012년 생연1동 데이터

위의 7개 데이터 merge

In [ ]:
from functools import reduce
dfs = [sengyeon1_2012_rainfall_new1, sengyeon1_2012_snow_new1, sengyeon1_2012_temp3_new2, sengyeon1_2012_humid_new2,sengyeon1_2012_maxtemp_new1,
       sengyeon1_2012_mintemp_new1,sengyeon1_2012_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,1.0,1.0,-6.0375,-4.7875,62.500,64.375,1.0,-11.9,1.0000,1.6750
1,2012-01-02,0.0,0.0,-5.4000,-6.6500,61.250,51.250,-0.9,-9.9,2.0125,2.2500
2,2012-01-03,0.0,0.0,-8.1500,-7.2750,52.875,56.625,-0.9,-12.9,2.3000,1.1625
3,2012-01-04,0.0,0.0,-7.0250,-4.2875,61.250,60.625,2.0,-12.9,1.1250,1.3750
4,2012-01-05,0.0,0.0,-5.9125,-5.6625,55.625,55.000,2.0,-11.9,1.5000,1.3750
...,...,...,...,...,...,...,...,...,...,...,...
270,2012-12-27,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2012-12-28,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2012-12-29,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,2012-12-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-12-31,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_생연1동_2012.csv', index=False)

### 2013년

In [ ]:
sengyeon1_2013_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_6시간강수량_201301_201312.csv')
sengyeon1_2013_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_6시간적설_201301_201312.csv')
sengyeon1_2013_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_3시간기온_201301_201312.csv')
sengyeon1_2013_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_습도_201301_201312.csv')
sengyeon1_2013_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_일최고기온_201301_201312.csv')
sengyeon1_2013_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_일최저기온_201301_201312.csv')
sengyeon1_2013_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/생연1동_풍속_201301_201312.csv')

#### 6시간강수량

In [ ]:
sengyeon1_2013_rainfall.loc[sengyeon1_2013_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_rainfall.loc[sengyeon1_2013_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2013_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_rainfall_month6 = make_date(sengyeon1_2013_rainfall[1:2041], 2013, 6)
sengyeon1_2013_rainfall_month7 = make_date(sengyeon1_2013_rainfall[2042:4150], 2013, 7)
sengyeon1_2013_rainfall_month8 = make_date(sengyeon1_2013_rainfall[4151:6259], 2013, 8)
sengyeon1_2013_rainfall_month9 = make_date(sengyeon1_2013_rainfall[6260:8300], 2013, 9)
sengyeon1_2013_rainfall_month10 = make_date(sengyeon1_2013_rainfall[8301:10409], 2013, 10)
sengyeon1_2013_rainfall_month11 = make_date(sengyeon1_2013_rainfall[10410:12450], 2013, 11)
sengyeon1_2013_rainfall_month12 = make_date(sengyeon1_2013_rainfall[12451:], 2013, 12)


df_list = [sengyeon1_2013_rainfall_month6, sengyeon1_2013_rainfall_month7, sengyeon1_2013_rainfall_month8, sengyeon1_2013_rainfall_month9, sengyeon1_2013_rainfall_month10,
           sengyeon1_2013_rainfall_month11, sengyeon1_2013_rainfall_month12]

sengyeon1_2013_rainfall_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_rainfall_new1 = sengyeon1_2013_rainfall_new.loc[(sengyeon1_2013_rainfall_new['hour'] == 1400) & ((sengyeon1_2013_rainfall_new['forecast']>=7.0) & (sengyeon1_2013_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2013_rainfall_new1.columns = ['date', 'rainfall_24']
sengyeon1_2013_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2013-06-01          0.0
1   2013-06-02          0.0
2   2013-06-03          0.0
3   2013-06-04          0.0
4   2013-06-05          0.0
..         ...          ...
209 2013-12-27          0.0
210 2013-12-28          0.0
211 2013-12-29          0.0
212 2013-12-30          1.0
213 2013-12-31          0.0

[214 rows x 2 columns]

#### 6시간적설

In [ ]:
sengyeon1_2013_snow.loc[sengyeon1_2013_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_snow.loc[sengyeon1_2013_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2013_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_snow_month6 = make_date(sengyeon1_2013_snow[1:2041], 2013, 6)
sengyeon1_2013_snow_month7 = make_date(sengyeon1_2013_snow[2042:4150], 2013, 7)
sengyeon1_2013_snow_month8 = make_date(sengyeon1_2013_snow[4151:6259], 2013, 8)
sengyeon1_2013_snow_month9 = make_date(sengyeon1_2013_snow[6260:8300], 2013, 9)
sengyeon1_2013_snow_month10 = make_date(sengyeon1_2013_snow[8301:10409], 2013, 10)
sengyeon1_2013_snow_month11 = make_date(sengyeon1_2013_snow[10410:12450], 2013, 11)
sengyeon1_2013_snow_month12 = make_date(sengyeon1_2013_snow[12451:], 2013, 12)


df_list = [sengyeon1_2013_snow_month6,sengyeon1_2013_snow_month7, sengyeon1_2013_snow_month8, sengyeon1_2013_snow_month9, sengyeon1_2013_snow_month10,
           sengyeon1_2013_snow_month11, sengyeon1_2013_snow_month12]

sengyeon1_2013_snow_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_snow_new1 = sengyeon1_2013_snow_new.loc[(sengyeon1_2013_snow_new['hour'] == 1400) & ((sengyeon1_2013_snow_new['forecast']>=7.0) & (sengyeon1_2013_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2013_snow_new1.columns = ['date', 'snow_24']
sengyeon1_2013_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2013-06-01      0.0
1   2013-06-02      0.0
2   2013-06-03      0.0
3   2013-06-04      0.0
4   2013-06-05      0.0
..         ...      ...
209 2013-12-27      0.0
210 2013-12-28      0.0
211 2013-12-29      0.0
212 2013-12-30      1.0
213 2013-12-31      0.0

[214 rows x 2 columns]

#### 3시간기온

In [ ]:
sengyeon1_2013_temp3.loc[sengyeon1_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_temp3[sengyeon1_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:61_134 Start : 20130101
48191    format: day  hour  forecast  value  location:61_134 Start : 20130101

In [ ]:
sengyeon1_2013_temp32 = sengyeon1_2013_temp3.iloc[:48191]

In [ ]:
sengyeon1_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_temp32['hour'] = pd.to_numeric(sengyeon1_2013_temp32['hour'])
sengyeon1_2013_temp32['forecast'] =  pd.to_numeric(sengyeon1_2013_temp32['forecast'])
sengyeon1_2013_temp32['value'] =  pd.to_numeric(sengyeon1_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
sengyeon1_2013_temp32.loc[sengyeon1_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
sengyeon1_2013_temp3_month1 = make_date(sengyeon1_2013_temp32[:4092], 2013, 1)
sengyeon1_2013_temp3_month2 = make_date(sengyeon1_2013_temp32[4093:7789], 2013, 2)
sengyeon1_2013_temp3_month3 = make_date(sengyeon1_2013_temp32[7790:11882], 2013, 3)
sengyeon1_2013_temp3_month4 = make_date(sengyeon1_2013_temp32[11883:15843], 2013, 4)
sengyeon1_2013_temp3_month5 = make_date(sengyeon1_2013_temp32[15844:19936], 2013, 5)
sengyeon1_2013_temp3_month6 = make_date(sengyeon1_2013_temp32[19937:23897], 2013, 6)
sengyeon1_2013_temp3_month7 = make_date(sengyeon1_2013_temp32[23898:27990], 2013, 7)
sengyeon1_2013_temp3_month8 = make_date(sengyeon1_2013_temp32[27991:32083], 2013, 8)
sengyeon1_2013_temp3_month9 = make_date(sengyeon1_2013_temp32[32084:36044], 2013, 9)
sengyeon1_2013_temp3_month10 = make_date(sengyeon1_2013_temp32[36045:40137], 2013, 10)
sengyeon1_2013_temp3_month11 = make_date(sengyeon1_2013_temp32[40138:44098], 2013, 11)
sengyeon1_2013_temp3_month12 = make_date(sengyeon1_2013_temp32[44099:], 2013, 12)


df_list = [sengyeon1_2013_temp3_month1, sengyeon1_2013_temp3_month2, sengyeon1_2013_temp3_month3, sengyeon1_2013_temp3_month4, sengyeon1_2013_temp3_month5,
           sengyeon1_2013_temp3_month6, sengyeon1_2013_temp3_month7, sengyeon1_2013_temp3_month8, sengyeon1_2013_temp3_month9,sengyeon1_2013_temp3_month10,
           sengyeon1_2013_temp3_month11, sengyeon1_2013_temp3_month12]

sengyeon1_2013_temp3_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_temp3_new1_24 = sengyeon1_2013_temp3_new.loc[(sengyeon1_2013_temp3_new['hour'] == 1400) & ((sengyeon1_2013_temp3_new['forecast']>=4.0) & (sengyeon1_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2013_temp3_new1_48 = sengyeon1_2013_temp3_new.loc[(sengyeon1_2013_temp3_new['hour'] == 1400) & ((sengyeon1_2013_temp3_new['forecast']>=28.0) & (sengyeon1_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2013_temp3_new1_24.columns = ['date', 'temp_24']
sengyeon1_2013_temp3_new1_48.columns = ['date', 'temp_48']

sengyeon1_2013_temp3_new2 = pd.concat([sengyeon1_2013_temp3_new1_24, sengyeon1_2013_temp3_new1_48['temp_48']], axis=1)
sengyeon1_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -12.4000 -14.2750
1   2013-01-02 -13.1500 -10.7750
2   2013-01-03 -11.7750  -7.1500
3   2013-01-04  -8.6500  -7.5250
4   2013-01-05  -7.9000  -7.2750
..         ...      ...      ...
360 2013-12-27  -8.5250  -6.7750
361 2013-12-28  -5.9000  -1.3125
362 2013-12-29  -0.8125  -1.0625
363 2013-12-30  -0.4500  -1.6875
364 2013-12-31   0.4250  -3.0625

[365 rows x 3 columns]

#### 습도

In [ ]:
sengyeon1_2013_humid.loc[sengyeon1_2013_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_humid[sengyeon1_2013_humid['hour']=='hour']

         format: day  hour  forecast  value  location:61_134 Start : 20130101
48191    format: day  hour  forecast  value  location:61_134 Start : 20130101

In [ ]:
sengyeon1_2013_humid2 = sengyeon1_2013_humid.iloc[:48191]

In [ ]:
sengyeon1_2013_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_humid2['hour'] = pd.to_numeric(sengyeon1_2013_humid2['hour'])
sengyeon1_2013_humid2['forecast'] =  pd.to_numeric(sengyeon1_2013_humid2['forecast'])
sengyeon1_2013_humid2['value'] =  pd.to_numeric(sengyeon1_2013_humid2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
sengyeon1_2013_humid2.loc[sengyeon1_2013_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
sengyeon1_2013_humid_month1 = make_date(sengyeon1_2013_humid2[:4092], 2013, 1)
sengyeon1_2013_humid_month2 = make_date(sengyeon1_2013_humid2[4093:7789], 2013, 2)
sengyeon1_2013_humid_month3 = make_date(sengyeon1_2013_humid2[7790:11882], 2013, 3)
sengyeon1_2013_humid_month4 = make_date(sengyeon1_2013_humid2[11883:15843], 2013, 4)
sengyeon1_2013_humid_month5 = make_date(sengyeon1_2013_humid2[15844:19936], 2013, 5)
sengyeon1_2013_humid_month6 = make_date(sengyeon1_2013_humid2[19937:23897], 2013, 6)
sengyeon1_2013_humid_month7 = make_date(sengyeon1_2013_humid2[23898:27990], 2013, 7)
sengyeon1_2013_humid_month8 = make_date(sengyeon1_2013_humid2[27991:32083], 2013, 8)
sengyeon1_2013_humid_month9 = make_date(sengyeon1_2013_humid2[32084:36044], 2013, 9)
sengyeon1_2013_humid_month10 = make_date(sengyeon1_2013_humid2[36045:40137], 2013, 10)
sengyeon1_2013_humid_month11 = make_date(sengyeon1_2013_humid2[40138:44098], 2013, 11)
sengyeon1_2013_humid_month12 = make_date(sengyeon1_2013_humid2[44099:], 2013, 12)

df_list = [sengyeon1_2013_humid_month1, sengyeon1_2013_humid_month2, sengyeon1_2013_humid_month3, sengyeon1_2013_humid_month4, sengyeon1_2013_humid_month5,
           sengyeon1_2013_humid_month6, sengyeon1_2013_humid_month7, sengyeon1_2013_humid_month8, sengyeon1_2013_humid_month9,sengyeon1_2013_humid_month10,
           sengyeon1_2013_humid_month11, sengyeon1_2013_humid_month12]

sengyeon1_2013_humid_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_humid_new1_24 = sengyeon1_2013_humid_new.loc[(sengyeon1_2013_humid_new['hour'] == 1400) & ((sengyeon1_2013_humid_new['forecast']>=4.0) & (sengyeon1_2013_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2013_humid_new1_48 = sengyeon1_2013_humid_new.loc[(sengyeon1_2013_humid_new['hour'] == 1400) & ((sengyeon1_2013_humid_new['forecast']>=28.0) & (sengyeon1_2013_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2013_humid_new1_24.columns = ['date', 'humid_24']
sengyeon1_2013_humid_new1_48.columns = ['date', 'humid_48']

sengyeon1_2013_humid_new2 = pd.concat([sengyeon1_2013_humid_new1_24, sengyeon1_2013_humid_new1_48['humid_48']], axis=1)
sengyeon1_2013_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2013-01-01    55.000    56.875
1   2013-01-02    54.125    59.375
2   2013-01-03    58.125    65.750
3   2013-01-04    66.000    57.375
4   2013-01-05    57.625    61.750
..         ...       ...       ...
360 2013-12-27    49.500    60.625
361 2013-12-28    60.625    61.125
362 2013-12-29    65.625    69.375
363 2013-12-30    71.250    65.625
364 2013-12-31    63.125    52.500

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
sengyeon1_2013_maxtemp.loc[sengyeon1_2013_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130101
465,Start : 20130201,NaN,NaN,NaN
886,Start : 20130301,NaN,NaN,NaN
1352,Start : 20130401,NaN,NaN,NaN
1803,Start : 20130501,NaN,NaN,NaN
2269,Start : 20130601,NaN,NaN,NaN
2720,Start : 20130701,NaN,NaN,NaN
3186,Start : 20130801,NaN,NaN,NaN
3652,Start : 20130901,NaN,NaN,NaN
4103,Start : 20131001,NaN,NaN,NaN
4569,Start : 20131101,NaN,NaN,NaN
5020,Start : 20131201,NaN,NaN,NaN
5952,Start : 20130201,NaN,NaN,NaN
6373,Start : 20130301,NaN,NaN,NaN
6839,Start : 20130401,NaN,NaN,NaN
7290,Start : 20130501,NaN,NaN,NaN
7756,Start : 20130601,NaN,NaN,NaN
8207,Start : 20130701,NaN,NaN,NaN
8673,Start : 20130801,NaN,NaN,NaN
9139,Start : 20130901,NaN,NaN,NaN
9590,Start : 20131001,NaN,NaN,NaN
10056,Start : 20131101,NaN,NaN,NaN
10507,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_maxtemp[sengyeon1_2013_maxtemp['hour']=='hour']

        format: day  hour  forecast  value  location:61_134 Start : 20130101
5486    format: day  hour  forecast  value  location:61_134 Start : 20130101

In [ ]:
sengyeon1_2013_maxtemp2 = sengyeon1_2013_maxtemp.iloc[:5486]

In [ ]:
sengyeon1_2013_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_maxtemp2['hour'] = pd.to_numeric(sengyeon1_2013_maxtemp2['hour'])
sengyeon1_2013_maxtemp2['forecast'] =  pd.to_numeric(sengyeon1_2013_maxtemp2['forecast'])
sengyeon1_2013_maxtemp2['value'] =  pd.to_numeric(sengyeon1_2013_maxtemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
sengyeon1_2013_maxtemp2.loc[sengyeon1_2013_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
465    Start : 20130201    NaN       NaN    NaN
886    Start : 20130301    NaN       NaN    NaN
1352   Start : 20130401    NaN       NaN    NaN
1803   Start : 20130501    NaN       NaN    NaN
2269   Start : 20130601    NaN       NaN    NaN
2720   Start : 20130701    NaN       NaN    NaN
3186   Start : 20130801    NaN       NaN    NaN
3652   Start : 20130901    NaN       NaN    NaN
4103   Start : 20131001    NaN       NaN    NaN
4569   Start : 20131101    NaN       NaN    NaN
5020   Start : 20131201    NaN       NaN    NaN

In [ ]:
sengyeon1_2013_maxtemp2.loc[sengyeon1_2013_maxtemp2['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
sengyeon1_2013_maxtemp_month1 = make_date(sengyeon1_2013_maxtemp2[:465], 2013, 1)
sengyeon1_2013_maxtemp_month2 = make_date(sengyeon1_2013_maxtemp2[466:886], 2013, 2)
sengyeon1_2013_maxtemp_month3 = make_date(sengyeon1_2013_maxtemp2[887:1352], 2013, 3)
sengyeon1_2013_maxtemp_month4 = make_date(sengyeon1_2013_maxtemp2[1353:1803], 2013, 4)
sengyeon1_2013_maxtemp_month5 = make_date(sengyeon1_2013_maxtemp2[1804:2269], 2013, 5)
sengyeon1_2013_maxtemp_month6 = make_date(sengyeon1_2013_maxtemp2[2270:2720], 2013, 6)
sengyeon1_2013_maxtemp_month7 = make_date(sengyeon1_2013_maxtemp2[2721:3186], 2013, 7)
sengyeon1_2013_maxtemp_month8 = make_date(sengyeon1_2013_maxtemp2[3187:3652], 2013, 8)
sengyeon1_2013_maxtemp_month9 = make_date(sengyeon1_2013_maxtemp2[3653:4103], 2013, 9)
sengyeon1_2013_maxtemp_month10 = make_date(sengyeon1_2013_maxtemp2[4104:4569], 2013, 10)
sengyeon1_2013_maxtemp_month11 = make_date(sengyeon1_2013_maxtemp2[4570:5020], 2013, 11)
sengyeon1_2013_maxtemp_month12 = make_date(sengyeon1_2013_maxtemp2[5021:], 2013, 12)

df_list = [sengyeon1_2013_maxtemp_month1, sengyeon1_2013_maxtemp_month2, sengyeon1_2013_maxtemp_month3, sengyeon1_2013_maxtemp_month4, sengyeon1_2013_maxtemp_month5,
           sengyeon1_2013_maxtemp_month6, sengyeon1_2013_maxtemp_month7, sengyeon1_2013_maxtemp_month8, sengyeon1_2013_maxtemp_month9 ,sengyeon1_2013_maxtemp_month10,
           sengyeon1_2013_maxtemp_month11, sengyeon1_2013_maxtemp_month12]

sengyeon1_2013_maxtemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_maxtemp_new1 = sengyeon1_2013_maxtemp_new.loc[(sengyeon1_2013_maxtemp_new['hour'] == 2300) & ((sengyeon1_2013_maxtemp_new['forecast']==4.0) | (sengyeon1_2013_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

sengyeon1_2013_maxtemp_new1.columns = ['date', 'max_temp_24']

sengyeon1_2013_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2013-01-01         -6.9
1   2013-01-02         -3.9
2   2013-01-03          0.0
3   2013-01-04          0.0
4   2013-01-05          0.0
..         ...          ...
360 2013-12-27          1.0
361 2013-12-28          4.0
362 2013-12-29          5.0
363 2013-12-30          6.0
364 2013-12-31          6.0

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
sengyeon1_2013_mintemp.loc[sengyeon1_2013_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130101
496,Start : 20130201,NaN,NaN,NaN
945,Start : 20130301,NaN,NaN,NaN
1442,Start : 20130401,NaN,NaN,NaN
1923,Start : 20130501,NaN,NaN,NaN
2420,Start : 20130601,NaN,NaN,NaN
2901,Start : 20130701,NaN,NaN,NaN
3398,Start : 20130801,NaN,NaN,NaN
3895,Start : 20130901,NaN,NaN,NaN
4376,Start : 20131001,NaN,NaN,NaN
4873,Start : 20131101,NaN,NaN,NaN
5354,Start : 20131201,NaN,NaN,NaN
6348,Start : 20130201,NaN,NaN,NaN
6797,Start : 20130301,NaN,NaN,NaN
7294,Start : 20130401,NaN,NaN,NaN
7775,Start : 20130501,NaN,NaN,NaN
8272,Start : 20130601,NaN,NaN,NaN
8753,Start : 20130701,NaN,NaN,NaN
9250,Start : 20130801,NaN,NaN,NaN
9747,Start : 20130901,NaN,NaN,NaN
10228,Start : 20131001,NaN,NaN,NaN
10725,Start : 20131101,NaN,NaN,NaN
11206,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_mintemp[sengyeon1_2013_mintemp['hour']=='hour']

        format: day  hour  forecast  value  location:61_134 Start : 20130101
5851    format: day  hour  forecast  value  location:61_134 Start : 20130101

In [ ]:
sengyeon1_2013_mintemp2 = sengyeon1_2013_mintemp.iloc[:5851]

In [ ]:
sengyeon1_2013_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_mintemp2['hour'] = pd.to_numeric(sengyeon1_2013_mintemp2['hour'])
sengyeon1_2013_mintemp2['forecast'] =  pd.to_numeric(sengyeon1_2013_mintemp2['forecast'])
sengyeon1_2013_mintemp2['value'] =  pd.to_numeric(sengyeon1_2013_mintemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
sengyeon1_2013_mintemp2.loc[sengyeon1_2013_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20130201    NaN       NaN    NaN
945    Start : 20130301    NaN       NaN    NaN
1442   Start : 20130401    NaN       NaN    NaN
1923   Start : 20130501    NaN       NaN    NaN
2420   Start : 20130601    NaN       NaN    NaN
2901   Start : 20130701    NaN       NaN    NaN
3398   Start : 20130801    NaN       NaN    NaN
3895   Start : 20130901    NaN       NaN    NaN
4376   Start : 20131001    NaN       NaN    NaN
4873   Start : 20131101    NaN       NaN    NaN
5354   Start : 20131201    NaN       NaN    NaN

In [ ]:
sengyeon1_2013_mintemp2.loc[sengyeon1_2013_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
sengyeon1_2013_mintemp_month1 = make_date(sengyeon1_2013_mintemp2[:496], 2013, 1)
sengyeon1_2013_mintemp_month2 = make_date(sengyeon1_2013_mintemp2[497:945], 2013, 2)
sengyeon1_2013_mintemp_month3 = make_date(sengyeon1_2013_mintemp2[946:1442], 2013, 3)
sengyeon1_2013_mintemp_month4 = make_date(sengyeon1_2013_mintemp2[1443:1923], 2013, 4)
sengyeon1_2013_mintemp_month5 = make_date(sengyeon1_2013_mintemp2[1924:2420], 2013, 5)
sengyeon1_2013_mintemp_month6 = make_date(sengyeon1_2013_mintemp2[2421:2901], 2013, 6)
sengyeon1_2013_mintemp_month7 = make_date(sengyeon1_2013_mintemp2[2902:3398], 2013, 7)
sengyeon1_2013_mintemp_month8 = make_date(sengyeon1_2013_mintemp2[3399:3895], 2013, 8)
sengyeon1_2013_mintemp_month9 = make_date(sengyeon1_2013_mintemp2[3896:4376], 2013, 9)
sengyeon1_2013_mintemp_month10 = make_date(sengyeon1_2013_mintemp2[4377:4873], 2013, 10)
sengyeon1_2013_mintemp_month11 = make_date(sengyeon1_2013_mintemp2[4874:5354], 2013, 11)
sengyeon1_2013_mintemp_month12 = make_date(sengyeon1_2013_mintemp2[5355:], 2013, 12)

df_list = [sengyeon1_2013_mintemp_month1, sengyeon1_2013_mintemp_month2, sengyeon1_2013_mintemp_month3, sengyeon1_2013_mintemp_month4, sengyeon1_2013_mintemp_month5,
           sengyeon1_2013_mintemp_month6, sengyeon1_2013_mintemp_month7, sengyeon1_2013_mintemp_month8, sengyeon1_2013_mintemp_month9 ,sengyeon1_2013_mintemp_month10,
           sengyeon1_2013_mintemp_month11, sengyeon1_2013_mintemp_month12]

sengyeon1_2013_mintemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_mintemp_new1 = sengyeon1_2013_mintemp_new.loc[(sengyeon1_2013_mintemp_new['hour'] == 1400) & ((sengyeon1_2013_mintemp_new['forecast']==4.0) | (sengyeon1_2013_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

sengyeon1_2013_mintemp_new1.columns = ['date', 'min_temp_24']

sengyeon1_2013_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2013-01-01        -17.9
1   2013-01-02        -18.9
2   2013-01-03        -18.9
3   2013-01-04        -15.9
4   2013-01-05        -14.9
..         ...          ...
360 2013-12-27        -12.9
361 2013-12-28        -12.9
362 2013-12-29         -4.9
363 2013-12-30         -5.9
364 2013-12-31         -8.9

[365 rows x 2 columns]

#### 풍속

In [ ]:
sengyeon1_2013_wind.loc[sengyeon1_2013_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
22791,Start : 20130701,NaN,NaN,NaN
26884,Start : 20130801,NaN,NaN,NaN
30977,Start : 20130901,NaN,NaN,NaN
34938,Start : 20131001,NaN,NaN,NaN
39031,Start : 20131101,NaN,NaN,NaN
42992,Start : 20131201,NaN,NaN,NaN
51178,Start : 20130201,NaN,NaN,NaN
54875,Start : 20130301,NaN,NaN,NaN
58968,Start : 20130401,NaN,NaN,NaN
62929,Start : 20130501,NaN,NaN,NaN
67022,Start : 20130601,NaN,NaN,NaN
69877,Start : 20130701,NaN,NaN,NaN
73970,Start : 20130801,NaN,NaN,NaN
78063,Start : 20130901,NaN,NaN,NaN
82024,Start : 20131001,NaN,NaN,NaN
86117,Start : 20131101,NaN,NaN,NaN
90078,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_wind[sengyeon1_2013_wind['hour']=='hour']

         format: day  hour  forecast  value  location:61_134 Start : 20130101
47085    format: day  hour  forecast  value  location:61_134 Start : 20130101

In [ ]:
sengyeon1_2013_wind2 = sengyeon1_2013_wind.iloc[:47085]

In [ ]:
sengyeon1_2013_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_wind2['hour'] = pd.to_numeric(sengyeon1_2013_wind2['hour'])
sengyeon1_2013_wind2['forecast'] =  pd.to_numeric(sengyeon1_2013_wind2['forecast'])
sengyeon1_2013_wind2['value'] =  pd.to_numeric(sengyeon1_2013_wind2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
sengyeon1_2013_wind2.loc[sengyeon1_2013_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
22791   Start : 20130701    NaN       NaN    NaN
26884   Start : 20130801    NaN       NaN    NaN
30977   Start : 20130901    NaN       NaN    NaN
34938   Start : 20131001    NaN       NaN    NaN
39031   Start : 20131101    NaN       NaN    NaN
42992   Start : 20131201    NaN       NaN    NaN

In [ ]:
sengyeon1_2013_wind_month1 = make_date(sengyeon1_2013_wind2[:4092], 2013, 1)
sengyeon1_2013_wind_month2 = make_date(sengyeon1_2013_wind2[4093:7789], 2013, 2)
sengyeon1_2013_wind_month3 = make_date(sengyeon1_2013_wind2[7790:11882], 2013, 3)
sengyeon1_2013_wind_month4 = make_date(sengyeon1_2013_wind2[11883:15843], 2013, 4)
sengyeon1_2013_wind_month5 = make_date(sengyeon1_2013_wind2[15844:19936], 2013, 5)
sengyeon1_2013_wind_month6 = make_date(sengyeon1_2013_wind2[19937:22791], 2013, 6)
sengyeon1_2013_wind_month7 = make_date(sengyeon1_2013_wind2[22792:26884], 2013, 7)
sengyeon1_2013_wind_month8 = make_date(sengyeon1_2013_wind2[26885:30977], 2013, 8)
sengyeon1_2013_wind_month9 = make_date(sengyeon1_2013_wind2[30978:34938], 2013, 9)
sengyeon1_2013_wind_month10 = make_date(sengyeon1_2013_wind2[34939:39031], 2013, 10)
sengyeon1_2013_wind_month11 = make_date(sengyeon1_2013_wind2[39032:42992], 2013, 11)
sengyeon1_2013_wind_month12 = make_date(sengyeon1_2013_wind2[42993:], 2013, 12)

df_list = [sengyeon1_2013_wind_month1, sengyeon1_2013_wind_month2, sengyeon1_2013_wind_month3, sengyeon1_2013_wind_month4, sengyeon1_2013_wind_month5,
           sengyeon1_2013_wind_month6, sengyeon1_2013_wind_month7, sengyeon1_2013_wind_month8, sengyeon1_2013_wind_month9, sengyeon1_2013_wind_month10,
           sengyeon1_2013_wind_month11, sengyeon1_2013_wind_month12]

sengyeon1_2013_wind_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_wind_new1_24 = sengyeon1_2013_wind_new.loc[(sengyeon1_2013_wind_new['hour'] == 1400) & ((sengyeon1_2013_wind_new['forecast']>=4.0) & (sengyeon1_2013_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2013_wind_new1_48 = sengyeon1_2013_wind_new.loc[(sengyeon1_2013_wind_new['hour'] == 1400) & ((sengyeon1_2013_wind_new['forecast']>=28.0) & (sengyeon1_2013_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2013_wind_new1_24.columns = ['date', 'wind_24']
sengyeon1_2013_wind_new1_48.columns = ['date', 'wind_48']

sengyeon1_2013_wind_new2 = pd.concat([sengyeon1_2013_wind_new1_24, sengyeon1_2013_wind_new1_48['wind_48']], axis=1)
sengyeon1_2013_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2013-01-01   4.3750   2.6250
1   2013-01-02   3.5000   1.5000
2   2013-01-03   1.1125   1.6250
3   2013-01-04   1.6250   1.6125
4   2013-01-05   1.5000   1.5000
..         ...      ...      ...
352 2013-12-27   2.6250   1.7500
353 2013-12-28   1.7500   2.0000
354 2013-12-29   1.8750   2.7500
355 2013-12-30   3.1250   2.6250
356 2013-12-31   2.2500   1.5000

[357 rows x 3 columns]

#### 2013년 생연1동 데이터

In [ ]:
from functools import reduce
dfs = [sengyeon1_2013_rainfall_new1, sengyeon1_2013_snow_new1, sengyeon1_2013_temp3_new2, sengyeon1_2013_humid_new2,sengyeon1_2013_maxtemp_new1,
       sengyeon1_2013_mintemp_new1,sengyeon1_2013_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
214,2013-01-01,NaN,NaN,-12.4000,-14.2750,55.000,56.875,-6.9,-17.9,4.3750,2.6250
215,2013-01-02,NaN,NaN,-13.1500,-10.7750,54.125,59.375,-3.9,-18.9,3.5000,1.5000
216,2013-01-03,NaN,NaN,-11.7750,-7.1500,58.125,65.750,0.0,-18.9,1.1125,1.6250
217,2013-01-04,NaN,NaN,-8.6500,-7.5250,66.000,57.375,0.0,-15.9,1.6250,1.6125
218,2013-01-05,NaN,NaN,-7.9000,-7.2750,57.625,61.750,0.0,-14.9,1.5000,1.5000
...,...,...,...,...,...,...,...,...,...,...,...
209,2013-12-27,0.0,0.0,-8.5250,-6.7750,49.500,60.625,1.0,-12.9,2.6250,1.7500
210,2013-12-28,0.0,0.0,-5.9000,-1.3125,60.625,61.125,4.0,-12.9,1.7500,2.0000
211,2013-12-29,0.0,0.0,-0.8125,-1.0625,65.625,69.375,5.0,-4.9,1.8750,2.7500
212,2013-12-30,1.0,1.0,-0.4500,-1.6875,71.250,65.625,6.0,-5.9,3.1250,2.6250
213,2013-12-31,0.0,0.0,0.4250,-3.0625,63.125,52.500,6.0,-8.9,2.2500,1.5000

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_생연1동_2013.csv', index=False)

In [ ]:
sengyeon1_2013_temp3.loc[sengyeon1_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
sengyeon1_2013_temp3[sengyeon1_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:61_134 Start : 20130101
48191    format: day  hour  forecast  value  location:61_134 Start : 20130101

In [ ]:
sengyeon1_2013_temp32 = sengyeon1_2013_temp3.iloc[:48191]

In [ ]:
sengyeon1_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2013_temp32['hour'] = pd.to_numeric(sengyeon1_2013_temp32['hour'])
sengyeon1_2013_temp32['forecast'] =  pd.to_numeric(sengyeon1_2013_temp32['forecast'])
sengyeon1_2013_temp32['value'] =  pd.to_numeric(sengyeon1_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
sengyeon1_2013_temp32.loc[sengyeon1_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
sengyeon1_2013_temp3_month1 = make_date(sengyeon1_2013_temp32[:4092], 2013, 1)
sengyeon1_2013_temp3_month2 = make_date(sengyeon1_2013_temp32[4093:7789], 2013, 2)
sengyeon1_2013_temp3_month3 = make_date(sengyeon1_2013_temp32[7790:11882], 2013, 3)
sengyeon1_2013_temp3_month4 = make_date(sengyeon1_2013_temp32[11883:15843], 2013, 4)
sengyeon1_2013_temp3_month5 = make_date(sengyeon1_2013_temp32[15844:19936], 2013, 5)
sengyeon1_2013_temp3_month6 = make_date(sengyeon1_2013_temp32[19937:23897], 2013, 6)
sengyeon1_2013_temp3_month7 = make_date(sengyeon1_2013_temp32[23898:27990], 2013, 7)
sengyeon1_2013_temp3_month8 = make_date(sengyeon1_2013_temp32[27991:32083], 2013, 8)
sengyeon1_2013_temp3_month9 = make_date(sengyeon1_2013_temp32[32084:36044], 2013, 9)
sengyeon1_2013_temp3_month10 = make_date(sengyeon1_2013_temp32[36045:40137], 2013, 10)
sengyeon1_2013_temp3_month11 = make_date(sengyeon1_2013_temp32[40138:44098], 2013, 11)
sengyeon1_2013_temp3_month12 = make_date(sengyeon1_2013_temp32[44099:], 2013, 12)


df_list = [sengyeon1_2013_temp3_month1, sengyeon1_2013_temp3_month2, sengyeon1_2013_temp3_month3, sengyeon1_2013_temp3_month4, sengyeon1_2013_temp3_month5,
           sengyeon1_2013_temp3_month6, sengyeon1_2013_temp3_month7, sengyeon1_2013_temp3_month8, sengyeon1_2013_temp3_month9,sengyeon1_2013_temp3_month10,
           sengyeon1_2013_temp3_month11, sengyeon1_2013_temp3_month12]

sengyeon1_2013_temp3_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2013_temp3_new1_24 = sengyeon1_2013_temp3_new.loc[(sengyeon1_2013_temp3_new['hour'] == 1400) & ((sengyeon1_2013_temp3_new['forecast']>=4.0) & (sengyeon1_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2013_temp3_new1_48 = sengyeon1_2013_temp3_new.loc[(sengyeon1_2013_temp3_new['hour'] == 1400) & ((sengyeon1_2013_temp3_new['forecast']>=28.0) & (sengyeon1_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2013_temp3_new1_24.columns = ['date', 'temp_24']
sengyeon1_2013_temp3_new1_48.columns = ['date', 'temp_48']

sengyeon1_2013_temp3_new2 = pd.concat([sengyeon1_2013_temp3_new1_24, sengyeon1_2013_temp3_new1_48['temp_48']], axis=1)
sengyeon1_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -12.4000 -14.2750
1   2013-01-02 -13.1500 -10.7750
2   2013-01-03 -11.7750  -7.1500
3   2013-01-04  -8.6500  -7.5250
4   2013-01-05  -7.9000  -7.2750
..         ...      ...      ...
360 2013-12-27  -8.5250  -6.7750
361 2013-12-28  -5.9000  -1.3125
362 2013-12-29  -0.8125  -1.0625
363 2013-12-30  -0.4500  -1.6875
364 2013-12-31   0.4250  -3.0625

[365 rows x 3 columns]

### 2014년

In [ ]:
sengyeon1_2014_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_6시간강수량_201401_201412.csv')
sengyeon1_2014_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_6시간적설_201401_201412.csv')
sengyeon1_2014_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_3시간기온_201401_201412.csv')
sengyeon1_2014_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_습도_201401_201412.csv')
sengyeon1_2014_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_일최고기온_201401_201412.csv')
sengyeon1_2014_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_일최저기온_201401_201412.csv')
sengyeon1_2014_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/생연1동_풍속_201401_201412.csv')

#### 6시간강수량

In [ ]:
sengyeon1_2014_rainfall.loc[sengyeon1_2014_rainfall['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_rainfall.loc[sengyeon1_2014_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2014_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_rainfall_month1 = make_date(sengyeon1_2014_rainfall[:2108], 2014, 1)
sengyeon1_2014_rainfall_month2 = make_date(sengyeon1_2014_rainfall[2109:4013], 2014, 2)
sengyeon1_2014_rainfall_month3 = make_date(sengyeon1_2014_rainfall[4014:4082], 2014, 3)
sengyeon1_2014_rainfall_month4 = make_date(sengyeon1_2014_rainfall[4083:6363], 2014, 4)
sengyeon1_2014_rainfall_month5 = make_date(sengyeon1_2014_rainfall[6364:8720], 2014, 5)
sengyeon1_2014_rainfall_month6 = make_date(sengyeon1_2014_rainfall[8721:11001], 2014, 6)
sengyeon1_2014_rainfall_month8 = make_date(sengyeon1_2014_rainfall[11002:13358], 2014, 8)
sengyeon1_2014_rainfall_month9 = make_date(sengyeon1_2014_rainfall[13359:15639], 2014, 9)
sengyeon1_2014_rainfall_month10 = make_date(sengyeon1_2014_rainfall[15640:17996], 2014, 10)
sengyeon1_2014_rainfall_month11 = make_date(sengyeon1_2014_rainfall[17997:20277], 2014, 11)
sengyeon1_2014_rainfall_month12 = make_date(sengyeon1_2014_rainfall[20278:22634], 2014, 12)


df_list = [sengyeon1_2014_rainfall_month1, sengyeon1_2014_rainfall_month2, sengyeon1_2014_rainfall_month3, sengyeon1_2014_rainfall_month4, sengyeon1_2014_rainfall_month5,
           sengyeon1_2014_rainfall_month6, sengyeon1_2014_rainfall_month8, sengyeon1_2014_rainfall_month9,sengyeon1_2014_rainfall_month10,sengyeon1_2014_rainfall_month11,
           sengyeon1_2014_rainfall_month12]

sengyeon1_2014_rainfall_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_rainfall_new1 = sengyeon1_2014_rainfall_new.loc[(sengyeon1_2014_rainfall_new['hour'] == 1400) & ((sengyeon1_2014_rainfall_new['forecast']>=7.0) & (sengyeon1_2014_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2014_rainfall_new1.columns = ['date', 'rainfall_24']
sengyeon1_2014_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2014-01-01          0.0
1   2014-01-02          0.0
2   2014-01-03          0.0
3   2014-01-04          0.0
4   2014-01-05          0.0
..         ...          ...
299 2014-12-27          0.0
300 2014-12-28          0.0
301 2014-12-29          0.0
302 2014-12-30          2.0
303 2014-12-31          0.0

[304 rows x 2 columns]

#### 6시간적설

In [ ]:
sengyeon1_2014_snow.loc[sengyeon1_2014_snow['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_snow.loc[sengyeon1_2014_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2014_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_snow_month1 = make_date(sengyeon1_2014_snow[:2108], 2014, 1)
sengyeon1_2014_snow_month2 = make_date(sengyeon1_2014_snow[2109:4013], 2014, 2)
sengyeon1_2014_snow_month3 = make_date(sengyeon1_2014_snow[4014:4082], 2014, 3)
sengyeon1_2014_snow_month4 = make_date(sengyeon1_2014_snow[4083:6363], 2014, 4)
sengyeon1_2014_snow_month5 = make_date(sengyeon1_2014_snow[6364:8720], 2014, 5)
sengyeon1_2014_snow_month6 = make_date(sengyeon1_2014_snow[8721:11001], 2014, 6)
sengyeon1_2014_snow_month8 = make_date(sengyeon1_2014_snow[11002:13358], 2014, 8)
sengyeon1_2014_snow_month9 = make_date(sengyeon1_2014_snow[13359:15639], 2014, 9)
sengyeon1_2014_snow_month10 = make_date(sengyeon1_2014_snow[15640:17996], 2014, 10)
sengyeon1_2014_snow_month11 = make_date(sengyeon1_2014_snow[17997:20277], 2014, 11)
sengyeon1_2014_snow_month12 = make_date(sengyeon1_2014_snow[20278:22634], 2014, 12)


df_list = [sengyeon1_2014_snow_month1, sengyeon1_2014_snow_month2, sengyeon1_2014_snow_month3, sengyeon1_2014_snow_month4, sengyeon1_2014_snow_month5,
           sengyeon1_2014_snow_month6, sengyeon1_2014_snow_month8, sengyeon1_2014_snow_month9, sengyeon1_2014_snow_month10, sengyeon1_2014_snow_month11, sengyeon1_2014_snow_month12]

sengyeon1_2014_snow_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_snow_new1 = sengyeon1_2014_snow_new.loc[(sengyeon1_2014_snow_new['hour'] == 1400) & ((sengyeon1_2014_snow_new['forecast']>=7.0) & (sengyeon1_2014_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2014_snow_new1.columns = ['date', 'snow_24']
sengyeon1_2014_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2014-01-01      0.0
1   2014-01-02      0.0
2   2014-01-03      0.0
3   2014-01-04      0.0
4   2014-01-05      0.0
..         ...      ...
299 2014-12-27      0.0
300 2014-12-28      0.0
301 2014-12-29      0.0
302 2014-12-30      2.0
303 2014-12-31      0.0

[304 rows x 2 columns]

#### 3시간기온

In [ ]:
sengyeon1_2014_temp3.loc[sengyeon1_2014_temp3['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_temp3_month1 = make_date(sengyeon1_2014_temp3[:4092], 2014, 1)
sengyeon1_2014_temp3_month2 = make_date(sengyeon1_2014_temp3[4093:7789], 2014, 2)
sengyeon1_2014_temp3_month3 = make_date(sengyeon1_2014_temp3[7790:11882], 2014, 3)
sengyeon1_2014_temp3_month4 = make_date(sengyeon1_2014_temp3[11883:16323], 2014, 4)
sengyeon1_2014_temp3_month5 = make_date(sengyeon1_2014_temp3[16324:20912], 2014, 5)
sengyeon1_2014_temp3_month6 = make_date(sengyeon1_2014_temp3[20913:25353], 2014, 6)
sengyeon1_2014_temp3_month7 = make_date(sengyeon1_2014_temp3[25354:29446], 2014, 7)
sengyeon1_2014_temp3_month8 = make_date(sengyeon1_2014_temp3[29447:34035], 2014, 8)
sengyeon1_2014_temp3_month9 = make_date(sengyeon1_2014_temp3[34036:38476], 2014, 9)
sengyeon1_2014_temp3_month10 = make_date(sengyeon1_2014_temp3[38477:43065], 2014, 10)
sengyeon1_2014_temp3_month11 = make_date(sengyeon1_2014_temp3[43066:47506], 2014, 11)
sengyeon1_2014_temp3_month12 = make_date(sengyeon1_2014_temp3[47507:52095], 2014, 12)


df_list = [sengyeon1_2014_temp3_month1, sengyeon1_2014_temp3_month2, sengyeon1_2014_temp3_month3, sengyeon1_2014_temp3_month4,sengyeon1_2014_temp3_month5,
           sengyeon1_2014_temp3_month6, sengyeon1_2014_temp3_month7, sengyeon1_2014_temp3_month8, sengyeon1_2014_temp3_month9,sengyeon1_2014_temp3_month10,
           sengyeon1_2014_temp3_month11, sengyeon1_2014_temp3_month12]

sengyeon1_2014_temp3_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_temp3_new1_24 = sengyeon1_2014_temp3_new.loc[(sengyeon1_2014_temp3_new['hour'] == 1400) & ((sengyeon1_2014_temp3_new['forecast']>=4.0) & (sengyeon1_2014_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2014_temp3_new1_48 = sengyeon1_2014_temp3_new.loc[(sengyeon1_2014_temp3_new['hour'] == 1400) & ((sengyeon1_2014_temp3_new['forecast']>=28.0) & (sengyeon1_2014_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2014_temp3_new1_24.columns = ['date', 'temp_24']
sengyeon1_2014_temp3_new1_48.columns = ['date', 'temp_48']

sengyeon1_2014_temp3_new2 = pd.concat([sengyeon1_2014_temp3_new1_24, sengyeon1_2014_temp3_new1_48['temp_48']], axis=1)
sengyeon1_2014_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2014-01-01   -0.625    0.625
1   2014-01-02    0.875    0.000
2   2014-01-03   -0.750   -1.000
3   2014-01-04   -1.500   -1.875
4   2014-01-05   -1.500   -0.125
..         ...      ...      ...
360 2014-12-27   -1.125    1.250
361 2014-12-28    0.875   -0.125
362 2014-12-29   -0.375   -3.500
363 2014-12-30   -3.250   -8.750
364 2014-12-31   -7.750   -6.875

[365 rows x 3 columns]

#### 습도

In [ ]:
sengyeon1_2014_humid.loc[sengyeon1_2014_humid['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_humid_month1 = make_date(sengyeon1_2014_humid[:4092], 2014, 1)
sengyeon1_2014_humid_month2 = make_date(sengyeon1_2014_humid[4093:7789], 2014, 2)
sengyeon1_2014_humid_month3 = make_date(sengyeon1_2014_humid[7790:11882], 2014, 3)
sengyeon1_2014_humid_month4 = make_date(sengyeon1_2014_humid[11883:16323], 2014, 4)
sengyeon1_2014_humid_month5 = make_date(sengyeon1_2014_humid[16324:20912], 2014, 5)
sengyeon1_2014_humid_month6 = make_date(sengyeon1_2014_humid[20913:25353], 2014, 6)
sengyeon1_2014_humid_month7 = make_date(sengyeon1_2014_humid[25354:29446], 2014, 7)
sengyeon1_2014_humid_month8 = make_date(sengyeon1_2014_humid[29447:34035], 2014, 8)
sengyeon1_2014_humid_month9 = make_date(sengyeon1_2014_humid[34036:38476], 2014, 9)
sengyeon1_2014_humid_month10 = make_date(sengyeon1_2014_humid[38477:43065], 2014, 10)
sengyeon1_2014_humid_month11 = make_date(sengyeon1_2014_humid[43066:47506], 2014, 11)
sengyeon1_2014_humid_month12 = make_date(sengyeon1_2014_humid[47507:52095], 2014, 12)

df_list = [sengyeon1_2014_humid_month1, sengyeon1_2014_humid_month2, sengyeon1_2014_humid_month3, sengyeon1_2014_humid_month4, sengyeon1_2014_humid_month5,
           sengyeon1_2014_humid_month6, sengyeon1_2014_humid_month7, sengyeon1_2014_humid_month8, sengyeon1_2014_humid_month9, sengyeon1_2014_humid_month10,
           sengyeon1_2014_humid_month11, sengyeon1_2014_humid_month12]

sengyeon1_2014_humid_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_humid_new1_24 = sengyeon1_2014_humid_new.loc[(sengyeon1_2014_humid_new['hour'] == 1400) & ((sengyeon1_2014_humid_new['forecast']>=4.0) & (sengyeon1_2014_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2014_humid_new1_48 = sengyeon1_2014_humid_new.loc[(sengyeon1_2014_humid_new['hour'] == 1400) & ((sengyeon1_2014_humid_new['forecast']>=28.0) & (sengyeon1_2014_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2014_humid_new1_24.columns = ['date', 'humid_24']
sengyeon1_2014_humid_new1_48.columns = ['date', 'humid_48']

sengyeon1_2014_humid_new2 = pd.concat([sengyeon1_2014_humid_new1_24, sengyeon1_2014_humid_new1_48['humid_48']], axis=1)
sengyeon1_2014_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2014-01-01    60.000    67.500
1   2014-01-02    68.750    65.000
2   2014-01-03    59.375    61.875
3   2014-01-04    64.500    65.000
4   2014-01-05    61.250    66.000
..         ...       ...       ...
360 2014-12-27    68.125    73.750
361 2014-12-28    72.500    65.000
362 2014-12-29    70.000    65.625
363 2014-12-30    56.875    46.875
364 2014-12-31    40.000    51.875

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
sengyeon1_2014_maxtemp.loc[sengyeon1_2014_maxtemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
465,Start : 20140201,NaN,NaN,NaN
886,Start : 20140301,NaN,NaN,NaN
1352,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2513,Start : 20140601,NaN,NaN,NaN
3084,Start : 20140701,NaN,NaN,NaN
3550,Start : 20140801,NaN,NaN,NaN
4140,Start : 20140901,NaN,NaN,NaN
4711,Start : 20141001,NaN,NaN,NaN
5301,Start : 20141101,NaN,NaN,NaN
5872,Start : 20141201,NaN,NaN,NaN
6462,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_maxtemp.loc[sengyeon1_2014_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
sengyeon1_2014_maxtemp_month1 = make_date(sengyeon1_2014_maxtemp[:465], 2014, 1)
sengyeon1_2014_maxtemp_month2 = make_date(sengyeon1_2014_maxtemp[466:886], 2014, 2)
sengyeon1_2014_maxtemp_month3 = make_date(sengyeon1_2014_maxtemp[887:1352], 2014, 3)
sengyeon1_2014_maxtemp_month4 = make_date(sengyeon1_2014_maxtemp[1353:1923], 2014, 4)
sengyeon1_2014_maxtemp_month5 = make_date(sengyeon1_2014_maxtemp[1924:2513], 2014, 5)
sengyeon1_2014_maxtemp_month6 = make_date(sengyeon1_2014_maxtemp[2514:3084], 2014, 6)
sengyeon1_2014_maxtemp_month7 = make_date(sengyeon1_2014_maxtemp[3085:3550], 2014, 7)
sengyeon1_2014_maxtemp_month8 = make_date(sengyeon1_2014_maxtemp[3551:4140], 2014, 8)
sengyeon1_2014_maxtemp_month9 = make_date(sengyeon1_2014_maxtemp[4141:4711], 2014, 9)
sengyeon1_2014_maxtemp_month10 = make_date(sengyeon1_2014_maxtemp[4712:5301], 2014, 10)
sengyeon1_2014_maxtemp_month11 = make_date(sengyeon1_2014_maxtemp[5302:5872], 2014, 11)
sengyeon1_2014_maxtemp_month12 = make_date(sengyeon1_2014_maxtemp[5873:6462], 2014, 12)

df_list = [sengyeon1_2014_maxtemp_month1, sengyeon1_2014_maxtemp_month2, sengyeon1_2014_maxtemp_month3, sengyeon1_2014_maxtemp_month4, sengyeon1_2014_maxtemp_month5,
           sengyeon1_2014_maxtemp_month6, sengyeon1_2014_maxtemp_month7, sengyeon1_2014_maxtemp_month8, sengyeon1_2014_maxtemp_month9 ,sengyeon1_2014_maxtemp_month10,
           sengyeon1_2014_maxtemp_month11, sengyeon1_2014_maxtemp_month12]

sengyeon1_2014_maxtemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_maxtemp_new1 = sengyeon1_2014_maxtemp_new.loc[(sengyeon1_2014_maxtemp_new['hour'] == 2300) & ((sengyeon1_2014_maxtemp_new['forecast']==4.0) | (sengyeon1_2014_maxtemp_new['forecast']==7.0) | (sengyeon1_2014_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

sengyeon1_2014_maxtemp_new1.columns = ['date', 'max_temp_24']

sengyeon1_2014_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2014-01-01          8.0
1   2014-01-02          7.0
2   2014-01-03          6.0
3   2014-01-04          5.0
4   2014-01-05          6.0
..         ...          ...
360 2014-12-27          6.0
361 2014-12-28          6.0
362 2014-12-29          6.0
363 2014-12-30          2.0
364 2014-12-31          2.0

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
sengyeon1_2014_mintemp.loc[sengyeon1_2014_mintemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
496,Start : 20140201,NaN,NaN,NaN
945,Start : 20140301,NaN,NaN,NaN
1442,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2420,Start : 20140601,NaN,NaN,NaN
2901,Start : 20140701,NaN,NaN,NaN
3398,Start : 20140801,NaN,NaN,NaN
3895,Start : 20140901,NaN,NaN,NaN
4376,Start : 20141001,NaN,NaN,NaN
4873,Start : 20141101,NaN,NaN,NaN
5354,Start : 20141201,NaN,NaN,NaN
5851,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_mintemp.loc[sengyeon1_2014_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
sengyeon1_2014_mintemp_month1 = make_date(sengyeon1_2014_mintemp[:496], 2014, 1)
sengyeon1_2014_mintemp_month2 = make_date(sengyeon1_2014_mintemp[497:945], 2014, 2)
sengyeon1_2014_mintemp_month3 = make_date(sengyeon1_2014_mintemp[946:1442], 2014, 3)
sengyeon1_2014_mintemp_month4 = make_date(sengyeon1_2014_mintemp[1443:1923], 2014, 4)
sengyeon1_2014_mintemp_month5 = make_date(sengyeon1_2014_mintemp[1924:2420], 2014, 5)
sengyeon1_2014_mintemp_month6 = make_date(sengyeon1_2014_mintemp[2421:2901], 2014, 6)
sengyeon1_2014_mintemp_month7 = make_date(sengyeon1_2014_mintemp[2902:3398], 2014, 7)
sengyeon1_2014_mintemp_month8 = make_date(sengyeon1_2014_mintemp[3399:3895], 2014, 8)
sengyeon1_2014_mintemp_month9 = make_date(sengyeon1_2014_mintemp[3896:4376], 2014, 9)
sengyeon1_2014_mintemp_month10 = make_date(sengyeon1_2014_mintemp[4377:4873], 2014, 10)
sengyeon1_2014_mintemp_month11 = make_date(sengyeon1_2014_mintemp[4874:5354], 2014, 11)
sengyeon1_2014_mintemp_month12 = make_date(sengyeon1_2014_mintemp[5355:5851], 2014, 12)

df_list = [sengyeon1_2014_mintemp_month1, sengyeon1_2014_mintemp_month2, sengyeon1_2014_mintemp_month3, sengyeon1_2014_mintemp_month4, sengyeon1_2014_mintemp_month5,
           sengyeon1_2014_mintemp_month6, sengyeon1_2014_mintemp_month7, sengyeon1_2014_mintemp_month8, sengyeon1_2014_mintemp_month9 ,sengyeon1_2014_mintemp_month10,
           sengyeon1_2014_mintemp_month11, sengyeon1_2014_mintemp_month12]

sengyeon1_2014_mintemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_mintemp_new1 = sengyeon1_2014_mintemp_new.loc[(sengyeon1_2014_mintemp_new['hour'] == 1400) & ((sengyeon1_2014_mintemp_new['forecast']==4.0) | (sengyeon1_2014_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

sengyeon1_2014_mintemp_new1.columns = ['date', 'min_temp_24']

sengyeon1_2014_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2014-01-01         -5.0
1   2014-01-02         -4.0
2   2014-01-03         -6.0
3   2014-01-04         -6.0
4   2014-01-05         -6.0
..         ...          ...
360 2014-12-27         -6.0
361 2014-12-28         -3.0
362 2014-12-29         -5.0
363 2014-12-30        -11.0
364 2014-12-31        -12.0

[365 rows x 2 columns]

#### 풍속

In [ ]:
sengyeon1_2014_wind.loc[sengyeon1_2014_wind['hour'].isna(),:]

,format..day,hour,forecast,value..location.61_134.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
sengyeon1_2014_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2014_wind_month1 = make_date(sengyeon1_2014_wind[:4092], 2014, 1)
sengyeon1_2014_wind_month2 = make_date(sengyeon1_2014_wind[4093:7789], 2014, 2)
sengyeon1_2014_wind_month3 = make_date(sengyeon1_2014_wind[7790:11882], 2014, 3)
sengyeon1_2014_wind_month4 = make_date(sengyeon1_2014_wind[11883:16323], 2014, 4)
sengyeon1_2014_wind_month5 = make_date(sengyeon1_2014_wind[16324:20912], 2014, 5)
sengyeon1_2014_wind_month6 = make_date(sengyeon1_2014_wind[20913:25353], 2014, 6)
sengyeon1_2014_wind_month7 = make_date(sengyeon1_2014_wind[25354:29446], 2014, 7)
sengyeon1_2014_wind_month8 = make_date(sengyeon1_2014_wind[29447:34035], 2014, 8)
sengyeon1_2014_wind_month9 = make_date(sengyeon1_2014_wind[34036:38476], 2014, 9)
sengyeon1_2014_wind_month10 = make_date(sengyeon1_2014_wind[38477:43065], 2014, 10)
sengyeon1_2014_wind_month11 = make_date(sengyeon1_2014_wind[43066:47506], 2014, 11)
sengyeon1_2014_wind_month12 = make_date(sengyeon1_2014_wind[47507:52095], 2014, 12)

df_list = [sengyeon1_2014_wind_month1, sengyeon1_2014_wind_month2, sengyeon1_2014_wind_month3, sengyeon1_2014_wind_month4, sengyeon1_2014_wind_month5,
           sengyeon1_2014_wind_month6, sengyeon1_2014_wind_month7, sengyeon1_2014_wind_month8, sengyeon1_2014_wind_month9, sengyeon1_2014_wind_month10,
           sengyeon1_2014_wind_month11, sengyeon1_2014_wind_month12]

sengyeon1_2014_wind_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2014_wind_new1_24 = sengyeon1_2014_wind_new.loc[(sengyeon1_2014_wind_new['hour'] == 1400) & ((sengyeon1_2014_wind_new['forecast']>=4.0) & (sengyeon1_2014_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2014_wind_new1_48 = sengyeon1_2014_wind_new.loc[(sengyeon1_2014_wind_new['hour'] == 1400) & ((sengyeon1_2014_wind_new['forecast']>=28.0) & (sengyeon1_2014_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2014_wind_new1_24.columns = ['date', 'wind_24']
sengyeon1_2014_wind_new1_48.columns = ['date', 'wind_48']

sengyeon1_2014_wind_new2 = pd.concat([sengyeon1_2014_wind_new1_24, sengyeon1_2014_wind_new1_48['wind_48']], axis=1)
sengyeon1_2014_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2014-01-01    1.125    1.500
1   2014-01-02    1.375    1.375
2   2014-01-03    1.375    1.125
3   2014-01-04    1.375    1.375
4   2014-01-05    1.375    1.750
..         ...      ...      ...
360 2014-12-27    1.125    1.500
361 2014-12-28    1.375    2.000
362 2014-12-29    1.375    3.375
363 2014-12-30    3.125    3.875
364 2014-12-31    5.500    2.375

[365 rows x 3 columns]

#### 2014년 생연1동 데이터

In [ ]:
from functools import reduce
dfs = [sengyeon1_2014_rainfall_new1, sengyeon1_2014_snow_new1, sengyeon1_2014_temp3_new2, sengyeon1_2014_humid_new2,sengyeon1_2014_maxtemp_new1,
       sengyeon1_2014_mintemp_new1,sengyeon1_2014_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2014-01-01,0.0,0.0,-0.625,0.625,60.000,67.500,8.0,-5.0,1.125,1.500
1,2014-01-02,0.0,0.0,0.875,0.000,68.750,65.000,7.0,-4.0,1.375,1.375
2,2014-01-03,0.0,0.0,-0.750,-1.000,59.375,61.875,6.0,-6.0,1.375,1.125
3,2014-01-04,0.0,0.0,-1.500,-1.875,64.500,65.000,5.0,-6.0,1.375,1.375
4,2014-01-05,0.0,0.0,-1.500,-0.125,61.250,66.000,6.0,-6.0,1.375,1.750
...,...,...,...,...,...,...,...,...,...,...,...
299,2014-12-27,0.0,0.0,-1.125,1.250,68.125,73.750,6.0,-6.0,1.125,1.500
300,2014-12-28,0.0,0.0,0.875,-0.125,72.500,65.000,6.0,-3.0,1.375,2.000
301,2014-12-29,0.0,0.0,-0.375,-3.500,70.000,65.625,6.0,-5.0,1.375,3.375
302,2014-12-30,2.0,2.0,-3.250,-8.750,56.875,46.875,2.0,-11.0,3.125,3.875
303,2014-12-31,0.0,0.0,-7.750,-6.875,40.000,51.875,2.0,-12.0,5.500,2.375

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_생연1동_2014.csv', index=False)

### 2015년

In [ ]:
sengyeon1_2015_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_6시간강수량_201501_201512.csv')
sengyeon1_2015_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_6시간적설_201501_201512.csv')
sengyeon1_2015_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_3시간기온_201501_201512.csv')
sengyeon1_2015_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_습도_201501_201512.csv')
sengyeon1_2015_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_일최고기온_201501_201512.csv')
sengyeon1_2015_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_일최저기온_201501_201512.csv')
sengyeon1_2015_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/생연1동_풍속_201501_201512.csv')

#### 6시간강수량

In [ ]:
sengyeon1_2015_rainfall.loc[sengyeon1_2015_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_rainfall.loc[sengyeon1_2015_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2015_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_rainfall_month1 = make_date(sengyeon1_2015_rainfall[:2356], 2015, 1)
sengyeon1_2015_rainfall_month2 = make_date(sengyeon1_2015_rainfall[2357:4485], 2015, 2)
sengyeon1_2015_rainfall_month3 = make_date(sengyeon1_2015_rainfall[4486:6842], 2015, 3)
sengyeon1_2015_rainfall_month4 = make_date(sengyeon1_2015_rainfall[6843:9123], 2015, 4)
sengyeon1_2015_rainfall_month5 = make_date(sengyeon1_2015_rainfall[9124:10709], 2015, 5)
sengyeon1_2015_rainfall_month6 = make_date(sengyeon1_2015_rainfall[10710:12990], 2015, 6)
sengyeon1_2015_rainfall_month7 = make_date(sengyeon1_2015_rainfall[12991:15347], 2015, 7)
sengyeon1_2015_rainfall_month8 = make_date(sengyeon1_2015_rainfall[15348:17704], 2015, 8)
sengyeon1_2015_rainfall_month9 = make_date(sengyeon1_2015_rainfall[17705:19985], 2015, 9)
sengyeon1_2015_rainfall_month10 = make_date(sengyeon1_2015_rainfall[19986:22342], 2015, 10)
sengyeon1_2015_rainfall_month11 = make_date(sengyeon1_2015_rainfall[22343:24623], 2015, 11)
sengyeon1_2015_rainfall_month12 = make_date(sengyeon1_2015_rainfall[24624:], 2015, 12)


df_list = [sengyeon1_2015_rainfall_month1, sengyeon1_2015_rainfall_month2, sengyeon1_2015_rainfall_month3, sengyeon1_2015_rainfall_month4, sengyeon1_2015_rainfall_month5,
           sengyeon1_2015_rainfall_month6, sengyeon1_2015_rainfall_month7, sengyeon1_2015_rainfall_month8, sengyeon1_2015_rainfall_month9,sengyeon1_2015_rainfall_month10,
           sengyeon1_2015_rainfall_month11, sengyeon1_2015_rainfall_month12]

sengyeon1_2015_rainfall_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_rainfall_new1 = sengyeon1_2015_rainfall_new.loc[(sengyeon1_2015_rainfall_new['hour'] == 1400) & ((sengyeon1_2015_rainfall_new['forecast']>=7.0) & (sengyeon1_2015_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2015_rainfall_new1.columns = ['date', 'rainfall_24']
sengyeon1_2015_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2015-01-01          0.0
1   2015-01-02          0.0
2   2015-01-03          5.0
3   2015-01-04          5.0
4   2015-01-05          5.0
..         ...          ...
350 2015-12-27          0.0
351 2015-12-28          0.0
352 2015-12-29          6.0
353 2015-12-30          0.0
354 2015-12-31          0.0

[355 rows x 2 columns]

#### 6시간적설

In [ ]:
sengyeon1_2015_snow.loc[sengyeon1_2015_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_snow.loc[sengyeon1_2015_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2015_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_snow_month1 = make_date(sengyeon1_2015_snow[:2356],2015, 1)
sengyeon1_2015_snow_month2 = make_date(sengyeon1_2015_snow[2357:4485], 2015, 2)
sengyeon1_2015_snow_month3 = make_date(sengyeon1_2015_snow[4486:6842], 2015, 3)
sengyeon1_2015_snow_month4 = make_date(sengyeon1_2015_snow[6843:9123], 2015, 4)
sengyeon1_2015_snow_month5 = make_date(sengyeon1_2015_snow[9124:10709], 2015, 5)
sengyeon1_2015_snow_month6 = make_date(sengyeon1_2015_snow[10710:12990], 2015, 6)
sengyeon1_2015_snow_month7 = make_date(sengyeon1_2015_snow[12991:15347],2015, 7)
sengyeon1_2015_snow_month8 = make_date(sengyeon1_2015_snow[15348:17704], 2015, 8)
sengyeon1_2015_snow_month9 = make_date(sengyeon1_2015_snow[17705:19985], 2015, 9)
sengyeon1_2015_snow_month10 = make_date(sengyeon1_2015_snow[19986:22342], 2015, 10)
sengyeon1_2015_snow_month11 = make_date(sengyeon1_2015_snow[22343:24623], 2015, 11)
sengyeon1_2015_snow_month12 = make_date(sengyeon1_2015_snow[24624:], 2015, 12)


df_list = [sengyeon1_2015_snow_month1, sengyeon1_2015_snow_month2, sengyeon1_2015_snow_month3, sengyeon1_2015_snow_month4, sengyeon1_2015_snow_month5,
           sengyeon1_2015_snow_month6, sengyeon1_2015_snow_month7, sengyeon1_2015_snow_month8, sengyeon1_2015_snow_month9, sengyeon1_2015_snow_month10, 
           sengyeon1_2015_snow_month11, sengyeon1_2015_snow_month12]

sengyeon1_2015_snow_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_snow_new1 = sengyeon1_2015_snow_new.loc[(sengyeon1_2015_snow_new['hour'] == 1400) & ((sengyeon1_2015_snow_new['forecast']>=7.0) & (sengyeon1_2015_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2015_snow_new1.columns = ['date', 'snow_24']
sengyeon1_2015_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2015-01-01      0.0
1   2015-01-02      0.0
2   2015-01-03      5.0
3   2015-01-04      1.0
4   2015-01-05      1.0
..         ...      ...
350 2015-12-27      0.0
351 2015-12-28      0.0
352 2015-12-29     10.0
353 2015-12-30      0.0
354 2015-12-31      0.0

[355 rows x 2 columns]

#### 3시간기온

In [ ]:
sengyeon1_2015_temp3.loc[sengyeon1_2015_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_temp3_month1 = make_date(sengyeon1_2015_temp3[:4588], 2015, 1)
sengyeon1_2015_temp3_month2 = make_date(sengyeon1_2015_temp3[4589:8733], 2015, 2)
sengyeon1_2015_temp3_month3 = make_date(sengyeon1_2015_temp3[8734:13322], 2015, 3)
sengyeon1_2015_temp3_month4 = make_date(sengyeon1_2015_temp3[13323:17763], 2015, 4)
sengyeon1_2015_temp3_month5 = make_date(sengyeon1_2015_temp3[17764:20851], 2015, 5)
sengyeon1_2015_temp3_month6 = make_date(sengyeon1_2015_temp3[20852:25292], 2015, 6)
sengyeon1_2015_temp3_month7 = make_date(sengyeon1_2015_temp3[25293:29881], 2015, 7)
sengyeon1_2015_temp3_month8 = make_date(sengyeon1_2015_temp3[29882:34470], 2015, 8)
sengyeon1_2015_temp3_month9 = make_date(sengyeon1_2015_temp3[34471:38911], 2015, 9)
sengyeon1_2015_temp3_month10 = make_date(sengyeon1_2015_temp3[38912:43500], 2015, 10)
sengyeon1_2015_temp3_month11 = make_date(sengyeon1_2015_temp3[43501:47941], 2015, 11)
sengyeon1_2015_temp3_month12 = make_date(sengyeon1_2015_temp3[47942:],2015, 12)


df_list = [sengyeon1_2015_temp3_month1, sengyeon1_2015_temp3_month2, sengyeon1_2015_temp3_month3, sengyeon1_2015_temp3_month4,sengyeon1_2015_temp3_month5,
           sengyeon1_2015_temp3_month6, sengyeon1_2015_temp3_month7, sengyeon1_2015_temp3_month8, sengyeon1_2015_temp3_month9,sengyeon1_2015_temp3_month10,
           sengyeon1_2015_temp3_month11, sengyeon1_2015_temp3_month12]

sengyeon1_2015_temp3_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_temp3_new1_24 = sengyeon1_2015_temp3_new.loc[(sengyeon1_2015_temp3_new['hour'] == 1400) & ((sengyeon1_2015_temp3_new['forecast']>=4.0) & (sengyeon1_2015_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2015_temp3_new1_48 = sengyeon1_2015_temp3_new.loc[(sengyeon1_2015_temp3_new['hour'] == 1400) & ((sengyeon1_2015_temp3_new['forecast']>=28.0) & (sengyeon1_2015_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2015_temp3_new1_24.columns = ['date', 'temp_24']
sengyeon1_2015_temp3_new1_48.columns = ['date', 'temp_48']

sengyeon1_2015_temp3_new2 = pd.concat([sengyeon1_2015_temp3_new1_24, sengyeon1_2015_temp3_new1_48['temp_48']], axis=1)
sengyeon1_2015_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2015-01-01   -7.500   -4.250
1   2015-01-02   -4.125    0.875
2   2015-01-03    1.375    2.125
3   2015-01-04    1.875   -2.375
4   2015-01-05   -2.375   -6.375
..         ...      ...      ...
350 2015-12-27   -6.000   -3.750
351 2015-12-28   -4.000   -1.250
352 2015-12-29   -1.750    0.000
353 2015-12-30    0.000    0.250
354 2015-12-31    0.250    4.375

[355 rows x 3 columns]

#### 습도

In [ ]:
sengyeon1_2015_humid.loc[sengyeon1_2015_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20519,Start : 20150601,NaN,NaN,NaN
24960,Start : 20150701,NaN,NaN,NaN
29549,Start : 20150801,NaN,NaN,NaN
34138,Start : 20150901,NaN,NaN,NaN
38579,Start : 20151001,NaN,NaN,NaN
43168,Start : 20151101,NaN,NaN,NaN
47609,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_humid_month1 = make_date(sengyeon1_2015_humid[:4588], 2015, 1)
sengyeon1_2015_humid_month2 = make_date(sengyeon1_2015_humid[4589:8733], 2015, 2)
sengyeon1_2015_humid_month3 = make_date(sengyeon1_2015_humid[8734:13322], 2015, 3)
sengyeon1_2015_humid_month4 = make_date(sengyeon1_2015_humid[13323:17763], 2015, 4)
sengyeon1_2015_humid_month5 = make_date(sengyeon1_2015_humid[17764:20519], 2015, 5)
sengyeon1_2015_humid_month6 = make_date(sengyeon1_2015_humid[20520:24960], 2015, 6)
sengyeon1_2015_humid_month7 = make_date(sengyeon1_2015_humid[24961:29549], 2015, 7)
sengyeon1_2015_humid_month8 = make_date(sengyeon1_2015_humid[29550:34138], 2015, 8)
sengyeon1_2015_humid_month9 = make_date(sengyeon1_2015_humid[34139:38579], 2015, 9)
sengyeon1_2015_humid_month10 = make_date(sengyeon1_2015_humid[38580:43168], 2015, 10)
sengyeon1_2015_humid_month11 = make_date(sengyeon1_2015_humid[43169:47609], 2015, 11)
sengyeon1_2015_humid_month12 = make_date(sengyeon1_2015_humid[47610:], 2015, 12)

df_list = [sengyeon1_2015_humid_month1, sengyeon1_2015_humid_month2, sengyeon1_2015_humid_month3, sengyeon1_2015_humid_month4, sengyeon1_2015_humid_month5,
           sengyeon1_2015_humid_month6, sengyeon1_2015_humid_month7, sengyeon1_2015_humid_month8, sengyeon1_2015_humid_month9, sengyeon1_2015_humid_month10,
           sengyeon1_2015_humid_month11, sengyeon1_2015_humid_month12]

sengyeon1_2015_humid_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_humid_new1_24 = sengyeon1_2015_humid_new.loc[(sengyeon1_2015_humid_new['hour'] == 1400) & ((sengyeon1_2015_humid_new['forecast']>=4.0) & (sengyeon1_2015_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2015_humid_new1_48 = sengyeon1_2015_humid_new.loc[(sengyeon1_2015_humid_new['hour'] == 1400) & ((sengyeon1_2015_humid_new['forecast']>=28.0) & (sengyeon1_2015_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2015_humid_new1_24.columns = ['date', 'humid_24']
sengyeon1_2015_humid_new1_48.columns = ['date', 'humid_48']

sengyeon1_2015_humid_new2 = pd.concat([sengyeon1_2015_humid_new1_24, sengyeon1_2015_humid_new1_48['humid_48']], axis=1)
sengyeon1_2015_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2015-01-01    39.375    53.750
1   2015-01-02    61.875    68.500
2   2015-01-03    69.375    76.250
3   2015-01-04    72.500    51.875
4   2015-01-05    50.000    38.750
..         ...       ...       ...
350 2015-12-27    48.125    63.750
351 2015-12-28    61.875    73.750
352 2015-12-29    69.375    70.000
353 2015-12-30    66.875    66.875
354 2015-12-31    66.875    70.000

[355 rows x 3 columns]

#### 일최고기온

In [ ]:
sengyeon1_2015_maxtemp.loc[sengyeon1_2015_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
589,Start : 20150201,NaN,NaN,NaN
1122,Start : 20150301,NaN,NaN,NaN
1712,Start : 20150401,NaN,NaN,NaN
2283,Start : 20150501,NaN,NaN,NaN
2680,Start : 20150601,NaN,NaN,NaN
3251,Start : 20150701,NaN,NaN,NaN
3841,Start : 20150801,NaN,NaN,NaN
4431,Start : 20150901,NaN,NaN,NaN
5002,Start : 20151001,NaN,NaN,NaN
5592,Start : 20151101,NaN,NaN,NaN
6163,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_maxtemp.loc[sengyeon1_2015_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
sengyeon1_2015_maxtemp_month1 = make_date(sengyeon1_2015_maxtemp[:589], 2015, 1)
sengyeon1_2015_maxtemp_month2 = make_date(sengyeon1_2015_maxtemp[590:1122], 2015, 2)
sengyeon1_2015_maxtemp_month3 = make_date(sengyeon1_2015_maxtemp[1123:1712], 2015, 3)
sengyeon1_2015_maxtemp_month4 = make_date(sengyeon1_2015_maxtemp[1713:2283], 2015, 4)
sengyeon1_2015_maxtemp_month5 = make_date(sengyeon1_2015_maxtemp[2284:2680], 2015, 5)
sengyeon1_2015_maxtemp_month6 = make_date(sengyeon1_2015_maxtemp[2681:3251], 2015, 6)
sengyeon1_2015_maxtemp_month7 = make_date(sengyeon1_2015_maxtemp[3252:3841], 2015, 7)
sengyeon1_2015_maxtemp_month8 = make_date(sengyeon1_2015_maxtemp[3842:4431], 2015, 8)
sengyeon1_2015_maxtemp_month9 = make_date(sengyeon1_2015_maxtemp[4432:5002], 2015, 9)
sengyeon1_2015_maxtemp_month10 = make_date(sengyeon1_2015_maxtemp[5003:5592], 2015, 10)
sengyeon1_2015_maxtemp_month11 = make_date(sengyeon1_2015_maxtemp[5593:6163], 2015, 11)
sengyeon1_2015_maxtemp_month12 = make_date(sengyeon1_2015_maxtemp[6164:], 2015, 12)

df_list = [sengyeon1_2015_maxtemp_month1, sengyeon1_2015_maxtemp_month2, sengyeon1_2015_maxtemp_month3, sengyeon1_2015_maxtemp_month4, sengyeon1_2015_maxtemp_month5,
           sengyeon1_2015_maxtemp_month6, sengyeon1_2015_maxtemp_month7, sengyeon1_2015_maxtemp_month8, sengyeon1_2015_maxtemp_month9 ,sengyeon1_2015_maxtemp_month10,
           sengyeon1_2015_maxtemp_month11, sengyeon1_2015_maxtemp_month12]

sengyeon1_2015_maxtemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_maxtemp_new1 = sengyeon1_2015_maxtemp_new.loc[(sengyeon1_2015_maxtemp_new['hour'] == 2300) & ((sengyeon1_2015_maxtemp_new['forecast']==4.0) | (sengyeon1_2015_maxtemp_new['forecast']==7.0) | (sengyeon1_2015_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

sengyeon1_2015_maxtemp_new1.columns = ['date', 'max_temp_24']

sengyeon1_2015_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2015-01-01          7.0
1   2015-01-02          8.0
2   2015-01-03          8.0
3   2015-01-04          6.0
4   2015-01-05         -1.0
..         ...          ...
349 2015-12-27          3.0
350 2015-12-28          5.0
351 2015-12-29          5.0
352 2015-12-30          8.0
353 2015-12-31         10.0

[354 rows x 2 columns]

#### 일최저기온

In [ ]:
sengyeon1_2015_mintemp.loc[sengyeon1_2015_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
496,Start : 20150201,NaN,NaN,NaN
945,Start : 20150301,NaN,NaN,NaN
1442,Start : 20150401,NaN,NaN,NaN
1923,Start : 20150501,NaN,NaN,NaN
2258,Start : 20150601,NaN,NaN,NaN
2739,Start : 20150701,NaN,NaN,NaN
3236,Start : 20150801,NaN,NaN,NaN
3733,Start : 20150901,NaN,NaN,NaN
4214,Start : 20151001,NaN,NaN,NaN
4711,Start : 20151101,NaN,NaN,NaN
5192,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_mintemp.loc[sengyeon1_2015_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
sengyeon1_2015_mintemp_month1 = make_date(sengyeon1_2015_mintemp[:496], 2015, 1)
sengyeon1_2015_mintemp_month2 = make_date(sengyeon1_2015_mintemp[497:945], 2015, 2)
sengyeon1_2015_mintemp_month3 = make_date(sengyeon1_2015_mintemp[946:1442], 2015, 3)
sengyeon1_2015_mintemp_month4 = make_date(sengyeon1_2015_mintemp[1443:1923], 2015, 4)
sengyeon1_2015_mintemp_month5 = make_date(sengyeon1_2015_mintemp[1924:2258], 2015, 5)
sengyeon1_2015_mintemp_month6 = make_date(sengyeon1_2015_mintemp[2259:2739], 2015, 6)
sengyeon1_2015_mintemp_month7 = make_date(sengyeon1_2015_mintemp[2740:3236], 2015, 7)
sengyeon1_2015_mintemp_month8 = make_date(sengyeon1_2015_mintemp[3237:3733], 2015, 8)
sengyeon1_2015_mintemp_month9 = make_date(sengyeon1_2015_mintemp[3734:4214], 2015, 9)
sengyeon1_2015_mintemp_month10 = make_date(sengyeon1_2015_mintemp[4215:4711], 2015, 10)
sengyeon1_2015_mintemp_month11 = make_date(sengyeon1_2015_mintemp[4712:5192], 2015, 11)
sengyeon1_2015_mintemp_month12 = make_date(sengyeon1_2015_mintemp[5193:], 2015, 12)

df_list = [sengyeon1_2015_mintemp_month1, sengyeon1_2015_mintemp_month2, sengyeon1_2015_mintemp_month3, sengyeon1_2015_mintemp_month4, sengyeon1_2015_mintemp_month5,
           sengyeon1_2015_mintemp_month6, sengyeon1_2015_mintemp_month7, sengyeon1_2015_mintemp_month8, sengyeon1_2015_mintemp_month9 ,sengyeon1_2015_mintemp_month10,
           sengyeon1_2015_mintemp_month11, sengyeon1_2015_mintemp_month12]

sengyeon1_2015_mintemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_mintemp_new1 = sengyeon1_2015_mintemp_new.loc[(sengyeon1_2015_mintemp_new['hour'] == 1400) & ((sengyeon1_2015_mintemp_new['forecast']==4.0) | (sengyeon1_2015_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

sengyeon1_2015_mintemp_new1.columns = ['date', 'min_temp_24']

sengyeon1_2015_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2015-01-01        -12.0
1   2015-01-02        -12.0
2   2015-01-03         -3.0
3   2015-01-04         -3.0
4   2015-01-05        -10.0
..         ...          ...
350 2015-12-27        -12.0
351 2015-12-28        -12.0
352 2015-12-29         -7.0
353 2015-12-30         -6.0
354 2015-12-31         -6.0

[355 rows x 2 columns]

#### 풍속

In [ ]:
sengyeon1_2015_wind.loc[sengyeon1_2015_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
sengyeon1_2015_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2015_wind_month1 = make_date(sengyeon1_2015_wind[:4588], 2015, 1)
sengyeon1_2015_wind_month2 = make_date(sengyeon1_2015_wind[4589:8733], 2015, 2)
sengyeon1_2015_wind_month3 = make_date(sengyeon1_2015_wind[8734:13322], 2015, 3)
sengyeon1_2015_wind_month4 = make_date(sengyeon1_2015_wind[13323:17763], 2015, 4)
sengyeon1_2015_wind_month5 = make_date(sengyeon1_2015_wind[17764:20851], 2015, 5)
sengyeon1_2015_wind_month6 = make_date(sengyeon1_2015_wind[20852:25292], 2015, 6)
sengyeon1_2015_wind_month7 = make_date(sengyeon1_2015_wind[25293:29881], 2015, 7)
sengyeon1_2015_wind_month8 = make_date(sengyeon1_2015_wind[29882:34470], 2015, 8)
sengyeon1_2015_wind_month9 = make_date(sengyeon1_2015_wind[34471:38911], 2015, 9)
sengyeon1_2015_wind_month10 = make_date(sengyeon1_2015_wind[38912:43500], 2015, 10)
sengyeon1_2015_wind_month11 = make_date(sengyeon1_2015_wind[43501:47941], 2015, 11)
sengyeon1_2015_wind_month12 = make_date(sengyeon1_2015_wind[47942:], 2015, 12)

df_list = [sengyeon1_2015_wind_month1, sengyeon1_2015_wind_month2, sengyeon1_2015_wind_month3, sengyeon1_2015_wind_month4, sengyeon1_2015_wind_month5,
           sengyeon1_2015_wind_month6, sengyeon1_2015_wind_month7, sengyeon1_2015_wind_month8, sengyeon1_2015_wind_month9, sengyeon1_2015_wind_month10,
           sengyeon1_2015_wind_month11, sengyeon1_2015_wind_month12]

sengyeon1_2015_wind_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2015_wind_new1_24 = sengyeon1_2015_wind_new.loc[(sengyeon1_2015_wind_new['hour'] == 1400) & ((sengyeon1_2015_wind_new['forecast']>=4.0) & (sengyeon1_2015_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2015_wind_new1_48 = sengyeon1_2015_wind_new.loc[(sengyeon1_2015_wind_new['hour'] == 1400) & ((sengyeon1_2015_wind_new['forecast']>=28.0) & (sengyeon1_2015_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2015_wind_new1_24.columns = ['date', 'wind_24']
sengyeon1_2015_wind_new1_48.columns = ['date', 'wind_48']

sengyeon1_2015_wind_new2 = pd.concat([sengyeon1_2015_wind_new1_24, sengyeon1_2015_wind_new1_48['wind_48']], axis=1)
sengyeon1_2015_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2015-01-01    3.000    1.750
1   2015-01-02    1.250    1.250
2   2015-01-03    1.250    1.250
3   2015-01-04    1.250    3.250
4   2015-01-05    3.875    3.625
..         ...      ...      ...
350 2015-12-27    2.250    1.250
351 2015-12-28    1.250    1.500
352 2015-12-29    1.375    1.625
353 2015-12-30    1.250    1.500
354 2015-12-31    1.500    2.125

[355 rows x 3 columns]

#### 2015년 생연1동 데이터

In [ ]:
from functools import reduce
dfs = [sengyeon1_2015_rainfall_new1, sengyeon1_2015_snow_new1, sengyeon1_2015_temp3_new2, sengyeon1_2015_humid_new2,sengyeon1_2015_maxtemp_new1,
       sengyeon1_2015_mintemp_new1, sengyeon1_2015_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2015-01-01,0.0,0.0,-7.500,-4.250,39.375,53.750,7.0,-12.0,3.000,1.750
1,2015-01-02,0.0,0.0,-4.125,0.875,61.875,68.500,8.0,-12.0,1.250,1.250
2,2015-01-03,5.0,5.0,1.375,2.125,69.375,76.250,8.0,-3.0,1.250,1.250
3,2015-01-04,5.0,1.0,1.875,-2.375,72.500,51.875,6.0,-3.0,1.250,3.250
4,2015-01-05,5.0,1.0,-2.375,-6.375,50.000,38.750,-1.0,-10.0,3.875,3.625
...,...,...,...,...,...,...,...,...,...,...,...
350,2015-12-27,0.0,0.0,-6.000,-3.750,48.125,63.750,3.0,-12.0,2.250,1.250
351,2015-12-28,0.0,0.0,-4.000,-1.250,61.875,73.750,5.0,-12.0,1.250,1.500
352,2015-12-29,6.0,10.0,-1.750,0.000,69.375,70.000,5.0,-7.0,1.375,1.625
353,2015-12-30,0.0,0.0,0.000,0.250,66.875,66.875,8.0,-6.0,1.250,1.500
354,2015-12-31,0.0,0.0,0.250,4.375,66.875,70.000,10.0,-6.0,1.500,2.125

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_생연1동_2015.csv', index=False)

### 2016년

In [ ]:
sengyeon1_2016_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_6시간강수량_201601_201612.csv')
sengyeon1_2016_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_6시간적설_201601_201612.csv')
sengyeon1_2016_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_3시간기온_201601_201612.csv')
sengyeon1_2016_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_습도_201601_201612.csv')
sengyeon1_2016_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_일최고기온_201601_201612.csv')
sengyeon1_2016_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_일최저기온_201601_201612.csv')
sengyeon1_2016_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/생연1동_풍속_201601_201612.csv')

#### 6시간강수량

In [ ]:
sengyeon1_2016_rainfall.loc[sengyeon1_2016_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_rainfall.loc[sengyeon1_2016_rainfall['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_rainfall2 = sengyeon1_2016_rainfall.iloc[:27827]

In [ ]:
sengyeon1_2016_rainfall2['hour'] = pd.to_numeric(sengyeon1_2016_rainfall2['hour'])
sengyeon1_2016_rainfall2['forecast'] =  pd.to_numeric(sengyeon1_2016_rainfall2['forecast'])
sengyeon1_2016_rainfall2['value'] =  pd.to_numeric(sengyeon1_2016_rainfall2['value'])

In [ ]:
sengyeon1_2016_rainfall2.loc[sengyeon1_2016_rainfall2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2016_rainfall2.loc[sengyeon1_2016_rainfall2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_rainfall_month1 = make_date(sengyeon1_2016_rainfall2[:2356], 2016, 1)
sengyeon1_2016_rainfall_month2 = make_date(sengyeon1_2016_rainfall2[2357:4561], 2016, 2)
sengyeon1_2016_rainfall_month3 = make_date(sengyeon1_2016_rainfall2[4562:6918], 2016, 3)
sengyeon1_2016_rainfall_month4 = make_date(sengyeon1_2016_rainfall2[6919:9199], 2016, 4)
sengyeon1_2016_rainfall_month5 = make_date(sengyeon1_2016_rainfall2[9200:11556], 2016, 5)
sengyeon1_2016_rainfall_month6 = make_date(sengyeon1_2016_rainfall2[11557:13837], 2016, 6)
sengyeon1_2016_rainfall_month7 = make_date(sengyeon1_2016_rainfall2[13838:16194], 2016, 7)
sengyeon1_2016_rainfall_month8 = make_date(sengyeon1_2016_rainfall2[16195:18551], 2016, 8)
sengyeon1_2016_rainfall_month9 = make_date(sengyeon1_2016_rainfall2[18552:20832], 2016, 9)
sengyeon1_2016_rainfall_month10 = make_date(sengyeon1_2016_rainfall2[20833:23189], 2016, 10)
sengyeon1_2016_rainfall_month11 = make_date(sengyeon1_2016_rainfall2[23190:25470], 2016, 11)
sengyeon1_2016_rainfall_month12 = make_date(sengyeon1_2016_rainfall2[25471:], 2016, 12)


df_list = [sengyeon1_2016_rainfall_month1, sengyeon1_2016_rainfall_month2, sengyeon1_2016_rainfall_month3, sengyeon1_2016_rainfall_month4, sengyeon1_2016_rainfall_month5,
           sengyeon1_2016_rainfall_month6, sengyeon1_2016_rainfall_month7, sengyeon1_2016_rainfall_month8, sengyeon1_2016_rainfall_month9,sengyeon1_2016_rainfall_month10,
           sengyeon1_2016_rainfall_month11, sengyeon1_2016_rainfall_month12]

sengyeon1_2016_rainfall_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_rainfall_new1 = sengyeon1_2016_rainfall_new.loc[(sengyeon1_2016_rainfall_new['hour'] == 1400) & ((sengyeon1_2016_rainfall_new['forecast']>=7.0) & (sengyeon1_2016_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2016_rainfall_new1.columns = ['date', 'rainfall_24']
sengyeon1_2016_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2016-01-01          0.0
1   2016-01-02          0.0
2   2016-01-03          0.0
3   2016-01-04          0.0
4   2016-01-05          0.0
..         ...          ...
361 2016-12-27          0.0
362 2016-12-28          1.0
363 2016-12-29          0.0
364 2016-12-30          0.0
365 2016-12-31          0.0

[366 rows x 2 columns]

#### 6시간적설

In [ ]:
sengyeon1_2016_snow.loc[sengyeon1_2016_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_snow.loc[sengyeon1_2016_snow['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_snow2 = sengyeon1_2016_snow.iloc[:27827]

In [ ]:
sengyeon1_2016_snow2['hour'] = pd.to_numeric(sengyeon1_2016_snow2['hour'])
sengyeon1_2016_snow2['forecast'] =  pd.to_numeric(sengyeon1_2016_snow2['forecast'])
sengyeon1_2016_snow2['value'] =  pd.to_numeric(sengyeon1_2016_snow2['value'])

In [ ]:
sengyeon1_2016_snow2.loc[sengyeon1_2016_snow2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
sengyeon1_2016_snow2.loc[sengyeon1_2016_snow2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_snow_month1 = make_date(sengyeon1_2016_snow2[:2356], 2016, 1)
sengyeon1_2016_snow_month2 = make_date(sengyeon1_2016_snow2[2357:4561], 2016, 2)
sengyeon1_2016_snow_month3 = make_date(sengyeon1_2016_snow2[4562:6918], 2016, 3)
sengyeon1_2016_snow_month4 = make_date(sengyeon1_2016_snow2[6919:9199], 2016, 4)
sengyeon1_2016_snow_month5 = make_date(sengyeon1_2016_snow2[9200:11556], 2016, 5)
sengyeon1_2016_snow_month6 = make_date(sengyeon1_2016_snow2[11557:13837], 2016, 6)
sengyeon1_2016_snow_month7 = make_date(sengyeon1_2016_snow2[13838:16194], 2016, 7)
sengyeon1_2016_snow_month8 = make_date(sengyeon1_2016_snow2[16195:18551], 2016, 8)
sengyeon1_2016_snow_month9 = make_date(sengyeon1_2016_snow2[18552:20832], 2016, 9)
sengyeon1_2016_snow_month10 = make_date(sengyeon1_2016_snow2[20833:23189], 2016, 10)
sengyeon1_2016_snow_month11 = make_date(sengyeon1_2016_snow2[23190:25470], 2016, 11)
sengyeon1_2016_snow_month12 = make_date(sengyeon1_2016_snow2[25471:], 2016, 12)


df_list = [sengyeon1_2016_snow_month1, sengyeon1_2016_snow_month2, sengyeon1_2016_snow_month3, sengyeon1_2016_snow_month4, sengyeon1_2016_snow_month5,
           sengyeon1_2016_snow_month6, sengyeon1_2016_snow_month7, sengyeon1_2016_snow_month8, sengyeon1_2016_snow_month9, sengyeon1_2016_snow_month10, 
           sengyeon1_2016_snow_month11, sengyeon1_2016_snow_month12]

sengyeon1_2016_snow_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_snow_new1 = sengyeon1_2016_snow_new.loc[(sengyeon1_2016_snow_new['hour'] == 1400) & ((sengyeon1_2016_snow_new['forecast']>=7.0) & (sengyeon1_2016_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

sengyeon1_2016_snow_new1.columns = ['date', 'snow_24']
sengyeon1_2016_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2016-01-01      0.0
1   2016-01-02      0.0
2   2016-01-03      0.0
3   2016-01-04      0.0
4   2016-01-05      0.0
..         ...      ...
361 2016-12-27      0.0
362 2016-12-28      1.0
363 2016-12-29      0.0
364 2016-12-30      0.0
365 2016-12-31      0.0

[366 rows x 2 columns]

#### 3시간기온

In [ ]:
sengyeon1_2016_temp3.loc[sengyeon1_2016_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_temp3.loc[sengyeon1_2016_temp3['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_temp32 = sengyeon1_2016_temp3.iloc[:54179]

In [ ]:
sengyeon1_2016_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_temp32['hour'] = pd.to_numeric(sengyeon1_2016_temp32['hour'])
sengyeon1_2016_temp32['forecast'] =  pd.to_numeric(sengyeon1_2016_temp32['forecast'])
sengyeon1_2016_temp32['value'] =  pd.to_numeric(sengyeon1_2016_temp32['value'])

In [ ]:
sengyeon1_2016_temp32.loc[sengyeon1_2016_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_temp3_month1 = make_date(sengyeon1_2016_temp32[:4588], 2016, 1)
sengyeon1_2016_temp3_month2 = make_date(sengyeon1_2016_temp32[4589:8881], 2016, 2)
sengyeon1_2016_temp3_month3 = make_date(sengyeon1_2016_temp32[8882:13470], 2016, 3)
sengyeon1_2016_temp3_month4 = make_date(sengyeon1_2016_temp32[13471:17911], 2016, 4)
sengyeon1_2016_temp3_month5 = make_date(sengyeon1_2016_temp32[17912:22500], 2016, 5)
sengyeon1_2016_temp3_month6 = make_date(sengyeon1_2016_temp32[22501:26941], 2016, 6)
sengyeon1_2016_temp3_month7 = make_date(sengyeon1_2016_temp32[26942:31530], 2016, 7)
sengyeon1_2016_temp3_month8 = make_date(sengyeon1_2016_temp32[31531:36119], 2016, 8)
sengyeon1_2016_temp3_month9 = make_date(sengyeon1_2016_temp32[36120:40560], 2016, 9)
sengyeon1_2016_temp3_month10 = make_date(sengyeon1_2016_temp32[40561:45149], 2016, 10)
sengyeon1_2016_temp3_month11 = make_date(sengyeon1_2016_temp32[45150:49590], 2016, 11)
sengyeon1_2016_temp3_month12 = make_date(sengyeon1_2016_temp32[49591:],2016, 12)


df_list = [sengyeon1_2016_temp3_month1, sengyeon1_2016_temp3_month2, sengyeon1_2016_temp3_month3, sengyeon1_2016_temp3_month4,sengyeon1_2016_temp3_month5,
           sengyeon1_2016_temp3_month6, sengyeon1_2016_temp3_month7, sengyeon1_2016_temp3_month8, sengyeon1_2016_temp3_month9,sengyeon1_2016_temp3_month10,
           sengyeon1_2016_temp3_month11, sengyeon1_2016_temp3_month12]

sengyeon1_2016_temp3_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_temp3_new1_24 = sengyeon1_2016_temp3_new.loc[(sengyeon1_2016_temp3_new['hour'] == 1400) & ((sengyeon1_2016_temp3_new['forecast']>=4.0) & (sengyeon1_2016_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2016_temp3_new1_48 = sengyeon1_2016_temp3_new.loc[(sengyeon1_2016_temp3_new['hour'] == 1400) & ((sengyeon1_2016_temp3_new['forecast']>=28.0) & (sengyeon1_2016_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2016_temp3_new1_24.columns = ['date', 'temp_24']
sengyeon1_2016_temp3_new1_48.columns = ['date', 'temp_48']

sengyeon1_2016_temp3_new2 = pd.concat([sengyeon1_2016_temp3_new1_24, sengyeon1_2016_temp3_new1_48['temp_48']], axis=1)
sengyeon1_2016_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2016-01-01    4.875    3.000
1   2016-01-02    5.125    2.125
2   2016-01-03    1.750   -2.750
3   2016-01-04   -2.625   -2.875
4   2016-01-05   -3.000   -4.375
..         ...      ...      ...
361 2016-12-27   -4.375   -3.250
362 2016-12-28   -3.375   -3.750
363 2016-12-29   -3.500    0.625
364 2016-12-30    0.250    2.000
365 2016-12-31    2.375    3.000

[366 rows x 3 columns]

#### 습도

In [ ]:
sengyeon1_2016_humid.loc[sengyeon1_2016_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_humid.loc[sengyeon1_2016_humid['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_humid2 = sengyeon1_2016_humid.iloc[:54179]

In [ ]:
sengyeon1_2016_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_humid2['hour'] = pd.to_numeric(sengyeon1_2016_humid2['hour'])
sengyeon1_2016_humid2['forecast'] =  pd.to_numeric(sengyeon1_2016_humid2['forecast'])
sengyeon1_2016_humid2['value'] =  pd.to_numeric(sengyeon1_2016_humid2['value'])

In [ ]:
sengyeon1_2016_humid2.loc[sengyeon1_2016_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_humid_month1 = make_date(sengyeon1_2016_humid2[:4588], 2016, 1)
sengyeon1_2016_humid_month2 = make_date(sengyeon1_2016_humid2[4589:8881], 2016, 2)
sengyeon1_2016_humid_month3 = make_date(sengyeon1_2016_humid2[8882:13470], 2016, 3)
sengyeon1_2016_humid_month4 = make_date(sengyeon1_2016_humid2[13471:17911], 2016, 4)
sengyeon1_2016_humid_month5 = make_date(sengyeon1_2016_humid2[17912:22500], 2016, 5)
sengyeon1_2016_humid_month6 = make_date(sengyeon1_2016_humid2[22501:26941], 2016, 6)
sengyeon1_2016_humid_month7 = make_date(sengyeon1_2016_humid2[26942:31530], 2016, 7)
sengyeon1_2016_humid_month8 = make_date(sengyeon1_2016_humid2[31531:36119], 2016, 8)
sengyeon1_2016_humid_month9 = make_date(sengyeon1_2016_humid2[36120:40560], 2016, 9)
sengyeon1_2016_humid_month10 = make_date(sengyeon1_2016_humid2[40561:45149], 2016, 10)
sengyeon1_2016_humid_month11 = make_date(sengyeon1_2016_humid2[45150:49590], 2016, 11)
sengyeon1_2016_humid_month12 = make_date(sengyeon1_2016_humid2[49591:],2016, 12)

df_list = [sengyeon1_2016_humid_month1, sengyeon1_2016_humid_month2, sengyeon1_2016_humid_month3, sengyeon1_2016_humid_month4, sengyeon1_2016_humid_month5,
           sengyeon1_2016_humid_month6, sengyeon1_2016_humid_month7, sengyeon1_2016_humid_month8, sengyeon1_2016_humid_month9, sengyeon1_2016_humid_month10,
           sengyeon1_2016_humid_month11, sengyeon1_2016_humid_month12]

sengyeon1_2016_humid_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_humid_new1_24 = sengyeon1_2016_humid_new.loc[(sengyeon1_2016_humid_new['hour'] == 1400) & ((sengyeon1_2016_humid_new['forecast']>=4.0) & (sengyeon1_2016_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2016_humid_new1_48 = sengyeon1_2016_humid_new.loc[(sengyeon1_2016_humid_new['hour'] == 1400) & ((sengyeon1_2016_humid_new['forecast']>=28.0) & (sengyeon1_2016_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2016_humid_new1_24.columns = ['date', 'humid_24']
sengyeon1_2016_humid_new1_48.columns = ['date', 'humid_48']

sengyeon1_2016_humid_new2 = pd.concat([sengyeon1_2016_humid_new1_24, sengyeon1_2016_humid_new1_48['humid_48']], axis=1)
sengyeon1_2016_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2016-01-01    70.625    68.125
1   2016-01-02    68.125    63.125
2   2016-01-03    65.625    51.250
3   2016-01-04    51.875    58.750
4   2016-01-05    59.375    50.625
..         ...       ...       ...
361 2016-12-27    54.375    47.500
362 2016-12-28    47.500    59.375
363 2016-12-29    57.500    67.500
364 2016-12-30    66.875    68.125
365 2016-12-31    68.750    66.875

[366 rows x 3 columns]

#### 일최고기온

In [ ]:
sengyeon1_2016_maxtemp.loc[sengyeon1_2016_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
589,Start : 20160201,NaN,NaN,NaN
1141,Start : 20160301,NaN,NaN,NaN
1731,Start : 20160401,NaN,NaN,NaN
2302,Start : 20160501,NaN,NaN,NaN
2892,Start : 20160601,NaN,NaN,NaN
3463,Start : 20160701,NaN,NaN,NaN
4053,Start : 20160801,NaN,NaN,NaN
4643,Start : 20160901,NaN,NaN,NaN
5214,Start : 20161001,NaN,NaN,NaN
5804,Start : 20161101,NaN,NaN,NaN
6375,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_maxtemp.loc[sengyeon1_2016_maxtemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_maxtemp2 = sengyeon1_2016_maxtemp.iloc[:6965,:]

In [ ]:
sengyeon1_2016_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_maxtemp2['hour'] = pd.to_numeric(sengyeon1_2016_maxtemp2['hour'])
sengyeon1_2016_maxtemp2['forecast'] =  pd.to_numeric(sengyeon1_2016_maxtemp2['forecast'])
sengyeon1_2016_maxtemp2['value'] =  pd.to_numeric(sengyeon1_2016_maxtemp2['value'])

In [ ]:
sengyeon1_2016_maxtemp2.loc[sengyeon1_2016_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
589    Start : 20160201    NaN       NaN    NaN
1141   Start : 20160301    NaN       NaN    NaN
1731   Start : 20160401    NaN       NaN    NaN
2302   Start : 20160501    NaN       NaN    NaN
2892   Start : 20160601    NaN       NaN    NaN
3463   Start : 20160701    NaN       NaN    NaN
4053   Start : 20160801    NaN       NaN    NaN
4643   Start : 20160901    NaN       NaN    NaN
5214   Start : 20161001    NaN       NaN    NaN
5804   Start : 20161101    NaN       NaN    NaN
6375   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_maxtemp2.loc[sengyeon1_2016_maxtemp2['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
sengyeon1_2016_maxtemp_month1 = make_date(sengyeon1_2016_maxtemp2[:589], 2016, 1)
sengyeon1_2016_maxtemp_month2 = make_date(sengyeon1_2016_maxtemp2[590:1141], 2016, 2)
sengyeon1_2016_maxtemp_month3 = make_date(sengyeon1_2016_maxtemp2[1142:1731], 2016, 3)
sengyeon1_2016_maxtemp_month4 = make_date(sengyeon1_2016_maxtemp2[1732:2302], 2016, 4)
sengyeon1_2016_maxtemp_month5 = make_date(sengyeon1_2016_maxtemp2[2303:2892], 2016, 5)
sengyeon1_2016_maxtemp_month6 = make_date(sengyeon1_2016_maxtemp2[2893:3463], 2016, 6)
sengyeon1_2016_maxtemp_month7 = make_date(sengyeon1_2016_maxtemp2[3464:4053], 2016, 7)
sengyeon1_2016_maxtemp_month8 = make_date(sengyeon1_2016_maxtemp2[4054:4643], 2016, 8)
sengyeon1_2016_maxtemp_month9 = make_date(sengyeon1_2016_maxtemp2[4644:5214], 2016, 9)
sengyeon1_2016_maxtemp_month10 = make_date(sengyeon1_2016_maxtemp2[5215:5804], 2016, 10)
sengyeon1_2016_maxtemp_month11 = make_date(sengyeon1_2016_maxtemp2[5805:6375], 2016, 11)
sengyeon1_2016_maxtemp_month12 = make_date(sengyeon1_2016_maxtemp2[6376:], 2016, 12)

df_list = [sengyeon1_2016_maxtemp_month1, sengyeon1_2016_maxtemp_month2, sengyeon1_2016_maxtemp_month3, sengyeon1_2016_maxtemp_month4, sengyeon1_2016_maxtemp_month5,
           sengyeon1_2016_maxtemp_month6, sengyeon1_2016_maxtemp_month7, sengyeon1_2016_maxtemp_month8, sengyeon1_2016_maxtemp_month9 ,sengyeon1_2016_maxtemp_month10,
           sengyeon1_2016_maxtemp_month11, sengyeon1_2016_maxtemp_month12]

sengyeon1_2016_maxtemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_maxtemp_new1 = sengyeon1_2016_maxtemp_new.loc[(sengyeon1_2016_maxtemp_new['hour'] == 2300) & ((sengyeon1_2016_maxtemp_new['forecast']==4.0) | (sengyeon1_2016_maxtemp_new['forecast']==7.0) | (sengyeon1_2016_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

sengyeon1_2016_maxtemp_new1.columns = ['date', 'max_temp_24']

sengyeon1_2016_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2016-01-01         10.0
1   2016-01-02         10.0
2   2016-01-03          5.0
3   2016-01-04          3.0
4   2016-01-05          3.0
..         ...          ...
361 2016-12-27          3.0
362 2016-12-28          7.0
363 2016-12-29          8.0
364 2016-12-30          9.0
365 2016-12-31          9.0

[366 rows x 2 columns]

#### 일최저기온

In [ ]:
sengyeon1_2016_mintemp.loc[sengyeon1_2016_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
496,Start : 20160201,NaN,NaN,NaN
961,Start : 20160301,NaN,NaN,NaN
1458,Start : 20160401,NaN,NaN,NaN
1939,Start : 20160501,NaN,NaN,NaN
2436,Start : 20160601,NaN,NaN,NaN
2917,Start : 20160701,NaN,NaN,NaN
3414,Start : 20160801,NaN,NaN,NaN
3911,Start : 20160901,NaN,NaN,NaN
4392,Start : 20161001,NaN,NaN,NaN
4889,Start : 20161101,NaN,NaN,NaN
5370,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_mintemp.loc[sengyeon1_2016_mintemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_mintemp2 = sengyeon1_2016_mintemp.iloc[:5867,:]

In [ ]:
sengyeon1_2016_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_mintemp2['hour'] = pd.to_numeric(sengyeon1_2016_mintemp2['hour'])
sengyeon1_2016_mintemp2['forecast'] =  pd.to_numeric(sengyeon1_2016_mintemp2['forecast'])
sengyeon1_2016_mintemp2['value'] =  pd.to_numeric(sengyeon1_2016_mintemp2['value'])

In [ ]:
sengyeon1_2016_mintemp2.loc[sengyeon1_2016_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20160201    NaN       NaN    NaN
961    Start : 20160301    NaN       NaN    NaN
1458   Start : 20160401    NaN       NaN    NaN
1939   Start : 20160501    NaN       NaN    NaN
2436   Start : 20160601    NaN       NaN    NaN
2917   Start : 20160701    NaN       NaN    NaN
3414   Start : 20160801    NaN       NaN    NaN
3911   Start : 20160901    NaN       NaN    NaN
4392   Start : 20161001    NaN       NaN    NaN
4889   Start : 20161101    NaN       NaN    NaN
5370   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_mintemp2.loc[sengyeon1_2016_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
sengyeon1_2016_mintemp_month1 = make_date(sengyeon1_2016_mintemp2[:496], 2016, 1)
sengyeon1_2016_mintemp_month2 = make_date(sengyeon1_2016_mintemp2[497:961], 2016, 2)
sengyeon1_2016_mintemp_month3 = make_date(sengyeon1_2016_mintemp2[962:1458], 2016, 3)
sengyeon1_2016_mintemp_month4 = make_date(sengyeon1_2016_mintemp2[1459:1939], 2016, 4)
sengyeon1_2016_mintemp_month5 = make_date(sengyeon1_2016_mintemp2[1940:2436], 2016, 5)
sengyeon1_2016_mintemp_month6 = make_date(sengyeon1_2016_mintemp2[2437:2917], 2016, 6)
sengyeon1_2016_mintemp_month7 = make_date(sengyeon1_2016_mintemp2[2918:3414], 2016, 7)
sengyeon1_2016_mintemp_month8 = make_date(sengyeon1_2016_mintemp2[3415:3911], 2016, 8)
sengyeon1_2016_mintemp_month9 = make_date(sengyeon1_2016_mintemp2[3912:4392], 2016, 9)
sengyeon1_2016_mintemp_month10 = make_date(sengyeon1_2016_mintemp2[4393:4889], 2016, 10)
sengyeon1_2016_mintemp_month11 = make_date(sengyeon1_2016_mintemp2[4890:5370], 2016, 11)
sengyeon1_2016_mintemp_month12 = make_date(sengyeon1_2016_mintemp2[5371:], 2016, 12)

df_list = [sengyeon1_2016_mintemp_month1, sengyeon1_2016_mintemp_month2, sengyeon1_2016_mintemp_month3, sengyeon1_2016_mintemp_month4, sengyeon1_2016_mintemp_month5,
           sengyeon1_2016_mintemp_month6, sengyeon1_2016_mintemp_month7, sengyeon1_2016_mintemp_month8, sengyeon1_2016_mintemp_month9 ,sengyeon1_2016_mintemp_month10,
           sengyeon1_2016_mintemp_month11, sengyeon1_2016_mintemp_month12]

sengyeon1_2016_mintemp_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_mintemp_new1 = sengyeon1_2016_mintemp_new.loc[(sengyeon1_2016_mintemp_new['hour'] == 1400) & ((sengyeon1_2016_mintemp_new['forecast']==4.0) | (sengyeon1_2016_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

sengyeon1_2016_mintemp_new1.columns = ['date', 'min_temp_24']

sengyeon1_2016_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2016-01-01          1.0
1   2016-01-02          1.0
2   2016-01-03         -5.0
3   2016-01-04         -7.0
4   2016-01-05         -8.0
..         ...          ...
361 2016-12-27        -10.0
362 2016-12-28        -10.0
363 2016-12-29        -10.0
364 2016-12-30         -4.0
365 2016-12-31         -4.0

[366 rows x 2 columns]

#### 풍속

In [ ]:
sengyeon1_2016_wind.loc[sengyeon1_2016_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:61_134 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
sengyeon1_2016_wind.loc[sengyeon1_2016_wind['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:61_134 Start : 20160101 ]
Index: []

In [ ]:
sengyeon1_2016_wind2 = sengyeon1_2016_wind.iloc[:54179]

In [ ]:
sengyeon1_2016_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
sengyeon1_2016_wind2['hour'] = pd.to_numeric(sengyeon1_2016_wind2['hour'])
sengyeon1_2016_wind2['forecast'] =  pd.to_numeric(sengyeon1_2016_wind2['forecast'])
sengyeon1_2016_wind2['value'] =  pd.to_numeric(sengyeon1_2016_wind2['value'])

In [ ]:
sengyeon1_2016_wind2.loc[sengyeon1_2016_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
sengyeon1_2016_wind_month1 = make_date(sengyeon1_2016_wind2[:4588], 2016, 1)
sengyeon1_2016_wind_month2 = make_date(sengyeon1_2016_wind2[4589:8881], 2016, 2)
sengyeon1_2016_wind_month3 = make_date(sengyeon1_2016_wind2[8882:13470], 2016, 3)
sengyeon1_2016_wind_month4 = make_date(sengyeon1_2016_wind2[13471:17911], 2016, 4)
sengyeon1_2016_wind_month5 = make_date(sengyeon1_2016_wind2[17912:22500], 2016, 5)
sengyeon1_2016_wind_month6 = make_date(sengyeon1_2016_wind2[22501:26941], 2016, 6)
sengyeon1_2016_wind_month7 = make_date(sengyeon1_2016_wind2[26942:31530], 2016, 7)
sengyeon1_2016_wind_month8 = make_date(sengyeon1_2016_wind2[31531:36119], 2016, 8)
sengyeon1_2016_wind_month9 = make_date(sengyeon1_2016_wind2[36120:40560], 2016, 9)
sengyeon1_2016_wind_month10 = make_date(sengyeon1_2016_wind2[40561:45149], 2016, 10)
sengyeon1_2016_wind_month11 = make_date(sengyeon1_2016_wind2[45150:49590], 2016, 11)
sengyeon1_2016_wind_month12 = make_date(sengyeon1_2016_wind2[49591:], 2016, 12)

df_list = [sengyeon1_2016_wind_month1, sengyeon1_2016_wind_month2, sengyeon1_2016_wind_month3, sengyeon1_2016_wind_month4, sengyeon1_2016_wind_month5,
           sengyeon1_2016_wind_month6, sengyeon1_2016_wind_month7, sengyeon1_2016_wind_month8, sengyeon1_2016_wind_month9, sengyeon1_2016_wind_month10,
           sengyeon1_2016_wind_month11, sengyeon1_2016_wind_month12]

sengyeon1_2016_wind_new = pd.concat(df_list, ignore_index = True)

sengyeon1_2016_wind_new1_24 = sengyeon1_2016_wind_new.loc[(sengyeon1_2016_wind_new['hour'] == 1400) & ((sengyeon1_2016_wind_new['forecast']>=4.0) & (sengyeon1_2016_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
sengyeon1_2016_wind_new1_48 = sengyeon1_2016_wind_new.loc[(sengyeon1_2016_wind_new['hour'] == 1400) & ((sengyeon1_2016_wind_new['forecast']>=28.0) & (sengyeon1_2016_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

sengyeon1_2016_wind_new1_24.columns = ['date', 'wind_24']
sengyeon1_2016_wind_new1_48.columns = ['date', 'wind_48']

sengyeon1_2016_wind_new2 = pd.concat([sengyeon1_2016_wind_new1_24, sengyeon1_2016_wind_new1_48['wind_48']], axis=1)
sengyeon1_2016_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2016-01-01    2.875    1.500
1   2016-01-02    1.500    1.625
2   2016-01-03    1.750    2.000
3   2016-01-04    2.000    2.625
4   2016-01-05    2.500    2.500
..         ...      ...      ...
361 2016-12-27    1.500    2.000
362 2016-12-28    2.000    1.875
363 2016-12-29    1.875    1.625
364 2016-12-30    1.625    1.625
365 2016-12-31    1.625    1.750

[366 rows x 3 columns]

#### 2016년 생연1동 데이터

In [ ]:
from functools import reduce
dfs = [sengyeon1_2016_rainfall_new1, sengyeon1_2016_snow_new1, sengyeon1_2016_temp3_new2, sengyeon1_2016_humid_new2,sengyeon1_2016_maxtemp_new1,
       sengyeon1_2016_mintemp_new1, sengyeon1_2016_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,0.0,0.0,4.875,3.000,70.625,68.125,10.0,1.0,2.875,1.500
1,2016-01-02,0.0,0.0,5.125,2.125,68.125,63.125,10.0,1.0,1.500,1.625
2,2016-01-03,0.0,0.0,1.750,-2.750,65.625,51.250,5.0,-5.0,1.750,2.000
3,2016-01-04,0.0,0.0,-2.625,-2.875,51.875,58.750,3.0,-7.0,2.000,2.625
4,2016-01-05,0.0,0.0,-3.000,-4.375,59.375,50.625,3.0,-8.0,2.500,2.500
...,...,...,...,...,...,...,...,...,...,...,...
361,2016-12-27,0.0,0.0,-4.375,-3.250,54.375,47.500,3.0,-10.0,1.500,2.000
362,2016-12-28,1.0,1.0,-3.375,-3.750,47.500,59.375,7.0,-10.0,2.000,1.875
363,2016-12-29,0.0,0.0,-3.500,0.625,57.500,67.500,8.0,-10.0,1.875,1.625
364,2016-12-30,0.0,0.0,0.250,2.000,66.875,68.125,9.0,-4.0,1.625,1.625
365,2016-12-31,0.0,0.0,2.375,3.000,68.750,66.875,9.0,-4.0,1.625,1.750

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_생연1동_2016.csv', index=False)

## 양평읍 -

### 2012년

In [ ]:
yangpyeong_2012_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_12시간강수량_201201_201212.csv')
yangpyeong_2012_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_12시간신적설_201201_201212.csv')
yangpyeong_2012_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_3시간기온_201201_201212.csv')
yangpyeong_2012_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_습도_201201_201212.csv')
yangpyeong_2012_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_일최고기온_201201_201212.csv')
yangpyeong_2012_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_일최저기온_201201_201212.csv')
yangpyeong_2012_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/양평읍_풍속_201201_201212.csv')

#### 12시간강수량

In [ ]:
yangpyeong_2012_rainfall.loc[yangpyeong_2012_rainfall['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
yangpyeong_2012_rainfall.loc[yangpyeong_2012_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_rainfall_month1 = make_date(yangpyeong_2012_rainfall[:1116], 2012, 1)
yangpyeong_2012_rainfall_month2 = make_date(yangpyeong_2012_rainfall[1117:2161], 2012, 2)
yangpyeong_2012_rainfall_month3 = make_date(yangpyeong_2012_rainfall[2162:3278], 2012, 3)
yangpyeong_2012_rainfall_month4 = make_date(yangpyeong_2012_rainfall[3279:4359], 2012, 4)
yangpyeong_2012_rainfall_month5 = make_date(yangpyeong_2012_rainfall[4360:4396], 2012, 5)
yangpyeong_2012_rainfall_month6 = make_date(yangpyeong_2012_rainfall[4397:5477], 2012, 6)
yangpyeong_2012_rainfall_month7 = make_date(yangpyeong_2012_rainfall[5478:5514], 2012, 7)
yangpyeong_2012_rainfall_month8 = make_date(yangpyeong_2012_rainfall[5515:6595], 2012, 8)
yangpyeong_2012_rainfall_month9 = make_date(yangpyeong_2012_rainfall[6596:7676], 2012, 9)
yangpyeong_2012_rainfall_month10 = make_date(yangpyeong_2012_rainfall[7677:7713], 2012, 10)
yangpyeong_2012_rainfall_month11 = make_date(yangpyeong_2012_rainfall[7714:8794], 2012, 11)
yangpyeong_2012_rainfall_month12 = make_date(yangpyeong_2012_rainfall[8795:], 2012, 12)

df_list = [yangpyeong_2012_rainfall_month1, yangpyeong_2012_rainfall_month2, yangpyeong_2012_rainfall_month3, yangpyeong_2012_rainfall_month4, yangpyeong_2012_rainfall_month5,
           yangpyeong_2012_rainfall_month6, yangpyeong_2012_rainfall_month7, yangpyeong_2012_rainfall_month8, yangpyeong_2012_rainfall_month9, yangpyeong_2012_rainfall_month10,
           yangpyeong_2012_rainfall_month11,yangpyeong_2012_rainfall_month12 ]
yangpyeong_2012_rainfall_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_rainfall_new1 = yangpyeong_2012_rainfall_new.loc[(yangpyeong_2012_rainfall_new['hour'] == 1100) & ((yangpyeong_2012_rainfall_new['forecast']==4.0) | (yangpyeong_2012_rainfall_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2012_rainfall_new1.columns = ['date', 'rainfall_24']
yangpyeong_2012_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2012-01-01          5.0
1   2012-01-02          0.0
2   2012-01-03          0.0
3   2012-01-04          0.0
4   2012-01-05          0.0
..         ...          ...
270 2012-12-27          5.0
271 2012-12-28          0.0
272 2012-12-29          5.0
273 2012-12-30          1.0
274 2012-12-31          0.0

[275 rows x 2 columns]

#### 12시간신적설

In [ ]:
yangpyeong_2012_snow.loc[yangpyeong_2012_snow['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
yangpyeong_2012_snow.loc[yangpyeong_2012_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_snow_month1 = make_date(yangpyeong_2012_snow[:1116], 2012, 1)
yangpyeong_2012_snow_month2 = make_date(yangpyeong_2012_snow[1117:2161], 2012, 2)
yangpyeong_2012_snow_month3 = make_date(yangpyeong_2012_snow[2162:3278], 2012, 3)
yangpyeong_2012_snow_month4 = make_date(yangpyeong_2012_snow[3279:4359], 2012, 4)
yangpyeong_2012_snow_month5 = make_date(yangpyeong_2012_snow[4360:4396], 2012, 5)
yangpyeong_2012_snow_month6 = make_date(yangpyeong_2012_snow[4397:5477], 2012, 6)
yangpyeong_2012_snow_month7 = make_date(yangpyeong_2012_snow[5478:5514], 2012, 7)
yangpyeong_2012_snow_month8 = make_date(yangpyeong_2012_snow[5515:6595], 2012, 8)
yangpyeong_2012_snow_month9 = make_date(yangpyeong_2012_snow[6596:7676], 2012, 9)
yangpyeong_2012_snow_month10 = make_date(yangpyeong_2012_snow[7677:7713], 2012, 10)
yangpyeong_2012_snow_month11 = make_date(yangpyeong_2012_snow[7714:8794], 2012, 11)
yangpyeong_2012_snow_month12 = make_date(yangpyeong_2012_snow[8795:], 2012, 12)

df_list = [yangpyeong_2012_snow_month1, yangpyeong_2012_snow_month2, yangpyeong_2012_snow_month3, yangpyeong_2012_snow_month4, yangpyeong_2012_snow_month5,
           yangpyeong_2012_snow_month6, yangpyeong_2012_snow_month7, yangpyeong_2012_snow_month8, yangpyeong_2012_snow_month9, yangpyeong_2012_snow_month10,
           yangpyeong_2012_snow_month11, yangpyeong_2012_snow_month12 ]

yangpyeong_2012_snow_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_snow_new1 = yangpyeong_2012_snow_new.loc[(yangpyeong_2012_snow_new['hour'] == 1100) & ((yangpyeong_2012_snow_new['forecast']==4.0) | (yangpyeong_2012_snow_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2012_snow_new1.columns = ['date', 'snow_24']
yangpyeong_2012_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2012-01-01      1.0
1   2012-01-02      0.0
2   2012-01-03      0.0
3   2012-01-04      0.0
4   2012-01-05      0.0
..         ...      ...
270 2012-12-27      5.0
271 2012-12-28      0.0
272 2012-12-29      5.0
273 2012-12-30      1.0
274 2012-12-31      0.0

[275 rows x 2 columns]

#### 3시간기온

In [ ]:
yangpyeong_2012_temp3.loc[yangpyeong_2012_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_temp3_month1 = make_date(yangpyeong_2012_temp3[:4092], 2012, 1)
yangpyeong_2012_temp3_month2 = make_date(yangpyeong_2012_temp3[4093:7921], 2012, 2)
yangpyeong_2012_temp3_month3 = make_date(yangpyeong_2012_temp3[7922:12014], 2012, 3)
yangpyeong_2012_temp3_month4 = make_date(yangpyeong_2012_temp3[12015:15975], 2012, 4)
yangpyeong_2012_temp3_month5 = make_date(yangpyeong_2012_temp3[15976:20068], 2012, 5)
yangpyeong_2012_temp3_month6 = make_date(yangpyeong_2012_temp3[20069:24029], 2012, 6)
yangpyeong_2012_temp3_month7 = make_date(yangpyeong_2012_temp3[24030:28122], 2012, 7)
yangpyeong_2012_temp3_month8 = make_date(yangpyeong_2012_temp3[28123:32215], 2012, 8)
yangpyeong_2012_temp3_month9 = make_date(yangpyeong_2012_temp3[32216:36176], 2012, 9)
yangpyeong_2012_temp3_month10 = make_date(yangpyeong_2012_temp3[36177:], 2012, 10)

df_list = [yangpyeong_2012_temp3_month1, yangpyeong_2012_temp3_month2, yangpyeong_2012_temp3_month3, yangpyeong_2012_temp3_month4, yangpyeong_2012_temp3_month5,
           yangpyeong_2012_temp3_month6, yangpyeong_2012_temp3_month7, yangpyeong_2012_temp3_month8, yangpyeong_2012_temp3_month9, yangpyeong_2012_temp3_month10]
yangpyeong_2012_temp3_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_temp3_new1_24 = yangpyeong_2012_temp3_new.loc[(yangpyeong_2012_temp3_new['hour'] == 1400) & ((yangpyeong_2012_temp3_new['forecast']>=4.0) & (yangpyeong_2012_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2012_temp3_new1_48 = yangpyeong_2012_temp3_new.loc[(yangpyeong_2012_temp3_new['hour'] == 1400) & ((yangpyeong_2012_temp3_new['forecast']>=28.0) & (yangpyeong_2012_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2012_temp3_new1_24.columns = ['date', 'temp_24']
yangpyeong_2012_temp3_new1_48.columns = ['date', 'temp_48']

yangpyeong_2012_temp3_new2 = pd.concat([yangpyeong_2012_temp3_new1_24, yangpyeong_2012_temp3_new1_48['temp_48']], axis=1)
yangpyeong_2012_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2012-01-01  -5.1625  -3.7875
1   2012-01-02  -5.0250  -5.9000
2   2012-01-03  -6.5250  -6.4000
3   2012-01-04  -6.5250  -3.4375
4   2012-01-05  -5.6625  -5.1625
..         ...      ...      ...
300 2012-10-27  12.6250   9.3750
301 2012-10-28   8.8750   8.0000
302 2012-10-29   8.2500   4.1375
303 2012-10-30   5.3750   4.7500
304 2012-10-31   4.0000   3.6500

[305 rows x 3 columns]

#### 습도

In [ ]:
yangpyeong_2012_humid.loc[yangpyeong_2012_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_humid_month1 = make_date(yangpyeong_2012_humid[:4092], 2012, 1)
yangpyeong_2012_humid_month2 = make_date(yangpyeong_2012_humid[4093:7921], 2012, 2)
yangpyeong_2012_humid_month3 = make_date(yangpyeong_2012_humid[7922:12014], 2012, 3)
yangpyeong_2012_humid_month4 = make_date(yangpyeong_2012_humid[12015:15975], 2012, 4)
yangpyeong_2012_humid_month5 = make_date(yangpyeong_2012_humid[15976:20068], 2012, 5)
yangpyeong_2012_humid_month6 = make_date(yangpyeong_2012_humid[20069:24029], 2012, 6)
yangpyeong_2012_humid_month7 = make_date(yangpyeong_2012_humid[24030:28122], 2012, 7)
yangpyeong_2012_humid_month8 = make_date(yangpyeong_2012_humid[28123:32215], 2012, 8)
yangpyeong_2012_humid_month9 = make_date(yangpyeong_2012_humid[32216:36176], 2012, 9)
yangpyeong_2012_humid_month10 = make_date(yangpyeong_2012_humid[36177:], 2012, 10)

df_list = [yangpyeong_2012_humid_month1, yangpyeong_2012_humid_month2, yangpyeong_2012_humid_month3, yangpyeong_2012_humid_month4, yangpyeong_2012_humid_month5,
           yangpyeong_2012_humid_month6, yangpyeong_2012_humid_month7, yangpyeong_2012_humid_month8, yangpyeong_2012_humid_month9,yangpyeong_2012_humid_month10]
yangpyeong_2012_humid_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_humid_new1_24 = yangpyeong_2012_humid_new.loc[(yangpyeong_2012_humid_new['hour'] == 1400) & ((yangpyeong_2012_humid_new['forecast']>=4.0) & (yangpyeong_2012_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2012_humid_new1_48 = yangpyeong_2012_humid_new.loc[(yangpyeong_2012_humid_new['hour'] == 1400) & ((yangpyeong_2012_humid_new['forecast']>=28.0) & (yangpyeong_2012_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2012_humid_new1_24.columns = ['date', 'humid_24']
yangpyeong_2012_humid_new1_48.columns = ['date', 'humid_48']

yangpyeong_2012_humid_new2 = pd.concat([yangpyeong_2012_humid_new1_24, yangpyeong_2012_humid_new1_48['humid_48']], axis=1)
yangpyeong_2012_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2012-01-01    59.375    63.750
1   2012-01-02    71.250    45.000
2   2012-01-03    51.500    56.875
3   2012-01-04    58.750    55.000
4   2012-01-05    49.375    60.000
..         ...       ...       ...
300 2012-10-27    69.375    73.750
301 2012-10-28    73.750    63.750
302 2012-10-29    64.750    66.250
303 2012-10-30    63.750    53.125
304 2012-10-31    46.875    60.000

[305 rows x 3 columns]

#### 일최고기온



forecast 4,7 중에 max

hour 2300 -> 오전 8시  / 오후 12시 오후 3시

In [ ]:

yangpyeong_2012_maxtemp.loc[yangpyeong_2012_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
465,Start : 20120201,NaN,NaN,NaN
901,Start : 20120301,NaN,NaN,NaN
1367,Start : 20120401,NaN,NaN,NaN
1818,Start : 20120501,NaN,NaN,NaN
2284,Start : 20120601,NaN,NaN,NaN
2735,Start : 20120701,NaN,NaN,NaN
3201,Start : 20120801,NaN,NaN,NaN
3667,Start : 20120901,NaN,NaN,NaN
4118,Start : 20121001,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_maxtemp.loc[yangpyeong_2012_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
yangpyeong_2012_maxtemp_month1 = make_date(yangpyeong_2012_maxtemp[:465], 2012, 1)
yangpyeong_2012_maxtemp_month2 = make_date(yangpyeong_2012_maxtemp[466:901], 2012, 2)
yangpyeong_2012_maxtemp_month3 = make_date(yangpyeong_2012_maxtemp[902:1367], 2012, 3)
yangpyeong_2012_maxtemp_month4 = make_date(yangpyeong_2012_maxtemp[1368:1818], 2012, 4)
yangpyeong_2012_maxtemp_month5 = make_date(yangpyeong_2012_maxtemp[1819:2284], 2012, 5)
yangpyeong_2012_maxtemp_month6 = make_date(yangpyeong_2012_maxtemp[2285:2735], 2012, 6)
yangpyeong_2012_maxtemp_month7 = make_date(yangpyeong_2012_maxtemp[2736:3201], 2012, 7)
yangpyeong_2012_maxtemp_month8 = make_date(yangpyeong_2012_maxtemp[3202:3667], 2012, 8)
yangpyeong_2012_maxtemp_month9 = make_date(yangpyeong_2012_maxtemp[3668:4118], 2012, 9)
yangpyeong_2012_maxtemp_month10 = make_date(yangpyeong_2012_maxtemp[4119:], 2012, 10)

df_list = [yangpyeong_2012_maxtemp_month1, yangpyeong_2012_maxtemp_month2, yangpyeong_2012_maxtemp_month3, yangpyeong_2012_maxtemp_month4, yangpyeong_2012_maxtemp_month5,
           yangpyeong_2012_maxtemp_month6, yangpyeong_2012_maxtemp_month7, yangpyeong_2012_maxtemp_month8, yangpyeong_2012_maxtemp_month9 ,yangpyeong_2012_maxtemp_month10]

yangpyeong_2012_maxtemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_maxtemp_new1 = yangpyeong_2012_maxtemp_new.loc[(yangpyeong_2012_maxtemp_new['hour'] == 2300) & ((yangpyeong_2012_maxtemp_new['forecast']==4.0) | (yangpyeong_2012_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

yangpyeong_2012_maxtemp_new1.columns = ['date', 'max_temp_24']

yangpyeong_2012_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2012-01-01          1.0
1   2012-01-02         -0.9
2   2012-01-03          0.0
3   2012-01-04          2.0
4   2012-01-05          2.0
..         ...          ...
300 2012-10-27         19.0
301 2012-10-28         16.0
302 2012-10-29         12.0
303 2012-10-30         12.0
304 2012-10-31         11.0

[305 rows x 2 columns]

#### 일최저기온



forecast 4,7 중에 min

hour 1400 -> 오후 11시  / 오전 3시 오전 6시

In [ ]:
yangpyeong_2012_mintemp.loc[yangpyeong_2012_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
496,Start : 20120201,NaN,NaN,NaN
961,Start : 20120301,NaN,NaN,NaN
1458,Start : 20120401,NaN,NaN,NaN
1939,Start : 20120501,NaN,NaN,NaN
2436,Start : 20120601,NaN,NaN,NaN
2917,Start : 20120701,NaN,NaN,NaN
3414,Start : 20120801,NaN,NaN,NaN
3911,Start : 20120901,NaN,NaN,NaN
4392,Start : 20121001,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_mintemp_month1 = make_date(yangpyeong_2012_mintemp[:496], 2012, 1)
yangpyeong_2012_mintemp_month2 = make_date(yangpyeong_2012_mintemp[497:961], 2012, 2)
yangpyeong_2012_mintemp_month3 = make_date(yangpyeong_2012_mintemp[962:1458], 2012, 3)
yangpyeong_2012_mintemp_month4 = make_date(yangpyeong_2012_mintemp[1459:1939], 2012, 4)
yangpyeong_2012_mintemp_month5 = make_date(yangpyeong_2012_mintemp[1940:2436], 2012, 5)
yangpyeong_2012_mintemp_month6 = make_date(yangpyeong_2012_mintemp[2437:2917], 2012, 6)
yangpyeong_2012_mintemp_month7 = make_date(yangpyeong_2012_mintemp[2918:3414], 2012, 7)
yangpyeong_2012_mintemp_month8 = make_date(yangpyeong_2012_mintemp[3415:3911], 2012, 8)
yangpyeong_2012_mintemp_month9 = make_date(yangpyeong_2012_mintemp[3912:4392], 2012, 9)
yangpyeong_2012_mintemp_month10 = make_date(yangpyeong_2012_mintemp[4393:], 2012, 10)

df_list = [yangpyeong_2012_mintemp_month1, yangpyeong_2012_mintemp_month2, yangpyeong_2012_mintemp_month3, yangpyeong_2012_mintemp_month4, yangpyeong_2012_mintemp_month5,
           yangpyeong_2012_mintemp_month6, yangpyeong_2012_mintemp_month7, yangpyeong_2012_mintemp_month8, yangpyeong_2012_mintemp_month9 ,yangpyeong_2012_mintemp_month10]

yangpyeong_2012_mintemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_mintemp_new1 = yangpyeong_2012_mintemp_new.loc[(yangpyeong_2012_mintemp_new['hour'] == 1400) & ((yangpyeong_2012_mintemp_new['forecast']==4.0) | (yangpyeong_2012_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

yangpyeong_2012_mintemp_new1.columns = ['date', 'min_temp_24']

yangpyeong_2012_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2012-01-01         -9.9
1   2012-01-02         -9.9
2   2012-01-03        -12.9
3   2012-01-04        -12.9
4   2012-01-05        -10.9
..         ...          ...
300 2012-10-27          3.0
301 2012-10-28          3.0
302 2012-10-29         -1.9
303 2012-10-30          0.0
304 2012-10-31         -1.9

[305 rows x 2 columns]

#### 풍속

In [ ]:
yangpyeong_2012_wind.loc[yangpyeong_2012_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120801,NaN,NaN,NaN
16107,Start : 20120901,NaN,NaN,NaN

In [ ]:
yangpyeong_2012_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2012_wind_month1 = make_date(yangpyeong_2012_wind[:4092], 2012, 1)
yangpyeong_2012_wind_month2 = make_date(yangpyeong_2012_wind[4093:7921], 2012, 2)
yangpyeong_2012_wind_month3 = make_date(yangpyeong_2012_wind[7922:12014], 2012, 3)
yangpyeong_2012_wind_month8 = make_date(yangpyeong_2012_wind[12015:16107], 2012, 8)
yangpyeong_2012_wind_month9 = make_date(yangpyeong_2012_wind[16108:], 2012, 9)


df_list = [yangpyeong_2012_wind_month1, yangpyeong_2012_wind_month2, yangpyeong_2012_wind_month3, yangpyeong_2012_wind_month8, yangpyeong_2012_wind_month9]
yangpyeong_2012_wind_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2012_wind_new1_24 = yangpyeong_2012_wind_new.loc[(yangpyeong_2012_wind_new['hour'] == 1400) & ((yangpyeong_2012_wind_new['forecast']>=4.0) & (yangpyeong_2012_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2012_wind_new1_48 = yangpyeong_2012_wind_new.loc[(yangpyeong_2012_wind_new['hour'] == 1400) & ((yangpyeong_2012_wind_new['forecast']>=28.0) & (yangpyeong_2012_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2012_wind_new1_24.columns = ['date', 'wind_24']
yangpyeong_2012_wind_new1_48.columns = ['date', 'wind_48']

yangpyeong_2012_wind_new2 = pd.concat([yangpyeong_2012_wind_new1_24, yangpyeong_2012_wind_new1_48['wind_48']], axis=1)
yangpyeong_2012_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2012-01-01   1.0750   1.4000
1   2012-01-02   1.4250   3.3750
2   2012-01-03   2.7625   1.5000
3   2012-01-04   1.5125   1.2875
4   2012-01-05   1.5625   0.9250
..         ...      ...      ...
147 2012-09-26   0.7875   1.8250
148 2012-09-27   2.3750   2.7500
149 2012-09-28   2.7500   1.5250
150 2012-09-29   1.2000   1.0500
151 2012-09-30   0.7625   0.7625

[152 rows x 3 columns]

#### 2012년 양평읍 데이터

위의 7개 데이터 merge

In [ ]:
from functools import reduce
dfs = [yangpyeong_2012_rainfall_new1, yangpyeong_2012_snow_new1, yangpyeong_2012_temp3_new2, yangpyeong_2012_humid_new2,yangpyeong_2012_maxtemp_new1,
       yangpyeong_2012_mintemp_new1,yangpyeong_2012_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,5.0,1.0,-5.1625,-3.7875,59.375,63.750,1.0,-9.9,1.0750,1.4000
1,2012-01-02,0.0,0.0,-5.0250,-5.9000,71.250,45.000,-0.9,-9.9,1.4250,3.3750
2,2012-01-03,0.0,0.0,-6.5250,-6.4000,51.500,56.875,0.0,-12.9,2.7625,1.5000
3,2012-01-04,0.0,0.0,-6.5250,-3.4375,58.750,55.000,2.0,-12.9,1.5125,1.2875
4,2012-01-05,0.0,0.0,-5.6625,-5.1625,49.375,60.000,2.0,-10.9,1.5625,0.9250
...,...,...,...,...,...,...,...,...,...,...,...
270,2012-12-27,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2012-12-28,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2012-12-29,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,2012-12-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-12-31,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_양평읍_2012.csv', index=False)

### 2013년

In [ ]:
yangpyeong_2013_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_6시간강수량_201301_201312.csv')
yangpyeong_2013_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_6시간적설_201301_201312.csv')
yangpyeong_2013_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_3시간기온_201301_201312.csv')
yangpyeong_2013_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_습도_201301_201312.csv')
yangpyeong_2013_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_일최고기온_201301_201312.csv')
yangpyeong_2013_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_일최저기온_201301_201312.csv')
yangpyeong_2013_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/양평읍_풍속_201301_201312.csv')

#### 6시간강수량

In [ ]:
yangpyeong_2013_rainfall.loc[yangpyeong_2013_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_rainfall.loc[yangpyeong_2013_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2013_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_rainfall_month6 = make_date(yangpyeong_2013_rainfall[1:2041], 2013, 6)
yangpyeong_2013_rainfall_month7 = make_date(yangpyeong_2013_rainfall[2042:4150], 2013, 7)
yangpyeong_2013_rainfall_month8 = make_date(yangpyeong_2013_rainfall[4151:6259], 2013, 8)
yangpyeong_2013_rainfall_month9 = make_date(yangpyeong_2013_rainfall[6260:8300], 2013, 9)
yangpyeong_2013_rainfall_month10 = make_date(yangpyeong_2013_rainfall[8301:10409], 2013, 10)
yangpyeong_2013_rainfall_month11 = make_date(yangpyeong_2013_rainfall[10410:12450], 2013, 11)
yangpyeong_2013_rainfall_month12 = make_date(yangpyeong_2013_rainfall[12451:], 2013, 12)


df_list = [yangpyeong_2013_rainfall_month6, yangpyeong_2013_rainfall_month7, yangpyeong_2013_rainfall_month8, yangpyeong_2013_rainfall_month9, yangpyeong_2013_rainfall_month10,
           yangpyeong_2013_rainfall_month11, yangpyeong_2013_rainfall_month12]

yangpyeong_2013_rainfall_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_rainfall_new1 = yangpyeong_2013_rainfall_new.loc[(yangpyeong_2013_rainfall_new['hour'] == 1400) & ((yangpyeong_2013_rainfall_new['forecast']>=7.0) & (yangpyeong_2013_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2013_rainfall_new1.columns = ['date', 'rainfall_24']
yangpyeong_2013_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2013-06-01          0.0
1   2013-06-02          0.0
2   2013-06-03          0.0
3   2013-06-04          0.0
4   2013-06-05          0.0
..         ...          ...
209 2013-12-27          0.0
210 2013-12-28          0.0
211 2013-12-29          0.0
212 2013-12-30          0.0
213 2013-12-31          0.0

[214 rows x 2 columns]

#### 6시간적설

In [ ]:
yangpyeong_2013_snow.loc[yangpyeong_2013_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_snow.loc[yangpyeong_2013_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2013_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_snow_month6 = make_date(yangpyeong_2013_snow[1:2041], 2013, 6)
yangpyeong_2013_snow_month7 = make_date(yangpyeong_2013_snow[2042:4150], 2013, 7)
yangpyeong_2013_snow_month8 = make_date(yangpyeong_2013_snow[4151:6259], 2013, 8)
yangpyeong_2013_snow_month9 = make_date(yangpyeong_2013_snow[6260:8300], 2013, 9)
yangpyeong_2013_snow_month10 = make_date(yangpyeong_2013_snow[8301:10409], 2013, 10)
yangpyeong_2013_snow_month11 = make_date(yangpyeong_2013_snow[10410:12450], 2013, 11)
yangpyeong_2013_snow_month12 = make_date(yangpyeong_2013_snow[12451:], 2013, 12)


df_list = [yangpyeong_2013_snow_month6,yangpyeong_2013_snow_month7, yangpyeong_2013_snow_month8, yangpyeong_2013_snow_month9, yangpyeong_2013_snow_month10,
           yangpyeong_2013_snow_month11, yangpyeong_2013_snow_month12]

yangpyeong_2013_snow_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_snow_new1 = yangpyeong_2013_snow_new.loc[(yangpyeong_2013_snow_new['hour'] == 1400) & ((yangpyeong_2013_snow_new['forecast']>=7.0) & (yangpyeong_2013_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2013_snow_new1.columns = ['date', 'snow_24']
yangpyeong_2013_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2013-06-01      0.0
1   2013-06-02      0.0
2   2013-06-03      0.0
3   2013-06-04      0.0
4   2013-06-05      0.0
..         ...      ...
209 2013-12-27      0.0
210 2013-12-28      0.0
211 2013-12-29      0.0
212 2013-12-30      0.0
213 2013-12-31      0.0

[214 rows x 2 columns]

#### 3시간기온

In [ ]:
yangpyeong_2013_temp3.loc[yangpyeong_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_temp3[yangpyeong_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:69_125 Start : 20130101
48191    format: day  hour  forecast  value  location:69_125 Start : 20130101

In [ ]:
yangpyeong_2013_temp32 = yangpyeong_2013_temp3.iloc[:48191]

In [ ]:
yangpyeong_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_temp32['hour'] = pd.to_numeric(yangpyeong_2013_temp32['hour'])
yangpyeong_2013_temp32['forecast'] =  pd.to_numeric(yangpyeong_2013_temp32['forecast'])
yangpyeong_2013_temp32['value'] =  pd.to_numeric(yangpyeong_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
yangpyeong_2013_temp32.loc[yangpyeong_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
yangpyeong_2013_temp3_month1 = make_date(yangpyeong_2013_temp32[:4092], 2013, 1)
yangpyeong_2013_temp3_month2 = make_date(yangpyeong_2013_temp32[4093:7789], 2013, 2)
yangpyeong_2013_temp3_month3 = make_date(yangpyeong_2013_temp32[7790:11882], 2013, 3)
yangpyeong_2013_temp3_month4 = make_date(yangpyeong_2013_temp32[11883:15843], 2013, 4)
yangpyeong_2013_temp3_month5 = make_date(yangpyeong_2013_temp32[15844:19936], 2013, 5)
yangpyeong_2013_temp3_month6 = make_date(yangpyeong_2013_temp32[19937:23897], 2013, 6)
yangpyeong_2013_temp3_month7 = make_date(yangpyeong_2013_temp32[23898:27990], 2013, 7)
yangpyeong_2013_temp3_month8 = make_date(yangpyeong_2013_temp32[27991:32083], 2013, 8)
yangpyeong_2013_temp3_month9 = make_date(yangpyeong_2013_temp32[32084:36044], 2013, 9)
yangpyeong_2013_temp3_month10 = make_date(yangpyeong_2013_temp32[36045:40137], 2013, 10)
yangpyeong_2013_temp3_month11 = make_date(yangpyeong_2013_temp32[40138:44098], 2013, 11)
yangpyeong_2013_temp3_month12 = make_date(yangpyeong_2013_temp32[44099:], 2013, 12)


df_list = [yangpyeong_2013_temp3_month1, yangpyeong_2013_temp3_month2, yangpyeong_2013_temp3_month3, yangpyeong_2013_temp3_month4, yangpyeong_2013_temp3_month5,
           yangpyeong_2013_temp3_month6, yangpyeong_2013_temp3_month7, yangpyeong_2013_temp3_month8, yangpyeong_2013_temp3_month9,yangpyeong_2013_temp3_month10,
           yangpyeong_2013_temp3_month11, yangpyeong_2013_temp3_month12]

yangpyeong_2013_temp3_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_temp3_new1_24 = yangpyeong_2013_temp3_new.loc[(yangpyeong_2013_temp3_new['hour'] == 1400) & ((yangpyeong_2013_temp3_new['forecast']>=4.0) & (yangpyeong_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2013_temp3_new1_48 = yangpyeong_2013_temp3_new.loc[(yangpyeong_2013_temp3_new['hour'] == 1400) & ((yangpyeong_2013_temp3_new['forecast']>=28.0) & (yangpyeong_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2013_temp3_new1_24.columns = ['date', 'temp_24']
yangpyeong_2013_temp3_new1_48.columns = ['date', 'temp_48']

yangpyeong_2013_temp3_new2 = pd.concat([yangpyeong_2013_temp3_new1_24, yangpyeong_2013_temp3_new1_48['temp_48']], axis=1)
yangpyeong_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -11.6500 -13.7750
1   2013-01-02 -13.1500 -11.0250
2   2013-01-03 -11.0250  -6.6500
3   2013-01-04  -8.5250  -6.2750
4   2013-01-05  -9.0250  -8.0250
..         ...      ...      ...
360 2013-12-27  -6.5250  -5.7750
361 2013-12-28  -5.5250  -0.3250
362 2013-12-29  -0.4375  -0.5875
363 2013-12-30  -0.2125  -0.9500
364 2013-12-31   1.4000  -2.6750

[365 rows x 3 columns]

#### 습도

In [ ]:
yangpyeong_2013_humid.loc[yangpyeong_2013_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_humid[yangpyeong_2013_humid['hour']=='hour']

         format: day  hour  forecast  value  location:69_125 Start : 20130101
48191    format: day  hour  forecast  value  location:69_125 Start : 20130101

In [ ]:
yangpyeong_2013_humid2 = yangpyeong_2013_humid.iloc[:48191]

In [ ]:
yangpyeong_2013_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_humid2['hour'] = pd.to_numeric(yangpyeong_2013_humid2['hour'])
yangpyeong_2013_humid2['forecast'] =  pd.to_numeric(yangpyeong_2013_humid2['forecast'])
yangpyeong_2013_humid2['value'] =  pd.to_numeric(yangpyeong_2013_humid2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
yangpyeong_2013_humid2.loc[yangpyeong_2013_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
yangpyeong_2013_humid_month1 = make_date(yangpyeong_2013_humid2[:4092], 2013, 1)
yangpyeong_2013_humid_month2 = make_date(yangpyeong_2013_humid2[4093:7789], 2013, 2)
yangpyeong_2013_humid_month3 = make_date(yangpyeong_2013_humid2[7790:11882], 2013, 3)
yangpyeong_2013_humid_month4 = make_date(yangpyeong_2013_humid2[11883:15843], 2013, 4)
yangpyeong_2013_humid_month5 = make_date(yangpyeong_2013_humid2[15844:19936], 2013, 5)
yangpyeong_2013_humid_month6 = make_date(yangpyeong_2013_humid2[19937:23897], 2013, 6)
yangpyeong_2013_humid_month7 = make_date(yangpyeong_2013_humid2[23898:27990], 2013, 7)
yangpyeong_2013_humid_month8 = make_date(yangpyeong_2013_humid2[27991:32083], 2013, 8)
yangpyeong_2013_humid_month9 = make_date(yangpyeong_2013_humid2[32084:36044], 2013, 9)
yangpyeong_2013_humid_month10 = make_date(yangpyeong_2013_humid2[36045:40137], 2013, 10)
yangpyeong_2013_humid_month11 = make_date(yangpyeong_2013_humid2[40138:44098], 2013, 11)
yangpyeong_2013_humid_month12 = make_date(yangpyeong_2013_humid2[44099:], 2013, 12)

df_list = [yangpyeong_2013_humid_month1, yangpyeong_2013_humid_month2, yangpyeong_2013_humid_month3, yangpyeong_2013_humid_month4, yangpyeong_2013_humid_month5,
           yangpyeong_2013_humid_month6, yangpyeong_2013_humid_month7, yangpyeong_2013_humid_month8, yangpyeong_2013_humid_month9,yangpyeong_2013_humid_month10,
           yangpyeong_2013_humid_month11, yangpyeong_2013_humid_month12]

yangpyeong_2013_humid_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_humid_new1_24 = yangpyeong_2013_humid_new.loc[(yangpyeong_2013_humid_new['hour'] == 1400) & ((yangpyeong_2013_humid_new['forecast']>=4.0) & (yangpyeong_2013_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2013_humid_new1_48 = yangpyeong_2013_humid_new.loc[(yangpyeong_2013_humid_new['hour'] == 1400) & ((yangpyeong_2013_humid_new['forecast']>=28.0) & (yangpyeong_2013_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2013_humid_new1_24.columns = ['date', 'humid_24']
yangpyeong_2013_humid_new1_48.columns = ['date', 'humid_48']

yangpyeong_2013_humid_new2 = pd.concat([yangpyeong_2013_humid_new1_24, yangpyeong_2013_humid_new1_48['humid_48']], axis=1)
yangpyeong_2013_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2013-01-01    47.125    52.250
1   2013-01-02    47.500    56.250
2   2013-01-03    59.000    65.125
3   2013-01-04    65.625    58.250
4   2013-01-05    55.125    62.125
..         ...       ...       ...
360 2013-12-27    51.875    63.750
361 2013-12-28    60.625    63.750
362 2013-12-29    68.125    69.375
363 2013-12-30    72.500    68.125
364 2013-12-31    61.500    54.250

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
yangpyeong_2013_maxtemp.loc[yangpyeong_2013_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130101
465,Start : 20130201,NaN,NaN,NaN
886,Start : 20130301,NaN,NaN,NaN
1352,Start : 20130401,NaN,NaN,NaN
1803,Start : 20130501,NaN,NaN,NaN
2269,Start : 20130601,NaN,NaN,NaN
2720,Start : 20130701,NaN,NaN,NaN
3186,Start : 20130801,NaN,NaN,NaN
3652,Start : 20130901,NaN,NaN,NaN
4103,Start : 20131001,NaN,NaN,NaN
4569,Start : 20131101,NaN,NaN,NaN
5020,Start : 20131201,NaN,NaN,NaN
5952,Start : 20130201,NaN,NaN,NaN
6373,Start : 20130301,NaN,NaN,NaN
6839,Start : 20130401,NaN,NaN,NaN
7290,Start : 20130501,NaN,NaN,NaN
7756,Start : 20130601,NaN,NaN,NaN
8207,Start : 20130701,NaN,NaN,NaN
8673,Start : 20130801,NaN,NaN,NaN
9139,Start : 20130901,NaN,NaN,NaN
9590,Start : 20131001,NaN,NaN,NaN
10056,Start : 20131101,NaN,NaN,NaN
10507,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_maxtemp[yangpyeong_2013_maxtemp['hour']=='hour']

        format: day  hour  forecast  value  location:69_125 Start : 20130101
5486    format: day  hour  forecast  value  location:69_125 Start : 20130101

In [ ]:
yangpyeong_2013_maxtemp2 = yangpyeong_2013_maxtemp.iloc[:5486]

In [ ]:
yangpyeong_2013_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_maxtemp2['hour'] = pd.to_numeric(yangpyeong_2013_maxtemp2['hour'])
yangpyeong_2013_maxtemp2['forecast'] =  pd.to_numeric(yangpyeong_2013_maxtemp2['forecast'])
yangpyeong_2013_maxtemp2['value'] =  pd.to_numeric(yangpyeong_2013_maxtemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
yangpyeong_2013_maxtemp2.loc[yangpyeong_2013_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
465    Start : 20130201    NaN       NaN    NaN
886    Start : 20130301    NaN       NaN    NaN
1352   Start : 20130401    NaN       NaN    NaN
1803   Start : 20130501    NaN       NaN    NaN
2269   Start : 20130601    NaN       NaN    NaN
2720   Start : 20130701    NaN       NaN    NaN
3186   Start : 20130801    NaN       NaN    NaN
3652   Start : 20130901    NaN       NaN    NaN
4103   Start : 20131001    NaN       NaN    NaN
4569   Start : 20131101    NaN       NaN    NaN
5020   Start : 20131201    NaN       NaN    NaN

In [ ]:
yangpyeong_2013_maxtemp2.loc[yangpyeong_2013_maxtemp2['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
yangpyeong_2013_maxtemp_month1 = make_date(yangpyeong_2013_maxtemp2[:465], 2013, 1)
yangpyeong_2013_maxtemp_month2 = make_date(yangpyeong_2013_maxtemp2[466:886], 2013, 2)
yangpyeong_2013_maxtemp_month3 = make_date(yangpyeong_2013_maxtemp2[887:1352], 2013, 3)
yangpyeong_2013_maxtemp_month4 = make_date(yangpyeong_2013_maxtemp2[1353:1803], 2013, 4)
yangpyeong_2013_maxtemp_month5 = make_date(yangpyeong_2013_maxtemp2[1804:2269], 2013, 5)
yangpyeong_2013_maxtemp_month6 = make_date(yangpyeong_2013_maxtemp2[2270:2720], 2013, 6)
yangpyeong_2013_maxtemp_month7 = make_date(yangpyeong_2013_maxtemp2[2721:3186], 2013, 7)
yangpyeong_2013_maxtemp_month8 = make_date(yangpyeong_2013_maxtemp2[3187:3652], 2013, 8)
yangpyeong_2013_maxtemp_month9 = make_date(yangpyeong_2013_maxtemp2[3653:4103], 2013, 9)
yangpyeong_2013_maxtemp_month10 = make_date(yangpyeong_2013_maxtemp2[4104:4569], 2013, 10)
yangpyeong_2013_maxtemp_month11 = make_date(yangpyeong_2013_maxtemp2[4570:5020], 2013, 11)
yangpyeong_2013_maxtemp_month12 = make_date(yangpyeong_2013_maxtemp2[5021:], 2013, 12)

df_list = [yangpyeong_2013_maxtemp_month1, yangpyeong_2013_maxtemp_month2, yangpyeong_2013_maxtemp_month3, yangpyeong_2013_maxtemp_month4, yangpyeong_2013_maxtemp_month5,
           yangpyeong_2013_maxtemp_month6, yangpyeong_2013_maxtemp_month7, yangpyeong_2013_maxtemp_month8, yangpyeong_2013_maxtemp_month9 ,yangpyeong_2013_maxtemp_month10,
           yangpyeong_2013_maxtemp_month11, yangpyeong_2013_maxtemp_month12]

yangpyeong_2013_maxtemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_maxtemp_new1 = yangpyeong_2013_maxtemp_new.loc[(yangpyeong_2013_maxtemp_new['hour'] == 2300) & ((yangpyeong_2013_maxtemp_new['forecast']==4.0) | (yangpyeong_2013_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

yangpyeong_2013_maxtemp_new1.columns = ['date', 'max_temp_24']

yangpyeong_2013_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2013-01-01         -6.9
1   2013-01-02         -4.9
2   2013-01-03          0.0
3   2013-01-04          0.0
4   2013-01-05          0.0
..         ...          ...
360 2013-12-27          0.0
361 2013-12-28          4.0
362 2013-12-29          5.0
363 2013-12-30          6.0
364 2013-12-31          5.0

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
yangpyeong_2013_mintemp.loc[yangpyeong_2013_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130101
496,Start : 20130201,NaN,NaN,NaN
945,Start : 20130301,NaN,NaN,NaN
1442,Start : 20130401,NaN,NaN,NaN
1923,Start : 20130501,NaN,NaN,NaN
2420,Start : 20130601,NaN,NaN,NaN
2901,Start : 20130701,NaN,NaN,NaN
3398,Start : 20130801,NaN,NaN,NaN
3895,Start : 20130901,NaN,NaN,NaN
4376,Start : 20131001,NaN,NaN,NaN
4873,Start : 20131101,NaN,NaN,NaN
5354,Start : 20131201,NaN,NaN,NaN
6348,Start : 20130201,NaN,NaN,NaN
6797,Start : 20130301,NaN,NaN,NaN
7294,Start : 20130401,NaN,NaN,NaN
7775,Start : 20130501,NaN,NaN,NaN
8272,Start : 20130601,NaN,NaN,NaN
8753,Start : 20130701,NaN,NaN,NaN
9250,Start : 20130801,NaN,NaN,NaN
9747,Start : 20130901,NaN,NaN,NaN
10228,Start : 20131001,NaN,NaN,NaN
10725,Start : 20131101,NaN,NaN,NaN
11206,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_mintemp[yangpyeong_2013_mintemp['hour']=='hour']

        format: day  hour  forecast  value  location:69_125 Start : 20130101
5851    format: day  hour  forecast  value  location:69_125 Start : 20130101

In [ ]:
yangpyeong_2013_mintemp2 = yangpyeong_2013_mintemp.iloc[:5851]

In [ ]:
yangpyeong_2013_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_mintemp2['hour'] = pd.to_numeric(yangpyeong_2013_mintemp2['hour'])
yangpyeong_2013_mintemp2['forecast'] =  pd.to_numeric(yangpyeong_2013_mintemp2['forecast'])
yangpyeong_2013_mintemp2['value'] =  pd.to_numeric(yangpyeong_2013_mintemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
yangpyeong_2013_mintemp2.loc[yangpyeong_2013_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20130201    NaN       NaN    NaN
945    Start : 20130301    NaN       NaN    NaN
1442   Start : 20130401    NaN       NaN    NaN
1923   Start : 20130501    NaN       NaN    NaN
2420   Start : 20130601    NaN       NaN    NaN
2901   Start : 20130701    NaN       NaN    NaN
3398   Start : 20130801    NaN       NaN    NaN
3895   Start : 20130901    NaN       NaN    NaN
4376   Start : 20131001    NaN       NaN    NaN
4873   Start : 20131101    NaN       NaN    NaN
5354   Start : 20131201    NaN       NaN    NaN

In [ ]:
yangpyeong_2013_mintemp2.loc[yangpyeong_2013_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
yangpyeong_2013_mintemp_month1 = make_date(yangpyeong_2013_mintemp2[:496], 2013, 1)
yangpyeong_2013_mintemp_month2 = make_date(yangpyeong_2013_mintemp2[497:945], 2013, 2)
yangpyeong_2013_mintemp_month3 = make_date(yangpyeong_2013_mintemp2[946:1442], 2013, 3)
yangpyeong_2013_mintemp_month4 = make_date(yangpyeong_2013_mintemp2[1443:1923], 2013, 4)
yangpyeong_2013_mintemp_month5 = make_date(yangpyeong_2013_mintemp2[1924:2420], 2013, 5)
yangpyeong_2013_mintemp_month6 = make_date(yangpyeong_2013_mintemp2[2421:2901], 2013, 6)
yangpyeong_2013_mintemp_month7 = make_date(yangpyeong_2013_mintemp2[2902:3398], 2013, 7)
yangpyeong_2013_mintemp_month8 = make_date(yangpyeong_2013_mintemp2[3399:3895], 2013, 8)
yangpyeong_2013_mintemp_month9 = make_date(yangpyeong_2013_mintemp2[3896:4376], 2013, 9)
yangpyeong_2013_mintemp_month10 = make_date(yangpyeong_2013_mintemp2[4377:4873], 2013, 10)
yangpyeong_2013_mintemp_month11 = make_date(yangpyeong_2013_mintemp2[4874:5354], 2013, 11)
yangpyeong_2013_mintemp_month12 = make_date(yangpyeong_2013_mintemp2[5355:], 2013, 12)

df_list = [yangpyeong_2013_mintemp_month1, yangpyeong_2013_mintemp_month2, yangpyeong_2013_mintemp_month3, yangpyeong_2013_mintemp_month4, yangpyeong_2013_mintemp_month5,
           yangpyeong_2013_mintemp_month6, yangpyeong_2013_mintemp_month7, yangpyeong_2013_mintemp_month8, yangpyeong_2013_mintemp_month9 ,yangpyeong_2013_mintemp_month10,
           yangpyeong_2013_mintemp_month11, yangpyeong_2013_mintemp_month12]

yangpyeong_2013_mintemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_mintemp_new1 = yangpyeong_2013_mintemp_new.loc[(yangpyeong_2013_mintemp_new['hour'] == 1400) & ((yangpyeong_2013_mintemp_new['forecast']==4.0) | (yangpyeong_2013_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

yangpyeong_2013_mintemp_new1.columns = ['date', 'min_temp_24']

yangpyeong_2013_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2013-01-01        -18.9
1   2013-01-02        -18.9
2   2013-01-03        -18.9
3   2013-01-04        -16.9
4   2013-01-05        -14.9
..         ...          ...
360 2013-12-27        -12.9
361 2013-12-28        -12.9
362 2013-12-29         -4.9
363 2013-12-30         -5.9
364 2013-12-31         -6.9

[365 rows x 2 columns]

#### 풍속

In [ ]:
yangpyeong_2013_wind.loc[yangpyeong_2013_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
22791,Start : 20130701,NaN,NaN,NaN
26884,Start : 20130801,NaN,NaN,NaN
30977,Start : 20130901,NaN,NaN,NaN
34938,Start : 20131001,NaN,NaN,NaN
39031,Start : 20131101,NaN,NaN,NaN
42992,Start : 20131201,NaN,NaN,NaN
51178,Start : 20130201,NaN,NaN,NaN
54875,Start : 20130301,NaN,NaN,NaN
58968,Start : 20130401,NaN,NaN,NaN
62929,Start : 20130501,NaN,NaN,NaN
67022,Start : 20130601,NaN,NaN,NaN
69877,Start : 20130701,NaN,NaN,NaN
73970,Start : 20130801,NaN,NaN,NaN
78063,Start : 20130901,NaN,NaN,NaN
82024,Start : 20131001,NaN,NaN,NaN
86117,Start : 20131101,NaN,NaN,NaN
90078,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_wind[yangpyeong_2013_wind['hour']=='hour']

         format: day  hour  forecast  value  location:69_125 Start : 20130101
47085    format: day  hour  forecast  value  location:69_125 Start : 20130101

In [ ]:
yangpyeong_2013_wind2 = yangpyeong_2013_wind.iloc[:47085]

In [ ]:
yangpyeong_2013_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_wind2['hour'] = pd.to_numeric(yangpyeong_2013_wind2['hour'])
yangpyeong_2013_wind2['forecast'] =  pd.to_numeric(yangpyeong_2013_wind2['forecast'])
yangpyeong_2013_wind2['value'] =  pd.to_numeric(yangpyeong_2013_wind2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
yangpyeong_2013_wind2.loc[yangpyeong_2013_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
22791   Start : 20130701    NaN       NaN    NaN
26884   Start : 20130801    NaN       NaN    NaN
30977   Start : 20130901    NaN       NaN    NaN
34938   Start : 20131001    NaN       NaN    NaN
39031   Start : 20131101    NaN       NaN    NaN
42992   Start : 20131201    NaN       NaN    NaN

In [ ]:
yangpyeong_2013_wind_month1 = make_date(yangpyeong_2013_wind2[:4092], 2013, 1)
yangpyeong_2013_wind_month2 = make_date(yangpyeong_2013_wind2[4093:7789], 2013, 2)
yangpyeong_2013_wind_month3 = make_date(yangpyeong_2013_wind2[7790:11882], 2013, 3)
yangpyeong_2013_wind_month4 = make_date(yangpyeong_2013_wind2[11883:15843], 2013, 4)
yangpyeong_2013_wind_month5 = make_date(yangpyeong_2013_wind2[15844:19936], 2013, 5)
yangpyeong_2013_wind_month6 = make_date(yangpyeong_2013_wind2[19937:22791], 2013, 6)
yangpyeong_2013_wind_month7 = make_date(yangpyeong_2013_wind2[22792:26884], 2013, 7)
yangpyeong_2013_wind_month8 = make_date(yangpyeong_2013_wind2[26885:30977], 2013, 8)
yangpyeong_2013_wind_month9 = make_date(yangpyeong_2013_wind2[30978:34938], 2013, 9)
yangpyeong_2013_wind_month10 = make_date(yangpyeong_2013_wind2[34939:39031], 2013, 10)
yangpyeong_2013_wind_month11 = make_date(yangpyeong_2013_wind2[39032:42992], 2013, 11)
yangpyeong_2013_wind_month12 = make_date(yangpyeong_2013_wind2[42993:], 2013, 12)

df_list = [yangpyeong_2013_wind_month1, yangpyeong_2013_wind_month2, yangpyeong_2013_wind_month3, yangpyeong_2013_wind_month4, yangpyeong_2013_wind_month5,
           yangpyeong_2013_wind_month6, yangpyeong_2013_wind_month7, yangpyeong_2013_wind_month8, yangpyeong_2013_wind_month9, yangpyeong_2013_wind_month10,
           yangpyeong_2013_wind_month11, yangpyeong_2013_wind_month12]

yangpyeong_2013_wind_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_wind_new1_24 = yangpyeong_2013_wind_new.loc[(yangpyeong_2013_wind_new['hour'] == 1400) & ((yangpyeong_2013_wind_new['forecast']>=4.0) & (yangpyeong_2013_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2013_wind_new1_48 = yangpyeong_2013_wind_new.loc[(yangpyeong_2013_wind_new['hour'] == 1400) & ((yangpyeong_2013_wind_new['forecast']>=28.0) & (yangpyeong_2013_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2013_wind_new1_24.columns = ['date', 'wind_24']
yangpyeong_2013_wind_new1_48.columns = ['date', 'wind_48']

yangpyeong_2013_wind_new2 = pd.concat([yangpyeong_2013_wind_new1_24, yangpyeong_2013_wind_new1_48['wind_48']], axis=1)
yangpyeong_2013_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2013-01-01   2.7500   1.6125
1   2013-01-02   1.7625   1.1375
2   2013-01-03   1.3625   1.3750
3   2013-01-04   1.2500   1.3250
4   2013-01-05   0.8750   0.9875
..         ...      ...      ...
352 2013-12-27   2.6250   1.5625
353 2013-12-28   1.3750   1.6250
354 2013-12-29   2.2500   2.1250
355 2013-12-30   2.3125   2.3750
356 2013-12-31   2.3750   1.0625

[357 rows x 3 columns]

#### 2013년 양평읍 데이터

In [ ]:
from functools import reduce
dfs = [yangpyeong_2013_rainfall_new1, yangpyeong_2013_snow_new1, yangpyeong_2013_temp3_new2, yangpyeong_2013_humid_new2,yangpyeong_2013_maxtemp_new1,
       yangpyeong_2013_mintemp_new1,yangpyeong_2013_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
214,2013-01-01,NaN,NaN,-11.6500,-13.7750,47.125,52.250,-6.9,-18.9,2.7500,1.6125
215,2013-01-02,NaN,NaN,-13.1500,-11.0250,47.500,56.250,-4.9,-18.9,1.7625,1.1375
216,2013-01-03,NaN,NaN,-11.0250,-6.6500,59.000,65.125,0.0,-18.9,1.3625,1.3750
217,2013-01-04,NaN,NaN,-8.5250,-6.2750,65.625,58.250,0.0,-16.9,1.2500,1.3250
218,2013-01-05,NaN,NaN,-9.0250,-8.0250,55.125,62.125,0.0,-14.9,0.8750,0.9875
...,...,...,...,...,...,...,...,...,...,...,...
209,2013-12-27,0.0,0.0,-6.5250,-5.7750,51.875,63.750,0.0,-12.9,2.6250,1.5625
210,2013-12-28,0.0,0.0,-5.5250,-0.3250,60.625,63.750,4.0,-12.9,1.3750,1.6250
211,2013-12-29,0.0,0.0,-0.4375,-0.5875,68.125,69.375,5.0,-4.9,2.2500,2.1250
212,2013-12-30,0.0,0.0,-0.2125,-0.9500,72.500,68.125,6.0,-5.9,2.3125,2.3750
213,2013-12-31,0.0,0.0,1.4000,-2.6750,61.500,54.250,5.0,-6.9,2.3750,1.0625

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_양평읍_2013.csv', index=False)

In [ ]:
yangpyeong_2013_temp3.loc[yangpyeong_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
yangpyeong_2013_temp3[yangpyeong_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:69_125 Start : 20130101
48191    format: day  hour  forecast  value  location:69_125 Start : 20130101

In [ ]:
yangpyeong_2013_temp32 = yangpyeong_2013_temp3.iloc[:48191]

In [ ]:
yangpyeong_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2013_temp32['hour'] = pd.to_numeric(yangpyeong_2013_temp32['hour'])
yangpyeong_2013_temp32['forecast'] =  pd.to_numeric(yangpyeong_2013_temp32['forecast'])
yangpyeong_2013_temp32['value'] =  pd.to_numeric(yangpyeong_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
yangpyeong_2013_temp32.loc[yangpyeong_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
yangpyeong_2013_temp3_month1 = make_date(yangpyeong_2013_temp32[:4092], 2013, 1)
yangpyeong_2013_temp3_month2 = make_date(yangpyeong_2013_temp32[4093:7789], 2013, 2)
yangpyeong_2013_temp3_month3 = make_date(yangpyeong_2013_temp32[7790:11882], 2013, 3)
yangpyeong_2013_temp3_month4 = make_date(yangpyeong_2013_temp32[11883:15843], 2013, 4)
yangpyeong_2013_temp3_month5 = make_date(yangpyeong_2013_temp32[15844:19936], 2013, 5)
yangpyeong_2013_temp3_month6 = make_date(yangpyeong_2013_temp32[19937:23897], 2013, 6)
yangpyeong_2013_temp3_month7 = make_date(yangpyeong_2013_temp32[23898:27990], 2013, 7)
yangpyeong_2013_temp3_month8 = make_date(yangpyeong_2013_temp32[27991:32083], 2013, 8)
yangpyeong_2013_temp3_month9 = make_date(yangpyeong_2013_temp32[32084:36044], 2013, 9)
yangpyeong_2013_temp3_month10 = make_date(yangpyeong_2013_temp32[36045:40137], 2013, 10)
yangpyeong_2013_temp3_month11 = make_date(yangpyeong_2013_temp32[40138:44098], 2013, 11)
yangpyeong_2013_temp3_month12 = make_date(yangpyeong_2013_temp32[44099:], 2013, 12)


df_list = [yangpyeong_2013_temp3_month1, yangpyeong_2013_temp3_month2, yangpyeong_2013_temp3_month3, yangpyeong_2013_temp3_month4, yangpyeong_2013_temp3_month5,
           yangpyeong_2013_temp3_month6, yangpyeong_2013_temp3_month7, yangpyeong_2013_temp3_month8, yangpyeong_2013_temp3_month9,yangpyeong_2013_temp3_month10,
           yangpyeong_2013_temp3_month11, yangpyeong_2013_temp3_month12]

yangpyeong_2013_temp3_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2013_temp3_new1_24 = yangpyeong_2013_temp3_new.loc[(yangpyeong_2013_temp3_new['hour'] == 1400) & ((yangpyeong_2013_temp3_new['forecast']>=4.0) & (yangpyeong_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2013_temp3_new1_48 = yangpyeong_2013_temp3_new.loc[(yangpyeong_2013_temp3_new['hour'] == 1400) & ((yangpyeong_2013_temp3_new['forecast']>=28.0) & (yangpyeong_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2013_temp3_new1_24.columns = ['date', 'temp_24']
yangpyeong_2013_temp3_new1_48.columns = ['date', 'temp_48']

yangpyeong_2013_temp3_new2 = pd.concat([yangpyeong_2013_temp3_new1_24, yangpyeong_2013_temp3_new1_48['temp_48']], axis=1)
yangpyeong_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -11.6500 -13.7750
1   2013-01-02 -13.1500 -11.0250
2   2013-01-03 -11.0250  -6.6500
3   2013-01-04  -8.5250  -6.2750
4   2013-01-05  -9.0250  -8.0250
..         ...      ...      ...
360 2013-12-27  -6.5250  -5.7750
361 2013-12-28  -5.5250  -0.3250
362 2013-12-29  -0.4375  -0.5875
363 2013-12-30  -0.2125  -0.9500
364 2013-12-31   1.4000  -2.6750

[365 rows x 3 columns]

### 2014년

In [ ]:
yangpyeong_2014_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_6시간강수량_201401_201412.csv')
yangpyeong_2014_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_6시간적설_201401_201412.csv')
yangpyeong_2014_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_3시간기온_201401_201412.csv')
yangpyeong_2014_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_습도_201401_201412.csv')
yangpyeong_2014_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_일최고기온_201401_201412.csv')
yangpyeong_2014_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_일최저기온_201401_201412.csv')
yangpyeong_2014_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/양평읍_풍속_201401_201412.csv')

#### 6시간강수량

In [ ]:
yangpyeong_2014_rainfall.loc[yangpyeong_2014_rainfall['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_rainfall.loc[yangpyeong_2014_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2014_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_rainfall_month1 = make_date(yangpyeong_2014_rainfall[:2108], 2014, 1)
yangpyeong_2014_rainfall_month2 = make_date(yangpyeong_2014_rainfall[2109:4013], 2014, 2)
yangpyeong_2014_rainfall_month3 = make_date(yangpyeong_2014_rainfall[4014:4082], 2014, 3)
yangpyeong_2014_rainfall_month4 = make_date(yangpyeong_2014_rainfall[4083:6363], 2014, 4)
yangpyeong_2014_rainfall_month5 = make_date(yangpyeong_2014_rainfall[6364:8720], 2014, 5)
yangpyeong_2014_rainfall_month6 = make_date(yangpyeong_2014_rainfall[8721:11001], 2014, 6)
yangpyeong_2014_rainfall_month8 = make_date(yangpyeong_2014_rainfall[11002:13358], 2014, 8)
yangpyeong_2014_rainfall_month9 = make_date(yangpyeong_2014_rainfall[13359:15639], 2014, 9)
yangpyeong_2014_rainfall_month10 = make_date(yangpyeong_2014_rainfall[15640:17996], 2014, 10)
yangpyeong_2014_rainfall_month11 = make_date(yangpyeong_2014_rainfall[17997:20277], 2014, 11)
yangpyeong_2014_rainfall_month12 = make_date(yangpyeong_2014_rainfall[20278:22634], 2014, 12)


df_list = [yangpyeong_2014_rainfall_month1, yangpyeong_2014_rainfall_month2, yangpyeong_2014_rainfall_month3, yangpyeong_2014_rainfall_month4, yangpyeong_2014_rainfall_month5,
           yangpyeong_2014_rainfall_month6, yangpyeong_2014_rainfall_month8, yangpyeong_2014_rainfall_month9,yangpyeong_2014_rainfall_month10,yangpyeong_2014_rainfall_month11,
           yangpyeong_2014_rainfall_month12]

yangpyeong_2014_rainfall_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_rainfall_new1 = yangpyeong_2014_rainfall_new.loc[(yangpyeong_2014_rainfall_new['hour'] == 1400) & ((yangpyeong_2014_rainfall_new['forecast']>=7.0) & (yangpyeong_2014_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2014_rainfall_new1.columns = ['date', 'rainfall_24']
yangpyeong_2014_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2014-01-01          0.0
1   2014-01-02          0.0
2   2014-01-03          0.0
3   2014-01-04          0.0
4   2014-01-05          0.0
..         ...          ...
299 2014-12-27          0.0
300 2014-12-28          0.0
301 2014-12-29          0.0
302 2014-12-30         10.0
303 2014-12-31          0.0

[304 rows x 2 columns]

#### 6시간적설

In [ ]:
yangpyeong_2014_snow.loc[yangpyeong_2014_snow['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_snow.loc[yangpyeong_2014_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2014_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_snow_month1 = make_date(yangpyeong_2014_snow[:2108], 2014, 1)
yangpyeong_2014_snow_month2 = make_date(yangpyeong_2014_snow[2109:4013], 2014, 2)
yangpyeong_2014_snow_month3 = make_date(yangpyeong_2014_snow[4014:4082], 2014, 3)
yangpyeong_2014_snow_month4 = make_date(yangpyeong_2014_snow[4083:6363], 2014, 4)
yangpyeong_2014_snow_month5 = make_date(yangpyeong_2014_snow[6364:8720], 2014, 5)
yangpyeong_2014_snow_month6 = make_date(yangpyeong_2014_snow[8721:11001], 2014, 6)
yangpyeong_2014_snow_month8 = make_date(yangpyeong_2014_snow[11002:13358], 2014, 8)
yangpyeong_2014_snow_month9 = make_date(yangpyeong_2014_snow[13359:15639], 2014, 9)
yangpyeong_2014_snow_month10 = make_date(yangpyeong_2014_snow[15640:17996], 2014, 10)
yangpyeong_2014_snow_month11 = make_date(yangpyeong_2014_snow[17997:20277], 2014, 11)
yangpyeong_2014_snow_month12 = make_date(yangpyeong_2014_snow[20278:22634], 2014, 12)


df_list = [yangpyeong_2014_snow_month1, yangpyeong_2014_snow_month2, yangpyeong_2014_snow_month3, yangpyeong_2014_snow_month4, yangpyeong_2014_snow_month5,
           yangpyeong_2014_snow_month6, yangpyeong_2014_snow_month8, yangpyeong_2014_snow_month9, yangpyeong_2014_snow_month10, yangpyeong_2014_snow_month11, yangpyeong_2014_snow_month12]

yangpyeong_2014_snow_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_snow_new1 = yangpyeong_2014_snow_new.loc[(yangpyeong_2014_snow_new['hour'] == 1400) & ((yangpyeong_2014_snow_new['forecast']>=7.0) & (yangpyeong_2014_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2014_snow_new1.columns = ['date', 'snow_24']
yangpyeong_2014_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2014-01-01      0.0
1   2014-01-02      0.0
2   2014-01-03      0.0
3   2014-01-04      0.0
4   2014-01-05      0.0
..         ...      ...
299 2014-12-27      0.0
300 2014-12-28      0.0
301 2014-12-29      0.0
302 2014-12-30     10.0
303 2014-12-31      0.0

[304 rows x 2 columns]

#### 3시간기온

In [ ]:
yangpyeong_2014_temp3.loc[yangpyeong_2014_temp3['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_temp3_month1 = make_date(yangpyeong_2014_temp3[:4092], 2014, 1)
yangpyeong_2014_temp3_month2 = make_date(yangpyeong_2014_temp3[4093:7789], 2014, 2)
yangpyeong_2014_temp3_month3 = make_date(yangpyeong_2014_temp3[7790:11882], 2014, 3)
yangpyeong_2014_temp3_month4 = make_date(yangpyeong_2014_temp3[11883:16323], 2014, 4)
yangpyeong_2014_temp3_month5 = make_date(yangpyeong_2014_temp3[16324:20912], 2014, 5)
yangpyeong_2014_temp3_month6 = make_date(yangpyeong_2014_temp3[20913:25353], 2014, 6)
yangpyeong_2014_temp3_month7 = make_date(yangpyeong_2014_temp3[25354:29446], 2014, 7)
yangpyeong_2014_temp3_month8 = make_date(yangpyeong_2014_temp3[29447:34035], 2014, 8)
yangpyeong_2014_temp3_month9 = make_date(yangpyeong_2014_temp3[34036:38476], 2014, 9)
yangpyeong_2014_temp3_month10 = make_date(yangpyeong_2014_temp3[38477:43065], 2014, 10)
yangpyeong_2014_temp3_month11 = make_date(yangpyeong_2014_temp3[43066:47506], 2014, 11)
yangpyeong_2014_temp3_month12 = make_date(yangpyeong_2014_temp3[47507:52095], 2014, 12)


df_list = [yangpyeong_2014_temp3_month1, yangpyeong_2014_temp3_month2, yangpyeong_2014_temp3_month3, yangpyeong_2014_temp3_month4,yangpyeong_2014_temp3_month5,
           yangpyeong_2014_temp3_month6, yangpyeong_2014_temp3_month7, yangpyeong_2014_temp3_month8, yangpyeong_2014_temp3_month9,yangpyeong_2014_temp3_month10,
           yangpyeong_2014_temp3_month11, yangpyeong_2014_temp3_month12]

yangpyeong_2014_temp3_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_temp3_new1_24 = yangpyeong_2014_temp3_new.loc[(yangpyeong_2014_temp3_new['hour'] == 1400) & ((yangpyeong_2014_temp3_new['forecast']>=4.0) & (yangpyeong_2014_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2014_temp3_new1_48 = yangpyeong_2014_temp3_new.loc[(yangpyeong_2014_temp3_new['hour'] == 1400) & ((yangpyeong_2014_temp3_new['forecast']>=28.0) & (yangpyeong_2014_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2014_temp3_new1_24.columns = ['date', 'temp_24']
yangpyeong_2014_temp3_new1_48.columns = ['date', 'temp_48']

yangpyeong_2014_temp3_new2 = pd.concat([yangpyeong_2014_temp3_new1_24, yangpyeong_2014_temp3_new1_48['temp_48']], axis=1)
yangpyeong_2014_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2014-01-01    1.125    1.500
1   2014-01-02    0.250    1.125
2   2014-01-03   -1.000   -1.125
3   2014-01-04   -0.875   -0.750
4   2014-01-05   -1.000    0.500
..         ...      ...      ...
360 2014-12-27   -2.750   -1.250
361 2014-12-28   -0.625   -1.125
362 2014-12-29   -0.375   -3.375
363 2014-12-30   -2.875   -8.000
364 2014-12-31   -7.875   -6.875

[365 rows x 3 columns]

#### 습도

In [ ]:
yangpyeong_2014_humid.loc[yangpyeong_2014_humid['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_humid_month1 = make_date(yangpyeong_2014_humid[:4092], 2014, 1)
yangpyeong_2014_humid_month2 = make_date(yangpyeong_2014_humid[4093:7789], 2014, 2)
yangpyeong_2014_humid_month3 = make_date(yangpyeong_2014_humid[7790:11882], 2014, 3)
yangpyeong_2014_humid_month4 = make_date(yangpyeong_2014_humid[11883:16323], 2014, 4)
yangpyeong_2014_humid_month5 = make_date(yangpyeong_2014_humid[16324:20912], 2014, 5)
yangpyeong_2014_humid_month6 = make_date(yangpyeong_2014_humid[20913:25353], 2014, 6)
yangpyeong_2014_humid_month7 = make_date(yangpyeong_2014_humid[25354:29446], 2014, 7)
yangpyeong_2014_humid_month8 = make_date(yangpyeong_2014_humid[29447:34035], 2014, 8)
yangpyeong_2014_humid_month9 = make_date(yangpyeong_2014_humid[34036:38476], 2014, 9)
yangpyeong_2014_humid_month10 = make_date(yangpyeong_2014_humid[38477:43065], 2014, 10)
yangpyeong_2014_humid_month11 = make_date(yangpyeong_2014_humid[43066:47506], 2014, 11)
yangpyeong_2014_humid_month12 = make_date(yangpyeong_2014_humid[47507:52095], 2014, 12)

df_list = [yangpyeong_2014_humid_month1, yangpyeong_2014_humid_month2, yangpyeong_2014_humid_month3, yangpyeong_2014_humid_month4, yangpyeong_2014_humid_month5,
           yangpyeong_2014_humid_month6, yangpyeong_2014_humid_month7, yangpyeong_2014_humid_month8, yangpyeong_2014_humid_month9, yangpyeong_2014_humid_month10,
           yangpyeong_2014_humid_month11, yangpyeong_2014_humid_month12]

yangpyeong_2014_humid_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_humid_new1_24 = yangpyeong_2014_humid_new.loc[(yangpyeong_2014_humid_new['hour'] == 1400) & ((yangpyeong_2014_humid_new['forecast']>=4.0) & (yangpyeong_2014_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2014_humid_new1_48 = yangpyeong_2014_humid_new.loc[(yangpyeong_2014_humid_new['hour'] == 1400) & ((yangpyeong_2014_humid_new['forecast']>=28.0) & (yangpyeong_2014_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2014_humid_new1_24.columns = ['date', 'humid_24']
yangpyeong_2014_humid_new1_48.columns = ['date', 'humid_48']

yangpyeong_2014_humid_new2 = pd.concat([yangpyeong_2014_humid_new1_24, yangpyeong_2014_humid_new1_48['humid_48']], axis=1)
yangpyeong_2014_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2014-01-01    59.250    71.250
1   2014-01-02    73.375    72.625
2   2014-01-03    70.750    67.875
3   2014-01-04    70.000    65.000
4   2014-01-05    72.500    76.250
..         ...       ...       ...
360 2014-12-27    77.000    76.750
361 2014-12-28    77.875    65.000
362 2014-12-29    75.500    63.125
363 2014-12-30    53.000    35.625
364 2014-12-31    35.125    47.625

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
yangpyeong_2014_maxtemp.loc[yangpyeong_2014_maxtemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
465,Start : 20140201,NaN,NaN,NaN
886,Start : 20140301,NaN,NaN,NaN
1352,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2513,Start : 20140601,NaN,NaN,NaN
3084,Start : 20140701,NaN,NaN,NaN
3550,Start : 20140801,NaN,NaN,NaN
4140,Start : 20140901,NaN,NaN,NaN
4711,Start : 20141001,NaN,NaN,NaN
5301,Start : 20141101,NaN,NaN,NaN
5872,Start : 20141201,NaN,NaN,NaN
6462,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_maxtemp.loc[yangpyeong_2014_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
yangpyeong_2014_maxtemp_month1 = make_date(yangpyeong_2014_maxtemp[:465], 2014, 1)
yangpyeong_2014_maxtemp_month2 = make_date(yangpyeong_2014_maxtemp[466:886], 2014, 2)
yangpyeong_2014_maxtemp_month3 = make_date(yangpyeong_2014_maxtemp[887:1352], 2014, 3)
yangpyeong_2014_maxtemp_month4 = make_date(yangpyeong_2014_maxtemp[1353:1923], 2014, 4)
yangpyeong_2014_maxtemp_month5 = make_date(yangpyeong_2014_maxtemp[1924:2513], 2014, 5)
yangpyeong_2014_maxtemp_month6 = make_date(yangpyeong_2014_maxtemp[2514:3084], 2014, 6)
yangpyeong_2014_maxtemp_month7 = make_date(yangpyeong_2014_maxtemp[3085:3550], 2014, 7)
yangpyeong_2014_maxtemp_month8 = make_date(yangpyeong_2014_maxtemp[3551:4140], 2014, 8)
yangpyeong_2014_maxtemp_month9 = make_date(yangpyeong_2014_maxtemp[4141:4711], 2014, 9)
yangpyeong_2014_maxtemp_month10 = make_date(yangpyeong_2014_maxtemp[4712:5301], 2014, 10)
yangpyeong_2014_maxtemp_month11 = make_date(yangpyeong_2014_maxtemp[5302:5872], 2014, 11)
yangpyeong_2014_maxtemp_month12 = make_date(yangpyeong_2014_maxtemp[5873:6462], 2014, 12)

df_list = [yangpyeong_2014_maxtemp_month1, yangpyeong_2014_maxtemp_month2, yangpyeong_2014_maxtemp_month3, yangpyeong_2014_maxtemp_month4, yangpyeong_2014_maxtemp_month5,
           yangpyeong_2014_maxtemp_month6, yangpyeong_2014_maxtemp_month7, yangpyeong_2014_maxtemp_month8, yangpyeong_2014_maxtemp_month9 ,yangpyeong_2014_maxtemp_month10,
           yangpyeong_2014_maxtemp_month11, yangpyeong_2014_maxtemp_month12]

yangpyeong_2014_maxtemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_maxtemp_new1 = yangpyeong_2014_maxtemp_new.loc[(yangpyeong_2014_maxtemp_new['hour'] == 2300) & ((yangpyeong_2014_maxtemp_new['forecast']==4.0) | (yangpyeong_2014_maxtemp_new['forecast']==7.0) | (yangpyeong_2014_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

yangpyeong_2014_maxtemp_new1.columns = ['date', 'max_temp_24']

yangpyeong_2014_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2014-01-01          8.0
1   2014-01-02          7.0
2   2014-01-03          5.0
3   2014-01-04          6.0
4   2014-01-05          6.0
..         ...          ...
360 2014-12-27          5.0
361 2014-12-28          5.0
362 2014-12-29          5.0
363 2014-12-30          1.0
364 2014-12-31          0.0

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
yangpyeong_2014_mintemp.loc[yangpyeong_2014_mintemp['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
496,Start : 20140201,NaN,NaN,NaN
945,Start : 20140301,NaN,NaN,NaN
1442,Start : 20140401,NaN,NaN,NaN
1923,Start : 20140501,NaN,NaN,NaN
2420,Start : 20140601,NaN,NaN,NaN
2901,Start : 20140701,NaN,NaN,NaN
3398,Start : 20140801,NaN,NaN,NaN
3895,Start : 20140901,NaN,NaN,NaN
4376,Start : 20141001,NaN,NaN,NaN
4873,Start : 20141101,NaN,NaN,NaN
5354,Start : 20141201,NaN,NaN,NaN
5851,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_mintemp.loc[yangpyeong_2014_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
yangpyeong_2014_mintemp_month1 = make_date(yangpyeong_2014_mintemp[:496], 2014, 1)
yangpyeong_2014_mintemp_month2 = make_date(yangpyeong_2014_mintemp[497:945], 2014, 2)
yangpyeong_2014_mintemp_month3 = make_date(yangpyeong_2014_mintemp[946:1442], 2014, 3)
yangpyeong_2014_mintemp_month4 = make_date(yangpyeong_2014_mintemp[1443:1923], 2014, 4)
yangpyeong_2014_mintemp_month5 = make_date(yangpyeong_2014_mintemp[1924:2420], 2014, 5)
yangpyeong_2014_mintemp_month6 = make_date(yangpyeong_2014_mintemp[2421:2901], 2014, 6)
yangpyeong_2014_mintemp_month7 = make_date(yangpyeong_2014_mintemp[2902:3398], 2014, 7)
yangpyeong_2014_mintemp_month8 = make_date(yangpyeong_2014_mintemp[3399:3895], 2014, 8)
yangpyeong_2014_mintemp_month9 = make_date(yangpyeong_2014_mintemp[3896:4376], 2014, 9)
yangpyeong_2014_mintemp_month10 = make_date(yangpyeong_2014_mintemp[4377:4873], 2014, 10)
yangpyeong_2014_mintemp_month11 = make_date(yangpyeong_2014_mintemp[4874:5354], 2014, 11)
yangpyeong_2014_mintemp_month12 = make_date(yangpyeong_2014_mintemp[5355:5851], 2014, 12)

df_list = [yangpyeong_2014_mintemp_month1, yangpyeong_2014_mintemp_month2, yangpyeong_2014_mintemp_month3, yangpyeong_2014_mintemp_month4, yangpyeong_2014_mintemp_month5,
           yangpyeong_2014_mintemp_month6, yangpyeong_2014_mintemp_month7, yangpyeong_2014_mintemp_month8, yangpyeong_2014_mintemp_month9 ,yangpyeong_2014_mintemp_month10,
           yangpyeong_2014_mintemp_month11, yangpyeong_2014_mintemp_month12]

yangpyeong_2014_mintemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_mintemp_new1 = yangpyeong_2014_mintemp_new.loc[(yangpyeong_2014_mintemp_new['hour'] == 1400) & ((yangpyeong_2014_mintemp_new['forecast']==4.0) | (yangpyeong_2014_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

yangpyeong_2014_mintemp_new1.columns = ['date', 'min_temp_24']

yangpyeong_2014_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2014-01-01         -4.0
1   2014-01-02         -4.0
2   2014-01-03         -5.0
3   2014-01-04         -6.0
4   2014-01-05         -7.0
..         ...          ...
360 2014-12-27         -7.0
361 2014-12-28         -5.0
362 2014-12-29         -4.0
363 2014-12-30        -11.0
364 2014-12-31        -12.0

[365 rows x 2 columns]

#### 풍속

In [ ]:
yangpyeong_2014_wind.loc[yangpyeong_2014_wind['hour'].isna(),:]

,format..day,hour,forecast,value..location.69_125.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
yangpyeong_2014_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2014_wind_month1 = make_date(yangpyeong_2014_wind[:4092], 2014, 1)
yangpyeong_2014_wind_month2 = make_date(yangpyeong_2014_wind[4093:7789], 2014, 2)
yangpyeong_2014_wind_month3 = make_date(yangpyeong_2014_wind[7790:11882], 2014, 3)
yangpyeong_2014_wind_month4 = make_date(yangpyeong_2014_wind[11883:16323], 2014, 4)
yangpyeong_2014_wind_month5 = make_date(yangpyeong_2014_wind[16324:20912], 2014, 5)
yangpyeong_2014_wind_month6 = make_date(yangpyeong_2014_wind[20913:25353], 2014, 6)
yangpyeong_2014_wind_month7 = make_date(yangpyeong_2014_wind[25354:29446], 2014, 7)
yangpyeong_2014_wind_month8 = make_date(yangpyeong_2014_wind[29447:34035], 2014, 8)
yangpyeong_2014_wind_month9 = make_date(yangpyeong_2014_wind[34036:38476], 2014, 9)
yangpyeong_2014_wind_month10 = make_date(yangpyeong_2014_wind[38477:43065], 2014, 10)
yangpyeong_2014_wind_month11 = make_date(yangpyeong_2014_wind[43066:47506], 2014, 11)
yangpyeong_2014_wind_month12 = make_date(yangpyeong_2014_wind[47507:52095], 2014, 12)

df_list = [yangpyeong_2014_wind_month1, yangpyeong_2014_wind_month2, yangpyeong_2014_wind_month3, yangpyeong_2014_wind_month4, yangpyeong_2014_wind_month5,
           yangpyeong_2014_wind_month6, yangpyeong_2014_wind_month7, yangpyeong_2014_wind_month8, yangpyeong_2014_wind_month9, yangpyeong_2014_wind_month10,
           yangpyeong_2014_wind_month11, yangpyeong_2014_wind_month12]

yangpyeong_2014_wind_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2014_wind_new1_24 = yangpyeong_2014_wind_new.loc[(yangpyeong_2014_wind_new['hour'] == 1400) & ((yangpyeong_2014_wind_new['forecast']>=4.0) & (yangpyeong_2014_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2014_wind_new1_48 = yangpyeong_2014_wind_new.loc[(yangpyeong_2014_wind_new['hour'] == 1400) & ((yangpyeong_2014_wind_new['forecast']>=28.0) & (yangpyeong_2014_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2014_wind_new1_24.columns = ['date', 'wind_24']
yangpyeong_2014_wind_new1_48.columns = ['date', 'wind_48']

yangpyeong_2014_wind_new2 = pd.concat([yangpyeong_2014_wind_new1_24, yangpyeong_2014_wind_new1_48['wind_48']], axis=1)
yangpyeong_2014_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2014-01-01    1.500   1.7500
1   2014-01-02    0.650   0.6625
2   2014-01-03    1.125   1.3750
3   2014-01-04    1.500   1.2125
4   2014-01-05    1.125   0.9250
..         ...      ...      ...
360 2014-12-27    1.125   1.0000
361 2014-12-28    1.000   1.8750
362 2014-12-29    1.375   2.6250
363 2014-12-30    2.875   3.7500
364 2014-12-31    3.875   2.2500

[365 rows x 3 columns]

#### 2014년 양평읍 데이터

In [ ]:
from functools import reduce
dfs = [yangpyeong_2014_rainfall_new1, yangpyeong_2014_snow_new1, yangpyeong_2014_temp3_new2, yangpyeong_2014_humid_new2,yangpyeong_2014_maxtemp_new1,
       yangpyeong_2014_mintemp_new1,yangpyeong_2014_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2014-01-01,0.0,0.0,1.125,1.500,59.250,71.250,8.0,-4.0,1.500,1.7500
1,2014-01-02,0.0,0.0,0.250,1.125,73.375,72.625,7.0,-4.0,0.650,0.6625
2,2014-01-03,0.0,0.0,-1.000,-1.125,70.750,67.875,5.0,-5.0,1.125,1.3750
3,2014-01-04,0.0,0.0,-0.875,-0.750,70.000,65.000,6.0,-6.0,1.500,1.2125
4,2014-01-05,0.0,0.0,-1.000,0.500,72.500,76.250,6.0,-7.0,1.125,0.9250
...,...,...,...,...,...,...,...,...,...,...,...
299,2014-12-27,0.0,0.0,-2.750,-1.250,77.000,76.750,5.0,-7.0,1.125,1.0000
300,2014-12-28,0.0,0.0,-0.625,-1.125,77.875,65.000,5.0,-5.0,1.000,1.8750
301,2014-12-29,0.0,0.0,-0.375,-3.375,75.500,63.125,5.0,-4.0,1.375,2.6250
302,2014-12-30,10.0,10.0,-2.875,-8.000,53.000,35.625,1.0,-11.0,2.875,3.7500
303,2014-12-31,0.0,0.0,-7.875,-6.875,35.125,47.625,0.0,-12.0,3.875,2.2500

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_양평읍_2014.csv', index=False)

### 2015년

In [ ]:
yangpyeong_2015_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_6시간강수량_201501_201512.csv')
yangpyeong_2015_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_6시간적설_201501_201512.csv')
yangpyeong_2015_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_3시간기온_201501_201512.csv')
yangpyeong_2015_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_습도_201501_201512.csv')
yangpyeong_2015_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_일최고기온_201501_201512.csv')
yangpyeong_2015_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_일최저기온_201501_201512.csv')
yangpyeong_2015_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/양평읍_풍속_201501_201512.csv')

#### 6시간강수량

In [ ]:
yangpyeong_2015_rainfall.loc[yangpyeong_2015_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_rainfall.loc[yangpyeong_2015_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2015_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_rainfall_month1 = make_date(yangpyeong_2015_rainfall[:2356], 2015, 1)
yangpyeong_2015_rainfall_month2 = make_date(yangpyeong_2015_rainfall[2357:4485], 2015, 2)
yangpyeong_2015_rainfall_month3 = make_date(yangpyeong_2015_rainfall[4486:6842], 2015, 3)
yangpyeong_2015_rainfall_month4 = make_date(yangpyeong_2015_rainfall[6843:9123], 2015, 4)
yangpyeong_2015_rainfall_month5 = make_date(yangpyeong_2015_rainfall[9124:10709], 2015, 5)
yangpyeong_2015_rainfall_month6 = make_date(yangpyeong_2015_rainfall[10710:12990], 2015, 6)
yangpyeong_2015_rainfall_month7 = make_date(yangpyeong_2015_rainfall[12991:15347], 2015, 7)
yangpyeong_2015_rainfall_month8 = make_date(yangpyeong_2015_rainfall[15348:17704], 2015, 8)
yangpyeong_2015_rainfall_month9 = make_date(yangpyeong_2015_rainfall[17705:19985], 2015, 9)
yangpyeong_2015_rainfall_month10 = make_date(yangpyeong_2015_rainfall[19986:22342], 2015, 10)
yangpyeong_2015_rainfall_month11 = make_date(yangpyeong_2015_rainfall[22343:24623], 2015, 11)
yangpyeong_2015_rainfall_month12 = make_date(yangpyeong_2015_rainfall[24624:], 2015, 12)


df_list = [yangpyeong_2015_rainfall_month1, yangpyeong_2015_rainfall_month2, yangpyeong_2015_rainfall_month3, yangpyeong_2015_rainfall_month4, yangpyeong_2015_rainfall_month5,
           yangpyeong_2015_rainfall_month6, yangpyeong_2015_rainfall_month7, yangpyeong_2015_rainfall_month8, yangpyeong_2015_rainfall_month9,yangpyeong_2015_rainfall_month10,
           yangpyeong_2015_rainfall_month11, yangpyeong_2015_rainfall_month12]

yangpyeong_2015_rainfall_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_rainfall_new1 = yangpyeong_2015_rainfall_new.loc[(yangpyeong_2015_rainfall_new['hour'] == 1400) & ((yangpyeong_2015_rainfall_new['forecast']>=7.0) & (yangpyeong_2015_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2015_rainfall_new1.columns = ['date', 'rainfall_24']
yangpyeong_2015_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2015-01-01          0.0
1   2015-01-02          0.0
2   2015-01-03          0.0
3   2015-01-04         10.0
4   2015-01-05          5.0
..         ...          ...
350 2015-12-27          0.0
351 2015-12-28          0.0
352 2015-12-29         10.0
353 2015-12-30          0.0
354 2015-12-31          0.0

[355 rows x 2 columns]

#### 6시간적설

In [ ]:
yangpyeong_2015_snow.loc[yangpyeong_2015_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
2356,Start : 20150201,NaN,NaN,NaN
4485,Start : 20150301,NaN,NaN,NaN
6842,Start : 20150401,NaN,NaN,NaN
9123,Start : 20150501,NaN,NaN,NaN
10709,Start : 20150601,NaN,NaN,NaN
12990,Start : 20150701,NaN,NaN,NaN
15347,Start : 20150801,NaN,NaN,NaN
17704,Start : 20150901,NaN,NaN,NaN
19985,Start : 20151001,NaN,NaN,NaN
22342,Start : 20151101,NaN,NaN,NaN
24623,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_snow.loc[yangpyeong_2015_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2015_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_snow_month1 = make_date(yangpyeong_2015_snow[:2356],2015, 1)
yangpyeong_2015_snow_month2 = make_date(yangpyeong_2015_snow[2357:4485], 2015, 2)
yangpyeong_2015_snow_month3 = make_date(yangpyeong_2015_snow[4486:6842], 2015, 3)
yangpyeong_2015_snow_month4 = make_date(yangpyeong_2015_snow[6843:9123], 2015, 4)
yangpyeong_2015_snow_month5 = make_date(yangpyeong_2015_snow[9124:10709], 2015, 5)
yangpyeong_2015_snow_month6 = make_date(yangpyeong_2015_snow[10710:12990], 2015, 6)
yangpyeong_2015_snow_month7 = make_date(yangpyeong_2015_snow[12991:15347],2015, 7)
yangpyeong_2015_snow_month8 = make_date(yangpyeong_2015_snow[15348:17704], 2015, 8)
yangpyeong_2015_snow_month9 = make_date(yangpyeong_2015_snow[17705:19985], 2015, 9)
yangpyeong_2015_snow_month10 = make_date(yangpyeong_2015_snow[19986:22342], 2015, 10)
yangpyeong_2015_snow_month11 = make_date(yangpyeong_2015_snow[22343:24623], 2015, 11)
yangpyeong_2015_snow_month12 = make_date(yangpyeong_2015_snow[24624:], 2015, 12)


df_list = [yangpyeong_2015_snow_month1, yangpyeong_2015_snow_month2, yangpyeong_2015_snow_month3, yangpyeong_2015_snow_month4, yangpyeong_2015_snow_month5,
           yangpyeong_2015_snow_month6, yangpyeong_2015_snow_month7, yangpyeong_2015_snow_month8, yangpyeong_2015_snow_month9, yangpyeong_2015_snow_month10, 
           yangpyeong_2015_snow_month11, yangpyeong_2015_snow_month12]

yangpyeong_2015_snow_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_snow_new1 = yangpyeong_2015_snow_new.loc[(yangpyeong_2015_snow_new['hour'] == 1400) & ((yangpyeong_2015_snow_new['forecast']>=7.0) & (yangpyeong_2015_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2015_snow_new1.columns = ['date', 'snow_24']
yangpyeong_2015_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2015-01-01      0.0
1   2015-01-02      0.0
2   2015-01-03      0.0
3   2015-01-04      0.0
4   2015-01-05      0.0
..         ...      ...
350 2015-12-27      0.0
351 2015-12-28      0.0
352 2015-12-29     10.0
353 2015-12-30      0.0
354 2015-12-31      0.0

[355 rows x 2 columns]

#### 3시간기온

In [ ]:
yangpyeong_2015_temp3.loc[yangpyeong_2015_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_temp3_month1 = make_date(yangpyeong_2015_temp3[:4588], 2015, 1)
yangpyeong_2015_temp3_month2 = make_date(yangpyeong_2015_temp3[4589:8733], 2015, 2)
yangpyeong_2015_temp3_month3 = make_date(yangpyeong_2015_temp3[8734:13322], 2015, 3)
yangpyeong_2015_temp3_month4 = make_date(yangpyeong_2015_temp3[13323:17763], 2015, 4)
yangpyeong_2015_temp3_month5 = make_date(yangpyeong_2015_temp3[17764:20851], 2015, 5)
yangpyeong_2015_temp3_month6 = make_date(yangpyeong_2015_temp3[20852:25292], 2015, 6)
yangpyeong_2015_temp3_month7 = make_date(yangpyeong_2015_temp3[25293:29881], 2015, 7)
yangpyeong_2015_temp3_month8 = make_date(yangpyeong_2015_temp3[29882:34470], 2015, 8)
yangpyeong_2015_temp3_month9 = make_date(yangpyeong_2015_temp3[34471:38911], 2015, 9)
yangpyeong_2015_temp3_month10 = make_date(yangpyeong_2015_temp3[38912:43500], 2015, 10)
yangpyeong_2015_temp3_month11 = make_date(yangpyeong_2015_temp3[43501:47941], 2015, 11)
yangpyeong_2015_temp3_month12 = make_date(yangpyeong_2015_temp3[47942:],2015, 12)


df_list = [yangpyeong_2015_temp3_month1, yangpyeong_2015_temp3_month2, yangpyeong_2015_temp3_month3, yangpyeong_2015_temp3_month4,yangpyeong_2015_temp3_month5,
           yangpyeong_2015_temp3_month6, yangpyeong_2015_temp3_month7, yangpyeong_2015_temp3_month8, yangpyeong_2015_temp3_month9,yangpyeong_2015_temp3_month10,
           yangpyeong_2015_temp3_month11, yangpyeong_2015_temp3_month12]

yangpyeong_2015_temp3_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_temp3_new1_24 = yangpyeong_2015_temp3_new.loc[(yangpyeong_2015_temp3_new['hour'] == 1400) & ((yangpyeong_2015_temp3_new['forecast']>=4.0) & (yangpyeong_2015_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2015_temp3_new1_48 = yangpyeong_2015_temp3_new.loc[(yangpyeong_2015_temp3_new['hour'] == 1400) & ((yangpyeong_2015_temp3_new['forecast']>=28.0) & (yangpyeong_2015_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2015_temp3_new1_24.columns = ['date', 'temp_24']
yangpyeong_2015_temp3_new1_48.columns = ['date', 'temp_48']

yangpyeong_2015_temp3_new2 = pd.concat([yangpyeong_2015_temp3_new1_24, yangpyeong_2015_temp3_new1_48['temp_48']], axis=1)
yangpyeong_2015_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2015-01-01   -6.750   -5.625
1   2015-01-02   -5.125    0.500
2   2015-01-03   -0.125    0.875
3   2015-01-04    0.750   -0.625
4   2015-01-05   -1.000   -5.875
..         ...      ...      ...
350 2015-12-27   -5.000   -3.125
351 2015-12-28   -3.875   -0.875
352 2015-12-29   -1.375    0.500
353 2015-12-30    0.000   -0.375
354 2015-12-31   -0.500    3.625

[355 rows x 3 columns]

#### 습도

In [ ]:
yangpyeong_2015_humid.loc[yangpyeong_2015_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20519,Start : 20150601,NaN,NaN,NaN
24960,Start : 20150701,NaN,NaN,NaN
29549,Start : 20150801,NaN,NaN,NaN
34138,Start : 20150901,NaN,NaN,NaN
38579,Start : 20151001,NaN,NaN,NaN
43168,Start : 20151101,NaN,NaN,NaN
47609,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_humid_month1 = make_date(yangpyeong_2015_humid[:4588], 2015, 1)
yangpyeong_2015_humid_month2 = make_date(yangpyeong_2015_humid[4589:8733], 2015, 2)
yangpyeong_2015_humid_month3 = make_date(yangpyeong_2015_humid[8734:13322], 2015, 3)
yangpyeong_2015_humid_month4 = make_date(yangpyeong_2015_humid[13323:17763], 2015, 4)
yangpyeong_2015_humid_month5 = make_date(yangpyeong_2015_humid[17764:20519], 2015, 5)
yangpyeong_2015_humid_month6 = make_date(yangpyeong_2015_humid[20520:24960], 2015, 6)
yangpyeong_2015_humid_month7 = make_date(yangpyeong_2015_humid[24961:29549], 2015, 7)
yangpyeong_2015_humid_month8 = make_date(yangpyeong_2015_humid[29550:34138], 2015, 8)
yangpyeong_2015_humid_month9 = make_date(yangpyeong_2015_humid[34139:38579], 2015, 9)
yangpyeong_2015_humid_month10 = make_date(yangpyeong_2015_humid[38580:43168], 2015, 10)
yangpyeong_2015_humid_month11 = make_date(yangpyeong_2015_humid[43169:47609], 2015, 11)
yangpyeong_2015_humid_month12 = make_date(yangpyeong_2015_humid[47610:], 2015, 12)

df_list = [yangpyeong_2015_humid_month1, yangpyeong_2015_humid_month2, yangpyeong_2015_humid_month3, yangpyeong_2015_humid_month4, yangpyeong_2015_humid_month5,
           yangpyeong_2015_humid_month6, yangpyeong_2015_humid_month7, yangpyeong_2015_humid_month8, yangpyeong_2015_humid_month9, yangpyeong_2015_humid_month10,
           yangpyeong_2015_humid_month11, yangpyeong_2015_humid_month12]

yangpyeong_2015_humid_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_humid_new1_24 = yangpyeong_2015_humid_new.loc[(yangpyeong_2015_humid_new['hour'] == 1400) & ((yangpyeong_2015_humid_new['forecast']>=4.0) & (yangpyeong_2015_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2015_humid_new1_48 = yangpyeong_2015_humid_new.loc[(yangpyeong_2015_humid_new['hour'] == 1400) & ((yangpyeong_2015_humid_new['forecast']>=28.0) & (yangpyeong_2015_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2015_humid_new1_24.columns = ['date', 'humid_24']
yangpyeong_2015_humid_new1_48.columns = ['date', 'humid_48']

yangpyeong_2015_humid_new2 = pd.concat([yangpyeong_2015_humid_new1_24, yangpyeong_2015_humid_new1_48['humid_48']], axis=1)
yangpyeong_2015_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2015-01-01    51.375    66.625
1   2015-01-02    67.125    71.625
2   2015-01-03    75.500    83.250
3   2015-01-04    86.375    53.125
4   2015-01-05    55.750    39.500
..         ...       ...       ...
350 2015-12-27    53.750    65.625
351 2015-12-28    65.625    75.625
352 2015-12-29    77.500    81.250
353 2015-12-30    81.250    71.250
354 2015-12-31    73.125    80.000

[355 rows x 3 columns]

#### 일최고기온

In [ ]:
yangpyeong_2015_maxtemp.loc[yangpyeong_2015_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
589,Start : 20150201,NaN,NaN,NaN
1122,Start : 20150301,NaN,NaN,NaN
1712,Start : 20150401,NaN,NaN,NaN
2283,Start : 20150501,NaN,NaN,NaN
2680,Start : 20150601,NaN,NaN,NaN
3251,Start : 20150701,NaN,NaN,NaN
3841,Start : 20150801,NaN,NaN,NaN
4431,Start : 20150901,NaN,NaN,NaN
5002,Start : 20151001,NaN,NaN,NaN
5592,Start : 20151101,NaN,NaN,NaN
6163,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_maxtemp.loc[yangpyeong_2015_maxtemp['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
yangpyeong_2015_maxtemp_month1 = make_date(yangpyeong_2015_maxtemp[:589], 2015, 1)
yangpyeong_2015_maxtemp_month2 = make_date(yangpyeong_2015_maxtemp[590:1122], 2015, 2)
yangpyeong_2015_maxtemp_month3 = make_date(yangpyeong_2015_maxtemp[1123:1712], 2015, 3)
yangpyeong_2015_maxtemp_month4 = make_date(yangpyeong_2015_maxtemp[1713:2283], 2015, 4)
yangpyeong_2015_maxtemp_month5 = make_date(yangpyeong_2015_maxtemp[2284:2680], 2015, 5)
yangpyeong_2015_maxtemp_month6 = make_date(yangpyeong_2015_maxtemp[2681:3251], 2015, 6)
yangpyeong_2015_maxtemp_month7 = make_date(yangpyeong_2015_maxtemp[3252:3841], 2015, 7)
yangpyeong_2015_maxtemp_month8 = make_date(yangpyeong_2015_maxtemp[3842:4431], 2015, 8)
yangpyeong_2015_maxtemp_month9 = make_date(yangpyeong_2015_maxtemp[4432:5002], 2015, 9)
yangpyeong_2015_maxtemp_month10 = make_date(yangpyeong_2015_maxtemp[5003:5592], 2015, 10)
yangpyeong_2015_maxtemp_month11 = make_date(yangpyeong_2015_maxtemp[5593:6163], 2015, 11)
yangpyeong_2015_maxtemp_month12 = make_date(yangpyeong_2015_maxtemp[6164:], 2015, 12)

df_list = [yangpyeong_2015_maxtemp_month1, yangpyeong_2015_maxtemp_month2, yangpyeong_2015_maxtemp_month3, yangpyeong_2015_maxtemp_month4, yangpyeong_2015_maxtemp_month5,
           yangpyeong_2015_maxtemp_month6, yangpyeong_2015_maxtemp_month7, yangpyeong_2015_maxtemp_month8, yangpyeong_2015_maxtemp_month9 ,yangpyeong_2015_maxtemp_month10,
           yangpyeong_2015_maxtemp_month11, yangpyeong_2015_maxtemp_month12]

yangpyeong_2015_maxtemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_maxtemp_new1 = yangpyeong_2015_maxtemp_new.loc[(yangpyeong_2015_maxtemp_new['hour'] == 2300) & ((yangpyeong_2015_maxtemp_new['forecast']==4.0) | (yangpyeong_2015_maxtemp_new['forecast']==7.0) | (yangpyeong_2015_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

yangpyeong_2015_maxtemp_new1.columns = ['date', 'max_temp_24']

yangpyeong_2015_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2015-01-01          6.0
1   2015-01-02          7.0
2   2015-01-03          5.0
3   2015-01-04          5.0
4   2015-01-05          2.0
..         ...          ...
349 2015-12-27          2.0
350 2015-12-28          5.0
351 2015-12-29          4.0
352 2015-12-30          7.0
353 2015-12-31          9.0

[354 rows x 2 columns]

#### 일최저기온

In [ ]:
yangpyeong_2015_mintemp.loc[yangpyeong_2015_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
496,Start : 20150201,NaN,NaN,NaN
945,Start : 20150301,NaN,NaN,NaN
1442,Start : 20150401,NaN,NaN,NaN
1923,Start : 20150501,NaN,NaN,NaN
2258,Start : 20150601,NaN,NaN,NaN
2739,Start : 20150701,NaN,NaN,NaN
3236,Start : 20150801,NaN,NaN,NaN
3733,Start : 20150901,NaN,NaN,NaN
4214,Start : 20151001,NaN,NaN,NaN
4711,Start : 20151101,NaN,NaN,NaN
5192,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_mintemp.loc[yangpyeong_2015_mintemp['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
yangpyeong_2015_mintemp_month1 = make_date(yangpyeong_2015_mintemp[:496], 2015, 1)
yangpyeong_2015_mintemp_month2 = make_date(yangpyeong_2015_mintemp[497:945], 2015, 2)
yangpyeong_2015_mintemp_month3 = make_date(yangpyeong_2015_mintemp[946:1442], 2015, 3)
yangpyeong_2015_mintemp_month4 = make_date(yangpyeong_2015_mintemp[1443:1923], 2015, 4)
yangpyeong_2015_mintemp_month5 = make_date(yangpyeong_2015_mintemp[1924:2258], 2015, 5)
yangpyeong_2015_mintemp_month6 = make_date(yangpyeong_2015_mintemp[2259:2739], 2015, 6)
yangpyeong_2015_mintemp_month7 = make_date(yangpyeong_2015_mintemp[2740:3236], 2015, 7)
yangpyeong_2015_mintemp_month8 = make_date(yangpyeong_2015_mintemp[3237:3733], 2015, 8)
yangpyeong_2015_mintemp_month9 = make_date(yangpyeong_2015_mintemp[3734:4214], 2015, 9)
yangpyeong_2015_mintemp_month10 = make_date(yangpyeong_2015_mintemp[4215:4711], 2015, 10)
yangpyeong_2015_mintemp_month11 = make_date(yangpyeong_2015_mintemp[4712:5192], 2015, 11)
yangpyeong_2015_mintemp_month12 = make_date(yangpyeong_2015_mintemp[5193:], 2015, 12)

df_list = [yangpyeong_2015_mintemp_month1, yangpyeong_2015_mintemp_month2, yangpyeong_2015_mintemp_month3, yangpyeong_2015_mintemp_month4, yangpyeong_2015_mintemp_month5,
           yangpyeong_2015_mintemp_month6, yangpyeong_2015_mintemp_month7, yangpyeong_2015_mintemp_month8, yangpyeong_2015_mintemp_month9 ,yangpyeong_2015_mintemp_month10,
           yangpyeong_2015_mintemp_month11, yangpyeong_2015_mintemp_month12]

yangpyeong_2015_mintemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_mintemp_new1 = yangpyeong_2015_mintemp_new.loc[(yangpyeong_2015_mintemp_new['hour'] == 1400) & ((yangpyeong_2015_mintemp_new['forecast']==4.0) | (yangpyeong_2015_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

yangpyeong_2015_mintemp_new1.columns = ['date', 'min_temp_24']

yangpyeong_2015_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2015-01-01        -12.0
1   2015-01-02        -12.0
2   2015-01-03         -3.0
3   2015-01-04         -4.0
4   2015-01-05        -10.0
..         ...          ...
350 2015-12-27        -10.0
351 2015-12-28         -9.0
352 2015-12-29         -7.0
353 2015-12-30         -5.0
354 2015-12-31         -5.0

[355 rows x 2 columns]

#### 풍속

In [ ]:
yangpyeong_2015_wind.loc[yangpyeong_2015_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20150101
4588,Start : 20150201,NaN,NaN,NaN
8733,Start : 20150301,NaN,NaN,NaN
13322,Start : 20150401,NaN,NaN,NaN
17763,Start : 20150501,NaN,NaN,NaN
20851,Start : 20150601,NaN,NaN,NaN
25292,Start : 20150701,NaN,NaN,NaN
29881,Start : 20150801,NaN,NaN,NaN
34470,Start : 20150901,NaN,NaN,NaN
38911,Start : 20151001,NaN,NaN,NaN
43500,Start : 20151101,NaN,NaN,NaN
47941,Start : 20151201,NaN,NaN,NaN

In [ ]:
yangpyeong_2015_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2015_wind_month1 = make_date(yangpyeong_2015_wind[:4588], 2015, 1)
yangpyeong_2015_wind_month2 = make_date(yangpyeong_2015_wind[4589:8733], 2015, 2)
yangpyeong_2015_wind_month3 = make_date(yangpyeong_2015_wind[8734:13322], 2015, 3)
yangpyeong_2015_wind_month4 = make_date(yangpyeong_2015_wind[13323:17763], 2015, 4)
yangpyeong_2015_wind_month5 = make_date(yangpyeong_2015_wind[17764:20851], 2015, 5)
yangpyeong_2015_wind_month6 = make_date(yangpyeong_2015_wind[20852:25292], 2015, 6)
yangpyeong_2015_wind_month7 = make_date(yangpyeong_2015_wind[25293:29881], 2015, 7)
yangpyeong_2015_wind_month8 = make_date(yangpyeong_2015_wind[29882:34470], 2015, 8)
yangpyeong_2015_wind_month9 = make_date(yangpyeong_2015_wind[34471:38911], 2015, 9)
yangpyeong_2015_wind_month10 = make_date(yangpyeong_2015_wind[38912:43500], 2015, 10)
yangpyeong_2015_wind_month11 = make_date(yangpyeong_2015_wind[43501:47941], 2015, 11)
yangpyeong_2015_wind_month12 = make_date(yangpyeong_2015_wind[47942:], 2015, 12)

df_list = [yangpyeong_2015_wind_month1, yangpyeong_2015_wind_month2, yangpyeong_2015_wind_month3, yangpyeong_2015_wind_month4, yangpyeong_2015_wind_month5,
           yangpyeong_2015_wind_month6, yangpyeong_2015_wind_month7, yangpyeong_2015_wind_month8, yangpyeong_2015_wind_month9, yangpyeong_2015_wind_month10,
           yangpyeong_2015_wind_month11, yangpyeong_2015_wind_month12]

yangpyeong_2015_wind_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2015_wind_new1_24 = yangpyeong_2015_wind_new.loc[(yangpyeong_2015_wind_new['hour'] == 1400) & ((yangpyeong_2015_wind_new['forecast']>=4.0) & (yangpyeong_2015_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2015_wind_new1_48 = yangpyeong_2015_wind_new.loc[(yangpyeong_2015_wind_new['hour'] == 1400) & ((yangpyeong_2015_wind_new['forecast']>=28.0) & (yangpyeong_2015_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2015_wind_new1_24.columns = ['date', 'wind_24']
yangpyeong_2015_wind_new1_48.columns = ['date', 'wind_48']

yangpyeong_2015_wind_new2 = pd.concat([yangpyeong_2015_wind_new1_24, yangpyeong_2015_wind_new1_48['wind_48']], axis=1)
yangpyeong_2015_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2015-01-01    2.250    1.375
1   2015-01-02    1.125    1.250
2   2015-01-03    1.000    1.000
3   2015-01-04    1.000    2.625
4   2015-01-05    3.750    3.625
..         ...      ...      ...
350 2015-12-27    1.750    1.500
351 2015-12-28    1.500    1.375
352 2015-12-29    2.125    2.125
353 2015-12-30    2.125    1.750
354 2015-12-31    1.750    2.250

[355 rows x 3 columns]

#### 2015년 양평읍 데이터

In [ ]:
from functools import reduce
dfs = [yangpyeong_2015_rainfall_new1, yangpyeong_2015_snow_new1, yangpyeong_2015_temp3_new2, yangpyeong_2015_humid_new2,yangpyeong_2015_maxtemp_new1,
       yangpyeong_2015_mintemp_new1, yangpyeong_2015_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2015-01-01,0.0,0.0,-6.750,-5.625,51.375,66.625,6.0,-12.0,2.250,1.375
1,2015-01-02,0.0,0.0,-5.125,0.500,67.125,71.625,7.0,-12.0,1.125,1.250
2,2015-01-03,0.0,0.0,-0.125,0.875,75.500,83.250,5.0,-3.0,1.000,1.000
3,2015-01-04,10.0,0.0,0.750,-0.625,86.375,53.125,5.0,-4.0,1.000,2.625
4,2015-01-05,5.0,0.0,-1.000,-5.875,55.750,39.500,2.0,-10.0,3.750,3.625
...,...,...,...,...,...,...,...,...,...,...,...
350,2015-12-27,0.0,0.0,-5.000,-3.125,53.750,65.625,2.0,-10.0,1.750,1.500
351,2015-12-28,0.0,0.0,-3.875,-0.875,65.625,75.625,5.0,-9.0,1.500,1.375
352,2015-12-29,10.0,10.0,-1.375,0.500,77.500,81.250,4.0,-7.0,2.125,2.125
353,2015-12-30,0.0,0.0,0.000,-0.375,81.250,71.250,7.0,-5.0,2.125,1.750
354,2015-12-31,0.0,0.0,-0.500,3.625,73.125,80.000,9.0,-5.0,1.750,2.250

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_양평읍_2015.csv', index=False)

### 2016년

In [ ]:
yangpyeong_2016_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_6시간강수량_201601_201612.csv')
yangpyeong_2016_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_6시간적설_201601_201612.csv')
yangpyeong_2016_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_3시간기온_201601_201612.csv')
yangpyeong_2016_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_습도_201601_201612.csv')
yangpyeong_2016_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_일최고기온_201601_201612.csv')
yangpyeong_2016_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_일최저기온_201601_201612.csv')
yangpyeong_2016_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/양평읍_풍속_201601_201612.csv')

#### 6시간강수량

In [ ]:
yangpyeong_2016_rainfall.loc[yangpyeong_2016_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_rainfall.loc[yangpyeong_2016_rainfall['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_rainfall2 = yangpyeong_2016_rainfall.iloc[:27827]

In [ ]:
yangpyeong_2016_rainfall2['hour'] = pd.to_numeric(yangpyeong_2016_rainfall2['hour'])
yangpyeong_2016_rainfall2['forecast'] =  pd.to_numeric(yangpyeong_2016_rainfall2['forecast'])
yangpyeong_2016_rainfall2['value'] =  pd.to_numeric(yangpyeong_2016_rainfall2['value'])

In [ ]:
yangpyeong_2016_rainfall2.loc[yangpyeong_2016_rainfall2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2016_rainfall2.loc[yangpyeong_2016_rainfall2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_rainfall_month1 = make_date(yangpyeong_2016_rainfall2[:2356], 2016, 1)
yangpyeong_2016_rainfall_month2 = make_date(yangpyeong_2016_rainfall2[2357:4561], 2016, 2)
yangpyeong_2016_rainfall_month3 = make_date(yangpyeong_2016_rainfall2[4562:6918], 2016, 3)
yangpyeong_2016_rainfall_month4 = make_date(yangpyeong_2016_rainfall2[6919:9199], 2016, 4)
yangpyeong_2016_rainfall_month5 = make_date(yangpyeong_2016_rainfall2[9200:11556], 2016, 5)
yangpyeong_2016_rainfall_month6 = make_date(yangpyeong_2016_rainfall2[11557:13837], 2016, 6)
yangpyeong_2016_rainfall_month7 = make_date(yangpyeong_2016_rainfall2[13838:16194], 2016, 7)
yangpyeong_2016_rainfall_month8 = make_date(yangpyeong_2016_rainfall2[16195:18551], 2016, 8)
yangpyeong_2016_rainfall_month9 = make_date(yangpyeong_2016_rainfall2[18552:20832], 2016, 9)
yangpyeong_2016_rainfall_month10 = make_date(yangpyeong_2016_rainfall2[20833:23189], 2016, 10)
yangpyeong_2016_rainfall_month11 = make_date(yangpyeong_2016_rainfall2[23190:25470], 2016, 11)
yangpyeong_2016_rainfall_month12 = make_date(yangpyeong_2016_rainfall2[25471:], 2016, 12)


df_list = [yangpyeong_2016_rainfall_month1, yangpyeong_2016_rainfall_month2, yangpyeong_2016_rainfall_month3, yangpyeong_2016_rainfall_month4, yangpyeong_2016_rainfall_month5,
           yangpyeong_2016_rainfall_month6, yangpyeong_2016_rainfall_month7, yangpyeong_2016_rainfall_month8, yangpyeong_2016_rainfall_month9,yangpyeong_2016_rainfall_month10,
           yangpyeong_2016_rainfall_month11, yangpyeong_2016_rainfall_month12]

yangpyeong_2016_rainfall_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_rainfall_new1 = yangpyeong_2016_rainfall_new.loc[(yangpyeong_2016_rainfall_new['hour'] == 1400) & ((yangpyeong_2016_rainfall_new['forecast']>=7.0) & (yangpyeong_2016_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2016_rainfall_new1.columns = ['date', 'rainfall_24']
yangpyeong_2016_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2016-01-01          0.0
1   2016-01-02          0.0
2   2016-01-03          0.0
3   2016-01-04          0.0
4   2016-01-05          0.0
..         ...          ...
361 2016-12-27          0.0
362 2016-12-28          5.0
363 2016-12-29          0.0
364 2016-12-30          0.0
365 2016-12-31          0.0

[366 rows x 2 columns]

#### 6시간적설

In [ ]:
yangpyeong_2016_snow.loc[yangpyeong_2016_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
2356,Start : 20160201,NaN,NaN,NaN
4561,Start : 20160301,NaN,NaN,NaN
6918,Start : 20160401,NaN,NaN,NaN
9199,Start : 20160501,NaN,NaN,NaN
11556,Start : 20160601,NaN,NaN,NaN
13837,Start : 20160701,NaN,NaN,NaN
16194,Start : 20160801,NaN,NaN,NaN
18551,Start : 20160901,NaN,NaN,NaN
20832,Start : 20161001,NaN,NaN,NaN
23189,Start : 20161101,NaN,NaN,NaN
25470,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_snow.loc[yangpyeong_2016_snow['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_snow2 = yangpyeong_2016_snow.iloc[:27827]

In [ ]:
yangpyeong_2016_snow2['hour'] = pd.to_numeric(yangpyeong_2016_snow2['hour'])
yangpyeong_2016_snow2['forecast'] =  pd.to_numeric(yangpyeong_2016_snow2['forecast'])
yangpyeong_2016_snow2['value'] =  pd.to_numeric(yangpyeong_2016_snow2['value'])

In [ ]:
yangpyeong_2016_snow2.loc[yangpyeong_2016_snow2['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
yangpyeong_2016_snow2.loc[yangpyeong_2016_snow2['hour'].isna(),:]

                      day  hour  forecast  value
2356    Start : 20160201    NaN       NaN    NaN
4561    Start : 20160301    NaN       NaN    NaN
6918    Start : 20160401    NaN       NaN    NaN
9199    Start : 20160501    NaN       NaN    NaN
11556   Start : 20160601    NaN       NaN    NaN
13837   Start : 20160701    NaN       NaN    NaN
16194   Start : 20160801    NaN       NaN    NaN
18551   Start : 20160901    NaN       NaN    NaN
20832   Start : 20161001    NaN       NaN    NaN
23189   Start : 20161101    NaN       NaN    NaN
25470   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_snow_month1 = make_date(yangpyeong_2016_snow2[:2356], 2016, 1)
yangpyeong_2016_snow_month2 = make_date(yangpyeong_2016_snow2[2357:4561], 2016, 2)
yangpyeong_2016_snow_month3 = make_date(yangpyeong_2016_snow2[4562:6918], 2016, 3)
yangpyeong_2016_snow_month4 = make_date(yangpyeong_2016_snow2[6919:9199], 2016, 4)
yangpyeong_2016_snow_month5 = make_date(yangpyeong_2016_snow2[9200:11556], 2016, 5)
yangpyeong_2016_snow_month6 = make_date(yangpyeong_2016_snow2[11557:13837], 2016, 6)
yangpyeong_2016_snow_month7 = make_date(yangpyeong_2016_snow2[13838:16194], 2016, 7)
yangpyeong_2016_snow_month8 = make_date(yangpyeong_2016_snow2[16195:18551], 2016, 8)
yangpyeong_2016_snow_month9 = make_date(yangpyeong_2016_snow2[18552:20832], 2016, 9)
yangpyeong_2016_snow_month10 = make_date(yangpyeong_2016_snow2[20833:23189], 2016, 10)
yangpyeong_2016_snow_month11 = make_date(yangpyeong_2016_snow2[23190:25470], 2016, 11)
yangpyeong_2016_snow_month12 = make_date(yangpyeong_2016_snow2[25471:], 2016, 12)


df_list = [yangpyeong_2016_snow_month1, yangpyeong_2016_snow_month2, yangpyeong_2016_snow_month3, yangpyeong_2016_snow_month4, yangpyeong_2016_snow_month5,
           yangpyeong_2016_snow_month6, yangpyeong_2016_snow_month7, yangpyeong_2016_snow_month8, yangpyeong_2016_snow_month9, yangpyeong_2016_snow_month10, 
           yangpyeong_2016_snow_month11, yangpyeong_2016_snow_month12]

yangpyeong_2016_snow_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_snow_new1 = yangpyeong_2016_snow_new.loc[(yangpyeong_2016_snow_new['hour'] == 1400) & ((yangpyeong_2016_snow_new['forecast']>=7.0) & (yangpyeong_2016_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

yangpyeong_2016_snow_new1.columns = ['date', 'snow_24']
yangpyeong_2016_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2016-01-01      0.0
1   2016-01-02      0.0
2   2016-01-03      0.0
3   2016-01-04      0.0
4   2016-01-05      0.0
..         ...      ...
361 2016-12-27      0.0
362 2016-12-28      5.0
363 2016-12-29      0.0
364 2016-12-30      0.0
365 2016-12-31      0.0

[366 rows x 2 columns]

#### 3시간기온

In [ ]:
yangpyeong_2016_temp3.loc[yangpyeong_2016_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_temp3.loc[yangpyeong_2016_temp3['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_temp32 = yangpyeong_2016_temp3.iloc[:54179]

In [ ]:
yangpyeong_2016_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_temp32['hour'] = pd.to_numeric(yangpyeong_2016_temp32['hour'])
yangpyeong_2016_temp32['forecast'] =  pd.to_numeric(yangpyeong_2016_temp32['forecast'])
yangpyeong_2016_temp32['value'] =  pd.to_numeric(yangpyeong_2016_temp32['value'])

In [ ]:
yangpyeong_2016_temp32.loc[yangpyeong_2016_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_temp3_month1 = make_date(yangpyeong_2016_temp32[:4588], 2016, 1)
yangpyeong_2016_temp3_month2 = make_date(yangpyeong_2016_temp32[4589:8881], 2016, 2)
yangpyeong_2016_temp3_month3 = make_date(yangpyeong_2016_temp32[8882:13470], 2016, 3)
yangpyeong_2016_temp3_month4 = make_date(yangpyeong_2016_temp32[13471:17911], 2016, 4)
yangpyeong_2016_temp3_month5 = make_date(yangpyeong_2016_temp32[17912:22500], 2016, 5)
yangpyeong_2016_temp3_month6 = make_date(yangpyeong_2016_temp32[22501:26941], 2016, 6)
yangpyeong_2016_temp3_month7 = make_date(yangpyeong_2016_temp32[26942:31530], 2016, 7)
yangpyeong_2016_temp3_month8 = make_date(yangpyeong_2016_temp32[31531:36119], 2016, 8)
yangpyeong_2016_temp3_month9 = make_date(yangpyeong_2016_temp32[36120:40560], 2016, 9)
yangpyeong_2016_temp3_month10 = make_date(yangpyeong_2016_temp32[40561:45149], 2016, 10)
yangpyeong_2016_temp3_month11 = make_date(yangpyeong_2016_temp32[45150:49590], 2016, 11)
yangpyeong_2016_temp3_month12 = make_date(yangpyeong_2016_temp32[49591:],2016, 12)


df_list = [yangpyeong_2016_temp3_month1, yangpyeong_2016_temp3_month2, yangpyeong_2016_temp3_month3, yangpyeong_2016_temp3_month4,yangpyeong_2016_temp3_month5,
           yangpyeong_2016_temp3_month6, yangpyeong_2016_temp3_month7, yangpyeong_2016_temp3_month8, yangpyeong_2016_temp3_month9,yangpyeong_2016_temp3_month10,
           yangpyeong_2016_temp3_month11, yangpyeong_2016_temp3_month12]

yangpyeong_2016_temp3_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_temp3_new1_24 = yangpyeong_2016_temp3_new.loc[(yangpyeong_2016_temp3_new['hour'] == 1400) & ((yangpyeong_2016_temp3_new['forecast']>=4.0) & (yangpyeong_2016_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2016_temp3_new1_48 = yangpyeong_2016_temp3_new.loc[(yangpyeong_2016_temp3_new['hour'] == 1400) & ((yangpyeong_2016_temp3_new['forecast']>=28.0) & (yangpyeong_2016_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2016_temp3_new1_24.columns = ['date', 'temp_24']
yangpyeong_2016_temp3_new1_48.columns = ['date', 'temp_48']

yangpyeong_2016_temp3_new2 = pd.concat([yangpyeong_2016_temp3_new1_24, yangpyeong_2016_temp3_new1_48['temp_48']], axis=1)
yangpyeong_2016_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2016-01-01    4.125    3.500
1   2016-01-02    4.375    1.125
2   2016-01-03    1.375   -1.750
3   2016-01-04   -1.750   -2.500
4   2016-01-05   -2.500   -3.125
..         ...      ...      ...
361 2016-12-27   -3.500   -2.500
362 2016-12-28   -2.500   -3.250
363 2016-12-29   -3.250   -0.250
364 2016-12-30   -0.375    1.250
365 2016-12-31    1.125    3.125

[366 rows x 3 columns]

#### 습도

In [ ]:
yangpyeong_2016_humid.loc[yangpyeong_2016_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_humid.loc[yangpyeong_2016_humid['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_humid2 = yangpyeong_2016_humid.iloc[:54179]

In [ ]:
yangpyeong_2016_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_humid2['hour'] = pd.to_numeric(yangpyeong_2016_humid2['hour'])
yangpyeong_2016_humid2['forecast'] =  pd.to_numeric(yangpyeong_2016_humid2['forecast'])
yangpyeong_2016_humid2['value'] =  pd.to_numeric(yangpyeong_2016_humid2['value'])

In [ ]:
yangpyeong_2016_humid2.loc[yangpyeong_2016_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_humid_month1 = make_date(yangpyeong_2016_humid2[:4588], 2016, 1)
yangpyeong_2016_humid_month2 = make_date(yangpyeong_2016_humid2[4589:8881], 2016, 2)
yangpyeong_2016_humid_month3 = make_date(yangpyeong_2016_humid2[8882:13470], 2016, 3)
yangpyeong_2016_humid_month4 = make_date(yangpyeong_2016_humid2[13471:17911], 2016, 4)
yangpyeong_2016_humid_month5 = make_date(yangpyeong_2016_humid2[17912:22500], 2016, 5)
yangpyeong_2016_humid_month6 = make_date(yangpyeong_2016_humid2[22501:26941], 2016, 6)
yangpyeong_2016_humid_month7 = make_date(yangpyeong_2016_humid2[26942:31530], 2016, 7)
yangpyeong_2016_humid_month8 = make_date(yangpyeong_2016_humid2[31531:36119], 2016, 8)
yangpyeong_2016_humid_month9 = make_date(yangpyeong_2016_humid2[36120:40560], 2016, 9)
yangpyeong_2016_humid_month10 = make_date(yangpyeong_2016_humid2[40561:45149], 2016, 10)
yangpyeong_2016_humid_month11 = make_date(yangpyeong_2016_humid2[45150:49590], 2016, 11)
yangpyeong_2016_humid_month12 = make_date(yangpyeong_2016_humid2[49591:],2016, 12)

df_list = [yangpyeong_2016_humid_month1, yangpyeong_2016_humid_month2, yangpyeong_2016_humid_month3, yangpyeong_2016_humid_month4, yangpyeong_2016_humid_month5,
           yangpyeong_2016_humid_month6, yangpyeong_2016_humid_month7, yangpyeong_2016_humid_month8, yangpyeong_2016_humid_month9, yangpyeong_2016_humid_month10,
           yangpyeong_2016_humid_month11, yangpyeong_2016_humid_month12]

yangpyeong_2016_humid_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_humid_new1_24 = yangpyeong_2016_humid_new.loc[(yangpyeong_2016_humid_new['hour'] == 1400) & ((yangpyeong_2016_humid_new['forecast']>=4.0) & (yangpyeong_2016_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2016_humid_new1_48 = yangpyeong_2016_humid_new.loc[(yangpyeong_2016_humid_new['hour'] == 1400) & ((yangpyeong_2016_humid_new['forecast']>=28.0) & (yangpyeong_2016_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2016_humid_new1_24.columns = ['date', 'humid_24']
yangpyeong_2016_humid_new1_48.columns = ['date', 'humid_48']

yangpyeong_2016_humid_new2 = pd.concat([yangpyeong_2016_humid_new1_24, yangpyeong_2016_humid_new1_48['humid_48']], axis=1)
yangpyeong_2016_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2016-01-01    80.000    82.500
1   2016-01-02    83.125    66.875
2   2016-01-03    66.875    57.500
3   2016-01-04    57.500    61.250
4   2016-01-05    63.750    47.500
..         ...       ...       ...
361 2016-12-27    58.750    48.750
362 2016-12-28    48.750    61.250
363 2016-12-29    61.250    71.250
364 2016-12-30    71.875    70.625
365 2016-12-31    70.625    72.500

[366 rows x 3 columns]

#### 일최고기온

In [ ]:
yangpyeong_2016_maxtemp.loc[yangpyeong_2016_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
589,Start : 20160201,NaN,NaN,NaN
1141,Start : 20160301,NaN,NaN,NaN
1731,Start : 20160401,NaN,NaN,NaN
2302,Start : 20160501,NaN,NaN,NaN
2892,Start : 20160601,NaN,NaN,NaN
3463,Start : 20160701,NaN,NaN,NaN
4053,Start : 20160801,NaN,NaN,NaN
4643,Start : 20160901,NaN,NaN,NaN
5214,Start : 20161001,NaN,NaN,NaN
5804,Start : 20161101,NaN,NaN,NaN
6375,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_maxtemp.loc[yangpyeong_2016_maxtemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_maxtemp2 = yangpyeong_2016_maxtemp.iloc[:6965,:]

In [ ]:
yangpyeong_2016_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_maxtemp2['hour'] = pd.to_numeric(yangpyeong_2016_maxtemp2['hour'])
yangpyeong_2016_maxtemp2['forecast'] =  pd.to_numeric(yangpyeong_2016_maxtemp2['forecast'])
yangpyeong_2016_maxtemp2['value'] =  pd.to_numeric(yangpyeong_2016_maxtemp2['value'])

In [ ]:
yangpyeong_2016_maxtemp2.loc[yangpyeong_2016_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
589    Start : 20160201    NaN       NaN    NaN
1141   Start : 20160301    NaN       NaN    NaN
1731   Start : 20160401    NaN       NaN    NaN
2302   Start : 20160501    NaN       NaN    NaN
2892   Start : 20160601    NaN       NaN    NaN
3463   Start : 20160701    NaN       NaN    NaN
4053   Start : 20160801    NaN       NaN    NaN
4643   Start : 20160901    NaN       NaN    NaN
5214   Start : 20161001    NaN       NaN    NaN
5804   Start : 20161101    NaN       NaN    NaN
6375   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_maxtemp2.loc[yangpyeong_2016_maxtemp2['hour']==2300,'forecast'].unique()

array([ 4.,  7., 10.])

In [ ]:
yangpyeong_2016_maxtemp_month1 = make_date(yangpyeong_2016_maxtemp2[:589], 2016, 1)
yangpyeong_2016_maxtemp_month2 = make_date(yangpyeong_2016_maxtemp2[590:1141], 2016, 2)
yangpyeong_2016_maxtemp_month3 = make_date(yangpyeong_2016_maxtemp2[1142:1731], 2016, 3)
yangpyeong_2016_maxtemp_month4 = make_date(yangpyeong_2016_maxtemp2[1732:2302], 2016, 4)
yangpyeong_2016_maxtemp_month5 = make_date(yangpyeong_2016_maxtemp2[2303:2892], 2016, 5)
yangpyeong_2016_maxtemp_month6 = make_date(yangpyeong_2016_maxtemp2[2893:3463], 2016, 6)
yangpyeong_2016_maxtemp_month7 = make_date(yangpyeong_2016_maxtemp2[3464:4053], 2016, 7)
yangpyeong_2016_maxtemp_month8 = make_date(yangpyeong_2016_maxtemp2[4054:4643], 2016, 8)
yangpyeong_2016_maxtemp_month9 = make_date(yangpyeong_2016_maxtemp2[4644:5214], 2016, 9)
yangpyeong_2016_maxtemp_month10 = make_date(yangpyeong_2016_maxtemp2[5215:5804], 2016, 10)
yangpyeong_2016_maxtemp_month11 = make_date(yangpyeong_2016_maxtemp2[5805:6375], 2016, 11)
yangpyeong_2016_maxtemp_month12 = make_date(yangpyeong_2016_maxtemp2[6376:], 2016, 12)

df_list = [yangpyeong_2016_maxtemp_month1, yangpyeong_2016_maxtemp_month2, yangpyeong_2016_maxtemp_month3, yangpyeong_2016_maxtemp_month4, yangpyeong_2016_maxtemp_month5,
           yangpyeong_2016_maxtemp_month6, yangpyeong_2016_maxtemp_month7, yangpyeong_2016_maxtemp_month8, yangpyeong_2016_maxtemp_month9 ,yangpyeong_2016_maxtemp_month10,
           yangpyeong_2016_maxtemp_month11, yangpyeong_2016_maxtemp_month12]

yangpyeong_2016_maxtemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_maxtemp_new1 = yangpyeong_2016_maxtemp_new.loc[(yangpyeong_2016_maxtemp_new['hour'] == 2300) & ((yangpyeong_2016_maxtemp_new['forecast']==4.0) | (yangpyeong_2016_maxtemp_new['forecast']==7.0) | (yangpyeong_2016_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

yangpyeong_2016_maxtemp_new1.columns = ['date', 'max_temp_24']

yangpyeong_2016_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2016-01-01          9.0
1   2016-01-02          9.0
2   2016-01-03          5.0
3   2016-01-04          2.0
4   2016-01-05          2.0
..         ...          ...
361 2016-12-27          3.0
362 2016-12-28          5.0
363 2016-12-29          6.0
364 2016-12-30          8.0
365 2016-12-31          8.0

[366 rows x 2 columns]

#### 일최저기온

In [ ]:
yangpyeong_2016_mintemp.loc[yangpyeong_2016_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
496,Start : 20160201,NaN,NaN,NaN
961,Start : 20160301,NaN,NaN,NaN
1458,Start : 20160401,NaN,NaN,NaN
1939,Start : 20160501,NaN,NaN,NaN
2436,Start : 20160601,NaN,NaN,NaN
2917,Start : 20160701,NaN,NaN,NaN
3414,Start : 20160801,NaN,NaN,NaN
3911,Start : 20160901,NaN,NaN,NaN
4392,Start : 20161001,NaN,NaN,NaN
4889,Start : 20161101,NaN,NaN,NaN
5370,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_mintemp.loc[yangpyeong_2016_mintemp['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_mintemp2 = yangpyeong_2016_mintemp.iloc[:5867,:]

In [ ]:
yangpyeong_2016_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_mintemp2['hour'] = pd.to_numeric(yangpyeong_2016_mintemp2['hour'])
yangpyeong_2016_mintemp2['forecast'] =  pd.to_numeric(yangpyeong_2016_mintemp2['forecast'])
yangpyeong_2016_mintemp2['value'] =  pd.to_numeric(yangpyeong_2016_mintemp2['value'])

In [ ]:
yangpyeong_2016_mintemp2.loc[yangpyeong_2016_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20160201    NaN       NaN    NaN
961    Start : 20160301    NaN       NaN    NaN
1458   Start : 20160401    NaN       NaN    NaN
1939   Start : 20160501    NaN       NaN    NaN
2436   Start : 20160601    NaN       NaN    NaN
2917   Start : 20160701    NaN       NaN    NaN
3414   Start : 20160801    NaN       NaN    NaN
3911   Start : 20160901    NaN       NaN    NaN
4392   Start : 20161001    NaN       NaN    NaN
4889   Start : 20161101    NaN       NaN    NaN
5370   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_mintemp2.loc[yangpyeong_2016_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
yangpyeong_2016_mintemp_month1 = make_date(yangpyeong_2016_mintemp2[:496], 2016, 1)
yangpyeong_2016_mintemp_month2 = make_date(yangpyeong_2016_mintemp2[497:961], 2016, 2)
yangpyeong_2016_mintemp_month3 = make_date(yangpyeong_2016_mintemp2[962:1458], 2016, 3)
yangpyeong_2016_mintemp_month4 = make_date(yangpyeong_2016_mintemp2[1459:1939], 2016, 4)
yangpyeong_2016_mintemp_month5 = make_date(yangpyeong_2016_mintemp2[1940:2436], 2016, 5)
yangpyeong_2016_mintemp_month6 = make_date(yangpyeong_2016_mintemp2[2437:2917], 2016, 6)
yangpyeong_2016_mintemp_month7 = make_date(yangpyeong_2016_mintemp2[2918:3414], 2016, 7)
yangpyeong_2016_mintemp_month8 = make_date(yangpyeong_2016_mintemp2[3415:3911], 2016, 8)
yangpyeong_2016_mintemp_month9 = make_date(yangpyeong_2016_mintemp2[3912:4392], 2016, 9)
yangpyeong_2016_mintemp_month10 = make_date(yangpyeong_2016_mintemp2[4393:4889], 2016, 10)
yangpyeong_2016_mintemp_month11 = make_date(yangpyeong_2016_mintemp2[4890:5370], 2016, 11)
yangpyeong_2016_mintemp_month12 = make_date(yangpyeong_2016_mintemp2[5371:], 2016, 12)

df_list = [yangpyeong_2016_mintemp_month1, yangpyeong_2016_mintemp_month2, yangpyeong_2016_mintemp_month3, yangpyeong_2016_mintemp_month4, yangpyeong_2016_mintemp_month5,
           yangpyeong_2016_mintemp_month6, yangpyeong_2016_mintemp_month7, yangpyeong_2016_mintemp_month8, yangpyeong_2016_mintemp_month9 ,yangpyeong_2016_mintemp_month10,
           yangpyeong_2016_mintemp_month11, yangpyeong_2016_mintemp_month12]

yangpyeong_2016_mintemp_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_mintemp_new1 = yangpyeong_2016_mintemp_new.loc[(yangpyeong_2016_mintemp_new['hour'] == 1400) & ((yangpyeong_2016_mintemp_new['forecast']==4.0) | (yangpyeong_2016_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

yangpyeong_2016_mintemp_new1.columns = ['date', 'min_temp_24']

yangpyeong_2016_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2016-01-01          0.0
1   2016-01-02          0.0
2   2016-01-03         -4.0
3   2016-01-04         -6.0
4   2016-01-05         -7.0
..         ...          ...
361 2016-12-27        -10.0
362 2016-12-28        -10.0
363 2016-12-29         -9.0
364 2016-12-30         -4.0
365 2016-12-31         -3.0

[366 rows x 2 columns]

#### 풍속

In [ ]:
yangpyeong_2016_wind.loc[yangpyeong_2016_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:69_125 Start : 20160101
4588,Start : 20160201,NaN,NaN,NaN
8881,Start : 20160301,NaN,NaN,NaN
13470,Start : 20160401,NaN,NaN,NaN
17911,Start : 20160501,NaN,NaN,NaN
22500,Start : 20160601,NaN,NaN,NaN
26941,Start : 20160701,NaN,NaN,NaN
31530,Start : 20160801,NaN,NaN,NaN
36119,Start : 20160901,NaN,NaN,NaN
40560,Start : 20161001,NaN,NaN,NaN
45149,Start : 20161101,NaN,NaN,NaN
49590,Start : 20161201,NaN,NaN,NaN

In [ ]:
yangpyeong_2016_wind.loc[yangpyeong_2016_wind['hour']=="hour",:]

Empty DataFrame
Columns: [ format: day, hour, forecast, value  location:69_125 Start : 20160101 ]
Index: []

In [ ]:
yangpyeong_2016_wind2 = yangpyeong_2016_wind.iloc[:54179]

In [ ]:
yangpyeong_2016_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
yangpyeong_2016_wind2['hour'] = pd.to_numeric(yangpyeong_2016_wind2['hour'])
yangpyeong_2016_wind2['forecast'] =  pd.to_numeric(yangpyeong_2016_wind2['forecast'])
yangpyeong_2016_wind2['value'] =  pd.to_numeric(yangpyeong_2016_wind2['value'])

In [ ]:
yangpyeong_2016_wind2.loc[yangpyeong_2016_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4588    Start : 20160201    NaN       NaN    NaN
8881    Start : 20160301    NaN       NaN    NaN
13470   Start : 20160401    NaN       NaN    NaN
17911   Start : 20160501    NaN       NaN    NaN
22500   Start : 20160601    NaN       NaN    NaN
26941   Start : 20160701    NaN       NaN    NaN
31530   Start : 20160801    NaN       NaN    NaN
36119   Start : 20160901    NaN       NaN    NaN
40560   Start : 20161001    NaN       NaN    NaN
45149   Start : 20161101    NaN       NaN    NaN
49590   Start : 20161201    NaN       NaN    NaN

In [ ]:
yangpyeong_2016_wind_month1 = make_date(yangpyeong_2016_wind2[:4588], 2016, 1)
yangpyeong_2016_wind_month2 = make_date(yangpyeong_2016_wind2[4589:8881], 2016, 2)
yangpyeong_2016_wind_month3 = make_date(yangpyeong_2016_wind2[8882:13470], 2016, 3)
yangpyeong_2016_wind_month4 = make_date(yangpyeong_2016_wind2[13471:17911], 2016, 4)
yangpyeong_2016_wind_month5 = make_date(yangpyeong_2016_wind2[17912:22500], 2016, 5)
yangpyeong_2016_wind_month6 = make_date(yangpyeong_2016_wind2[22501:26941], 2016, 6)
yangpyeong_2016_wind_month7 = make_date(yangpyeong_2016_wind2[26942:31530], 2016, 7)
yangpyeong_2016_wind_month8 = make_date(yangpyeong_2016_wind2[31531:36119], 2016, 8)
yangpyeong_2016_wind_month9 = make_date(yangpyeong_2016_wind2[36120:40560], 2016, 9)
yangpyeong_2016_wind_month10 = make_date(yangpyeong_2016_wind2[40561:45149], 2016, 10)
yangpyeong_2016_wind_month11 = make_date(yangpyeong_2016_wind2[45150:49590], 2016, 11)
yangpyeong_2016_wind_month12 = make_date(yangpyeong_2016_wind2[49591:], 2016, 12)

df_list = [yangpyeong_2016_wind_month1, yangpyeong_2016_wind_month2, yangpyeong_2016_wind_month3, yangpyeong_2016_wind_month4, yangpyeong_2016_wind_month5,
           yangpyeong_2016_wind_month6, yangpyeong_2016_wind_month7, yangpyeong_2016_wind_month8, yangpyeong_2016_wind_month9, yangpyeong_2016_wind_month10,
           yangpyeong_2016_wind_month11, yangpyeong_2016_wind_month12]

yangpyeong_2016_wind_new = pd.concat(df_list, ignore_index = True)

yangpyeong_2016_wind_new1_24 = yangpyeong_2016_wind_new.loc[(yangpyeong_2016_wind_new['hour'] == 1400) & ((yangpyeong_2016_wind_new['forecast']>=4.0) & (yangpyeong_2016_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
yangpyeong_2016_wind_new1_48 = yangpyeong_2016_wind_new.loc[(yangpyeong_2016_wind_new['hour'] == 1400) & ((yangpyeong_2016_wind_new['forecast']>=28.0) & (yangpyeong_2016_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

yangpyeong_2016_wind_new1_24.columns = ['date', 'wind_24']
yangpyeong_2016_wind_new1_48.columns = ['date', 'wind_48']

yangpyeong_2016_wind_new2 = pd.concat([yangpyeong_2016_wind_new1_24, yangpyeong_2016_wind_new1_48['wind_48']], axis=1)
yangpyeong_2016_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2016-01-01    2.625    1.625
1   2016-01-02    1.500    1.750
2   2016-01-03    1.750    2.000
3   2016-01-04    2.000    1.500
4   2016-01-05    2.125    2.875
..         ...      ...      ...
361 2016-12-27    1.250    1.875
362 2016-12-28    1.875    1.500
363 2016-12-29    1.500    1.375
364 2016-12-30    1.375    1.375
365 2016-12-31    1.375    1.375

[366 rows x 3 columns]

#### 2016년 양평읍 데이터

In [ ]:
from functools import reduce
dfs = [yangpyeong_2016_rainfall_new1, yangpyeong_2016_snow_new1, yangpyeong_2016_temp3_new2, yangpyeong_2016_humid_new2,yangpyeong_2016_maxtemp_new1,
       yangpyeong_2016_mintemp_new1, yangpyeong_2016_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2016-01-01,0.0,0.0,4.125,3.500,80.000,82.500,9.0,0.0,2.625,1.625
1,2016-01-02,0.0,0.0,4.375,1.125,83.125,66.875,9.0,0.0,1.500,1.750
2,2016-01-03,0.0,0.0,1.375,-1.750,66.875,57.500,5.0,-4.0,1.750,2.000
3,2016-01-04,0.0,0.0,-1.750,-2.500,57.500,61.250,2.0,-6.0,2.000,1.500
4,2016-01-05,0.0,0.0,-2.500,-3.125,63.750,47.500,2.0,-7.0,2.125,2.875
...,...,...,...,...,...,...,...,...,...,...,...
361,2016-12-27,0.0,0.0,-3.500,-2.500,58.750,48.750,3.0,-10.0,1.250,1.875
362,2016-12-28,5.0,5.0,-2.500,-3.250,48.750,61.250,5.0,-10.0,1.875,1.500
363,2016-12-29,0.0,0.0,-3.250,-0.250,61.250,71.250,6.0,-9.0,1.500,1.375
364,2016-12-30,0.0,0.0,-0.375,1.250,71.875,70.625,8.0,-4.0,1.375,1.375
365,2016-12-31,0.0,0.0,1.125,3.125,70.625,72.500,8.0,-3.0,1.375,1.375

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_양평읍_2016.csv', index=False)

## 평동 -

### 2012년

In [ ]:
pyeong_2012_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_12시간강수량_201201_201212.csv')
pyeong_2012_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_12시간신적설_201201_201212.csv')
pyeong_2012_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_3시간기온_201201_201212.csv')
pyeong_2012_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_습도_201201_201212.csv')
pyeong_2012_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_일최고기온_201201_201212.csv')
pyeong_2012_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_일최저기온_201201_201212.csv')
pyeong_2012_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2012/경기/평동_풍속_201201_201212.csv')

#### 12시간강수량

In [ ]:
pyeong_2012_rainfall.loc[pyeong_2012_rainfall['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
pyeong_2012_rainfall.loc[pyeong_2012_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
pyeong_2012_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_rainfall_month1 = make_date(pyeong_2012_rainfall[:1116], 2012, 1)
pyeong_2012_rainfall_month2 = make_date(pyeong_2012_rainfall[1117:2161], 2012, 2)
pyeong_2012_rainfall_month3 = make_date(pyeong_2012_rainfall[2162:3278], 2012, 3)
pyeong_2012_rainfall_month4 = make_date(pyeong_2012_rainfall[3279:4359], 2012, 4)
pyeong_2012_rainfall_month5 = make_date(pyeong_2012_rainfall[4360:4396], 2012, 5)
pyeong_2012_rainfall_month6 = make_date(pyeong_2012_rainfall[4397:5477], 2012, 6)
pyeong_2012_rainfall_month7 = make_date(pyeong_2012_rainfall[5478:5514], 2012, 7)
pyeong_2012_rainfall_month8 = make_date(pyeong_2012_rainfall[5515:6595], 2012, 8)
pyeong_2012_rainfall_month9 = make_date(pyeong_2012_rainfall[6596:7676], 2012, 9)
pyeong_2012_rainfall_month10 = make_date(pyeong_2012_rainfall[7677:7713], 2012, 10)
pyeong_2012_rainfall_month11 = make_date(pyeong_2012_rainfall[7714:8794], 2012, 11)
pyeong_2012_rainfall_month12 = make_date(pyeong_2012_rainfall[8795:], 2012, 12)

df_list = [pyeong_2012_rainfall_month1, pyeong_2012_rainfall_month2, pyeong_2012_rainfall_month3, pyeong_2012_rainfall_month4, pyeong_2012_rainfall_month5,
           pyeong_2012_rainfall_month6, pyeong_2012_rainfall_month7, pyeong_2012_rainfall_month8, pyeong_2012_rainfall_month9, pyeong_2012_rainfall_month10,
           pyeong_2012_rainfall_month11,pyeong_2012_rainfall_month12 ]
pyeong_2012_rainfall_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_rainfall_new1 = pyeong_2012_rainfall_new.loc[(pyeong_2012_rainfall_new['hour'] == 1100) & ((pyeong_2012_rainfall_new['forecast']==4.0) | (pyeong_2012_rainfall_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2012_rainfall_new1.columns = ['date', 'rainfall_24']
pyeong_2012_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2012-01-01          1.0
1   2012-01-02          0.0
2   2012-01-03          0.0
3   2012-01-04          0.0
4   2012-01-05          0.0
..         ...          ...
270 2012-12-27          5.0
271 2012-12-28          0.0
272 2012-12-29          5.0
273 2012-12-30          1.0
274 2012-12-31          0.0

[275 rows x 2 columns]

#### 12시간신적설

In [ ]:
pyeong_2012_snow.loc[pyeong_2012_snow['hour']==1100,'forecast'].unique()

array([ 4.,  7., 10., 13., 16.])

In [ ]:
pyeong_2012_snow.loc[pyeong_2012_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
1116,Start : 20120201,NaN,NaN,NaN
2161,Start : 20120301,NaN,NaN,NaN
3278,Start : 20120401,NaN,NaN,NaN
4359,Start : 20120501,NaN,NaN,NaN
4396,Start : 20120601,NaN,NaN,NaN
5477,Start : 20120701,NaN,NaN,NaN
5514,Start : 20120801,NaN,NaN,NaN
6595,Start : 20120901,NaN,NaN,NaN
7676,Start : 20121001,NaN,NaN,NaN
7713,Start : 20121101,NaN,NaN,NaN
8794,Start : 20121201,NaN,NaN,NaN

In [ ]:
pyeong_2012_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_snow_month1 = make_date(pyeong_2012_snow[:1116], 2012, 1)
pyeong_2012_snow_month2 = make_date(pyeong_2012_snow[1117:2161], 2012, 2)
pyeong_2012_snow_month3 = make_date(pyeong_2012_snow[2162:3278], 2012, 3)
pyeong_2012_snow_month4 = make_date(pyeong_2012_snow[3279:4359], 2012, 4)
pyeong_2012_snow_month5 = make_date(pyeong_2012_snow[4360:4396], 2012, 5)
pyeong_2012_snow_month6 = make_date(pyeong_2012_snow[4397:5477], 2012, 6)
pyeong_2012_snow_month7 = make_date(pyeong_2012_snow[5478:5514], 2012, 7)
pyeong_2012_snow_month8 = make_date(pyeong_2012_snow[5515:6595], 2012, 8)
pyeong_2012_snow_month9 = make_date(pyeong_2012_snow[6596:7676], 2012, 9)
pyeong_2012_snow_month10 = make_date(pyeong_2012_snow[7677:7713], 2012, 10)
pyeong_2012_snow_month11 = make_date(pyeong_2012_snow[7714:8794], 2012, 11)
pyeong_2012_snow_month12 = make_date(pyeong_2012_snow[8795:], 2012, 12)

df_list = [pyeong_2012_snow_month1, pyeong_2012_snow_month2, pyeong_2012_snow_month3, pyeong_2012_snow_month4, pyeong_2012_snow_month5,
           pyeong_2012_snow_month6, pyeong_2012_snow_month7, pyeong_2012_snow_month8, pyeong_2012_snow_month9, pyeong_2012_snow_month10,
           pyeong_2012_snow_month11, pyeong_2012_snow_month12 ]

pyeong_2012_snow_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_snow_new1 = pyeong_2012_snow_new.loc[(pyeong_2012_snow_new['hour'] == 1100) & ((pyeong_2012_snow_new['forecast']==4.0) | (pyeong_2012_snow_new['forecast']==16.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2012_snow_new1.columns = ['date', 'snow_24']
pyeong_2012_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2012-01-01      1.0
1   2012-01-02      0.0
2   2012-01-03      0.0
3   2012-01-04      0.0
4   2012-01-05      0.0
..         ...      ...
270 2012-12-27      5.0
271 2012-12-28      0.0
272 2012-12-29      5.0
273 2012-12-30      1.0
274 2012-12-31      0.0

[275 rows x 2 columns]

#### 3시간기온

In [ ]:
pyeong_2012_temp3.loc[pyeong_2012_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
pyeong_2012_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_temp3_month1 = make_date(pyeong_2012_temp3[:4092], 2012, 1)
pyeong_2012_temp3_month2 = make_date(pyeong_2012_temp3[4093:7921], 2012, 2)
pyeong_2012_temp3_month3 = make_date(pyeong_2012_temp3[7922:12014], 2012, 3)
pyeong_2012_temp3_month4 = make_date(pyeong_2012_temp3[12015:15975], 2012, 4)
pyeong_2012_temp3_month5 = make_date(pyeong_2012_temp3[15976:20068], 2012, 5)
pyeong_2012_temp3_month6 = make_date(pyeong_2012_temp3[20069:24029], 2012, 6)
pyeong_2012_temp3_month7 = make_date(pyeong_2012_temp3[24030:28122], 2012, 7)
pyeong_2012_temp3_month8 = make_date(pyeong_2012_temp3[28123:32215], 2012, 8)
pyeong_2012_temp3_month9 = make_date(pyeong_2012_temp3[32216:36176], 2012, 9)
pyeong_2012_temp3_month10 = make_date(pyeong_2012_temp3[36177:], 2012, 10)

df_list = [pyeong_2012_temp3_month1, pyeong_2012_temp3_month2, pyeong_2012_temp3_month3, pyeong_2012_temp3_month4, pyeong_2012_temp3_month5,
           pyeong_2012_temp3_month6, pyeong_2012_temp3_month7, pyeong_2012_temp3_month8, pyeong_2012_temp3_month9, pyeong_2012_temp3_month10]
pyeong_2012_temp3_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_temp3_new1_24 = pyeong_2012_temp3_new.loc[(pyeong_2012_temp3_new['hour'] == 1400) & ((pyeong_2012_temp3_new['forecast']>=4.0) & (pyeong_2012_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2012_temp3_new1_48 = pyeong_2012_temp3_new.loc[(pyeong_2012_temp3_new['hour'] == 1400) & ((pyeong_2012_temp3_new['forecast']>=28.0) & (pyeong_2012_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2012_temp3_new1_24.columns = ['date', 'temp_24']
pyeong_2012_temp3_new1_48.columns = ['date', 'temp_48']

pyeong_2012_temp3_new2 = pd.concat([pyeong_2012_temp3_new1_24, pyeong_2012_temp3_new1_48['temp_48']], axis=1)
pyeong_2012_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2012-01-01  -3.7875  -3.0375
1   2012-01-02  -3.2875  -4.5250
2   2012-01-03  -5.7750  -4.2875
3   2012-01-04  -4.4125  -2.0625
4   2012-01-05  -4.0375  -4.0375
..         ...      ...      ...
300 2012-10-27  13.8750  11.7500
301 2012-10-28  11.6250   9.0000
302 2012-10-29   8.5000   6.3750
303 2012-10-30   6.5000   5.7500
304 2012-10-31   4.8750   4.8750

[305 rows x 3 columns]

#### 습도

In [ ]:
pyeong_2012_humid.loc[pyeong_2012_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120401,NaN,NaN,NaN
15975,Start : 20120501,NaN,NaN,NaN
20068,Start : 20120601,NaN,NaN,NaN
24029,Start : 20120701,NaN,NaN,NaN
28122,Start : 20120801,NaN,NaN,NaN
32215,Start : 20120901,NaN,NaN,NaN
36176,Start : 20121001,NaN,NaN,NaN

In [ ]:
pyeong_2012_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_humid_month1 = make_date(pyeong_2012_humid[:4092], 2012, 1)
pyeong_2012_humid_month2 = make_date(pyeong_2012_humid[4093:7921], 2012, 2)
pyeong_2012_humid_month3 = make_date(pyeong_2012_humid[7922:12014], 2012, 3)
pyeong_2012_humid_month4 = make_date(pyeong_2012_humid[12015:15975], 2012, 4)
pyeong_2012_humid_month5 = make_date(pyeong_2012_humid[15976:20068], 2012, 5)
pyeong_2012_humid_month6 = make_date(pyeong_2012_humid[20069:24029], 2012, 6)
pyeong_2012_humid_month7 = make_date(pyeong_2012_humid[24030:28122], 2012, 7)
pyeong_2012_humid_month8 = make_date(pyeong_2012_humid[28123:32215], 2012, 8)
pyeong_2012_humid_month9 = make_date(pyeong_2012_humid[32216:36176], 2012, 9)
pyeong_2012_humid_month10 = make_date(pyeong_2012_humid[36177:], 2012, 10)

df_list = [pyeong_2012_humid_month1, pyeong_2012_humid_month2, pyeong_2012_humid_month3, pyeong_2012_humid_month4, pyeong_2012_humid_month5,
           pyeong_2012_humid_month6, pyeong_2012_humid_month7, pyeong_2012_humid_month8, pyeong_2012_humid_month9,pyeong_2012_humid_month10]
pyeong_2012_humid_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_humid_new1_24 = pyeong_2012_humid_new.loc[(pyeong_2012_humid_new['hour'] == 1400) & ((pyeong_2012_humid_new['forecast']>=4.0) & (pyeong_2012_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2012_humid_new1_48 = pyeong_2012_humid_new.loc[(pyeong_2012_humid_new['hour'] == 1400) & ((pyeong_2012_humid_new['forecast']>=28.0) & (pyeong_2012_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2012_humid_new1_24.columns = ['date', 'humid_24']
pyeong_2012_humid_new1_48.columns = ['date', 'humid_48']

pyeong_2012_humid_new2 = pd.concat([pyeong_2012_humid_new1_24, pyeong_2012_humid_new1_48['humid_48']], axis=1)
pyeong_2012_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2012-01-01    62.125    66.000
1   2012-01-02    66.000    53.125
2   2012-01-03    53.500    58.250
3   2012-01-04    58.125    57.500
4   2012-01-05    55.375    53.000
..         ...       ...       ...
300 2012-10-27    68.875    66.125
301 2012-10-28    65.000    60.500
302 2012-10-29    56.250    68.125
303 2012-10-30    65.000    53.125
304 2012-10-31    49.375    55.875

[305 rows x 3 columns]

#### 일최고기온



forecast 4,7 중에 max

hour 2300 -> 오전 8시  / 오후 12시 오후 3시

In [ ]:

pyeong_2012_maxtemp.loc[pyeong_2012_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
465,Start : 20120201,NaN,NaN,NaN
901,Start : 20120301,NaN,NaN,NaN
1367,Start : 20120401,NaN,NaN,NaN
1818,Start : 20120501,NaN,NaN,NaN
2284,Start : 20120601,NaN,NaN,NaN
2735,Start : 20120701,NaN,NaN,NaN
3201,Start : 20120801,NaN,NaN,NaN
3667,Start : 20120901,NaN,NaN,NaN
4118,Start : 20121001,NaN,NaN,NaN

In [ ]:
pyeong_2012_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_maxtemp.loc[pyeong_2012_maxtemp['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
pyeong_2012_maxtemp_month1 = make_date(pyeong_2012_maxtemp[:465], 2012, 1)
pyeong_2012_maxtemp_month2 = make_date(pyeong_2012_maxtemp[466:901], 2012, 2)
pyeong_2012_maxtemp_month3 = make_date(pyeong_2012_maxtemp[902:1367], 2012, 3)
pyeong_2012_maxtemp_month4 = make_date(pyeong_2012_maxtemp[1368:1818], 2012, 4)
pyeong_2012_maxtemp_month5 = make_date(pyeong_2012_maxtemp[1819:2284], 2012, 5)
pyeong_2012_maxtemp_month6 = make_date(pyeong_2012_maxtemp[2285:2735], 2012, 6)
pyeong_2012_maxtemp_month7 = make_date(pyeong_2012_maxtemp[2736:3201], 2012, 7)
pyeong_2012_maxtemp_month8 = make_date(pyeong_2012_maxtemp[3202:3667], 2012, 8)
pyeong_2012_maxtemp_month9 = make_date(pyeong_2012_maxtemp[3668:4118], 2012, 9)
pyeong_2012_maxtemp_month10 = make_date(pyeong_2012_maxtemp[4119:], 2012, 10)

df_list = [pyeong_2012_maxtemp_month1, pyeong_2012_maxtemp_month2, pyeong_2012_maxtemp_month3, pyeong_2012_maxtemp_month4, pyeong_2012_maxtemp_month5,
           pyeong_2012_maxtemp_month6, pyeong_2012_maxtemp_month7, pyeong_2012_maxtemp_month8, pyeong_2012_maxtemp_month9 ,pyeong_2012_maxtemp_month10]

pyeong_2012_maxtemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_maxtemp_new1 = pyeong_2012_maxtemp_new.loc[(pyeong_2012_maxtemp_new['hour'] == 2300) & ((pyeong_2012_maxtemp_new['forecast']==4.0) | (pyeong_2012_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

pyeong_2012_maxtemp_new1.columns = ['date', 'max_temp_24']

pyeong_2012_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2012-01-01          1.0
1   2012-01-02         -0.9
2   2012-01-03          0.0
3   2012-01-04          2.0
4   2012-01-05          2.0
..         ...          ...
300 2012-10-27         20.0
301 2012-10-28         17.0
302 2012-10-29         12.0
303 2012-10-30         11.0
304 2012-10-31         12.0

[305 rows x 2 columns]

#### 일최저기온



forecast 4,7 중에 min

hour 1400 -> 오후 11시  / 오전 3시 오전 6시

In [ ]:
pyeong_2012_mintemp.loc[pyeong_2012_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
496,Start : 20120201,NaN,NaN,NaN
961,Start : 20120301,NaN,NaN,NaN
1458,Start : 20120401,NaN,NaN,NaN
1939,Start : 20120501,NaN,NaN,NaN
2436,Start : 20120601,NaN,NaN,NaN
2917,Start : 20120701,NaN,NaN,NaN
3414,Start : 20120801,NaN,NaN,NaN
3911,Start : 20120901,NaN,NaN,NaN
4392,Start : 20121001,NaN,NaN,NaN

In [ ]:
pyeong_2012_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_mintemp_month1 = make_date(pyeong_2012_mintemp[:496], 2012, 1)
pyeong_2012_mintemp_month2 = make_date(pyeong_2012_mintemp[497:961], 2012, 2)
pyeong_2012_mintemp_month3 = make_date(pyeong_2012_mintemp[962:1458], 2012, 3)
pyeong_2012_mintemp_month4 = make_date(pyeong_2012_mintemp[1459:1939], 2012, 4)
pyeong_2012_mintemp_month5 = make_date(pyeong_2012_mintemp[1940:2436], 2012, 5)
pyeong_2012_mintemp_month6 = make_date(pyeong_2012_mintemp[2437:2917], 2012, 6)
pyeong_2012_mintemp_month7 = make_date(pyeong_2012_mintemp[2918:3414], 2012, 7)
pyeong_2012_mintemp_month8 = make_date(pyeong_2012_mintemp[3415:3911], 2012, 8)
pyeong_2012_mintemp_month9 = make_date(pyeong_2012_mintemp[3912:4392], 2012, 9)
pyeong_2012_mintemp_month10 = make_date(pyeong_2012_mintemp[4393:], 2012, 10)

df_list = [pyeong_2012_mintemp_month1, pyeong_2012_mintemp_month2, pyeong_2012_mintemp_month3, pyeong_2012_mintemp_month4, pyeong_2012_mintemp_month5,
           pyeong_2012_mintemp_month6, pyeong_2012_mintemp_month7, pyeong_2012_mintemp_month8, pyeong_2012_mintemp_month9 ,pyeong_2012_mintemp_month10]

pyeong_2012_mintemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_mintemp_new1 = pyeong_2012_mintemp_new.loc[(pyeong_2012_mintemp_new['hour'] == 1400) & ((pyeong_2012_mintemp_new['forecast']==4.0) | (pyeong_2012_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

pyeong_2012_mintemp_new1.columns = ['date', 'min_temp_24']

pyeong_2012_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2012-01-01         -7.9
1   2012-01-02         -6.9
2   2012-01-03         -8.9
3   2012-01-04         -9.9
4   2012-01-05         -8.9
..         ...          ...
300 2012-10-27          7.0
301 2012-10-28          6.0
302 2012-10-29          2.0
303 2012-10-30          1.0
304 2012-10-31         -0.9

[305 rows x 2 columns]

#### 풍속

In [ ]:
pyeong_2012_wind.loc[pyeong_2012_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20120101
4092,Start : 20120201,NaN,NaN,NaN
7921,Start : 20120301,NaN,NaN,NaN
12014,Start : 20120801,NaN,NaN,NaN
16107,Start : 20120901,NaN,NaN,NaN

In [ ]:
pyeong_2012_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2012_wind_month1 = make_date(pyeong_2012_wind[:4092], 2012, 1)
pyeong_2012_wind_month2 = make_date(pyeong_2012_wind[4093:7921], 2012, 2)
pyeong_2012_wind_month3 = make_date(pyeong_2012_wind[7922:12014], 2012, 3)
pyeong_2012_wind_month8 = make_date(pyeong_2012_wind[12015:16107], 2012, 8)
pyeong_2012_wind_month9 = make_date(pyeong_2012_wind[16108:], 2012, 9)


df_list = [pyeong_2012_wind_month1, pyeong_2012_wind_month2, pyeong_2012_wind_month3, pyeong_2012_wind_month8, pyeong_2012_wind_month9]
pyeong_2012_wind_new = pd.concat(df_list, ignore_index = True)

pyeong_2012_wind_new1_24 = pyeong_2012_wind_new.loc[(pyeong_2012_wind_new['hour'] == 1400) & ((pyeong_2012_wind_new['forecast']>=4.0) & (pyeong_2012_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2012_wind_new1_48 = pyeong_2012_wind_new.loc[(pyeong_2012_wind_new['hour'] == 1400) & ((pyeong_2012_wind_new['forecast']>=28.0) & (pyeong_2012_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2012_wind_new1_24.columns = ['date', 'wind_24']
pyeong_2012_wind_new1_48.columns = ['date', 'wind_48']

pyeong_2012_wind_new2 = pd.concat([pyeong_2012_wind_new1_24, pyeong_2012_wind_new1_48['wind_48']], axis=1)
pyeong_2012_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2012-01-01   0.8625   1.8750
1   2012-01-02   1.6625   2.3750
2   2012-01-03   2.5250   1.3750
3   2012-01-04   1.2500   1.5500
4   2012-01-05   1.5625   0.9000
..         ...      ...      ...
147 2012-09-26   1.2125   1.7500
148 2012-09-27   3.1250   2.4500
149 2012-09-28   2.6250   2.0000
150 2012-09-29   1.6250   1.2625
151 2012-09-30   1.1125   0.9875

[152 rows x 3 columns]

#### 2012년 평동 데이터

위의 7개 데이터 merge

In [ ]:
from functools import reduce
dfs = [pyeong_2012_rainfall_new1, pyeong_2012_snow_new1, pyeong_2012_temp3_new2, pyeong_2012_humid_new2,pyeong_2012_maxtemp_new1,
       pyeong_2012_mintemp_new1,pyeong_2012_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,1.0,1.0,-3.7875,-3.0375,62.125,66.000,1.0,-7.9,0.8625,1.875
1,2012-01-02,0.0,0.0,-3.2875,-4.5250,66.000,53.125,-0.9,-6.9,1.6625,2.375
2,2012-01-03,0.0,0.0,-5.7750,-4.2875,53.500,58.250,0.0,-8.9,2.5250,1.375
3,2012-01-04,0.0,0.0,-4.4125,-2.0625,58.125,57.500,2.0,-9.9,1.2500,1.550
4,2012-01-05,0.0,0.0,-4.0375,-4.0375,55.375,53.000,2.0,-8.9,1.5625,0.900
...,...,...,...,...,...,...,...,...,...,...,...
270,2012-12-27,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2012-12-28,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2012-12-29,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,2012-12-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-12-31,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_평동_2012.csv', index=False)

### 2013년

In [ ]:
pyeong_2013_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_6시간강수량_201301_201312.csv')
pyeong_2013_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_6시간적설_201301_201312.csv')
pyeong_2013_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_3시간기온_201301_201312.csv')
pyeong_2013_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_습도_201301_201312.csv')
pyeong_2013_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_일최고기온_201301_201312.csv')
pyeong_2013_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_일최저기온_201301_201312.csv')
pyeong_2013_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2013/경기/평동_풍속_201301_201312.csv')

#### 6시간강수량

In [ ]:
pyeong_2013_rainfall.loc[pyeong_2013_rainfall['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_rainfall.loc[pyeong_2013_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
pyeong_2013_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_rainfall_month6 = make_date(pyeong_2013_rainfall[1:2041], 2013, 6)
pyeong_2013_rainfall_month7 = make_date(pyeong_2013_rainfall[2042:4150], 2013, 7)
pyeong_2013_rainfall_month8 = make_date(pyeong_2013_rainfall[4151:6259], 2013, 8)
pyeong_2013_rainfall_month9 = make_date(pyeong_2013_rainfall[6260:8300], 2013, 9)
pyeong_2013_rainfall_month10 = make_date(pyeong_2013_rainfall[8301:10409], 2013, 10)
pyeong_2013_rainfall_month11 = make_date(pyeong_2013_rainfall[10410:12450], 2013, 11)
pyeong_2013_rainfall_month12 = make_date(pyeong_2013_rainfall[12451:], 2013, 12)


df_list = [pyeong_2013_rainfall_month6, pyeong_2013_rainfall_month7, pyeong_2013_rainfall_month8, pyeong_2013_rainfall_month9, pyeong_2013_rainfall_month10,
           pyeong_2013_rainfall_month11, pyeong_2013_rainfall_month12]

pyeong_2013_rainfall_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_rainfall_new1 = pyeong_2013_rainfall_new.loc[(pyeong_2013_rainfall_new['hour'] == 1400) & ((pyeong_2013_rainfall_new['forecast']>=7.0) & (pyeong_2013_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2013_rainfall_new1.columns = ['date', 'rainfall_24']
pyeong_2013_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2013-06-01          0.0
1   2013-06-02          0.0
2   2013-06-03          0.0
3   2013-06-04          0.0
4   2013-06-05          0.0
..         ...          ...
209 2013-12-27          0.0
210 2013-12-28          0.0
211 2013-12-29          0.0
212 2013-12-30          0.0
213 2013-12-31          0.0

[214 rows x 2 columns]

#### 6시간적설

In [ ]:
pyeong_2013_snow.loc[pyeong_2013_snow['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130501
0,Start : 20130601,NaN,NaN,NaN
2041,Start : 20130701,NaN,NaN,NaN
4150,Start : 20130801,NaN,NaN,NaN
6259,Start : 20130901,NaN,NaN,NaN
8300,Start : 20131001,NaN,NaN,NaN
10409,Start : 20131101,NaN,NaN,NaN
12450,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_snow.loc[pyeong_2013_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
pyeong_2013_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_snow_month6 = make_date(pyeong_2013_snow[1:2041], 2013, 6)
pyeong_2013_snow_month7 = make_date(pyeong_2013_snow[2042:4150], 2013, 7)
pyeong_2013_snow_month8 = make_date(pyeong_2013_snow[4151:6259], 2013, 8)
pyeong_2013_snow_month9 = make_date(pyeong_2013_snow[6260:8300], 2013, 9)
pyeong_2013_snow_month10 = make_date(pyeong_2013_snow[8301:10409], 2013, 10)
pyeong_2013_snow_month11 = make_date(pyeong_2013_snow[10410:12450], 2013, 11)
pyeong_2013_snow_month12 = make_date(pyeong_2013_snow[12451:], 2013, 12)


df_list = [pyeong_2013_snow_month6,pyeong_2013_snow_month7, pyeong_2013_snow_month8, pyeong_2013_snow_month9, pyeong_2013_snow_month10,
           pyeong_2013_snow_month11, pyeong_2013_snow_month12]

pyeong_2013_snow_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_snow_new1 = pyeong_2013_snow_new.loc[(pyeong_2013_snow_new['hour'] == 1400) & ((pyeong_2013_snow_new['forecast']>=7.0) & (pyeong_2013_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2013_snow_new1.columns = ['date', 'snow_24']
pyeong_2013_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2013-06-01      0.0
1   2013-06-02      0.0
2   2013-06-03      0.0
3   2013-06-04      0.0
4   2013-06-05      0.0
..         ...      ...
209 2013-12-27      0.0
210 2013-12-28      0.0
211 2013-12-29      0.0
212 2013-12-30      0.0
213 2013-12-31      0.0

[214 rows x 2 columns]

#### 3시간기온

In [ ]:
pyeong_2013_temp3.loc[pyeong_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_temp3[pyeong_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:60_120 Start : 20130101
48191    format: day  hour  forecast  value  location:60_120 Start : 20130101

In [ ]:
pyeong_2013_temp32 = pyeong_2013_temp3.iloc[:48191]

In [ ]:
pyeong_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_temp32['hour'] = pd.to_numeric(pyeong_2013_temp32['hour'])
pyeong_2013_temp32['forecast'] =  pd.to_numeric(pyeong_2013_temp32['forecast'])
pyeong_2013_temp32['value'] =  pd.to_numeric(pyeong_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pyeong_2013_temp32.loc[pyeong_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
pyeong_2013_temp3_month1 = make_date(pyeong_2013_temp32[:4092], 2013, 1)
pyeong_2013_temp3_month2 = make_date(pyeong_2013_temp32[4093:7789], 2013, 2)
pyeong_2013_temp3_month3 = make_date(pyeong_2013_temp32[7790:11882], 2013, 3)
pyeong_2013_temp3_month4 = make_date(pyeong_2013_temp32[11883:15843], 2013, 4)
pyeong_2013_temp3_month5 = make_date(pyeong_2013_temp32[15844:19936], 2013, 5)
pyeong_2013_temp3_month6 = make_date(pyeong_2013_temp32[19937:23897], 2013, 6)
pyeong_2013_temp3_month7 = make_date(pyeong_2013_temp32[23898:27990], 2013, 7)
pyeong_2013_temp3_month8 = make_date(pyeong_2013_temp32[27991:32083], 2013, 8)
pyeong_2013_temp3_month9 = make_date(pyeong_2013_temp32[32084:36044], 2013, 9)
pyeong_2013_temp3_month10 = make_date(pyeong_2013_temp32[36045:40137], 2013, 10)
pyeong_2013_temp3_month11 = make_date(pyeong_2013_temp32[40138:44098], 2013, 11)
pyeong_2013_temp3_month12 = make_date(pyeong_2013_temp32[44099:], 2013, 12)


df_list = [pyeong_2013_temp3_month1, pyeong_2013_temp3_month2, pyeong_2013_temp3_month3, pyeong_2013_temp3_month4, pyeong_2013_temp3_month5,
           pyeong_2013_temp3_month6, pyeong_2013_temp3_month7, pyeong_2013_temp3_month8, pyeong_2013_temp3_month9,pyeong_2013_temp3_month10,
           pyeong_2013_temp3_month11, pyeong_2013_temp3_month12]

pyeong_2013_temp3_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_temp3_new1_24 = pyeong_2013_temp3_new.loc[(pyeong_2013_temp3_new['hour'] == 1400) & ((pyeong_2013_temp3_new['forecast']>=4.0) & (pyeong_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2013_temp3_new1_48 = pyeong_2013_temp3_new.loc[(pyeong_2013_temp3_new['hour'] == 1400) & ((pyeong_2013_temp3_new['forecast']>=28.0) & (pyeong_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2013_temp3_new1_24.columns = ['date', 'temp_24']
pyeong_2013_temp3_new1_48.columns = ['date', 'temp_48']

pyeong_2013_temp3_new2 = pd.concat([pyeong_2013_temp3_new1_24, pyeong_2013_temp3_new1_48['temp_48']], axis=1)
pyeong_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -10.9000 -11.9000
1   2013-01-02 -11.7750  -8.9000
2   2013-01-03  -9.2750  -5.2750
3   2013-01-04  -7.1500  -5.6500
4   2013-01-05  -5.6500  -5.5250
..         ...      ...      ...
360 2013-12-27  -5.6500  -2.9250
361 2013-12-28  -2.9375   0.9000
362 2013-12-29   0.9000   1.4000
363 2013-12-30   1.6500   0.1750
364 2013-12-31   2.5000  -1.3125

[365 rows x 3 columns]

#### 습도

In [ ]:
pyeong_2013_humid.loc[pyeong_2013_humid['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_humid[pyeong_2013_humid['hour']=='hour']

         format: day  hour  forecast  value  location:60_120 Start : 20130101
48191    format: day  hour  forecast  value  location:60_120 Start : 20130101

In [ ]:
pyeong_2013_humid2 = pyeong_2013_humid.iloc[:48191]

In [ ]:
pyeong_2013_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_humid2['hour'] = pd.to_numeric(pyeong_2013_humid2['hour'])
pyeong_2013_humid2['forecast'] =  pd.to_numeric(pyeong_2013_humid2['forecast'])
pyeong_2013_humid2['value'] =  pd.to_numeric(pyeong_2013_humid2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pyeong_2013_humid2.loc[pyeong_2013_humid2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
pyeong_2013_humid_month1 = make_date(pyeong_2013_humid2[:4092], 2013, 1)
pyeong_2013_humid_month2 = make_date(pyeong_2013_humid2[4093:7789], 2013, 2)
pyeong_2013_humid_month3 = make_date(pyeong_2013_humid2[7790:11882], 2013, 3)
pyeong_2013_humid_month4 = make_date(pyeong_2013_humid2[11883:15843], 2013, 4)
pyeong_2013_humid_month5 = make_date(pyeong_2013_humid2[15844:19936], 2013, 5)
pyeong_2013_humid_month6 = make_date(pyeong_2013_humid2[19937:23897], 2013, 6)
pyeong_2013_humid_month7 = make_date(pyeong_2013_humid2[23898:27990], 2013, 7)
pyeong_2013_humid_month8 = make_date(pyeong_2013_humid2[27991:32083], 2013, 8)
pyeong_2013_humid_month9 = make_date(pyeong_2013_humid2[32084:36044], 2013, 9)
pyeong_2013_humid_month10 = make_date(pyeong_2013_humid2[36045:40137], 2013, 10)
pyeong_2013_humid_month11 = make_date(pyeong_2013_humid2[40138:44098], 2013, 11)
pyeong_2013_humid_month12 = make_date(pyeong_2013_humid2[44099:], 2013, 12)

df_list = [pyeong_2013_humid_month1, pyeong_2013_humid_month2, pyeong_2013_humid_month3, pyeong_2013_humid_month4, pyeong_2013_humid_month5,
           pyeong_2013_humid_month6, pyeong_2013_humid_month7, pyeong_2013_humid_month8, pyeong_2013_humid_month9,pyeong_2013_humid_month10,
           pyeong_2013_humid_month11, pyeong_2013_humid_month12]

pyeong_2013_humid_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_humid_new1_24 = pyeong_2013_humid_new.loc[(pyeong_2013_humid_new['hour'] == 1400) & ((pyeong_2013_humid_new['forecast']>=4.0) & (pyeong_2013_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2013_humid_new1_48 = pyeong_2013_humid_new.loc[(pyeong_2013_humid_new['hour'] == 1400) & ((pyeong_2013_humid_new['forecast']>=28.0) & (pyeong_2013_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2013_humid_new1_24.columns = ['date', 'humid_24']
pyeong_2013_humid_new1_48.columns = ['date', 'humid_48']

pyeong_2013_humid_new2 = pd.concat([pyeong_2013_humid_new1_24, pyeong_2013_humid_new1_48['humid_48']], axis=1)
pyeong_2013_humid_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  humid_24  humid_48
0   2013-01-01    53.750    49.375
1   2013-01-02    48.125    52.875
2   2013-01-03    50.000    60.125
3   2013-01-04    59.375    55.625
4   2013-01-05    51.875    58.125
..         ...       ...       ...
360 2013-12-27    54.375    63.750
361 2013-12-28    61.875    61.500
362 2013-12-29    65.000    69.375
363 2013-12-30    73.125    60.000
364 2013-12-31    63.125    55.625

[365 rows x 3 columns]

#### 일최고기온

In [ ]:
pyeong_2013_maxtemp.loc[pyeong_2013_maxtemp['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130101
465,Start : 20130201,NaN,NaN,NaN
886,Start : 20130301,NaN,NaN,NaN
1352,Start : 20130401,NaN,NaN,NaN
1803,Start : 20130501,NaN,NaN,NaN
2269,Start : 20130601,NaN,NaN,NaN
2720,Start : 20130701,NaN,NaN,NaN
3186,Start : 20130801,NaN,NaN,NaN
3652,Start : 20130901,NaN,NaN,NaN
4103,Start : 20131001,NaN,NaN,NaN
4569,Start : 20131101,NaN,NaN,NaN
5020,Start : 20131201,NaN,NaN,NaN
5952,Start : 20130201,NaN,NaN,NaN
6373,Start : 20130301,NaN,NaN,NaN
6839,Start : 20130401,NaN,NaN,NaN
7290,Start : 20130501,NaN,NaN,NaN
7756,Start : 20130601,NaN,NaN,NaN
8207,Start : 20130701,NaN,NaN,NaN
8673,Start : 20130801,NaN,NaN,NaN
9139,Start : 20130901,NaN,NaN,NaN
9590,Start : 20131001,NaN,NaN,NaN
10056,Start : 20131101,NaN,NaN,NaN
10507,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_maxtemp[pyeong_2013_maxtemp['hour']=='hour']

        format: day  hour  forecast  value  location:60_120 Start : 20130101
5486    format: day  hour  forecast  value  location:60_120 Start : 20130101

In [ ]:
pyeong_2013_maxtemp2 = pyeong_2013_maxtemp.iloc[:5486]

In [ ]:
pyeong_2013_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_maxtemp2['hour'] = pd.to_numeric(pyeong_2013_maxtemp2['hour'])
pyeong_2013_maxtemp2['forecast'] =  pd.to_numeric(pyeong_2013_maxtemp2['forecast'])
pyeong_2013_maxtemp2['value'] =  pd.to_numeric(pyeong_2013_maxtemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pyeong_2013_maxtemp2.loc[pyeong_2013_maxtemp2['hour'].isna(),:]

                     day  hour  forecast  value
465    Start : 20130201    NaN       NaN    NaN
886    Start : 20130301    NaN       NaN    NaN
1352   Start : 20130401    NaN       NaN    NaN
1803   Start : 20130501    NaN       NaN    NaN
2269   Start : 20130601    NaN       NaN    NaN
2720   Start : 20130701    NaN       NaN    NaN
3186   Start : 20130801    NaN       NaN    NaN
3652   Start : 20130901    NaN       NaN    NaN
4103   Start : 20131001    NaN       NaN    NaN
4569   Start : 20131101    NaN       NaN    NaN
5020   Start : 20131201    NaN       NaN    NaN

In [ ]:
pyeong_2013_maxtemp2.loc[pyeong_2013_maxtemp2['hour']==2300,'forecast'].unique()

array([4., 7.])

In [ ]:
pyeong_2013_maxtemp_month1 = make_date(pyeong_2013_maxtemp2[:465], 2013, 1)
pyeong_2013_maxtemp_month2 = make_date(pyeong_2013_maxtemp2[466:886], 2013, 2)
pyeong_2013_maxtemp_month3 = make_date(pyeong_2013_maxtemp2[887:1352], 2013, 3)
pyeong_2013_maxtemp_month4 = make_date(pyeong_2013_maxtemp2[1353:1803], 2013, 4)
pyeong_2013_maxtemp_month5 = make_date(pyeong_2013_maxtemp2[1804:2269], 2013, 5)
pyeong_2013_maxtemp_month6 = make_date(pyeong_2013_maxtemp2[2270:2720], 2013, 6)
pyeong_2013_maxtemp_month7 = make_date(pyeong_2013_maxtemp2[2721:3186], 2013, 7)
pyeong_2013_maxtemp_month8 = make_date(pyeong_2013_maxtemp2[3187:3652], 2013, 8)
pyeong_2013_maxtemp_month9 = make_date(pyeong_2013_maxtemp2[3653:4103], 2013, 9)
pyeong_2013_maxtemp_month10 = make_date(pyeong_2013_maxtemp2[4104:4569], 2013, 10)
pyeong_2013_maxtemp_month11 = make_date(pyeong_2013_maxtemp2[4570:5020], 2013, 11)
pyeong_2013_maxtemp_month12 = make_date(pyeong_2013_maxtemp2[5021:], 2013, 12)

df_list = [pyeong_2013_maxtemp_month1, pyeong_2013_maxtemp_month2, pyeong_2013_maxtemp_month3, pyeong_2013_maxtemp_month4, pyeong_2013_maxtemp_month5,
           pyeong_2013_maxtemp_month6, pyeong_2013_maxtemp_month7, pyeong_2013_maxtemp_month8, pyeong_2013_maxtemp_month9 ,pyeong_2013_maxtemp_month10,
           pyeong_2013_maxtemp_month11, pyeong_2013_maxtemp_month12]

pyeong_2013_maxtemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_maxtemp_new1 = pyeong_2013_maxtemp_new.loc[(pyeong_2013_maxtemp_new['hour'] == 2300) & ((pyeong_2013_maxtemp_new['forecast']==4.0) | (pyeong_2013_maxtemp_new['forecast']==7.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

pyeong_2013_maxtemp_new1.columns = ['date', 'max_temp_24']

pyeong_2013_maxtemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  max_temp_24
0   2013-01-01         -5.9
1   2013-01-02         -4.9
2   2013-01-03         -0.9
3   2013-01-04          0.0
4   2013-01-05          0.0
..         ...          ...
360 2013-12-27          2.0
361 2013-12-28          5.0
362 2013-12-29          7.0
363 2013-12-30          7.0
364 2013-12-31          7.0

[365 rows x 2 columns]

#### 일최저기온

In [ ]:
pyeong_2013_mintemp.loc[pyeong_2013_mintemp['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130101
496,Start : 20130201,NaN,NaN,NaN
945,Start : 20130301,NaN,NaN,NaN
1442,Start : 20130401,NaN,NaN,NaN
1923,Start : 20130501,NaN,NaN,NaN
2420,Start : 20130601,NaN,NaN,NaN
2901,Start : 20130701,NaN,NaN,NaN
3398,Start : 20130801,NaN,NaN,NaN
3895,Start : 20130901,NaN,NaN,NaN
4376,Start : 20131001,NaN,NaN,NaN
4873,Start : 20131101,NaN,NaN,NaN
5354,Start : 20131201,NaN,NaN,NaN
6348,Start : 20130201,NaN,NaN,NaN
6797,Start : 20130301,NaN,NaN,NaN
7294,Start : 20130401,NaN,NaN,NaN
7775,Start : 20130501,NaN,NaN,NaN
8272,Start : 20130601,NaN,NaN,NaN
8753,Start : 20130701,NaN,NaN,NaN
9250,Start : 20130801,NaN,NaN,NaN
9747,Start : 20130901,NaN,NaN,NaN
10228,Start : 20131001,NaN,NaN,NaN
10725,Start : 20131101,NaN,NaN,NaN
11206,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_mintemp[pyeong_2013_mintemp['hour']=='hour']

        format: day  hour  forecast  value  location:60_120 Start : 20130101
5851    format: day  hour  forecast  value  location:60_120 Start : 20130101

In [ ]:
pyeong_2013_mintemp2 = pyeong_2013_mintemp.iloc[:5851]

In [ ]:
pyeong_2013_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_mintemp2['hour'] = pd.to_numeric(pyeong_2013_mintemp2['hour'])
pyeong_2013_mintemp2['forecast'] =  pd.to_numeric(pyeong_2013_mintemp2['forecast'])
pyeong_2013_mintemp2['value'] =  pd.to_numeric(pyeong_2013_mintemp2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pyeong_2013_mintemp2.loc[pyeong_2013_mintemp2['hour'].isna(),:]

                     day  hour  forecast  value
496    Start : 20130201    NaN       NaN    NaN
945    Start : 20130301    NaN       NaN    NaN
1442   Start : 20130401    NaN       NaN    NaN
1923   Start : 20130501    NaN       NaN    NaN
2420   Start : 20130601    NaN       NaN    NaN
2901   Start : 20130701    NaN       NaN    NaN
3398   Start : 20130801    NaN       NaN    NaN
3895   Start : 20130901    NaN       NaN    NaN
4376   Start : 20131001    NaN       NaN    NaN
4873   Start : 20131101    NaN       NaN    NaN
5354   Start : 20131201    NaN       NaN    NaN

In [ ]:
pyeong_2013_mintemp2.loc[pyeong_2013_mintemp2['hour']==1400,'forecast'].unique()

array([4., 7.])

In [ ]:
pyeong_2013_mintemp_month1 = make_date(pyeong_2013_mintemp2[:496], 2013, 1)
pyeong_2013_mintemp_month2 = make_date(pyeong_2013_mintemp2[497:945], 2013, 2)
pyeong_2013_mintemp_month3 = make_date(pyeong_2013_mintemp2[946:1442], 2013, 3)
pyeong_2013_mintemp_month4 = make_date(pyeong_2013_mintemp2[1443:1923], 2013, 4)
pyeong_2013_mintemp_month5 = make_date(pyeong_2013_mintemp2[1924:2420], 2013, 5)
pyeong_2013_mintemp_month6 = make_date(pyeong_2013_mintemp2[2421:2901], 2013, 6)
pyeong_2013_mintemp_month7 = make_date(pyeong_2013_mintemp2[2902:3398], 2013, 7)
pyeong_2013_mintemp_month8 = make_date(pyeong_2013_mintemp2[3399:3895], 2013, 8)
pyeong_2013_mintemp_month9 = make_date(pyeong_2013_mintemp2[3896:4376], 2013, 9)
pyeong_2013_mintemp_month10 = make_date(pyeong_2013_mintemp2[4377:4873], 2013, 10)
pyeong_2013_mintemp_month11 = make_date(pyeong_2013_mintemp2[4874:5354], 2013, 11)
pyeong_2013_mintemp_month12 = make_date(pyeong_2013_mintemp2[5355:], 2013, 12)

df_list = [pyeong_2013_mintemp_month1, pyeong_2013_mintemp_month2, pyeong_2013_mintemp_month3, pyeong_2013_mintemp_month4, pyeong_2013_mintemp_month5,
           pyeong_2013_mintemp_month6, pyeong_2013_mintemp_month7, pyeong_2013_mintemp_month8, pyeong_2013_mintemp_month9 ,pyeong_2013_mintemp_month10,
           pyeong_2013_mintemp_month11, pyeong_2013_mintemp_month12]

pyeong_2013_mintemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_mintemp_new1 = pyeong_2013_mintemp_new.loc[(pyeong_2013_mintemp_new['hour'] == 1400) & ((pyeong_2013_mintemp_new['forecast']==4.0) | (pyeong_2013_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

pyeong_2013_mintemp_new1.columns = ['date', 'min_temp_24']

pyeong_2013_mintemp_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  min_temp_24
0   2013-01-01        -14.9
1   2013-01-02        -15.9
2   2013-01-03        -13.9
3   2013-01-04        -14.9
4   2013-01-05         -9.9
..         ...          ...
360 2013-12-27         -9.9
361 2013-12-28         -8.9
362 2013-12-29         -2.9
363 2013-12-30         -3.9
364 2013-12-31         -4.9

[365 rows x 2 columns]

#### 풍속

In [ ]:
pyeong_2013_wind.loc[pyeong_2013_wind['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
22791,Start : 20130701,NaN,NaN,NaN
26884,Start : 20130801,NaN,NaN,NaN
30977,Start : 20130901,NaN,NaN,NaN
34938,Start : 20131001,NaN,NaN,NaN
39031,Start : 20131101,NaN,NaN,NaN
42992,Start : 20131201,NaN,NaN,NaN
51178,Start : 20130201,NaN,NaN,NaN
54875,Start : 20130301,NaN,NaN,NaN
58968,Start : 20130401,NaN,NaN,NaN
62929,Start : 20130501,NaN,NaN,NaN
67022,Start : 20130601,NaN,NaN,NaN
69877,Start : 20130701,NaN,NaN,NaN
73970,Start : 20130801,NaN,NaN,NaN
78063,Start : 20130901,NaN,NaN,NaN
82024,Start : 20131001,NaN,NaN,NaN
86117,Start : 20131101,NaN,NaN,NaN
90078,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_wind[pyeong_2013_wind['hour']=='hour']

         format: day  hour  forecast  value  location:60_120 Start : 20130101
47085    format: day  hour  forecast  value  location:60_120 Start : 20130101

In [ ]:
pyeong_2013_wind2 = pyeong_2013_wind.iloc[:47085]

In [ ]:
pyeong_2013_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_wind2['hour'] = pd.to_numeric(pyeong_2013_wind2['hour'])
pyeong_2013_wind2['forecast'] =  pd.to_numeric(pyeong_2013_wind2['forecast'])
pyeong_2013_wind2['value'] =  pd.to_numeric(pyeong_2013_wind2['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pyeong_2013_wind2.loc[pyeong_2013_wind2['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
22791   Start : 20130701    NaN       NaN    NaN
26884   Start : 20130801    NaN       NaN    NaN
30977   Start : 20130901    NaN       NaN    NaN
34938   Start : 20131001    NaN       NaN    NaN
39031   Start : 20131101    NaN       NaN    NaN
42992   Start : 20131201    NaN       NaN    NaN

In [ ]:
pyeong_2013_wind_month1 = make_date(pyeong_2013_wind2[:4092], 2013, 1)
pyeong_2013_wind_month2 = make_date(pyeong_2013_wind2[4093:7789], 2013, 2)
pyeong_2013_wind_month3 = make_date(pyeong_2013_wind2[7790:11882], 2013, 3)
pyeong_2013_wind_month4 = make_date(pyeong_2013_wind2[11883:15843], 2013, 4)
pyeong_2013_wind_month5 = make_date(pyeong_2013_wind2[15844:19936], 2013, 5)
pyeong_2013_wind_month6 = make_date(pyeong_2013_wind2[19937:22791], 2013, 6)
pyeong_2013_wind_month7 = make_date(pyeong_2013_wind2[22792:26884], 2013, 7)
pyeong_2013_wind_month8 = make_date(pyeong_2013_wind2[26885:30977], 2013, 8)
pyeong_2013_wind_month9 = make_date(pyeong_2013_wind2[30978:34938], 2013, 9)
pyeong_2013_wind_month10 = make_date(pyeong_2013_wind2[34939:39031], 2013, 10)
pyeong_2013_wind_month11 = make_date(pyeong_2013_wind2[39032:42992], 2013, 11)
pyeong_2013_wind_month12 = make_date(pyeong_2013_wind2[42993:], 2013, 12)

df_list = [pyeong_2013_wind_month1, pyeong_2013_wind_month2, pyeong_2013_wind_month3, pyeong_2013_wind_month4, pyeong_2013_wind_month5,
           pyeong_2013_wind_month6, pyeong_2013_wind_month7, pyeong_2013_wind_month8, pyeong_2013_wind_month9, pyeong_2013_wind_month10,
           pyeong_2013_wind_month11, pyeong_2013_wind_month12]

pyeong_2013_wind_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_wind_new1_24 = pyeong_2013_wind_new.loc[(pyeong_2013_wind_new['hour'] == 1400) & ((pyeong_2013_wind_new['forecast']>=4.0) & (pyeong_2013_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2013_wind_new1_48 = pyeong_2013_wind_new.loc[(pyeong_2013_wind_new['hour'] == 1400) & ((pyeong_2013_wind_new['forecast']>=28.0) & (pyeong_2013_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2013_wind_new1_24.columns = ['date', 'wind_24']
pyeong_2013_wind_new1_48.columns = ['date', 'wind_48']

pyeong_2013_wind_new2 = pd.concat([pyeong_2013_wind_new1_24, pyeong_2013_wind_new1_48['wind_48']], axis=1)
pyeong_2013_wind_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  wind_24  wind_48
0   2013-01-01   2.7500   2.7625
1   2013-01-02   3.0125   1.8500
2   2013-01-03   1.3750   1.5625
3   2013-01-04   2.0125   1.6625
4   2013-01-05   1.6500   1.3625
..         ...      ...      ...
352 2013-12-27   2.2500   1.6250
353 2013-12-28   1.7500   2.1875
354 2013-12-29   1.7500   2.1250
355 2013-12-30   2.1250   2.6250
356 2013-12-31   2.6250   1.7500

[357 rows x 3 columns]

#### 2013년 평동 데이터

In [ ]:
from functools import reduce
dfs = [pyeong_2013_rainfall_new1, pyeong_2013_snow_new1, pyeong_2013_temp3_new2, pyeong_2013_humid_new2,pyeong_2013_maxtemp_new1,
       pyeong_2013_mintemp_new1,pyeong_2013_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
214,2013-01-01,NaN,NaN,-10.9000,-11.9000,53.750,49.375,-5.9,-14.9,2.7500,2.7625
215,2013-01-02,NaN,NaN,-11.7750,-8.9000,48.125,52.875,-4.9,-15.9,3.0125,1.8500
216,2013-01-03,NaN,NaN,-9.2750,-5.2750,50.000,60.125,-0.9,-13.9,1.3750,1.5625
217,2013-01-04,NaN,NaN,-7.1500,-5.6500,59.375,55.625,0.0,-14.9,2.0125,1.6625
218,2013-01-05,NaN,NaN,-5.6500,-5.5250,51.875,58.125,0.0,-9.9,1.6500,1.3625
...,...,...,...,...,...,...,...,...,...,...,...
209,2013-12-27,0.0,0.0,-5.6500,-2.9250,54.375,63.750,2.0,-9.9,2.2500,1.6250
210,2013-12-28,0.0,0.0,-2.9375,0.9000,61.875,61.500,5.0,-8.9,1.7500,2.1875
211,2013-12-29,0.0,0.0,0.9000,1.4000,65.000,69.375,7.0,-2.9,1.7500,2.1250
212,2013-12-30,0.0,0.0,1.6500,0.1750,73.125,60.000,7.0,-3.9,2.1250,2.6250
213,2013-12-31,0.0,0.0,2.5000,-1.3125,63.125,55.625,7.0,-4.9,2.6250,1.7500

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_평동_2013.csv', index=False)

In [ ]:
pyeong_2013_temp3.loc[pyeong_2013_temp3['hour'].isna(),:]

,format: day,hour,forecast,value location:60_120 Start : 20130101
4092,Start : 20130201,NaN,NaN,NaN
7789,Start : 20130301,NaN,NaN,NaN
11882,Start : 20130401,NaN,NaN,NaN
15843,Start : 20130501,NaN,NaN,NaN
19936,Start : 20130601,NaN,NaN,NaN
23897,Start : 20130701,NaN,NaN,NaN
27990,Start : 20130801,NaN,NaN,NaN
32083,Start : 20130901,NaN,NaN,NaN
36044,Start : 20131001,NaN,NaN,NaN
40137,Start : 20131101,NaN,NaN,NaN
44098,Start : 20131201,NaN,NaN,NaN
52284,Start : 20130201,NaN,NaN,NaN
55981,Start : 20130301,NaN,NaN,NaN
60074,Start : 20130401,NaN,NaN,NaN
64035,Start : 20130501,NaN,NaN,NaN
68128,Start : 20130601,NaN,NaN,NaN
72089,Start : 20130701,NaN,NaN,NaN
76182,Start : 20130801,NaN,NaN,NaN
80275,Start : 20130901,NaN,NaN,NaN
84236,Start : 20131001,NaN,NaN,NaN
88329,Start : 20131101,NaN,NaN,NaN
92290,Start : 20131201,NaN,NaN,NaN

In [ ]:
pyeong_2013_temp3[pyeong_2013_temp3['hour']=='hour']

         format: day  hour  forecast  value  location:60_120 Start : 20130101
48191    format: day  hour  forecast  value  location:60_120 Start : 20130101

In [ ]:
pyeong_2013_temp32 = pyeong_2013_temp3.iloc[:48191]

In [ ]:
pyeong_2013_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2013_temp32['hour'] = pd.to_numeric(pyeong_2013_temp32['hour'])
pyeong_2013_temp32['forecast'] =  pd.to_numeric(pyeong_2013_temp32['forecast'])
pyeong_2013_temp32['value'] =  pd.to_numeric(pyeong_2013_temp32['value'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pyeong_2013_temp32.loc[pyeong_2013_temp32['hour'].isna(),:]

                      day  hour  forecast  value
4092    Start : 20130201    NaN       NaN    NaN
7789    Start : 20130301    NaN       NaN    NaN
11882   Start : 20130401    NaN       NaN    NaN
15843   Start : 20130501    NaN       NaN    NaN
19936   Start : 20130601    NaN       NaN    NaN
23897   Start : 20130701    NaN       NaN    NaN
27990   Start : 20130801    NaN       NaN    NaN
32083   Start : 20130901    NaN       NaN    NaN
36044   Start : 20131001    NaN       NaN    NaN
40137   Start : 20131101    NaN       NaN    NaN
44098   Start : 20131201    NaN       NaN    NaN

In [ ]:
pyeong_2013_temp3_month1 = make_date(pyeong_2013_temp32[:4092], 2013, 1)
pyeong_2013_temp3_month2 = make_date(pyeong_2013_temp32[4093:7789], 2013, 2)
pyeong_2013_temp3_month3 = make_date(pyeong_2013_temp32[7790:11882], 2013, 3)
pyeong_2013_temp3_month4 = make_date(pyeong_2013_temp32[11883:15843], 2013, 4)
pyeong_2013_temp3_month5 = make_date(pyeong_2013_temp32[15844:19936], 2013, 5)
pyeong_2013_temp3_month6 = make_date(pyeong_2013_temp32[19937:23897], 2013, 6)
pyeong_2013_temp3_month7 = make_date(pyeong_2013_temp32[23898:27990], 2013, 7)
pyeong_2013_temp3_month8 = make_date(pyeong_2013_temp32[27991:32083], 2013, 8)
pyeong_2013_temp3_month9 = make_date(pyeong_2013_temp32[32084:36044], 2013, 9)
pyeong_2013_temp3_month10 = make_date(pyeong_2013_temp32[36045:40137], 2013, 10)
pyeong_2013_temp3_month11 = make_date(pyeong_2013_temp32[40138:44098], 2013, 11)
pyeong_2013_temp3_month12 = make_date(pyeong_2013_temp32[44099:], 2013, 12)


df_list = [pyeong_2013_temp3_month1, pyeong_2013_temp3_month2, pyeong_2013_temp3_month3, pyeong_2013_temp3_month4, pyeong_2013_temp3_month5,
           pyeong_2013_temp3_month6, pyeong_2013_temp3_month7, pyeong_2013_temp3_month8, pyeong_2013_temp3_month9,pyeong_2013_temp3_month10,
           pyeong_2013_temp3_month11, pyeong_2013_temp3_month12]

pyeong_2013_temp3_new = pd.concat(df_list, ignore_index = True)

pyeong_2013_temp3_new1_24 = pyeong_2013_temp3_new.loc[(pyeong_2013_temp3_new['hour'] == 1400) & ((pyeong_2013_temp3_new['forecast']>=4.0) & (pyeong_2013_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2013_temp3_new1_48 = pyeong_2013_temp3_new.loc[(pyeong_2013_temp3_new['hour'] == 1400) & ((pyeong_2013_temp3_new['forecast']>=28.0) & (pyeong_2013_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2013_temp3_new1_24.columns = ['date', 'temp_24']
pyeong_2013_temp3_new1_48.columns = ['date', 'temp_48']

pyeong_2013_temp3_new2 = pd.concat([pyeong_2013_temp3_new1_24, pyeong_2013_temp3_new1_48['temp_48']], axis=1)
pyeong_2013_temp3_new2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  temp_24  temp_48
0   2013-01-01 -10.9000 -11.9000
1   2013-01-02 -11.7750  -8.9000
2   2013-01-03  -9.2750  -5.2750
3   2013-01-04  -7.1500  -5.6500
4   2013-01-05  -5.6500  -5.5250
..         ...      ...      ...
360 2013-12-27  -5.6500  -2.9250
361 2013-12-28  -2.9375   0.9000
362 2013-12-29   0.9000   1.4000
363 2013-12-30   1.6500   0.1750
364 2013-12-31   2.5000  -1.3125

[365 rows x 3 columns]

### 2014년

In [ ]:
pyeong_2014_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_6시간강수량_201401_201412.csv')
pyeong_2014_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_6시간적설_201401_201412.csv')
pyeong_2014_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_3시간기온_201401_201412.csv')
pyeong_2014_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_습도_201401_201412.csv')
pyeong_2014_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_일최고기온_201401_201412.csv')
pyeong_2014_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_일최저기온_201401_201412.csv')
pyeong_2014_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2014/경기/평동_풍속_201401_201412.csv')

#### 6시간강수량

In [ ]:
pyeong_2014_rainfall.loc[pyeong_2014_rainfall['hour'].isna(),:]

,format..day,hour,forecast,value..location.60_120.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
pyeong_2014_rainfall.loc[pyeong_2014_rainfall['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
pyeong_2014_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_rainfall_month1 = make_date(pyeong_2014_rainfall[:2108], 2014, 1)
pyeong_2014_rainfall_month2 = make_date(pyeong_2014_rainfall[2109:4013], 2014, 2)
pyeong_2014_rainfall_month3 = make_date(pyeong_2014_rainfall[4014:4082], 2014, 3)
pyeong_2014_rainfall_month4 = make_date(pyeong_2014_rainfall[4083:6363], 2014, 4)
pyeong_2014_rainfall_month5 = make_date(pyeong_2014_rainfall[6364:8720], 2014, 5)
pyeong_2014_rainfall_month6 = make_date(pyeong_2014_rainfall[8721:11001], 2014, 6)
pyeong_2014_rainfall_month8 = make_date(pyeong_2014_rainfall[11002:13358], 2014, 8)
pyeong_2014_rainfall_month9 = make_date(pyeong_2014_rainfall[13359:15639], 2014, 9)
pyeong_2014_rainfall_month10 = make_date(pyeong_2014_rainfall[15640:17996], 2014, 10)
pyeong_2014_rainfall_month11 = make_date(pyeong_2014_rainfall[17997:20277], 2014, 11)
pyeong_2014_rainfall_month12 = make_date(pyeong_2014_rainfall[20278:22634], 2014, 12)


df_list = [pyeong_2014_rainfall_month1, pyeong_2014_rainfall_month2, pyeong_2014_rainfall_month3, pyeong_2014_rainfall_month4, pyeong_2014_rainfall_month5,
           pyeong_2014_rainfall_month6, pyeong_2014_rainfall_month8, pyeong_2014_rainfall_month9,pyeong_2014_rainfall_month10,pyeong_2014_rainfall_month11,
           pyeong_2014_rainfall_month12]

pyeong_2014_rainfall_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_rainfall_new1 = pyeong_2014_rainfall_new.loc[(pyeong_2014_rainfall_new['hour'] == 1400) & ((pyeong_2014_rainfall_new['forecast']>=7.0) & (pyeong_2014_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2014_rainfall_new1.columns = ['date', 'rainfall_24']
pyeong_2014_rainfall_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  rainfall_24
0   2014-01-01          0.0
1   2014-01-02          0.0
2   2014-01-03          0.0
3   2014-01-04          0.0
4   2014-01-05          0.0
..         ...          ...
299 2014-12-27          0.0
300 2014-12-28          0.0
301 2014-12-29          0.0
302 2014-12-30         10.0
303 2014-12-31          0.0

[304 rows x 2 columns]

#### 6시간적설

In [ ]:
pyeong_2014_snow.loc[pyeong_2014_snow['hour'].isna(),:]

,format..day,hour,forecast,value..location.60_120.Start...20140101
2108,Start : 20140201,NaN,NaN,NaN
4013,Start : 20140301,NaN,NaN,NaN
4082,Start : 20140401,NaN,NaN,NaN
6363,Start : 20140501,NaN,NaN,NaN
8720,Start : 20140601,NaN,NaN,NaN
11001,Start : 20140801,NaN,NaN,NaN
13358,Start : 20140901,NaN,NaN,NaN
15639,Start : 20141001,NaN,NaN,NaN
17996,Start : 20141101,NaN,NaN,NaN
20277,Start : 20141201,NaN,NaN,NaN
22634,,NaN,NaN,NaN

In [ ]:
pyeong_2014_snow.loc[pyeong_2014_snow['hour']==1400,'forecast'].unique()

array([ 7., 13., 19., 25., 31., 37., 43., 49.])

In [ ]:
pyeong_2014_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_snow_month1 = make_date(pyeong_2014_snow[:2108], 2014, 1)
pyeong_2014_snow_month2 = make_date(pyeong_2014_snow[2109:4013], 2014, 2)
pyeong_2014_snow_month3 = make_date(pyeong_2014_snow[4014:4082], 2014, 3)
pyeong_2014_snow_month4 = make_date(pyeong_2014_snow[4083:6363], 2014, 4)
pyeong_2014_snow_month5 = make_date(pyeong_2014_snow[6364:8720], 2014, 5)
pyeong_2014_snow_month6 = make_date(pyeong_2014_snow[8721:11001], 2014, 6)
pyeong_2014_snow_month8 = make_date(pyeong_2014_snow[11002:13358], 2014, 8)
pyeong_2014_snow_month9 = make_date(pyeong_2014_snow[13359:15639], 2014, 9)
pyeong_2014_snow_month10 = make_date(pyeong_2014_snow[15640:17996], 2014, 10)
pyeong_2014_snow_month11 = make_date(pyeong_2014_snow[17997:20277], 2014, 11)
pyeong_2014_snow_month12 = make_date(pyeong_2014_snow[20278:22634], 2014, 12)


df_list = [pyeong_2014_snow_month1, pyeong_2014_snow_month2, pyeong_2014_snow_month3, pyeong_2014_snow_month4, pyeong_2014_snow_month5,
           pyeong_2014_snow_month6, pyeong_2014_snow_month8, pyeong_2014_snow_month9, pyeong_2014_snow_month10, pyeong_2014_snow_month11, pyeong_2014_snow_month12]

pyeong_2014_snow_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_snow_new1 = pyeong_2014_snow_new.loc[(pyeong_2014_snow_new['hour'] == 1400) & ((pyeong_2014_snow_new['forecast']>=7.0) & (pyeong_2014_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2014_snow_new1.columns = ['date', 'snow_24']
pyeong_2014_snow_new1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          date  snow_24
0   2014-01-01      0.0
1   2014-01-02      0.0
2   2014-01-03      0.0
3   2014-01-04      0.0
4   2014-01-05      0.0
..         ...      ...
299 2014-12-27      0.0
300 2014-12-28      0.0
301 2014-12-29      0.0
302 2014-12-30     10.0
303 2014-12-31      0.0

[304 rows x 2 columns]

#### 3시간기온

In [ ]:
pyeong_2014_temp3.loc[pyeong_2014_temp3['hour'].isna(),:]

,format..day,hour,forecast,value..location.60_120.Start...20140101
4092,Start : 20140201,NaN,NaN,NaN
7789,Start : 20140301,NaN,NaN,NaN
11882,Start : 20140401,NaN,NaN,NaN
16323,Start : 20140501,NaN,NaN,NaN
20912,Start : 20140601,NaN,NaN,NaN
25353,Start : 20140701,NaN,NaN,NaN
29446,Start : 20140801,NaN,NaN,NaN
34035,Start : 20140901,NaN,NaN,NaN
38476,Start : 20141001,NaN,NaN,NaN
43065,Start : 20141101,NaN,NaN,NaN
47506,Start : 20141201,NaN,NaN,NaN
52095,,NaN,NaN,NaN

In [ ]:
pyeong_2014_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_temp3_month1 = make_date(pyeong_2014_temp3[:4092], 2014, 1)
pyeong_2014_temp3_month2 = make_date(pyeong_2014_temp3[4093:7789], 2014, 2)
pyeong_2014_temp3_month3 = make_date(pyeong_2014_temp3[7790:11882], 2014, 3)
pyeong_2014_temp3_month4 = make_date(pyeong_2014_temp3[11883:16323], 2014, 4)
pyeong_2014_temp3_month5 = make_date(pyeong_2014_temp3[16324:20912], 2014, 5)
pyeong_2014_temp3_month6 = make_date(pyeong_2014_temp3[20913:25353], 2014, 6)
pyeong_2014_temp3_month7 = make_date(pyeong_2014_temp3[25354:29446], 2014, 7)
pyeong_2014_temp3_month8 = make_date(pyeong_2014_temp3[29447:34035], 2014, 8)
pyeong_2014_temp3_month9 = make_date(pyeong_2014_temp3[34036:38476], 2014, 9)
pyeong_2014_temp3_month10 = make_date(pyeong_2014_temp3[38477:43065], 2014, 10)
pyeong_2014_temp3_month11 = make_date(pyeong_2014_temp3[43066:47506], 2014, 11)
pyeong_2014_temp3_month12 = make_date(pyeong_2014_temp3[47507:52095], 2014, 12)


df_list = [pyeong_2014_temp3_month1, pyeong_2014_temp3_month2, pyeong_2014_temp3_month3, pyeong_2014_temp3_month4,pyeong_2014_temp3_month5,
           pyeong_2014_temp3_month6, pyeong_2014_temp3_month7, pyeong_2014_temp3_month8, pyeong_2014_temp3_month9,pyeong_2014_temp3_month10,
           pyeong_2014_temp3_month11, pyeong_2014_temp3_month12]

pyeong_2014_temp3_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_temp3_new1_24 = pyeong_2014_temp3_new.loc[(pyeong_2014_temp3_new['hour'] == 1400) & ((pyeong_2014_temp3_new['forecast']>=4.0) & (pyeong_2014_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2014_temp3_new1_48 = pyeong_2014_temp3_new.loc[(pyeong_2014_temp3_new['hour'] == 1400) & ((pyeong_2014_temp3_new['forecast']>=28.0) & (pyeong_2014_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2014_temp3_new1_24.columns = ['date', 'temp_24']
pyeong_2014_temp3_new1_48.columns = ['date', 'temp_48']

pyeong_2014_temp3_new2 = pd.concat([pyeong_2014_temp3_new1_24, pyeong_2014_temp3_new1_48['temp_48']], axis=1)
pyeong_2014_temp3_new2

#### 습도

In [ ]:
pyeong_2014_humid.loc[pyeong_2014_humid['hour'].isna(),:]

In [ ]:
pyeong_2014_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_humid_month1 = make_date(pyeong_2014_humid[:4092], 2014, 1)
pyeong_2014_humid_month2 = make_date(pyeong_2014_humid[4093:7789], 2014, 2)
pyeong_2014_humid_month3 = make_date(pyeong_2014_humid[7790:11882], 2014, 3)
pyeong_2014_humid_month4 = make_date(pyeong_2014_humid[11883:16323], 2014, 4)
pyeong_2014_humid_month5 = make_date(pyeong_2014_humid[16324:20912], 2014, 5)
pyeong_2014_humid_month6 = make_date(pyeong_2014_humid[20913:25353], 2014, 6)
pyeong_2014_humid_month7 = make_date(pyeong_2014_humid[25354:29446], 2014, 7)
pyeong_2014_humid_month8 = make_date(pyeong_2014_humid[29447:34035], 2014, 8)
pyeong_2014_humid_month9 = make_date(pyeong_2014_humid[34036:38476], 2014, 9)
pyeong_2014_humid_month10 = make_date(pyeong_2014_humid[38477:43065], 2014, 10)
pyeong_2014_humid_month11 = make_date(pyeong_2014_humid[43066:47506], 2014, 11)
pyeong_2014_humid_month12 = make_date(pyeong_2014_humid[47507:52095], 2014, 12)

df_list = [pyeong_2014_humid_month1, pyeong_2014_humid_month2, pyeong_2014_humid_month3, pyeong_2014_humid_month4, pyeong_2014_humid_month5,
           pyeong_2014_humid_month6, pyeong_2014_humid_month7, pyeong_2014_humid_month8, pyeong_2014_humid_month9, pyeong_2014_humid_month10,
           pyeong_2014_humid_month11, pyeong_2014_humid_month12]

pyeong_2014_humid_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_humid_new1_24 = pyeong_2014_humid_new.loc[(pyeong_2014_humid_new['hour'] == 1400) & ((pyeong_2014_humid_new['forecast']>=4.0) & (pyeong_2014_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2014_humid_new1_48 = pyeong_2014_humid_new.loc[(pyeong_2014_humid_new['hour'] == 1400) & ((pyeong_2014_humid_new['forecast']>=28.0) & (pyeong_2014_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2014_humid_new1_24.columns = ['date', 'humid_24']
pyeong_2014_humid_new1_48.columns = ['date', 'humid_48']

pyeong_2014_humid_new2 = pd.concat([pyeong_2014_humid_new1_24, pyeong_2014_humid_new1_48['humid_48']], axis=1)
pyeong_2014_humid_new2

#### 일최고기온

In [ ]:
pyeong_2014_maxtemp.loc[pyeong_2014_maxtemp['hour'].isna(),:]

In [ ]:
pyeong_2014_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_maxtemp.loc[pyeong_2014_maxtemp['hour']==2300,'forecast'].unique()

In [ ]:
pyeong_2014_maxtemp_month1 = make_date(pyeong_2014_maxtemp[:465], 2014, 1)
pyeong_2014_maxtemp_month2 = make_date(pyeong_2014_maxtemp[466:886], 2014, 2)
pyeong_2014_maxtemp_month3 = make_date(pyeong_2014_maxtemp[887:1352], 2014, 3)
pyeong_2014_maxtemp_month4 = make_date(pyeong_2014_maxtemp[1353:1923], 2014, 4)
pyeong_2014_maxtemp_month5 = make_date(pyeong_2014_maxtemp[1924:2513], 2014, 5)
pyeong_2014_maxtemp_month6 = make_date(pyeong_2014_maxtemp[2514:3084], 2014, 6)
pyeong_2014_maxtemp_month7 = make_date(pyeong_2014_maxtemp[3085:3550], 2014, 7)
pyeong_2014_maxtemp_month8 = make_date(pyeong_2014_maxtemp[3551:4140], 2014, 8)
pyeong_2014_maxtemp_month9 = make_date(pyeong_2014_maxtemp[4141:4711], 2014, 9)
pyeong_2014_maxtemp_month10 = make_date(pyeong_2014_maxtemp[4712:5301], 2014, 10)
pyeong_2014_maxtemp_month11 = make_date(pyeong_2014_maxtemp[5302:5872], 2014, 11)
pyeong_2014_maxtemp_month12 = make_date(pyeong_2014_maxtemp[5873:6462], 2014, 12)

df_list = [pyeong_2014_maxtemp_month1, pyeong_2014_maxtemp_month2, pyeong_2014_maxtemp_month3, pyeong_2014_maxtemp_month4, pyeong_2014_maxtemp_month5,
           pyeong_2014_maxtemp_month6, pyeong_2014_maxtemp_month7, pyeong_2014_maxtemp_month8, pyeong_2014_maxtemp_month9 ,pyeong_2014_maxtemp_month10,
           pyeong_2014_maxtemp_month11, pyeong_2014_maxtemp_month12]

pyeong_2014_maxtemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_maxtemp_new1 = pyeong_2014_maxtemp_new.loc[(pyeong_2014_maxtemp_new['hour'] == 2300) & ((pyeong_2014_maxtemp_new['forecast']==4.0) | (pyeong_2014_maxtemp_new['forecast']==7.0) | (pyeong_2014_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

pyeong_2014_maxtemp_new1.columns = ['date', 'max_temp_24']

pyeong_2014_maxtemp_new1

#### 일최저기온

In [ ]:
pyeong_2014_mintemp.loc[pyeong_2014_mintemp['hour'].isna(),:]

In [ ]:
pyeong_2014_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_mintemp.loc[pyeong_2014_mintemp['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2014_mintemp_month1 = make_date(pyeong_2014_mintemp[:496], 2014, 1)
pyeong_2014_mintemp_month2 = make_date(pyeong_2014_mintemp[497:945], 2014, 2)
pyeong_2014_mintemp_month3 = make_date(pyeong_2014_mintemp[946:1442], 2014, 3)
pyeong_2014_mintemp_month4 = make_date(pyeong_2014_mintemp[1443:1923], 2014, 4)
pyeong_2014_mintemp_month5 = make_date(pyeong_2014_mintemp[1924:2420], 2014, 5)
pyeong_2014_mintemp_month6 = make_date(pyeong_2014_mintemp[2421:2901], 2014, 6)
pyeong_2014_mintemp_month7 = make_date(pyeong_2014_mintemp[2902:3398], 2014, 7)
pyeong_2014_mintemp_month8 = make_date(pyeong_2014_mintemp[3399:3895], 2014, 8)
pyeong_2014_mintemp_month9 = make_date(pyeong_2014_mintemp[3896:4376], 2014, 9)
pyeong_2014_mintemp_month10 = make_date(pyeong_2014_mintemp[4377:4873], 2014, 10)
pyeong_2014_mintemp_month11 = make_date(pyeong_2014_mintemp[4874:5354], 2014, 11)
pyeong_2014_mintemp_month12 = make_date(pyeong_2014_mintemp[5355:5851], 2014, 12)

df_list = [pyeong_2014_mintemp_month1, pyeong_2014_mintemp_month2, pyeong_2014_mintemp_month3, pyeong_2014_mintemp_month4, pyeong_2014_mintemp_month5,
           pyeong_2014_mintemp_month6, pyeong_2014_mintemp_month7, pyeong_2014_mintemp_month8, pyeong_2014_mintemp_month9 ,pyeong_2014_mintemp_month10,
           pyeong_2014_mintemp_month11, pyeong_2014_mintemp_month12]

pyeong_2014_mintemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_mintemp_new1 = pyeong_2014_mintemp_new.loc[(pyeong_2014_mintemp_new['hour'] == 1400) & ((pyeong_2014_mintemp_new['forecast']==4.0) | (pyeong_2014_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

pyeong_2014_mintemp_new1.columns = ['date', 'min_temp_24']

pyeong_2014_mintemp_new1

#### 풍속

In [ ]:
pyeong_2014_wind.loc[pyeong_2014_wind['hour'].isna(),:]

In [ ]:
pyeong_2014_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2014_wind_month1 = make_date(pyeong_2014_wind[:4092], 2014, 1)
pyeong_2014_wind_month2 = make_date(pyeong_2014_wind[4093:7789], 2014, 2)
pyeong_2014_wind_month3 = make_date(pyeong_2014_wind[7790:11882], 2014, 3)
pyeong_2014_wind_month4 = make_date(pyeong_2014_wind[11883:16323], 2014, 4)
pyeong_2014_wind_month5 = make_date(pyeong_2014_wind[16324:20912], 2014, 5)
pyeong_2014_wind_month6 = make_date(pyeong_2014_wind[20913:25353], 2014, 6)
pyeong_2014_wind_month7 = make_date(pyeong_2014_wind[25354:29446], 2014, 7)
pyeong_2014_wind_month8 = make_date(pyeong_2014_wind[29447:34035], 2014, 8)
pyeong_2014_wind_month9 = make_date(pyeong_2014_wind[34036:38476], 2014, 9)
pyeong_2014_wind_month10 = make_date(pyeong_2014_wind[38477:43065], 2014, 10)
pyeong_2014_wind_month11 = make_date(pyeong_2014_wind[43066:47506], 2014, 11)
pyeong_2014_wind_month12 = make_date(pyeong_2014_wind[47507:52095], 2014, 12)

df_list = [pyeong_2014_wind_month1, pyeong_2014_wind_month2, pyeong_2014_wind_month3, pyeong_2014_wind_month4, pyeong_2014_wind_month5,
           pyeong_2014_wind_month6, pyeong_2014_wind_month7, pyeong_2014_wind_month8, pyeong_2014_wind_month9, pyeong_2014_wind_month10,
           pyeong_2014_wind_month11, pyeong_2014_wind_month12]

pyeong_2014_wind_new = pd.concat(df_list, ignore_index = True)

pyeong_2014_wind_new1_24 = pyeong_2014_wind_new.loc[(pyeong_2014_wind_new['hour'] == 1400) & ((pyeong_2014_wind_new['forecast']>=4.0) & (pyeong_2014_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2014_wind_new1_48 = pyeong_2014_wind_new.loc[(pyeong_2014_wind_new['hour'] == 1400) & ((pyeong_2014_wind_new['forecast']>=28.0) & (pyeong_2014_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2014_wind_new1_24.columns = ['date', 'wind_24']
pyeong_2014_wind_new1_48.columns = ['date', 'wind_48']

pyeong_2014_wind_new2 = pd.concat([pyeong_2014_wind_new1_24, pyeong_2014_wind_new1_48['wind_48']], axis=1)
pyeong_2014_wind_new2

#### 2014년 평동 데이터

In [ ]:
from functools import reduce
dfs = [pyeong_2014_rainfall_new1, pyeong_2014_snow_new1, pyeong_2014_temp3_new2, pyeong_2014_humid_new2,pyeong_2014_maxtemp_new1,
       pyeong_2014_mintemp_new1,pyeong_2014_wind_new2 ]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer' ,on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_평동_2014.csv', index=False)

### 2015년

In [ ]:
pyeong_2015_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_6시간강수량_201501_201512.csv')
pyeong_2015_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_6시간적설_201501_201512.csv')
pyeong_2015_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_3시간기온_201501_201512.csv')
pyeong_2015_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_습도_201501_201512.csv')
pyeong_2015_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_일최고기온_201501_201512.csv')
pyeong_2015_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_일최저기온_201501_201512.csv')
pyeong_2015_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2015/경기/평동_풍속_201501_201512.csv')

#### 6시간강수량

In [ ]:
pyeong_2015_rainfall.loc[pyeong_2015_rainfall['hour'].isna(),:]

In [ ]:
pyeong_2015_rainfall.loc[pyeong_2015_rainfall['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2015_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_rainfall_month1 = make_date(pyeong_2015_rainfall[:2356], 2015, 1)
pyeong_2015_rainfall_month2 = make_date(pyeong_2015_rainfall[2357:4485], 2015, 2)
pyeong_2015_rainfall_month3 = make_date(pyeong_2015_rainfall[4486:6842], 2015, 3)
pyeong_2015_rainfall_month4 = make_date(pyeong_2015_rainfall[6843:9123], 2015, 4)
pyeong_2015_rainfall_month5 = make_date(pyeong_2015_rainfall[9124:10709], 2015, 5)
pyeong_2015_rainfall_month6 = make_date(pyeong_2015_rainfall[10710:12990], 2015, 6)
pyeong_2015_rainfall_month7 = make_date(pyeong_2015_rainfall[12991:15347], 2015, 7)
pyeong_2015_rainfall_month8 = make_date(pyeong_2015_rainfall[15348:17704], 2015, 8)
pyeong_2015_rainfall_month9 = make_date(pyeong_2015_rainfall[17705:19985], 2015, 9)
pyeong_2015_rainfall_month10 = make_date(pyeong_2015_rainfall[19986:22342], 2015, 10)
pyeong_2015_rainfall_month11 = make_date(pyeong_2015_rainfall[22343:24623], 2015, 11)
pyeong_2015_rainfall_month12 = make_date(pyeong_2015_rainfall[24624:], 2015, 12)


df_list = [pyeong_2015_rainfall_month1, pyeong_2015_rainfall_month2, pyeong_2015_rainfall_month3, pyeong_2015_rainfall_month4, pyeong_2015_rainfall_month5,
           pyeong_2015_rainfall_month6, pyeong_2015_rainfall_month7, pyeong_2015_rainfall_month8, pyeong_2015_rainfall_month9,pyeong_2015_rainfall_month10,
           pyeong_2015_rainfall_month11, pyeong_2015_rainfall_month12]

pyeong_2015_rainfall_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_rainfall_new1 = pyeong_2015_rainfall_new.loc[(pyeong_2015_rainfall_new['hour'] == 1400) & ((pyeong_2015_rainfall_new['forecast']>=7.0) & (pyeong_2015_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2015_rainfall_new1.columns = ['date', 'rainfall_24']
pyeong_2015_rainfall_new1

#### 6시간적설

In [ ]:
pyeong_2015_snow.loc[pyeong_2015_snow['hour'].isna(),:]

In [ ]:
pyeong_2015_snow.loc[pyeong_2015_snow['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2015_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_snow_month1 = make_date(pyeong_2015_snow[:2356],2015, 1)
pyeong_2015_snow_month2 = make_date(pyeong_2015_snow[2357:4485], 2015, 2)
pyeong_2015_snow_month3 = make_date(pyeong_2015_snow[4486:6842], 2015, 3)
pyeong_2015_snow_month4 = make_date(pyeong_2015_snow[6843:9123], 2015, 4)
pyeong_2015_snow_month5 = make_date(pyeong_2015_snow[9124:10709], 2015, 5)
pyeong_2015_snow_month6 = make_date(pyeong_2015_snow[10710:12990], 2015, 6)
pyeong_2015_snow_month7 = make_date(pyeong_2015_snow[12991:15347],2015, 7)
pyeong_2015_snow_month8 = make_date(pyeong_2015_snow[15348:17704], 2015, 8)
pyeong_2015_snow_month9 = make_date(pyeong_2015_snow[17705:19985], 2015, 9)
pyeong_2015_snow_month10 = make_date(pyeong_2015_snow[19986:22342], 2015, 10)
pyeong_2015_snow_month11 = make_date(pyeong_2015_snow[22343:24623], 2015, 11)
pyeong_2015_snow_month12 = make_date(pyeong_2015_snow[24624:], 2015, 12)


df_list = [pyeong_2015_snow_month1, pyeong_2015_snow_month2, pyeong_2015_snow_month3, pyeong_2015_snow_month4, pyeong_2015_snow_month5,
           pyeong_2015_snow_month6, pyeong_2015_snow_month7, pyeong_2015_snow_month8, pyeong_2015_snow_month9, pyeong_2015_snow_month10, 
           pyeong_2015_snow_month11, pyeong_2015_snow_month12]

pyeong_2015_snow_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_snow_new1 = pyeong_2015_snow_new.loc[(pyeong_2015_snow_new['hour'] == 1400) & ((pyeong_2015_snow_new['forecast']>=7.0) & (pyeong_2015_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2015_snow_new1.columns = ['date', 'snow_24']
pyeong_2015_snow_new1

#### 3시간기온

In [ ]:
pyeong_2015_temp3.loc[pyeong_2015_temp3['hour'].isna(),:]

In [ ]:
pyeong_2015_temp3.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_temp3_month1 = make_date(pyeong_2015_temp3[:4588], 2015, 1)
pyeong_2015_temp3_month2 = make_date(pyeong_2015_temp3[4589:8733], 2015, 2)
pyeong_2015_temp3_month3 = make_date(pyeong_2015_temp3[8734:13322], 2015, 3)
pyeong_2015_temp3_month4 = make_date(pyeong_2015_temp3[13323:17763], 2015, 4)
pyeong_2015_temp3_month5 = make_date(pyeong_2015_temp3[17764:20851], 2015, 5)
pyeong_2015_temp3_month6 = make_date(pyeong_2015_temp3[20852:25292], 2015, 6)
pyeong_2015_temp3_month7 = make_date(pyeong_2015_temp3[25293:29881], 2015, 7)
pyeong_2015_temp3_month8 = make_date(pyeong_2015_temp3[29882:34470], 2015, 8)
pyeong_2015_temp3_month9 = make_date(pyeong_2015_temp3[34471:38911], 2015, 9)
pyeong_2015_temp3_month10 = make_date(pyeong_2015_temp3[38912:43500], 2015, 10)
pyeong_2015_temp3_month11 = make_date(pyeong_2015_temp3[43501:47941], 2015, 11)
pyeong_2015_temp3_month12 = make_date(pyeong_2015_temp3[47942:],2015, 12)


df_list = [pyeong_2015_temp3_month1, pyeong_2015_temp3_month2, pyeong_2015_temp3_month3, pyeong_2015_temp3_month4,pyeong_2015_temp3_month5,
           pyeong_2015_temp3_month6, pyeong_2015_temp3_month7, pyeong_2015_temp3_month8, pyeong_2015_temp3_month9,pyeong_2015_temp3_month10,
           pyeong_2015_temp3_month11, pyeong_2015_temp3_month12]

pyeong_2015_temp3_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_temp3_new1_24 = pyeong_2015_temp3_new.loc[(pyeong_2015_temp3_new['hour'] == 1400) & ((pyeong_2015_temp3_new['forecast']>=4.0) & (pyeong_2015_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2015_temp3_new1_48 = pyeong_2015_temp3_new.loc[(pyeong_2015_temp3_new['hour'] == 1400) & ((pyeong_2015_temp3_new['forecast']>=28.0) & (pyeong_2015_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2015_temp3_new1_24.columns = ['date', 'temp_24']
pyeong_2015_temp3_new1_48.columns = ['date', 'temp_48']

pyeong_2015_temp3_new2 = pd.concat([pyeong_2015_temp3_new1_24, pyeong_2015_temp3_new1_48['temp_48']], axis=1)
pyeong_2015_temp3_new2

#### 습도

In [ ]:
pyeong_2015_humid.loc[pyeong_2015_humid['hour'].isna(),:]

In [ ]:
pyeong_2015_humid.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_humid_month1 = make_date(pyeong_2015_humid[:4588], 2015, 1)
pyeong_2015_humid_month2 = make_date(pyeong_2015_humid[4589:8733], 2015, 2)
pyeong_2015_humid_month3 = make_date(pyeong_2015_humid[8734:13322], 2015, 3)
pyeong_2015_humid_month4 = make_date(pyeong_2015_humid[13323:17763], 2015, 4)
pyeong_2015_humid_month5 = make_date(pyeong_2015_humid[17764:20519], 2015, 5)
pyeong_2015_humid_month6 = make_date(pyeong_2015_humid[20520:24960], 2015, 6)
pyeong_2015_humid_month7 = make_date(pyeong_2015_humid[24961:29549], 2015, 7)
pyeong_2015_humid_month8 = make_date(pyeong_2015_humid[29550:34138], 2015, 8)
pyeong_2015_humid_month9 = make_date(pyeong_2015_humid[34139:38579], 2015, 9)
pyeong_2015_humid_month10 = make_date(pyeong_2015_humid[38580:43168], 2015, 10)
pyeong_2015_humid_month11 = make_date(pyeong_2015_humid[43169:47609], 2015, 11)
pyeong_2015_humid_month12 = make_date(pyeong_2015_humid[47610:], 2015, 12)

df_list = [pyeong_2015_humid_month1, pyeong_2015_humid_month2, pyeong_2015_humid_month3, pyeong_2015_humid_month4, pyeong_2015_humid_month5,
           pyeong_2015_humid_month6, pyeong_2015_humid_month7, pyeong_2015_humid_month8, pyeong_2015_humid_month9, pyeong_2015_humid_month10,
           pyeong_2015_humid_month11, pyeong_2015_humid_month12]

pyeong_2015_humid_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_humid_new1_24 = pyeong_2015_humid_new.loc[(pyeong_2015_humid_new['hour'] == 1400) & ((pyeong_2015_humid_new['forecast']>=4.0) & (pyeong_2015_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2015_humid_new1_48 = pyeong_2015_humid_new.loc[(pyeong_2015_humid_new['hour'] == 1400) & ((pyeong_2015_humid_new['forecast']>=28.0) & (pyeong_2015_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2015_humid_new1_24.columns = ['date', 'humid_24']
pyeong_2015_humid_new1_48.columns = ['date', 'humid_48']

pyeong_2015_humid_new2 = pd.concat([pyeong_2015_humid_new1_24, pyeong_2015_humid_new1_48['humid_48']], axis=1)
pyeong_2015_humid_new2

#### 일최고기온

In [ ]:
pyeong_2015_maxtemp.loc[pyeong_2015_maxtemp['hour'].isna(),:]

In [ ]:
pyeong_2015_maxtemp.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_maxtemp.loc[pyeong_2015_maxtemp['hour']==2300,'forecast'].unique()

In [ ]:
pyeong_2015_maxtemp_month1 = make_date(pyeong_2015_maxtemp[:589], 2015, 1)
pyeong_2015_maxtemp_month2 = make_date(pyeong_2015_maxtemp[590:1122], 2015, 2)
pyeong_2015_maxtemp_month3 = make_date(pyeong_2015_maxtemp[1123:1712], 2015, 3)
pyeong_2015_maxtemp_month4 = make_date(pyeong_2015_maxtemp[1713:2283], 2015, 4)
pyeong_2015_maxtemp_month5 = make_date(pyeong_2015_maxtemp[2284:2680], 2015, 5)
pyeong_2015_maxtemp_month6 = make_date(pyeong_2015_maxtemp[2681:3251], 2015, 6)
pyeong_2015_maxtemp_month7 = make_date(pyeong_2015_maxtemp[3252:3841], 2015, 7)
pyeong_2015_maxtemp_month8 = make_date(pyeong_2015_maxtemp[3842:4431], 2015, 8)
pyeong_2015_maxtemp_month9 = make_date(pyeong_2015_maxtemp[4432:5002], 2015, 9)
pyeong_2015_maxtemp_month10 = make_date(pyeong_2015_maxtemp[5003:5592], 2015, 10)
pyeong_2015_maxtemp_month11 = make_date(pyeong_2015_maxtemp[5593:6163], 2015, 11)
pyeong_2015_maxtemp_month12 = make_date(pyeong_2015_maxtemp[6164:], 2015, 12)

df_list = [pyeong_2015_maxtemp_month1, pyeong_2015_maxtemp_month2, pyeong_2015_maxtemp_month3, pyeong_2015_maxtemp_month4, pyeong_2015_maxtemp_month5,
           pyeong_2015_maxtemp_month6, pyeong_2015_maxtemp_month7, pyeong_2015_maxtemp_month8, pyeong_2015_maxtemp_month9 ,pyeong_2015_maxtemp_month10,
           pyeong_2015_maxtemp_month11, pyeong_2015_maxtemp_month12]

pyeong_2015_maxtemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_maxtemp_new1 = pyeong_2015_maxtemp_new.loc[(pyeong_2015_maxtemp_new['hour'] == 2300) & ((pyeong_2015_maxtemp_new['forecast']==4.0) | (pyeong_2015_maxtemp_new['forecast']==7.0) | (pyeong_2015_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

pyeong_2015_maxtemp_new1.columns = ['date', 'max_temp_24']

pyeong_2015_maxtemp_new1

#### 일최저기온

In [ ]:
pyeong_2015_mintemp.loc[pyeong_2015_mintemp['hour'].isna(),:]

In [ ]:
pyeong_2015_mintemp.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_mintemp.loc[pyeong_2015_mintemp['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2015_mintemp_month1 = make_date(pyeong_2015_mintemp[:496], 2015, 1)
pyeong_2015_mintemp_month2 = make_date(pyeong_2015_mintemp[497:945], 2015, 2)
pyeong_2015_mintemp_month3 = make_date(pyeong_2015_mintemp[946:1442], 2015, 3)
pyeong_2015_mintemp_month4 = make_date(pyeong_2015_mintemp[1443:1923], 2015, 4)
pyeong_2015_mintemp_month5 = make_date(pyeong_2015_mintemp[1924:2258], 2015, 5)
pyeong_2015_mintemp_month6 = make_date(pyeong_2015_mintemp[2259:2739], 2015, 6)
pyeong_2015_mintemp_month7 = make_date(pyeong_2015_mintemp[2740:3236], 2015, 7)
pyeong_2015_mintemp_month8 = make_date(pyeong_2015_mintemp[3237:3733], 2015, 8)
pyeong_2015_mintemp_month9 = make_date(pyeong_2015_mintemp[3734:4214], 2015, 9)
pyeong_2015_mintemp_month10 = make_date(pyeong_2015_mintemp[4215:4711], 2015, 10)
pyeong_2015_mintemp_month11 = make_date(pyeong_2015_mintemp[4712:5192], 2015, 11)
pyeong_2015_mintemp_month12 = make_date(pyeong_2015_mintemp[5193:], 2015, 12)

df_list = [pyeong_2015_mintemp_month1, pyeong_2015_mintemp_month2, pyeong_2015_mintemp_month3, pyeong_2015_mintemp_month4, pyeong_2015_mintemp_month5,
           pyeong_2015_mintemp_month6, pyeong_2015_mintemp_month7, pyeong_2015_mintemp_month8, pyeong_2015_mintemp_month9 ,pyeong_2015_mintemp_month10,
           pyeong_2015_mintemp_month11, pyeong_2015_mintemp_month12]

pyeong_2015_mintemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_mintemp_new1 = pyeong_2015_mintemp_new.loc[(pyeong_2015_mintemp_new['hour'] == 1400) & ((pyeong_2015_mintemp_new['forecast']==4.0) | (pyeong_2015_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

pyeong_2015_mintemp_new1.columns = ['date', 'min_temp_24']

pyeong_2015_mintemp_new1

#### 풍속

In [ ]:
pyeong_2015_wind.loc[pyeong_2015_wind['hour'].isna(),:]

In [ ]:
pyeong_2015_wind.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2015_wind_month1 = make_date(pyeong_2015_wind[:4588], 2015, 1)
pyeong_2015_wind_month2 = make_date(pyeong_2015_wind[4589:8733], 2015, 2)
pyeong_2015_wind_month3 = make_date(pyeong_2015_wind[8734:13322], 2015, 3)
pyeong_2015_wind_month4 = make_date(pyeong_2015_wind[13323:17763], 2015, 4)
pyeong_2015_wind_month5 = make_date(pyeong_2015_wind[17764:20851], 2015, 5)
pyeong_2015_wind_month6 = make_date(pyeong_2015_wind[20852:25292], 2015, 6)
pyeong_2015_wind_month7 = make_date(pyeong_2015_wind[25293:29881], 2015, 7)
pyeong_2015_wind_month8 = make_date(pyeong_2015_wind[29882:34470], 2015, 8)
pyeong_2015_wind_month9 = make_date(pyeong_2015_wind[34471:38911], 2015, 9)
pyeong_2015_wind_month10 = make_date(pyeong_2015_wind[38912:43500], 2015, 10)
pyeong_2015_wind_month11 = make_date(pyeong_2015_wind[43501:47941], 2015, 11)
pyeong_2015_wind_month12 = make_date(pyeong_2015_wind[47942:], 2015, 12)

df_list = [pyeong_2015_wind_month1, pyeong_2015_wind_month2, pyeong_2015_wind_month3, pyeong_2015_wind_month4, pyeong_2015_wind_month5,
           pyeong_2015_wind_month6, pyeong_2015_wind_month7, pyeong_2015_wind_month8, pyeong_2015_wind_month9, pyeong_2015_wind_month10,
           pyeong_2015_wind_month11, pyeong_2015_wind_month12]

pyeong_2015_wind_new = pd.concat(df_list, ignore_index = True)

pyeong_2015_wind_new1_24 = pyeong_2015_wind_new.loc[(pyeong_2015_wind_new['hour'] == 1400) & ((pyeong_2015_wind_new['forecast']>=4.0) & (pyeong_2015_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2015_wind_new1_48 = pyeong_2015_wind_new.loc[(pyeong_2015_wind_new['hour'] == 1400) & ((pyeong_2015_wind_new['forecast']>=28.0) & (pyeong_2015_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2015_wind_new1_24.columns = ['date', 'wind_24']
pyeong_2015_wind_new1_48.columns = ['date', 'wind_48']

pyeong_2015_wind_new2 = pd.concat([pyeong_2015_wind_new1_24, pyeong_2015_wind_new1_48['wind_48']], axis=1)
pyeong_2015_wind_new2

#### 2015년 평동 데이터

In [ ]:
from functools import reduce
dfs = [pyeong_2015_rainfall_new1, pyeong_2015_snow_new1, pyeong_2015_temp3_new2, pyeong_2015_humid_new2,pyeong_2015_maxtemp_new1,
       pyeong_2015_mintemp_new1, pyeong_2015_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_평동_2015.csv', index=False)

### 2016년

In [ ]:
pyeong_2016_rainfall = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_6시간강수량_201601_201612.csv')
pyeong_2016_snow = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_6시간적설_201601_201612.csv')
pyeong_2016_temp3 = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_3시간기온_201601_201612.csv')
pyeong_2016_humid = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_습도_201601_201612.csv')
pyeong_2016_maxtemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_일최고기온_201601_201612.csv')
pyeong_2016_mintemp = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_일최저기온_201601_201612.csv')
pyeong_2016_wind = pd.read_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/예보데이터 원본/2016/경기/평동_풍속_201601_201612.csv')

#### 6시간강수량

In [ ]:
pyeong_2016_rainfall.loc[pyeong_2016_rainfall['hour'].isna(),:]

In [ ]:
pyeong_2016_rainfall.loc[pyeong_2016_rainfall['hour']=="hour",:]

In [ ]:
pyeong_2016_rainfall.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_rainfall2 = pyeong_2016_rainfall.iloc[:27827]

In [ ]:
pyeong_2016_rainfall2['hour'] = pd.to_numeric(pyeong_2016_rainfall2['hour'])
pyeong_2016_rainfall2['forecast'] =  pd.to_numeric(pyeong_2016_rainfall2['forecast'])
pyeong_2016_rainfall2['value'] =  pd.to_numeric(pyeong_2016_rainfall2['value'])

In [ ]:
pyeong_2016_rainfall2.loc[pyeong_2016_rainfall2['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2016_rainfall2.loc[pyeong_2016_rainfall2['hour'].isna(),:]

In [ ]:
pyeong_2016_rainfall_month1 = make_date(pyeong_2016_rainfall2[:2356], 2016, 1)
pyeong_2016_rainfall_month2 = make_date(pyeong_2016_rainfall2[2357:4561], 2016, 2)
pyeong_2016_rainfall_month3 = make_date(pyeong_2016_rainfall2[4562:6918], 2016, 3)
pyeong_2016_rainfall_month4 = make_date(pyeong_2016_rainfall2[6919:9199], 2016, 4)
pyeong_2016_rainfall_month5 = make_date(pyeong_2016_rainfall2[9200:11556], 2016, 5)
pyeong_2016_rainfall_month6 = make_date(pyeong_2016_rainfall2[11557:13837], 2016, 6)
pyeong_2016_rainfall_month7 = make_date(pyeong_2016_rainfall2[13838:16194], 2016, 7)
pyeong_2016_rainfall_month8 = make_date(pyeong_2016_rainfall2[16195:18551], 2016, 8)
pyeong_2016_rainfall_month9 = make_date(pyeong_2016_rainfall2[18552:20832], 2016, 9)
pyeong_2016_rainfall_month10 = make_date(pyeong_2016_rainfall2[20833:23189], 2016, 10)
pyeong_2016_rainfall_month11 = make_date(pyeong_2016_rainfall2[23190:25470], 2016, 11)
pyeong_2016_rainfall_month12 = make_date(pyeong_2016_rainfall2[25471:], 2016, 12)


df_list = [pyeong_2016_rainfall_month1, pyeong_2016_rainfall_month2, pyeong_2016_rainfall_month3, pyeong_2016_rainfall_month4, pyeong_2016_rainfall_month5,
           pyeong_2016_rainfall_month6, pyeong_2016_rainfall_month7, pyeong_2016_rainfall_month8, pyeong_2016_rainfall_month9,pyeong_2016_rainfall_month10,
           pyeong_2016_rainfall_month11, pyeong_2016_rainfall_month12]

pyeong_2016_rainfall_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_rainfall_new1 = pyeong_2016_rainfall_new.loc[(pyeong_2016_rainfall_new['hour'] == 1400) & ((pyeong_2016_rainfall_new['forecast']>=7.0) & (pyeong_2016_rainfall_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2016_rainfall_new1.columns = ['date', 'rainfall_24']
pyeong_2016_rainfall_new1

#### 6시간적설

In [ ]:
pyeong_2016_snow.loc[pyeong_2016_snow['hour'].isna(),:]

In [ ]:
pyeong_2016_snow.loc[pyeong_2016_snow['hour']=="hour",:]

In [ ]:
pyeong_2016_snow.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_snow2 = pyeong_2016_snow.iloc[:27827]

In [ ]:
pyeong_2016_snow2['hour'] = pd.to_numeric(pyeong_2016_snow2['hour'])
pyeong_2016_snow2['forecast'] =  pd.to_numeric(pyeong_2016_snow2['forecast'])
pyeong_2016_snow2['value'] =  pd.to_numeric(pyeong_2016_snow2['value'])

In [ ]:
pyeong_2016_snow2.loc[pyeong_2016_snow2['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2016_snow2.loc[pyeong_2016_snow2['hour'].isna(),:]

In [ ]:
pyeong_2016_snow_month1 = make_date(pyeong_2016_snow2[:2356], 2016, 1)
pyeong_2016_snow_month2 = make_date(pyeong_2016_snow2[2357:4561], 2016, 2)
pyeong_2016_snow_month3 = make_date(pyeong_2016_snow2[4562:6918], 2016, 3)
pyeong_2016_snow_month4 = make_date(pyeong_2016_snow2[6919:9199], 2016, 4)
pyeong_2016_snow_month5 = make_date(pyeong_2016_snow2[9200:11556], 2016, 5)
pyeong_2016_snow_month6 = make_date(pyeong_2016_snow2[11557:13837], 2016, 6)
pyeong_2016_snow_month7 = make_date(pyeong_2016_snow2[13838:16194], 2016, 7)
pyeong_2016_snow_month8 = make_date(pyeong_2016_snow2[16195:18551], 2016, 8)
pyeong_2016_snow_month9 = make_date(pyeong_2016_snow2[18552:20832], 2016, 9)
pyeong_2016_snow_month10 = make_date(pyeong_2016_snow2[20833:23189], 2016, 10)
pyeong_2016_snow_month11 = make_date(pyeong_2016_snow2[23190:25470], 2016, 11)
pyeong_2016_snow_month12 = make_date(pyeong_2016_snow2[25471:], 2016, 12)


df_list = [pyeong_2016_snow_month1, pyeong_2016_snow_month2, pyeong_2016_snow_month3, pyeong_2016_snow_month4, pyeong_2016_snow_month5,
           pyeong_2016_snow_month6, pyeong_2016_snow_month7, pyeong_2016_snow_month8, pyeong_2016_snow_month9, pyeong_2016_snow_month10, 
           pyeong_2016_snow_month11, pyeong_2016_snow_month12]

pyeong_2016_snow_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_snow_new1 = pyeong_2016_snow_new.loc[(pyeong_2016_snow_new['hour'] == 1400) & ((pyeong_2016_snow_new['forecast']>=7.0) & (pyeong_2016_snow_new['forecast']<=25.0)), :].groupby('date', as_index = False).sum()[['date', 'value']]

pyeong_2016_snow_new1.columns = ['date', 'snow_24']
pyeong_2016_snow_new1

#### 3시간기온

In [ ]:
pyeong_2016_temp3.loc[pyeong_2016_temp3['hour'].isna(),:]

In [ ]:
pyeong_2016_temp3.loc[pyeong_2016_temp3['hour']=="hour",:]

In [ ]:
pyeong_2016_temp32 = pyeong_2016_temp3.iloc[:54179]

In [ ]:
pyeong_2016_temp32.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_temp32['hour'] = pd.to_numeric(pyeong_2016_temp32['hour'])
pyeong_2016_temp32['forecast'] =  pd.to_numeric(pyeong_2016_temp32['forecast'])
pyeong_2016_temp32['value'] =  pd.to_numeric(pyeong_2016_temp32['value'])

In [ ]:
pyeong_2016_temp32.loc[pyeong_2016_temp32['hour'].isna(),:]

In [ ]:
pyeong_2016_temp3_month1 = make_date(pyeong_2016_temp32[:4588], 2016, 1)
pyeong_2016_temp3_month2 = make_date(pyeong_2016_temp32[4589:8881], 2016, 2)
pyeong_2016_temp3_month3 = make_date(pyeong_2016_temp32[8882:13470], 2016, 3)
pyeong_2016_temp3_month4 = make_date(pyeong_2016_temp32[13471:17911], 2016, 4)
pyeong_2016_temp3_month5 = make_date(pyeong_2016_temp32[17912:22500], 2016, 5)
pyeong_2016_temp3_month6 = make_date(pyeong_2016_temp32[22501:26941], 2016, 6)
pyeong_2016_temp3_month7 = make_date(pyeong_2016_temp32[26942:31530], 2016, 7)
pyeong_2016_temp3_month8 = make_date(pyeong_2016_temp32[31531:36119], 2016, 8)
pyeong_2016_temp3_month9 = make_date(pyeong_2016_temp32[36120:40560], 2016, 9)
pyeong_2016_temp3_month10 = make_date(pyeong_2016_temp32[40561:45149], 2016, 10)
pyeong_2016_temp3_month11 = make_date(pyeong_2016_temp32[45150:49590], 2016, 11)
pyeong_2016_temp3_month12 = make_date(pyeong_2016_temp32[49591:],2016, 12)


df_list = [pyeong_2016_temp3_month1, pyeong_2016_temp3_month2, pyeong_2016_temp3_month3, pyeong_2016_temp3_month4,pyeong_2016_temp3_month5,
           pyeong_2016_temp3_month6, pyeong_2016_temp3_month7, pyeong_2016_temp3_month8, pyeong_2016_temp3_month9,pyeong_2016_temp3_month10,
           pyeong_2016_temp3_month11, pyeong_2016_temp3_month12]

pyeong_2016_temp3_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_temp3_new1_24 = pyeong_2016_temp3_new.loc[(pyeong_2016_temp3_new['hour'] == 1400) & ((pyeong_2016_temp3_new['forecast']>=4.0) & (pyeong_2016_temp3_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2016_temp3_new1_48 = pyeong_2016_temp3_new.loc[(pyeong_2016_temp3_new['hour'] == 1400) & ((pyeong_2016_temp3_new['forecast']>=28.0) & (pyeong_2016_temp3_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2016_temp3_new1_24.columns = ['date', 'temp_24']
pyeong_2016_temp3_new1_48.columns = ['date', 'temp_48']

pyeong_2016_temp3_new2 = pd.concat([pyeong_2016_temp3_new1_24, pyeong_2016_temp3_new1_48['temp_48']], axis=1)
pyeong_2016_temp3_new2

#### 습도

In [ ]:
pyeong_2016_humid.loc[pyeong_2016_humid['hour'].isna(),:]

In [ ]:
pyeong_2016_humid.loc[pyeong_2016_humid['hour']=="hour",:]

In [ ]:
pyeong_2016_humid2 = pyeong_2016_humid.iloc[:54179]

In [ ]:
pyeong_2016_humid2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_humid2['hour'] = pd.to_numeric(pyeong_2016_humid2['hour'])
pyeong_2016_humid2['forecast'] =  pd.to_numeric(pyeong_2016_humid2['forecast'])
pyeong_2016_humid2['value'] =  pd.to_numeric(pyeong_2016_humid2['value'])

In [ ]:
pyeong_2016_humid2.loc[pyeong_2016_humid2['hour'].isna(),:]

In [ ]:
pyeong_2016_humid_month1 = make_date(pyeong_2016_humid2[:4588], 2016, 1)
pyeong_2016_humid_month2 = make_date(pyeong_2016_humid2[4589:8881], 2016, 2)
pyeong_2016_humid_month3 = make_date(pyeong_2016_humid2[8882:13470], 2016, 3)
pyeong_2016_humid_month4 = make_date(pyeong_2016_humid2[13471:17911], 2016, 4)
pyeong_2016_humid_month5 = make_date(pyeong_2016_humid2[17912:22500], 2016, 5)
pyeong_2016_humid_month6 = make_date(pyeong_2016_humid2[22501:26941], 2016, 6)
pyeong_2016_humid_month7 = make_date(pyeong_2016_humid2[26942:31530], 2016, 7)
pyeong_2016_humid_month8 = make_date(pyeong_2016_humid2[31531:36119], 2016, 8)
pyeong_2016_humid_month9 = make_date(pyeong_2016_humid2[36120:40560], 2016, 9)
pyeong_2016_humid_month10 = make_date(pyeong_2016_humid2[40561:45149], 2016, 10)
pyeong_2016_humid_month11 = make_date(pyeong_2016_humid2[45150:49590], 2016, 11)
pyeong_2016_humid_month12 = make_date(pyeong_2016_humid2[49591:],2016, 12)

df_list = [pyeong_2016_humid_month1, pyeong_2016_humid_month2, pyeong_2016_humid_month3, pyeong_2016_humid_month4, pyeong_2016_humid_month5,
           pyeong_2016_humid_month6, pyeong_2016_humid_month7, pyeong_2016_humid_month8, pyeong_2016_humid_month9, pyeong_2016_humid_month10,
           pyeong_2016_humid_month11, pyeong_2016_humid_month12]

pyeong_2016_humid_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_humid_new1_24 = pyeong_2016_humid_new.loc[(pyeong_2016_humid_new['hour'] == 1400) & ((pyeong_2016_humid_new['forecast']>=4.0) & (pyeong_2016_humid_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2016_humid_new1_48 = pyeong_2016_humid_new.loc[(pyeong_2016_humid_new['hour'] == 1400) & ((pyeong_2016_humid_new['forecast']>=28.0) & (pyeong_2016_humid_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2016_humid_new1_24.columns = ['date', 'humid_24']
pyeong_2016_humid_new1_48.columns = ['date', 'humid_48']

pyeong_2016_humid_new2 = pd.concat([pyeong_2016_humid_new1_24, pyeong_2016_humid_new1_48['humid_48']], axis=1)
pyeong_2016_humid_new2

#### 일최고기온

In [ ]:
pyeong_2016_maxtemp.loc[pyeong_2016_maxtemp['hour'].isna(),:]

In [ ]:
pyeong_2016_maxtemp.loc[pyeong_2016_maxtemp['hour']=="hour",:]

In [ ]:
pyeong_2016_maxtemp2 = pyeong_2016_maxtemp.iloc[:6965,:]

In [ ]:
pyeong_2016_maxtemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_maxtemp2['hour'] = pd.to_numeric(pyeong_2016_maxtemp2['hour'])
pyeong_2016_maxtemp2['forecast'] =  pd.to_numeric(pyeong_2016_maxtemp2['forecast'])
pyeong_2016_maxtemp2['value'] =  pd.to_numeric(pyeong_2016_maxtemp2['value'])

In [ ]:
pyeong_2016_maxtemp2.loc[pyeong_2016_maxtemp2['hour'].isna(),:]

In [ ]:
pyeong_2016_maxtemp2.loc[pyeong_2016_maxtemp2['hour']==2300,'forecast'].unique()

In [ ]:
pyeong_2016_maxtemp_month1 = make_date(pyeong_2016_maxtemp2[:589], 2016, 1)
pyeong_2016_maxtemp_month2 = make_date(pyeong_2016_maxtemp2[590:1141], 2016, 2)
pyeong_2016_maxtemp_month3 = make_date(pyeong_2016_maxtemp2[1142:1731], 2016, 3)
pyeong_2016_maxtemp_month4 = make_date(pyeong_2016_maxtemp2[1732:2302], 2016, 4)
pyeong_2016_maxtemp_month5 = make_date(pyeong_2016_maxtemp2[2303:2892], 2016, 5)
pyeong_2016_maxtemp_month6 = make_date(pyeong_2016_maxtemp2[2893:3463], 2016, 6)
pyeong_2016_maxtemp_month7 = make_date(pyeong_2016_maxtemp2[3464:4053], 2016, 7)
pyeong_2016_maxtemp_month8 = make_date(pyeong_2016_maxtemp2[4054:4643], 2016, 8)
pyeong_2016_maxtemp_month9 = make_date(pyeong_2016_maxtemp2[4644:5214], 2016, 9)
pyeong_2016_maxtemp_month10 = make_date(pyeong_2016_maxtemp2[5215:5804], 2016, 10)
pyeong_2016_maxtemp_month11 = make_date(pyeong_2016_maxtemp2[5805:6375], 2016, 11)
pyeong_2016_maxtemp_month12 = make_date(pyeong_2016_maxtemp2[6376:], 2016, 12)

df_list = [pyeong_2016_maxtemp_month1, pyeong_2016_maxtemp_month2, pyeong_2016_maxtemp_month3, pyeong_2016_maxtemp_month4, pyeong_2016_maxtemp_month5,
           pyeong_2016_maxtemp_month6, pyeong_2016_maxtemp_month7, pyeong_2016_maxtemp_month8, pyeong_2016_maxtemp_month9 ,pyeong_2016_maxtemp_month10,
           pyeong_2016_maxtemp_month11, pyeong_2016_maxtemp_month12]

pyeong_2016_maxtemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_maxtemp_new1 = pyeong_2016_maxtemp_new.loc[(pyeong_2016_maxtemp_new['hour'] == 2300) & ((pyeong_2016_maxtemp_new['forecast']==4.0) | (pyeong_2016_maxtemp_new['forecast']==7.0) | (pyeong_2016_maxtemp_new['forecast']==10.0)), :].groupby('date', as_index = False).max()[['date', 'value']]

pyeong_2016_maxtemp_new1.columns = ['date', 'max_temp_24']

pyeong_2016_maxtemp_new1

#### 일최저기온

In [ ]:
pyeong_2016_mintemp.loc[pyeong_2016_mintemp['hour'].isna(),:]

In [ ]:
pyeong_2016_mintemp.loc[pyeong_2016_mintemp['hour']=="hour",:]

In [ ]:
pyeong_2016_mintemp2 = pyeong_2016_mintemp.iloc[:5867,:]

In [ ]:
pyeong_2016_mintemp2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_mintemp2['hour'] = pd.to_numeric(pyeong_2016_mintemp2['hour'])
pyeong_2016_mintemp2['forecast'] =  pd.to_numeric(pyeong_2016_mintemp2['forecast'])
pyeong_2016_mintemp2['value'] =  pd.to_numeric(pyeong_2016_mintemp2['value'])

In [ ]:
pyeong_2016_mintemp2.loc[pyeong_2016_mintemp2['hour'].isna(),:]

In [ ]:
pyeong_2016_mintemp2.loc[pyeong_2016_mintemp2['hour']==1400,'forecast'].unique()

In [ ]:
pyeong_2016_mintemp_month1 = make_date(pyeong_2016_mintemp2[:496], 2016, 1)
pyeong_2016_mintemp_month2 = make_date(pyeong_2016_mintemp2[497:961], 2016, 2)
pyeong_2016_mintemp_month3 = make_date(pyeong_2016_mintemp2[962:1458], 2016, 3)
pyeong_2016_mintemp_month4 = make_date(pyeong_2016_mintemp2[1459:1939], 2016, 4)
pyeong_2016_mintemp_month5 = make_date(pyeong_2016_mintemp2[1940:2436], 2016, 5)
pyeong_2016_mintemp_month6 = make_date(pyeong_2016_mintemp2[2437:2917], 2016, 6)
pyeong_2016_mintemp_month7 = make_date(pyeong_2016_mintemp2[2918:3414], 2016, 7)
pyeong_2016_mintemp_month8 = make_date(pyeong_2016_mintemp2[3415:3911], 2016, 8)
pyeong_2016_mintemp_month9 = make_date(pyeong_2016_mintemp2[3912:4392], 2016, 9)
pyeong_2016_mintemp_month10 = make_date(pyeong_2016_mintemp2[4393:4889], 2016, 10)
pyeong_2016_mintemp_month11 = make_date(pyeong_2016_mintemp2[4890:5370], 2016, 11)
pyeong_2016_mintemp_month12 = make_date(pyeong_2016_mintemp2[5371:], 2016, 12)

df_list = [pyeong_2016_mintemp_month1, pyeong_2016_mintemp_month2, pyeong_2016_mintemp_month3, pyeong_2016_mintemp_month4, pyeong_2016_mintemp_month5,
           pyeong_2016_mintemp_month6, pyeong_2016_mintemp_month7, pyeong_2016_mintemp_month8, pyeong_2016_mintemp_month9 ,pyeong_2016_mintemp_month10,
           pyeong_2016_mintemp_month11, pyeong_2016_mintemp_month12]

pyeong_2016_mintemp_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_mintemp_new1 = pyeong_2016_mintemp_new.loc[(pyeong_2016_mintemp_new['hour'] == 1400) & ((pyeong_2016_mintemp_new['forecast']==4.0) | (pyeong_2016_mintemp_new['forecast']==7.0)), :].groupby('date', as_index = False).min()[['date', 'value']]

pyeong_2016_mintemp_new1.columns = ['date', 'min_temp_24']

pyeong_2016_mintemp_new1

#### 풍속

In [ ]:
pyeong_2016_wind.loc[pyeong_2016_wind['hour'].isna(),:]

In [ ]:
pyeong_2016_wind.loc[pyeong_2016_wind['hour']=="hour",:]

In [ ]:
pyeong_2016_wind2 = pyeong_2016_wind.iloc[:54179]

In [ ]:
pyeong_2016_wind2.columns = ['day', 'hour','forecast','value']

In [ ]:
pyeong_2016_wind2['hour'] = pd.to_numeric(pyeong_2016_wind2['hour'])
pyeong_2016_wind2['forecast'] =  pd.to_numeric(pyeong_2016_wind2['forecast'])
pyeong_2016_wind2['value'] =  pd.to_numeric(pyeong_2016_wind2['value'])

In [ ]:
pyeong_2016_wind2.loc[pyeong_2016_wind2['hour'].isna(),:]

In [ ]:
pyeong_2016_wind_month1 = make_date(pyeong_2016_wind2[:4588], 2016, 1)
pyeong_2016_wind_month2 = make_date(pyeong_2016_wind2[4589:8881], 2016, 2)
pyeong_2016_wind_month3 = make_date(pyeong_2016_wind2[8882:13470], 2016, 3)
pyeong_2016_wind_month4 = make_date(pyeong_2016_wind2[13471:17911], 2016, 4)
pyeong_2016_wind_month5 = make_date(pyeong_2016_wind2[17912:22500], 2016, 5)
pyeong_2016_wind_month6 = make_date(pyeong_2016_wind2[22501:26941], 2016, 6)
pyeong_2016_wind_month7 = make_date(pyeong_2016_wind2[26942:31530], 2016, 7)
pyeong_2016_wind_month8 = make_date(pyeong_2016_wind2[31531:36119], 2016, 8)
pyeong_2016_wind_month9 = make_date(pyeong_2016_wind2[36120:40560], 2016, 9)
pyeong_2016_wind_month10 = make_date(pyeong_2016_wind2[40561:45149], 2016, 10)
pyeong_2016_wind_month11 = make_date(pyeong_2016_wind2[45150:49590], 2016, 11)
pyeong_2016_wind_month12 = make_date(pyeong_2016_wind2[49591:], 2016, 12)

df_list = [pyeong_2016_wind_month1, pyeong_2016_wind_month2, pyeong_2016_wind_month3, pyeong_2016_wind_month4, pyeong_2016_wind_month5,
           pyeong_2016_wind_month6, pyeong_2016_wind_month7, pyeong_2016_wind_month8, pyeong_2016_wind_month9, pyeong_2016_wind_month10,
           pyeong_2016_wind_month11, pyeong_2016_wind_month12]

pyeong_2016_wind_new = pd.concat(df_list, ignore_index = True)

pyeong_2016_wind_new1_24 = pyeong_2016_wind_new.loc[(pyeong_2016_wind_new['hour'] == 1400) & ((pyeong_2016_wind_new['forecast']>=4.0) & (pyeong_2016_wind_new['forecast']<=25.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]
pyeong_2016_wind_new1_48 = pyeong_2016_wind_new.loc[(pyeong_2016_wind_new['hour'] == 1400) & ((pyeong_2016_wind_new['forecast']>=28.0) & (pyeong_2016_wind_new['forecast']<=49.0)), :].groupby('date', as_index = False).mean()[['date', 'value']]

pyeong_2016_wind_new1_24.columns = ['date', 'wind_24']
pyeong_2016_wind_new1_48.columns = ['date', 'wind_48']

pyeong_2016_wind_new2 = pd.concat([pyeong_2016_wind_new1_24, pyeong_2016_wind_new1_48['wind_48']], axis=1)
pyeong_2016_wind_new2

#### 2016년 평동 데이터

In [ ]:
from functools import reduce
dfs = [pyeong_2016_rainfall_new1, pyeong_2016_snow_new1, pyeong_2016_temp3_new2, pyeong_2016_humid_new2,pyeong_2016_maxtemp_new1,
       pyeong_2016_mintemp_new1, pyeong_2016_wind_new2]
df_merge = reduce(lambda left, right: pd.merge(left, right, how='outer', on='date'), dfs)

In [ ]:
sdf=df_merge.sort_values(by=['date'])
sdf

In [ ]:
sdf.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/예보데이터/경기/경기_평동_2016.csv', index=False)